/* UI for Content Author section starts here */
.page-administration-contentauthor-video #contentauthor-addedit-form-container {
/*   border-left:1px solid #ccc;
  border-right:1px solid #ccc; */
 /*  padding:0; */
  padding: 0px 0px 0px;
  width:800px;
  float:left
/*  min-height:300px
  overflow:auto
   height:515px */
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails{
	 width:auto;
	  margin-left: -6px;
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails ~ .addedit-form-cancel-and-save-actions-row {
  padding:0 20px;
  width:auto;
  position:relative;
  margin-top:6px
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails {
  overflow:hidden
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails ~ .addedit-form-cancel-and-save-actions-row {
  /* padding:10px 20px 7px; */
   padding: 4px 50px 13px;
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails .addedit-long-description-container-padding {
  padding-top:0
}
.page-administration-contentauthor-video #contentauthor-addedit-form-container #iframe_editor_wrapper {
  height:auto;
/*   min-height:464px */
}
/*
.page-administration-contentauthor-video #contentauthor-addedit-form .addedit-form-main-container .round-corner-left {
  border-top-left-radius: 0
}*/
.page-administration-contentauthor-video #contentauthor-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-contentauthor-video #contentauthor-addedit-form .clonedctions .edit-catalog-course-save-publish 
{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  line-height:15px;
  margin-top:1px
}
#contentauthor-addedit-form-container iframe .h5peditor-form {
  border:0;
  margin:0
}
#contentauthor-addedit-form-container iframe #edit-h5p-editor.form-item {
  margin:0
}
#contentauthor-addedit-form-container iframe body.html {
  background:none
}
#contentauthor-addedit-form-container iframe {
  border:none
}
iframe #edit-h5p-editor {
  margin-top:0		
}
.h5p-dialog-wrapper {
  
}
.h5p-dialog-wrapper .h5p-dialog-inner .h5peditor-label {
  color:red;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  font-weight:normal;
  text-align:left
}
.h5p-interactivevideo-editor .h5p-dialog-buttons {
  right:100px
}
/*CSS for Share popup starts here -- Abhishek */
#catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container.enroll-user-view-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"]  tr td:nth-child(2) {
position: relative;
left: 56px 
}
@-moz-document url-prefix() {
#catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container.enroll-user-view-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"]  tr td:nth-child(2) {
position: relative;
left: 40px 
}
}
#catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container.enroll-user-edit-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(2){
position: relative;
left: 5px 
}
@-moz-document url-prefix() {
#catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container.enroll-user-edit-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(2){
position: relative;
left: -2px 
}
}
#page-container #narrow-search-results-holder .enroll-user-view-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv  table[id^="datagrid-container-shareuser"] tr.ui-row-ltr > td:nth-child(3) {
  position:relative;
  left:12px;
  padding-left: 32px;
}
@-moz-document url-prefix() {
#page-container #narrow-search-results-holder .enroll-user-view-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv  table[id^="datagrid-container-shareuser"] tr.ui-row-ltr > td:nth-child(3) {
  position:relative;
  left:12px;
  padding-left: 18px;
}
}
#page-container #narrow-search-results-holder .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv  table[id^="datagrid-container-shareuser"] tr.ui-row-ltr > td:nth-child(3) {
  position:relative;
  left:2px
}
@-moz-document url-prefix() {
  #page-container #narrow-search-results-holder .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv  table[id^="datagrid-container-shareuser"] tr.ui-row-ltr > td:nth-child(3) {
  position:relative;
  left:-26px
}
}
#page-container  #narrow-search-results-holder .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv   .ui-jqgrid-btable tr.ui-row-ltr > td:nth-child(4) {
  position:relative; 
  left:-5px 
}
@-moz-document url-prefix() {
#page-container  #narrow-search-results-holder .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv   .ui-jqgrid-btable tr.ui-row-ltr > td:nth-child(4) {
  position:relative; 
  left:23px 
}
}
.enrolled-display-controller  div[id^="shareuser-grid-wrapper-shareuser"] .attachment-seperate-display-td-cls,
.enrolled-display-controller  div[id^="shareuser-grid-wrapper-shareuser"] .clsEnrollUpload {
  display:none	
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container .enrollment-upload-container {
  width:100% 
}
.page-administration-contentauthor .enrolled-display-controller div[id^="shareuser-grid-wrapper-shareuser"] .clsEnrollUser .add-button-courseclass-tp #edit-add-enrolluser {
  margin:0 auto
}
.enrolled-display-controller div[id^="shareuser-grid-wrapper-shareuser"] .enroll-edit-save-cancel-btn .addedit-edit-save-button {
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  color:#FFF;
  text-align:center;
  text-transform:uppercase;
  line-height:16px;
  background:#27245E;
  margin:0;
  border:1px solid #27245E;
  border-radius:6px;
  padding:3px 6px 2px;
  float:left;
  cursor:pointer;
  margin-top:1px;
  margin-left:6px
}
.page-administration-contentauthor .enrolled-display-controller div[id^="gbox_datagrid-container-shareuser"],
.page-administration-contentauthor .enrolled-display-controller div[id^="gview_datagrid-container-shareuser"],
.page-administration-contentauthor .enrolled-display-controller .ui-jqgrid-hdiv,
.page-administration-contentauthor .enrolled-display-controller .ui-jqgrid-hdiv table.ui-jqgrid-htable,
.page-administration-contentauthor .enrolled-display-controller .ui-jqgrid-bdiv,
.page-administration-contentauthor .enrolled-display-controller .ui-jqgrid-bdiv table.ui-jqgrid-btable {
  max-width:585px
}
#contentauthor-addedit-form-container .h5p-interactivevideo-editor .h5p-interactive-video {
  position:relative
}
.h5p-video-wrapper {
  margin-top:20px
}
/*CSS for Share popup ends here -- Abhishek */
/* UI for Content Author section ends here */

#exp-sp-administration-contentauthor-presentation-addedit-form .addedit-new-field-title{
  width:110px;
  margin-bottom: 5px;
}
.edit-catalog-course-save-publish {
  background:#27245e;
  border:1px solid #27245e;
  float:left;
  text-align:center;
  line-height:15px;
  color:#fff;
  font-family:ProximaNovaBold, Arial;
  text-transform:uppercase;
  font-size:11px;
  margin:1px 0 0 0;
  border-radius:6px 0 0 6px;
  padding:3px 6px 2px
}
#contentauthor-presentation-addedit-form .addedit-form-cancel-and-save-actions-row {
  width:99%;
  margin-top:0;
  margin-bottom:10px
}
#contentauthor-presentation-addedit-form .addedit-form-cancel-and-save-actions-row .admin-save-pub-unpub-button-container {
  margin-left:8px
}
 #contentauthor-presentation-addedit-form .crs-tab-titles-container {
  display:none
} 
/* #contentauthor-presentation-addedit-form .crs-tab-titles-container.Content-tab-titles-container {
  display:none
} */
#contentauthor-presentation-addedit-form .presentation_save {
  background:#27245e;
  border:1px solid #27245e;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  line-height:16px;
  margin-left:10px;
  margin-top:1px;
  padding:2px 6px;
  text-align:center
}
.disable-share-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -162px -749px;
  display:inline-block;
  height:24px;
  margin-top:4px;
  vertical-align:top;
  width:17px;
  opacity:0.4;
  filter:alpha(opacity=40)
}
.contentauthor_view_label {
  width:100px
}
#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry {
  width:100%;
  padding-bottom:0
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field-two-col {
  padding-bottom:8px;
   width:80% ;
 /*  width:100% */
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field-two-col .addedit-twocol-firstcol {
  width:383px
}
/*Adding for adjusting the OR icon*/
#contentauthor-addedit-form #h5pdetails .addedit-new-field-two-col .addedit-twocol-secondcol {
  width:235px;
  float:left;
  margin-left:4px;
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field-two-col#two-col-row-url_uploadvideo .addedit-twocol-secondcol {
  width:193px;
 /*  float:right */
}

#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry.addedit-new-field-two-col .addedit-twocol-firstcol {
  width:365px
}
#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry.addedit-new-field-two-col .addedit-twocol-secondcol {
  width:235px
}
#contentauthor-addedit-form-container #h5pdetails .addedit-new-field-two-col .addedit-new-field-value {
  position:relative;
  width:165px
}
#contentauthor-addedit-form-container #h5pdetails .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-new-field-value {
  width:135px
}
#contentauthor-addedit-form #h5pdetails .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left;
  width:55px
}
/*Adding for OR ICON adjusting*/
#contentauthor-addedit-form #h5pdetails #two-col-row-url_uploadvideo .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left;
 /* width:35px */
 width: 30px;
}

#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry .addedit-twocol-secondcol .addedit-new-field-title {
  width:60px
}
#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry .addedit-twocol-secondcol .addedit-secondcol-field-value {
  float:right;
  margin-right:2px
}
#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry .addedit-secondcol-field-value #edit-retry .form-item-retry ~ .form-item-retry,
#contentauthor-addedit-form #h5pdetails #two-col-row-showsol_retry .addedit-secondcol-field-value #edit-retry .form-item-retry ~ .form-item-retry label {
  margin-right:0
}
#edit-passingscore {
  width:30px;
}
div.ctools-modal-content #two-col-row-showsol_retry .form-radios.addedit-edit-show_solution,
div.ctools-modal-content #two-col-row-showsol_retry .form-radios.addedit-edit-retry {
  padding-top:3px
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.form-item-show-solution, 
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.form-item-retry {
  margin-right:10px;
  padding-right:0;
  margin-top:2px
}
.close_btn {
  background:#fff;
  color:#27245e;
  border:1px solid #27245e
}
.addedit-long-description-container-padding {
  padding-top:45px
}
body.cke_editable {
  margin:5px
}
body.cke_editable p {
  margin:5px 0 10px
}
#contentauthor-addedit-form-container #edit-url {
  width:280px
}
/* #two-col-row-url_uploadvideo .addedit-twocol-secondcol {
  width:200px;
} */
#contentauthor-addedit-form-container .addedit-new-field-title {
  width:91px;
  padding:6px 5px 2px 0;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  color:#474747
}
/*
.contentauthor_or_image {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -120px -1720px; 
  display:inline-block;
  height:24px;
  margin-top:4px;
  vertical-align:top;
  width:17px;
  opacity:1.4;
  filter:alpha(opacity=40)
}
*/
.addnewtitle_field_show_retry {
  font-family: ProximaNovaBold, Arial;
  font-size: 12px;
  color: #474747;
  margin-top:1px;
  float:left  
}
#contentauthor-addedit-form .contentauthor-addedit-form-container .form-item-files-video #edit-video[type="file"] {
  color:#666;
  font-size:12px
}
#contentauthor-addedit-form .contentauthor-addedit-form-container .form-item-files-video.uploadiconbgshowFaded #edit-video[type="file"] {
  cursor:default
}
#contentauthor-addedit-form-disp .pre-passing-retry-soln .addedit-new-field-title {
 /*  padding-left:17px;430px
  width:86px; */
}
#contentauthor-addedit-form-container #h5pdetails .info-enr-upload,
#exp-sp-administration-contentauthor-presentation-addedit-form .pre-passing-retry-soln .info-enr-upload{
  margin-left:5px
}
#two-col-row-url_uploadvideo .oldTempRecord.uploadiconbghide #tmpdata,
#two-col-row-url_uploadvideo .newTempRecord.uploadiconbghide #tmpdata {
  margin-top:3px;
  padding-top:0  
}

#contentauthor-addedit-form .contentauthor-addedit-form-container #two-col-row-url_uploadvideo .uploadiconbghide #tmpdata a {
  background-position:-363px -184px;
  display:inline-table;
  margin-top:1px
}
/*0083728 : adding fade out when disabled*/
#contentauthor-addedit-form .contentauthor-addedit-form-container #two-col-row-url_uploadvideo .uploadiconbghide #tmpdata a.disable-delete-link {
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -415px -219px;
    height: 20px;
    width: 20px;
    cursor: auto;
}

#contentauthor-addedit-form .fade-out-title-container.video-file-title-fadeout-container,
#contentauthor-addedit-form .fade-out-title-container.poster-image-title-fadeout-container {
  max-width:117px;
  display:block;
  float:left;
  margin-top:1px;
  line-height:14px
}
 #contentauthor-addedit-form .fade-out-title-container.video-file-title-fadeout-container{
	    max-width: 245px;
} 
.newTempRecord.uploadiconbghide #tmpdata,
#two-col-row-url_uploadvideo .oldTempRecord.uploadiconbghide #tmpdata{
	width:285px;
}
#contentauthor-addedit-form .uploadiconbghide #tmpdata .fade-out-title-container.video-file-title-fadeout-container {
  margin-top:1px
}
#contentauthor-addedit-form .fade-out-title-container.poster-image-title-fadeout-container {
  max-width:120px
}
#contentauthor-addedit-form #exp-sp-administration-contentauthor-addedit-form[action="/?q=administration/contentauthor/video/ajax/addedit/upload"] #h5pdetails .form-type-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/btn_fileUpload.png") no-repeat 0 0; 
  height:23px;
  z-index:1;
  margin-top:4px
}
/*Adding for new Browse button*/
#contentauthor-addedit-form #exp-sp-administration-contentauthor-addedit-form #h5pdetails .form-type-file.uploadiconbgshow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/browse_btn.png") no-repeat 0 0;
  height:23px;
  margin-top:4px  
}
#contentauthor-addedit-form #exp-sp-administration-contentauthor-addedit-form #h5pdetails .form-type-file.uploadiconbgshowFaded {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/browse_btn_disabled.png") no-repeat 0 0;
  height:23px;
  margin-top:4px
}
.orIcon{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/or_icon.png") no-repeat 0 0;
  display:inline-block;
  margin-top:3px;
  margin-left:12px;
  vertical-align:top;
  width:22px;
  height:20px; 
  opacity:1.4;
  filter:alpha(opacity=40);
}
.orIcon.orText {
  background-image:none;
  background-color:#3e7fca;
  color:#fff;
  border-radius:10px;
  text-align:center;
  font-size:9px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  vertical-align:middle;  
  line-height:20px;
  margin-left:2px;
  margin-top:-1px
}
#contentauthor-addedit-form #exp-sp-administration-contentauthor-addedit-form #h5pdetails .form-type-file.uploadiconbghide {
  background:none;
  margin-top:0;

}
#contentauthor-addedit-form-container #h5pdetails .form-type-file input[type="file"] {
  background:#fff;
  border:1px solid #aaa;
  height:20px;
  opacity:0;
  position:relative;
  z-index:20;
  float:left;
  cursor:pointer
}
.contentauthor-addedit-form-container #two-col-row-uploadvideo_posterimage .form-item-files-poster-image.uploadiconbgshow #edit-poster-image {
  width:60px
}
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelfileuploadhelp{
  margin-top:-20px; 
  margin-left: 53px	
}
#contentauthor-addedit-form-container #h5pdetails .form-item-video .customlabelvideoembedhelp,
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelimageuploadhelp {
  margin-left:0;
  margin-top:-2px; 
}
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelfileuploadhelp,
#contentauthor-addedit-form-container #h5pdetails .form-item-video .customlabelvideoembedhelp,
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelimageuploadhelp {
  float:left;
  font-size:9px;
  color:#2d2d2d;
  clear:both;
  width:150px;
  white-space:nowrap;
  overflow:hidden;
}
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelfileupload,
#contentauthor-addedit-form-container #h5pdetails .form-item-video .customlabelvideoembed,
#contentauthor-addedit-form-container #h5pdetails .form-type-file .customlabelimageupload {
  margin-left:5px;
  margin-top:-2px; 
  font-size:9px;
  color:#2d2d2d;
  clear:both
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field-value .form-item-video input.addedit-edit-video {
  float:left;
  margin-bottom:3px;
  width:440px
}

.page-administration-contentauthor #page-container .contentauthorclone 
{
  height:50px;
  overflow:hidden;
  margin:10px 0 5px;
  width:150px;
  min-width:170px
}
.page-administration-contentauthor #page-container .narrow-search-results-item-action {
  border:0px
}
.share-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -162px -749px;
  display:inline-block;
  height:24px;
  margin-top:4px;
  vertical-align:top;
  width:17px
}
.page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable,
.page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable {
  max-width:570px  
}
.page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-hdiv,
.page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-bdiv {
  max-width:569px
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container.enroll-user-edit-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td:first-child {
  max-width:140px;
  min-width:140px
}
.page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th:first-child {
  min-width:162px;
  max-width:162px
}
#contentauthor-addedit-form .contentauthor-addedit-form-container .addedit-form-cancel-and-save-actions-row .crs-tab-titles-container {
  display:none
}
#contentauthor-addedit-form .contentauthor-addedit-form-container .form-item-files-video #tmpdata a,
#contentauthor-addedit-form .contentauthor-addedit-form-container .form-item-files-poster-image #tmpdata1 a {
  display:inline-block;
  text-decoration:none;
  text-indent:-2000px;
  overflow:hidden;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -363px -184px;
  width:14px;
  height:14px;
  /*margin-top:2px */  
}
/* For retry and show solution Checkbox*/
.retryChecked {
  cursor:pointer;
}
.allow-retry,
.show-solution {
  float:left;
  margin-top:12px;
 /*  margin-top:5px; */
  height:16px;
  overflow:hidden
}
.page-administration-contentauthor-presentation .allow-retry,
.page-administration-contentauthor-presentation .show-solution {
  height:14px;
  margin-top:7px
}
.content_video_label{
	height:22px;
}
/* .page-administration-contentauthor-presentation .solution_presentation .show-solution{
	margin-left: 6px;
    margin-bottom: 10px;
}
.page-administration-contentauthor-presentation .score_presentation {
	
}
.page-administration-contentauthor-presentation .retry_presentation{
	margin-bottom: 10px;
}
.page-administration-contentauthor-presentation .retry_presentation input{
	margin-left: 6px;
} */
.allow-retry.retryChecked .form-type-checkbox,
.show-solution.ShowSolnChecked .form-type-checkbox,
.page-administration-contentauthor-presentation .retryChecked,
.page-administration-contentauthor-presentation .ShowSolnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 10px -448px;
  margin-top:2px
}
.allow-retry.retryUnChecked .form-type-checkbox,
.show-solution.ShowSolnUnChecked .form-type-checkbox,
.page-administration-contentauthor-presentation .retryUnChecked,
.page-administration-contentauthor-presentation .ShowSolnUnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 10px -436px;
  margin-top:2px
}

.allow-retry.retryUnChecked .form-type-checkbox,
.allow-retry.retryChecked .form-type-checkbox{
	/* margin-left:14px */
}

.allow-retry input,
.show-solution input {
  opacity:0;
  cursor:pointer
}
#retrycontainer .form-type-checkbox #edit-retry {
  margin-top:-8px;
  margin-left:5px
}
#edit-show-solution {
  margin-top:-10px;
  margin-left:5px
}
#passcorecontainer {
  /* clear:both; */
  width:160px;
  float:left;
  margin-top: 8px;
}
/* CSS FOR PRESENTATION */
#exp-sp-administration-contentauthor-presentation-addedit-form input#edit-title {
  width:559px
}
#contentauthor-presentation-addedit-form .addedit-left-col {
  width:auto;
  padding:7px 0 7px 11px;
  position:relative
}
#contentauthor-presentation-addedit-form .addedit-form-cancel-container-actions {
    margin-top: -6px;
}

#passcorecontainer .addedit-new-field {
  float:left
}
#passcorecontainer .addedit-new-field .addedit-new-field-value{
	margin-left:3px
}
#retrycontainer {
  width:125px; 
  float:left
}
#retrycontainer .addedit-new-field-title {
  width:5px
}
#retrycontainer .addedit-new-field-value {
  width:15px
}
#showsolutioncontainer {
  width:125px;
  float:left
}
#showsolutioncontainer .addedit-new-field-title {
  width:5px
}
.page-administration-contentauthor-presentation .allow-retry .addnewtitle_field_show_retry { 
/*   padding-left:18px; */
  margin-top:-1px
}
.page-administration-contentauthor-presentation .show-solution .addnewtitle_field_show_retry { 
 /*  padding-left:13px; */
  margin-top:-1px
}
#contentauthor-addedit-form-disp .allow-retry.retryChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 105px -448px;
}
#contentauthor-addedit-form-disp .show-solution.ShowSolnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 113px -448px;
}
#contentauthor-addedit-form-disp .allow-retry.retryUnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 105px -436px;
}
#contentauthor-addedit-form-disp .show-solution.ShowSolnUnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 113px -436px;
}
/*#contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .allow-retry.retryChecked {
  background-position:103px -448px
}
#contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .show-solution.ShowSolnChecked {
  background-position:113px -448px
}
#contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .allow-retry.retryUnChecked {
  background-position:103px -435px
}
#contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .show-solution.ShowSolnUnChecked {
  background-position:113px -435px
}*/
#contentauthor-addedit-form .addedit-left-col {
  padding-top:7px;
  display:table-cell
}
#contentauthor-addedit-form .addedit-form-main-container { 
  margin-bottom:0
}
#contentauthor-addedit-form .addedit-long-description-container {
  margin-top:4px;
  margin-bottom:2px;
  width:81%;
  float:left;
}
#contentauthor-addedit-form #two-col-row-url_uploadvideo.addedit-new-field-two-col {
  margin-bottom:-2px;
  padding-bottom:0
}
#contentauthor-addedit-form #two-col-row-url_uploadvideo .form-item-url {
  margin-top:1px
}
#contentauthor-addedit-form-container #h5pdetails .addedit-long-description-container .addedit-new-field-value {
  width:502px
}
#contentauthor-addedit-form #two-col-row-url_uploadvideo .contentauthor_or_image {
  float:left;
  margin-left:20px;
  margin-right:20px
}


.contentAuthor-knowledge-cont {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -219px -564px;
  margin-top:1px;
  width:53px;
  height:53px
}

.video-mp4 {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -149px -838px;
 margin-top:1px;
  width:53px;
  height:53px
}
.video-webm {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -149px -893px;
margin-top:1px;
  width:53px;
  height:53px
}
.video-youtube {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -209px -893px;
 margin-top:1px;
  width:53px;
  height:53px
}
.video-vimeo {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/Vimeo_ic.png') no-repeat;
  margin-top:1px;
  width:53px;
  height:53px
}


 .page-administration-contentauthor .narrow-search-multi-action-container{
	margin-top: 9px;
}







/* h5pcustomize start moved from layout-fixed.css */
/* UI for Content Author section starts here */
#edit-h5p-editor {
  margin:0
}
.e1_h5p_editor > iframe {
  max-height:500px
}
#edit-actions {
  float:right;
  margin:5px 0 ;
}
#edit-actions .form-submit {
  border-radius:6px;
  cursor:pointer;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  float:left;
  line-height:16px;
  margin-left:10px;
  margin-top:1px;
  padding:2px 6px;
  text-align:center;
  background:#27245e none repeat scroll 0 0;
  border:1px solid #27245e;
  color:#fff
}
#edit-actions .form-submit[value="Done"] {
  margin-right:-2px
}
#edit-actions .form-submit[value="Close"] {
  background:#fff;
  border:1px solid #e5e5e5;
  color:#474747
}
#edit-actions #edit-submit {
  background:#27245e;
  border:1px solid #27245e;
  color:#fff
}
#edit-actions #edit-preview,
#edit-actions #edit-delete {
  background:#fff;
  border:1px solid #27245e;
  display:none
}
#edit-actions #edit-delete {
  float:left
}

#h5p-content-node-form #edit-actions #edit-submit {
  margin-right:14px
  display:none;
}
.page-administration-contentauthor-presentation table#ctools-face-table {
  width:100%
}
.page-administration-contentauthor-presentation table#ctools-face-table #modal-content {
  max-width:100%;
  min-width:100%
}
.page-administration-contentauthor-presentation table#ctools-face-table .block-footer-right {
  right:1px
}
.page-administration-contentauthor-presentation #h5p_presentation_frame {
  min-width:745px
}
#h5p_presentation_frame #edit-actions #edit-delete.form-submit {
  margin-top:3px
} 
.page-learning-enrollment-search .ctool-video-modal .popups-body .video-js-box,
.page-learning-enrollment-search .ctool-video-modal .popups-body .video-js-box > iframe {
  /*max-height:505px; */ 
 /* max-height:516px; 
 height:100%;
 max-height:516px;*/
 border:0
}
/* UI for Content Author section ends here */


/* CSS for content author..start moved from exp_sp_administration_V2.css */
/* CSS for content author */
#contentauthor-addedit-form-container #h5pdetails .form-type-textfield input#edit-title {
  width:547px
}
#contentauthor-addedit-form-container #h5pdetails .addedit-long-description-container .addedit-new-field-value {
  width:551px
}
#contentauthor-addedit-form-container .addedit-form-cancel-container-actions {
  margin-right:3px
}
#contentauthor-addedit-form-container .addedit-form-cancel-container-actions .admin-save-pub-unpub-button-container {
  padding-left:10px
}
#contentauthor-addedit-form-container #h5pdetails .form-type-radio {
  margin:6px 20px 0 0;
  padding-right:10px;
  height: 16px;
  line-height:10px;

}
#contentauthor-addedit-form-container #h5pdetails .form-type-radio label {
  font-size:12px;
  color:#2d2d2d;
  float:left
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio input[type="radio"] {
  cursor:pointer;
  height:13px;
  opacity:0;
  outline:medium none;
  width:18px;
  float:left;
  margin-right:0
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.form-item-show-solution,
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.form-item-retry {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -166px -14px
}
/* #contentauthor-addedit-form #h5pdetails .addedit-new-field-value .form-type-radio, */
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.DisableIsSelected,
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.DisableRetryIsSelected,
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.EnableIsSelected,
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.EnableRetryIsSelected {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -166px 1px
}

#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.DisableIsSelected, 
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-checkbox.CheckedShowSolution{
	background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 3px -448px
}
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-radio.DisableIsSelected, 
#contentauthor-addedit-form #h5pdetails .addedit-new-field .form-type-checkbox.UnCheckedShowSolution{
	background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 3px -436px
}
#contentauthor-addedit-form #h5pdetails .UnCheckedShowSolution,
#contentauthor-addedit-form #h5pdetails .CheckedShowSolution {
  height:14px
}
#contentauthor-addedit-form #h5pdetails .UnCheckedShowSolution input.form-checkbox,
#contentauthor-addedit-form #h5pdetails .CheckedShowSolution input.form-checkbox {
  opacity:0
}


.create_menu_down_arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat 50px -477px;
  width:55px
}
#createmenu_contentauthor {
  position:absolute;
  top:15px;
  z-index:1000
}
#createmenu_contentauthor .bottom-qtip-tip-up {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -151px -1878px;
  height:10px;
  left:55px;
  position:absolute;
  top:53px;
  width:25px;
  overflow:hidden;
  z-index:101
}
.create-btn-cont-author ul.create-list {
  background:#fff;
  border:1px solid #ccc;
  display:block;
  margin-top:34px;
  width:130px;
  position:absolute;
  z-index:100;
  top:32px;
  left:-40px
}
.create-btn-cont-author ul.create-list li {
  cursor:pointer;
  float:left;
  margin-left:2px;
  margin-top:0;
  text-decoration:none;
  display:block;
  padding:5px 10px;
  width:85%
}
#createmenu_contentauthor div {
  padding:3px;
  font-size:11px
}
#createmenu_contentauthor div.links {
  width:114px;
  padding-top:5px
}
#createmenu_contentauthor div.links a {
  color:#474747;
  text-decoration:none;
  font-size:11px;
  padding:2px
}
#createmenu_contentauthor div.links a:hover {
  display:block
}

#createmenu_contentauthor .qtip-close-button {
  top:-11px;
  right:0
}
#createmenu_contentauthor #bubble-face-table {
  margin-top:58px;
  min-width:100px
}
/* #createmenu_contentauthor .bottom-qtip-tip-up {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -10px -1413px;
  height:21px;
  width:64px;
  z-index:100
} */
#contentauthor-addedit-form-container .ui-jqgrid .ui-pg-table td {
  line-height:30px;
  padding:0
}

.narrow-search-multi-action-container #bubble-face-table tbody tr td {
  padding:0 4px
}
.video-preview-popup #bubble-face-table .bubble-c {
  padding-right:0
}
.video-preview-popup #bubble-face-table .video-js-box {
  max-height:216px
}
.video-preview-popup #bubble-face-table .video-js-box iframe {
  border:0
}

.select-list-dropdown-link-contentAuthor{
    position: absolute;
    margin-top: -3px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    /* margin-left: 28px; */
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png) no-repeat 1px -254px;
}

/* CSS for content author.. moved from exp_sp_administration_V2.css -- end here */

.page-administration-contentauthor .narrow-search-multi-action-container .qtip-popup-visible #paintContentVisiblePopup .catalog-course-basic-addedit-form-container,
.page-administration-contentauthor .narrow-search-multi-action-container .qtip-popup-visible #paintContentVisiblePopup #catalog-class-basic-addedit-form-container.enroll-user-edit-datagrid {
 min-width:583px;
 max-width:583px;
 padding-left:0 
}
.page-administration-contentauthor #page-container #admin-data-grid #admin_list_values_container .enrolled-display-controller .admin-course-class-tab-datagrid-wrapper .ui-state-hover {
  border-right:1px solid #e5e5e5
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr:nth-child(odd) {
  background:#f7f7f7;
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .admin-save-button-container {
  margin-bottom:0
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container .datagrid-type-shareuser .fade-out-title-container.edit-fullname {
  max-width:135px
}
.page-administration-contentauthor #catalog-class-basic-addedit-form-container .datagrid-type-shareuser .fade-out-title-container.view-enrolluser-fullname {
  max-width:150px
}
.page-administration-contentauthor #page-container .clone-class-scroll-list {
 /*  height:50px */
  height:66px; /*Adding access*/
}
.page-administration-contentauthor-presentation #contentauthor-addedit-form-disp .presentation-row {
  display:inline-block;
  vertical-align:top;
  width:110px;
  clear:both
}
.moveh5pcontainer {
	display:block;
	position:absolute;
	z-index:15000;
	width:630px;
}
.contentauthorclone .jspContainer .jspPane {
	width:168px
}
.contentauthorclone .jspContainer .jspVerticalBar { /* for access*/
	
	display : none;
	}
#two-col-row-url_uploadvideo .form-type-file .fade-out-title-container .title-lengthy-text {
  line-height:16px;
  font-size:11px
}
.h5p-pre-msg {
  position:absolute;
  width:880px;
  margin-left:-50%;
  left:50%
}
.h5p-video-msg {
  position:absolute;
  width:835px;
  margin-left:-50%;
  left:50%
}
.h5p-pre-msg #message-container .messages ul {
  margin:0
}
.h5p-pre-msg #message-container .messages ul span {
  padding:0 5px
}
.pre-inner-dialog {
  min-height:70px
}
.page-administration-contentauthor #page-container .catalog-course-basic-addedit-form-container .enrolluser-class-grid-wrapper .ui-jqgrid-view .ui-state-default.ui-jqgrid-toppager {
  max-width:578px;
  min-width:578px
}
.page-administration-contentauthor .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(2) {
  min-width:172px;
  max-width:172px
}
.page-administration-contentauthor .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(3) {
  min-width:210px;
  max-width:210px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(1) {
  max-width:162px;
  min-width:162px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(1) .fade-out-title-container {
  max-width:152px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(2) {
  left:0;
  min-width:172px;
  max-width:172px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(2) .fade-out-title-container {
  max-width:162px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(3) {
  left:0;
  padding-left:5px;
  max-width:200px;
  min-width:200px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(3) .fade-out-title-container {
  max-width:190px
}
.page-administration-contentauthor #page-container #catalog-class-basic-addedit-form-container.catalog-course-basic-addedit-form-container div#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv table[id^="datagrid-container-shareuser"] tr td:nth-child(4) {
  min-width:35px;
  max-width:35px;
  left:8px
}
/* .page-administration-contentauthor-video #contentauthor-addedit-form-container #h5pdetails ~ .addedit-form-cancel-and-save-actions-row {
    margin-top:0 ;
    position: absolute;
    bottom: -8px;
    right: -165px; 
} */
.page-administration-contentauthor-video #contentauthor-addedit-form #two-col-row-url_uploadvideo .addedit-twocol-secondcol .addedit-new-field-title {
  padding-right:12px
}
/* testing for blue scroll in view interaction in Presentation Admin in Chrome  
body.cke_editable.cke_contents_ltr {
  overflow:auto
}*/
.page-administration-contentauthor #paint-narrow-search-results .manage-clone-list .contentauthorclone .clone-list-class,
.page-administration-contentauthor #paint-narrow-search-results .manage-clone-list .contentauthorclone .clone-list-class:hover {
  /* margin-left:8px; */ /* not needed */
  padding:2px 0 0 5px;
  width:auto;
}
.page-administration-contentauthor #paint-narrow-search-results .manage-clone-list .clone-popup-close {
  top:-7px;
  right:-7px
}
.page-administration-contentauthor .info-enr-upload {
  top:2px
}
.pre-passing-retry-soln{
	float:left;
	width:20%
}
.pre-passing-retry-soln > div{
  width:100%;
  margin-left:15px;
  margin-bottom: 10px;
}
.pre-passing-retry-soln .retry_presentation .addnewtitle_field_show_retry,
.pre-passing-retry-soln .solution_presentation .addnewtitle_field_show_retry,
#exp-sp-administration-contentauthor-presentation-addedit-form .pre-passing-retry-soln .score_presentation .cls-pres-passing-score-lbl.addedit-new-field-title{
	width:68%;
	float:left
}
.pre-passing-retry-soln .retry_presentation .cls-pre-passing-retry-right,
.pre-passing-retry-soln .solution_presentation .cls-pre-passing-retry-right,
.pre-passing-retry-soln .score_presentation .cls-pre-passing-retry-right{
	width:auto;
	float:left
}
#video-right-container{
position:relative;
left:1px;
	float:left;
	width:19%;
}
#video-right-container > div{
  width:100%;
  margin-left:10px;
  margin-bottom: -2px;
}
#retrycontainer .addnewtitle_field_show_retry,
#showsolutioncontainer .addnewtitle_field_show_retry,
#contentauthor-addedit-form-container #passcorecontainer .addedit-new-field-title{
	width:63%;
	float:left
}
#contentauthor-addedit-form-container #passcorecontainer .addedit-new-field{
	width:100%
}
.page-administration .ui-state-hover a.tab-disable:hover{
	cursor:default
}

/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable,
  .page-administration-contentauthor .qtip-popup-visible #bubble-face-table .admin-datagrid-pagination .ui-widget-content .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable {
    max-width:569px  
  }
  .page-administration-contentauthor .enroll-user-edit-datagrid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(3) {
    min-width:205px;
    max-width:205px
  }
  .page-administration-contentauthor #catalog-class-basic-addedit-form-container.enroll-user-view-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(1) {
    min-width:150px;
    max-width:150px
  }
  .page-administration-contentauthor #catalog-class-basic-addedit-form-container.enroll-user-view-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(2) {
    min-width:170px;
    max-width:170px
  }
  .page-administration-contentauthor #catalog-class-basic-addedit-form-container.enroll-user-view-datagrid #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-hdiv th.ui-th-ltr:nth-child(3) {
    min-width:210px;
    max-width:210px
  }  
  /*.page-administration-contentauthor-presentation #contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .pre-passing-retry-soln .allow-retry.retryChecked {
    background-position:103px -448px
  }
  .page-administration-contentauthor-presentation #contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .pre-passing-retry-soln .allow-retry.retryUnChecked {
    background-position:103px -435px
  }  
  .page-administration-contentauthor-presentation #contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .pre-passing-retry-soln .show-solution.ShowSolnChecked {
    background-position:112px -448px
  }
  .page-administration-contentauthor-presentation #contentauthor-presentation-addedit-form #contentauthor-addedit-form-disp .pre-passing-retry-soln .show-solution.ShowSolnUnChecked {
    background-position:112px -435px
  }*/

  #exp-sp-administration-contentauthor-presentation-addedit-form input#edit-title {
    width:547px
  }
}


.addedit-form-cancel-and-save-actions-row
{
	/*   display:none;   */
}

 .clonedactions .crs-tab-titles-container
{
	display:none;
} 
/* .clonedactions .crs-tab-titles-container.Content-tab-titles-container 
{
	display:none;
} 
.clonedactions .crs-tab-titles-container 
{
	    margin-left: 9px;
	    margin-top :0px;

} */
.clonedactions .addedit-form-cancel-container-actions
{
	margin-right:13px;
}
.admin-save-pub-unpub-button-container #content_save_btn_cloned
{
	border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    line-height: 15px; 
    margin-top: 1px; 
    cursor:pointer;
}
.clonedactions .addedit-form-cancel-container-actions .admin-save-pub-unpub-button-container {
  margin-left:8px
}

.clonedactions #edit-catalog-course-save-unpublish_cloned{
	text-transform: uppercase;
	cursor: pointer;
}
 .clonedactions .addedit-form-cancel-container-actions .admin-save-pub-unpub-button-container .admin-save-button-right-bg{
    display: block;
    float: left;
    width: 6px;
    height: 20px;
    background: #27245e;
    border: 1px solid #27245e;
    border-radius: 0px 6px 6px 0px;
    position: relative;
    top: 1px;
} 
#exp-sp-administration-contentauthor-presentation-addedit-form .addedit-new-field-value{
 width:65%
 }
.page-administration-contentauthor-video .addedit-form-cancel-and-save-actions-row{
	 margin-top: -2px;
}
.page-administration-contentauthor-video .addedit-form-cancel-and-save-actions-row.clonedactions{
	margin-top: 15px;
}
 /*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
/*safari checkbox issue */
.page-administration-contentauthor-video .allow-retry.retryChecked .form-type-checkbox,
.page-administration-contentauthor-video .show-solution.ShowSolnChecked .form-type-checkbox
{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 9px -448px;
  
}

.allow-retry.retryUnChecked .form-type-checkbox,
.show-solution.ShowSolnUnChecked .form-type-checkbox{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 9px -436px;
}

.page-administration-contentauthor-presentation .retryChecked,
.page-administration-contentauthor-presentation .ShowSolnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 6px -448px;
}
.page-administration-contentauthor-presentation .retryUnChecked,
.page-administration-contentauthor-presentation .ShowSolnUnChecked {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 6px -436px;
}
/*safari checkbox issue end*/
}}
/*safari hack End*/
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#contentauthor-addedit-form .contentauthor-addedit-form-container .form-item-files-video.uploadiconbgshowFaded .addedit-edit-file-upload {
  cursor:default
}
 }