/* Common styles Start */
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */

/* Course/Class/Tp Details End */


/* Sign In styles Start */
.theme-ctool-popup .my-login-links-actions .my-login-register{
  width:175px
}
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */	
/* Account styles End */


/* Catalog styles Start */
#page-container  .search-opt-box-lastitem #paintLocation .location-search{
	right:9px
}
#page-container .search-opt-box-lastitem #paintLocation .searchlocation{
	font-size:9px
}
/* Catalog styles End */

/* Profile styles Start */
.page-learning-my-profile #page-container #myskill-parent .form-type-textfield{
  display:inline-block
}
.page-learning-my-profile #page-container #my_transcript_pager .search-pagination-right span {
  margin-right:0 
}
#page-container #catalog-users .ui-jqgrid #pg_expertus-online-datatable-pager .ui-pg-table{
 min-width:203px
}
/* Profile styles End */

/* Discussions styles Start */
#page-container #frm-topic-list-sort-display .frm-topic-list-sortby .sort-by-links {
  left: -55px
}
#page-container #frm-paint-content #discuss-frm-sort-display .sort-by-links{
  left: -63px
}
/* Discussions styles End */

/* Team styles Start */
#my-team-dialog .title-mandatory-clr{
  margin-top:0
}
#block-exp-sp-myteam-tab-manager-view #lnr-myteam-search #paintContentResults .usr-enroll-grid-header-grey-cls {
  width:110px;
}
.page-learning-myteam-search #page-container #lnr-myteam-search .sort-by-links {
  left: -43px
}
#block-exp-sp-myteam-tab-manager-view #lnr-myteam-search .myteam-learning-btn{
  width:362px;
}
body.page-learning.page-learning-myteam-search table#paintContentResults .top-record-div-left{
  width:252px;
}
/* Team styles End */


/* Shopping Cart styles Start */
#page-container .shoppingcart-hdr-v2 .cart-step-region div {
  padding:0 20px 5px 20px
}
/* Shopping Cart styles End */


/* My Learning(My Enrollments) styles Start */
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
.expertusV2PopupContainer #mark-complete-wizard .require-text{
  margin-left:-7px
} 
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
/* Chat styles End */


/* Learning(Course/Class) styles Start */
#catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container .attachment-empty-column-height {
  height: 36px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .attachment-empty-column-height {
  height: 49px
}
#add-session-details .admin-addedit-session-details-wrapper .form-item-session-presenter-url label {
  width: 107px
}
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .attachment-empty-column-height {
  height: 35px
}
/* Learning(Training Plan) styles End */


/* People(User) styles Start */
/* People(User) styles End */

/* People(Organization) styles Start */
.page-administration-people-organization #organization-addedit-form .catalog-pub-add-list{width:99px}
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:136px}
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class,
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list li{
 width:114px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:138px}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{width:114px;text-align:right}
.attr-pane .attr-selected-pane span.item-short-desc,
.attr-pane .attr-selected-pane span.item-long-desc{line-height:25px}
#user-basic-addedit-form .form-item-files-picture #edit-picture{margin-top:4px}
#user-basic-addedit-form .addedit-left-col{width:97.5%}
.crs-tab-titles-container .tab-title,.crs-tab-titles-container-view .tab-title,.narrow-search-multi-action-container .tab-title,
.modal-content .crs-tab-titles-container .tab-title,.modal-content .crs-tab-titles-container-view .tab-title,.modal-content .narrow-search-multi-action-container .tab-title {
  display:block;
  height:24px;
}
/* People(Groups) styles End */

/* People(settings) styles Start */
.page-administration-people-setup #page-container .narrow-search-results-item-details{
  margin-top:4px
}
.page-administration-people-setup #list-values-addedit-form-details .disable-delete-icon{
  margin-top:0
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-survey-surveydetails .addedit-form-wrapper .addedit-left-col .addedit-form-cancel-container-actions ul.catalog-pub-add-list {
  left:auto;
  right:0;
  width:105px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
#upload_browse_and_url .select-list-dropdown {
  white-space:nowrap
}
/* Manage(Content) styles End */


/* Manage(Location) styles Start */
#location-basic-addedit-form-container .addedit-new-field-title {
    margin-top:-2px
}
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
#ctools-face-table #banner-basic-addedit-form  .addedit-form-wrapper  .mro-wrapper #access-search-list-class-title-keyword{
  left:28px
}
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
#notification-basic-addedit-form ul.catalog-pub-add-list .save-pub-unpub-sub-menu .pub-unpub-only-save-btn {
  float:none
}
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
.page-administration-commerce.page-administration-commerce-order .mro-wrapper #access-select-list-class-dropdown-list li{
  min-width:110px
}
.page-administration-commerce.page-administration-commerce-order .mro-wrapper #access-select-list-class-dropdown-list{
  left:-4px
}
.page-administration-commerce-order #page-container #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce-order #page-container #narrow-search-results-holder .narrowsearch-pub-add-list{
  right:14px
}
.page-administration-order #page-container .shoppingcart-hdr-v2 .cart-step-region div{
  padding-left:0
}
.page-administration-order-finish #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step,
.page-administration-order-pay #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step{
  padding-left:5px
}
.page-administration-order #admin_product_addorder_container .unselect-app-product,
.page-administration-order #admin_product_addorder_container .admin-select-user-order{
  font-size:11px
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
#tax-basic-addedit-form-container .catalog-pub-add-list li input{
  padding-left:29px
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
.page-administration-commerce.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-twocol-secondcol .addedit-new-field-title{
  width:98px;
  font-size:11px;
  padding-left:2px
}
/* Commerce(Settings) styles End */

/* site settings style starts*/
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .addedit-edit-dropdown {
  width:247px
}
/* site settings style ends*/

/* Reports styles Start */
#report-add-wizard #report_criteria_form .narrow-filter-fields-conatiner .bubble-modifier-container {
    width:320px
}
/* Reports styles End */


/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */
/*Start title restriction style*/
.page-learning-myteam-search .fade-out-title-container.myteam-compliance-course-title-fadeout-container{
  max-width:370px 
}
.page-learning-myteam-search .fade-out-title-container.myteam-mandatory-course-title-fadeout-container{
  max-width:360px 
}
.page-learning-myteam-search .fade-out-title-container.myteam-recommended-course-title-fadeout-container{
  max-width:350px 
}
/*End title restriction style*/
