/* Common styles Start */
#block-exp-sp-lnrsearch-tab-search,
#block-exp-sp-forum-header-search,
#block-exp-sp-myteam-header-search,
.narrow-search-text-filter-block {
    width: 21%;
}
#block-system-main-menu {
  width: 78.5%;
}
#block-system-main-menu li ul, #block-system-main-menu a {
  font-size: 12px;
}
#page-container #block-system-main-menu li{
  padding: 13px 8px 0px 3px;
}
#page-container #block-system-main-menu li.first {
  padding: 13px 8px 0px 3px;
}
#page-container  #narrow-search-actionbar-list #manage-dd-list {
  min-width:155px
}
/* Common styles End */


/* Home Page Widgets Start */
#page-container #account_setting .dropdownadd-dd-list-arrow {
  left: 109px
}
#page-container #account_setting div.links {
  width: 169px
}

/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
.learning-detail-desc div.prgdet-node form#fivestar-rating-widget .form-item .description{
  width:88px
}
#page-container #course-details-display-content .ui-jqgrid .ui-jqgrid-sortable{
  font-size:12px
}
/* Course/Class/Tp Details End */


/* Sign In styles Start */
.ctool-login-modal .theme-ctool-popup #my-login-container .form-item label{
  width: 112px
}
.ctool-login-modal .theme-ctool-popup .my-login-frm .signin-holder .form-item input{
  width:228px
}
.ctool-login-modal .theme-ctool-popup .my-login-frm .single-req-pwd-form-wrapper {
  padding-left: 137px
}
#modal-content #my-login-container .saml-helptext{
  right:89px
}
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */
.page-learning-my-account #page-container #learner-myaccount-details .content .pref-save-cancel-container-alignment .my-account-box .action-button {
  margin-right:0
}
.page-learning-my-account #page-container .my-account-wrapper .form-select {
  width:313px
}
.page-learning-my-account #page-container #learner-myaccount-details .content #wizard-form-wrapper .ui-jqgrid .ui-jqgrid-htable th div {
  font-size:10px
}
.page-learning-my-account #page-container #learner-myaccount-details #wizard-form-wrapper .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  padding-left:10px
}
#page-container #learner-myaccount-details .content #exp-sp-my-account-preference-form .myAccount td.field-title, 
#page-container #learner-myaccount-details .content #exp-sp-my-account-preference-form--2 .myAccount td.field-title {
  width:22%
}
input.layout-add-edit-button{
  width:74px
}
/* Account styles End */


/* Catalog styles Start */
#lnr-catalog-search .search-heading { font-size: 11px; font-weight: bold }
#lnr-catalog-search .curved-blue-button-right, #lnr-catalog-search .curved-blue-button-left {
  display: inline-block;
}
.page-learning-catalog-search #page-container #lnr-catalog-search .find-trng-sort-text {  
  background-position-x: 80px;
  padding-right:14px
}
#block-exp-sp-lnrsearch-tab-find-training #paintContent .find-trng-sortby .sort-by-links {  left: -42px }
#select-class-dialog #paintCatalogHeader #myteam-find-trng-sort-display .find-trng-sortby .find-trng-sort-text { background-position-x: 72px }
#select-class-dialog #paintCatalogHeader #myteam-find-trng-sort-display .find-trng-sortby .sort-by-change-links { width: 140px }
/* Catalog styles End */

/* Profile styles Start */
#myskill-parent .skill-name-parent .skill-text-box{
  width:350px
}
#learner-myskill-details #myskill-parent .disp-parent{
  width:170px;
  margin-left:8px
}
#skill-qtipid #myskill-parent .prof-parent{
  width:140px
}

.user-popout-container #my-profile-editor-content #userprofile-part .total-badge-points{
  width:99px; 
}
.user-popout-container #my-profile-editor-content #userprofile-part .total-badge-points .points-text-uppercase{
  padding-left:4px;
}
 #myskill-parent #learner-save-skill-button .addedit-form-cancel-container-actions{
  width:165px;
 }
#myskill-parent .skill-name-parent{
  padding-bottom:15px;
}
/* Profile styles End */

/* Discussions styles Start */
.page-learning-forum-topic-list #page-container .admin-forum-topic-detail-action-btn .addedit-form-cancel-container-actions{
  width:245px
}
 .page-learning-forum-topic-list #page-container .admin-forum-topic-detail-action-btn .admin-forum-add-topic-list .addedit-form-cancel-container-actions{
  width:152px
}
#page-container #frm-topic-list-sort-display .frm-topic-list-sortby .sort-by-links {
  left: -44px
}
#page-container #frm-paint-content #discuss-frm-sort-display .sort-by-links{
  left: -49px
}
#page-container #forum-list-display #discuss-frm-sort-display  .frm-list-sort-text{background-position:85px -466px; max-width:90px}
#page-container #frm-topic-list-sort-display .frm-topic-list-sort-text {background-position:93px -466px; max-width:95px}
/* Discussions styles End */

/* Team styles Start */
#paintContentResults .myteam-learning-course-btn .view-btn-mid{
  margin-left:1px
}
#paintContentResults .myteam-learning-course-btn .full-button-without-action{
  font-size:11px;
  width:84px
}
#my-team-dialog #myteam-find-trng-sort-display .find-trng-sortby{
  right:14px
}
#my-team-dialog #myteam-find-trng-sort-display .find-trng-sort-text{
  width:84px;
  background-position:70px -464px
}
#lnr-myteam-search .ui-jqgrid-bdiv #tbl-paintCatalogContentResults .search-register-btn{
  width:230px
}
#lnr-myteam-search .ui-jqgrid-bdiv  #tbl-paintCatalogContentResults .search-register-btn tr td.action-btn-disable {
   width: 147px
}
#block-exp-sp-myteam-tab-manager-view #lnr-myteam-search #paintContentResults .usr-enroll-grid-header-grey-cls {
  width:110px;
}
#page-container #lnr-myteam-search .find-trng-sort-text {
  background-position: 80px -465px
}
/* Team styles End */


/* Shopping Cart styles Start */
/* Shopping Cart styles End */


/* My Learning(My Enrollments) styles Start */
.page-learning-enrollment-search #page-container .enroll-sort-by-container .sort-by-links, 
.page-learning-enrollment-search #page-container .instructor-sort-by-container .sort-by-links{
  width:191px;
  left:-114px
}
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch, 
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch:hover {
  text-indent:4px
}
.page-learning-enrollment-search #page-container .enroll-sort-bylist{
  right:4px
}
.page-learning-enrollment-search #my-team-dialog #myteam-find-trng-sort-display .find-trng-sort-text{
  background-position:82px -466px
}
#page-container .ui-jqgrid-bdiv #paintEnrollmentResults .enroll-main-list .enroll-launch.mypgm-recertify{
  font-size:8px;
  text-indent:2px
}
#page-container #user-preference-settings #manage-dd-list{
  width:180px;
}
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
#page-container #div_my_transcript .my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table {
  margin-right: 10px
}
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
.page-learning-enrollment-search #page-container  #paintInstructorResults .paint-mark-completion .enroll-launch-full{
  margin-left:0
}
.page-learning-enrollment-search #page-container #instructor-result-container .paint-mark-completion {
  margin-right:22px
}
.expertusV2PopupContainer #mark-complete-wizard .require-text{
  margin-left:-6px
}
#page-container #instructor-result-container #paintInstructorResults div.paint-mark-completion {
  min-width:99px
}
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
#page-container #catalog-admin-cal-legend .cal-legent-td .mycalendar-class-types{
  display:inline;
  font-size:11px
}
#catalog-admin-cal-legend .cal-legent-td{
  width:117px
}
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
/* Chat styles End */


/* Learning(Course/Class) styles Start */
#main-wrapper #root-admin #root-admin-search-right-col #tab-content-main .narrow-search-results-item-details .attachment-empty-column-height {
  height: 56px
}
#catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container .tag-details-row .addedit-form-cancel-and-save-actions-row,
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .tag-details-row .addedit-form-cancel-and-save-actions-row,
.paint-narrow-search-results .narrow-search-results-item-details .tag-details-row .addedit-form-cancel-and-save-actions-row {
  float:none;
  margin-left:120px;
  margin-right:0
}
.page-administration-learning-catalog #catalog-course-basic-addedit-form .attachment-empty-column-height {
  height:38px
}
.page-administration-learning-catalog #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container{
  left:360px
}
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .attachment-empty-column-height{
  height:54px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .select-list-dropdown {
  width: 130px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper #search-dropdwn-list {
  width: 150px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .enrolluser-class-grid-wrapper #search-list-title-keyword ul {
  width: 152px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #admin_list_values_container .catalog-pub-add-list{
  width: 276px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #bubble-face-table .tag-details-row table + table{
  width:78%
}
/* #modal-content #catalog-course-basic-addedit-form #two-col-row-author_vendor .addedit-twocol-secondcol .addedit-new-field-title {
  width: 161px;
  margin-left:5px
}
#catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container #two-col-row-author_vendor_complete .form-item-completed-date .addedit-edit-completed_date, 
#catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container #two-col-row-author_vendor_complete .form-item-completed-days .admin-course-class-compliance-days-input {
  width: 80px
} */
#catalog-class-basic-addedit-form-container #bubble-face-table tbody tr td.attachment-display-btn-text{
  padding:20px 0 0 42px
}
#catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container .two-column-container-view .second-col-container-view label {
  width: 160px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #add-session-details #meeting-type-webEx .admin-addedit-session-details-wrapper #session_meeting_id{
  width:102px;
  margin-left:5px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #two-col-row-classcode_langcode .addedit-twocol-secondcol .addedit-new-field-title {
  margin-right:5px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #add-session-details #meeting-type-editothers .admin-addedit-session-details-wrapper #session_attendee_url {
  width: 289px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #add-session-details #meeting-type-editothers .admin-addedit-session-details-wrapper #session_presenter_url {
  width: 289px
}
#admin-data-grid .admin-datagrid-pagination.enrolluser-class-grid-wrapper .datagrid-type-enrolluser .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  font-size: 9px
}
#modal-content #catalog-course-basic-addedit-form .catalog_course_addedit_form_common #two-col-row-author_vendor .addedit-twocol-secondcol .addedit-new-field-title {
  width: 125px;
}
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-content-data-grid-rows .ui-jqgrid-hbox .checkbox-selected, 
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-content-data-grid-rows .ui-jqgrid-hbox .checkbox-unselected{
  margin-left:0
}
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */
 #program-tp-basic-addedit-form-container #admin-data-grid  .enrolltp-grid-wrapper .select-list-dropdown{
  width:166px
}
#program-tp-basic-addedit-form-container #admin-data-grid  .enrolltp-grid-wrapper #search-dropdwn-list{
  width:187px
}
#program-tp-basic-addedit-form-container .enrolltp-grid-wrapper #search-list-title-keyword ul{
  width:192px
}
.page-administration-learning-program #program-tp-basic-addedit-form-container .attachment-empty-column-height{
  height:53px
}
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .tag-details-row .addedit-form-cancel-and-save-actions-row{
  margin-left:45px;
  margin-right:0
}
.page-administration-learning-program #attach_course_dt #search-dropdwn-list-course{
  width:97px
}
.page-administration-learning-program #attach_course_dt .admin-tp-auto-search-container{
  width:310px
}
.narrow-search-results-item-details .tag-fieldset-wrapper .tag-details-row table + table {
  width:75%
}
#catalog-course-basic-addedit-form-container .tag-fieldset-wrapper .tag-details-row table + table,
.catalog-class-basic-addedit-form-disp .tag-fieldset-wrapper .tag-details-row table + table,
.narrow-search-results-item-details .tag-fieldset-wrapper .tag-details-row table + table {
  width:75%
}
#program-tp-basic-addedit-form-container .enrolltp-grid-wrapper .enrolled-status ul.sub-menu li{
  font-size:11px
}
#program-tp-basic-addedit-form-container #admin-data-grid #admin_list_values_container .catalog-pub-add-list {
  width: 280px
}
#admin-data-grid .enrolltp-grid-wrapper .catalog-pub-add-list .save-pub-unpub-sub-menu #completedandsave_trigger {
  width: 184px
}
.enrolltp-grid-wrapper .admin_add_multi_search_container{
	width:63%
}
.attachcourse-title-heading-code{
	padding-left:20px
}
/* Learning(Training Plan) styles End */


/* People(User) styles Start */
.page-administration #page-container .narrow-search-sortbar-sorttext{background-position:85px -466px;max-width:90px;}
.page-administration #page-container .narrow-search-sortbar-sortlinks{left:-30px}
.page-administration-people #admin-data-grid .user-enrollment-div-cls .ac_input{line-height:20px}
/* People(User) styles End */

/* People(Organization) styles Start */
.page-administration-people-organization #organization-addedit-form .catalog-pub-add-list{width:110px}
.page-administration-people-organization #organization-addedit-form .addedit-new-field-title{width:154px;font-size:11px}
.page-administration-people-organization #organization-addedit-form .addedit-twocol-secondcol .addedit-new-field-title{width:143px}
.page-administration-people-organization #organization-addedit-form .addedit-twocol-secondcol{margin-right:-20px}
.page-administration-people-organization #organization-addedit-form .addedit-edit-ac-textfield{
  width:132px
}
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:150px}
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class,
.page-administration-people-group #modal-content #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class,
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list li{
 width:130px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{width:130px;text-align:right}
.page-administration-people-group #add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container{margin-left:146px}
.page-administration-people-group #modal-content #add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container{margin-left:147px}
.page-administration-people-group #search_add_urs{right:166px}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:150px}
.page-administration-people-group #modal-content #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:153px}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list {left:1px}
.page-administration-people-group #role-addedit-form .catalog-pub-add-list{width:110px}
.page-administration-people-group #role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container{left:25px}
.page-administration-people-group #role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container{width:350px}
.page-administration-people-group .narrow-search-multi-action-container .role_multi_search_container_add,
.page-administration-people-group .role_multi_search_container_add{
 width:376px
}
.page-administration-people-group #add-user-role-page .addedit-edit-username-search-autocomplete{border:0}
.page-administration-people-group .narrow-search-multi-action-container #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:156px}
.page-administration-people-group #role-detail-wrapper .add-user-pagination-container{float:none;position:absolute;right:17px}
.page-administration-people-group #role-detail-wrapper #add-class-list-wrapper .admin_class_ac_input_mainform{width:138px}
.page-administration-people-group #narrow-search-results-holder #bubble-face-table tbody tr td #username-search-autocomplete.input-field-grey,
.page-administration-people-group #narrow-search-results-holder #bubble-face-table tbody tr td .form-item .form-text#username-search-autocomplete{
 width:149px
}
.page-administration-people-group #page-container #display-assigned-users #add-user-role-page.assigned-users-grps #catalog-class-addedit-form-details .filter-search-start-date-right-bg{
  margin-left: 152px
}
.page-administration-people-group #role-detail-wrapper #add-user-role-page #add-class-list-wrapper .filter-search-start-date-right-bg{
  margin-right: 13px;
}
#add-user-role-page.add-users-grp .search-list-keyword{
  left:-3px
}
/* People(Groups) styles End */

/* People(settings) styles Start */
.page-administration-people-setup #page-container .narrow-search-results-item-details{
  margin-top:5px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-title {
  width: 46px;
  padding-top:3px
}
.page-administration-people-setup #list-values-addedit-form-details .disable-delete-icon{
  margin-top:2px
}
.page-administration-people-setup #list-values-addedit-form-details .delete-class-button{
  margin-top:3px
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form .addedit-twocol-firstcol {
  width:58%
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol {
  width:36%
}
.page-administration-survey-surveydetails #survey_attach_questions_dt .attachquestion-table-heading td.attach-question-title {
  width:207px
}
.page-administration-survey-surveydetails .addedit-form-wrapper .addedit-left-col .addedit-form-cancel-container-actions ul.catalog-pub-add-list {
  left:auto;
  right:0;
  width:110px
}
.page-administration-survey-surveydetails .admin-surass-auto-search-container .admin-pagination-surass-search-go {
    position:relative;
  width:14px
}
.page-administration-assessment-assessmentdetails .admin-surass-auto-search-container .admin-pagination-surass-search-go {
    position:relative;
  width:14px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */

.page-administration-manage-content #page-container #root-admin-results .AdminsublinktabNavigation li a span span, 
.page-administration-manage-location #page-container #root-admin-results .AdminsublinktabNavigation li a span span, 
.page-administration-manage-banner #page-container #root-admin-results .AdminsublinktabNavigation li a span span,
.page-administration-manage-notification-template #page-container #root-admin-results .AdminsublinktabNavigation li a span span, 
.page-administration-manage-certificate #page-container #root-admin-results .AdminsublinktabNavigation li a span span,
.page-administration-manage-announcement #page-container #root-admin-results .AdminsublinktabNavigation li a span span {
  font-size: 9px;
}
.page-administration-manage-content #move-users-form-wrapper #paint-class-search-results-datagrid .edit-content-version-list-container .crs-pub-enrolled-btn.plainy-btn{
  width:90px;
  padding-left:4px;
  font-size:11px
}
#modal-content #content-addedit-form .addedit-new-field-title{
  width: 167px
}
#modal-content #content-addedit-form .addedit-new-field-two-col .addedit-new-field-title {
  width: 162px
}
#modal-content #content-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width: 180px
}
#modal-content  #content-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-new-field-title {
  width: 79px
}
#bubble-face-table #admin-move-users-content .admin-save-pub-unpub-button-container .admin-save-button-middle-bg {
  width:176px
}
#bubble-face-table #admin-move-users-content .content-save-cancel-btnGrp .catalog-pub-add-list, 
#bubble-face-table #admin-move-users-content .content-save-cancel-btnGrp .catalog-pub-add-list-move {
  width: 190px
}
#bubble-face-table #admin-move-users-content .select-moveuser-dropdown {
  width: 130px
}
#bubble-face-table #admin-move-users-content #search-dropdwn-list {
  width: 150px
}

/* Manage(Content) styles End */


/* Manage(Location) styles Start */
#location-basic-addedit-form-container .addedit-new-field-title {
    margin-top:-2px
}
#location-basic-addedit-form-container .addedit-twocol-firstcol .addedit-new-field-title {
    width:162px
}
#location-basic-addedit-form-container .addedit-new-field-two-col .addedit-firstcol-field-value .form-item .addedit-edit-textfield {
    width:93px
}
#location-basic-addedit-form .addedit-twocol-firstcol .addedit-firstcol-field-value .expertus-dropdown-bg {
    width:97px
}
#location-basic-addedit-form-container .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-new-field-title {
  font-size:10px
}
#location-basic-addedit-form-container .form-item input.addedit-edit-addr2,
#location-basic-addedit-form-container .form-item input.addedit-edit-addr1 {
    width: 345px;
    margin-left:7px
}
#location-basic-addedit-form .form-textarea-wrapper .addedit-edit-custom-value-field {
    max-width:349px;
    min-width:349px;
    margin-left:7px
}
.page-administration-manage-location .addedit-left-col .addedit-new-field .addedit-new-field-value .form-textarea-wrapper textarea.addedit-edit-textarea {
    max-width:349px;
    min-width:349px;
    margin-left:6px
}
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
#ctools-face-table #banner-basic-addedit-form  .addedit-form-wrapper  .mro-wrapper #access-search-list-class-title-keyword{
  left:20px
}
.page-administration #addedit-form-wrapper .mro-wrapper #access-search-list-class-title-keyword {
    left: 20px
}
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
#modal-content #notification-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width: 156px
}
#modal-content #notification-basic-addedit-form .addedit-new-field-two-col .addedit-secondcol-field-value .addedit-edit-textfield {
  width: 124px
}
#notification-basic-addedit-form #two-col-row-freq_type .addedit-twocol-secondcol .addedit-secondcol-field-value .addedit-edit-dropdown {
  width: 146px
}
#modal-content #notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .expertus-dropdown-bg, 
#modal-content #notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .expertus-dropdown-icon {
  width: 127px
}
#modal-content #notification-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width:205px
}
.page-administration-manage-notification-template #modal-content #notification-basic-addedit-form .ui-multiselect{
  max-width:185px
}
#modal-content #notification-basic-addedit-form #two-col-row-not_sched_days .addedit-twocol-firstcol .addedit-new-field-title{
  width:127px
}
#modal-content #notification-basic-addedit-form #two-col-row-not_sched_days .addedit-twocol-secondcol .addedit-new-field-title {
  width: 143px
}
#modal-content #notification-basic-addedit-form .edit-notify-days-before {
  width: 84px
}
#modal-content #notification-basic-addedit-form .ui-multiselect .ui-icon{
  margin-right:0
}
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
#discount-basic-addedit-form-container #admin-data-grid .discount-grid-wrapper .ui-pager-control .ui-pg-table{
  right:2px
}
#order-basic-addedit-form-container .commerce-container-v2 thead th{
  padding-left:4px
}
#admin-data-grid #admin_product_addorder_container #search-list-title-keyword ul{
  width:156px
}
.page-administration-order-create #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container .select-list-dropdown {
  width: 135px
}
.page-administration-order-create #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container  #search-dropdwn-list{
  width: 160px
}
.page-administration-commerce.page-administration-commerce-order #group-control #autocomplete{
  margin-left: 130px
}
.page-administration-commerce.page-administration-commerce-order #group-control #autoimg{
  right:7px
}
.page-administration-commerce.page-administration-commerce-order #group-control .autocomplete input#multiautocomplete {
  max-width: 130px
}
.page-administration-commerce.page-administration-commerce-order .mro-wrapper #access-select-list-class-dropdown-list{
  left:-3px
}
.page-administration-order #admin_order .order-admin-header{
  width:71%
}
.page-administration-order #admin_order .order-method-title{
  width:150px
}
.page-administration-order #page-container .shoppingcart-hdr-v2 .cart-step-region div{
  padding-left:0
}
.page-administration-order-finish #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step,
.page-administration-order-pay #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step{
  padding-left:5px
}
.page-administration-order #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container .select-list-dropdown,
.page-administration-order #admin-add-product-form #admin-data-grid #select-list-dropdown-list li{
  font-size:11px
}
.page-administration-commerce-order #order-basic-addedit-form-disp #order_no_label .addedit-new-field-title{
  width:183px
}
.page-administration-commerce-order #order-basic-addedit-form-container .addedit-new-field .addedit-new-field-value .resizable-textarea .addedit-edit-admin_comment,
.page-administration-commerce-order #order-basic-addedit-form-container .addedit-new-field .addedit-new-field-value .form-textarea-wrapper .addedit-edit-admin_comment{
  min-width:455px;
  max-width:455px
}
.page-administration-commerce #order-basic-addedit-form-container .cart-review td.deliverytype{
  width:110px
}
#select-order-dialog .ui-dialog{
  min-width:850px;
  max-width:850px;
  margin-left:-45px
}
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gbox_datagrid-container-add-product-admin-order,
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gview_datagrid-container-add-product-admin-order,
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gview_datagrid-container-add-product-admin-order .ui-jqgrid-hdiv,
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gview_datagrid-container-add-product-admin-order .ui-jqgrid-hdiv .ui-jqgrid-htable,
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gview_datagrid-container-add-product-admin-order .ui-jqgrid-bdiv,
#select-order-dialog .ui-dialog #datagrid-div-add-product-admin-order #gview_datagrid-container-add-product-admin-order .ui-jqgrid-bdiv #datagrid-container-add-product-admin-order{
  min-width:800px;
  max-width:800px
}
#select-order-dialog .ui-dialog #datagrid-container-add-product-admin-order .jqgfirstrow td:first-child,
#select-order-dialog .ui-dialog #gview_datagrid-container-add-product-admin-order #datagrid-container-add-product-admin-order_Title{
  min-width:100px;
  max-width:100px
}
.page-administration-order #admin_product_addorder_container .unselect-app-product,
.page-administration-order #admin_product_addorder_container .admin-select-user-order{
  font-size:11px
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
.page-administration-commerce-discounts #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
  right:-2px
}
.page-administration-commerce-discounts #discount-basic-addedit-form-container #search-list-title-keyword ul{
  width:161px
}
.page-administration-commerce-discounts #discount-basic-addedit-form-container #select-trainings-dropdown-list li{
  width:148px
}
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable input.multiselect-selectall{
  margin-left:-10px;
  position:relative;
  left:-5px
}
.page-administration-commerce-discounts #admin-data-grid .discount-grid-wrapper .search-list-keyword #search-dropdwn-list{
  width:162px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #catalog-question-basic-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-commerce-tax .pub-unpub-only-save-btn{
  float:none
}
.page-administration-commerce.page-administration-commerce-tax #page-container .narrow-search-filterset-heading,
.page-administration-commerce-tax #tax-basic-addedit-form-container .addedit-new-field .addedit-new-field-title{
  font-size:11px
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
.page-administration-commerce.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-twocol-secondcol .addedit-new-field-title{
  width:112px;
  font-size:11px;
  padding-left:0;
}
.page-administration-commerce-setting #commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div{
  width: 340px
}
.page-administration-commerce-setting #commerce-cc-settings-basic-form .addedit-new-field-title-wrapper .addedit-new-field-title,
.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-title,
.page-administration-commerce-setting #payment-check-details .postal-code-col .form-item label{
  font-size:11px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-screen-wrapper .commerce-cc-settings-form{
  width:600px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-screen-wrapper .catalog-course-basic-addedit-action-disp{
  width:149px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-tabs li span.selected,
#admin-commerce-payment-method-plan #commerce-cc-settings-tabs li span.selected.notfirst{
  width:150px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-screen-wrapper .catalog-course-basic-addedit-action-disp ul li .form-submit{
  width:140px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-title{
  width:125px
}
#admin-commerce-payment-method-plan #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-two-col{
  width:577px
}
.page-administration-commerce-setting #admin-commerce-payment-method-plan #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:115px
}
/* Commerce(Settings) styles End */


/* site settings style starts*/
#webanalytics-admin-form .addedit-left-col div.addedit-new-field-title {
  white-space:nowrap
}
.ctools-admin-user-points-modal#modalContent #userpoints-admin-form div.points-badges-seperator {
  width:358px
}
/* site settings style ends*/

/*Start SalesForce Style */
#innerWidgetTagEnroll #page-container #paintReportsContent .narrow-search-sortbar-sorttext{
   background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat scroll 83px -466px;
}
/*End SalesForce Style */


/* Reports styles Start */
#report-add-wizard #report_criteria_form .narrow-filter-fields-conatiner .bubble-modifier-container {
    width:320px
}
#page-container #lnr-reports-search #paintReportsContent .narrow-search-sortbar-sortlinks {
  left: -36px
}
#report-add-wizard .report-wizard-topbar .nextLink{
    text-indent:-40px
}
#page-container #paintReportsContent #find-trng-sort-display  .narrow-search-sortbar-sorttext{background-position:85px -466px; max-width:90px}
#report-add-wizard .breadcrump-container .reports-title-div,
#report-add-wizard .breadcrump-container .reports-title-div-selected,
#report-add-wizard .breadcrump-container .reports-title-div-edit-selected,
#report-add-wizard .breadcrump-container .reports-title-next-div-completed, 
#report-add-wizard .breadcrump-container .reports-title-div-completed,
#report-add-wizard .breadcrump-container .reports-title-div-edit-end,
#report-add-wizard .breadcrump-container .reports-title-div-end,
#report-add-wizard .breadcrump-container .reports-title-div-end-selected{
  font-size:12px
}
#page-container #lnr-reports-search #narrow-search-actionbar-list #manage-dd-list {
  min-width:180px
}
#report-add-wizard .reports-title-div,
#report-add-wizard .reports-title-div-end,
#report-add-wizard .reports-title-next-div-completed,
#report-add-wizard .reports-title-div-completed,
#report-add-wizard .reports-title-div-grey-end-prev,
#report-add-wizard .reports-title-div-edit-end,
#report-add-wizard .reports-title-div-selected,
#report-add-wizard .reports-title-div-end-selected,
#report-add-wizard .reports-title-div-edit-selected{
  width:230px
}
#report-add-wizard .breadcrump-container{
  width:700px
}
#report-select-wizard .new-report {
    width: 315px;
}
/* Reports styles End */


/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

/* Chrome hack Start */
@media screen and (-webkit-min-device-pixel-ratio:0) {
}
/* Chrome hack End */
