#jqgh_myprofile-skill-userdetails_Details, #gview_myprofile-skill-userdetails .ui-jqgrid-labels, 
#gbox_myprofile-skill-userdetails #userdetailsskill-pager, 
#jqgh_myprofile-skill-details_Details, #gview_myprofile-skill-details .ui-jqgrid-labels {
  display: none
}
#wizarad-myprofile-skills #gviewmyprofile-skill-userdetails .ui-state-default, #gbox_myprofile-skill-userdetails .ui-state-default, 
#wizarad-myprofile-skills #gview_myprofile-skill-details .ui-state-default, #gbox_myprofile-skill-details .ui-state-default {
  background: none;
  border: 0
}
#gview_myprofile-skill-userdetails .ui-jqgrid-hbox .ui-jqgrid-htable,
#gview_myprofile-skill-details .ui-jqgrid-hbox .ui-jqgrid-htable {
  display: none
}
#wizarad-myprofile-skills .ui-jqgrid .ui-jqgrid-htable th div {
  color: #666;
  font-size: 13px;
  margin-top: 0;
  display: none
}
#wizarad-myprofile-skills .myskill-table tr > td {
  padding: 0 0 7px 0
}
.skill-header {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 7px
}
.proftitle-set {
  width: 90px;
  float: left;
  height: 22px
}
.dsiplay-other-set {
  width: 110px;
  float: left;
  height: 22px
}
.edit-delete-set {
  width: 62px;
  float: left;
  height: 22px
}
.edit-delete-set .skills-edit-delete {
  color: #FF7924;
  font-size: 11px;
  cursor: pointer
}
.edit-delete-set div {
  float: left;
  margin-left: 1px
}
.skill-tab-seperator {
  color: #999999;
  padding-left: 3px;
  padding-right: 2px
}
.skill-set-image-button a,.skill-set-image-button a:hover {
  color: #4686DD;
  font-size: 11px;
  line-height: 25px;
  padding: 7px 16px 0 11px;
  display: block;
  float: right;
  text-decoration: none
}
.skill-text-box {
  padding: 0;
  width: 280px;
  font-size: 12px
}
#myskill-parent .form-type-textfield,
.prof-parent .form-type-select,
.disp-parent .form-type-select {
  margin: 8px 0 0 0;
  display: inline
}
#myskill-parent {
  padding: 5px;
  font-size: 13px
}
#myskill-parent .addedit-cfield-delbtn-wrapper {
  width: 100%
}
#myskill-parent .prof-label,
#myskill-parent .skill-label {
  display: inline;
  width: 85px
}
#myskill-parent .disp-label {
  width: 100%;
  display: inline;
  margin: 0 10px 0 0
}
#myskill-parent .disp-parent .skill-dropdown-disp,
#myskill-parent .prof-parent .skill-dropdown-prof {
  width: 100px;
  height: 21px;
  color: #2d2d2d;
  padding-left: 8px
}
#myskill-parent .prof-parent {
  width: 154px;
  display: inline-block
}
#myskill-parent .disp-parent {
  width: 156px;
  display: inline-block;
  margin-left:2px
}
#myskill-parent .prof-parent .expertus-dropdown-bg-addSkill {
  display: inline-block;
  width: 50px
}
#myskill-parent .disp-parent .expertus-dropdown-bg-addSkill {
  display: inline-block;
  width: 60px
}
#myskill-parent .prof-parent .expertus-dropdown-icon-addSkill {
  width: 60px
}
#myskill-parent .disp-parent .expertus-dropdown-icon-addSkill {
  width: 75px
}
#myskill-parent .skill-label label,
#myskill-parent .prof-label label,
#myskill-parent .disp-label label {
  font-size: 12px;
  color: #474747;
  font-family: ProximaNovaBold;
  font-weight: normal;
  display: inline
}
#myskill-parent .prof-label label {
  margin: 8px 10px 0 0
}
select.skill-dropdown-prof {
  width: 80px
}
select.skill-dropdown-disp {
  width: 99px
}
.skil-save-button-container {
  display: inline-block;
  float:right;
  margin-left:10px
}
#myskill-parent .skil-save-button-container .admin-save-button-middle-bg {
  padding-top:4px
}
#myskill-parent messages error {
  display: none
}
.noskillrecords-msg-edit-page {
  color: #777;
  font-size: 13px;
  height: 30px;
  width: 100%;
  text-align: center;
  font-family: openSansRegular, Arial
}
.learner-save-skill-button .addedit-form-cancel-container-actions {
  float:right;
  margin:2px 7px 0 0;
  width:auto
}
.learner-save-skill-button .addedit-form-cancel-container-actions .white-btn-bg-container {
  display:inline-block
}
.learner-save-skill-button .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
  margin-top: 10px
}
#learner-myskill-details #myprofile-skill-details {
}
#myskill-parent div.error {
  display: block;
  margin: 0 0 4px 0
}
#myskill-parent .skill-text-box {
  height: 20px;
  font-size: 12px;
  color: #2d2d2d;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 0 7px;
  box-sizing: border-box;
}
#myprofile-skill-userdetails .ui-state-highlight,
#myprofile-skill-details .ui-state-highlight {
  border: 0;
  color: #222
}
#learner-myskill-details .block-title {
  width: 85%;
  float: left
}
#learner-myskill-details .skill-set-image-button {
  width: 15%;
  float: right
}
/*!New UI theme Overwrite css*/
#page-container .edit-delete-set .skill-edit-div {
 /* background: url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -348px -242px; */
  cursor: pointer
}
#page-container .edit-tp-set {
  float: left
}
#page-container .edit-tp-set .skill-edit-img {
 /* background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -40px -355px;*/
  cursor: pointer;
  height: 32px;
  width: 44px
}
#page-container .edit-delete-set .skill-delete-div {
 /* background: url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -389px -242px;*/
  cursor: pointer
}
#page-container .profileskill-edit-icon {
  background: url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -343px -188px;
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 4px 0 0 0px
}
#page-container .profile-edit-icon {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -339px -185px;
  cursor: pointer;
  height: 18px;
  margin: 6px 0 0 14px;
  position: absolute;
  width: 21px
}
#page-container .profileskill-delete-icon {
  background: url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -367px -187px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 4px 0 0 0
}
#page-container .edit-delete-set .profileskill-delete-icon.disable{
background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat scroll -420px -223px;
cursor: default;
}
#page-container .edit-delete-set .skill-edit-div,
#page-container .edit-delete-set .skill-delete-div {
/*   height: 33px;
  width: 37px */
}
#page-container .edit-delete-set .skill-delete-div {
  margin-left: 0
}
#page-container .edit-delete-set {
/*  float: right;*/
  height: 22px;
  width: auto;
  margin-right:2px
}
.page-learning-my-profile #page-container .edit-delete-set {
	display: inline-block;
    vertical-align: top;
    float: inherit;
    height: 16px;
}

#page-container .my-skill-wrapper {
  padding-top: 0
}
#page-container .addSkillHeader {
  border: 1px solid #e7e7e7;
  border-width: 0 1px;
  background: #f5f5f5;
  height: 44px
}
#page-container #learner-myskill-details .skill-set-image-button {
  width: auto;
  float: right
}
#page-container .skill-set-image-button a, .skill-set-image-button a:hover {
  background: none;
  padding-top: 11px
}
#page-container #learner-myskill-details .block-title {
  float: none;
  width: 100%
}
/*! add skill grid changes */
.add-skill-recordlist:first-child {
  border: 0
}
.add-skill-recordlist {
  border-top: 1px solid #EDEDED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    lex-direction: row;
    height: auto;
    padding: 10px;
    width: 100%;
    min-height: 63px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
}
.skill-columns-certificate {
  font-size: 13px;
  font-family: ProximaNovaBold;
  color: #474747;
  text-transform: uppercase;
  padding-top: 0;
  font-weight: normal;
  display:inline-block;
  cursor: pointer;
}
.skill-columns {
  font-size: 13px;
  font-family: ProximaNovaBold;
  color: #474747;
  text-transform: uppercase;
  padding-top: 0;
  font-weight: normal;
  display:inline-block;
}

#certificate_det_container {
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 15px;
    padding-right: 15px;
    clear:both
}
.pdfWrap .cert_name {
    margin-bottom: 0;
}
.pdfWrap +  .ui-dialog-buttonpane {
	padding-bottom: 0;
}
.cert_name .cls-crt-lbl-val {
	text-transform: uppercase;
	color: #616060;
    font-size: 12px;
    display: inline-block;
    max-width: 294px;
    vertical-align: middle;
    min-height: 12px;
    cursor: default;
    width: 268px;
}
.cert_name {
    margin-bottom: 10px;
    position: relative;
}
.cert_name label {
	display: inline-block;
    font-size: 11px;
    font-family: ProximaNovaBold, Arial;
    font-weight: normal;
    width: 113px;
}
.cert_name img, .cert_name iframe{
	max-height:650px;
  	padding: 8px;
  	max-width: 100%;
    box-sizing: border-box;
    margin: auto;
    display:block;
}
.cert_name iframe{
    width: 100%;
    margin: auto;
    border: none;
    min-height:650px; 
}
.page-learning-my-profile #cert_dialouge_holder .expertusV2PopupContainer .ui-dialog-titlebar-close {
	text-decoration: none;
	text-align: center;
    margin: -10px 0 0;
    line-height: 20px;
    right: -3px
}

#cert_dialouge_holder .title-lengthy-text{
	line-height: normal;
}
.page-learning-my-profile .access-tab-icon.certificate-icon-disable{
	background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/certificate_ic_disabled.png") no-repeat 0 10px;
    height: 22px;
    margin-right: 2px;
    width: 15px;
}

.page-learning-my-profile .access-tab-icon.visible {
	    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/certificate_ic.png) no-repeat 0 10px ;
	   height: 22px;
}
.view_certificate{
	display: inline-block;
    margin-left: 17px;
    cursor: pointer;
    margin-top: 1px;
    white-space: nowrap;
}
.view_certificate.certificate-view-disable{
	color: #999;
    cursor: default;
}

.fade-out-title-container-unprocessed.fade-out-title-container.mycertificateTitle {
	max-width:608px;
}
.fade-out-title-container-unprocessed.fade-out-title-container.mycertificateTitle .fade-out-image {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png) no-repeat 0px -90px;
}
.customSpanstyle > span {
	margin-top: 9px;
    display: block;
    line-height: 1;
}
.rating-static {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -100px -275px;
  display: block;
  height: 20px;
  width: 70px
}
.rating_10 {
  background-position: -100px -275px
}
.rating_9 {
  background-position: -107px -275px
}
.rating_8 {
  background-position: -114px -275px
}
.rating_7 {
  background-position: -121px -275px
}
.rating_6 {
  background-position: -128px -275px
}
.rating_5 {
  background-position: -135px -275px
}
.rating_4 {
  background-position: -142px -275px
}
.rating_3 {
  background-position: -149px -275px
}
.rating_2 {
  background-position: -156px -275px
}
.rating_1 {
  background-position: -163px -275px
}
.rating_0 {
  background-position: -170px -275px
}
.skillname-set {
  float: left;
  height: auto;
/*  width: 430px; */
  padding: 2px 10px 0 0;
  max-width:91%
}
.page-learning-my-profile .skillname-set {
	display: inline-block;
}

.page-learning-my-profile .skillname-set .titlePadBot {
	    padding-bottom: 0px;
}
.expertusV2PopupContainer .skillname-set {
  width: 54%;
  padding: 5px 20px 0 0
}
.expertusV2PopupContainer .skill-delete-msg {
  text-align: left
}
.expertusV2PopupContainer .add-skill-recordlist {
  padding: 10px
}
.expertus-dropdown-icon-addSkill select {
  margin-top: 0
}
.page-learning-my-profile .form-item,
.page-learning-my-profile .form-actions {
  margin-top: -5px
}
#page-container .form-item  input.skill-text-box {
  margin-bottom: 22px;
  margin-top: 20px;
  background:#fff
}
#exp-sp-my-skill-set-add-form .expertus-dropdown-bg-addSkill {
  background: -ms-linear-gradient(#fafafa,#e9e9e9);/*For IE10*/
  background: linear-gradient(#fafafa,#e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fafafa', endColorstr='#e9e9e9'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#e9e9e9)";
  height: 18px;
  vertical-align: top;
  width: 90px;
  margin-top: -2px;
  border-radius: 10px 4px 4px 10px;
  border:1px solid #e5e5e5;
  border-right:0
}
.skill-name-parent {
      margin-top: 4px;
}
#myskill-parent  .skill-name-parent .form-item {
	float: right;
    margin-top: 0;
}
.add-skill-recordlist .skill-seperate {
  padding-left:8px;
  width:90%;
  margin-right:10px;
  box-sizing:border-box;
  /* float:left */
}
#myprofile-skill-userdetails .edit-delete-set {
	display:none;
}
#myprofile-skill-userdetails .narrow-search-results-item-detail {
	margin:0;
}
#delete-object-dialog .ui-state-default {
  position: relative
}
#wizarad-myprofile-skills .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr:hover > td {
  background: #fafafa
}
#learner-myskill-details table tr:hover .limit-title-row .limit-title .fade-title,
#learner-myskill-details table tr:hover .limit-desc-row .limit-desc span.fade-desc {
  background:-ms-linear-gradient(to right, transparent, #fafafa 80%, #fafafa);/*For IE10*/
  background:linear-gradient(to right, transparent, #fafafa 80%, #fafafa)
}

/* #delete-object-dialog .ui-dialog .ui-dialog-buttonpane {
  padding-right: 0
} */
#myprofile-skill-details tr:last-child .add-skill-recordlist{
  padding-bottom:6px
}
.user-popout-container #learner-myskill-details .block-title{
  text-indent:0
}
#mycertificate-parent .form-text{
  border:1px solid #E5E5E5;
  border-radius:10px;
  padding-left:11px;
  font-size:11px
	
}
#mycertificate-parent .form-item-certificate-name{
	display: inline-block;
	float:right;
	
}
#mycertificate-parent .form-item-company-name{
	display: inline-block;
	float:right;
	
	}
#mycertificate-parent .form-item-files-upload-certificate{
	display: inline-block;
	float:right;
	margin-left:-18px
	}
.form-item.form-type-checkbox.form-item-verify-required{
	display: inline-block;
}
.form-item.form-type-checkbox.form-item-display-to-others{
	display: inline-block;
}
#mycertificate-parent .form-item-certificate-number{
	display: inline-block;
	float:right;
}
.validity_det_label label {
	display:inline-block;

}
	
.form-item-valid-from label ,
.form-item-valid-to label{
	    font-weight: normal;
	}
.certificate-name-parent label,
.company-name-parent label,
.certificate-number-parent label,
.verification_req-parent label,
#validity_det label,
.display_to_others-parent label{
	font-weight: normal;
}
#mycertificate-parent .certi-date-container	#valid_to,
#mycertificate-parent	.certi-date-container #valid_from {
	margin-left: 9px;
    margin-top: -2px;
	}
	
	#mycertificate-parent #validity_det .addedit-edit-datefield{
	width :75px;
	}
	.form-item-valid-from
	{
	  display: flex;
	  margin-left :88px;
	}
	.form-item-valid-to{
	display: flex;
	  margin-left :20px;
	}
#mycertificate-parent	.certi-date-container{
	display: inline-block;

	}
#mycertificate-parent	.certi-date-container label {
	font-size: 12px;
    font-family: openSansRegular, Arial;

	}
#mycertificate-parent .certificate-label,
#mycertificate-parent .company-label,
#mycertificate-parent  .certificate-label,
#mycertificate-parent .validity_det_label,
 #mycertificate-parent   .certificate-file-label{
	margin-top: 0px;
    margin-bottom: 10px;
}
#validity_det span.validity_det_label{
	margin-bottom: -14px !important;
}
.narrow-search-results-item-detail-pipe-line.skill-pipe-lines{
  float:left
}
.vtip .narrow-search-results-item-detail-pipe-line.skill-pipe-lines{
	padding: 0 4px;
    font-size: 12px;
	
}
.add-certificate-date,
.add-certificate-expiredate{
height:16px;
line-height:16px;
}
.certificate-icon-container{
	width: 10%;
    float: right;
    vertical-align: top;
}
.certificate-icon{
   	width: 17px;
    height: 26px;
    margin:0 auto
}
.certificate-icon.not-verified{
	background: url(/sites/default/files/images/Notverified.png) no-repeat;
	width: 17px;
	height: 24px;
}
.certificate-icon.verification-pending{
	background: url(/sites/default/files/images/Verificationpending.png) no-repeat;
	width: 24px
}
.certificate-icon.verified{
	background: url(/sites/default/files/images/Verified.png) no-repeat;
	width: 26px;
	margin-left: 18px;
}
.certificate-icon.rejected{
	background: url(/sites/default/files/images/Rejected.png) no-repeat;
	width: 24px;

}
.certificate-verify-status{
	text-align: center;
	font-family: ProximaNovaBold;
    font-size: 11px;
  	text-decoration: none;
    line-height: 11px;
    padding-top: 2px;
}
.certificate-verify-status .certificate-view-label{
	color: #4d95cb;
	cursor: pointer;
	padding-top: 2px;
    display: inline-block;
}
#edit-verification-by .form-item{
	margin-left: -30px;
	margin-top: 10px;
}
.addedit-form-cancel-container-actions  {
	width: 22%
}

.learner-save-certi-button .addedit-form-cancel-container-actions{
	margin-top: 62px;
}
.admin-save-button-middle-bg{
	color: #FFF !important;
}
#mycertificate-parent .certificate-label, .company-label, .validity_det_label, 
.addedit-new-field .addedit-new-field-title, 
#mycertificate-parent #verify_block .ext_username .external-users-name,
#mycertificate-parent #verify_block .ext_email .external-email,
#mycertificate-parent #verify_block .ext_phone-number .external-phone-number{
	font-family: ProximaNovaBold, Arial;
	font-size: 12px;
	color: #474747;
	font-weight: normal;
} 
#verify_block .ext_username .skill-text-box,
#verify_block .ext_email .skill-text-box,
#verify_block .ext_phone-number .skill-text-box{
	width: 170px;
}
#mycertificate-parent .certificate-number-parent .form-item-certificate-number .form-text{
	
}
#validity_det .admin-addedit-class-start-on.certi-date-container .form-item-valid-from{
	margin-left: 72px;
}
#validity_det .certi-date-container .form-item-valid-from .narrow-search-filterset-daterange-empty,
#validity_det .certi-date-container .form-item-valid-to .narrow-search-filterset-daterange-empty{
	color: #999;
}
.addedit-new-field .addedit-new-field-value .form-item-files-upload-certificate .addedit-edit-file-upload.form-file{
	font-size: 11px;
}
#mycertificate-parent .display_to_others-parent,
#mycertificate-parent .verification_req-parent{
	float: left;
	display: inline-block;
}
 #mycertificate-parent .verification_req-parent label {
     width: 114px;
     word-wrap: break-word;
 }
 #mycertificate-parent .display_to_others-parent label {
	 width: 88px;
	 word-wrap: break-word;
 }
#mycertificate-parent .display_to_others-parent .certificate-label{
	margin-left: 55px;
}

#mycertificate-parent #verify_block .input_fellow_username .form-item-user-text .form-text{
  display: inline-block;
  float: left;
  margin-top: 32px;
  width: 137px;
  font-size: 9px;
  padding: 2.5px 6px;
  box-sizing: border-box;
}
#mycertificate-parent #validity_det .certi-date-container .form-item-valid-to{
	margin-left: 10px;
}
/*update style start*/
#edit-verification-by .form-item {
	margin:0;
}
#edit-verification-by {
	font-family: openSansRegular, Arial;
}
#edit-verification-by input[type="radio"] {
	margin:0;
	position: absolute;
}
.input_fellow_username {
	display:inline-block;
}
.form-item-verification-by {
	padding-bottom: 5px;
}
#edit-verification-by label.option {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    margin-top: 0px;
    padding-left: 21px;
}
#verify_block {
	display: inline-block;
    width: 100%;
    margin-top:15px;
}
.inpSearch input.ac_loading {
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/throbber.gif) no-repeat 84% -17px #FFF;
    z-index: 10;
}
.addedit-form-cancel-container-actions .white-btn-bg-container,
.addedit-form-cancel-container-actions .skil-save-button-container,
.addedit-form-cancel-container-actions .certi-save-button-container {
	display: inline-block;
	margin: 0 5px;
	float: none;
}
.learner-save-certi-button .addedit-form-cancel-container-actions {
	width:auto;
	text-align: right;
	margin-top:5px;
}
#mycertificate-parent .addedit-twocol-firstcol {
   display: inline-block;
   float: none;
    vertical-align: middle;
}
.ext_user_fieldset {
	margin: auto;
    text-align: center;
    padding-left: 39%;
    box-sizing: border-box;
    text-align: left;
}
.ext_user_fieldset span {
	display:inline-block;
	
}
.ext_user_fieldset label {
	font-family: openSansRegular, Arial;
    font-size: 10px;
    font-weight: normal;
    width: 65px;
    word-break: break-word;
    text-align: left;
}
.ext_user_fieldset > div {
	    display: inline-block;
	    margin-bottom: 5px;
}
.ext_user_fieldset .form-item.form-type-textfield {
	display:inline-block;
	vertical-align: top;
	margin: 0;
}
#mycertificate-parent #verify_block .input_fellow_username .form-item-user-text .form-text {
	margin-top:0;
}
#verify_block .ext_username .skill-text-box, #verify_block .ext_email .skill-text-box, #verify_block .ext_phone-number .skill-text-box {
    width: 137px;
    box-sizing: border-box;
    font-size: 9px;
    padding: 2.5px 6px;
}
#add_certificate_container {
	border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
#mycertificate-parent .certificate-label, #mycertificate-parent .company-label, #mycertificate-parent  .certificate-label, #mycertificate-parent .validity_det_label, #mycertificate-parent   .certificate-file-label {
	margin-bottom:0;
	max-width: 140px;
    word-wrap: break-word;
    padding-right: 0px;
    box-sizing: border-box;
    vertical-align: top;
}
#mycertificate-parent .form-item {
	margin-bottom:0;
}
#mycertificate-parent .form-checkbox, input.form-radio {
	vertical-align: middle;
}
.certificate-name-parent,.company-name-parent,.certificate-number-parent,.addedit-new-field {
	padding:6.5px 0;
}
.certificate-name-parent .form-text,.company-name-parent .form-text,.certificate-number-parent .form-text { 
    padding: 1.5px 6px;
    padding-left:6px;
    box-sizing: border-box;
}
#validity_det {
	margin:6px 0;
}
.addedit-new-field {
	margin:7px 0;
	padding: 0 0;
	margin-bottom: 13px;
}
#mycertificate-parent {
	padding-top:3px;
}
#mycertificate-parent .form-type-checkbox,#myskill-parent .form-type-checkbox {
	position: relative;
    width: 10px;
    height: 10px;
}
#mycertificate-parent .form-type-checkbox input,#myskill-parent .form-type-checkbox input {
	position: absolute;
    top: 0;
    margin: 0;
    cursor: pointer;
    opacity:0;
}
#myskill-parent .form-type-checkbox {
	margin: 0;
    vertical-align: middle;
}
#add_skill_prof_holder .ui-dialog .ui-dialog-titlebar {
	padding-left:3px;
}
#add_cert_prof_holder .ui-dialog .ui-dialog-titlebar {
	padding-left:3px;
}
#add_skill_prof_holder .ui-dialog .ui-dialog-titlebar-close {
    right: 2px;

}
#add_cert_prof_holder .ui-dialog .ui-dialog-titlebar-close {
    right: 2px;

}
#mycertificate-parent .form-type-checkbox i,#myskill-parent .form-type-checkbox i {
	position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png) no-repeat -0px -438px;
}
#mycertificate-parent .form-type-checkbox input:checked + i,#myskill-parent .form-type-checkbox input:checked + i {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png) no-repeat -0px -450px;
}
.learner-save-certi-button {
	float: left;
    width: 100%;
}
.profile-add-menu #qtip_addcert_div{
	font-family: ProximaNovaBold;
	text-transform: uppercase;
	color: #474747;
	font-size: 12px
}
#myskill-parent .prof-parent {
	margin: 4px 0;
    margin-top: 17px;
}
#add_skill_container {
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}
.fade-out-title-container.profile-skill-added-on-date-fadeout-container{
	max-width: 173px
}
.fade-out-title-container.profile-skill-expiredate-fadeout-container{
	max-width: 300px
}
#mycertificate-parent .addedit-new-field-value {
	display: inline-block;
    width: 65%;
    vertical-align: middle;
    float: none;
}
#mycertificate-parent .addedit-new-field-value .form-item {
	width: 100%;
}
#mycertificate-parent .form-item-files-upload-certificate {
	    position: relative;
}
#mycertificate-parent .form-item-files-upload-certificate > label {
	opacity: 1;
    width: 63px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 11px;
    box-sizing: border-box;
    color: transparent;
    position: relative;
    cursor:pointer;
    height: 20px;
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/btn_fileUpload.png) no-repeat -0px -0px;
}

#mycertificate-parent .form-item-files-upload-certificate > input {
	position: absolute;
    left: 0;
    visibility: hidden;
}
#mycertificate-parent .addedit-new-field-title {
	width: 109px;
	display: inline-block;
    vertical-align: middle;
}
.upload-msg-style {
	font-size:10px;
	color:rgb(141,141,141);
}
.fade-out-title-container.uploadBtnArrow {
    font-size: 10px;
    color: rgb(141,141,141);
    display: inline-block;
    vertical-align: middle;
    max-width: 163px;
}
.uploadBtnArrowVid  {
	font-size: 10px;
    color: rgb(141,141,141);
    display: inline-block;
    vertical-align: middle;
    max-width: 163px;
    position: relative;
    height: 12px;
}
.uploadBtnArrowVid  a {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -367px -185px;
    cursor: pointer;
    width: 10px;
    height: 13px;
    margin: 0 0 0 0;
    display: inline-block;
    text-decoration: none;
    transform: scale(0.85);
    position: absolute;
    right: -14px;
    top: -1px;
}
#mycertificate-parent .addedit-new-field-title {
	float:none;
}
#mycertificate-parent .addedit-twocol-firstcol .addedit-new-field-title {
	float:left;
	padding-top: 0;
}
.uploadBtnArrow + a {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -367px -185px;
    cursor: pointer;
    width: 10px;
    height: 13px;
    margin: 0 0 0 0;
    display: inline-block;
    text-decoration: none;
    transform: scale(0.85);

}
/*date picker start */
.ui-datepicker {
  border: 1px solid #aaa;
  background: #fff none 50% 50% repeat-x;
  color: #222
}
.ui-datepicker a {
  color: #222
}
.ui-datepicker-header {
  border: 1px solid #aaa;
  background: #bbbbbb  none 50% 50% repeat-x;
  color: #222;
  font-weight: bold
}
.ui-datepicker-header a {
  color: #222
}
.ui-state-default, .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 none 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
  outline: none
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none;
  outline: none
}
.ui-state-hover, .ui-state-hover, .ui-state-focus,.ui-state-focus {
  border: 1px solid #999;
  background: #dadada 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
  outline: none
}
.ui-state-hover a, .ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
  outline: none
}
.ui-state-active, .ui-state-active {
  border: 1px solid #aaa;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
  outline: none
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  outline: none;
  text-decoration: none
}
.ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee 50% 50% repeat-x;
  color: #363636
}
.ui-state-highlight a {
  color: #363636
}
.ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec 50% 50% repeat-x;
  color: #cd0a0a
}
.ui-state-error a,
.ui-state-error-text,
.ui-state-error-text {
  color: #cd0a0a
}
.ui-priority-primary, .ui-priority-primary {
  font-weight: bold
}
.ui-priority-secondary,.ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px
}
.ui-datepicker .ui-datepicker-next {
  right: 2px
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center
}
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right
}
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-multi .ui-datepicker-group {
  float: left
}
.ui-datepicker.ui-datepicker-multi {
  width: auto
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%
}
.ui-datepicker-rtl {
  direction: rtl
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px
}
.ui-datepicker-cover {
  display: none;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px
}
.ui-progressbar {
  height: 2em;
  text-align: left
}
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%
}
.ui-resizable {
  position: relative
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%
}
.ui-resizable-se {
  cursor: se-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  bottom: -5px
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px
}
.ui-slider {
  position: relative;
  text-align: left;
  background: #EEE url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) repeat-x 50% top;
  border: 1px solid #DDD;
  color: #333
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default
}
.ui-slider .ui-slider-range {
  background-color: #CCC;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0
}
.ui-slider-horizontal {
  height: .8em
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0
}
.ui-slider-vertical {
  width: .8em;
  height: 100px
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0
}
ul#icons {
  margin: 0;
  padding: 0
}
ul#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none
}
ul#icons span.ui-icon {
  float: left;
  margin: 0 4px
}
.selHrs, .selMins {
  width: 2.5em
}
.selHrs {
  margin-left: 5px
}
.dayPeriod {
  display: inline-block;
  width: 20px
}
.slider {
  height: 100px;
  float: left;
  margin: 0 10px
}
#tpSelectedTime {
  margin-bottom: 0;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  color: #000;
  background: #fff;
  text-transform: none
}
#tpSelectedTime span {
  fon-weight: bold
}
#datepicker {
  width: 270px
}
#pickerplug {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 200px;
  left: 300px;
  padding: 0;
  margin: 0;
  z-index: 500
}
#pickerplug li {
  display: block;
  float: left
}
#timepicker {
  border: 1px solid #aaa;
  background: #fff
}
#timepicker ul {
  overflow: hidden;
  padding: 5px
}
#timepicker ul li {
  position: relative;
  display: block;
  float: left;
  width: 50px
}
#timepicker ul li h4 {
  width: 100%;
  background: transparent;
  color: #000;
  text-align: center
}
#timepicker ul li .slider {
  border: 1px solid #AAA;
  position: relative;
  left: 10px
}
.ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all .ui-helper-hidden-accessible {
  left: 485px;
  position: absolute;
  top: 328px;
  width: 187px;
  border: 1px solid red
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat
}
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px
}
.ui-state-default, .ui-widget-content .ui-state-default {
  font-weight: bold;
  outline: none
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #1D4E5F;
  text-decoration: none;
  outline: none
}
.ui-state-hover a, .ui-state-hover a:hover {
  color: #4F4F7A;
  text-decoration: none;
  outline: none
}
.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #4F4F7A;
  font-weight: bold;
  color: #4F4F7A;
  outline: none
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #5B5FA9;
  outline: none;
  text-decoration: none
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid #DDD;
  background: #fff0a5 url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #4F4F7A
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
  color: #FFF
}
.ui-state-error, .ui-widget-content .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #fff
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-state-error-text,
.ui-widget-content .ui-state-error-text {
  color: #fff
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary {
  font-weight: bold
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal
}
.ui-datepicker {
  width: 95%;
  padding: .2em .2em 0;
  z-index: 1009
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px
}
.ui-datepicker .ui-datepicker-prev {
  left: -2px
}
.ui-datepicker .ui-datepicker-next {
  left: 80%
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  position: relative;
  right: -2%;
  width: 56%
}
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right
}
ui-datepicker th {
  line-height: 1.2em;
  padding: .3em .3em;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc
}
.ui-datepicker td {
  line-height: 1.2em
}
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  width: inherit;
  text-align: right;
  text-decoration: none
}
.ui-datepicker-reset-dates {
  border: #148A8A solid 1px;
  color: #004282;
  font-size: 9px;
  padding: 1px;
  text-align: right
}
.ui-datepicker-cell-enrolled {
  width: 14%;
  height: 80px;
  overflow: hidden;
  vertical-align: top
}
.datepicker-withdata {
  color: #FFF;
  font-size: 11px
}
.datepicker-withdata span {
  background-color: #5a7f92;
  color: #fff
}
.datepicker-withdata-end {
  color: #555;
  font-size: 11px
}
.datepicker-withdata-end span {
  background-color: #5a7f92;
  color: #fff
}
.ui-datepicker-enrolled-content {
  overflow: hidden;
  color: #148A8A;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: arial;
  margin-top: -90px;
  marging-bottom: -70px
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  display: none
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left
}
#sp_calendar {
  padding: 0;
  margin: 0;
  border: 0
}
#lmscalendar div.ui-datepicker-header {
  border-color: #CCC;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 0 12px 12px 50px;
  text-align: left
}
.ui-datepicker-next,
.ui-datepicker-prev {
  top: 6px
}
#mainbody a#lmscaldivopener {
  font-size: 11px
}
#lmscalendar-divider >div {
  height: 1px;
  width: inherit;
  background-color: #ccc
}
#lmscalendar .ui-datepicker tbody {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc
}
#lmscalendar .ui-datepicker-title-row td.ui-datepicker-week-end-cell a {
  color: #B2B2B3;
  font-size: 10px
}
#lmscalendar  .ui-datepicker-days-cell td {
  color: #000;
  font-weight: bold
}
#lmscalendar .ui-datepicker-title-row span {
  color: #A2A2A2;
  font-size: 11px
}
#sp_lms_area .ui-datepicker-title-row td {
  padding-top: 20px;
  padding-bottom: 5px
}
#lmscalendar .ui-datepicker-title-row td a {
  color: #B2B2B3;
  font-size: 10px
}
#lmscalendar div.ui-datepicker-inline,
#lmscalendar table.ui-datepicker {
  width: 100%
}
#lmscalendar table.ui-datepicker td.ui-datepicker-today {
  background-color: #E3EFC3;
  border-style: solid;
  border-top-width: 4px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: #90B87E;
  color: #90B87E;
  font-size: 11px;
  font-weight: bold;
  overflow: hidden
}
#lmscalendar table.ui-datepicker td.ui-datepicker-today a {
  color: #90B87E;
  font-size: 11px;
  font-weight: bold
}
table.ui-datepicker-calendar .ui-datepicker-current-day {
  background-color: #ddd;
  border: #148A8A solid 2px;
  color: #148A8A
}
table.ui-datepicker-calendar .ui-datepicker-current-day span {
  color: orange;
  font-weight: bold
}
#lmscalendar table.ui-datepicker td.ui-datepicker-otherMonth {
  background-color: #ddd;
  color: #A8A8A9;
  font-size: 8px
}
.ui-datepicker-otherMonth {
  background-color: #CCC8C8;
  text-align: right
}
.ui-datepicker-set-date {
  border: 1px solid #008B8B;
  color: #000;
  font-size: 11px;
  text-align: right
}
.ui-datepicker-reset-dates {
  border: #ccc solid 1px;
  color: #004282;
  font-size: 9px;
  padding: 1px
}
#sp_lms_area .ui-datepicker-reset-dates {
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #ccc;
  color: #000;
  font-weight: bold;
  padding: 5px;
  font-size: 10px
}
.ui-datepicker-enrolled-content {
  overflow: hidden;
  color: #148A8A;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: arial
}
#lmscalendarevent, #lmscalendarevent_up {
  overflow-x: hidden;
  overflow-y: visible;
  margin-bottom: 5px
}
.lmscalendareventselect {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #ccc
}
#sp_enrollment_date_filter .ui-datepicker-trigger {
  vertical-align: middle;
  padding-bottom: 2px
}
#ui-datepicker-div .ui-datepicker-prev a {
  border-color: #000;
  border-width: 1px;
  height: 15px;
  margin: 2px 5px;
  width: 14px
}
#ui-datepicker-div .ui-datepicker {
  border-style: solid;
  border-color: #888;
  border-width: 2px
}
#ui-datepicker-div .ui-datepicker-header {
  height: 20px;
  margin-left: 55px;
  font-weight: bold;
  font-size: 12px
}
#ui-datepicker-div .ui-datepicker-title-row {
  background-color: #fff;
  border-width: medium;
  font-weight: bold
}
#ui-datepicker-div table.ui-datepicker td.ui-datepicker-today {
  background-color: #E3EFC3;
  border-color: #90B87E;
  border-style: solid;
  border-width: 4px 2px 2px;
  color: #90B87E;
  font-size: 11px;
  font-weight: bold;
  overflow: hidden
}
#ui-datepicker-div  .ui-datepicker-days-cell {
  background-color: #FFF;
  border: 1px solid #E4E4E4;
  border-collapse: collapse;
  font-family: arial;
  font-size: 11px;
  height: 20px;
  overflow: hidden;
  text-align: right;
  vertical-align: top;
  width: 30px;
  border: 1px solid #CCC;
  color: #5F9D00;
  font-size: 9px;
  padding: 1px
}
#ui-datepicker-div .ui-datepicker-reset-dates {
  border: 1px solid #CCC;
  color: #004282;
  font-size: 9px;
  padding: 1px
}
#ui-datepicker-div .ui-datepicker-header {
  margin: 0
}
#ui-datepicker-div .ui-datepicker-next a {
  border-width: 1px;
  border-color: #000;
  margin: 2px 0 1px 6px
}
#ui-datepicker-div table.ui-datepicker td a {
  color: #000
}
#ui-datepicker-div {
  background: #fff
}
#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #ccc;
  background-color: #FFFFE1;
  padding: 5px;
  opacity: .95
}
#tooltip h3, #tooltip div {
  margin: 0;
  font-weight: normal;
  font-family: arial;
  font-size: 12px;
  color: #000
}
.ui-datepicker-close .ui-state-default .ui-priority-primary .ui-corner-all {
  display: none
}

#tabDiv .ui-datepicker-set-date {
  color: #000;
  font-size: 11px;
  text-align: right;
  background-color: #ddd;
  width: 85px
}
#tabDiv .ui-datepicker-reset-dates {
  border: 1px solid #ccc;
  color: #004282;
  font-size: 9px;
  padding: 1px;
  width: 85px
}
#tabDiv .ui-datepicker-otherMonth {
  text-align: right;
  width: 85px;
  height: 30px
}
#tabDiv .ui-calstate-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 none 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
  outline: none;
  height: 30px
}
#tabDiv .ui-calstate-default {
  font-weight: bold;
  outline: none
}
.ui-calstate-default, .ui-calstate-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 none 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
  outline: none
}
.ui-calstate-default a, .ui-calstate-default a:link, .ui-calstate-default a:visited {
  color: #555555;
  text-decoration: none;
  outline: none
}
.ui-calstate-default {
  background-image: none
}
.ui-calstate-default, .ui-calstate-default {
  font-weight: bold;
  outline: none
}
.ui-calstate-default a, .ui-calstate-default a:link, .ui-calstate-default a:visited {
  color: #1D4E5F;
  text-decoration: none;
  outline: none
}

.ShowCalToolTipTD {
  vertical-align: top;
  padding: 3px
}

.ui-datepicker .ui-datepicker-title {
  right: -8%
}
#catalog-admin-style .ui-state-disabled {
  opacity: 1;
  filter: Alpha(Opacity=100)
}
/*date picker end */
.inpSearch {
	position: absolute;
    right: 11.5%;
    margin-top: 5.5%;
}
.inpSearch input {
	width:100%;
}
.inpSearch .form-item {
	margin:0;
}
.inpSearch a {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -480px -20px;
    display: block;
    height: 100%;
    margin-top: 0px;
    outline: none;
    text-decoration: none;
    position: absolute;
    width: 23px;
    z-index: 1000;
    right: 0%;
    cursor:pointer;
}
#paintContentAddcert div #message-container {
	width: 94%;
    margin-left: 3%;
    margin-top: 3px;
}
#paintskillAddcert #show_expertus_message {
	top:10px;
}
#validity_det .addedit-edit-datefield {
	height: auto;
	box-sizing: border-box;
    font-size: 11px;
    padding: 2.5px 4px;
    border-radius: 10px;
}
#add_certificate_container .learner-save-certi-button .certi-save-button-container #edit-add-certi-save-button{
	padding-top: 2px;
}
/*update style end*/
/*!chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#edit-verification-by label.option {
	    margin-top: -2px;
	}
  .form-item,
  .form-actions {
    margin-top: 2px
  }
  .learner-save-skill-button .addedit-form-cancel-container-actions {
    margin-right:4px
  }
  #myskill-parent .disp-parent .skill-dropdown-disp,
  #myskill-parent .prof-parent .skill-dropdown-prof {
    height: 20px
  }
  .page-learning-my-profile #myskill-parent .disp-parent {
    width : 170px
  }
  .page-learning-my-profile #myskill-parent .disp-parent .expertus-dropdown-bg-addSkill {
    width : 75px;
  }
}

/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
	#learner-myskill-details table tr:hover .limit-title-row .limit-title span.fade-title,
	#learner-myskill-details table tr:hover .limit-desc-row .limit-desc span.fade-desc{
	   background:-webkit-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 80%);	
	}
}}   
/*safari hack End*/