#jqgh_myprofile-skill-userdetails_Details, #gview_myprofile-skill-userdetails .ui-jqgrid-labels, 
#gbox_myprofile-skill-userdetails #userdetailsskill-pager, 
#jqgh_myprofile-skill-details_Details, #gview_myprofile-skill-details .ui-jqgrid-labels {
  display:none
}
#wizarad-myprofile-skills #gviewmyprofile-skill-userdetails .ui-state-default, #gbox_myprofile-skill-userdetails .ui-state-default, 
#wizarad-myprofile-skills #gview_myprofile-skill-details .ui-state-default, #gbox_myprofile-skill-details .ui-state-default {
  background:none;
  border:0
}
#gview_myprofile-skill-userdetails .ui-jqgrid-hbox .ui-jqgrid-htable,
#gview_myprofile-skill-details .ui-jqgrid-hbox .ui-jqgrid-htable {
  display:none
}
#wizarad-myprofile-skills .ui-jqgrid .ui-jqgrid-htable th div {
  color:#666;
  font-size:13px;
  margin-top:0;
  display:none
}
#wizarad-myprofile-skills .myskill-table tr > td {
  padding:0 0 7px 0
}
.skill-header {
  color:#666;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  padding-bottom:7px
}
.skill-columns {
  font-size:13px;
  font-weight:normal
}
.skillname-set {
  width:309px;
  float:left;
  height:22px
}
.proftitle-set {
  width:180px;
  float:left;
  height:22px
}
.dsiplay-other-set {
  width:110px;
  float:left;
  height:22px
}
.edit-delete-set {
  width:68px;
  float:left;
  height:22px
}
.edit-delete-set .skills-edit-delete {
  color:#FF7924;
  font-size:11px;
  cursor:pointer
}
.edit-delete-set div {
  float:left;
  margin-left:1px
}
.skill-tab-seperator {
  color:#999;
  margin-top:-1px;
  padding-left:3px;
  padding-right:2px
}
.skill-set-image-button a,.skill-set-image-button a:hover {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -169px -681px;
  color:#4686DD;
  font-size:13px;
  line-height:24px;
  padding:1px 9px 0 11px;
  display:block;
  float:right;
  text-decoration:none
}
.skill-text-box {
  padding:0;
  width:248px;
  font-size:13px
}
#myskill-parent .form-type-textfield,
.prof-parent .form-type-select,
.disp-parent .form-type-select {
  margin:0;
  display:inline
}
#myskill-parent {
  padding:5px;
  font-size:13px
}
#myskill-parent .addedit-cfield-delbtn-wrapper {
  width:100%
}
#myskill-parent .prof-label,
#myskill-parent .skill-label {
  display:inline-block;
  width:80px
}
#myskill-parent .disp-label {
  width:105px;
  display:inline-block
}
#myskill-parent .disp-parent .expertus-dropdown-bg-addSkill {
  display:inline-block
}
#myskill-parent .expertus-dropdown-icon-addSkill,
#myskill-parent .prof-parent .expertus-dropdown-bg-addSkill {
  display:inline
}
#myskill-parent .disp-parent .skill-dropdown-disp,
#myskill-parent .prof-parent .skill-dropdown-prof {
  width:55px;
  height:24px;
  font-size:13px
}
#myskill-parent .prof-parent {
  width:170px;
  display:inline-block
}
#myskill-parent .disp-parent {
  width:150px;
  display:inline
}
#myskill-parent .skill-label label {
  color:#666;
  font-size:13px;
  font-weight:normal
}
#myskill-parent .prof-label label {
  display:block;
  margin:8px 0 0;
  color:#666;
  font-size:13px;
  font-weight:normal
}
#myskill-parent .disp-label label {
  color:#666;
  font-size:13px;
  font-weight:normal
}
select.skill-dropdown-prof {
  width:80px
}
select.skill-dropdown-disp {
  width:99px
}
.skil-save-button-container {
  display:inline-block;
  margin:10px 0 0 0
}
#myskill-parent messages error {
  display:none
}
.noskillrecords-msg-edit-page {
  color:#999;
  font-size:12px;
  height:30px;
  width:100%;
  text-align:center
}
.rating-static {
  width:105px;
  height:16px;
  display:block;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/square.png') 0 0 no-repeat
}
.learner-save-skill-button .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
  margin-top:10px
}
.rating_10 {
  background-position:-4px 0;
  width:100px
}
.rating_9 {
  background-position:-14px 0;
  width:100px
}
.rating_8 {
  background-position:-24px 0;
  width:100px
}
.rating_7 {
  background-position:-34px 0;
  width:100px
}
.rating_6 {
  background-position:-44px 0;
  width:100px
}
.rating_5 {
  background-position:-54px 0;
  width:100px
}
.rating_4 {
  background-position:-64px 0;
  width:100px
}
.rating_3 {
  background-position:-74px 0;
  width:100px
}
.rating_2 {
  background-position:-84px 0;
  width:100px
}
.rating_1 {
  background-position:-94px 0;
  width:100px
}
.rating_0 {
  background-position:-103px 0;
  width:100px
}
#myskill-parent div.error {
  display:block;
  margin:0 0 4px 0
}
#myskill-parent .skill-text-box {
  height:19px;
  font-size:13px
}
#myskill-parent .input-field-grey {
  color:#333;
  font-size:12px;
  font-style:normal
}
#myprofile-skill-userdetails .ui-state-highlight,
#myprofile-skill-details .ui-state-highlight {
  border:none;
  color:#222
}
#learner-myskill-details .block-title {
  width:85%;
  float:left
}
#learner-myskill-details .skill-set-image-button {
  width:15%;
  float:right;
  margin-top:4px
}
.my-skill-wrapper {
  padding:10px 14px 0
}
.skill-seperate {
  padding-bottom:7px
}
.myskill-first-header .skillname-set,
.myskill-first-header .proftitle-set,
.myskill-first-header .dsiplay-other-set,
.myskill-first-header .edit-delete-set {
  padding-bottom:0
}
#myprofile-myactivity-screen .skillname-set {
  width:360px;
  float:left;
  height:22px;
  padding-left:2px
}
#myprofile-myactivity-screen .proftitle-set {
  width:100px;
  float:left;
  height:22px
}
.page-learning-my-profile #bubble-face-table #show_expertus_message {
  margin-left:0
}
#myskill-parent .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
  margin-right:6px
}
#delete-object-dialog .ui-state-default {
  position:relative
}
.ui-jqgrid .ui-pg-table td.ui-state-disabled:hover {
  padding:0
}
.fade-out-title-container.exp-sp-skill-list-view-title-fadeout-container{
  max-width:250px
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .edit-delete-set {
    padding-left:3px;
  }
  #myskill-parent .learner-save-skill-button .addedit-form-cancel-container-actions {
    margin-right:2px;
  }
}