.question-wrapper-clear {
  clear:both
}
#survey-question-basic-addedit-form {
  float:none
}	
.edit-group-question-list {
  order-bottom:1px solid #CCC;
  float:left;
  font-size:12px;
  margin:0;
  padding:0 0 10px 13px;
  width:98.3%
}
.question-option-txt {
  color:#333;
  font-size:13px;
  font-weight:normal;
  text-align:left
}
.addedit-choice-btn-txt {
  background-color:#FFF1E6;
  border:1px solid #FFF;
  color:#E36500;
  cursor:pointer;
  text-align:center;
  font-size:12px;
  padding:0 7px
}

#add_question_options .form-type-radio {
  background-color:#EFEFEF;
  border:0;
  color:#E36500;
  cursor:pointer;
  font-size:12px;
  padding:1px 1px;
  text-align:center
}
#survey-question-basic-addedit-form {
  width:548px
}
#survey-question-basic-addedit-form .addedit-new-field-title {
  width:120px;
  float:left
}
#survey-question-basic-addedit-form .addedit-twocol-firstcol {
  width:280px
}
#survey-question-basic-addedit-form .addedit-twocol-secondcol {
  float:left;
  width:238px
}
#survey-question-basic-addedit-form .addedit-secondcol-field-value {
  width:144px
}
#survey-question-basic-addedit-form .addedit-edit-textfield {
  width:118px
}
#survey-question-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:82px
}
#survey-question-basic-addedit-form .addedit-left-col .addedit-new-field-value .form-textarea-wrapper {
  margin-right:0
}
#answer-choices-block {
  padding-top:1px
}
#answer-choices-block > #question_type_list_disp > table {
  display:inline-table
}
.addanother table tr td,
#question_type_list_disp table tr td {
  padding-top:0;
  padding-bottom:0
}
#add_question_options .survey-question-choices {
  display:block;
  height:25px
}
#add_question_options .survey-question-choices input {
  background:none repeat scroll 0 0 #EFEFEF;
  color:#333;
  font-size:12px;
  height:22px;
  margin-top:2px;
  padding:2px 5px 0 0
}
#add_question_options .survey-question-choices .form-item {
  background:#efefef;
  padding:3px 0 3px 2px
}
#add_question_options .survey-ans_options_txt {
  height:24px;
  background:none repeat scroll 0 0 #EFEFEF;
  width:auto;
  float:left;
  margin-right:3px;
  margin-top:3px
}
#add_question_options .ans_opt_txt{
  width:auto;
  float:left
}
#add_question_options .survey-ans_options_space {
  height:24px;
  background:#FFF
}
#answer_choice_textarea .addedit-edit-survey-textarea {
  width:100%
}
#answer_choice_textarea .addedit-new-field-value {
  padding:0;
  width:100%
}
#question_type_list_disp .answer_label {
  width:199px;
  font-size:13px;
  color:#666
}
.add_choice_btn {
  float:left
}
#add_choice_btn .form-submit {
  background-color:#DFF4FF;
  border:0;
  color:#333;
  cursor:pointer;
  font-size:12px;
  padding:3px 6px;
  text-align:center
}
#survey-question-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
  float:left;
  margin-top:0;
  width:99.6%
}
#answer_choice_textarea {
  color:#666;
  font-size:13px
}
.correct-answer-txt {
  color:#666;
  font-size:13px;
  float:left
}
.add-choice-btn-div {
  float:right; 
  padding-right:88px
}
.addedit-new-field-title-choice {
  vertical-align:top;
  float:right;
  width:70px;
  padding-top:4px
}
#answer_type_container .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea{
  width:360px
}
#add-choice-btn-div .admin-add-more-field-column {
  width:100%
}
#add-choice-btn-div .addedit-new-field .addedit-new-field-value {
  padding:0
}
#survey-question-basic-addedit-form .admin-save-button-container {
  margin:0;
  float:left
}
.admin-survey-question-delete-option-tbl {
  width:28px
}
.delete-choice-btn {
  height:20px;
  width:24px;
  margin-left:1px;
  margin-top:5px
}
.delete-choice-btn input {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat 4px 0;
  border:0;
  cursor:pointer;
  text-align:center;
  height:20px;
  width:24px;
  font-size:0;
  margin-left:6px
}
.div-align-top {
  vertical-align:top;
  width:123px
}
#survey-question-basic-addedit-form .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
  height:25px;
  max-width:392px;
  min-width:392px;
  min-height:25px
}
#survey-question-basic-addedit-form .addedit-left-col .addedit-form-cancel-container-actions {
  margin-right:18px
}
#survey-question-basic-addedit-form .addedit-left-col .addedit-form-cancel-container-actions .add-custombtn-symbol {
  margin-top:5px
}
.addedit-edit-survey_status .addedit-edit-dropdown .form-select {
  width:119px
}
#question_type .addedit-edit-question_type .addedit-edit-dropdown .form-select {
  width:123px
}
#survey-question-basic-addedit-form #two-col-row-question_type_lang_code .addedit-twocol-firstcol .expertus-dropdown-bg {
   width:130px
}
#survey-question-basic-addedit-form .expertus-dropdown-icon {
   width:100%
}
#survey-question-basic-addedit-form #two-col-row-question_type_lang_code .addedit-twocol-firstcol .addedit-edit-dropdown {
  width:133px
}
#survey-question-basic-addedit-form .addedit-twocol-secondcol .crs-lang-dropdown .addedit-edit-lang_code {
  width:144px
}
.svy-question-radioBtn-dotted-line {
  
}
.true-false-yn-opt input {  
  vertical-align:middle
}
.svy-question-radioBtn-dotted-line-new input,
#survey-question-basic-addedit-form .mch-correct-answer-checkbox input {
  margin:0 0 0 9px;
  vertical-align:middle
}
.svy-question-radioBtn-dotted-line-new span,
#survey-question-basic-addedit-form .mch-correct-answer-checkbox span {
  padding-left:5px;
  vertical-align:middle
}
#survey-question-basic-addedit-form .mch-correct-answer-checkbox span {
  padding-top:2px
}
.true-false-yn-opt {
  line-height:21px
}
.true-false-yn-opt span {
  vertical-align:middle;
  padding-left:1px
}
#survey_attach_questions_dt .attach-question-mandatory,
#survey_attach_questions_dt .attach-question-score {
  width:90px
}
#survey_attach_questions_dt .attach-question-score {
  padding-top:2px	
}		
#survey_attach_questions_dt .attach-question-group-name {
  width:140px
}
#survey_attach_questions_dt .attach-question-delete-btn {
  width:25px
}
#survey_attach_questions_dt .attach-question-move-icon-empty {
  width:9px
}
.admin-survey-assessment-choice-radio-button-container {
  float:right
}
.admin-survey-assessment-choice-radio-button {
  padding-bottom:6px
}
#survey-question-basic-addedit-form .yntf-answer-choice-text,
#survey-question-basic-addedit-form .mch-correct-answer-checkbox,
#survey-question-basic-addedit-form .dpn-correct-answer-radio {
  float:left;
  color:#666;
  font-size:13px;
  font-weight:normal;
  text-align:left;
  height:21px
}
#survey-question-basic-addedit-form .mch-correct-answer-checkbox input.form-checkbox {
  float:left;
  margin:0;
}
#survey-question-basic-addedit-form .dpn-correct-answer-radio {
  margin-left:8px	
}		
#survey-question-basic-addedit-form .yntf-answer-choice-text {
  width:182px
}
#survey-question-basic-addedit-form .yntf-answer-radio {
  float:left;
  width:204px;
  text-align:right;
  color:#666;
  font-size:13px;
  font-weight:normal;
  height:21px
}
#survey-question-basic-addedit-form .addedit-new-field-two-col {
  float:none
}
#survey-question-basic-addedit-form .answer-choices-block {
	padding:2px 0 2px 0
}
#survey-question-basic-addedit-form .mch-answer-choice-delete-button,
#survey-question-basic-addedit-form .dpn-answer-choice-delete-button,
#survey-question-basic-addedit-form .survey-question-choice-delete-button {
  height:20px;
  width:24px;
  margin-left:1px;
  margin-top:8px
}
#survey-question-basic-addedit-form .mch-answer-choice-delete-button input,
#survey-question-basic-addedit-form .dpn-answer-choice-delete-button input,
#survey-question-basic-addedit-form .survey-question-choice-delete-button input {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat 8px 0;
  border:0;
  cursor:pointer;
  text-align:center;
  height:20px;
  width:24px;
  font-size:0;
  margin-left:6px;
  vertical-align:middle;
  float:none;
  display:inline
}
#survey-question-basic-addedit-form .mch-answer-choice-text,
#survey-question-basic-addedit-form .dpn-answer-choice-text {
  
}
#survey-question-basic-addedit-form .mch-answer-choice-delete-button {
  
}
#survey-question-basic-addedit-form .assessment-answer-choice-textarea,
#survey-question-basic-addedit-form .survey-answer-choice-textarea {
  height:25px;
  min-height:25px;
  color:#333;
  font-size:13px;
  font-weight:normal
}
#survey-question-basic-addedit-form .assessment-answer-choice-textarea {
  max-width:295px;
  min-width:295px;
  border-radius:10px;
  border:1px solid #EDEDED
}
#survey-question-basic-addedit-form .survey-answer-choice-textarea {
  max-width:365px;
  min-width:365px;
  border-radius:10px;
  border:1px solid #EDEDED
}
#survey-question-basic-addedit-form .addedit-form-cancel-container-actions input {
  margin-top:0
}
.page-administration-survey-surveyquestions .admin-save-pub-unpub-button-container,
.page-administration-assessment-assessmentquestions .admin-save-pub-unpub-button-container {
  margin-top:0;
  padding-left:10px
}
.page-administration-survey-surveyquestions #survey-question-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-dropdown-middle-bg-wrapper,
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-dropdown-middle-bg-wrapper {
  border-radius:6px 0 0 6px;
  padding-bottom:1px;
  margin-top:1px
}
#survey-question-basic-addedit-form .addedit-new-field-title-choice {
  color:#666;
  font-size:13px
}
#survey-question-basic-addedit-form .mch-correct-answer-checkbox .form-item {
  margin:0
}
#survey-question-basic-addedit-form .yntf-answer-radio input {
  vertical-align:middle
}
#survey-question-basic-addedit-form .yntf-answer-radio span,
#survey-question-basic-addedit-form .dpn-correct-answer-radio span {
  vertical-align:middle;
  padding-left:1px;
  padding-top:3px
}
#survey-question-basic-addedit-form .answer-choices-block {
  padding-bottom:5px
}
#survey-assessment-addedit-form .addedit-addl-form-title {
  padding-left:13px
}
#survey-question-basic-addedit-form .addedit-left-col {
  padding:6px 0 15px 16px
}
#survey-question-basic-addedit-form #bubble-face-table .addedit-left-col {
  padding: 0;
}

#survey-question-basic-addedit-form .addedit-new-field-two-col .expertus-dropdown-bg {
  width:144px
}
.page-administration-assessment-assessmentquestions .mch-correct-answer-checkbox .survey-checkbox-unselected .form-type-checkbox input,
.page-administration-assessment-assessmentquestions .mch-correct-answer-checkbox .survey-checkbox-selected .form-type-checkbox input {
  margin:-10px 0 0 0
}
.page-administration-assessment-assessmentquestions div.ctools-modal-content #survey-question-basic-addedit-form .survey-checkbox-unselected ,
.page-administration-assessment-assessmentquestions div.ctools-modal-content  #survey-question-basic-addedit-form .survey-checkbox-selected {
  margin:7px 0 0 11px
}
#survey_attach_questions_dt .dragndrop-selectable-item {
	margin-right:10px;
	margin-top:2px
}
.page-administration-survey-surveydetails #survey_attach_questions_dt .attachquestion-table-heading .attach-question-title {
	width:184px
}
.question-opt-container .sub-opt-detail-code {
   font-family:openSansRegular, Arial;
}
#view-survey-attachquestion-list-wrapper .attachquestion-table-heading .attach-question-title{
  width:216px
}
#view-survey-attachquestion-list-wrapper .attachquestion-table-heading .attach-question-score{
 padding-right: 14px
}
#view-survey-attachquestion-list-wrapper .attachquestion-table-heading .attach-question-group-name{
  width: 119px
}
.page-administration-survey-surveyquestions .narrow-search-results-item-details .admin-narrow-search-fadeout-container,
.page-administration-assessment-assessmentquestions .narrow-search-results-item-details .admin-narrow-search-fadeout-container {
  max-width:490px
}
.page-administration-survey-surveyquestions #viewquestion-detail-wrapper .admin-narrow-question-view-title-fadeout-container, 
.page-administration-assessment-assessmentquestions #viewquestion-detail-wrapper .admin-narrow-question-view-title-fadeout-container {
  max-width:430px
}
.page-administration-survey-surveyquestions #viewquestion-detail-wrapper .admin-narrow-question-view-accessname-fadeout-container, 
.page-administration-assessment-assessmentquestions #viewquestion-detail-wrapper .admin-narrow-question-view-accessname-fadeout-container,
.page-administration-survey-surveyquestions #viewquestion-detail-wrapper .admin-narrow-search-question-view-tag-string-fadeout-container,
.page-administration-assessment-assessmentquestions #viewquestion-detail-wrapper .admin-narrow-search-question-view-tag-string-fadeout-container {
  max-width:450px
}
.page-administration-survey-surveyquestions .narrow-search-results-item-details .addedit-cataog-access-group-name-fadeout-container,
.page-administration-assessment-assessmentquestions .narrow-search-results-item-details .addedit-cataog-access-group-name-fadeout-container {
  max-width:275px
}
tr.ui-state-hover .access-mro-visibility #group-control .addedit-cataog-access-group-name-fadeout-container .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
.page-administration-survey #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-survey #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image,
.page-administration-assessment #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-assessment #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
.page-administration-survey-surveyquestions #page-container .narrow-search-results-item-action,
.page-administration-assessment-assessmentquestions #page-container .narrow-search-results-item-action {
  border:none
}
.page-administration-survey-surveyquestions #exp-sp-administration-tags-addedit-form-html .tag-details-row table + table,
.page-administration-assessment-assessmentquestions #exp-sp-administration-tags-addedit-form-html .tag-details-row table + table{
  width:auto
}
#survey-question-basic-addedit-form .addedit-edit-answer-type {
  clear:none;
  float:left;
  height:19px;
  margin: 3px 3px 0 0px
}
#survey-question-basic-addedit-form .assessment-answer-block-container .option{
  float:left;
  margin: 0 11px 0 2px;
  vertical-align: middle
}
#survey-question-basic-addedit-form .assessment-answer-block-container .form-item-answer-min-criteria{
  margin-top:4px
}
#survey-question-basic-addedit-form .assessment-answer-block-container .info-answer-logic {
  cursor: pointer;
  position: relative;
  top: 2px;
}
#survey-question-basic-addedit-form .assessment-answer-block-container{
  float: left;
  width:100%
}
#survey-question-basic-addedit-form .assessment-answer-block-container .admin-answer-min-criteria {
  float: left;
}
#survey-question-basic-addedit-form .assessment-answer-block-container .form-type-radio label {
	font-size:12px
}
.theme-ctool-popup .assessment-answer-block-container .expertus-dropdown-bg{
  margin-top:4px
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.page-administration-survey-surveydetails .checkbox-unselected input,
	.page-administration-assessment-assessmentdetails .checkbox-unselected input {
	  width:14px;
	  height:20px
	}
	.page-administration-survey-surveydetails .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div ,
	.page-administration-assessment-assessmentdetails .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div input {
	  padding-left:3px
	}
	.page-administration-assessment-assessmentquestions .expertusV2PopupContainer .survey-checkbox-unselected input, 
	 div.ctools-modal-content .survey-checkbox-unselected input{
	  height:18px
	}
	#survey-question-basic-addedit-form .assessment-answer-block-container .option{
	  margin: 0 16px 0 2px;
	}
}
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
   .fade-out-title-container.narrow-search-lang-fadeout-container{
    margin-bottom:-4px
   }
	#survey-question-basic-addedit-form .assessment-answer-block-container .option{
	  margin: 2px 15px 0 2px;
	}
}}	
/*safari hack End*/