#edit-panes-payment-payment-method{
  width: 46%
}
.page-cart-checkout-paymethod  #uc-cart-checkout #payment-pane #payment-details{
  width: 51%
}
#payment-details .order-edit-table .oet-label{
  width:26%
}
.commerce-container-v2 .payment-billing-details-info{
  width:44.5%
}
#root-admin #root-admin-search-right-col #tab-content-main .narrow-search-results-item-details td.attachment-empty-column-height {
  height:54px
}
#program-tp-basic-addedit-form-container .crs-tab-titles-container td.attachment-empty-column-height {
  height:34px
}
#schedule-qtip-popup .schedule-exportcontainer-page{
  right:150px
}
#schedule-qtip-popup .schedule-list-wrapper .page-pipeline{
  right:148px
}
#schedule-qtip-popup .schedule-list-wrapper .datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table{
  left:214px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container #pager-ins_center td.search-pagination-right {
  min-width:110px
}
.page-learning-forum-topic-list #page-container .admin-forum-topic-detail-action-btn .addedit-form-cancel-container-actions{
  width:198px
}
body.page-learning.page-learning-myteam-search table#paintContentResults .top-record-div-left{
  width:322px
}
.sf-table-heading{
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 6px solid #E5E5E5;
}
/*rendering*/
.addedit-customattributes-wrapper .new-customattribute #create-dd-list {
		margin-left: 108px;
}
#new-customattribute-wrapper-textarea .new-customattribute #create-dd-list {
    margin-left: 105px;
}
#new-customattribute-wrapper-textbox .new-customattribute #create-dd-list {
    margin-left: 108px;
}
.page-administration-manage-customattribute #page-container #narrow-search-actionbar-list #create-dd-list .create-dd-list-arrow {
    left: 116px
}
/*#custom_attribute_0078975*/
#customattribute-basic-addedit-form-container #admin-save-screen-button {
	margin-left: 0
}
.page-administration-manage #carousel_container #carousel_inner {
	width: 405px
}
.page-learning-my-profile #block-exp-sp-my-skill-my-skill #learner-myskill-details #bubble-face-table #myskill-parent .prof-parent{
  width:221px
}
.page-learning-my-profile #block-exp-sp-my-skill-my-skill #learner-myskill-details #bubble-face-table .learner-save-skill-button .addedit-form-cancel-container-actions{
	margin-right:3px
}
.page-learning-my-account  #page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box{
  margin-left:314px
}
.page-learning-my-account-preference.page-learning-my-account #page-container #learner-myaccount-details #wizard-form-wrapper .pref-save-cancel-container-alignment{
  margin-left:239px
}
#customattribute-basic-addedit-form-disp .custom_attr_checkbox .customattribute-basic-addedit-form-container .addedit-edit-cattr_display_opt, #customattribute-basic-addedit-form-disp .custom_attr_radio .customattribute-basic-addedit-form-container .addedit-edit-cattr_display_opt {
    width: 85px;
}
#customattribute-basic-addedit-form-disp .custom_attr_checkbox .customattribute-basic-addedit-form-container .addedit-twocol-secondcol .addedit-new-field-title, #customattribute-basic-addedit-form-disp .custom_attr_radio .customattribute-basic-addedit-form-container .addedit-twocol-secondcol .addedit-new-field-title {
    width: 103px;
}