a:active {
  background-color:transparent
}
/* styles in layout*/
#request_class_holder .check-label {
  padding-top:4px;
  float:left
}
/*catalog style starts*/
#gbox_lnr-prerequisite #gview_lnr-prerequisite tr.ui-widget-content td{
  border-left:0
}
/*discussion style starts*/

/*sigin , register style starts*/

/*account settings style starts*/
.my-myaccount-wrapper #addedit-account-details-page .form-item-SmsAlertCheck {
  margin-left:158px;
  width:20px
}
.my-account-box .field-yes {
  margin:3px 3px 0 2px;
  float:left
}
#addedit-account-details-page .form-item-SmsAlertCheck {
  margin-left:175px
}
#exp-sp-my-account-form .my-account-box.my-account-action-box .my-account-title span.action-button {
  margin-right:0
}


#my-login-container .form-item-pass label {
  padding-top:0
}
/*Profile style starts*/
.skillname-set {
  width: 305px
}
.edit-delete-set {
  width: 66px
}
#activity-pager .ui-pg-table  {
  float:left
}	
#activity-pager .ui-pg-table .ui-pg-table {
  float:right
}
#myskill-parent .prof-parent .skill-dropdown-prof.form-select,
#myskill-parent .disp-parent .skill-dropdown-disp.form-select {
  line-height:20px;
  height:18px
}
#myskill-parent .disp-parent .disp-label {
  width:102px
}
#activity-pager_center #data-table-page-view select.ui-pg-selbox {
  line-height:20px;
  height:18px;
  padding-top:2px
}
.del-link {
  margin-left:2px
}
/*my learning style starts*/
.my-transcript-pager .ui-pager-control {
  float:right
}
.mark-complete-wizard-popup-label span {
  vertical-align:text-top
}
/*reports style starts*/
#data-table-page-view select.ui-pg-selbox {
  height:18px
}
.reportListItem {
  box-shadow:0 1px 6px rgba(0,0,0,.5)
}
#cart_items #tbl_container .table-content-container .table-accordion-content {
  width:160px
}
/*Team style starts*/

/*shopping cart ctart*/
#uc_cc_info .form-item .form-text {
  width:168px
}
.page-cart-checkout-review .commerce-container .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
  margin-top:-3px
}
/*Commerce Style start*/
.user-information-container-form label {
  width:140px 
}
#admin_order #productorg-pane .user-information-container-form input {
  margin-top:5px
}
#admin_order #uc_cc_info .form-item .form-text {
  width:168px
}
.select-trainings-dropdown {
  padding-top:6px
}
.page-administration-commerce-setting .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr .bubble-c,
.datagrid-payment-method-commerce .ui-jqgrid tr.jqgrow .bubble-c{
  height:60px
}
#discount-basic-addedit-form-container #edit-mrocancelbtn{
  margin-right:10px
}
/* course & class style starts*/
.clone-class-scroll-list  .clone-label-list{
  width:80%
}
/*people style starts*/
.ctool-login-modal #role-detail-wrapper .tot-txt-cls{
	margin-top:12px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls{
  position:relative
}
/*manage style starts*/
#modal-content #location-basic-addedit-form-container input.addedit-edit-addr2, 
#modal-content #location-basic-addedit-form-container input.addedit-edit-addr1 {
  width: 395px
}
#modal-content #announcement-basic-addedit-form  .admin-announce-frompart .exp-timepicker-selection {
  top:190px;
  width:56px
}
#announcement-basic-addedit-form .admin-announce-topart .exp-timepicker-selection{
  top:190px;
  width:56px
}
#banner-basic-addedit-form .addedit-new-field-value #edit-title{
  width:390px
}
#content-addedit-form #upload_detail_container #edit-content-data {
  font-size:200px
}
/* Survey Assessment Style Start */
#survey-question-basic-addedit-form .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
  min-height:21px;
  height:21px
}
#survey-question-basic-addedit-form .mch-correct-answer-checkbox{
  width:77px;
  margin-left:0
}
#survey-question-basic-addedit-form .mch-correct-answer-checkbox input{
  margin-top:-2px
}
::-ms-reveal, ::-ms-clear {
  display: none;
}

/* Styles for Widget */
#refer_course_holder  #refer_class_container form .checkbox-unselected, 
#refer_course_holder  #refer_class_container form .checkbox-selected {
  margin:2px 0 0 0
}
#request_course_holder .checkbox-selected .check-label,
#request_course_holder .checkbox-unselected  .check-label {
  margin-left:5px
}
#form-embed-widget .widgetsize-container select{
  width:130%
}
#multishareoption .refer-course-holder .widget-class-table .input-textarea{
  overflow:hidden
}
.refer-course-holder .refer-class-table .input-textarea,
.refer-course-holder .widget-class-table .input-textarea,
.profile-detail-editor-section .form-type-textarea .form-textarea-wrapper textarea{
  overflow-y:auto
}
#refer_course_holder .embedsharelabel{
  margin-top:1px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .content-grid-wrapper .ui-jqgrid-sortable input.multiselect-selectall {
  margin-left:3px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .checkbox-unselected,
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .checkbox-selected{
  margin-left:-1px
}
/* .tab-content-main .narrow-search-results #bubble-face-table .ui-jqgrid .ui-jqgrid-toppager{
  min-width:184px;
  max-width:184px
} */
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right{
  padding:2px 0 0
}
.my-transcript-content #my_transcript_list .search-pagination-right{
  padding-right:2px
}
.page-learning-enrollment-search #main-wrapper #announcement_pager_center{
  word-wrap:normal;
  max-width:185px;
  min-width:185px
}
.page-learning-my-profile #catalog-users #expertus-online-datatable-pager_center{
  word-wrap:normal
}
#catalog-users .search-pagination-right{
  padding-right:3px
}
.page-administration-people-setup #list-values-addedit-form-details .seperator-edit-delete {
  margin-top:2px
}
.admin-forum-action-link-container .disp_replycomments #admin-forum-add-comment-container .text-format-wrapper,
.admin-forum-action-link-container .qtip_forum_comments_edit #admin-forum-add-comment-container .text-format-wrapper {
  width:350px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-sortable input.multiselect-selectall {
  margin-left: -2px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .checkbox-unselected input {
  margin-left: -2px
}
#esign-wizard-dialog .ui-dialog .ui-dialog-buttonset{
  min-width:107px
}
#catalog-class-basic-addedit-form-container .attachment-empty-column-height,
#catalog-course-basic-addedit-form-container .attachment-empty-column-height{
  height:15px
}
#program-tp-basic-addedit-form-container #catalog-attachment-disp-container .attachment-empty-column-height {
  height: 14px
}
#order-basic-addedit-form-container .addedit-new-field .addedit-new-field-value .form-textarea-wrapper .addedit-edit-admin_comment {
  min-height: 55px;
}
.page-administration-people-organization  #admin-data-grid .orgusers .ui-jqgrid-toppager .ui-pg-table .ui-pg-table {
  right:-2px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-unselected,
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-selected{
  margin-left:3px
}