/* CSS STYLE
	CREATE DATE: 20112012
	CREATYE BY: vijay
	PURPOSE:  Apply style to mobile application module
*/

#learner-mobileapp-container {
  color:#333333;
}
#learner-mobileapp-container .learner-mobileapp-header h1 {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  padding: 14px 0;
  text-align: center;
}
#learner-mobileapp-container .learner-mobileapp-body-info {
  padding:35px 0px 65px 0px;
}
#learner-mobileapp-container .learner-mobileapp-body-android {
  float:left;
  width:485px;
  height:auto;
}
#learner-mobileapp-container .learner-mobileapp-body-android .learner-mobileapp-body-android-img {
  background:url('images/android.png') no-repeat;
  width:162px;
  cursor:pointer;
  display:block;
  text-decoration:none;
  margin-left:176px;
}
#learner-mobileapp-container .learner-mobileapp-body-android .learner-mobileapp-body-android-img-text {
  width:162px;
  color:#4686dd;
  text-align:center;
  padding-top:230px;
  cursor:pointer;
  font-size:13px;
  display:inline-block;
  
}
#page-container #learner-mobileapp-container .learner-mobileapp-body-android .learner-mobileapp-body-android-img-text {
  width: 162px;
  color: #464646;
  text-align: center;
  padding-top: 230px;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  font-family: ProximaNovaBold;
  
}
#learner-mobileapp-container .learner-mobileapp-body-android .learner-mobileapp-body-android-img-text .mobile-app-sub-text {
  font-size:11px;
} 

#learner-mobileapp-container .learner-mobileapp-body-iphone {
  width:485px;
  height:auto;
  float:left;
}
#learner-mobileapp-container .learner-mobileapp-body-iphone .learner-mobileapp-body-iphone-img {
  background:url('images/iphone.png') no-repeat;
  width:162px;
  cursor:pointer;
  font-size:13px;
  display:block;
  text-decoration:none;
  margin-left:180px;
}
#learner-mobileapp-container .learner-mobileapp-body-iphone .learner-mobileapp-body-iphone-img-text {
  width:162px;
  color:#4686dd;
  text-align:center;
  padding-top:230px;
  cursor:pointer;
  display:inline-block;
}

#page-container #learner-mobileapp-container .learner-mobileapp-body-iphone .learner-mobileapp-body-iphone-img-text {
  width:162px;
  color:#464646;
  text-align:center;
  padding-top:230px;
  cursor:pointer;
  display:inline-block;
  font-family: ProximaNovaBold;
}

#learner-mobileapp-container .learner-mobileapp-body-seperator {
  width:20px;
  float:left;
}
#learner-mobileapp-container .learner-mobileapp-body-seperator .learner-mobileapp-body-seperator-line {
  border-left: 1px solid #CCCCCC;
  height: 65px;
  margin-left: 9px;
  width: 1px
}
#learner-mobileapp-container .learner-mobileapp-body-seperator .learner-mobileapp-body-seperator-text {
  height: 35px;
  padding-top: 25px;
  width: 20px;
}

/* POPUP STYLE START HERE */
.learner-mobile-app-dialog {
  padding-top:20px;
  color:#333333;
}
.learner-mobile-app-dialog .learner-mobile-app-android {
  width:99px;
  height:163px;
  margin:0px 38px 0px 38px;
  background:url('images/android-img.png') no-repeat;
  float:left;
} 
.learner-mobile-app-dialog .learner-mobile-app-iphone {
  width:99px;
  height:163px;
  background:url('images/iphone-img.png') no-repeat;
  margin:0px 38px 0px 38px;
  float:left;
}
.learner-mobile-app-dialog .learner-mobile-app-message {
  float: left;
  width: 180px;
  margin:0px 25px 0px 0px;
}
.learner-mobile-app-dialog .learner-mobile-app-message span{
  color:#666666;
  font-size:16px;
}
.learner-mobile-app-dialog .learner-mobile-app-message .android-input-field {
  border:1px solid #cccccc;
  width:170px;
  height:22px;
  line-height:22px;
  margin-top:15px;
  color:#999999;
  font-style:italic;
}
.learner-mobile-app-dialog .learner-mobile-app-message .iphone-input-field {
  border:1px solid #cccccc;
  width:170px;
  height:22px;
  line-height:22px;
  margin-top:15px;
  color:#999999;
  font-style:italic;
}
.learner-mobile-app-dialog .learner-mobileapp-body-seperator {
  float:left;
  width:20px;
  margin-right:30px;
}
.learner-mobile-app-dialog .learner-mobileapp-body-seperator .learner-mobileapp-body-seperator-line {
  border-left: 1px solid #CCCCCC;
  height: 65px;
  margin-left: 9px;
  width: 1px
}
.learner-mobile-app-dialog .learner-mobileapp-body-seperator .learner-mobileapp-body-seperator-text {
  height: 22px;
  padding-top: 5px;
  width: 20px;
  font-size:12px;
}
.learner-mobile-app-dialog .learner-mobile-app-getit-android {
  width:180px;
  height:64px;
  margin:48px 0px 0px 0px;
  background:url('images/mobile-app-android.png') no-repeat;
  float:left;
  cursor:pointer;
}
.learner-mobile-app-dialog .learner-mobile-app-getit-iphone {
  width:187px;
  height:67px;
  margin:48px 0px 0px 0px;
  background:url('images/mobile-app-iphone.png') no-repeat;
  float:left;
  cursor:pointer;
}

/* BUTTON STYLE START HERE */
.mobile-button {
  padding:15px 0 0 0;
}
.learner-mobile-app-dialog .learner-mobile-app-message .mobile-button .mobile-btn-bg-left {
  width:10px;
  height:31px;
  background:url('images/send-bg.png') no-repeat;
  float:left;
  overflow:hidden; 
}
.learner-mobile-app-dialog .learner-mobile-app-message .mobile-button .mobile-btn-bg-middle {
  display:block;
  height:31px;
  background:url('images/send-bg.png') repeat-x 0 -31px;
  overflow:hidden;
  float:left;
  color:#ffffff;
  font-weight:bold;
  font-size:12px;
  padding:0px 10px;
  border:0px none;
  margin:0px; /* For chorme browser */
  cursor:pointer;
}
.learner-mobile-app-dialog .learner-mobile-app-message .mobile-button .mobile-btn-bg-right {
  width:10px;
  height:31px;
  float:left;
  background:url('images/send-bg.png') no-repeat 0 -62px;
  overflow:hidden; 
}
#mobile-app-download .error{
  font-size:12px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  min-height: 21px;
  margin: 0px;
}
.title-heading {
  padding:10px 0px 0px 17px;
  display:block;
  font-size:13px;
}
#page-container #learner-mobileapp-container .learner-mobileapp-body-iphone {
  width:0px;
  height:auto;
  float:left;
}
.learner-mobile-app-theme-expertusoneV2 .learner-mobile-app-message .android-input-field,
.learner-mobile-app-theme-expertusoneV2 .learner-mobile-app-message .iphone-input-field {
	font-style: normal;
	font-size: 11px;
}
#learning-mobile-app-send-link .newtheme-mobile-button{
	padding-top:16px;
}
.page-learning-mobile-app .modal-scroll {
  background:#fff
}
.page-learning-mobile-app div.ctools-sample-modal-content .popups-title a.close {
  float:right
}