#edit-panes-payment-payment-method{
  width: 47%
}
.page-cart-checkout-paymethod  #uc-cart-checkout #payment-pane #payment-details{
  width: 50%
}
.commerce-container-v2 .payment-billing-details-info{
  width:45.5%
}
/*rendering*/
/*#new-customattribute-wrapper-dropdown #create-dd-list {
    margin-left: 20px;
}
#new-customattribute-wrapper-radio #create-dd-list {
    margin-left: 49px;
}
#new-customattribute-wrapper-textarea #create-dd-list {
    margin-left: 51px;
}
#new-customattribute-wrapper-textbox #create-dd-list {
    margin-left: 68px;
}*/
#catalog-users #expertus-online-datatable-pager_center .ui-pg-table,
.my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table{
  min-width:175px;
}
.page-administration-assessment-assessmentdetails .popups-container-newui .addedit-form-cancel-and-save-actions-row .catalog-pub-add-list li input {
  float:none
}
#schedule-qtip-popup .schedule-exportcontainer-page{
  right:150px
}
#schedule-qtip-popup .schedule-list-wrapper .page-pipeline{
  right:148px
}
#schedule-qtip-popup .schedule-list-wrapper .datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table{
  left:214px
}
/*#catalog-class-basic-addedit-form-container  #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:48px
}*/
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container #pager-ins_center td.search-pagination-right {
  min-width:110px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container .ui-jqgrid-btable td.search-pagination-right {
  min-width:130px
}
body.page-learning-myteam-search .search-record-paint table#paintContentResults .top-record-div-left {
  width:382px
}
/* #myskill-parent .learner-save-skill-button .addedit-form-cancel-container-actions{
  margin-right:36px
} */
/*#custom_attribute_0078975*/
#customattribute-basic-addedit-form-container #admin-save-screen-button {
	margin-left: 0
}
.page-learning-my-account  #page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box{
  margin-left:246px
}
.page-learning-my-account-preference.page-learning-my-account #page-container #learner-myaccount-details #wizard-form-wrapper .pref-save-cancel-container-alignment{
  margin-left:278px
}