#gview_lnr-prerequisite .ui-widget-content,
#gview_lnr-prerequisite .ui-widget-header  { 
 background-color: #ccc;
 background:none;
 border-right: 0 
}
#gview_lnr-prerequisite .ui-state-default {
  background: none;
  border-left: 0;
  border-right:0;
  padding: 5px 0 4px 0px;
  text-align: left;
  font-size: 13px;
  color: #666
 }
#gview_lnr-prerequisite .classSubGrid {
  padding-left:0px
}
#gview_lnr-prerequisite .title_close {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -129px -16px;
  height: 14px;
  margin:0 2px 0 1px;
  float:left;
  width:12px
}
#gview_lnr-prerequisite .title_open {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -117px -14px;
  height: 14px;
  margin-left:1px;
  margin: 0 6px 0 -3px;
  font-size : 14px;
  float:left;
  width:12px
}
#gview_lnr-prerequisite a,
#gview_lnr-prerequisite a:hover {
  border: 0
}
#gview_lnr-prerequisite .ui-state-hover,
#lnr-prerequisite .ui-state-hover {
  border: 0;
  background-color: #fafafa
}
.jqrow, .ui-state-hover, .ui-row-ltr {
  border-right:0;
  border-bottom:0
 } 
#lnr-prerequisite tr:hover{
  border-right:0;
  border-top:0
}
#gview_lnr-prerequisite th.ui-state-hover {
  border: 0;
  background:none;
  border-bottom:0
}
#gview_lnr-prerequisite .ui-state-highlight {
  border: 0
}
#lnr-prerequisite table tr td {
  border-right:0
}
#gview_lnr-prerequisite .top-record-div-left .ui-widget-contents {
  padding: 8px 0 2px 1px;
  color:#333
}
#gview_lnr-prerequisite .classSubGrid .top-record-div-left {
  color: #2d2d2d;
  font-size: 12px;
  padding:7px 0 2px 3px;
  text-align: center 
}
#gview_lnr-prerequisite .ui-jqgrid .ui-jqgrid-btable {
  border-right:0;
  /* max-width: 718px; */
  table-layout: auto
  }
#gview_lnr-prerequisite .ui-widget-content a {
  text-decoration: none;
  display:inline;
}
#gview_lnr-prerequisite .jqgrow a {
  text-decoration: none;
  border-right:0;
}
#gview_lnr-prerequisite tr.jqgrow td {
  padding: 1px 0 2px 0;
  color: #474747;
  font-size: 12px
}
/* #gview_lnr-prerequisite tr.jqgrow td span.vtip {
  text-transform: uppercase;
  font-family: ProximaNovaBold	
} */
#gview_lnr-prerequisite tr .ui-jqgrid tr.ui-row-ltr td {
  border:0 
}
/* #gview_lnr-prerequisite tr.ui-widget-content td {
  border: 1px solid #ededed;
  border-width:0 0 1px;
  border-color: none 
} */
#gview_lnr-prerequisite tr.ui-widget-contents td, #gview_lnr-tpprerequisite tr.ui-widget-contents td {
  border:0
}
.search-register-btn {
  margin: 0 auto;
  width: 101px
}
#gview_lnr-prerequisite .search-register-btn tr td.action-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action.png") no-repeat;
  border:0;
  color:#FFF;
  cursor:pointer;
  font-size:13px;
  font-weight:bold;
  height:40px;
  vertical-align: middle;
  text-align:center ;
  width:99px
}
#gview_lnr-prerequisite .search-register-btn tr td.action-btn-disable {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action_disable.png") no-repeat;
  border:0;
  color:#FFF;
  font-size:13px;
  font-weight:bold;
  height:40px;
  vertical-align: middle;
  text-align:center;
  width:99px
}
.enroll-session-time {
  font-size:12px;
  color:#666;
  display:block;
  padding-left:9px;
  line-height:1.3em;
  width:90%
}
#gview_lnr-prerequisite .sessionDet {
  padding-top:7px;
  padding-bottom:12px;
  clear:both
 }
#gview_lnr-prerequisite .sessName {
  width:105px;
  float:left
}
#gview_lnr-prerequisite .sessDay {
  width:40px;
  float:left
}
#gview_lnr-prerequisite .sessDate {
  float:left
}
#gview_lnr-prerequisite .enroll-session-details {
 padding:1px 0 0 0 
}
#gview_lnr-prerequisite .enroll-loc-head {
  color:#666;
  padding:5px 0;
  font-size:13px 
}
#gview_lnr-prerequisite .enroll-loc-details {
  color:#666;
  width:100%;
  font-size:13px;
  margin:8px 0 0 0
}
#gview_lnr-prerequisite .enroll-location-text {
  color:#666;
  font-size:13px;
  line-height: 1.3em;
  padding:1px 0;
  width:400px
}
#gview_lnr-prerequisite .enroll-location-head {
  width:105px
}
#gview_lnr-prerequisite .cls-description,
.class-code-heading, .class-code-heading {
  color: #2d2d2d;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 0;
  padding-top: 8px;
  font-family: proximanovabold;
}
#gview_lnr-prerequisite .cls-lang {
 color: #666;
 font-size: 13px;
 width: 97%;
 clear:both
}
#gview_lnr-prerequisite .top-record-div {
  padding:0  
}
#gbox_lnr-prerequisite .subClassRow {
  border-bottom: 0;
  border-right: 0
}
/* #gbox_lnr-prerequisite .subClassRow .classSubGrid , */
#gbox_lnr-prerequisite .ui-jqgrid-view {
  border-bottom: 1px solid #EDEDED
}
#gbox_lnr-prerequisite .cls-grid-row-open {
  border-right: 0;
  border-bottom: 0
}
#gbox_lnr-prerequisite .cls-grid-row-close {
  border-right: 0;
  border-bottom: 1px solid #EDEDED
}
#gbox_lnr-prerequisite .ui-jqgrid tr.ui-row-ltr td,
#lnr-prerequisite .ui-jqgrid tr.ui-row-ltr td  {
  border:0
}
#lnr-prerequisite .ui-jqgrid tr.ui-row-ltr td {
  border-left:0;
  border-right:0
}
#gbox_lnr-prerequisite .jqgrow ui-row-ltr,
#lnr-prerequisite .jqgrow ui-row-ltr {
  border-left:0;
  border-right:0
}
.ui-jqgrid tr.ui-row-ltr td {  
  border: 0;
  padding:0;
  white-space: normal
}
#gbox_lnr-prerequisite .course-available-seats {
  color: #999;
  padding-bottom: 0;
  text-align: center;
  width: 100%
}
#gbox_lnr-prerequisite .cls-code-row {
  padding-left:4px
}
#gbox_lnr-prerequisite .cls-status-row {
  padding-left:2px
}
/* #lnr-prerequisite .classSubGrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td {
  border-bottom: solid 1px #ededed	
} */
.ui-widget-content {
  border:0
}
#lnr-prerequisite .classSubGrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-widget-contents td {
  border-bottom: 0
}
#lnr-prerequisite .item-title-code {
 color: #2d2d2d;
 font-size: 12px;
 padding-top: 4px;
 padding-left: 15px;
 font-family: openSansRegular, Arial;
 text-transform: none;
 font-weight: normal
}
#lnr-prerequisite .course-desc-info {
 color: #2d2d2d;
 font-size: 13px;
 display:block;
 width:95%;
 padding: 0 0 0 15px; 
 text-transform: none
}
#lnr-prerequisite .class-level {	
 font-size: 13px;
 margin-left: 15px
}
#lnr-prerequisite .radio-btn {	
  float: right;
  margin-right: 24px;
  padding : 0	
}
#lnr-prerequisite div.ui-jqgrid-hdiv {
 padding : 0
}
#lnr-prerequisite .time-zone-text {
  font-size:10px  
}
/*Viswanathan added for #76619,#76437,#76441 */
#lnr-prerequisite .meridian-time{
 font-size:8px	
}
#lnr-prerequisite .ui-widget-contents-list {
  color: #2d2d2d;
  font-size: 12px;
  font-family: openSansRegular, Arial;
  text-transform: none;
  font-weight: normal
}
#lnr-prerequisite .top-record-div-left .ui-widget-contents .course-desc-info .show-short-text,
#lnr-prerequisite .top-record-div-left .ui-widget-contents .course-desc-info .show-full-text {
  padding:0 5px;
  margin-left:0
}
#lnr-prerequisite .prerequisite-done-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  text-align: center
}
#lnr-prerequisite .prereq-action-container {
  text-align:right
}
#lnr-prerequisite .class-lang {	
 font-size: 13px;
 margin-left: 15px
}
.page-learning-catalog-search #lnr-prerequisite .class-pre-label {	
 font-size: 12px
}
#lnr-prerequisite .classSubGrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-widget-contents td span.class-pre-label {
  color: #2d2d2d;
  font-size: 12px;
  font-family: openSansRegular, Arial;
  text-transform: none;
  font-weight: normal	
}
#lnr-prerequisite .class-pre-txt {	
 color: #999;
 font-size: 13px 
}
#lnr-prerequisite .pipe-line {
 float:left;
 color: #999;
 padding : 0 2px	
}
#lnr-prerequisite span.more-text a.show-short-text {
  color: #FF7924;
  text-decoration: none;
  width: 10px;
  height: 10px;
  display: inline-block
}
#lnr-prerequisite .cls-title-open {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -117px -14px;
  float: left;
  font-size: 14px;
  height: 14px;
  margin: 0 4px 0 0;
  width: 12px;
  cursor:none
}
#lnr-prerequisite .prereq-enrolled-txt {	
  font-size: 13px; 
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center
}
#gview_lnr-tpprerequisite .ui-jqgrid-bdiv {
  overflow:hidden
}
.ui-jqgrid-bdiv .overall-seatleft-count {
  clear: both;
  font-size: 12px;
  position: relative;
  width: 100%;
  color: #999
}  
#gview_lnr-prerequisite .classSubGrid .top-record-div-left .overall-seatleft-count {
  text-align: right;
  right:10px
}
#gview_lnr-prerequisite .classSubGrid .top-record-div-left .admin-save-button-container {
  margin: 0
}
.page-learning-catalog-search .expertusV2PopupContainer .pre-select-class {
  padding: 5px 14px 5px 22px
}
.page-learning-catalog-search #content {
  width: 943px	
}
#lnr-prerequisite-container #gview_lnr-prerequisite {
 height: 500px;
}
.page-learning-catalog-search .exp-sp-prerequisite-course-title-fadeout-container{
  max-width: 695px;
}
.exp-sp-prerequisite-course-title-fadeout-container{
  max-width: 695px;
}
.exp-sp-prerequisite-course-code-fadeout-container{
  max-width: 460px;
  display: inline-block;
  margin-bottom: -8px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none
}
.page-learning-catalog-search .exp-sp-prerequisite-class-title-new-fadeout-container {
  max-width: 625px;
  margin-top:2px
}
.page-learning-catalog-search .exp-sp-prerequisite-class-title-fadeout-container{
  max-width: 380px;
  margin-top:2px
}
.exp-sp-prerequisite-class-code-fadeout-container{
  max-width: 200px;
  display: inline-block;
  margin-bottom: -8px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none
}
#lnr-prerequisite-container .exp-sp-prerequisite-class-session-date-fadeout-container.fade-out-title-container{
  max-width: 100px;
    display: inline-block;
  margin-bottom: -4px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none
}
#lnr-prerequisite-container .exp-sp-prerequisite-location-fadeout-container.fade-out-title-container{ 
	  max-width: 100px;
    display: inline-block;
  margin-bottom: -4px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none

	}
.exp-sp-prerequisite-class-location-fadeout-container{
  max-width: 200px;
  display: inline-block;
  margin-bottom: -8px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none
}
.exp-sp-prerequisite-tp-code-fadeout-container{
  max-width: 300px;
  display: inline-block;
  margin-bottom: -8px;
  line-height: 17px;
  font-family: openSansRegular,Arial;
  text-transform:none
}
/* Trunk8 Fadeout for Title and Description texts starts here */
#lnr-prerequisite .prerequisite-course-title .limit-title,
#lnr-prerequisite .prerequisite-tp-title .limit-title{
  max-width: 705px
}
#lnr-prerequisite .prerequisite-class-title .limit-title{
  max-width: 380px
}
#lnr-prerequisite .prerequisite-wbtclass-title .limit-title{
  max-width: 640px
}
#lnr-prerequisite tr:hover .limit-title-row .limit-title .fade-title,
#lnr-prerequisite tr:hover .limit-desc-row .limit-desc span.fade-desc {
  background:-ms-linear-gradient(to right, transparent, #fff 80%, #fff);/*For IE10*/
  background:linear-gradient(to right, transparent, #fff 80%, #fff)
}
/* Trunk8 Fadeout for Title and Description texts end here */
.page-learning-catalog-search .exp-sp-prerequisite-tp-title-fadeout-container{
  max-width: 695px;
}

#lnr-prerequisite #actionBtn  .search-register-btn {
  margin:0 auto;
  width:200%
}
/*! Chrome hack */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  #gview_lnr-prerequisite .classSubGrid .top-record-div-left{
    margin-right:25px
  }
} */
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
      #lnr-prerequisite .radio-btn{
        margin-right:12px
      }
      .exp-sp-prerequisite-course-code-fadeout-container,
      .exp-sp-prerequisite-class-code-fadeout-container{
        margin-bottom:0
      }
}}
/*safari hack End*/