#add-list-values-wrapper .addlist-table-heading {
  width:100%;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
  border-bottom:1px solid #DADADA;
  font-size:13px
}
#add-list-values-wrapper .adduser-title-heading {
  color:#666;
  font-family:openSansRegular, Arial;
  font-size:13px;
  font-weight:normal;
  text-transform:none;
  font-weight:bold
}
#add-list-values-wrapper .even-list-class {
  background:#F5F5F5
}
#list-values-addedit-form-details .add-custombtn-symbol {
  line-height:22px;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -169px -683px;
  font-size:13px;
  margin-top:2px
}
#list-values-addedit-form-details .enable-delete-icon {
    background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -362px -184px;
    height:20px;
    width:20px
}
#list-values-addedit-form-details .attached-list-container {
  min-width:62px;
  float:right;
  margin-right:8px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-title {
  width:50px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-value input.addedit-edit-textfield {
  width:193px
}
#addedit-listvalues-detail-wrapper .white-btn-bg-container {
  margin-right:90px;
  margin-left:0
}
#addedit-listvalues-detail-wrapper .addedit-form-cancel-and-save-actions-row {
 height:21px
}
#addedit-listvalues-detail-wrapper .addedit-form-cancel-container-actions {
  margin-right:14px;
  width:auto
}
#addedit-listvalues-detail-wrapper .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
	margin-right:5px
}
#list-values-addedit-form-details .add-another-button {
  cursor:pointer;
  float:left;
  font-size:12px;
  padding-left:13px;
  font-weight:normal;
  color:#4686DD;
  margin-bottom:3px
}
#list-values-addedit-form-details .delete-class-button {
  cursor:pointer
}
#list-values-addedit-form-details .add-list-pagination-container {
  float:right;
  margin-right:-10px;
  margin-top:20px;
  position:relative;
  min-width:174px;
  margin-bottom:5px
}
#list-values-addedit-form-details .add-list-first-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -253px;
  border:0;
  display:inline-block;
  float:left;
  height:24px;
  opacity:8;
  width:26px
}
#list-values-addedit-form-details .add-list-previous-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -91px -302px;
  border:0;
  display:inline-block;
  float:left;
  height:25px;
  opacity:8;
  width:26px
}
#list-values-addedit-form-details .add-list-next-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -126px -302px;
  border:0;
  display:inline-block;
  float:left;
  height:25px;
  opacity:8;
  padding:0;
  width:28px
}
#list-values-addedit-form-details .add-list-last-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -302px;
  border:0;
  display:inline-block;
  float:right;
  height:24px;
  opacity:8;
  padding:0;
  width:33px
}
#list-values-addedit-form-details .tot-txt-cls {
  font-size:12px;
  color:#333;
  display:inline-block;
  height:21px;
  min-width:50px;  
  float:left;
  margin:0 7px 0 4px
}
#list-values-addedit-form-details .form-item {
  display:inline
}
#list-values-detail-wrapper .list-form-class {
  background:#FFF;
  padding:10px 15px 25px 15px
}
#list-values-detail-wrapper .edit-adduser-list {
  padding-bottom:0px
}

#list-values-detail-wrapper .heading-background-class {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2453px;
  border-color:#E5E5E5 #DADADA #E5E5E5 #E5E5E5;
  border-style:solid;
  border-width:0 1px;
  height:25px
}
#addedit-listvalues-detail-wrapper .addedit-left-col {
  padding:15px 0 15px 5px
}
#list-values-detail-wrapper .pagination-total-pages {
  float:right;
  padding-right:1px;
  padding-top:3px
}
#list-values-detail-wrapper .add-user-delete {
  margin-top:0;
  margin-left:2px;
  width:20px;
  float:left
}
.add-user-delete {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat 5px 5px;
  cursor:pointer
}
#list-values-detail-wrapper .add-user-delete-disable {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat 5px 5px;
  float: left;
  margin-left: 2px;
  margin-top: 0;
  width: 20px;
  cursor:default
}
#addedit-listvalues-detail-wrapper .addedit-form-cancel-and-save-actions-row {
  margin-top:5px
}
#list-values-detail-wrapper .admin-action-button-edit{
  background:none;
  border:0;
  color:#FF7924;
  cursor:pointer;
  float:left;
  height:20px;
  margin-right:8px;
  padding:2px 0 0 1px;
  text-align:left
}
#list-values-detail-wrapper .addedit-page-text {
  border:1px solid #CCC;
  font-size:12px;
  height:14px;
  margin:2px 0 0 3px;
  text-align:center;
  vertical-align:middle;
  width:19px
}
#list-values-addedit-form-details .seperator-edit-delete {
  color:#CCC;
  float:left
}
#list-values-addedit-form-details .edit-button-list-values {
  float:left
}

/* Search CSS Styles Start */

#add-list-values-wrapper .admin_add_multi_search_container{
	top: 0px;
	width: 100%
}
#add-list-values-wrapper .admin_add_multi_auto_search{
	background : none;
	border: 0 none;
	width: 167px;
	padding-left: 0px
}
#add-list-values-wrapper .admin_ac_input_mainform{
	position: absolute;
	width: 146px;
	height: 23px;
	line-height: 24px
}
.theme-ctool-popup #add-list-values-wrapper .form-item .form-text{
	border: 0 none;
	border-radius: 0px;
}
#add-list-values-wrapper .admin-pagination-search-go{
	height: 23px
}
#add-list-values-wrapper #search-dropdwn-list{
	width: 70px
}
/* #add-list-values-wrapper #select-list-dropdown{
	font-family: ProximaNovaBold,Arial;
	padding: 4px 2px 5px 15px;
	text-transform: uppercase;
	width: 60px
} */
#add-list-values-wrapper .ac_loading{
	background: none;
	height: 23px;
	line-height: 24px
}
.admin_add_multi_auto_search .input-field-grey {
    font-size: 11px;
}
#list-values-detail-wrapper #list-values-addedit-form-details .admin_add_multi_auto_search .ac_input {
    background-position: 99% 3px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    font-size: 13px;
    height: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0 20px 0 0;
}
#list-values-detail-wrapper #list-values-addedit-form-details .admin_add_multi_auto_search .form-text.ac_loading{
	background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 99% -17px #FFF;
	height:18px;
	line-height:24px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5
}
.page-administration-people-setup .admin-save-button-container.add-class-button{
   padding-top: 10px;
}
#addedit-listvalues-detail-wrapper .crs-tab-titles-container{
	margin-top : 0px
}
.fade-out-title-container.admin-setup-name-fadeout-container{
   max-width:230px
}
#add-list-values-wrapper .even-list-class .fade-out-title-container.admin-setup-name-fadeout-container .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -60px
}
/*!Chrome Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #list-values-detail-wrapper .list-form-class {
    padding:10px 15px 25px 17px
  }
  .page-administration-people-setup div.popups-title .popups-close {
    margin-right:12px
  }
  #list-values-detail-wrapper .add-user-delete {
    margin-left:2px;
    margin-top:1px
  }
  #list-values-addedit-form-details .seperator-edit-delete {
    margin-top:2px
  }
  #list-values-detail-wrapper .add-user-delete-disable {
    margin-top:1px
  }
  .page-administration-people-setup .qtip-title .qtip-button .admin-bubble-close{
    top:-9px
  }
}