.region .block-exp-sp-my-profile {
  margin-top:0
}
.my-profile-box {
  clear:both
}
.my-profile-box td {
  height:19px
}
.my-profile-title {
  background:none;
  font-weight:bold;
  padding-top:2px;
  padding-bottom:3px
}
.my-profile-title-text {
  color:#417BAA;
  font-size:14px
}
.my-profile input[type="text"] {
  border:1px solid #FFF;
  height:22px;
  width:auto
}
.my-profile-title .action-button {
  cursor:pointer;
  display:block;
  float:right;
  height:19px;
  border:none;
  text-align:right
}
.my-profile-title .action-button input {
  display:inline-block;
  cursor:pointer;
  text-align:center;
  padding:0 2px;
  font-size:12px
}
.my-profile-box .field-title {
  font-size:13px;
  font-weight:normal;
  color:#666;
  padding:5px 5px 5px 3px;
  text-align:left;
  width:22%
}
.my-profile-box .field-value,
.my-profile-box .field-role,
.my-profile-box .field-mngr,
.my-profile-box .field-org {
  font-weight:normal;
  font-size:13px;
  color:#333;
  text-align:left
 }
.my-profile-box .field-value {
  padding:4px 0 4px 2px;
  width:78%
}
.my-profile-box .field-role {
  padding:0
}
.my-profile-box .field-mngr {
  padding:0 0 4px 6px
}
.my-profile-box .field-org {
  padding:4px 0 4px 4px
}
.my-profile-box .field-reports {
  font-weight:normal;
  font-size:13px;
  color:#333;
  padding:0 0 4px 0px;
  width:61px
}
.my-profile-box .field-at {
  font-weight:normal;
  font-size:13px;
  color:#333;
  text-align:left;
  padding:0 1px 0 5px;
  text-align:center
}
.my-profile-box .field-value label {
  display:none
}
.my-profile-wrapper span.require-image {
  display:inline-block;
  margin-left:5px;
  margin-top:5px
}
.my-profile-wrapper {
  clear:both;
  padding:10px 15px 0 16px;
  position:relative
}
#myprofile-parent .form-text {
  width:400px;
  float:left
}
#myprofile-parent .form-user-text {
  width:342px
}
#myprofile-parent .form-select {
  float:left;
  width:342px
}
.my-profile-wrapper .error {
  clear:both;
  display:block
}
.my-profile-wrapper div.messages,
.form-wrapper div.status,
.form-wrapper div.warning,
.form-wrapper div.error {
  margin:5px;
  width:83%
}
#wizard-form-wrapper .messages {
  margin:0 0 6px
}
#prof-required-box .require-image {
  float:left
}
#myprofile-parent .form-item,
.my-profile-wrapper .form-item,
.form-actions {
  margin:0
}
#myprofile-parent .action-button {
  float:right;
  margin-right:2px
}
#user-org-details .action-button {
  float:right;
  margin-right:105px
}
.my-profile-box-act-cls {
  position:absolute;
  right:10px;
  top:2px;
  width:200px
}
#profile-skill-fields .delbtn-wrapper .admin-delete-img {
  padding-left:12px
}
.my-profile-useraction-box {
  width:481px;
  display:block
}
#myprofile-parent .my-profile-useraction-box .action-button {
  margin:5px 16px 0 0
}
.my-profile-useraction-box tr td {
  width:479px;
  text-align:right;
  padding:0
}
.my-profile-useraction-box .admin-save-button-container,
#myprofile-parent .my-profile-useraction-box .action-button .admin-save-button-container,
#user-org-details .my-account-title .admin-save-button-container {
  margin-bottom:0
}
.my-profile-wrapper,
.my-profile-wrapper * {
  zoom:0
}
.my-profile-box .myProfile > tr > td {
  margin-top:2px;
  margin-bottom:2px;
  width:auto
}
.my-profile-box .myProfile1 >tr {
  margin-top:2px;
  margin-bottom:4px
}
.company-auto-txt {
  border:1px solid #7F9DB9
}
.my-profile-wrapper span.require-text {
  color:#FF0000;
  font-weight:bold
}
#learner-myprofile-details .block-title {
  color:#333;
  float:left;
  font-weight:bold;
  padding:0;
  text-align:left;
  text-indent:11px;
  text-transform:uppercase;
  width:25%
}
#learner-myprofile-details #learner-myprofile-sub-tabs {
  float:left;
  margin-left:10px;
  padding-top:4px;
  width:70%
}
.textarea-width {
  width:205px;
  font-size:13px;
}
.my-profile-wrapper .esign-fieldset-class {
  background-color:#DBEEFA;
  float:right;
  margin-right:82px;
  margin-top:0;
  position:absolute;
  right:0;
  top:62px
}
#exp_sp_my_profile_form .esign-fieldset-class .form-submit {
  float:right
}
.my-profile-cancel-button {
  background:none;
  border:0;
  color:#4686DD;
  cursor:pointer;
  float:left;
  height:24px;
  padding:0;
  margin-right:10px;
  font-size:13px
}
.form-item-org-other-organizations .textarea-width,
.form-item-org-other-manager .textarea-width {
  width:406px;
  height:25px
}
#userprofile-part .textarea-width {
  width:296px
}
#myprofile-parent .my-profile-useraction-box .my-profile-head-title {
  font-weight:bold;
  padding:0 9px 1px 0;
  float:left;
  font-size:15px
}
.my-profile-head-title {
  font-weight:bold;
  padding:0 9px 1px 0;
  float:left;
  font-size:15px
}
#myprofile-aboutme-part-start {
  margin-left:19px
}
.profile-block {
  clear:both;
  border-bottom:1px dotted #CCC;
  margin:15px 12px
}
#myprofile-parent #myprofile-myavatar-start {
  float:left;
  width:183px;
  margin-right:10px;
  height:205px
}
#myprofile-parent #userprofile-part div table {
  margin-top:5px
}
#userprofile-part table.myProfile1 {
  margin-bottom:5px
}
.my-profile-edit-button {
  background:none;
  border:0;
  color:#FA8B45;
  font-size:11px;
  font-weight:normal;
  cursor:pointer;
  float:left;
  height:18px;
  padding:0;
  margin-top:-2px
}
.my-profile-email-text {
  color:#4686DD;
  font-size:12px;
  font-weight:normal;
  float:left;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:3px
}
.myprofile-about-me {
  font-size:12px;
  padding-bottom:10px;
  margin-top:-10px;
  float:left;
  width:100%;
  line-height:18px;
  text-align:justify
}
#org-details-head {
  margin-left:1px
}
#user-org-details {
  margin-left:14px
}
.attach-btn-addpicture {
  border:0;
  color:#FF7924;
  cursor:pointer;
  font-size:11.5px;
  font-weight:normal;
  height:20px;
  line-height:20px;
  padding:3px 3px 0 2px;
  float:left
}
.attach-btn-addpicture-new {
  border:0;
  color:#FF7924;
  cursor:pointer;
  font-size:11.5px;
  font-weight:normal;
  height:20px;
  line-height:20px;
  margin:1px 0 0 57px;
  text-align:center;
  padding:3px 4px 0
}
.myprofile-browse-hidden {
  cursor:pointer;
  height:22px;
  left:19px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  position:absolute;
  width:135px
}
.del-link {
  cursor:pointer;
  color:#FF7924;
  background:none;
  border:0;
  font-size:11.5px;
  font-weight:normal;
  cursor:pointer;
  float:left;
  height:20px;
  padding:0;
  margin:3px 0 0 0
}
#myprofile-parent .form-submit {
  background:none;
  border:1px solid #000
}
.delete-profile-img {
  background:none;
  border:1px solid #000;
  cursor:pointer;
  height:10px;
  padding-left:3px;
  padding-top:1px;
  width:29px
}
.profile-save-button {
  border:1px solid #000;
  background:none;
  color:#FFF;
  float:left;
  font-size:12px;
  font-weight:normal;
  height:22px;
  line-height:22px;
  margin:0;
  padding:0;
  width:44px
}
.delete-title {
  margin:0 0 0 -37px;
  display:inline
}
#profile-skill-fields {
  margin-left:9px
}
.skilldetails-fieldset-wrapper .skill-button {
  cursor:pointer;
  color:#4686dd;
  background:none;
  border:0;
  font-size:12px;
  font-weight:normal;
  cursor:pointer;
  float:left;
  height:20px;
  padding:0
}
#profile-skill-fields .skill-actions-new {
  background:none;
  border:0;
  margin-left:7px
}
#profile-skill-fields .skill-actions-new .add-skillbtn-symbol {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -169px -682px;
  font-size:13px;
  line-height:22px;
  padding-left:10px;
  color:#4686DD
}
#profile-skill-fields input[type="text"] {
  width:330px
}
#profile-skill-fields select.skill-dropdown {
  width:150px
}
#profile-skill-fields select.skill-dropdown-exp {
  width:90px
}
.addedit-skilltitle-skillwrapper {
  width:333px;
  font-size:12px;
  font-weight:bold;
  line-height:26px;
  text-decoration:none;
  color:#666;
  padding:0 0 0 4px
}
.addedit-list-skill-title-skillwrapper {
  width:201px;
  font-size:12px;
  font-weight:bold;
  line-height:26px;
  text-decoration:none;
  color:#666
}
.addedit-proftitle-wrapper {
  width:151px;
}
.addedit-exptitle-wrapper, .addedit-proftitle-wrapper {
  font-size:12px;
  font-weight:bold;
  line-height:26px;
  text-decoration:none;
  color:#666;
  padding:0 0 0 4px
}
#profile-skill-fields .addedit-selecttitle-wrapper {
  width:200px
}
#profile-skill-fields .skil-action-box-link {
  width:580px
}
#profile-skill-fields .skil-save-button-container {
  float:right
}
#profile-skill-fields .skil-cancel-button-container {
  padding-left:480px
}
#profile-skill-fields .input-field-grey {
  color:#999;
  font-size:11px;
  font-style:italic
}
.addedit-about-me-container .addedit-new-field-title {
  padding:6px 0 4px 0;
  width:99px
}
.addedit-about-me-container .addedit-new-field-value {
  width:342px;
  padding:6px 0
}
div.list-skill-details {
  padding-left:8px
}
.my-profile-wrapper .norecords-skillset {
  color:#999;
  padding:10px 0 7px;
  text-align:center
}
#wizard-form-wrapper .addedit-cfield-delbtn-view-mode .addedit-list-skill-title-skillwrapper {
  padding-left:10px
}
#wizard-form-wrapper .addedit-cfield-delbtn-view-mode .addedit-proftitle-wrapper {
  padding-left:0
}
#wizard-form-wrapper .addedit-cfield-delbtn-view-mode .list-skill-details,
#wizard-form-wrapper .addedit-cfield-delbtn-wrapper .list-skill-details {
  padding-top:3px;
  padding-bottom:3px
}
#myprofile-myavatar-image {
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 4px rgba(0, 0, 0, .35);
  padding:10px 10px 5px;
  min-height:90px;
  min-width:80px
}
#myprofile-myactivity-screen .block .block-footer-left * {
  display:block
}
#add-picture-button .pipe-type {
  color:#999;
  float:left;
  padding:0 2px;
  line-height:22px
}
#userprofile-part .field-empty {
  color:#CCC;
  font-style:italic;
  font-size:11px;
  padding:0;
  margin-bottom:10px;
  margin-top:-5px;
  display:block
}
#myprofile-parent .defaultSkin table.mceLayout iframe {
  height:95px;
  min-width:462px
}
.profile-detail-editor-section {
  width:470px
}
.block-exp-sp-my-profile .block-title-middle h2.block-title {
  margin-left:-2px
}
.myprofile-browse-hidden-emptyimage {
  cursor:pointer;
  height:22px;
  left:-9px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  position:absolute;
  width:135px
}
span.profile-desc-more-text a.profile-desc-show-short-text {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1491px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  text-decoration:none;
  width:10px;
  cursor:pointer
}
span.profile-desc-more-text a.profile-desc-show-full-text {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1478px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  padding-left:6px;
  text-decoration:none;
  width:10px;
  cursor:pointer
}
#myprofile-myactivity-screen #myprofile-parent #myprofile-myavatar-start {
  float:left;
  width:125px;
  margin-right:9px;
  height:130px;
  overflow:hidden
}
#myprofile-myactivity-screen .my-profile-wrapper {
  clear:both;
  padding:10px 15px 0 11px;
  position:relative;
}
.ui-dialog #my-profile-editor-content {
  float:left;
  width:330px
}
#my-profile-editor-content {
  float:left;
  width:470px
}
.total-user-points {
  border:1px solid #CDCDCD;
  border-radius:4px;
  display:block;
  float:right;
  width:65px
}
.total-badge-points {
  border:1px solid #CDCDCD;
  border-radius:4px;
  display:block;
  float:right;
  margin-left:5px;
  width:65px;
  margin-right:0
}
.points-text-uppercase {
  color:#474747;
  padding-left:2px;
  text-align:center;
  font-weight:normal
}
.total-points {
  display:block;
  text-align:center;
  color:#FF7924;
  font-weight:normal
}
.profile-detail-save-container {
  background:url('/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png') no-repeat -390px -242px;
  cursor:pointer
}
.profile-detail-save-container {
  height:33px;
  width:37px
}
#my-profile-editor-content .my-profile-edit-section {
  display:inline-block
}
#my-profile-editor-content .profile-name-inline {
  display:inline
}
#myprofile-parent #my-profile-editor-content .profile-role-section {
  position:relative;
  top:-6px
}
#my-profile-editor-content .profile-detail-cancel {
  display:inline
}
#my-profile-editor-content .admin-desc-character-count catalog-desc-count {
  width:90px
}
#add-picture-button {
  width:185px
}
#learner-myprofile-details  #show_expertus_message {
  min-height:0
}
#learner-myprofile-details .my-profile-wrapper .exp-sp-myprofile-full-name-fadeout-container {
  max-width:170px   
}
#learner-myprofile-details .my-profile-wrapper .exp-sp-myprofile-manager-name-fadeout-container {
  max-width:240px   
}
.page-learning-my-profile .myskill-table .exp-sp-skill-list-view-skillname-fadeout-container {
  max-width:290px
}
.page-learning-my-profile .myactivity-table .my-activity-list-entity-title-fadeout-container {
  max-width:430px
}
#wizarad-myprofile-activity .ui-row-ltr:hover .fade-out-image {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
.page-learning-my-profile #catalog-users.most-active-user .profile-username {
  max-width:215px  
}
#myprofile-activity-userdetails .myactivity-table .my-activity-list-entity-title-fadeout-container {
  max-width:250px  
}
#myprofile-myskillset-screen #myprofile-skill-userdetails .exp-sp-skill-list-view-title-fadeout-container,
#myprofile-myskillset-screen #myprofile-skill-userdetails .exp-sp-skill-list-view-skillname-fadeout-container {
  max-width:340px  
}
