#cancellation-policy-admin-form fieldset {
  color:#4686DD;
  font-size:14px;
  text-decoration:none
}
#cancellation-policy-admin-form .dptxtfield {
  color:#333;
  font-size:14px;
  line-height:30px
}
#cancellation-policy-admin-form .dptxtfield  td{
  color:#666;
  font-size:13px
}
#cancellation-policy-admin-form .addedit-form-cancel-and-save-actions-row {
  margin-top:5px		
}
#cancellation-policy-admin-form .admin-save-button-container {
 margin:1px 0 0 11px
}
#cancellation-policy-admin-form .addedit-form-cancel-container-actions {
  margin-right:26px		
}
#admin-commerce-country-setting-plan .admin-datagrid-save-cancel-button-align-bottom {
  clear:both;
  margin:0 7px 6px 0		
}
#admin-commerce-country-setting-plan  .datagrid-country-setting-commerce {
 padding-bottom:22px;
 margin:1px 0 0 4px		
}
.datagrid-country-setting-commerce .norecords-msg-edit-page {
  padding-top:20px		
}		
.datagrid-country-setting-commerce .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
   padding-left:0			
}
.payment-tab-seperator {
  color:#999;
  padding-left:3px;
  padding-right:2px
}
#admin-commerce-payment-method-plan .crs-publish-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action.png") no-repeat 0 0;
  color:#FFF;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
  width:87px;
  cursor:pointer;
  padding:0 5px;
  display:table-cell;
  height:40px;
  word-wrap:break-word
}
#admin-commerce-payment-method-plan .crs-unpublish-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/UnPublished.png") no-repeat 0 0;
  color:#83B038;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
  width:87px;
  cursor:pointer;
  padding:0 5px;
  display:table-cell;
  height:40px;
  word-wrap:break-word
}
#admin-commerce-payment-method-plan .narrow-search-results-item-action-list-btn {
  text-align:center;
  font-weight:normal;
  cursor:pointer;
  color:#FF7924;
  text-decoration:none;
  font-weight:normal;
  float:left;
  font-size:11px;
  padding-left:1px 1px 0.2px
}
#admin-commerce-payment-method-plan .ui-widget-content td {
  border-bottom:0
}
.admin-check-details-wrapper {
  margin-left:4px;
  padding:10px 0;
  width:100%
}    
#admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
  padding-left:0;
  line-height:normal		
}
.admin-check-details-wrapper label {
  font-weight:normal;
  margin-bottom:5px;
  padding-bottom:5px;
  padding-left:1px;
  text-align:left
}		
#payment-check-details .form-item label{
  width:112px
}
#payment-check-details .postal-code-col .form-item label {
  padding-right:5px;
  text-align:right;
  width:106px
}
#payment-check-details #adddedit-state-wrapper .addedit-new-field-title{
  padding-right:6px;
  text-align:right;
  width:108px
}
#payment-check-details .uc-check-mailing-name,
#payment-check-details .uc-check-mailing-street1,
#payment-check-details .uc-check-mailing-street2 {
 width:369px		
}
#payment-check-details .addedit-new-field-title {
  width:109px;
  color:#333		
}				
#payment-check-details .form-item, #payment-check-details .form-actions	{
  margin-bottom:0;
  margin-top:0		
}
#payment-check-details .greyouttext {
  font-size:9px;
  color:#999;
  display:inline-block;
  float:left;
  font-size:9px;
  line-height:2px
}
#payment-check-details .admin-save-button-container {
  margin:2px 3px 0 0		 	
}
#payment-check-details .uc-check-mailing-city,
#payment-check-details .uc-check-mailing-postal-code {
  width:122px
}
#payment-check-details img {
  display:none		
}		
#payment-check-details .addedit-edit-dropdown {
  border:1px solid #7F9DB9;
  width:126px
}
.add_session_popup .qtip-close-button{
  top:10px		
}
#paintContentqtip_visible_disp_addpayment_check_payment #show_expertus_message span {
  color:#222;
  padding:0
}
#popup_container_qtip_visible_disp_addpayment_check_payment #bubble-face-table #show_expertus_message {
  top:27px;
  margin-left:12px
}  
#payment-check-details span.addedit-mandatory{
  color:#FF0000;
  font-weight:bold;
  float:none;
  padding:0		
}
#payment-check-details .cancel-align-bottom {
  margin:3px;
  float:left
}
#commerce-cc-settings-tabs li span {
  height:35px;
  display:block;
  padding:0
}
#commerce-cc-settings-screen-wrapper .cancel-align-bottom {
  margin:3px;
  float:left
}
#commerce-cc-settings-tabs li .commerce-cc-settings-other-wrapper input.form-submit {
  padding:2px 0 0 8px
}
#commerce-cc-settings-tabs li .commerce-cc-settings-other-wrapper .commerce-cc-settings-other-hint {
  color:#666;
  font-size:11px;
  padding:0 0 5px 10px;
  line-height:12px
}
#commerce-cc-settings-tabs li .commerce-cc-settings-other-button {
  line-height:0
}
#commerce-cc-settings-tabs li span.selected {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/admin_active_menu.png") no-repeat 0 0;
  width:102px;
  position:relative;
  z-index:1;
  padding-top:0
}
#commerce-cc-settings-tabs li span.selected.notfirst {
  width:102px
}
#commerce-cc-settings-tabs li span.selected input.form-submit {
  color:#333;
  margin:2px 0 2px 2px;
  padding:7px 0 7px 6px
}
#commerce-cc-settings-tabs li span.commerce-cc-settings-other-wrapper.selected input.form-submit {
  margin:2px 0 0px 2px;
  padding:0 0 0 6px
}
#commerce-cc-settings-tabs li span.commerce-cc-settings-other-wrapper.selected .commerce-cc-settings-other-hint {
  color:#666;
  font-size:11px;
  padding-bottom:3px;
  margin-bottom:2px;
}
#commerce-cc-settings-screen-wrapper .commerce-cc-settings-form-wrapper {
  width:auto;
  margin-bottom:0;
  float:left
}
#commerce-cc-settings-screen-wrapper .commerce-cc-settings-form {
  clear:none;
  width:557px;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  float:left;
  padding:0 2px 1px 0
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-title {
  width:125px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:100px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-two-col {
  width:540px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-edit-dropdown {
  width:146px;
  border:1px solid #7F9DB9;
  height:22px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-edit-textfield {
  width:139px;
  border:1px solid #7F9DB9;
  height:18px;
  padding-left:4px;
  padding-top:2px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-form-cancel-container-actions {
  margin-right:-3px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .input-field-grey {
  font-size:11px
}
#bubble-face-table #paintContentqtip_visible_disp_addpayment_credit_payment #show_expertus_message {
  margin-left:0;
  top:23px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .form-type-checkbox {
  width:145px;
  margin-top:4px
}
#commerce-cc-settings-basic-form .addedit-new-field-title-wrapper {
  float:left
}
#commerce-cc-settings-basic-form .addedit-new-field-title-wrapper .addedit-new-field-title {
  display:block;
  float:none;
  padding-bottom:0
}
#commerce-cc-settings-basic-form .addedit-new-field-title-wrapper .addedit-new-field-title-hint {
  font-size:9px;
  line-height:6px;
  margin-top:2px;
  text-align:left;
  color:#666
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .ui-multiselect {
  background:none;
  border:1px solid #7F9DB9;
  color:#333;
  font-size:12px;
  font-weight:normal;
  height:22px;
  padding-left:2px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .ui-icon {
  float:right
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .ui-icon + span{
  margin-top:0
}
#qtipEditPaymentIdqtip_visible_disp_credit_payment_disp span span {
  float:none
}
#commerce-cc-settings-basic-form .exp-card-types-error .ui-multiselect {
  border:1px solid #fc4646
}
#commerce-cc-settings-form-wrapper .addedit-mandatory  {
  color:#333
}
#commerce-cc-settings-form-wrapper .addedit-mandatory {
  color:#FF0000;
  float:none;
  padding:0
}
#qtipEditPaymentIdqtip_visible_disp_credit_payment_disp span .ui-multiselect .ui-icon {
  float:right
}
#qtipEditPaymentIdqtip_visible_disp_credit_payment_disp span .ui-multiselect span {
  padding:0;
  color:#333
}
#qtipEditPaymentIdqtip_visible_disp_credit_payment_disp #show_expertus_message span {
  color:#222;
  padding:0
}
#commerce-cc-settings-screen-wrapper .catalog-course-basic-addedit-action-disp,
#commerce-cc-settings-screen-wrapper .catalog-course-basic-addedit-action-disp ul li .form-submit {
  width:101px;
}
#popup_container_qtip_visible_disp_addpayment_credit_payment #bubble-face-table .addedit-left-col {
  padding:0
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-form-cancel-and-save-actions-row {
  margin-top:10px;
  width:98%
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .admin-save-button-container {
  margin:1px 0 0
}
#commerce-cancellation-policy-screen-wrapper.no-cancel-policy {
  min-height:265px
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div {
  top:105px;
  width:200px;
  height:auto;
  margin:0 auto;
  position:relative;
  right:6px;
  text-align:center
}
#no-cancel-policies-msg
{
  top:105px;
  position:relative
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div .add-cancel-policy-button-wrapper {
  height:22px
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div .admin-save-button-middle-bg {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") repeat -3px -1022px
}
#commerce-cancellation-policy-screen-wrapper .admin-empty-text-msg {
  padding-top:5px
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div .add-cancel-policy-more-list {
  width:104px;
  left:55px;
  top:0
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div .add-cancel-policy-popup {
  position:relative
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-actions-wrapper {
  position:relative;
  float:right
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-edit-wrapper,
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-delete-wrapper {
  float:left;
  position:relative
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .edit-cancel-policy-popup {
  display:inline;
  float:left;
  width:1px;
  height:9px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .tab-seperator {
  border-left:1px solid #CCC;
  height:13px;
  margin:2px 9px 0 8px;
  float:left;
  position:relative
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-delete-action {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat 0 0;
  display:block;
  text-decoration:none;
  width:9px;
  background-position:0 3px;
  margin-right:5px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-edit-action {
  color:#FF7924;
  cursor:pointer;
  font-size:11px;
  margin-left:7px
 }
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div {
  border:1px solid #CCC;
  margin:14px;
  min-height:100px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table {
  width:576px;
  margin-left:10px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table thead th {
  background-color:#FFF;
  color:#666;
  font-size:13px;
  padding:10px 5px 15px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table tbody tr.cancel-policy-display-table-row>td {
  color:#666;
  font-size:13px;
  padding:8px 5px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table tbody tr.odd {
  background-color:#FFF
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table tbody tr.even {
  background-color:#F8F8F8
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table tbody tr {
  vertical-align:top;
  border-bottom:none
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table-row .training-type {
  width:32%
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table-row .deduct-percent {
  width:40%
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table-row .deduct-days {
  width:14%
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-display-table-row .actions {
  width:14%;
  padding:8px 0 8px 5px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-another-cancel-policy-label {
  color:#4686DD;
  font-size:12px;
  cursor:pointer
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-session-popup-list {
  position:relative;
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-add-another-button-div {
  margin:14px 0 14px 14px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-another-cancel-policy-arrow {
  color:#4686DD;
  cursor:pointer;
  font-size:11px;
  display:inline-block;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat right -1482px;
  width:12px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-another-cancel-policy-type-list-ul {
  margin-top:0;
  margin-left:71px;
  bottom:-5px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-another-cancel-policy-type-list {
  position:relative
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .add-another-cancel-policy-openup-arrow {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -128px -1878px;
  height:19px;
  left:112px;
  position:absolute;
  top:0;
  width:24px;
  display:none;
  z-index:100
}
.dropdownadd-dd-list-arrow {
  top:-9px
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .addedit-edit-textfield {
  width:57px
}
#commerce-cancellation-policy-screen-wrapper #add-another-cancel-policy-qtip_disp {
  bottom:53px;
  left:4.5px 
}
#commerce-cancellation-policy-screen-wrapper #add-another-cancel-policy .bottom-qtip-tip {
  bottom:13px;
  left:64px 
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .addedit-form-cancel-container-actions {
  margin-right:3px
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .cancel-policy-addedit-form-table {
  color:#666;
  font-size:13px
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .form-type-textfield {
  display:inline
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .form-type-textfield input {
  border:1px solid #7F9DB9;
  height:18px;
  width:44px;
  margin-right:4px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-addedit-form-wrapper {
  margin:5px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-addedit-form-table td.narrow {
  width:65px
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-addedit-form-table td.wide {
  width:160px
}
#commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .admin-save-button-container {
  margin:1px 0 0
}
#commerce-cancellation-policy-screen-wrapper .cancel-policy-display-div .cancel-policy-popup-wrapper #bubble-face-table #show_expertus_message {
  margin-left:0
}
#commerce-cancellation-policy-screen-wrapper.has-cancel-policies > #show_expertus_message {
  margin-top:-14px
}
#admin-commerce-country-setting-plan .admin_add_multi_search_container .admin_add_multi_auto_search {
  background:none;
  padding:0
}
.visible-ctools-commerece-popup {
  position:relative;
  float:left
}
#admin-commerce-payment-method-plan .disable-delete-link {
  color:#CCC;
  cursor:default
}
.page-administration-commerce-setting #exp-sp-administration-payment-method-form tr.ui-widget-content > td > div.narrow-search-results-item-details div.narrow-search-results-item-action-list span span {
  padding:0
}
.page-administration-commerce-setting #exp-sp-administration-payment-method-form tr.ui-widget-content > td > div.narrow-search-results-item-details div.narrow-search-results-item-action-list .error ul li span,
.page-administration-commerce-setting #exp-sp-administration-payment-method-form tr.ui-widget-content > td > div.narrow-search-results-item-details div.narrow-search-results-item-action-list .status ul li span {
  color:#222
}
.datagrid-payment-method-commerce .ui-jqgrid tr.jqgrow td ,
.page-administration-commerce-setting .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  height:0
}
#admin-commerce-payment-method-plan .narrow-search-results-item-details {padding-bottom:15px}
.add-cancel-policy-more-list .dropdownadd-dd-list-arrow {height:14px}
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:580px
}
.fade-out-title-container.multi-grid-countrysetting-title-fadeout-container{
  max-width:200px
}
#admin-commerce-payment-method-plan .fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:428px
}
.fade-out-title-container.admin-narrow-search-edit-tooltip-code-fadeout-container{
  max-width:180px
}
/* Chrome hack */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  #admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td #visible-popup-credit .bubble-cl,
       #admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td #visible-popup-credit .bubble-c,
       #admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td #visible-popup-credit .bubble-cr
       {
        line-height:28px;
        min-height:110px
       }
       #admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td #visible-popup-credit .bubble-c{
         background-color:#fff
       }
       #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-form-cancel-and-save-actions-row{
         margin-top:0
       }
} */

/*safar hack*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media { _:-webkit-full-screen,
       #admin-commerce-payment-method-plan #bubble-face-table .bubble-cl,
       #admin-commerce-payment-method-plan #bubble-face-table .bubble-c,
       #admin-commerce-payment-method-plan #bubble-face-table .bubble-cr {
       min-height:100px;
       line-height:0;
       padding:0
       }
       #admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td #visible-popup-credit table,
       table {
       border-collapse: separate
       }
       #commerce-cc-settings-basic-form .addedit-new-field-title-wrapper .addedit-new-field-title-hint{
       line-height:15px
       }
 }}
