/* Common styles Start */
#block-exp-sp-lnrsearch-tab-search,
#block-exp-sp-forum-header-search
 {
    width: 23%;
}
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
/* Course/Class/Tp Details End */


/* Sign In styles Start */
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */
/* Account styles End */


/* Catalog styles Start */
/* Catalog styles End */

/* Profile styles Start */
#block-exp-sp-my-skill-my-skill #learner-myskill-details .skillname-set{
  width:250px;
}
#block-exp-sp-my-skill-my-skill #learner-myskill-details .proftitle-set{
	width:200px;
}
#block-exp-sp-my-skill-my-skill #learner-myskill-details .prof-parent .prof-label{
  width:188px;
 }
#block-exp-sp-my-skill-my-skill #learner-myskill-details .disp-parent .disp-label{
 width:105px;
}
/* Profile styles End */

/* Discussions styles Start */
/* Discussions styles End */

/* Team styles Start */
/* Team styles End */


/* Shopping Cart styles Start */
/* Shopping Cart styles End */


/* My Learning(My Enrollments) styles Start */
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
#learningplan-maincontent .EnrolltabNavigation-LP li.selected a span{
  padding-right:4px
}
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
/* Chat styles End */


/* Learning(Course/Class) styles Start */
.page-administration-learning-catalog #catalog-class-basic-addedit-form-container .admin-datagrid-session-with-addanother.virtualclass-session #more-wrapper-div{
  right:18px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .virtualclass-session .session-edit-delete-icons {
  margin-left: -25px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .session-added-edit-link-text {
  margin: 0 22px 0 -22px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .admin-pagination-action-link {
  margin-left: 3px
}
#catalog-course-basic-addedit-form #catalog-course-basic-addedit-form-disp #catalog-course-basic-addedit-form-container .two-column-container-view .second-col-container-view label {
  width: 172px
}
#catalog-course-basic-addedit-form-container #two-col-row-author_vendor .addedit-twocol-secondcol .addedit-new-field-title{
  width: 172px
}
#catalog-course-basic-addedit-form-container .attachment-empty-column-height,
#catalog-class-basic-addedit-form-container .attachment-empty-column-height{
  height:15px
}
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */
#program-tp-basic-addedit-form-container .enrolled-status ul.sub-menu {
  right:150px
}
#program-tp-basic-addedit-form-container #catalog-attachment-disp-container .attachment-empty-column-height {
  height: 15px
}
/* Learning(Training Plan) styles End */


/* People(User) styles Start */
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #chk,
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #unchk{
  margin-left:-8px
}
.page-administration-people .admin-save-pub-unpub-button-container {
  padding-left:6px
}
.page-administration-people .edit-catalog-course-save-publish{
  padding-left:5px
}
/* People(User) styles End */

/* People(Organization) styles Start */
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls{
  position:relative
}
.page-administration .access-mro-visibility .resize-save_btn,
.page-administration-people-group .access-mro-visibility .resize-save_btn{
  width:132px
}
.page-administration .resize-save_btn{
  width:132px
}
.page-administration .resize-save_btn4{
  width:152px
}
.page-administration .admin-save-button-container.resize-save_btn2{
  width:115px
}
.page-administration #permissions-addedit-form-html .resize-save_btn {
  width:112px
}
.page-administration-people-organization #admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div{
  white-space: nowrap;
  font-size:12px
}
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #role-addedit-form .addedit-form-cancel-container-actions.resize-save_btn{
  width:125px
}
.page-administration-people-group #role-detail-wrapper .tot-txt-cls{
  margin-top:10px
}
.page-administration-people-group .admin-save-button-container.resize-save_btn2{
  width:185px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class {
  width: 97px;
  padding-left: 3px
}
.page-administration-people.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{
  width:96px
}
.page-administration-people.page-administration-people-group #modalContent #catalog-class-addedit-form-details #add-user-role-page.add-users-grp #add-class-list-wrapper #select-list-class-dropdown-list li{
  width:105px
}
.page-administration-people-group .ui-multiselect-con-class{
  min-width:257px;
  max-width:257px
}
.page-administration-people-group .attr-pane #autocomplete input#multiautocomplete{
  min-width:230px;
  max-width:230px
}
/* People(Groups) styles End */

/* People(settings) styles Start */
#list-values-detail-wrapper .add-user-delete-disable {
  background-position:5px 4px
}
#list-values-addedit-form-details .add-custombtn-symbol{
  background-position:-169px -684px
}
#list-values-addedit-form-details .seperator-edit-delete{
  margin-top:2px
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .assessment-answer-choice-textarea{
  max-width:225px;
  min-width:225px
}
.page-administration-assessment-assessmentdetails #survey_attach_questions_dt .attachquestion-table-heading .attach-question-title {
  max-width:240px;
  min-width:240px
}
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .mch-correct-answer-checkbox {
  width:105px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
/* Manage(Content) styles End */


/* Manage(Location) styles Start */
#modal-content #location-basic-addedit-form-disp #location-basic-addedit-form-container input.addedit-edit-addr2, 
#modal-content #location-basic-addedit-form-disp #location-basic-addedit-form-container input.addedit-edit-addr1 {
  width:351px
}
#location-basic-addedit-form-disp #location-basic-addedit-form-container .addedit-new-field-two-col .addedit-firstcol-field-value .addedit-edit-dropdown {
    width:99px
}
#location-basic-addedit-form-disp #location-basic-addedit-form-container .addedit-new-field-two-col .addedit-secondcol-field-value .addedit-edit-textfield {
  width:143px
}
.page-administration-manage-location #modal-content .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
    max-width:356px;
    min-width:356px
}
.page-administration-manage-location #location-basic-addedit-form .addedit-edit-custom-label-field {
    margin-top:-2px
}
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
#admin_product_addorder_container .admin_add_multi_search_container .admin_ac_input_mainform{
	width:220px
}
#admin-commerce-country-setting-plan .datagrid-country-setting-commerce .ui-jqgrid-bdiv .datagrid-container-common td .countryaction {
  margin-left: -5px
}
.page-administration-commerce.page-administration-commerce-order #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce.page-administration-commerce-order #narrow-search-results-holder .narrowsearch-pub-add-list{
   right:0
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #narrow-search-results-holder .crs-unpublish-btn,
.page-administration-commerce-discounts #narrow-search-results-holder .crs-unpublish-btn{
   font-size:11px
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
.page-administration-commerce-setting #commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .addedit-form-cancel-container-actions,
.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-form-cancel-container-actions{
   width:140px
}
/* Commerce(Settings) styles End */

/* site settings style starts*/
/* site settings style ends*/

/* Reports styles Start */
#create-schedule-addedit-form .jspPane .addedit-new-field .addedit-new-field-title {
    width:86px;
    font-size:12px;
    padding:6px 1px 4px 10px
}
.narrow-filter-fields-conatiner .criteria-button-container .reports-apply-btn {
    width: 55px;
    line-height:15px
}
/* Reports styles End */


/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

#esign-wizard-dialog .ui-dialog div.ui-dialog-buttonset {
  min-width:154px
}

/* Chrome hack Start */
@media screen and (-webkit-min-device-pixel-ratio:0) {
}
/* Chrome hack End */
