/* Common Styles Start */
#block-exp-sp-lnrsearch-tab-search,
#block-exp-sp-forum-header-search
{
    width: 23%;
}
/* Common Styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */


/* Course/Class/Tp Details Start */
.attach-btn-group-provide-url {
	margin-top: 6px
}
/* Course/Class/Tp Details End */


/* Sign In Styles Start */
/* Sign In Styles End */


/* Register Styles Start */
/* Register Styles End */


/* Forget Password Styles Start */
body.page-user.page-user-password .my-forgot-pass-frm .form-actions {
    margin-top: 9px;
    margin-left: -20px
}
/* Forget Password Styles End */


/* Account Styles Start */
#addedit-account-details-page .form-item-SmsAlertCheck {
  margin-left:173px
}
#exp-sp-my-account-form .my-account-box.my-account-action-box .action-button {
  margin-right:0
}
/* Account Styles End */


/* Catalog Styles Start */
#lnr-catalog-search .search-heading { font-size: 11px; font-weight: bold }
/* Catalog Styles End */

/* Profile Styles Start */

#my-profile-form-wrapper #myprofile-parent .del-link{
  margin-left:150px
}
#myprofile-skill-details .proftitle-set {
  width: 141px
}
#block-exp-sp-user-catalog-online #catalog-users #catalog-user-search-list li.eol-search-input input {
  width: 123px
}
.page-learning-my-profile .dsiplay-other-set{
  width:110px
}
#myskill-parent .prof-label{
  line-height:30px
}
/* Profile Styles End */


/* Discussions Styles Start */
#content #block-exp-sp-forum-detail-forum-topic .admin-forum-topic-detail-action-btn #bubble-face-table  .addedit-form-cancel-container-actions {
   width:116px
}
/* Discussions Styles End */


/* Team Styles Start */
.page-learning-myteam-search #lnr-myteam-search .full-button-without-action{
   width:70px;
}
/* Team Styles End */


/* Shopping Cart Styles Start */
/* Shopping Cart Styles End */


/* My Learning(My Enrollments) Styles Start */
.block-exp-sp-lnrlearningplan #enroll-lp-result-container .enroll-launch {
  width: 68px
}
/* My Learning(My Enrollments) Styles End */


/* My Learning(My Programs) Styles Start */
/*#learningplan-maincontent .EnrolltabNavigation-LP li.selected a {
  background-position: left -115px 	
}
#learningplan-maincontent .EnrolltabNavigation-LP li.selected a span span {
  background-position: left -145px 		
}*/
#my-team-dialog #paintCatalogHeader .search-cat-keyword {
  width: 43%	
}
#my-team-dialog #catkeyword_hideshow .searchcatkeyword {
  width: 150px	
}
#my-team-dialog .top-record-div-left {
  width: 96%	
}
/* My Learning(My Programs) Styles End */


/* My Learning(My Class) Styles Start */
#instructor-markcomplete-dialog .ui-dialog .ui-dialog-buttonpane {
  min-height: 25px;	
  padding-bottom: 20px 	
}
#instructor-maincontent_tab .EnrolltabNavigation-Ins li.selected a {
  background-position: left -114px 	
}
#instructor-maincontent_tab .EnrolltabNavigation-Ins li.selected a span span {
  background-position: left -144px 	
}
/* My Learning(My Class) Styles End */


/* My Learning(My Transcripts) Styles Start */
/* My Learning(My Transcripts) Styles End */


/* My Learning(My CalEndar) Styles Start */
/* My Learning(My CalEndar) Styles End */


/* Chat Styles Start */
/* Chat Styles End */


/* Learning(Course) Styles Start */
#catalog-course-basic-addedit-form #catalog-course-basic-addedit-form-disp #two-col-row-author_vendor_complete .form-item-validity-date .addedit-edit-validity_date + img {
  left: 75px
}
#catalog-course-basic-addedit-form #catalog-course-basic-addedit-form-disp #two-col-row-author_vendor_complete .addedit-twocol-secondcol .addedit-new-field-title {
  width: 85px
}
#catalog-course-basic-addedit-form-disp #two-col-row-author_vendor_complete .addedit-firstcol-field-value .form-item-completed-date .addedit-edit-completed_date {
  width: 87px
}
#catalog-course-basic-addedit-form-disp #two-col-row-author_vendor_complete .addedit-twocol-secondcol .addedit-secondcol-field-value .form-item-validity-date input {
  width: 90px
}
#two-col-row-author_vendor_complete .admin-course-class-compliance-date .admin-course-class-compliance-days-input {
	margin-left: 0
}
.page-administration-learning-catalog #catalog-class-basic-addedit-form-container .admin-datagrid-session-with-addanother.virtualclass-session #more-wrapper-div{
  right:18px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .virtualclass-session .session-edit-delete-icons {
  margin-left: -25px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .session-added-edit-link-text {
  margin: 0 22px 0 -22px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .admin-pagination-action-link {
  margin-left: 3px
}
.tag-fieldset-wrapper .tag-details-row table + table{
  width:64%
}
#catalog-class-basic-addedit-form-container .attachment-empty-column-height,
#catalog-course-basic-addedit-form-container .attachment-empty-column-height{
  height:25px
}
/* Learning(Course) Styles End */

/* Learning(Class) Styles Start */
/* Learning(Class) Styles End */


/* Learning(Training Plan) Styles Start */
#program-tp-basic-addedit-form-container #catalog-attachment-disp-container .attachment-empty-column-height {
  height: 26px
}
/* Learning(Training Plan) Styles End */


/* People(User) Styles Start */
/* People(User) Styles End */


/* People(Organization) Styles Start */
.page-administration-people-organization #organization-addedit-form .addedit-form-cancel-container-actions {
  margin-right: 10px		
}
.page-administration-people-organization #admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div{
  white-space: nowrap;
  font-size:12px
}
/* People(Organization) Styles End */

/* People(Groups) styles Start */
.page-administration-people-group .ui-multiselect-con-class{
  min-width:257px;
  max-width:257px
}
.page-administration-people-group .attr-pane #autocomplete input#multiautocomplete{
  min-width:230px;
  max-width:230px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class {
  width: 98px;
  padding-left: 2px
}
.page-administration-people.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{
  width:98px
}
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-class-dropdown-link{
  margin-left:-3px
}
.page-administration-people.page-administration-people-group #modalContent #catalog-class-addedit-form-details #add-user-role-page.add-users-grp #add-class-list-wrapper #select-list-class-dropdown-list li{
  width:106px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{
  width:100px;
}
/* People(Groups) styles End */

/* People(settings) styles Start */
#list-values-addedit-form-details .seperator-edit-delete{
  margin-top:2px
}
.page-administration-people-setup #list-values-detail-wrapper .add-user-delete{
  margin-left:2px
 }
/* People(settings) styles End */


/* Survey/Assessment Styles Start */
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pg-table {
  right:-5px
}
.page-administration-survey-surveydetails .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions,
.page-administration-survey-surveyquestions .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions,
.page-administration-assessment-assessmentdetails .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  width:150px
}
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .mch-correct-answer-checkbox {
  width:105px
}
/* Survey/Assessment Styles End */


/* Manage(Content) Styles Start */
/* Manage(Content) Styles End */


/* Manage(Location) Styles Start */
#modal-content #location-basic-addedit-form-disp #location-basic-addedit-form-container input.addedit-edit-addr2, 
#modal-content #location-basic-addedit-form-disp #location-basic-addedit-form-container input.addedit-edit-addr1 {
  width:352px
}
#location-basic-addedit-form-disp #location-basic-addedit-form-container .addedit-new-field-two-col .addedit-firstcol-field-value .addedit-edit-dropdown {
    width:99px
}
#location-basic-addedit-form-disp #location-basic-addedit-form-container .addedit-new-field-two-col .addedit-secondcol-field-value .addedit-edit-textfield {
  width:142px
}
.page-administration-manage-location #modal-content .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
    max-width:356px;
    min-width:356px
}
.page-administration-manage-location #location-basic-addedit-form .addedit-edit-custom-label-field {
    margin-top:-2px
}
/* Manage(Location) Styles End */


/* Manage(Banner) Styles Start */
/* Manage(Banner) Styles End */


/* Manage(Notification/Certificate) Styles Start */
/* Manage(Notification/Certificate) Styles End */


/* Commerce(Order) styles Start */
#admin_product_addorder_container .admin_add_multi_search_container .admin_ac_input_mainform{
  width:220px
}
#admin-data-grid .discount-grid-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table{
  right:7px
}
#admin-commerce-country-setting-plan .datagrid-country-setting-commerce .ui-jqgrid-bdiv .datagrid-container-common td .countryaction {
  margin-left: -5px
}
.page-administration-commerce.page-administration-commerce-order #group-control .autocomplete input#multiautocomplete {
  max-width: 95px
}
.page-administration-commerce.page-administration-commerce-order #group-control #autocomplete{
  margin-left: 126px
}
/* Commerce(Order) styles End */


/* Commerce(Discount) styles Start */
.page-administration-commerce-discounts #discount-basic-addedit-form-container .addedit-new-field-value textarea.addedit-edit-textarea{
  min-width:408px;
  max-width:408px
}
.page-administration-commerce-discounts #discount-basic-addedit-form-container #admin-data-grid .discount-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-left:-4px
}
.page-administration-commerce-discounts #discount-basic-addedit-form-container .admin-save-pub-unpub-button-container .admin-save-button-middle-bg{
  padding-right:5px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #tax-basic-addedit-form-disp #tax-basic-addedit-form-container .addedit-new-field .addedit-new-field-value .resizable-textarea .addedit-edit-vat_number{
  min-width:247px;
  max-width:247px;
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
.page-administration-commerce-setting #commerce-cancellation-policy-screen-wrapper #cancel-policy-addedit-form .addedit-form-cancel-container-actions,
.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-form-cancel-container-actions{
   width:140px
}
/* Commerce(Settings) styles End */


/* Reports Styles Start */
.page-reports #lnr-reports-search .find-trng-sort-text {
  width: 75px
}
#create-schedule-addedit-form .jspPane .addedit-new-field .addedit-new-field-title {
  font-size:12px;
  width:90px
}
.narrow-filter-fields-conatiner .criteria-button-container .reports-apply-btn {
  line-height:15px;
  width:55px
}
/* Reports Styles End */


/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

#esign-wizard-dialog .ui-dialog div.ui-dialog-buttonset {
  min-width:157px
}

/* Print Certificate Styles Start */
.cert-button-wrapper #printcert_button {
  width: 165px 
}  
/* Print Certificate Styles End */
