.display-none {
  display: none
}
.order-review-table {
  font-size: .9em;
/*   line-height: 1.4em; */
  margin: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0
}
.order-review-table td {
  padding-top: 0.1em;
  padding-bottom: 0.2em
}
.order-review-table .pane-title-row {
  padding: 0;
  text-align: left
}
.order-review-table .title-col {
  text-align: left;
  width: 50%
}
.order-review-table .data-col {
  color: #333;
  text-align: left;
  white-space: pre-line;
  word-wrap: break-word
}
.order-review-table .row-border-top {
  border-top: solid 1px #999
}
.order-review-table .row-border-bottom {
  border-bottom: solid 1px #999
}
.order-review-table .review-button-row {
  background-color: #ddd;
  border: solid 1px #999
}
.order-review-table .review-button-row td {
  padding-top: 1em;
  text-align: right
}
.order-review-table .review-button-row div,
.order-review-table .review-button-row form {
  display: inline
}
.next-button {
  margin-top: 1em;
  text-align: right
}
#uc-cart-view-form img {
  padding-right: .8em;
  float: left
}
#line-items-div table {
  width: auto
}
#line-items-div td {
  padding: 0 1em
}
#line-items-div tbody {
  border-top: 0
}
.address-book-icon {
  margin-left: 2px;
  position: relative;
  top: 2px
}
#cart-form-products {
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  width: 100%
}
#cart-form-products td.desc {
  width: 100%
}
#cart-form-products td.total, #cart-form-products td.subtotal {
  white-space: nowrap
}
#cart-form-buttons {
  border: solid 1px #bbb;
  margin: .5em 0;
  text-align: right;
  width: 100%
}
#cart-form-pane #uc-cart-view-form {
  margin-bottom: .5em
}
#cart-form-buttons .form-button, #cart-form-buttons .form-submit {
  margin: .5em .5em .5em 0
}
#update-checkout-buttons {
  float: right
}
#continue-shopping-link {
  float: left;
  left: .75em;
  position: relative;
  top: .5em
}
#continue-shopping-button {
  margin-left: .5em;
  margin-right: 100%;
  white-space: nowrap
}
.cart-review {
  border: solid 1px #bbb
}
.cart-review td {
  padding: .4em
}
.cart-review thead tr {
  border: 0;
  font-weight: bold
}
.cart-review tbody {
  border-top: 0
}
.cart-review tbody tr {
  vertical-align: top
}
td.qty {
  text-align: center
}
td.price {
  text-align: right;
  white-space: nowrap
}
td.products {
  width: 100%
}
td.subtotal {
  text-align: right
}
#subtotal-title {
  display:inline-block;
  text-align:right;
  width:70px
}
.cart-review .subtotal .uc-price {
  width:110px;
  display:inline-block;
  margin:0;
  text-align:right
}
.subtotal .uc-price {
  width:auto;
  margin:0 35px 0 25px;
  text-align:right
}
#uc-cart-checkout-form .uc-store-address-field .form-item label {
  padding: 5px 6px 6px
}
#uc-cart-checkout-form .form-item,
#uc-cart-checkout-review-form .form-item {
  margin-bottom: 2px;
  margin-top: 2px;
  padding:0
}
.inline-pane-table tbody {
  border-top: 0
}
.inline-pane-table .form-item {
  display: inline
}
#checkout-form-bottom {
  text-align: right;
  width: 100%
}
#checkout-form-bottom .form-button, #checkout-form-bottom .form-submit {
  margin: .5em .5em .5em 0
}
.shopping-cart-subtotal {
  font-size:13px;
  padding-right:48px
}
.shopping-cart-subtotal strong {
  padding-right:10px;
  line-height:20px
}
.paint-payment-details-list,
.order-review-table .sticky-header {
  display:none
}
.discount-codes-wrapper .form-item .form-textarea {
  width:471px;
  height:30px;
  font-size:13px;
  color:#333;
  resize:vertical
}
.exp-checkout-pane-comments {
  height: 30px
}
.exp-order-comments-descr {
  font-size: 10px;
  font-weight: normal
}