#content-addedit-form .addedit-new-field-title,
#content-addedit-form .addedit-new-field-two-col .addedit-new-field-title {
  width:140px
}
#content-addedit-form .addedit-edit-textfield {
  width:431px;
  border:1px solid #E5E5E5;
  border-radius:10px;
  height:18px
}
/*#custom_attribute_0078975*/
.page-administration-manage-content .left-side-container .detail-code,
.page-administration-manage-content .right-side-container .detail-code
{
    word-wrap: break-word;
}
#content-addedit-form .addedit-readonly-textfield {
  width:432px;
  height:18px
}
#content-addedit-form .addedit-new-field-two-col {
  width:580px
}
#content-addedit-form .addedit-form-cancel-container-actions {
  margin-right:62px
}
#content-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-new-field-title {
  width:100px
}
#content-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:434px
}
.attach-content-version-delete {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat 0 0;
  cursor:pointer;
  height:11px;
  margin-left:10px;
  margin-top:2px;
  text-align:center;
  width:11px
}
.content-version-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -74px -1789px;
  height:41px;
  margin-right:15px;
  width:32px;
  margin-top:2px
}
.content-version-icon + div {
  color:#9999;
  font-size:9px;
  width:35px;
  text-align:center
}
.edit-content-version-list-container a.preview-content-version:hover,
.edit-content-version-list-container .preview-content-version {
  color:#4686DD;
  display:inline-block;
  font-size:11px;
  cursor:pointer
}
.edit-content-version-list-left span a {
  cursor:pointer;
  color:#4686DD
}
#move-users-form-wrapper .edit-class-list {
  width:99.6%;
  border:0 ;
  padding:6px 6px 6px 18px 
}
#exp_sp_administration_content_versionedit_form {
  height:0;
  border:0
}
#move-users-form-wrapper .edit-class-list .edit-content-version-list-left {
  width:460px
}
#move-users-form-wrapper td.edit-content-version-list-right {
  padding-top:2px;
  padding-left:1px
}
#admin-move-users-content .admin_add_multi_auto_search {
  background:none;
  padding-left:0;
  width:142px
}
#admin-move-users-content .edit-content-version-list-container {
  display:block
}
#admin-move-users-content .admin_add_multi_search_container {
  width:auto
}
#admin-move-users-content .admin_add_multi_auto_search .admin_ac_input_mainform {
  width:200px;
  border-width:1px 0;
  border-radius:0;
  float:left;
  height:23px;
  line-height:24px;
  margin:0;
  padding:0;
  position:absolute;
  width:145px
}
#admin-move-users-content .admin-pagination-search-go{
  height:23px;
  margin-top:1px
}
.page-administration-manage-content #admin-move-users-content .admin_add_multi_auto_search input.ac_loading {
  background-position:100% -16px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  height:23px
}
#admin-move-users-content .ui-jqgrid .ui-jqgrid-pager {
  display:none
}
#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-bdiv,
#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv {
  background:none;
  border-bottom:1px solid #E5E5E5 ;
  border-left:1px solid #E5E5E5 ;
  border-right:1px solid #E5E5E5 
}
#admin-move-users-content .admin-save-pub-unpub-button-container {
  margin-right:0
}
.edit-content-version-list-container .edit-content-version-list-left .narrow-search-results-item-detail {
  font-size:12px;
  padding-top:0
}
#move-users-form-wrapper .ui-state-highlight .edit-content-version-list-container .narrow-search-results-item-action-list-btn,
#move-users-form-wrapper .ui-state-hover .edit-content-version-list-container .narrow-search-results-item-action-list-btn,
.edit-content-version-list-container .narrow-search-results-item-action-list-btn {
  color:#474747;
  cursor:pointer;
  float:left;
  font-size:11px;
  font-weight:normal;
  padding:1px 1px .2px;
  text-align:center;
  text-decoration:none;
  font-family:ProximaNovaBold, Arial
}
.edit-content-version-list-container .content-version-title {
  float:left;
  margin-right:9px
}
#move-users-form-wrapper .edit-content-version-list-container .narrow-search-results-item-title-class {
  line-height:16px
}
.edit-content-version-list-container .narrow-search-results-item-title-class .narrow-search-results-item-detail-pipe-line {
  font-size:12px;
  float:left;
  font-family:openSansRegular, Arial;
  padding:0
}
.content-preview-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -37px -1710px;
  width:20px;
  height:22px
}
.narrow-search-multi-action-container .content-preview-icon + .preview-content-version,
.narrow-search-multi-action-container .content-preview-icon + span .preview-content-version {
  line-height:22px;
  color:#2D2D2D;
  cursor:pointer;
  font-size:12px;
  font-weight:normal;
  line-height:26px;
  float:left;
  text-decoration:none;
  font-family:openSansRegular, Arial
}
#content-addedit-form #upload_detail_container #upload_msg_part {
  position:static
}
#admin-move-users-content .pager-datagrid-common,
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pg-table {
  position:absolute;
  right:-7px;
  top:0
}
#move-users-form-wrapper #admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pg-table {
  right:-12px
}
#move-users-form-wrapper #admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-btable {
  table-layout:fixed
}
#move-users-form-wrapper #admin-course-class-list-pagination-wrapper .edit-class-list {
  border:1px solid #EAEAEA;
  border-width:1px 0 0
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -144px -416px;
  border:0;
  display:block;
  float:left;
  height:20px;
  margin:0;
  opacity:1;
  padding:0;
  width:14px
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -161px -417px;
  width:12px;
  height:20px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100);
  height:23px 
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -177px -417px;
  width:12px;
  height:20px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -194px -416px;
  border:0;
  display:block;
  float:left;
  height:20px;
  margin:0;
  opacity:1;
  padding:0;
  width:25px
}
#admin-move-users-content .ui-jqgrid-toppager {
  background:#fff;
  visibility:hidden;
  border:0;
  padding-bottom:8px;
  min-width:493px
}
#admin-move-users-content .admin_add_multi_search_container {
  top:8px;
  padding-bottom:6px
}
#admin-move-users-content .ui-jqgrid-bdiv {
  margin-bottom:0;
  display:table-row
}
#admin-move-users-content .ui-jqgrid-hdiv {
  display:table-row 
}
#upload_detail_container #content_browse_control .error {
  font-size:100%
}
#admin-move-users-content .content-save-cancel-btnGrp .catalog-pub-add-list,
#admin-move-users-content .content-save-cancel-btnGrp .catalog-pub-add-list-move {
  right:0px;
  width:125px
}
#admin-move-users-content .admin-datagrid-save-cancel-button-align-bottom .admin-save-button-container {
  margin:0 0 -4px 0
}
#admin-move-users-content .admin-save-pub-unpub-button-container .admin-save-button-middle-bg {
  padding:0 3px 0 0;
  width:92px
}
.page-administration-manage-content #admin-move-users-content .admin-datagrid-save-cancel-button-align-bottom.content-save-cancel-btnGrp .admin-save-button-container {
  margin-bottom:0
}
.page-administration-manage-content #admin-move-users-content .admin-save-pub-unpub-button-container.transfer-users-grp {
  padding-left:10px
}
.page-administration-manage-content #admin-move-users-content .admin-save-pub-unpub-button-container.transfer-users-grp #edit-set-moveusers-edit-mode.admin-save-button-middle-bg {
  padding:2px 6px;
  width:auto;
  border-radius:6px 0 0 6px;
  margin-top:1px
}
.kc-doc-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -110px -1835px
}
.kc-xls-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -2px -1789px
}
.kc-ppt-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -75px -1835px
}
.kc-pdf-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -38px -1789px
}
.kc-img-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -110px -1789px
}
.kc-txt-file {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -146px -1789px
}
.video-file-type {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -38px -1835px
}
.kc-url-type {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -146px -1835px
}
#content-addedit-form #upload_detail_container #edit-content-data {
  background:#fff;
  width:435px;
  border:1px solid #AAA;
  filter:alpha(opacity:0);
  opacity:0;
  position:relative;
  z-index:20;
  height:24px
}
.wrapper-browse #BrowserVisible,
.wrapper-browse-url #BrowserVisible {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/btn_fileUpload.png") 100% 0 no-repeat;
  position:absolute;
  top:3px;
  bottom:0;
  z-index:1;
  height:23px
}
.wrapper-browse #BrowserVisible {
  width:433px
}
.wrapper-browse #FileField {
  height:18px;
  width:362px;
  margin-right:30px;
  border:1px solid #E5E5E5;
  border-radius:10px
}
.wrapper-browse-url,
#upload_browse_only {
  position:relative
}
.wrapper-browse-url #BrowserVisible {
  right:2px;
  width:370px
}
.wrapper-browse-url #FileField {
  height:16px;
  width:300px;
  margin-right:30px;
  border:1px solid #E5E5E5;
  border-radius:10px
}
input.form-checkbox, input.form-radio {
  margin-left:0
}
#upload_detail_container .addedit-new-field-value {
  width:434px
}
#upload_browse_and_url #edit-hosted-type {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -278px;
  display:block;
  float:left;
  height:23px;
  width:77px;
  border:0;
  padding:0
}
.version-content-transfer-user {
  padding-bottom:5px
}
.version-content-transfer-user-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -6px -1881px;
  display:block;
  float:left;
  height:20px;
  margin-top:14px;
  width:20px
}
.version-content-transfer-user-txt {
  margin-top:17px;
  margin-left:5px;
  float:left;
  cursor:pointer
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a,
.ui-state-hover a,.ui-state-hover a:hover {
  color:#2D2D2D;
  cursor:pointer
}
.version-content-transfer-user-txt .inprogress-deactive {
  color:#CCC;
  cursor:default
}
#upload_browse_and_url  #search-dropdwn-list {
  width:60px;
  height:23px;
  display:block;
  float:left
}
#upload_browse_and_url .select-list-dropdown {
  font-size:12px;
  color:#474747;
  border:0;
  float:left;
  padding:2px 2px 5px 0;
  font-family:ProximaNovaBold, Arial;
  text-transform:uppercase;
  width:60px
}
#upload_browse_and_url .select-list-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat left -1465px;
  text-decoration:none;
  width:20px;
  height:20px;
  float:left;
  cursor:pointer;
  margin:-16px 0 0 47px
}
#upload_browse_and_url  #select-list-dropdown-list {
  display:none;
  position:absolute;
  top:20px;
  left:-37px;
  z-index:100
}
#upload_browse_and_url  #select-list-dropdown-list  li {
  display:block;
  cursor:pointer;
  font-size:11px;
  padding:5px;
  text-align:right;
  text-transform:uppercase;
  width:49px;
  font-family:ProximaNovaBold, Arial;
  color:#474747;
  border-top:0
}
#upload_browse_and_url #search-list-title-keyword ul {
  list-style-type:none;
  padding:0;
  background:#fff;
  left:-6px;
  width:60px;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 0 0 10px 10px
}
#edit-content-data-url {
  position:absolute;
  right:1px;
  width:355px;
  height:16px;
  border:1px solid #E5E5E5;
  border-radius:10px;
  margin-top:2px
}
#upload_browse_and_url #search-list-title-keyword {
  left:-1px;
  position:absolute;
  top:3px;
  z-index:25
}
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-publish-btn,
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-pub-enrolled-btn {
  border:0;
  color:#474747;
  font-weight:normal;
  display:table-cell;
  height:48px;
  vertical-align:middle;
  text-align:center;
  width:111px;
  text-transform:uppercase;
  padding:0;
  word-wrap:break-word;
  font-family:ProximaNovaBold, Arial
}
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-publish-btn {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat 0 -99px;
  cursor:pointer;
  font-size:11px
}
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-pub-enrolled-btn {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -130px -99px;
  cursor:default;
  font-size:12px
}
.version-content-transfer-user #bubble-face-table td {
  overflow:visible
}
.version-content-transfer-user-txt #bubble-face-table td div#admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  padding-left:2px
}
.version-content-transfer-user-txt #bubble-face-table td div#admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td input.multiselect-singlecheck {
  margin-left:-2px
}
.version-content-transfer-user #bubble-face-table td div#admin-move-users-content .admin-datagrid-save-cancel-button-align-bottom .addedit-form-cancel-container-actions .catalog-pub-add-list-move {
  z-index:105
}
.version-content-transfer-user #bubble-face-table td #show_expertus_message {
  height:auto
}
.version-content-transfer-user-txt #bubble-face-table td div#admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgfirstrow {
  background:none
}
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  line-height:23px
}
.select-moveuser-dropdown {
  background:none;
  border:0;
  color:#474747;
  float:left;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  height:24px;
  line-height:23px;
  padding:0;
  text-align:center;
  text-transform:uppercase;
  width:67px
}
.select-moveuser-dropdown-link {
  text-decoration:none;
  width:20px;
  height:20px;
  float:left;
  cursor:pointer;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -255px
}
#select-moveuser-dropdown-list {
  display:none;
  position:absolute;
  top:20px;
  left:-5px;
  z-index:100
}
#select-moveuser-dropdown-list li {
  border-top:0;
  border-bottom:1px solid #EBEBEB;
  color:#474747;
  cursor:pointer;
  display:inline-block;
  font-family:ProximaNovaBold, Arial;
  padding:5px 7px;
  text-align:left;
  text-transform:uppercase;
  width:86%;
  font-size:12px;
}
.transfer-dd-arrow-link {
  text-decoration:none;
  width:12px;
  height:16px;
  float:left;
  cursor:pointer;
  margin:17px 0 0;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1493px
}
#transfer-dd-list {
  display:block;
  visibility:hidden;
  position:absolute;
  margin-top:44px;
  border:1px solid #ccc;
  left:15px;
  background-color:#FFF;
  z-index:100;
  padding:10px;
  min-width:135px
}
#transfer-dd-list li {
  display:block;
  cursor:pointer;
  padding:4px 5px
}
.transfer-dd-list-arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -151px -1878px;
  width:25px;
  height:19px;
  left:126px;
  position:absolute;
  top:-14px
}	
#content-addedit-form {
  float:none
}
.page-administration-manage-content #content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical.cus_attr_jscroll_set .jspPane{
    width: 148px;
}
/*#custom_attribute_0078975*/
#content-addedit-form .expertus-dropdown-bg {
  /* width:160px */
 width:153px
}
#content-addedit-form .expertus-dropdown-icon {
  width:100%
}
#content-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width:177px;
/*   height:17px */
}
.edit-content-version-list-container .preview-content-version {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -485px -249px;
  width:18px;
  height:20px
}
.page-administration-manage-content .ui-dialog .ui-dialog-title {
  margin:.1em 16px .2em -9px
}
#admin-move-users-content .ui-jqgrid-btable .ui-state-hover {
  border:0;
  background:none
}
#admin-move-users-content .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:-3px;
  margin-top:1px
}
#admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr > td {
  padding-left:4px 
}
#admin-move-users-content .ui-jqgrid .ui-jqgrid-hbox {
  padding:0
}
#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv {
  height:26px;
  border-bottom:0;
  border-right:0;
  margin-top:12px;
  min-width:501px
}
#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable {
  border-right: 1px solid #E5E5E5;
  min-width:501px
}
.theme-ctool-popup .addedit-new-field-two-col .expertus-dropdown-bg {
  margin-top:4px 
}
#admin-move-users-content .multiselect-singlecheck {
  margin-bottom:19px
}
.catalog-pub-add-list li, .catalog-pub-add-list-move li {
  clear:both
}
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-pub-enrolled-btn.plainy-btn {
  width:91px;
  height:24px;
  margin-left:10px;
  margin-right:0;
  padding:0 3px;
  border:1px solid #e5e5e5;
  border-radius:6px;
  background:#fff;  
  cursor:pointer;
  float:right;
  display:block; 
  font-family:ProximaNovaBold,Arial;
  color:#474747;
  text-align:center;
  text-transform:uppercase;	
  line-height:25px;
  font-size:11px
}
#paint-class-search-results-datagrid .edit-content-version-list-container .crs-publish-btn.glossy-btn {
/*   background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -128px -660px; */
  width:91px;
  height:24px;
  line-height:25px;
  display:block;
  padding:0 3px;
  float:right;
  margin-left:10px;
  background: -ms-linear-gradient(#ffffff, #f3f3f3);/*For IE10*/
  background: linear-gradient(#ffffff, #f3f3f3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3)";
  border:1px solid #e5e5e5;
  border-radius:6px
}
#content-addedit-form .upload-msg-style {
  padding-left:63px
}
#content-addedit-form  #upload_browse_and_url #upload_msg_part {
  margin-top: 30px;
  padding-left: 65px;
}
.page-administration-manage-content #content-addedit-form .Content-tab-titles-container,
.page-administration-manage-content #content-addedit-form .crs-tab-titles-container {
  margin-top:0
}
.page-administration-manage-content #content-addedit-form .Content-tab-titles-container {
  margin-left: 71px
}
.page-administration-manage-content #admin-move-users-content .checkbox-unselected,
.page-administration-manage-content #admin-move-users-content .checkbox-selected{
  height:12px
}
#admin-move-users-content .ui-jqgrid-toppager .ui-pg-table .search-pagination-right .ui-pg-input{
  width:auto
}
#admin-move-users-content .ui-jqgrid .ui-pg-button:hover{
  padding:0
}
.page-administration-manage-content .narrow-search-results-item-details .fade-out-title-container.admin-narrow-search-fadeout-container {
  max-width:415px
}
.page-administration-manage-content .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container {
  
}
.page-administration-manage-content #viewcontent-detail-wrapper #view-scroll-wrapper .admin-narrow-content-view-code-fadeout-container,
.page-administration-manage-content #viewcontent-detail-wrapper #view-scroll-wrapper .admin-narrow-content-view-tags-fadeout-container,
.page-administration-manage-content #viewcontent-detail-wrapper #view-scroll-wrapper .admin-narrow-content-view-accessname-fadeout-container {
  max-width:508px
}
.page-administration-manage-content #move-users-form-wrapper .narrow-search-results-item-title-class .exp-sp-admin-content-version-versiontitle-fadeout-container {
  max-width:390px
}
.page-administration-manage-content #narrow-search-results-holder .narrow-search-lesson-fadeout-container {
  max-width:200px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-manage-content #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-manage-content #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
.page-administration-manage #narrow-search-results .narrow-search-type-fadeout-container,
.page-administration-manage #narrow-search-results .narrow-search-lang-fadeout-container,
.page-administration-manage #narrow-search-results .narrow-search-lesson-fadeout-container {
  max-width:100px
}
.page-administration-manage-content .addedit-addl-form-title-text.block-title-middle{
  line-height:39px
}

.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container {
  margin-top:1px;
  padding-left:10px
}
.page-administration-manage-content #exp-sp-administration-content-addedit-form .addedit-edit-content-basic-cancel {
  padding:3px 6px 2px;
  margin-top:1px
}
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-left-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:6px 0 0 6px;
  width:6px;
  height:22px;
  float:left;
}
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-right-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:0 6px 6px 0;
  width:6px;
  height:22px;
  float:left;  
}
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-middle-bg {
  border-radius:0;
  padding:4px 0 2px
}
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .pub-unbpub-more-btn {
  border-radius:0 6px 6px 0;
  float:left;
  height:22px;
  width:15px;
  cursor:pointer;
  display:block; 
  margin-top:0
}
.page-administration-manage #ctools-face-table .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
 background-position: -107px -622px
}
.page-administration-manage-content #page-container .narrow-search-results-item-details {
   max-width:493px
}
#admin-move-users-content .admin-attach-course-tab-datagrid-wrapper {
  min-height:300px
}
.fade-out-title-container.multi-grid-contentmoveusers-title-fadeout-container{
  max-width: 110px;
  margin-bottom: -6px
}
.fade-out-title-container.multi-grid-contentmoveusers-classtitle-fadeout-container{
  max-width: 110px;
  margin-bottom: -6px
}
.fade-out-title-container.multi-grid-contentmoveusers-enrollmentstatus-fadeout-container{
  max-width: 80px;
  margin-bottom: -6px
}
.page-administration-manage-content .qtip-content #bubble-face-table .bubble-c #show_expertus_message {
  /* margin-left: 100px;
   white-space: nowrap; */
  margin-left:auto;
  top: 24px; 
  left:-80px;
  width:500px
}

/* Start Scroll Bar for Custom Attribute #custom_attribute_0078975*/
.page-administration-manage-content #content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical.cus_attr_jscroll_set,
.page-administration-manage-content #content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical.cus_attr_jscroll_set{
		width: 154px
} 
/* End Scroll Bar for Custom Attribute */
/* dropdown in content form */
#content-addedit-form #custom_attr_container .expertus-dropdown-bg {
    width: 153px;
}
.page-administration-manage-content .theme-ctool-popup #content-addedit-form  #custom_attr_container .ui-multiselect {
	background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #e9e9e9) repeat scroll 0 0;
    border-color: #e5e5e5 currentcolor #e5e5e5 #e5e5e5;
    border-image: none;
    border-radius: 10px 4px 4px 10px;
    border-style:none;
    border-width: 1px 0 1px 1px;
    height: 20px;
    line-height: 16px;
    color: #333;
    font-family: openSansRegular,Arial;
    font-size: 12px;
    font-weight: normal;
    width:131px;
   }
/* content */
#content-addedit-form #custom_attr_container.customattr-both .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
    width: 75px;
}
#content-addedit-form #custom_attr_container.customattr-info .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: 81px
}
#content-addedit-form #custom_attr_container.customattr-mandatory .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: 85px
}
#content-addedit-form #custom_attr_container.customattr-plain .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: 92px
}
#content-addedit-form .addedit-twocol-firstcol {
    width: 54%;
}
#content-addedit-form .addedit-twocol-secondcol {
    width: 46%;
}
/* radio button for content */
.page-administration-manage-content #content-addedit-form #custom_attr_container input[type="radio"] {
    margin-left: -2px;
}
/* checkbox radio in form */
#content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-horizontal,
#content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical
{
    width: 141px;
}
#content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-horizontal,
#content-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical
{
    width: 141px;
}
.page-administration-manage-content #content-addedit-form #custom_attr_container #vtip_custom_attr
{
position: relative;
    top: 1px;
}
/*#custom_attribute_0078975*/
/* rendering */
/*.page-administration-manage-content #customattribute-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-left-bg {
 background: none;
    border: 0;
    border-radius: 0;
    display: none;
    float: none;
    height: 0;
    width: 0;
}*/

/*.page-administration-manage-content #customattribute-basic-addedit-form  .admin-save-pub-unpub-button-container {
    padding-left: 0;
}*/
/*.page-administration-manage-content #customattribute-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-middle-bg {
    border-radius: 6px 0 0 6px;
    padding: 2px 0 2px 6px;
}*/
/*.page-administration-manage-content #customattribute-basic-addedit-form .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
	height: 20px;
}*/
/*.page-administration-manage-content #customattribute-basic-addedit-form .addedit-edit-cattr_length {
    padding-left: 10px;
}*/
.page-administration-manage-content  #customattribute-basic-addedit-form-disp .addedit-form-main-container {
    float: left;
    /*width: 391px;*/
   width: 364px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp #form-attribute .customattribute-basic-addedit-form-container {
    min-height: 0;
    padding: 0 0 1px;
    width: 368px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_checkbox #customattribute-basic-addedit-form-container, 
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_radio #customattribute-basic-addedit-form-container, 
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_dropdown #customattribute-basic-addedit-form-container {
    width: 421px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-container .expertus-dropdown-bg {
    margin-top: 2px;
    width: auto;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp #form-attribute .round-corner-left, 
.page-administration-manage-content #customattribute-basic-addedit-form-disp #form-attribute .round-corner-footer-left {
    border: 0 none;
}
.page-administration-manage-content .customattribute-basic-addedit-form-container {
    border: 0 none;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .addedit-edit-cattr_name {
    width: 259px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .addedit-edit-cattr_length {
    width: 59px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_textbox .addedit-new-field-two-col .addedit-edit-dropdown {
    width: 86px;
}
.page-administration-manage-content #customattribute-basic-addedit-form .addedit-edit-textfield
{
margin-top:0px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_textarea .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-new-field-title {
    width: 106px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .addedit-twocol-secondcol .addedit-new-field-title {
    width: 81px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .addedit-new-field-title {
    width: 82px;
}
.page-administration-manage-content #bubble-face-table #customattribute-basic-addedit-form .addedit-left-col {
padding:0;
margin: -13px -8px 0 4px;
}
.page-administration-manage-content #customattribute-basic-addedit-form .addedit-form-cancel-container-actions input
{
margin-top:0px;	
margin-left:0px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .addedit-form-cancel-and-save-actions-row {
margin-bottom: -10px;
}
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_name, 
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_name, 
.page-administration-manage-content #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_name {
    width: 282px;
}
#content-addedit-form #customattribute-basic-addedit-form .addedit-edit-customattributetextfield {
    margin-top: 0;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_mandatory, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_mandatory, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_mandatory, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_multiple_opt {
    width: 61px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_display_opt, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_display_opt {
    width: 95px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-new-field-title, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-new-field-title, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-new-field-title {
    width: 119px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom-answer-choice-customattributetextfield{
    width: 281px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-twocol-secondcol .addedit-new-field-title, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-twocol-secondcol .addedit-new-field-title {
    width: 94px;
}
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_help_txt, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_help_txt, 
#content-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_help_txt {
    max-width: 286px;
    min-width: 286px;
}
#content-addedit-form #customattribute-basic-addedit-form .custom_attr_checkbox .addedit-twocol-secondcol .addedit-secondcol-field-value, 
#content-addedit-form #customattribute-basic-addedit-form .custom_attr_radio .addedit-twocol-secondcol .addedit-secondcol-field-value, 
#content-addedit-form #customattribute-basic-addedit-form .custom_attr_dropdown .addedit-twocol-secondcol .addedit-secondcol-field-value {
    padding-right: 11px;
}
#content-addedit-form #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
    margin-right: 11px;
}
#content-addedit-form #new-customattribute-wrapper #custom-question-choice-text-10 {
    padding-bottom: 6px;
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #upload_detail_container #content_browse_control .error,
  #content-addedit-form #upload_detail_container #edit-content-data {
    border:0 
  }
  #admin-move-users-content .ui-jqgrid-bdiv .ui-jqgrid-btable .ui-widget-content {
    background:none
  }
  #admin-move-users-content .ui-jqgrid-hdiv .ui-jqgrid-htable .ui-jqgrid-labels th:first-child,
  #admin-move-users-content .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgfirstrow td:first-child {
    min-width:141px 
  }
  .version-content-transfer-user-txt #admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
    line-height:26px
  }
  .version-content-transfer-user-txt #bubble-face-table td div#admin-move-users-content .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td input.multiselect-singlecheck {
    margin-left:1px
  }
  #admin-move-users-content .ui-jqgrid-hdiv {
    height:25px
  }
  #move-users-form-wrapper #paint-class-search-results-datagrid .ui-jqgrid-view .ui-jqgrid-bdiv{
    overflow:hidden
  }
  #admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv {
    min-width:492px;
    border-right: 1px solid #E5E5E5
  }
  #admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable{
    min-width:493px
  }
  #admin-move-users-content .ui-jqgrid-view .ui-jqgrid-bdiv,#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-bdiv table {
    min-width:399px;
    max-width:399px
  }
  .page-administration-manage-content #admin-move-users-content .checkbox-unselected,
  .page-administration-manage-content #admin-move-users-content .checkbox-selected {
    margin-left:3px
  }
  #content-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:-2px;
  }
}
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
  #admin-move-users-content .ui-jqgrid-view .ui-jqgrid-bdiv,
  #admin-move-users-content .ui-jqgrid-view .ui-jqgrid-bdiv table{
    min-width:500px;
    max-width:500px;
    table-layout:auto
  }
  .page-administration-manage-content #admin-move-users-content .checkbox-unselected,
  .page-administration-manage-content #admin-move-users-content .checkbox-selected {
    margin-left:5px
  }
  .fade-out-title-container.narrow-search-type-fadeout-container {
    top: 0
  }
  .page-administration-manage-content #narrow-search-results-holder .narrow-search-lesson-fadeout-container {
    margin-bottom:0
  }
}}
/*safari hack End*/
