#catalog-users .block-title {
  text-indent: 10px
}
#catalog-users #catalog-users-list {
  padding: 6px 10px 0 10px;
  background: #ffffff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc
}
#catalog-users #expertus-online-datatable-pager {
  position: relative
}	
#catalog-users #expertus-online-datatable-pager_center {
  width: 100%;
  float: right
}
#catalog-users #expertus-online-datatable-pager_center .ui-pg-table {
  float: right;
  white-space:nowrap
}
#catalog-users .ui-jqgrid .ui-pg-table {
  position: static
}
#catalog-users #expertus-online-datatable-pager_left,
#catalog-users #expertus-online-datatable-pager_right,
#catalog-users #catalog-users-jqgrid_id {
  display: none	
}
#catalog-users #last_expertus-online-datatable-pager,
#catalog-users #first_expertus-online-datatable-pager { 
  display: block
}
#catalog-users .ui-jqgrid .ui-separator,
#catalog-users #expertus-online-datatable-pager,
#catalog-users #gview_catalog-users-jqgrid .ui-state-default,
#catalog-users #catalog-users-jqgrid .ui-state-hover {
  border:0
}
#catalog-users #next_expertus-online-datatable-pager span,
#catalog-users #prev_expertus-online-datatable-pager span,
#catalog-users #expertus-online-datatable-pager,
#catalog-users #catalog-users-jqgrid .ui-state-hover {
  background: none
}
#catalog-users #first_expertus-online-datatable-pager {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -253px;
  width: 27px;
  height: 21px;
  border: 0;
  opacity: 8;
  filter: Alpha(Opacity=100)
}
#catalog-users #prev_expertus-online-datatable-pager {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px;
  width: 24px;
  height: 18px;
  border: 0;
  opacity: 8;
  filter: Alpha(Opacity=100)
}
#catalog-users #next_expertus-online-datatable-pager {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px;
  width: 29px;
  height: 18px;
  padding-right: 8px;
  border: 0 none;
  opacity: 8;
  filter: Alpha(Opacity=100)
}
#catalog-users #last_expertus-online-datatable-pager {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -302px;
  width: 22px;
  height: 21px;
  padding-right: 8px;
  border: 0;
  opacity: 8;
  filter: Alpha(Opacity=100)
}
#catalog-users .search-pagination-right{
  padding: 0 8px 0 0
}
#catalog-users .exp-usercatalog-user-rec {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc
}
#catalog-users .exp-catalogusers-first-rec {
  padding-top: 0
}
#catalog-users .exp-catalogusers-last-rec {
  padding-bottom: 0;
  border-bottom: 0
}
#catalog-users .expertus-no-online-users-msg {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 99.4%;
  padding:12px 0 5px;
  color: #999;
  text-align: center
}
#block-exp-sp-usercatalog-online h2.block-title {
  text-transform: capitalize
}
#catalog-users-list .profile-item .user-name {
  font-size:15px;
  padding-bottom:0
}
#catalog-users-list .profile-item .job-title {
  font-size: 11px;
  line-height: 12px;
}
.profile-online-picture {
  float:left;
  width:15%;
  padding-right:10px
}
.profile-catalog-user-info {
  float:left;
  width:81%
}
.UserProfile_box {
  background:#fff
}
.usercatalog-holder .block-title {
  float: left
} 
.UserCatalogInfo .profile-catalog-user-session {
  width: 350px;
  display:block;
  font-size:13px;
  color:#333
}
.UserCatalogInfo .user-profile-text {
  padding-bottom:6px  
}
.UserCatalogInfo .profile-catalog-list-items {
  width: 300px;
  padding-bottom:5px
} 
.UserCatalogInfo .profile-catalog-list-items .user-description {
  float: left;
  width: 25%;
  color:#666
}
.UserCatalogInfo .profile-catalog-list-items .user-details {
  float: left;
  width: 75%;
  word-wrap: break-word
}
#usercatalog-online-loader {
	min-height:100px
}
.usercatalog-holder .qtip-content {
  width: -moz-available
}
#my-login-container .admin-save-button-container {
  margin: 1px 27px 0 0
}
#my-login-container .admin-save-button-middle-bg {
  float:left;
  width:auto;
}
#my-login-container .learner-sign-close-link {
  background: none;
  color: #4686DD;
  float: left;
  margin: 4px 0 0;
  padding: 0 10px 0 0
}
#catalog-users h2.block-title,
#user-points h2.block-title {
 text-transform: capitalize;		
}
.overallusersearchlist {
  margin-left: 59px;
  margin-top: -27px;		
}
.usersearchoptdiv {
  padding: 0 10px 0 0;		
}
#catalog-user-search-list li.eol-search-input input{
  width:187px;
}
#catalog-user-search-list li.eol-search-input {
  width:187px;		
}		 
#catalog-users .block ul {
  margin:0		
}
#catalog-users-list .expertus-online-datatable .ui-pg-table .ui-pg-table {
  margin-top: 4px
}
#catalog-user-search-list .ac_input {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% 4px;
  padding-top: 0
}
#catalog-user-search-list input.ac_loading {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -16px;
  padding-top: 0
}
#catalog-user-search-list .block-title {
  line-height: 33px
}
#page-container #catalog-users #catalog-users-list {
  background: #FFFFFF;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding: 0
}
#page-container #catalog-users .exp-usercatalog-user-rec {
  border-bottom: 1px solid #ededed;
  padding: 13px 13px 8px
}
#page-container #catalog-users .exp-catalogusers-last-rec {
  border-bottom: 0	
}
#page-container .most-active-user .profile-item .profile-desc {
  float: left;
  padding-left: 10px;
  text-align: left;
  width: auto
}
#page-container .most-active-user .profile-item .user-name {
  clear: both;
  color: #4687DD;
  display: inline-block;
  line-height: 1.2em;
  padding: 0 0 3px;
  text-decoration: none
}
#page-container #catalog-users .ui-jqgrid .ui-pg-table {
  margin-right: 5px;
  position: static
}
#page-container #catalog-user-search-list li.eol-search-input input,
#page-container #catalog-user-search-list li.eol-search-input {
  width: 148px	
}
#page-container .region-sidebar-second {
  margin-left: 683px;
  width: 260px	
}
#page-container #catalog-user-search-list .block-title {
  line-height: 38px	
}