/* Common styles Start */
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
/* Course/Class/Tp Details End */


/* Sign In styles Start */
.theme-ctool-popup .my-login-links-actions .my-login-register{
  width:247px
}
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */
.my-account-box .layout-add-edit-button {
  width: 62px
}
/* Account styles End */


/* Catalog styles Start */
/* Catalog styles End */

/* Profile styles Start */
#myskill-parent .learner-save-skill-button .addedit-form-cancel-container-actions{
  width:140px
}
#learner-myskill-details #myskill-parent .disp-parent{
 width:170px;
 margin-left:0
}
#catalog-userpoints-loader .column-action-text{
 margin-right:13px; 
}
.page-learning-my-profile #page-container .form-item input.skill-text-box{
  padding-left:2px
}
/* Profile styles End */

/* Discussions styles Start */
.page-learning-forum-topic-list #page-container #frm-topic-list-sort-display .sort-by-links{
  left:-87px
}
.page-learning-forum-topic-list #page-container .frm-topic-list-sort-text{
  padding-right:30px
}
#page-container .frm-topic-list-sortby {
  left:250px
}
#page-container #frm-paint-content .frm-list-sortby .sort-by-links{
    left: -101px
}
/* Discussions styles End */

/* Team styles Start */
.page-learning-myteam-search #page-container #lnr-myteam-search .sort-by-links{
  left:-55px
}
/* Team styles End */


/* Shopping Cart styles Start */
#payment-details #uc_cc_info .form-item .form-text {
  width: 185px
}
#uc_cc_info .form-item-panes-payment-details-cc-exp-month,#uc_cc_info .form-item-panes-payment-details-cc-type{
  width:120px
}
/* Shopping Cart styles End */

/* Reports styles Start */
#report-add-wizard #report_criteria_form .narrow-filter-fields-conatiner .bubble-modifier-container {
    width:320px
}
#lnr-reports-search #paintReportsContent .narrow-search-sortbar-options .narrow-search-sortbar-sortlinks {
    left:-58px
}
.page-reports #create-schedule-addedit-form .addedit-new-field-title {
    width:98px;
    padding-left:0
}
/* Reports styles End */

/* My Learning(My Enrollments) styles Start */
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults td.learners-for-classes{
  padding-left:5px;
  padding-right:5px
}
.page-learning-enrollment-search #page-container #paintInstructorResults .cus-accord .ui-jqgrid-hbox .ui-th-column{
  text-indent:3px
}
.page-learning-enrollment-search #page-container #enroll-result-container div.fivestar-summary span.empty, 
.page-learning-enrollment-search #page-container #enroll-lp-result-container div.fivestar-summary span.empty{
  margin-left:0
}
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
/* .page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-show-moreclass .enroll-main-action-lp-multiclasss,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list{
  width: 131px
}
.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-main-action-lp-multiclasss .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch:hover{
	width:113px
} */
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
#drupalchat-wrapper #drupalchat .change-signin-state{
 font-size: 8px;
}
/* Chat styles End */


/* Learning(Course/Class) styles Start */
#bubble-face-table tbody tr td.attachment-display-btn-text{
  text-indent:-2px
}
.qtip-content #bubble-face-table #attachment-addedit-form-html .attach-browse-hid {
  left:50px
}
#program-tp-basic-addedit-form-container #attachment-addedit-form-html .attach-browse-hid {
  left:68px
}
#narrow-search-results-holder #attachment-addedit-form-html .admin-save-button-middle-bg,
#modalContent #bubble-face-table #attachment-addedit-form-html .admin-save-button-middle-bg, 
.qtip-content #bubble-face-table #attachment-addedit-form-html .admin-save-button-middle-bg,
#program-tp-basic-addedit-form-container #attachment-addedit-form-html .admin-save-button-middle-bg {
  margin:0
}
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */

/* Learning(Training Plan) styles End */


/* People(User) styles Start */
#user-basic-addedit-form .addedit-left-col{width:97.5%}
.crs-tab-titles-container .tab-title,.crs-tab-titles-container-view .tab-title,.narrow-search-multi-action-container .tab-title,
.modal-content .crs-tab-titles-container .tab-title,.modal-content .crs-tab-titles-container-view .tab-title,.modal-content .narrow-search-multi-action-container .tab-title {
  display:block;
  height:24px
}
#admin-data-grid .user-enrollment-div-cls .narrow-text-search{
  z-index:100
}
#admin-data-grid .user-enrollment-div-cls .ac_input{
  z-index:99
}
/* People(User) styles End */

/* People(Organization) styles Start */
/* People(Organization) styles End */

/* People(Groups) styles Start */
#security-role-detail-wrapper #add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container{
 margin-left:137px
}
.page-administration-people-group #page-container #bubble-face-table .form-item .form-text, 
.page-administration-people-group #page-container #narrow-search-results-holder #bubble-face-table tbody tr td .input-field-grey{
 width:160px
}
.page-administration-people-group #page-container #narrow-search-results-holder #security-role-detail-wrapper .add-users-grp .admin_class_ac_input_mainform{
  width:142px
}
.page-administration-people-group #role-detail-wrapper #add-user-role-page #add-class-list-wrapper .admin_class_ac_input_mainform{
  width:156px	
}
.page-administration-people-group #role-detail-wrapper #add-user-role-page #add-class-list-wrapper .filter-search-start-date-right-bg{
 margin-right:24px
}
.page-administration-people-group #security-role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers{
 right:3px
}
/* People(Groups) styles End */

/* People(settings) styles Start */
.page-administration-people-setup #page-container .narrow-search-results-item-details{
  margin-top:4px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-title {
  width: 46px;
  padding-top:3px
}
.page-administration-people-setup #list-values-addedit-form-details .disable-delete-icon{
  margin-top:0
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-survey ul.catalog-pub-add-list {
  width:140px
}
.page-administration-survey .save-pub-unpub-sub-menu {
  float:right
}
.page-administration-survey-surveydetails #survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  width:132px;
  padding-right:0
}
.page-administration-survey-surveydetails .admin-surass-auto-search-container .admin-pagination-surass-search-go {
	margin-left: 130px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
.page-administration-manage-content #page-container .narrow-search-filterset-item-label-unselected,
.page-administration-manage-content #page-container .narrow-search-filterset-item-label-selected
.page-administration-manage-content #page-container .srch-label-cls {
    width: 151px;
}
/* Manage(Content) styles End */

/* Manage(Location) styles Start */
/* Manage(Location) styles End */

/* Manage(Banner) styles Start */
/* Manage(Banner) styles End */

/* Manage(Notification/Certificate) styles Start */
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
.page-administration-commerce-order #page-container #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce-order #page-container #narrow-search-results-holder .narrowsearch-pub-add-list{
  right:14px
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
#discount-basic-addedit-form-container .form-item-dis-applicable-user select.discount_dropdown_width,
.theme-ctool-popup .addedit-new-field-two-col .addedit-edit-dropdown{
  width: 145px;
}
#discount-basic-addedit-form-container select.addedit-edit-dis_combine{
  width:100px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
#tax-basic-addedit-form-container .addedit-firstcol-field-value .addedit-edit-dropdown{
  width:290px
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-two-col .expertus-dropdown-bg,
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-new-field-two-col .expertus-dropdown-icon {
  width: 135px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-edit-textfield{
  width:128px
}
/* Commerce(Settings) styles End */

/* site settings style starts*/
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .addedit-edit-dropdown {
  width:250px
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field-title,
#ldap-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title{
  font-size:11px
}
/* site settings style ends*/

/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */
/*Start title restriction style*/
.page-learning-myteam-search .fade-out-title-container.myteam-compliance-course-title-fadeout-container,
.page-learning-myteam-search .fade-out-title-container.myteam-mandatory-course-title-fadeout-container{
   max-width:335px 
 }
.page-learning-myteam-search .fade-out-title-container.myteam-recommended-course-title-fadeout-container{
   max-width:324px 
}
/*End title restriction style*/
#page-container #paintInstructorResults td.instructor-learner-tab .ui-jqgrid .ui-jqgrid-htable th div.checkbox-unselected,
#page-container #paintInstructorResults td.instructor-learner-tab .ui-jqgrid .ui-jqgrid-htable th div.checkbox-selected {
  margin-left:8px
}

#two-col-row-author_vendor_complete .form-item-compliance-validity label,
#two-col-row-author_vendor_complete .form-item-compliance-completed label{
  top:2px;
}

.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .filter_labelclass{
	width :104px;
}

.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .reg.dropdown-set-wrapper .filter_labelclass,
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .textfilter-set-wrapper .filter_labelclass,
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .assignedby.dropdown-set-wrapper .filter_labelclass {
	width:95px;
}


#page-container #myprograms-mylearning-filter-by .reg.dropdown-set-wrapper .filter_labelclass,
#page-container #myprograms-mylearning-filter-by .textfilter-set-wrapper .filter_labelclass, 
#page-container #myprograms-mylearning-filter-by .assignedby.dropdown-set-wrapper .filter_labelclass {
  width: 96px;
}
#page-container #myprograms-mylearning-filter-by .reg.dropdown-set-wrapper,
#page-container #myprograms-mylearning-filter-by .textfilter-set-wrapper, 
#page-container #myprograms-mylearning-filter-by .assignedby.dropdown-set-wrapper {
 width: 246px;