.h5p-dialog-wrapper .h5p-dialog-inner .h5peditor-label{
width:119px;
}
.h5p-interactive-video .h5p-dialog.h5p-big.label-container,
.h5p-interactive-video .h5p-dialog.h5p-big.link-container{
width:400px;
}
.h5peditor-label .info-enr-upload{
	margin:5px 6px 0 0;
}
.h5p-image-radio-button-group .h5peditor-required{
	margin-left:-27px;
}
.h5p-interactive-video .h5p-dialog.h5p-big.single-choice-set-container .h5p-image-radio-button-group .h5peditor-required{
	margin-left:-36px;
}
.single-choice-container .h5peditor-label .info-enr-upload{
	margin:5px 15px 0 0;
}