/* Common styles Start */
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
#catalog-course-basic-addedit-form .addedit-new-field-two-col{
 /* width:571px;*/
}
/* Course/Class/Tp Details End */


/* Sign In styles Start */
#modalContent .theme-ctool-popup .my-login-frm .single-req-pwd-form-wrapper{
  padding-left:120px
}
#modal-content #my-login-container .login-admin-save-button-container .item-list ul{
  padding-top:2px
}
.theme-ctool-popup .my-login-links-actions .my-login-register{
  width:237px
}
div.saml-helptext {
  right:65px
}
#my-login-container .saml-signin{
  right:8px
}
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */
.my-account-box .layout-add-edit-button {
  width: 62px
}
/* Account styles End */

/*Salesforce Settings*/
#sfserver-basic-addedit-form .addedit-form-cancel-container-actions{
	width: 148px;
  }
/*End of Salesforce*/
/* Catalog styles Start */
/* Catalog styles End */

/* Profile styles Start */
#learner-myskill-details #myskill-parent .disp-parent {
	width :160px;
	margin-left:13px
}

/* Profile styles End */

/* Discussions styles Start */
.page-learning-forum-topic-list #page-container #frm-topic-list-sort-display .sort-by-links{
  left:-91px
}
#page-container #frm-paint-content .frm-list-sortby .sort-by-links{
    left: -97px
}
/* Discussions styles End */

/* Team styles Start */
.search-register-btn .search-register-mandatory-list .title-mandatory-clr{
  margin-top:0
}
/* Team styles End */


/* Shopping Cart styles Start */
#page-container .shoppingcart-hdr-v2 .cart-step-region div{
  padding: 0 8px 5px 7px
}
.commerce-container-v2 #uc-cart-checkout .order-edit-table .oet-label{
  width:25%
}
#payment-details #uc_cc_info .form-item .form-text {
  width: 185px
}
#uc_cc_info .form-item-panes-payment-details-cc-exp-month,#uc_cc_info .form-item-panes-payment-details-cc-type{
  width:120px
}
/* Shopping Cart styles End */

/* Reports styles Start */
#report-add-wizard #report_criteria_form .narrow-filter-fields-conatiner .bubble-modifier-container {
    width:320px
}
#lnr-reports-search #paintReportsContent .narrow-search-sortbar-options .narrow-search-sortbar-sortlinks {
    left:-58px
}
.expertusV2PopupContainer .reports-apply-btn {
  padding-left:5px
}
.page-reports #create-schedule-addedit-form .addedit-new-field-title {
    width:103px
}
/* Reports styles End */

/* My Learning(My Enrollments) styles Start */
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults td.learners-for-classes{
  padding-left:5px
}
.page-learning-enrollment-search #page-container #enroll-result-container div.fivestar-summary span.empty, 
.page-learning-enrollment-search #page-container #enroll-lp-result-container div.fivestar-summary span.empty{
  margin-left:0
}
.page-learning-enrollment-search #page-container .enroll-sort-by-container .sort-by-links, 
.page-learning-enrollment-search #page-container .instructor-sort-by-container .sort-by-links{
  left: -102px
}
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
/* .page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-show-moreclass .enroll-main-action-lp-multiclasss,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list{
  width: 132px
}
.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-main-action-lp-multiclasss .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch:hover{
	width:113px
} */
.page-learning-enrollment-search #page-container .enroll-sort-bylist{
  right:0
}
#page-container #div_my_transcript .my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table {
  margin-right: 10px
}
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
.page-learning-enrollment-search #page-container #instructor-result-container .paint-mark-completion{
  min-width:130px
}
.page-learning-enrollment-search #page-container #paintInstructorResults .cus-accord .ui-jqgrid-hbox .ui-th-column{
  text-indent:3px
}
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
#drupalchat-wrapper #drupalchat .change-signin-state{
 font-size: 8px;
}
/* Chat styles End */


/* Learning(Course/Class) styles Start */
#bubble-face-table tbody tr td.attachment-display-btn-text{
  text-indent:-2px
}
.page-administration-learning-catalog #root-admin-search-right-col #tab-content-main .narrow-search-results-item-details .attachment-empty-column-height{
  height:72px
}
.page-administration-learning-catalog .attachment-empty-column-height{
  height:34px
}
.page-administration-learning-catalog #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
	right:-97px
}
.mro-wrapper #group-control .autocomplete input#multiautocomplete {
  max-width: 150px
}
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */

/* Learning(Training Plan) styles End */


/* People(User) styles Start */
/* .page-administration-people-user #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
  right:166px
} */ 
#admin-data-grid .user-enrollment-div-cls .narrow-text-search{
  z-index:100
}
#admin-data-grid .user-enrollment-div-cls .ac_input{
  z-index:99
}
/* People(User) styles End */

/* People(Organization) styles Start */
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #narrow-search-results-holder #bubble-face-table #add-user-role-page .addedit-edit-username-search-autocomplete {
  width: 159px
}
.page-administration-people-group #role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container{
  width:350px
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-class-dropdown-link{
  width:18px
}
.page-administration-people-group #page-container #narrow-search-results-holder #security-role-detail-wrapper .add-users-grp .admin_class_ac_input_mainform{
  width:142px
}
.page-administration-people-group #role-detail-wrapper #add-user-role-page #add-class-list-wrapper .admin_class_ac_input_mainform{
  width:160px	
}
.page-administration-people-group #role-detail-wrapper #add-user-role-page #add-class-list-wrapper .filter-search-start-date-right-bg{
 margin-right:24px
}
.page-administration-people-group #security-role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers{
 right:3px
}
/* People(Groups) styles End */

/* People(settings) styles Start */
.page-administration-people-setup #page-container .narrow-search-results-item-details{
  margin-top:5px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-title {
  padding-top:3px
}
.page-administration-people-setup #list-values-addedit-form-details .disable-delete-icon,
.page-administration-people-setup #list-values-addedit-form-details .delete-class-button{
  margin-top:0
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-survey-surveydetails #survey_attach_questions_dt div.admin-surass-auto-search-container {
  margin-left:155px;
  width:267px
}
.page-administration-survey-surveydetails #wizard-course-form-wrapper div.two-column-container-view #edit-sur-noof-qst .first-col-value-view {
  line-height:19px
}
.page-administration-survey-surveydetails #modal-content #survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  width:164px;
  padding-right:0
}
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol {
  width:37%
}
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-twocol-firstcol {
  width:53.5%
}
#modal-content #survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  padding-right:0;
  width:132px
}
.page-administration-assessment-assessmentdetails #modal-content #survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  width: 132px
}
.page-administration-assessment-assessmentdetails .admin-surass-auto-search-container .admin-pagination-surass-search-go {
  margin-left:130px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
.page-administration-manage-content #page-container .narrow-search-filterset-item-label-unselected,
.page-administration-manage-content #page-container .narrow-search-filterset-item-label-selected
.page-administration-manage-content #page-container .srch-label-cls {
    width: 151px;
}
/* Manage(Content) styles End */


/* Manage(Location) styles Start */
.page-administration-manage-location #page-container .AdminsublinktabNavigation li a{
  padding-left:5px
}
.page-administration-manage.page-administration-manage-location #page-container .narrow-search-actionbar-list li a span.narrow-search-actionbar-orange-btnBG{
  padding-right:3px;
  font-size:10px
}
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
.page-administration-commerce-order #page-container #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce-order #page-container #narrow-search-results-holder .narrowsearch-pub-add-list{
  right:14px
}
.page-administration-order #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container #search-dropdwn-list,
.page-administration-commerce-discounts #admin-data-grid .search-list-keyword #search-dropdwn-list{
  width: 160px;
}
.page-administration-order #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container .select-list-dropdown,
.page-administration-commerce-discounts .select-trainings-dropdown{
  width: 135px;
}
.page-administration-order #select-order-dialog #add_product_form_wrapper #search-list-title-keyword ul{
  width:153px
}
.page-administration-order #select-order-dialog #add_product_form_wrapper #admin-data-grid #select-list-dropdown-list li{
  width:91%
}
.page-administration-order #page-container .shoppingcart-hdr-v2 .cart-step-region div{
  padding-left:0
}
.page-administration-order-finish #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step,
.page-administration-order-pay #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step{
  padding-left:5px
}
.page-administration-commerce #group-control #autoimg{
  right:12px;
  top:-22px
}
.page-administration-commerce #group-control .autocomplete input#multiautocomplete{
  max-width:150px
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
.page-administration-commerce-discounts #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
  right:11px
}
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable input.multiselect-selectall{
  margin-left:-10px;
  position:relative;
  left:-5px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #catalog-question-basic-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-commerce-tax .pub-unpub-only-save-btn{
  float:none
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
/* Commerce(Settings) styles End */

/* site settings style starts*/
#webanalytics-admin-form .addedit-left-col .addedit-new-field-title,
#ldap-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title{
  font-size:11px
}
.page-administration-sitesetup.page-administration-sitesetup-moduleinfo #webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .addedit-edit-googleanalytics_roles.addedit-edit-dropdown {
  width: 215px
}
/* site settings style ends*/

/*Start SalesForce Style */
#innerWidgetTagEnroll #page-container #paintReportsContent .narrow-search-sortbar-sorttext{
      background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat scroll 60px -466px;
      }
/*End SalesForce Style */

/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

/*Start title restriction style*/
.fade-out-title-container.cart-order-billing-name-fadeout-container {
    max-width: 210px
}
.fade-out-title-container.cart-order-user-name-fadeout-container {
  max-width: 220px
}
.page-learning-myteam-search .fade-out-title-container.myteam-compliance-course-title-fadeout-container,
.page-learning-myteam-search .fade-out-title-container.myteam-mandatory-course-title-fadeout-container{
   max-width:335px 
 }
.page-learning-myteam-search .fade-out-title-container.myteam-recommended-course-title-fadeout-container{
   max-width:324px 
 }
/*End title restriction style*/
.page-administration-learning-catalog #modal-content #catalog-class-addedit-form-details .ac_input{
  width:213px
}
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .filter_labelclass{
	width :104px;
}

.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .reg.dropdown-set-wrapper .filter_labelclass,
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .textfilter-set-wrapper .filter_labelclass,
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .mylearning-filter-by .assignedby.dropdown-set-wrapper .filter_labelclass {
	width:95px;
}


#page-container #myprograms-mylearning-filter-by .reg.dropdown-set-wrapper .filter_labelclass,
#page-container #myprograms-mylearning-filter-by .textfilter-set-wrapper .filter_labelclass, 
#page-container #myprograms-mylearning-filter-by .assignedby.dropdown-set-wrapper .filter_labelclass {
  width: 96px;
}
#page-container #myprograms-mylearning-filter-by .reg.dropdown-set-wrapper,
#page-container #myprograms-mylearning-filter-by .textfilter-set-wrapper, 
#page-container #myprograms-mylearning-filter-by .assignedby.dropdown-set-wrapper {
 width: 246px;
