/*----------- General block -------------*/ 
.detail-wrapper {
	display: block;
	width: 100%;
}
.detail-wrapper .right-section,
.detail-wrapper .left-section {
	padding-top: 10px;
	display: block;
	float: left;
}
.detail-wrapper .left-section {
	width: 67%;
}
.detail-wrapper .right-section {
	width: 30%;
	padding-left: 10px;
}
#block-exp-sp-coursedetail-course-details .detail-wrapper .right-section {
	width:31.7%;
}	
.border-box,
.border-box-crs,
.border-box-tp {
	margin-top:10px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	display: block;
	overflow: hidden;
}
.border-box-cnt-crs,
.border-box-cnt-tp {
	display: block;
	float: left;
	width: 100%;
}
.class-content-content-wrapper,
.course-content-content-wrapper,
.select-class-course-content-more {
	display: block;
    float: left;
    margin-left: 10%;
    padding: 0 8px 0 0;
    width: 73%;
}
.course-content-content-wrapper,
.select-class-course-content-more {
	width: 90%
}
.border-box-crs, 
.border-box-tp {
	padding: 10px 0;
}
.detail-wrapper .search-register-btn {
  border:1px solid #e5e5e5;
  border-radius: 12px;
  border-collapse: separate
}
.detail-wrapper .action-btn, 
.detail-wrapper .action-btn-disable,
.detail-wrapper .action-btn-waitlist {
  border-radius: 12px;
  color:#474747;
  font: normal 12px ProximaNovaBold, Arial;
  text-align:center;
  text-transform:uppercase;
  width:100%;
  height: auto;
  line-height: 15px;
  padding: 5px 0;
}
.detail-wrapper .progress-disabled{
	float: none
}
/* .cls-action-button-price-lable{
	padding-top:6px
} */
.detail-wrapper .action-btn,
.detail-wrapper .action-btn.priced,
.detail-wrapper .action-btn-waitlist {
  background: -ms-linear-gradient(#ffffff,#f3f3f3);/*For IE10*/
  background: linear-gradient(#ffffff,#f3f3f3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#f3f3f3'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3)";
  cursor:pointer;
}
.detail-wrapper .action-btn-disable {
	 background: #fff none repeat scroll 0 0;
}
/* .detail-wrapper .action-btn.priced {
	height: 34px;
} */
.content-action-container .progress {
    width: 100px;
    margin: 24px auto;
    float: none;
}
.content_concat_string{
	color: #666;
    display: block;
    font-family: ProximaNova,Arial;
    font-size: 12px;
    font-weight: normal;
    margin: 3px auto;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
}
.content-title .fade-title,
.content-description .fade-desc {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, transparent, #fff 80%, #fff) repeat scroll 0 0;
    bottom: 0;
    height: 18px;
    position: absolute;
    right: 0;
    width: 70px;
}
.limit-desc-row .limit-desc #arrow-more, .limit-desc-row .limit-desc #arrow-less {
	
}
.detail-wrapper .no-records{
	border-left: 0;
    border-right: 0;
	width:98%;
	color: #777;
    font-size: 13px;
    text-align: center;
}
#class_detail_content .class-detail-session-instructor-fadeout-container {
	float: left;
    max-width: 230px;
}
#course_detail_content .class-detail-session-instructor-fadeout-container {
	float: left;
	max-width: 175px;
}
#lnp-details-content .class-detail-session-instructor-fadeout-container {
	float: left;
	max-width: 155px;
}
.ses-seperator {
	float:left;
	margin-right:5px
}
.detail-wrapper .fade-out-title-container {
	line-height: 17px;
}
#paint-courses-list .course-content-more{
	height:15px;	
}
.content-row-container .content-detail-container .show_more_less { 	
	color: #2082f6;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	clear:both;
	width: auto;
}
.class-content-more .show_more_less, .class-content-less .show_more_less, 
.course-content-more .show_more_less, .course-content-less .show_more_less { 	
	color: #2082f6;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	float: left;
	width: auto;
}
#lnp-details-content .class_list_container .show_more_less,#course_detail_content .content-row-container .show_more_less {
	padding-top:5px;
}
.clsdisplaynone{
	display:none
}
.clsdisplayblock{
	display:block
}
.class-content-wrapper .cp-menulist li:first-child .cp-menu-detail .clsConentValidtiy ,
.class-content-wrapper .cp-menu-detail .clsConentValidtiy{
  right:20px
}
.detail-wrapper .grid-show-more {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 9px;
    padding-top: 4px;
}
.detail-wrapper .grid-show-more-wrapper {
	border: 1px solid #e5e5e5;
    border-radius: 6px;
    color: #474747;
    cursor: pointer;
    font-family: ProximaNovaBold,Arial;
    font-size: 12px;
    padding: 2px 6px;
    text-transform: uppercase;
}
/*----------- General block -------------*/

/*--- Content section block -----------*/
 .session-details-warpper,
.session-location-warpper {
	display: block;
	float: left;
}
.content-details-warpper{
	float: left;
}
.session-detail-block, .session-row, .sub-section-title,
.sess-attr-name, .location-address,
.sub-section-title-out {
	float: left;
	display: block;
	width: 100%;
}
.sub-section-title, .sub-section-title-out {
	font: normal 14px ProximaNovaBold, Arial; 
	color: #474747;
}
.sub-section-title-out {
	width: 95%;
	padding: 0 15px;
}
.session-row {
	padding: 1px 0 0 0;
	line-height:18px;
}
.sess-attr-name { width: 18%; }
.sess-attr-val { max-width: 81%;float:left;display:block }
.content-icon {
	margin: 0 auto 10px;
}
#page-container .detail-wrapper .content-compliance-role-bg,
#page-container .detail-wrapper .content-compliance-role-bg .catalog-course-role-access-bg,
#page-container .detail-wrapper .catalog-course-compliance-role-bg {
	display: block;
	float: left;
    margin: 0 auto;
	width: 100%;
}
#page-container .detail-wrapper .catalog-course-role-access-bg .catalog-course-mandatory-bg-middle,
#page-container .detail-wrapper .catalog-course-role-access-bg .catalog-course-recommended-bg-middle,
#page-container .detail-wrapper .catalog-course-compliance-role-bg .catalog-course-compliance-bg-middle {
	display: table;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.content-row-container .content-icon-container .wbt-icon,
.content-row-container .content-icon-container .vod-icon,
.content-row-container .content-icon-container .ilt-icon,
.content-row-container .content-icon-container .vcl-icon,
.content-row-container .content-icon-container .crs-icon,
.content-row-container .content-icon-container .curr-icon,
.content-row-container .content-icon-container .lrn-pln-icon,
.content-row-container .content-icon-container .cert-icon {
	margin-top: 0;
}
.content-access-bg-left, .content-access-bg-middle, .content-access-bg-right,
.content-compliance-bg-left, .content-compliance-bg-middle, .content-compliance-bg-right {
	float: left;
	color: #fff;
	display: block;
	background-color: #1d96d7;
	height: 17px;
	line-height: 17px;
	width: 8%;
}
.content-access-bg-middle,
.content-compliance-bg-middle {
	width: 75%;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.content-access-bg-right, 
.content-compliance-bg-right {
	border-radius: 0 10px 10px 0;
	
} 
.content-access-bg-left,
.content-compliance-bg-left{
	border-radius: 10px 0 0 10px;
}
.content-access-bg-left.mand, .content-access-bg-middle.mand, .content-access-bg-right.mand {
	background-color: #ef2584;
}
.content-access-bg-left.recom, .content-access-bg-middle.recom, .content-access-bg-right.recom {
	background-color:  #1d822d
}
#class_detail_content .time-zone-text{
	font-size:8px;
}
#class_detail_content .sess-attr-val .location-session-detail a{
	font-size: 8px;	/*Viswanathan added for #76619,#76437,#76441 */
}
#course_detail_content .time-zone-text{
	font-size: 12px;	
}
/*Viswanathan added for #76619,#76437,#76441 */
#course_detail_content .meridian-time{
	font-size:8px;
}
#learning-plan-details-data .course-list-wrapper .time-zone-text {
	font-size: 11px;	
}
#learning-plan-details-data .course-list-wrapper .meridian-time{
	font-size:8px;
}
.time-zone-text {
	font-size: 8px;	
}
/*--- Content section block -----------*/
/*--- action button -------------------*/
.class-heaader-wrapper .progress-disabled {
    float: none;
}
/*--- action button -------------------*/
/*------------menu carosal ---------*/
#class_detail_content .paindContentResults{
	width: 591px;
	display: block;
	overflow:hidden
}
#learning-plan-details-display-content .cls-cp-menulist,
#course-details-display-content .cls-cp-menulist,
#class_detail_content .cls-cp-menulist {
	border:1px solid #d8d8d8;
	height: 100px;
}
#learning-plan-details-display-content .paindContentResults .cls-cp-menulist.menulist-lt4,
#course-details-display-content .paindContentResults .cls-cp-menulist.menulist-lt4,
#class_detail_content .paindContentResults .cls-cp-menulist.menulist-lt4 {
    float: none;
    margin: 0 auto;
}
#learning-plan-details-display-content .paindContentResults .cls-cp-menulist.menulist-lt4{
	clear: both;
}
#page-container .class-content-wrapper .cp-menulist li {
    width: 196px;
}
#page-container .class-content-wrapper .cp-menulist li .cp-menuitem{
	width: 194px;
}
#page-container .class-content-wrapper .cp-menulist li .cp-menu-action{
	width: 128px;
}
#page-container .class-content-wrapper .cp-menulist .cp-menu-details{
	background-position: 177px -985px;
}
#learning-plan-details-display-content .paindContentResults,
#course-details-display-content .paindContentResults{
	margin:0 auto;
	width: 394px;
	display: block;
	overflow:hidden
}
#learning-plan-details-display-content .content-details-warpper,
#course-details-display-content .content-details-warpper{
	width:100%
}
/*-----menu carosel ---------------*/

/*----------- header detail block -------------*/
.content-search-register-btn {
	margin: 0 auto;
	width: 100px;
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	border-collapse: separate;
}
.share-tab-icon {
    background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -162px -749px;
    display: inline-block;
    height: 24px;
    margin-top: -1px;
    vertical-align: top;
    width: 17px;
}
.content-detail-code, .content-title,
.content-description, .content-row-container {
	float: left;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.content-detail-code {
	font-size: 12px;
}
.content-row-container {
	clear: both;
}
.content-row-container .content-icon-container,
.content-row-container .content-detail-container,
.content-row-container .content-action-container {
	display: block;
	float: left;
}
.content-row-container .content-icon-container { 
	width: 11%
}
#course-details-display-content .left-section .content-row-container .content-detail-container,
.content-row-container .content-detail-container {
	width: 72%
}
#course-details-display-content .content-row-container .content-detail-container {
	width: 89%
}
.content-row-container .content-action-container {
	width: 16%
}
.content-row-container .line-item {
	display: inline-block;
	float: left;
	color: #777;
}
.content-detail-container .content-title {
	font: 12px ProximaNovaBold, Arial;
	text-transform: uppercase;
	line-height: 17px;
	color: #474747;
}
.content-rateshare-container .fivestar-widget, 
.content-rateshare-container .description,
.content-rateshare-container #shareoption .clsShareOption {
	float: left;
	display: inline-block;
	color: #999;
}
.content-row-container div.fivestar-widget {
	margin: 4px 10px 0 0;
}
.content-row-container .content-description {
	text-align: justify;
}  
.course-attempt-left, .course-content-validity,
.content-available-seats {
	font: normal 11px ProximaNovaBold, Arial;
	margin: 3px auto;
	color: #666;
	text-align: center;
} 
.padbt5 {
	padding-bottom: 5px;
}
.padtp5 {
	padding-top: 5px;
}
.padbt10 {
	padding-bottom: 10px;
}
.padtp10 {
	padding-top: 10px;
}
.lrn_cls_dty_vod .fade-out-title-container.class-detail-class-code-fadeout-container,
.lrn_cls_dty_wbt .fade-out-title-container.class-detail-class-code-fadeout-container {
	max-width: 600px;
}
.lrn_cls_dty_vcl .fade-out-title-container.class-detail-class-code-fadeout-container,
.lrn_cls_dty_ilt .fade-out-title-container.class-detail-class-code-fadeout-container {
	max-width: 500px;
}
.lrn_cls_dty_vcl .fade-out-title-container.class-detail-class-code-multi-fadeout-container{
  max-width: 350px;	
}
.lrn_cls_dty_ilt .fade-out-title-container.class-detail-class-code-multi-fadeout-container {
	max-width: 220px;
}
.lrn_cls_dty_ilt .reg-end .fade-out-title-container.class-detail-class-code-multi-fadeout-container,
.lrn_cls_dty_vcl .reg-end .fade-out-title-container.class-detail-class-code-multi-fadeout-container {
	max-width: 90px;
}
.session-name .class-detail-session-title-fadeout-container{
	max-width: 485px;
	line-height:16px;
}
#class_detail_content #shareoption,#learning-plan-details-display-content #shareoption{
	float:left
	}
#class_detail_content .clsShareOption,
#learning-plan-details-display-content .clsShareOption{  
  position: relative;
 }
#class_detail_content #shareoption .single-share-link,
#learning-plan-details-display-content #shareoption .single-share-link{   
  display: inline-block;
  line-height: 24px;
  margin-top: -3px;
  vertical-align: top;
 }
#shareoption .single-share-link { color: #2D2D2D; cursor: pointer; }
#shareoption .checkbox-label,
#shareoption .label-text {
	color: #2d2d2d;
    float: left;
}
.detail-wrapper .form-item .description { margin-left: 0; }
.detail-wrapper .form-item .total-votes { margin: 0 3px 0 10px; }
.refer-class-col3 .check-label{
	width:250px
}
.detail-wrapper .refer-course-holder .refer-note, .expertusV2PopupContainer div.refer-note{
	width: 56.2%;
}
.page-learning-catalog-search .expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset,
.page-learning-course-details .expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin-right: 22px;
}
.page-learning-catalog-search #request_class_holder .check-label{
	margin-top: -28px;
}
/*----------- header detail block -------------*/

/*--- Misc section block -----------*/
.content-prereq-container, .content-equiv-container, .content-tag-container,
.content-instructor-container, .content-attachment-container, 
.content-instructor-row, .content-instructor-block, .user-list-border-img, 
.instrcutor-name,.content-details-attachment-more,.prerequisite-block-container  {
	display: block;
	float: left;
	width: 100%;
}
.content-instructor-detail {
	float:left
}
.default-pic{
	margin:7px
}
.prerequisite-block,
.content-prerequisite-action {
	display: inline-block;
	float: left;
	width: 70%;
}
.prerequisite-block ,.equivalence-block{ width: 100%; }
.content-prerequisite-action {  
	width: 17%;
	padding-top:2px; 
}
.content-instructor-row {
	width: 32%;	
}
#course-details-display-content .content-instructor-row,
#learning-plan-details-display-content .content-instructor-row{
	width: 49%;
}
.space-height-separater5px{
	width: 100%;
	height: 5px;
	clear: both	
}
.tags-val{
	font-size: 13px;
}
.content-instructor-block .user-list-border-img {
	height: 50px;
	width: 50px;
	border: 1px solid #e5e5e5;
	border-radius: 50px;
}
.content-instructor-detail {
	/*width: 122px;*/
	height: 50px;
	padding: 0 5px 0 10px
}
#block-exp-sp-coursedetail-course-details .content-instructor-block .content-instructor-detail{
  width:70%;	
}
#block-exp-sp-classdetail-class-details .content-instructor-block .content-instructor-detail{
	width:64%;
}
#learning-plan-details-display-content .content-instructor-detail {
  width:65%
}
/*#course-details-display-content .content-instructor-detail {
	width: 145px;
}*/
.content-instructor-detail .instrcutor-name {
/* 	padding: 8px 0 0 0;
	color: #000;*/
	font: bold 11px openSansRegular, Arial; 
	line-height:17px;
}
.content-instructor-detail .instrcutor-dest {
	/* color: #000;
	font: normal 11px openSansRegular, Arial;
	padding: 5px 0 0 0; */
	float:left;
	font-size:12px;
	color:#777;
}
.class-details-attachment-list .attachment-link {
	color: #2082F6;
	line-height: 1.5em;
	height: 20px;
	cursor: pointer;
}
.class-details-attachment-list .attachment-link a{
	color: #2082F6;
	line-height: 1.5em;
	height: 20px;
	cursor: pointer;
	text-decoration: none;
}
.class-dicussion-wrapper #no-records{
	border-left: 0;
    border-right: 0;
    padding: 0;
	width:98%;
}
.content-prereq-container .detail-desc {
	font:normal 13px openSansRegular, Arial;
    line-height: 1.5em;
    color: #474747;
    float: left;
}
.prerequisite-title, .equivalence-title, .course-title {
	line-height: 17px;
	height: 17px;
	float:left;
}
.prerequisite-title .fade-out-title-container,
.equivalence-title .fade-out-title-container,
.course-title .fade-out-title-container {
	max-width: 600px; 
}
.prerequisite-code .fade-out-title-container,
.equivalence-code  .fade-out-title-container,
.course-code  .fade-out-title-container { 
	max-width: 560px; 
}
.course-code  .fade-out-title-container {
	height: 17px;
}
 
#page-container #class_detail_content #forumTopicListContentResults .title_close{
	background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat scroll right -1425px;	
}
#page-container #class_detail_content #forumTopicListContentResults .title_open{
	margin:8px 4px 0 1px;
}
#class_detail_content #forum-topic-list-display {
	min-height: 10px;
}
.content-prereq-title-container{
	padding:0px;
}
.content-prereq-title-container .sub-section-title-blk{
	float:left;
	width:80%;
}
.content-prereq-title-container .content-prerequisite-action{
	float:left;
}
.prerequisite-block-container .prerequisite-code, 
.content-equiv-container .equivalence-code,
.course-block-container .course-code,
.content-duration-title-container .duration {
	color:#777;
	float:left;
}
.prerequisite-block-container .prerequisite-code-row, 
.content-equiv-container .equivalence-code-row,
.course-block-container .course-code-row,
.content-duration-title-container .duration  {
	display:inline-block;
	font-size: 12px;
	width:100%;
}
.prerequisite-row, .equivalence-row, .course-row {
	clear:both;
}
.prerequisite-block-container .prerequisite-code-row .last{
	border-bottom:0px;
}
.content-prereq-inner-container{
	float:left;
	width:100%;
}
.additional-info-desc {
	font: normal 13px openSansRegular,Arial;
	text-align: justify; 
}
.prerequisite-code-row:last-child,
.equivalence-code-row:last-child {
	border-bottom: none;
}
/*--- Misc section block -----------*/
/*--- Disc Section block --------*/
#forumTopicListContentResults .discuss-image-container,
 #forumTopicListContentResults .topic-details-img{
	margin-left:35px;
}
.disc-list-container #no-records{
	border:0px;
	width:95%;
}
.disc-list-container #forumTopicListContentResults .learner-forum-desc-container .learner-forum-title, .forumListResultsPaintInfo .learner-forum-desc-container .learner-forum-title{
	font-size:13px;
	padding:0px;
	 font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: proximanovabold,Arial;	
}
.disc-list-container .admin-forum-action-link-container{
	padding-top:9px;
}
.disc-list-container .fade-out-title-container.addtopic-user-fadeout-container{
	margin-bottom:0px;
	display:inline-table;
}
.disc-list-container .title-lengthy-text{
	display:inline-table;
}
.fade-out-title-container.class-detail-ins-details-name-fadeout-container,
.fade-out-title-container.class-detail-ins-details-job-fadeout-container{
	max-width:120px;
}
#course-details-display-content .fade-out-title-container.class-detail-ins-details-name-fadeout-container,
#course-details-display-content .fade-out-title-container.class-detail-ins-details-job-fadeout-container{
	max-width:155px;
}
#learning-plan-details-display-content .fade-out-title-container.class-detail-ins-details-name-fadeout-container,
#learning-plan-details-display-content .fade-out-title-container.class-detail-ins-details-job-fadeout-container{
	max-width:130px;
}
/*--- Disc Section block --------*/
/*---- Content stats block ----*/
.content_stats_wrapper {
	display: block;
	float: left;
	width: 95%;
	font-family: ProximaNova, Arial;
	font-size: 13px;
}
.stats-wrapper {
	background: #fdfdfd none repeat scroll 0 0;
    float: left;
}
.content_stats,
.content_stats li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 98%
}
.content_stats li {
	border-bottom: 1px solid #ededed;
	/*padding: 18px 0 15px;*/
	padding: 7px 10px;
}
.stats-name, .stats-val {
	float: left;
	font-weight: normal;
}
.stats-val { width: 38% }
.stats-name {
	width: 57%; 
	padding-left: 5px;
}
.stats-val {
	color: #666;
}
.content_stats li:first-child {
	padding-top: 5px;
}
.content_stats li:last-child {
	border-bottom: none;
	padding-bottom: 5px;
}
/*---- Content stats block ----*/
/*Viswanathan added for #78108*/
.lang_ru #cal-legent-tr-height div:not(:last-child),
.lang_fr #cal-legent-tr-height div:not(:last-child),
.lang_de #cal-legent-tr-height div:not(:last-child),
.lang_it #cal-legent-tr-height div:not(:last-child),
.lang_es #cal-legent-tr-height div:not(:last-child){
	width:48%
}
.lang_ru .cal-legent-td,
.lang_fr .cal-legent-td,
.lang_de .cal-legent-td,
.lang_it .cal-legent-td,
.lang_es .cal-legent-td
{
 padding:0
 }
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .page-learning-catalog-search #request_class_holder .check-label,
  #request_class_holder .check-label{
    margin-top:-20px
  }
  #shareoption .checkbox-label,
  #shareoption .label-text {
	margin-top: 2px
  }
  .detail-wrapper .fade-out-title-container {
	line-height: 16px;
  }
}


/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
.content-row-container .content-icon-container { 
/* 	width: 12% */
}
#course-details-display-content .left-section .content-row-container .content-detail-container,
.content-row-container .content-detail-container {
	width: 71%
}
.lrn_cls_dty_vcl .fade-out-title-container.class-detail-class-code-multi-fadeout-container,
.lrn_cls_dty_ilt .fade-out-title-container.class-detail-class-code-multi-fadeout-container {
	max-width: 403px;
}
#course-details-display-content .content-row-container .content-detail-container{
  width:88%
}
.page-learning-catalog-search #request_class_holder .check-label,
#request_class_holder .check-label{
    margin-top:-22px
  }
}}
/*safari hack End*/
