#cp-overlay-parent {
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:#000;
  display:none;
  opacity:0.8
}
#cp-overlay {
  position:fixed;
  z-index:1001;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:none
}
#cp-modal {
  position:fixed;
  z-index:1002;
  /*background:#fff;*/
  min-width:960px;
  height:auto;
  top:100px;
  display:none;
  width:auto
}
#cp-modalcontainer {
  margin:0;
  padding:0;
  display:block;
  float: left;
  border:1px solid #000;
  background:#fff;
  width:955px;
  position:relative
}
/*--- cp-toolbar ---*/
#cp-toolbarcontainer {
  background:#f5f5f5;
  height:40px
}
#cp-menu-launcher, #cp-title, #cp-tools {
  float:left;
  display:block;
  margin:0;
}
#cp-menu-launcher {
  padding:0;
  background-color:none;
  position:absolute;
  top:140px;
  left:47%;
  z-index: 1001  
}
.cp-menu-launcher-release {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat scroll -296px -1024px;
  width:30px;
  height:15px;
  cursor:pointer;
  display: block;
  float: left
}
#cp-menu-launcher .cp-menu-launcher-pop {
	background-position: -327px -1026px;
}
#cp-title, #cp-tools {
  font-size:12px;
  padding:10px 0 10px 5px
}
#cp-title {
  width:94%;
  max-width:94%;
  position:relative;
  overflow:hidden;
}
#cp-tools{
  float:right;
  margin-right:2px;
  padding-bottom:10px;
  padding-top:6px;
  padding-left:5px;
}
/*--- cp-menu ---*/
#cp-menucontainer {
  min-width:952px;
  width:100%;
  margin:0;
  padding:0;
  height:100px;
  float:left;
  background:#fff;
  overflow:hidden
}
.cp-menulist {
  padding:0;
  margin:0;
  float:left;
  list-style-type:none;
  width:100%
}
.cp-menulist li:first-child {
  margin-left:0
}
.cp-menulist li:last-child {
  margin-right:0
}
#page-container .cp-menulist li {
  display:block;
  float:left;
  width:188px;
}
#page-container .course-detail-section-innerRecord .cp-menulist li,
#page-container .Module-detail-section-innerRecord .cp-menulist li {
  display:block;
  float:left;
  width:177px;
}
#page-container .Module-detail-section-innerRecord .course-detail-section-innerRecord .cp-menulist li {
  width:166px
}
.cp-menulist li {
  display:block;
  float:left;
   width:239px; /* Added for Carousel. Dont modify this value */
}
/* .cp-menulist li:nth-child(4n+4) {
  padding-left:0
}*/
.cp-menulist li:last-child {
  padding-left:0;
  padding-right:0;
  max-width:238px;
  /*border-right:1px solid #eee;*/
}
.cp-menulist li:last-child  .cp-menu-details .cp-menu-details-holder,
.cp-menulist li:last-child .cp-menu-progress 
{
	width:100%;
}

/*#cp-menucontainer .cp-menulist li:last-child:hover{
	 border-right:1px solid #eee;
}*/
.cp-menulist li.active {
  background:#f2f2f2
}
#page-container .cp-menulist li .cp-menuitem {
  height:100px;
  width:187px
}
#page-container .course-detail-section-innerRecord .cp-menulist li .cp-menuitem,
#page-container .Module-detail-section-innerRecord .cp-menulist li .cp-menuitem {
  height:100px;
  width:176px
}
/* 0073479: UI issue: In re-certification tracking percentage UI is breaking for the following scenario -- Commenting the below one */
/*#page-container .Module-detail-section-innerRecord .course-detail-section-innerRecord .cp-menulist li .cp-menuitem {
  width:165px
}*/
.cp-menulist li .cp-menuitem {
  height:100px;
  width:239px
}
/* .cp-menulist li:nth-child(4n+4) .cp-menuitem {
  width:240px;
}*/
#page-container .cp-menulist li:last-child .cp-menuitem {
  
}
.cp-menulist li:last-child .cp-menuitem {
  width:235px
}
.cp-menulist li .cp-menu-icon, 
.cp-menulist li .cp-menu-action, 
.cp-menulist li .cp-menu-detail {
  float:left
}
.cp-menulist li .cp-menu-icon {
  width:54px;
  padding:10px 0
}
#page-container .cp-menulist li .cp-menu-icon {
  width:44px
}
#page-container .Module-detail-section-innerRecord .cp-menulist li .cp-menu-icon {
  width:38px
}
#page-container .course-detail-section-innerRecord .cp-menulist li .cp-menu-icon {
  width:30px
}
.cp-menulist li .cp-menu-action {
  clear:none;	
  height:70px;
  width:170px;
  min-width:170px;  
  padding:10px 0;
  word-wrap:break-word
}
#page-container .cp-menulist li .cp-menu-action {
  width:123px;
  min-width:123px
}
#page-container .course-detail-section-innerRecord .cp-menulist li .cp-menu-action {
  width:124px;
  min-width:124px
}
#page-container .Module-detail-section-innerRecord .cp-menulist li .cp-menu-action {
  width:118px;
  min-width:118px
}

.cp-menu-icon .current-status-disable {
  display:none
}
.cp-menu-icon .current-status-enable {
  display:inline
}
.cp-menulist li .cp-menu-details a {
  text-decoration:none;
  color:#666;
  font-size:12px
}
#page-container #main-wrapper .cp-menulist li .cp-menu-details a.clsMenulistTitle,
#page-container #main-wrapper .cp-menulist li .cp-menu-details a.clsMenulistTitle .limit-title {
  display:block;
  font-size:13px;
  color:#2d2d2d
}
#page-container .cp-menulist li .cp-menu-detail {
  width:20px
}
#page-container .cp-menulist li.last .cp-menu-detail {
  width:18px
}
#page-container .Module-detail-section-innerRecord .cp-menulist li .cp-menu-detail {
  width:15px
}
.cp-menulist li .cp-menu-detail {
  width:10px;
  padding:14px 0
}
.cp-menulist .cp-menu-details {
  height:90px;
  position:relative;
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat 221px -986px;
}
#page-container .cp-menulist .cp-menu-details {
 background-position:170px -986px
}
#page-container .course-detail-section-innerRecord .cp-menulist .cp-menu-details,
#page-container .Module-detail-section-innerRecord .cp-menulist .cp-menu-details {
	background-position:159px -986px
}
#page-container .Module-detail-section-innerRecord .course-detail-section-innerRecord .cp-menulist .cp-menu-details {
  background-position:147px -986px
}
#page-container .cp-menulist li:last-child .cp-menu-details {
 background-image:none
}
.cp-menulist .cp-progress-line {
  background:#3eca50;
  height:10px;
  width:80%
}
.cp-menulist .cp-progress-text {
  color:#fff;
  float:left;
  font-size:10px;
  line-height:10px;
  text-align:center;
  width:100%
}
.cp-menulist .cp-menu-progress, 
#cp-content-menulist .cp-menu-progress {
  clear:both;
  display:block;
  width:99%;  
  height:10px;  
  position:relative;
  top:-3px
}
#cp-menucontainer .cls-cp-menulist {
/*   margin-left:4px */
}
.content-type-icon {
/*  border:1px solid #666; */
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -69px -999px;
  width:34px;
  height:36px;
  display:block;
  margin:0 auto
}
.content-type-icon.icn-scorm-12,
.content-type-icon.icn-scorm-2004 {
  background-position:-69px -995px
}
.content-type-icon.icn-aicc {
  background-position:-29px -998px
}
.content-type-icon.icn-knowledge-content {
  background-position:-108px -995px
}
.content-type-icon.icn-video-on-demand {
  background-position:-145px -995px
}
.content-type-icon.icn-tin-can {
  background-position:-183px -1001px
}
.content-type-icon.icn-survey {
  background-position:-223px -995px
}
.content-type-icon.icn-pre-assessment,
.content-type-icon.icn-post-assessment {
  background-position:-259px -996px
}

#page-container .content-type-icon {
  width:28px;
  height:29px
}
#page-container .content-type-icon.icn-scorm-12,
#page-container .content-type-icon.icn-scorm-2004 {
  background-position:-73px -1030px
}
#page-container .content-type-icon.icn-aicc {
  background-position:-32px -1030px
}
#page-container .content-type-icon.icn-knowledge-content {
  background-position:-112px -1037px
}
#page-container .content-type-icon.icn-video-on-demand {
  background-position:-148px -1036px
}
#page-container .content-type-icon.icn-tin-can {
  background-position:-187px -1039px
}
#page-container .content-type-icon.icn-survey {
  background-position:-226px -1036px
}
#page-container .content-type-icon.icn-pre-assessment,
#page-container .content-type-icon.icn-post-assessment {
  background-position:-262px -1037px
}

/*--- cp-content ---*/
#cp-contentcontainer {
  clear:both;
  background:#fff;
  width:100%;
  height:auto;
  min-height:470px;
  margin:0;
  padding:0
}
#cp-content-main {
  border-top:0;
  display:block;
  float:left;
  height:auto;
  min-height:435px;
  width:100%;
  background:#fff;
}
#cp-content-main span.msg-content {
  font-size:12px;
  color:#aaa;
  padding:100px 10px 10px;
  text-align:center;
  display:block 
}
#cp-frame-container .cont-status-msg {
  font-size:12px;
  color:#aaa;
  text-align:center
}
.launch_window{
	color : #1fb6ff;
	cursor:pointer;
}
#launch_msg{
	display: block;
}
.iframe-overlay {
  display:none;
  height:100%;
  opacity:0;
  position:absolute;
  width:100%
}
.cp-nav-player #cp-content-main {
  width:81%
}
#cp-content-navigation {
  display:block;
  float:left;
  height:auto;
  width:19%;
  max-height:600px;
}
#cp-content-navigation-container {
  display:block;
  border-right:1px solid #ccc;
  float:left;
  height:100%;
  width:100%;
  top:10px;
  clear:both
}
#cp-contentcontainer .cp-content-navigation-control {
  border:0;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -357px -1021px #fff;
  color:#333;
  display:block;
  font-size:13px;
  height:24px;
  text-align:left;
  text-decoration:none;
  width:18px;
  float:left;
  margin-left:138px;
  position:fixed;
  line-height:15px;
  text-indent:-2000px
}
#cp-contentcontainer .cp-content-navigation-control.exp-arrow {
  background-position:-372px -1021px
}
#cp-content-navigation #cp-content-menulist {
  clear:both;
  list-style-type:none;
  margin:0;
  padding:0
}
#cp-content-menulist li {
  display:block;
  width:100%;
  border-bottom:1px solid #ccc
}
#cp-content-menulist li .cp-content-menu-details {
  float:left;
  padding:10px 0 15px 20px;
  box-sizing:border-box;
  width:100%
}
#cp-content-menulist li a {
  text-decoration:none;
  color:#000
}
#cp-content-menulist .cp-content-nav-play {
  color:#666;
  float:right;
  font-size:7px;
  padding-right:10px;
  text-align:center;
  width:30px;
  text-transform:uppercase
}
/*--- cp-status ---*/
#cp-statusbarcontainer {
  clear:both;
  width:100%;
  height:35px;
  margin:0;
  padding:0;
  border-top:1px solid #ccc;
  /* position:absolute; */ 
  bottom:0;
  background-color:#fff
}
#cp-statusbarcontainer .cp-action-btns {
  float:right;
  padding:5px 10px 5px 0;
  font-size:12px
}
/*-- Full screen mode --*/
#cp-contentcontainer.fullScreen {
  background:#fff;
  width:100%;
  height:100%
}
.cp_launch {
  clear:both;
  display:block;
  font-size:12px;
  padding:6px 0;
  text-align:center;
  width:auto
}
#cp-frame-container {
  width:100%;
  height:100%;
  border:0 none
}
#cp-frame-container iframe {
  border:0
}
#cp_seemorecontent.cp_display-less {
  clear:both;
  color:#88BCFA;
  cursor:pointer;
  float:left;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  height:14px;
  margin-left:28px;
  margin-top:-10px;
  padding-left:47px;
  padding-top:0
}
/* .cp_seemore, 
.cp_seeless,
.lp_seemore, 
.lp_seeless,
.lp_class_seemore,
.lp_class_seeless {
  font-size:12px;
  color:#2082F6;
  cursor:pointer;  
  width:100%	;
  float:left;
  margin-top:7px
} */
#page-container .ui-jqgrid-btable tr {
  height:auto
}
.course-detail-section-innerRecord .progress.lpclsprogress {
  text-align:center;
  position:relative;
  z-index:-2;
  margin-top:10px;
  height:28px;
}
.course-detail-section-innerRecord .progress.lpclsprogress .progressbar-text {
  margin-top:1px;
  font-size:9px
}
.progress {
  clear:both;
  width:82px;
  height:43px;
  position:relative;
  font-weight:normal;
  padding:5px;
  margin-top:17px;
  z-index:0;
  float:right;
/*left:40px;
  top:39px;   
 */
}
.page-learning-enrollment-search .enroll-main-list form.fivestar-widget + div + .progress{
	margin-top:0
}
.enroll-main-list + .progress {
  margin-right:10px
}
.progress svg > path {
  background-color:#fff
}
.progress > svg {
  height:100%;
  display:block
}
#cp-frame-container {
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  min-height:485px;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999
}
#iframe-overlay #cp-frame-container {
  top:0;
  left:0;
  bottom:0;
  right:0;
  min-height:485px;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;
  width:81%
}
#cp-content-navigation.cp-video-js-box {
  left:56px;
  position:relative;
  top:10px;
  width:850px
}
/* #cp-toolbarcontainer .cp-modal-fulscr, 
#cp-toolbarcontainer .cp-modal-minscr{
  text-decoration:none;
  font-family:VideoJS;
  font-size:17px;
  font-weight:normal;
  font-style:normal;
  cursor:pointer;
}
 #cp-toolbarcontainer .cp-modal-fulscr:before {
  content:'\f108'
}
#cp-toolbarcontainer .cp-modal-minscr:before{
  content:'\f109'
}
#cp-toolbarcontainer .cp-modal-close:before{
  content:'\f111';
  color:#ccc;
 }
 */
#cp-toolbarcontainer .cp-modal-fulscr {
 /*background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -416px -996px;*/
   color: #3f3f3f;
    width:20px;
 height:18px;
 cursor:pointer;
 float:left;
 margin-right:5px;
}
/*.page-learning-enrollment-search #cp-modalcontent #cp-toolbarcontainer .cp-modal-fulscr::before{*/
#cp-modalcontent #cp-toolbarcontainer .cp-modal-fulscr::before{
	 content: "";
	 font-size: 1.8em;
    line-height: -0.33;
     font-family:VideoJS;src:url(font/VideoJS.eot?#iefix) format("eot");
}
#cp-toolbarcontainer .cp-modal-close {
 /*background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -354px -423px;*/
 width:20px;
 height:18px;
 cursor:pointer;
 float:left;
 margin-right:2px;
 color:#3f3f3f;
}
#cp-toolbarcontainer .cp-modal-minscr {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -418px -1023px;
 width:18px;
 height:18px;
 cursor:pointer;
 float:left;
 margin-right:5px;
 margin-top:4px;
}
#cp-toolbarcontainer .icon-seperator {
  font-family:ProximaNovaBold,Arial;
  font-size:13px;  
  float:left;
  margin-left:5px;
  margin-right:2px;
  color:#ccc;
  text-indent:-2000px;
  display:none
}
#cp-toolbarcontainer .cp-modal-close {
/*  position:absolute;
  right:-10px;
  top:-11px;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -338px -999px;
  border-radius:10px; */
  font-family:Arial;
  font-size:26px;   
  width:15px;
  height:16px;
  line-height:16px;
  text-align:center;
  cursor:pointer;
  float:left;
  margin-top:5px
}
#cp-statusbarcontainer .cp-action-btns #cp-done-btn {
  background:#27245e;
  border:1px solid #27245e;
  border-radius:6px;
  color:#fff;
  cursor:pointer;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  line-height:16px;
  margin:0;
  padding:3px 6px 2px;
  text-align:center;
  text-transform:uppercase
}
.cp-menu-detail .clsConentValidtiy {
  display:table;
  background-color:#fff;
  border-radius:6px;
  box-shadow:1px 1px 8px 1px #ccc;
  border:1px solid #ccc;
  border-collapse:separate;
  width:154px;
  padding:7px 5px 10px;
  position:absolute;
  top:6px;
  right:15px;
  z-index:100;
}
.block-exp-sp-lnrlearningplan .cp-menu-detail .clsConentValidtiy{
	width:147px;
}
#paintEnrollmentLPResults .course-detail-section-innerRecord .cp-menu-detail .clsConentValidtiy{
	width:143px;
}
.cp-menulist li:first-child .cp-menu-detail .clsConentValidtiy,
.cp-menu-detail .clsConentValidtiy {
  right:20px
}

#paintEnrollmentLPResults .Module-detail-section-innerRecord .cp-menu-detail .clsConentValidtiy,
#paintEnrollmentLPResults .Module-detail-section-innerRecord .cp-menulist li:first-child .cp-menu-detail .clsConentValidtiy{
	width:132px;
	right:27px;
}

.cp-menu-detail .clsConentValidtiy span {
  display:table-row  
}
.cp-menu-detail .clsConentValidtiy span div {
  display:table-cell;
  color:#474747
}
.cp-menu-detail .clsConentValidtiy .clsContentValidtyLBL {
  font-size:10px;
  font-weight:normal;
  padding-right:5px;
  width:50px
}
.cp-menu-detail .clsConentValidtiy .clsContentValidtyVal {
  padding-left:10px;
  font-size:10px;
  font-weight:bold
}
.cp-menu-detail .clstooltiparrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -233px -784px;
  height:30px;
  top:0px;
  right:-12px;  
  position:absolute;
  width:20px  
}
.clsShowContentValidty {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -377px -998pX;
  width:10px;
  height:16px;
  display:inline-block;
  cursor:pointer
}
#page-container .clsShowContentValidty {
  margin-left:7px
}
#page-container .course-detail-section-innerRecord .clsShowContentValidty {
  margin-left:7px
}
#page-container .Module-detail-section-innerRecord .course-detail-section-innerRecord .clsShowContentValidty {
  margin-left:5px
}
.conten-play-status {
  display:table;
  padding-top:5px
}
.conten-play-status span {
  color:#999;
  display:block;
  text-align:center;
  text-transform:uppercase;
  font-size:10px
} 
.sub-content-play-status {
  display:block;
  float:right;
  line-height:9px;
  text-align:center;
  width:50px;
  margin-right:10px
}
.sub-content-play-status span {
  color:#999;
  display:inline;
  text-align:center;
  text-transform:uppercase;
  font-size:9px
}
.clsInActiveMenu a {
  cursor:default
}
.ui-resizable-handle {
  background:#fff
}
.cp-content-navigation-control {
  
}
#cp-toolbarcontainer #cp-title {
  color:#3F3F3F
}
#cp-title .ContentPlayerTitle {
  white-space:nowrap;
  overflow:hidden;
  max-width:88%;
  display:block;
  float:left;
  line-height:18px;
  padding-right:5px;
/*   background:-ms-linear-gradient(to right, transparent, #f5f5f5 80%, #f5f5f5);For IE10
  background:linear-gradient(to right, transparent, #f5f5f5 80%, #f5f5f5); */
}
.fade-out-title-container.content-player-title{
  max-width:100%
}
#cp-toolbarcontainer #cp-title .ClassCount {
  font-style:italic;
  font-size:10px;
  padding-left:5px;
  display:block;
  float:left;
  line-height:19px
}
#cp-toolbarcontainer #cp-title .contplycls-limit-title .fade-title,
.fade-out-title-container.content-player-title .fade-out-image{
  background:-ms-linear-gradient(to right, transparent, #f5f5f5 80%, #f5f5f5);/*For IE10*/
  background:linear-gradient(to right, transparent, #f5f5f5 80%, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#00f5f5f5', endColorstr='#fff5f5f5');/*For IE7-8-9*/ 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#00f5f5f5, endColorstr=#fff5f5f5)";
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(242,242,243,1) 80%);
}
.cp-menulist .active-content .cp-menu-details {
 /* background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat 221px -991px; */
}
.cp-menulist .active-content .cp-menu-details .cp-menu-details-holder{
	background-color: #F4F4F4;
	display:block;
	float:left;
	width:99%
}
/* #page-container .ui-jqgrid-btable .limit-desc-row {
  padding-bottom:0
} */
.cp-menu-action.limit-title-row {
  max-width:172px;
  float:left
}
.cp-menu-action.limit-title-row .limit-title {
  display:block;
  position:relative;
  font-size:13px
}
#page-container .cp-menu-action.limit-title-row .limit-title {
  font-size:10px
}

div.ui-resizable-n {
  cursor: n-resize;
  height: 2px;
  width: 100%;
  top: -2px;
  left: 0px;
  background:#f5f5f5
}
div.ui-resizable-s {
  cursor: s-resize;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0px;
}
div.ui-resizable-e {
  cursor: e-resize;
  width: 2px;
  right: -2px;
  top: 0px;
  height: 100%;
  background: linear-gradient(#f5f5f5 40px, #fff 0%);
}
div.ui-resizable-w {
  cursor: w-resize;
  width: 2px;
  left: -2px;
  top: 0px;
  height: 100%;
  background: linear-gradient(#f5f5f5 40px, #fff 0%);
}
div.ui-resizable-se {
  cursor: se-resize;
  width: 5px;
  height: 5px;
  right:-2px;
  bottom:-2px;
}
div.ui-resizable-sw {
  cursor: sw-resize;
  width: 5px;
  height: 5px;
  left: -2px;
  bottom: -2px;
}
div.ui-resizable-nw {
  cursor: nw-resize;
  width: 5px;
  height: 5px;
  left: -2px;
  top: -2px;
  background:#f5f5f5
}
div.ui-resizable-ne {
  cursor: ne-resize;
  width: 5px;
  height: 5px;
  right: -2px;
  top: -2px;
  background:#f5f5f5
}
div.msg-last-question{
	display: block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    width: 400px;
    float:left;
    color:red;
}
.cp-menulist .last .cp-menu-details{
	background:none;
}
.cp-menulist .last.active-content .cp-menu-details {
  background:#F4F4F4
}
.paindContentResults .cls-cp-menulist .jcarousel-next-horizontal {
   border-radius:6px 0 0 6px;
   box-shadow:0 0 7px 1px #ccc;
}
.paindContentResults .cls-cp-menulist .jcarousel-prev-horizontal {
   border-radius:0 6px 6px 0;
   box-shadow:0 0 7px 1px #ccc;
}
.page-learning-enrollment-search ul.cp-menulist li.jcarousel-item.active-content .limit-title-row .fade-title,
.page-learning-enrollment-search ul.cp-menulist .last.active-content .limit-title-row .fade-title,
.page-learning-enrollment-search ul.cp-menulist .active-content .limit-title-row .fade-title,
.page-learning-catalog-search ul.cp-menulist li.jcarousel-item.active-content .limit-title-row .fade-title,
.page-learning-catalog-search ul.cp-menulist .last.active-content .limit-title-row .fade-title,
.page-learning-catalog-search ul.cp-menulist .active-content .limit-title-row .fade-title,
ul.cp-menulist li.jcarousel-item.active-content .limit-title-row .fade-title,
ul.cp-menulist .last.active-content .limit-title-row .fade-title,
ul.cp-menulist .active-content .limit-title-row .fade-title {
  background:-ms-linear-gradient(to right, transparent, #f4f4f4 80%, #f4f4f4);/*For IE10*/
  background:linear-gradient(to right, transparent, #f4f4f4 80%, #f4f4f4);
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(244,244,244,1) 80%);
}
.cp-menulist-border{
	border-bottom:1px solid #DDDDDD
}
#paintEnrollmentLPResults #take_survey,
#paintEnrollmentLPResults #take_survey_lp,
#paintEnrollmentResults #take_survey{
	text-decoration : underline;
	color: #999;
	cursor: pointer
}

#paintEnrollmentResults .clsDetailsDivNormal #ClassDetailsMainDiv .enroll-attach .enroll-attach-listitems .enroll-pipeline{
	position :relative ;
	top:-6px;
}


/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
  .cp-menu-detail .clsConentValidtiy {
	width :160px;
	padding-right :5px;	
  }
  .cp-menu-detail .clsConentValidtiy .clsContentValidtyVal{
	padding-left :5px
  }
  #paintEnrollmentResults .clsDetailsDivNormal #ClassDetailsMainDiv .enroll-attach .enroll-attach-listitems .enroll-pipeline{
	position :relative ;
	top:-4px;
}
}}
/*safari hack End*/