#block-exp-sp-learning-spotlight-most-viewed, #block-exp-sp-learning-spotlight-highly-rated,
#block-exp-sp-learning-spotlight-most-popular, #block-exp-sp-learning-spotlight-featured-training {
  float:left;
  width:345px;
  margin-right:10px;
  margin-top:10px
}
#block-exp-sp-learning-spotlight-highly-rated, #block-exp-sp-learning-spotlight-featured-training {
  margin-right:0
}
.spotlight-title-breaker {
  display:block;
  margin-top:5px;
  height:0
}
div.spotlight-block {
  display:block;
  padding:14px 0;
  margin:0 12px;
  border-bottom:dotted 1px #ccc;
  min-height:55px
}
p.spotlight-block {
display: table;
float: left;
width: 25%;
word-wrap: break-word;
}
div.spotlight-block a.spotlight-item-title {
  color:#4687dd
}
.list-spotlight-last div.spotlight-block {
  display:block;
  padding:14px 0 6px 0;
  margin:0 12px;
  border-bottom:dotted 1px #fff
}
#page-container .list-spotlight-last{
  min-height:87px
}
#block-exp-sp-learning-spotlight-new-courses .spotlight-item-title {
  font-size:14px
}
#block-exp-sp-learning-spotlight-new-courses .spotlight-title-breaker {
  margin-top:3px
}
p.spotlight-block  a.spotlight-item-title {
  color:#4687DD;
  margin:0; 
  font-size:16px; 
  font-weight:normal;
  text-decoration:none
}
p.spotlight-block img.spotlight-item-image {
  float:left;
  margin-right:15px;
  margin-bottom:5px;
  width:60px;
  height:55px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -2px -584px
}
#block-exp-sp-learning-spotlight-new-courses img.spotlight-item-image {
  height:46px;
  width:50px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -55px -535px
}
#block-exp-sp-learning-spotlight-new-courses img.spotlight-item-image-trn {
  height:46px;
  width:50px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -108px -438px;
  float:left;
  margin:0 15px 5px 0
}
#block-exp-sp-learning-spotlight-new-courses img.spotlight-item-image-cur {
  height:46px;
  width:50px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -55px -437px;
  float:left;
  margin:0 15px 5px 0
}
#block-exp-sp-learning-spotlight-new-courses img.spotlight-item-image-crt {
  height:46px;
  width:50px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -2px -437px;
  float:left;
  margin:0 15px 5px 0
}
#block-exp-sp-learning-spotlight-new-courses img.spotlight-item-image-crs {
  height:46px;
  width:50px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -55px -535px;
  float:left;
  margin:0 15px 5px 0
}
img.spotlight-item-image-trn-large {
  height:55px;
  width:60px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -2px -722px;
  float:left;
  margin:0 15px 5px 0
}
img.spotlight-item-image-cur-large {
  height:55px;
  width:60px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -66px -665px;
  float:left;
  margin:0 15px 5px 0
}
img.spotlight-item-image-crt-large {
  height:55px;
  width:60px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -2px -665px;
  float:left;
  margin:0 15px 5px 0
}
img.spotlight-item-image-crs-large {
  height:55px;
  width:60px;
  background:url('/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png') no-repeat -2px -584px;
  float:left;
  margin:0 15px 5px 0
}
#block-exp-sp-learning-spotlight-highly-rated h2.block-title, #block-exp-sp-learning-spotlight-most-viewed h2.block-title,
#block-exp-sp-learning-spotlight-most-popular h2.block-title, #block-exp-sp-learning-spotlight-featured-training h2.block-title {
  color:#333;
  float:left;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:1px;
  text-indent:10px
}
#block-exp-sp-learning-spotlight-new-courses h2.block-title {
  text-indent:10px;
  text-transform:capitalize;
  color:#333
}
#block-exp-sp-learning-spotlight-most-active-users h2.block-title {
  text-indent:14px;
  text-transform:capitalize;
  color:#333
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user ul li{
  list-style-type:none;
  margin:0;
  min-height:66px
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item {
  height:46px;
  font-size:14px;
  padding:14px 0;
  margin:0 12px;
  border-bottom:dotted 1px #ccc
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user ul li.list-spotlight-last .profile-item {
  height:46px;
  border-bottom:0;
  padding:14px 0 6px 0
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user ul li.list-spotlight-last {
  height:67px
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item .user-name{
  color:#333;
  display:block;
  clear:both;
  margin-top:0;
  line-height:1em;
  font-size:14px
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item .job-title {
  color:#999999;
  display:block;
  padding-top:0;
  font-size:13px
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item .profile-image {
  display:block;
  height:46px;
  width:50px;
  float:left;
  cursor:default; 
  padding-right:15px
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item .profile-image img {
  height:46px;
  width:50px;
  cursor:auto
}
#block-exp-sp-learning-spotlight-most-active-users .most-active-user .profile-item .profile-desc {
  width:180px;
  float:left;
  text-align:left;
  padding-left:0
}
.spotlight-block .block-sp-learning-spotlight-title-fadeout-container {
  max-width:180px
}