.cp-contentcontainer #take_survey_main {
  margin-bottom:10px
}
#block-exp-sp-lnrenrollment-tab-my-enrollment .clsRightNoData{
  width:99.5%
}
#enroll-result-container .sessName {
  float:left;
  margin-right:15px
}
#enroll-result-container .sessAddDet {
  float:left;
  width:230px;
  clear:both;
  padding:5px 0
}
.tooltipmid {
  width:230px;
  height:auto;
  padding:8px 0 0 17px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-middle.png) repeat-y
}
.tooltipbottom {
  width:241px;
  height:27px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-bottom.png) no-repeat
}
.enroll-sort-by-container {
  width:100%;
  padding-top:13px
}
#enroll-result-container .session-time-zone {
  padding:2px 0 0 0;
  float:left;
  color:#2d2d2d;
  cursor:pointer;
  font-size:13px
}
#page-container #ClassDetailsMainDiv {
  border-bottom:0;
  padding-left:88px;
  width:80%
}
#page-container #enroll-result-container .clsDetailsDivWithSeemore #ClassDetailsMainDiv{
	padding-left:0px;
	margin-left:-10px;
}
#page-container #enroll-result-container.clsenroll-result-container .clsDetailsDivWithSeemore #ClassDetailsMainDiv {
  padding:0;
  margin:0;
}
.clsDetailsDivWithSeemore + .cp_seemore,
.clsDetailsDivWithSeemore + .cp_seeless{
  margin-top:7px
}
.clsDetailsDivWithSeemore table{
	width:100%;
	margin-top:4px;
	border-spacing: 0;
}
.page-learning-enrollment-search #page-container #paintEnrollmentResults tr.jqgrow td .clsDetailsDivWithSeemore table td,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults tr.jqgrow td .clsDetailsDivWithSeemore table td,
.page-learning-enrollment-search #page-container #paintInstructorResults tr.jqgrow td .clsDetailsDivWithSeemore table td{
  padding:0;
  border-bottom:0
}
#page-container #enroll-result-container .clsDetailsDivNormal #ClassDetailsMainDiv{
	padding-left:67px;
}
#page-container #enroll-result-container.clsenroll-result-container .clsDetailsDivNormal #ClassDetailsMainDiv {
  padding-left:67px
} 
#page-container #content .enroll-bottom-curve .block-footer-left {
  width:99.2%
}
#page-container #enroll-result-container .session-time-zone {
  float:none
}
#page-container .enroll-main-list .enroll-action {
  z-index:100
}
#page-container #enroll-result-container #paintEnrollmentResults .enroll-launch-full .enroll-launch,
#page-container #launch-wizard .enroll-launch-full .enroll-launch {
  text-align:center;
  width:130px;
  text-indent:0
}
/* .page-learning-enrollment-search #enroll-result-container .enroll-attach.attach-row{
  margin-top:6px
} */
#enroll-result-container .status-row .status-label.completedby{
	padding-bottom:4px;
}
#enroll-result-container .course-row .course-label,
#enroll-result-container .status-row .status-label,
#enroll-result-container .attach-row .attach-label,
#enroll-result-container .location-row .location-label {
/*   width:137px; */
  float:left;
  font-size:12px;
  color:#2d2d2d;
  line-height:18px
}
#enroll-result-container .course-row .course-desc,
#enroll-result-container .status-row .status-desc,
#enroll-result-container .attach-row .attach-desc,
#enroll-result-container .location-row .location-desc {
  float:left;
  color:#2d2d2d;
  line-height:18px
}
#enroll-result-container .attach-row .attach-desc{
 width:330px;
 padding-top:10px
}
#enroll-result-container.clsenroll-result-container .attach-row .attach-desc{
  width:80%
}
#enroll-result-container .attach-row .attach-info {
  clear:both;
  float:left;
  color:#777;
  font-size:12px;
}
.page-learning-enrollment-search #enroll-result-container #paintEnrollmentResults .enroll-session-details.session-row{
  padding-bottom:0;
  padding-top:3px
}
#enroll-result-container .session-row .session-label {
  padding:0;
  float:left;
  font-weight:normal;
  font-size:13px;
}
#enroll-result-container .session-row .session-desc {
  clear:both;
  width:470px
}
#enroll-result-container .session-row .session-desc .sessionDet {
  clear:both;
  float:left;
  padding:0 0 5px
}
#enroll-result-container .location-row .location-desc span {
  padding-right:5px;
  display:block;
  float:left
}
#paintEnrollmentResults .webvod_cls_code .exp-sp-lnrenrollment-classCode {   max-width: 155px; }
#paintEnrollmentResults .iltvc_cls_code .exp-sp-lnrenrollment-classCode {   max-width: 130px; }
.clsContentFull #paintEnrollmentResults .webvod_cls_code .exp-sp-lnrenrollment-classCode { 	 max-width: 400px; }
.clsContentFull #paintEnrollmentResults .iltvc_cls_code .exp-sp-lnrenrollment-classCode { 	 max-width: 306px; }
.page-learning #paintEnrollmentResults .exp-sp-lnrenrollment-classCode,
.page-learning #paintEnrollmentResults .exp-sp-lnrenrollment-classloc {
  line-height:18px
}
#paintEnrollmentResults .exp-sp-lnrenrollment-sesions-head {
  max-width:185px
}
#enroll-result-container .attach-row .attach-label{
  padding-bottom:2px
}
#tbl-paintCatalogContentResults .change-class-btn{
  margin-top:0
}
.page-learning-enrollment-search #page-container #paintEnrollmentResults tr.jqgrow td[aria-describedby="paintEnrollmentResults_Image"] div, 
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults tr.jqgrow td[aria-describedby="paintEnrollmentLPResults_Image"] div, 
.page-learning-enrollment-search #page-container #paintInstructorResults tr.jqgrow td[aria-describedby="paintInstructorResults_Image"] div {
  margin-top:3px
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #paintEnrollmentResults tr.jqgrow td[aria-describedby="paintEnrollmentResults_Image"] div, 
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #paintEnrollmentLPResults tr.jqgrow td[aria-describedby="paintEnrollmentLPResults_Image"] div, 
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #paintInstructorResults tr.jqgrow td[aria-describedby="paintInstructorResults_Image"] div {
  margin-top: 3px
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container .enroll-tp-title-info .learningplan-desc-div {
  margin-top: 3px;
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container .enroll-tp-title-info .learningplan-desc-div .lp_seemore {
  margin-top: 5px;
  width: auto;
  clear: both;
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container #paintEnrollmentLPResults .lp_seeless {
  margin-bottom: 12px;
  margin-left: 6px;
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #paintEnrollmentLPResults .enroll-tp-title-info {
  margin-bottom: 4px;
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container .enroll-tp-title-info .item-title-code {
  margin-top: 3px;
}
.page-learning-enrollment-search #page-container #paintEnrollmentResults .enroll-main-list{
  margin-top:3px
}
/* CSS brought from exp_sp_administration_v2.css for My learning page enrollment section starts here   */
.page-learning-enrollment-search #enroll-result-container.clsenroll-result-container .sessAddDet.location-row{
  padding-top:3px;
  padding-bottom: 1px;
}
/* CSS for My learning page enrollment section ends here */
/*Start content player style*/
.page-learning-enrollment-search .cp-menu-detail .clsConentValidtiy{
  display:inline-block
}
.page-learning-enrollment-search .paindContentResults .cls-cp-menulist {
  border:1px solid #acacac;
  margin: 0;
  width: 583px;
  float:left;
  height:100px;
  overflow:hidden;
  background-color:#fff
}
.page-learning-enrollment-search .clsContentFull .clsenroll-result-container .paindContentResults .cls-cp-menulist{
  width:752px;
  position:relative
}
#paintEnrollmentResults .clsSeeMorePlaceholderdiv {
  margin-top:12px;
  float:left;
  clear:both;
  display:none
}
.clsDetailsDivWithSeemore{
  float:left;
  clear:both	
}
.cp_launch_icon{
  cursor: pointer;
  width:10px;
  height:15px;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -445px -1096px;
  float:left;
  position:absolute;
  left: 10px;
  top:8px;
  display:none
}
.page-learning-enrollment-search #page-container #paintEnrollmentResults .enroll-datatable-column1,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-datatable-column1{
  overflow:visible
}
.fade-out-title-container.exp-sp-lnrenrollment-content-title{
  max-width:160px
}
#paintEnrollmentResults .fade-out-title-container.exp-sp-lnrenrollment-content-title{
  max-width:140px
}
#page-container #paintEnrollmentResults td .enroll-main-list, 
#page-container #paintEnrollmentLPResults td .enroll-lp-main-list, 
#page-container #paintInstructorResults td .enroll-main-list {
  position:relative;
  right:0;
  width:90px;
  min-height:35px
}
.page-learning-enrollment-search .enroll-main-list form.fivestar-widget {
  float:left;
  height:32px
}
.page-learning-enrollment-search .enroll-main-list form.fivestar-widget + div + .progress {
  z-index:-2;
  float:left;
}
.page-learning-enrollment-search .enroll-main-list form.fivestar-widget + div + .progress + .clsSurveyPendingLable {
  clear:both;
  font-size:10px;
  text-align:center;
  color:#999;
  float:left;
  width:100%;
  margin-bottom:9px
}
.page-learning-enrollment-search #paintEnrollmentResults tr.ui-state-highlight .clsDetailsDivWithSeemore table td {
  border-bottom:0
}
.page-learning-enrollment-search tr.ui-state-highlight ul.cp-menulist li.jcarousel-item .limit-title-row .fade-title {
  background:-ms-linear-gradient(to right, transparent, #fff 80%, #fff);/*For IE10*/
  background:linear-gradient(to right, transparent, #fff 80%, #fff);
}
.page-learning-enrollment-search ul.cp-menulist li.jcarousel-item.active-content .limit-title-row .fade-title {
  background:-ms-linear-gradient(to right, transparent, #fafafa 80%, #fafafa);/*For IE10*/
  background:linear-gradient(to right, transparent, #fafafa 80%, #fafafa);
}
/*End content player style*/
.qtip_session_mid{
  border: 1px solid #a6c9e2;
  border-radius: 5px;
  color: #333;   
  height: 64px;   
  width: 190px;   
  padding:0;    
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized #enroll-result-container #paintEnrollmentResults .clsDetailsDivNormal table td .cp_seeless.clsDisabledMode{
  margin-top:6px	
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized #enroll-result-container #paintEnrollmentResults .cp_seeless{
   margin:1px 0 6px 6px
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized #enroll-result-container #paintEnrollmentResults tr:last-child .cp_seeless{
   margin:6px 0 6px 6px
}
#page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized #gbox_paintEnrollmentResults #paintEnrollmentResults tr.jqgrow.ui-row-ltr .enroll-class-title-info .loadercontent td{
	border-bottom:0;
}
/* #page-container #tab_my_enrollment_customized #paintEnrollmentResults .enroll-action .enroll-drop-down-list{
  margin:0;
  padding:0;
  list-style-type:none;
  border:1px solid #e5e5e5;
  border-width:0 1px 1px 1px;
  border-radius:0 0 10px 10px;
  background:#fff;
  width:89px
}
#page-container #tab_my_enrollment_customized td .enroll-main-list .enroll-action,
#page-container #tab_my_learningplan_customized td .enroll-main-list .enroll-action {
  position:absolute;
  width:92px;
  z-index:-1;
  right:auto
} */
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container .enroll-tp-title-info .learningplan-desc-div {
  margin-top:3px
}
/*!Chrome Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
 
}
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
   table tr:hover .limit-title-row .limit-title span.fade-title,
    table tr:hover .limit-desc-row .limit-desc span.fade-desc{
     background:-webkit-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 80%);	
   }
}}   
/*safari hack End*/