::-ms-reveal, ::-ms-clear {
  display: none
}
#activity-pager_center .ui-pg-table, #userdetailsactivity-pager_center .ui-pg-table{
  min-width:175px
}
/* rendering */
.customattr-btn-bg-right {
margin-right:-17px;
}
.page-learning-my-profile #content #activity-pager_center,
.page-learning-myteam-search #lnr-myteam-search #searchRecordsPaint .ui-jqgrid .ui-pg-table{
  word-wrap:normal
}
#activity-pager .search-pagination-right {
  float:left
}
#page-container #paint-classes-list .title_open,
#page-container .learning-course-container .title_open,
#page-container #learning-plan-details-data #forumTopicListContentResults .title_open,
#page-container #forumTopicListContentResults .title_open{
  height:10px
}
#page-container #course-details-data .ui-jqgrid .ui-icon-asc{
  background-position:right -1492px;
  top:2px
}
.logged-in .expertusV2PopupContainer .popupBotRightCorner{
  margin-right:0;
  margin-top:-1px
}
.page-learning-catalog-search #lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail span a.manage-location-time{
	top: -1px
}
.page-learning-catalog-search #request_class_holder .check-label,
#request_class_holder .check-label{
  margin-top: -19px
}
#page-container .checkbox-unselected,
.expertusV2PopupContainer .checkbox-unselected,
div.ctools-modal-content .survey-checkbox-unselected,
div.ctools-modal-content .checkbox-unselected{
  height:12px
}

.ctools-modal-content #userreg-detail-wrapper .addedit-left-col .checkbox-unselected{
	height:12px
}
#reg-new-div .receive-news-txt #edit-sub-check{
  margin-top:-10px
}
#page-container #account-pager .search-pagination-right span,
#page-container #account-pager .search-pagination-right .ui-pg-input{
  line-height:11px
}
#userdetailsactivity-pager .search-pagination-right{
  /*line-height:20px*/ /*Viswanathan commented for #78219*/
}
#myprofile-myactivity-screen #exp-sp-my-activity-form #userdetailsactivity-pager .search-pagination-right,
#myprofile-myactivity-screen #userdetailsactivity-pager #next_userdetailsactivity-pager{
  display:table-cell
}
#myprofile-myactivity-screen #userdetailsactivity-pager #next_userdetailsactivity-pager span.ui-icon{
  width:10px
}
.expertusV2PopupContainer #myprofile-myactivity-screen #userdetailsactivity-pager{
  min-width:494px;
  max-width:494px
}
#myskill-parent .learner-save-skill-button .addedit-form-cancel-container-actions{
  width:auto;
  margin-right:5px
}
/*#myskill-parent .skill-text-box{
  min-width: 290px
}*/
.page-learning-myteam-search .assign-learning-team .title-mandatory-clr { 
  padding-top:2px;
}
.assign-learning-team .title-mandatory-clr {
  margin-top:0
}
#lnr-myteam-search .myteam-learning-btn {
  width:240px
}
/* body.page-learning-myteam-search #lnr-myteam-search table#paintContentResults .top-record-div-left {
  width:318px
} */
#lnr-myteam-search #search-filter-content input.ac_loading {
  line-height:19px
}
.page-learning-myteam-search #lnr-myteam-search .find-trng-sort-text {
  margin-right:12px
}
#create-schedule-addedit-form .addedit-edit-dropdown{
  width:145px
}
#create-schedule-addedit-form .time-picker-image .exp-timepicker-for-addedit-form{
  background-position:right -6px
}
#create-schedule-addedit-form .exp-timepicker-selection{
  top:185px
}
.schedule-list-wrapper .datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table {
  left: 216px
}
.schedule-list-wrapper .page-pipeline{
  right:145px
}
.crs-tab-titles-container .tab-title,.crs-tab-titles-container-view .tab-title,.narrow-search-multi-action-container .tab-title,
.modal-content .crs-tab-titles-container .tab-title,.modal-content .crs-tab-titles-container-view .tab-title,.modal-content .narrow-search-multi-action-container .tab-title {
  display:block;
  height:24px
}

#select-class-dialog .assign-learn-second-row .top-record-div-left{
	padding-top:5px;
}
/* .assign-learning .course-container-list .top-record-div{
    float:right;	
} */
.assign-learning .course-container-list .course-available-seats{
    float:right;
    padding-right:18px;	
}

.assign-learn-second-row .top-record-div-left{
	padding-top:5px;
  }
#tbl-paintCatalogContentResults .change-class-btn{
 	margin-top:0px
 }
#ctools-face-table .mro-wrapper .access-select-list-class-dropdown-link {
  background-position: 0 -253px
}
#add-session-details #meeting-type-addwebEx .admin-addedit-class-time-zone .crt-paint-timezone .ctrDropDown{
  width:132px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper #exportcontainer .page-pipeline{
  top:3px
}
#page-container .narrow-search-filterset{
  width:90%
}
#enrollment-class-list-view .view-enrollment-popup .enroll-label{
  display:block;
  height:24px
}
#program-tp-basic-addedit-form-container .prereq-grid-wrapper .ui-jqgrid td input.multiselect-singlecheck,
#program-tp-basic-addedit-form-container .survey-attach-grid-wrapper .ui-jqgrid td input.multiselect-singlecheck{
  margin-right:5px;
  margin-top:0
}
#program-tp-basic-addedit-form-container .prereq-grid-wrapper .ui-jqgrid td .checkbox-unselected,
#program-tp-basic-addedit-form-container .survey-attach-grid-wrapper .ui-jqgrid td .checkbox-unselected,
.page-administration-commerce-discounts .discount-grid-wrapper .ui-jqgrid td .checkbox-unselected{
  margin-top:2px
}
#program-tp-basic-addedit-form-container .prereq-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall,
#program-tp-basic-addedit-form-container .survey-attach-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall,
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .enrolltp-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-right:8px;
}
#program-addedit-form .addedit-new-field-two-col .addedit-edit-lang_code.addedit-edit-dropdown{
  width:137px
}
.page-administration-learning-program #admin-add-course-training-plan .ui-jqgrid-hbox input.multiselect-selectall,
#addquestions-addedit-form-html .ui-jqgrid-hbox input.multiselect-selectall,
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable input.multiselect-selectall,
#catalog-course-basic-addedit-form-container .prereq-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall,
#catalog-course-basic-addedit-form-container .equv-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-right:10px;
  margin-top:0
}
.page-administration-learning-program #admin-add-course-training-plan .ui-jqgrid-btable input.multiselect-singlecheck,
#addquestions-addedit-form-html .ui-jqgrid-btable input.multiselect-singlecheck,
.discount-grid-wrapper .ui-jqgrid-btable input.multiselect-singlecheck,
#catalog-course-basic-addedit-form-container .prereq-grid-wrapper .ui-jqgrid-btable input.multiselect-singlecheck,
#catalog-course-basic-addedit-form-container .equv-grid-wrapper .ui-jqgrid-btable input.multiselect-singlecheck{
  margin-right:5px;
  margin-top:0
}
.page-administration-learning-program .catalog-pub-add-list li input.admin-save-button-middle-bg,
.page-administration-survey-surveydetails li input#edit-catalog-course-save-publish,
#banner-basic-addedit-form li input.pub-unpub-only-save-btn,
#notification-basic-addedit-form li input.pub-unpub-only-save-btn,
.page-administration-learning-catalog .catalog-pub-add-list li input.admin-save-button-middle-bg {
  float:none
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-dropdown{
  width:170px
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col,
#survey-question-basic-addedit-form .addedit-left-col,
#location-basic-addedit-form .addedit-left-col,
#banner-basic-addedit-form .addedit-left-col,
#announcement-basic-addedit-form .addedit-left-col{
  width:97.7%
}
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .addedit-left-col {
	padding:15px 0 15px 16px;
	float:left
}
#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value {
  width:31.5%
}
.admin-surass-auto-search-container .admin-pagination-surass-search-go{
  right:13px
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right{
  width:35px
}
#survey-question-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown{
  width:200px
}
.edit-attachquestion-list .infinite-scrolling-separator{
  margin-top:1px
}
.page-administration-assessment-assessmentquestions div.ctools-modal-content #survey-question-basic-addedit-form .survey-checkbox-unselected,
.page-administration-assessment-assessmentquestions div.ctools-modal-content #survey-question-basic-addedit-form .survey-checkbox-selected{
  margin-top:3px
}
#two-col-row-author_vendor_complete .form-item-validity-date .addedit-edit-validity_date,
#two-col-row-author_vendor_complete .form-item-completed-date .addedit-edit-completed_date{
  margin-top:21px
}
#two-col-row-author_vendor_complete .form-item-compliance-validity label,
#two-col-row-author_vendor_complete .form-item-compliance-completed label{
  top:0;
}
#location-basic-addedit-form-disp .addedit-firstcol-field-value .addedit-edit-dropdown,
#location-basic-addedit-form-disp .addedit-secondcol-field-value .addedit-edit-country{
  width:170px
}
#content-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown{
  width:185px
}
#admin-move-users-content .ui-jqgrid-view .ui-jqgrid-hdiv{
  min-width:500px;
  border-right:1px solid #e5e5e5
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown{
  width:210px
}
.addedit-new-field-two-col .addedit-edit-dropdown{
  width:135px
}
#add-template-list-wrapper #admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-pg-table{
  max-width:300px
}
#notification-basic-addedit-form{
  float:left;
  clear:both;
  background-color:#ffffff;
  overflow:hidden;
  margin-bottom:-1px
}
.page-administration-commerce-order #page-container #narrow-search-results-holder .catalog-pub-add-list{
  right:14px
}
#discount-basic-addedit-form-container .expertus-dropdown-bg .expertus-dropdown-icon .addedit-edit-dropdown{
  width:140px
}
#tax-basic-addedit-form-container .addedit-firstcol-field-value .addedit-edit-dropdown{
  width:285px
}
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-edit-dropdown#edit-uc-payment-credit-gateway,
#commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-edit-dropdown#edit-uc-cybersource-server{
  width:165px
}
#commerce-cancellation-policy-screen-wrapper .no-cancel-policy-add-button-div{
  width:225px
}
#saml-basic-addedit-form .addedit-edit-dropdown{
  width:355px
}
.page-administration-sitesetup-config .expertusV2PopupContainer #group-detail-wrapper .checkbox-unselected,
.page-administration-sitesetup-config div.ctools-modal-content #group-detail-wrapper .checkbox-unselected{
  height:12px
}
.theme-ctool-popup #my-login-container .form-item label{
  padding-top:0
}
.page-learning #page-container .admin-forum-topic-detail-action-btn .admin-forum-add-topic-list .addedit-form-cancel-container-actions{
  width:auto
}
#page-container #account-pager .search-pagination-right{
  white-space:nowrap
}
#viewuser-detail-wrapper .user-desc {
  padding-top:3px
}
.page-administration-people-user .ctool-login-modal #user-basic-addedit-form .addedit-left-col {
  width:auto
}
#list-values-detail-wrapper #list-values-addedit-form-details .delete-class-button {
  margin-top:0
}
#page-container #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  min-width:40px;
  white-space:nowrap
}
#schedule-qtip-popup .date-criteria-days-type{
  width:130px
}
.mro-wrapper .ui-multiselect-con-class{
  margin-top:2px
}
.mro-wrapper #access-search-list-class-title-keyword{
  top:35px
}
.page-learning-catalog-search .ui-datepicker .ui-datepicker-prev-hover,
.page-learning-catalog-search .ui-datepicker .ui-datepicker-next-hover{
  top:7px
}
.page-learning-catalog-search #ui-datepicker-div .ui-datepicker-prev:hover{
  margin-left:24px
}
.course-class-edit-qtip .qtip-button .admin-bubble-close{
/*   top:-3px */
}
.course-class-edit-qtip .admin-datagrid-save-cancel-button-align-bottom .enroll-edit-save-cancel-btn .completion_container_roster .admin-bubble-close{
  top:-40px
}
.page-administration-learning-program .manage-clone-list #ui-multiselect-con .checkbox-unselected #selectcheckall,
.page-administration-learning-program .manage-clone-list #ui-multiselect-con .checkbox-selected #selectuncheckall,
.page-administration-learning-program .manage-clone-list #ui-multiselect-con .checkbox-selected input,
.page-administration-learning-program .manage-clone-list #ui-multiselect-con .checkbox-unselected input{
  margin-right:3px;
  margin-top:0
}
.page-learning-enrollment-search #refer_course_holder form .checkbox-unselected, .page-learning-enrollment-search #refer_course_holder form .checkbox-selected {
  margin:1px 0 0 3px
}
.datagrid-payment-method-commerce .ui-jqgrid tr.jqgrow .bubble-c{
  height:60px
}
#catalog-users #expertus-online-datatable-pager_center .ui-pg-table,
.my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table{
  white-space:nowrap
}
/* .page-administration-learning-program #viewprogram-detail-wrapper #tp-right-view.auth-vend {
  line-height:10px
} */
.page-administration-learning-catalog #catalog-course-basic-addedit-form-container .two-column-container-view .second-col-container-view .second-col-value-view,
.page-administration-learning-program #program-tp-basic-addedit-form-container.two-column-container-view .second-col-container-view .second-col-value-view  {
  padding-top:4px
}
#report-select-wizard .new-report {
  width:320px
}
.page-administration-people-group #role-addedit-form .attr-pane .attr-selected-pane span.item-short-desc,
.page-administration-people-group #role-addedit-form .attr-pane .attr-selected-pane span.item-long-desc {
  display:block;
  padding-top:6px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container .ui-jqgrid-btable .search-pagination-right {
  min-width:120px;
  padding-right:0
}
.page-administration-people-group #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table{
  display:table
}
#page-container .footer-container {
  height:147px
}
.footer-phone-info {
  padding-top:11px
}
.fade-out-title-container.lnr-search-view-detail-tag-fadeout-container,
.fade-out-title-container.lnr-search-view-detail-lang-fadeout-container,
.fade-out-title-container.lnr-search-view-detail-session-name-fadeout-container{

}
div.fade-out-title-container.lnr-search-view-detail-location-name-fadeout-container {
  margin-bottom:-9px
}
div.fade-out-title-container.lnrsearch-date-time-fadeout-container{
  margin-bottom:1px
}
.page-administration-people-group .admin-add-users-tab-datagrid-wrapper .ui-pg-table td.search-pagination-right {
  float:left
}
.page-administration-people-group #exp-sp-administration-view-grpdetails-addedit-form #view-display-assigned-users #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table{
  top:0
}
.popup-block-footer-middle{
  margin-left:9px;
}
.theme-ctool-popup .catalog-course-basic-addedit-action-disp ul li input.highlighted,
.catalog-course-basic-addedit-action-disp ul li input.highlighted,
.theme-ctool-popup .catalog-course-basic-addedit-action-disp ul li:first-child input.selected,
.catalog-course-basic-addedit-action-disp ul li:first-child input.selected{
  border-right:1px solid #fff
}
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable{
  overflow:visible
}
.page-learning-myteam-search .assign-learn-search-right{
  margin-left:-1px
}
.exp-sp-prerequisite-course-code-fadeout-container,
.exp-sp-prerequisite-class-code-fadeout-container,
.exp-sp-prerequisite-class-location-fadeout-container,
.exp-sp-prerequisite-tp-code-fadeout-container{
  line-height: 16px;
}
#lnr-prerequisite .classSubGrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-widget-contents td.pre-rquisite-session-column{
  vertical-align:middle
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr > td {
  line-height:15px
}
.page-administration-manage-notification-template #exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-value .defaultSkin table.mceLayout iframe{
  min-height:160px	
}
.catalog-pub-add-list li input,
.catalog-pub-add-list-move li input,
.narrowsearch-pub-add-list li input{
  float:none
}
.page-administration-survey #modal-content .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .pub-unbpub-more-btn, 
.page-administration-assessment #modal-content .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .pub-unbpub-more-btn, 
.page-administration-manage-location #modal-content .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .pub-unbpub-more-btn {
  border-left:1px solid #27245e;
  background-position:-106px -622px
}
.page-administration-manage-announcement #page-container .narrow-search-actionbar-list li a span.narrow-search-actionbar-orange-btnBG{
  font-size:11px
}
.page-administration-learning-catalog .fade-out-title-container.narrow-search-results-item-detail-class-code-fadeout-container, 
.page-administration-learning-catalog .fade-out-title-container.narrow-search-results-item-detail-class-language-fadeout-container {
  margin-bottom:-6px
}
.catalog-class-session-basic-addedit-form-container #admin-data-grid .admin-datagrid-session-with-addanother.virtualclass-session .fade-out-title-container.admin-learning-metting-title-fadeout-container {
  margin-bottom:-9px
}
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title .exp-sp-lnrmyprogram-enroll-fulltitle {
  padding-top:1px
}
.page-learning-catalog-search #lnr-catalog-search tr.catalog-search-ilt #srch-location-title ~ span .lnrsearch-date-time-fadeout-container {
  line-height:16px  
}
.page-learning-catalog-search #lnr-catalog-search tr.catalog-search-vcl span div.lnrsearch-date-time-fadeout-container {
  line-height:16px  
}
.page-learning-catalog-search #lnr-catalog-search tr.catalog-search-crt div.lnr-search-view-detail-code-fadeout-container {
  line-height:16px
}
.page-learning-catalog-search #lnr-catalog-search tr.catalog-search-Course td .find-training-list-course span div.lnrsearch-date-time-fadeout-container,
.page-learning-catalog-search #lnr-catalog-search tr.catalog-search-Course #srch-location-title ~ span div.lnrsearch-date-time-fadeout-container {
  line-height:16px
}
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable th .checkbox-unselected,
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable th .checkbox-selected {
  margin-left: -1px
}
.page-administration-sitesetup-moduleinfo #modal-content #userreg-detail-wrapper input#edit-userreg-save-button.admin-save-button-middle-bg {
  padding:1px 6px;
  margin-top:1px
}
#page-container .detail-code{
  line-height:1.5em
}
/*------------------ Sales Force ------------------------*/
.salesforce-widget #refer_course_holder .expertusV2PopupContainer form .checkbox-unselected,
.salesforce-widget #refer_course_holder .expertusV2PopupContainer form .checkbox-selected{
  margin-top:3px
}
.iframe-mylearning .course-detail-section-innerRecord{
  margin-left:63px
}
.iframe-mylearning #page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass tr.set-height td#enr-moreclass-columnone{
  min-width:712px;
  max-width:712px
}
.iframe-mylearning #page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass tr.set-height td#enr-moreclass-columntwo,
.iframe-mylearning #page-container #enroll-lp-result-container .enroll-datatable-column2{
 /* min-width:150px; */
  max-width:150px
}
.iframe-mylearning #page-container #enroll-lp-result-container .enroll-datatable-column1{
 /* min-width:684px; */
  max-width:684px
}
/* .salesforce-widget #refer_course_holder #refer_class_container{
  float:none
} */
/*-- Home page customization --*/
.front.sidebar-second.highlight-1 #usr-leader-board-list .ui-widget-content #leader-board-users-jqgrid .exp-leaderboard-last-rec { height: 40px  }
/*-- Home page customization --*/
.page-administration-manage-content .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
  border-left:1px solid #27245e
}
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults .enroll-main-list{
   right:-6px;
   width:129px
 }
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults .dd-btn .enroll-launch-more {
  position:absolute
}
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults .dd-btn {
  position:relative;
  float:none;
  z-index:0;
  width:20px
}
/* .page-learning-enrollment-search #page-container #paintInstructorResults .enroll-main-list .enroll-action {
 width:129px
} */
/*  .page-learning-enrollment-search #page-container .enroll-main-list .enroll-action,
#enroll-lp-result-container .enroll-main-action-lp-multiclasss .enroll-action{
 position:absolute;
 width:100%;
 z-index:-1
} */
/*.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-main-list.enroll-main-action-lp-multiclasss .enroll-action{
  width:99px
} */
.page-learning-enrollment-search #paintEnrollmentResults .fivestar-static-form-item .form-item, 
.page-learning-enrollment-search #paintEnrollmentResults .fivestar-form-item .form-item {
  z-index:-2
}
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults .dd-btn .dd-arrow{
 left:112px
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager{
  margin-bottom:-33px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location {
  line-height:16px
}
.qtip-wrapper #bubble-face-table #show_expertus_message{
   top:24px
}
.course-class-edit-qtip #bubble-face-table #show_expertus_message {
  left:auto;
  margin-left:auto;
  right:auto;
  top:24px;
  width:810px
}
.course-class-edit-qtip .crs-tab-titles-container #bubble-face-table #show_expertus_message {
  top:11px;
  width:auto;
  left:0;
  right:0
}
.page-cart #expertus-cart-view-form #cart-form-products table td.location.subtotal span,
.page-cart-checkout #uc-cart-checkout #uc-cart-checkout-form #clone_cart-pane table td.location.subtotal span,
.page-cart-checkout-paymethod #content div.commerce-container-v2 .order-review-table table.cart-review td.location.subtotal span,
.page-cart-checkout-review #content div.commerce-container-v2 #d-cart-review-wrapper table.cart-review td.location.subtotal span {
  margin-top:3px;
}
.page-cart #cart-form-pane #cart-form-products .price.subtotal span.currency-override-bold {
  margin-top:4px
}
.page-cart-checkout #uc-cart-checkout #clone_cart-pane .price.amount span.currency-override-bold,
.page-cart-checkout-paymethod #page-container div.commerce-container-v2 table.order-review-table table.cart-review .price.amount span.currency-override-bold,
.page-cart-checkout-review #page-container div.commerce-container-v2 #d-cart-review-wrapper table.cart-review .price.amount span.currency-override-bold {
  margin-top:6px
}
.page-administration-order-create #admin_order #uc-cart-checkout #clone_cart-pane table.cart-review .subtotal.admin-discount-subtotal span,
.page-administration-order-create #admin_order #uc-cart-checkout #clone_cart-pane table.cart-review .price.subtotal span,
.page-administration-order-pay #admin_order #uc-cart-checkout .order-review-table #admin_cart_review_container table .price.amount span {
  margin-top:1px
}
.page-administration-commerce-order #order-basic-addedit-form #order-detail-container table.cart-review td.location.subtotal span {
  margin-top:2px
}
.page-administration-commerce-order #order-basic-addedit-form #order-detail-container table.cart-review tr.refund.discount td.location.subtotal span {
  margin-top:2px;
  display:block
}
.reg-form-wrapper ##reg-new-div .reg-field-title .receive-news-txt .checkbox-unselected{
  margin-top:1px
}
.page-learning-myteam-search #page-container #search-filter-content .checkbox-unselected{
  margin-top:2px;
}
.page-learning-myteam-search .title-mandatory-clr { 
  padding-top:2px;
}
.page-learning-enrollment-search .SurveyContainer .SurveyVRightContent .SurveyQuestionField .checkbox-unselected,
.page-administration-assessment-assessmentquestions #exp-sp-administration-question-addedit-form .answer-choices-block .survey-checkbox-unselected {
  height:12px 
}
.page-learning-enrollment-search .SurveyContainer .SurveyVRightContent .SurveyQuestionField .checkbox-unselected input,
.page-administration-assessment-assessmentquestions #exp-sp-administration-question-addedit-form .answer-choices-block .survey-checkbox-unselected input {
  height:12px
}
.page-administration-survey #page-container .checkbox-unselected,
.page-administration-assessment #page-container .checkbox-unselected,
.page-administration-learning #page-container .checkbox-unselected{
  height: 12px;
  margin-top: 3px;
}
#page-container .narrow-search-actionbar {
	margin-right:none;
}
.clsShareOption{
  margin-top:-2px
}
/*Viswanathan modified the css for #78105*/
.page-learning-catalog-search .clsShareOption{
 margin-top:0
}
.page-learning-catalog-search .request-class-icon{
  margin-top:-3px
}
.page-learning-catalog-search #request-class-option span a{
  line-height:18px
}
/* TP Enrollment Page Changes */
.tp-enroll-save-cancel-button-align-bottom{
	bottom:-15px
}
#program-tp-basic-addedit-form-container .tp-enroll-list-statistics-count{
	bottom:-5px
}
.page-administration-learning-program #page-container #narrow-search-results-holder .enrolltp-grid-wrapper .addedit-form-cancel-and-save-actions-row .enrolluser-save-cancel-btn-container .pub-unbpub-more-btn {
  margin-left:-1px
}
#page-container .narrow-search-actionbar {
  margin-right:10px
}
.narrow-search-multi-action-container #bubble-face-table #catalog-class-basic-addedit-form-container .enrolluser-class-grid-wrapper .ui-jqgrid-hbox .checkbox-selected input,
.narrow-search-multi-action-container #bubble-face-table #catalog-class-basic-addedit-form-container .enrolluser-class-grid-wrapper .ui-jqgrid-hbox .checkbox-unselected input,
#narrow-search-results-holder #catalog-enroll-form-html #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable td.enroll-user-check-all .checkbox-selected input,
#narrow-search-results-holder #catalog-enroll-form-html #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable td.enroll-user-check-all .checkbox-unselected input,
#narrow-search-results-holder #catalog-enroll-form-html #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable td.enroll-user-check-all-edit .checkbox-selected input,
#narrow-search-results-holder #catalog-enroll-form-html #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable td.enroll-user-check-all-edit .checkbox-unselected input{
	margin-right:4px
}

/* END */
.page-learning.page-learning-enrollment-search #paintEnrollmentResults .exp-sp-lnrenrollment-classCode,
.page-learning.page-learning-enrollment-search #paintEnrollmentResults .exp-sp-lnrenrollment-classloc {
  line-height:19px;
  margin-bottom:-8px
}
.expertusV2PopupContainer .ui-dialog-buttonset button,
#page-container .admin-save-button-middle-bg,
#page-container .admin-edit-button-middle-bg,
.refer-course-holder .ui-dialog-buttonset button.admin-save-button-middle-bg,
.expertusV2PopupContainer .ui-dialog-buttonset-post-assessment button,
.refer-course-holder .ui-dialog-buttonset-post-assessment button.admin-save-button-middle-bg,
.admin-save-button-middle-bg  {
  margin:0 0 0 10px
}
#program-tp-basic-addedit-form-container #admin-data-grid .enrolltp-grid-wrapper .admin-datagrid-save-cancel-button-align-bottom .addedit-form-cancel-container-actions .admin-save-button-container #edit-set-attachmodule-edit-mode{
  margin:0	
}
#attachment-addedit-form-html .attachment-display-btn-text .admin-save-button-middle-bg {
  margin-left:0
}
.page-administration-learning-catalog #exp-sp-administration-tags-addedit-form-html .tag-fieldset-wrapper .tag-details-row .admin-save-button-middle-bg#edit-tagssubmitbutton,
.page-administration-learning-program #exp-sp-administration-tags-addedit-form-html .tag-fieldset-wrapper .tag-details-row .admin-save-button-middle-bg#edit-tagssubmitbutton {
  margin:0
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin-save-button-container, 
.certificate-btn-container .admin-save-button-container{
	margin:0
}
.attach-list-view-attach-btn {
  margin:0
}
#chk .fade-out-title-container.group-name, #unchk .fade-out-title-container.group-name,
#chk .fade-out-title-container.uncheck-groupnames, #unchk .fade-out-title-container.uncheck-groupnames,
#chk .fade-out-title-container.check-groupnames, #unchk .fade-out-title-container.check-groupnames {
  height:17px
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin-datagrid-save-cancel-button-align-bottom .addedit-form-cancel-container-actions{
  margin-bottom:0;
}
.page-learning-myteam-search .find-training-list-course div.exp-sp-myteam-view-location-fadeout-container {
  margin-bottom:-8px
}
.page-learning-myteam-search #tbl-paintCatalogContentResults .find-training-list-course div.exp-sp-myteam-catalog-search-class-code-fadeout-container {
  margin-bottom:-9px
}
.page-administration-people-group #wrap-perm-user-list .tab-title{
	line-height: 28px;
}
.page-administration-people-group #wrap-perm-user-list.permission-div .bottom-qtip-tip-visible{
	margin-top: -11px;
}
#sel-unsel-grplist #chk ul li span,
#sel-unsel-grplist #unchk ul li span {
  line-height:normal;
}
.page-administration-learning-catalog #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist div.checkbox-unselected, 
.page-administration-learning-catalog #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist div.checkbox-selected, 
.page-administration-learning-program #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist div.checkbox-unselected, 
.page-administration-learning-program #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist div.checkbox-selected{
  margin:3px 0px 0 0
}
.page-administration-learning-catalog #exp-sp-administration-catalog-class-addedit-form #exp-sp-administration-catalog-access-addedit-form-html .addedit-left-col.mro-wrapper #group-control #sel-unsel-grplist .checkbox-unselected, 
.page-administration-learning-catalog #exp-sp-administration-catalog-class-addedit-form #exp-sp-administration-catalog-access-addedit-form-html .addedit-left-col.mro-wrapper #group-control #sel-unsel-grplist .checkbox-selected{
	 width:15px;
} 
.catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-selected,
.catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-unselected {
  padding-left:0
}
.expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset .removebutton.white-btn-bg-middle { 
  margin: 0; 
}
 .page-learning-enrollment-search .expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset .removebutton.white-btn-bg-middle { 
  margin-right: 6px; 
}
.page-administration-learning-catalog #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist .checkbox-unselected input, 
.page-administration-learning-catalog #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist .checkbox-selected input, 
.page-administration-learning-program #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist .checkbox-unselected input, 
.page-administration-learning-program #exp-sp-administration-catalog-access-addedit-form-html #group-control #sel-unsel-grplist .checkbox-selected input {
  margin-right:6px
}
.page-administration-learning-catalog #exp-sp-administration-catalog-class-addedit-form #exp-sp-administration-catalog-access-addedit-form-html .addedit-left-col.mro-wrapper #group-control #sel-unsel-grplist .checkbox-unselected input,
.page-administration-learning-catalog #exp-sp-administration-catalog-class-addedit-form #exp-sp-administration-catalog-access-addedit-form-html .addedit-left-col.mro-wrapper #group-control #sel-unsel-grplist .checkbox-selected input {
  margin-right:0px
}
.page-administration-learning-catalog #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.admin-save-button-middle-bg,
.page-administration-learning-program #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.admin-save-button-middle-bg {
  margin-left:0
}
.page-administration-manage-notification-template .qtip-tip,
  .page-administration-manage-certificate .qtip-tip{
     min-height:52px
  }
.page-administration-learning #page-container .checkbox-unselected{
  margin-top: 0px;
}
.page-administration-sitesetup-config #group-detail-wrapper .addedit-form-cancel-container-actions .admin-save-button-container {
  margin-left:0
}
.page-administration-commerce-discounts #discount-basic-addedit-form-disp .trainings-view-grid .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable{
	border-collapse: separate;
	border-top: 0.3px solid #E5E5E5;
}
.page-administration-commerce-setting #exp-sp-administration-country-setting-form .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable{
	border-collapse: separate;
	border-top: 0.5px solid #E5E5E5;
}
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp .enrolluser-class-grid-wrapper .enroll-edit-save-cancel-btn .enrolluser-save-cancel-btn-container input.addedit-edit-cancel-button {
   margin-top:-1px
}
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp .enrolluser-class-grid-wrapper .enroll-edit-save-cancel-btn .enrolluser-save-cancel-btn-container input.edit-catalog-course-save-publish {
   padding:2px 6px
}
.page-administration-people-group #paint-narrow-search-results  #security-role-detail-wrapper #addusr-addedit-form-html .display_user_list .admin-save-button-container .admin-save-button-container.role-add-user-btn,
.page-administration-people-group #paint-narrow-search-results  #security-role-detail-wrapper-list #display-assigned-users .display_user_list .admin-save-button-container .admin-save-button-container.add-class-button { 
 margin-left:0;
}
.page-administration-people-group #security-role-detail-wrapper-list #display-assigned-users .assigned-users-grps .display_user_list .admin-add-users-tab-datagrid-wrapper {
 min-height:185px
}
.page-administration #ui-multiselect-con .checkbox-unselected,
.page-administration #ui-multiselect-con .checkbox-selected,
.page-learning #ui-multiselect-con .checkbox-unselected,
.page-learning #ui-multiselect-con .checkbox-selected {
  margin-top:0
}
#role-addedit-form #exp-sp-administration-groups-addedit-form #ui-multiselect-con .checkbox-unselected, 
#role-addedit-form #exp-sp-administration-groups-addedit-form #ui-multiselect-con .checkbox-selected{
	margin-top:5px
}
.page-administration-learning-catalog #sel-unsel-usrlist .checkbox-selected,
.page-administration-learning-catalog #sel-unsel-usrlist .checkbox-unselected,
.page-administration-learning-program #sel-unsel-usrlist .checkbox-selected,
.page-administration-learning-program #sel-unsel-usrlist .checkbox-unselected{
   margin-top:5px	
}
.page-learning-myteam-search #my-team-dialog .course-available-seats {
  width:auto
}
.page-learning-myteam-search #my-team-dialog .search-register-btn .white-btn-bg-middle{
	margin-left:10px
}
.fade-out-title-container.multi-grid-survey-edit-code-fadeout-container,
.fade-out-title-container.multi-grid-survey-edit-title-fadeout-container,
.fade-out-title-container.multi-grid-assessment-edit-code-fadeout-container,
.fade-out-title-container.multi-grid-assessment-edit-title-fadeout-container{
  line-height:15px
}
#myprofile-parent .my-profile-box .field-reports{
  padding-bottom:0
}
body.page-learning-myteam-search .search-record-paint table#paintContentResults .top-record-div-left {
  width:360px
}
body.page-learning-myteam-search #lnr-myteam-search .myteam-learning-btn {
  width:260px
}
body.page-learning.page-learning-myteam-search .search-record-paint .myteam-learning-btn{
  margin-right: 18px
}
#catalog-class-basic-addedit-form-container .assess-attach-grid-wrapper .enrolled-status ul.sub-menu{right:267px}
#enrollment-class-list-view .view-enrollment-popup .bottom-qtip-tip-visible{
  margin-top: 0;
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .code-container.protype .detail-desc {
  line-height:25px
}
.page-learning-learning-plan-details-catalog #page-container .learning-detail-desc .code-container.code .detail-desc {
  float:left
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .code-container.prereq .detail-desc {
  float:left;
  width:auto;
  padding-top:3px
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .code-container.prereq .detail-desc ul,
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .code-container.prereq .detail-desc li {
  margin-left:0;
  list-style-type:none
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .code-container.prereq .detail-desc .fade-out-title-container .title-lengthy-text {
  margin-top:0
}
.page-learning-learning-plan-details-catalog #page-container .paint-course-list-subrow .fade-out-title-container.learningplan-detail-course-code-fadeout-container{
  line-height:22px
}
.page-learning-learning-plan-details-catalog #page-container .paint-course-list-subrow .fade-out-title-container.learningplan-detail-course-code-fadeout-container .title-lengthy-text {
  margin-top:-1px
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .learning-classes-details-wrapper .fade-out-title-container.view-course-title {
  margin-bottom:-4px
}
.page-learning-learning-plan-details-catalog #page-container .block-exp-sp-learning-plan-detail .learning-class-session-detail .class-detail-item-row .class-code-container.code .detail-desc {
  padding-top:3px
}
#paintEnrollmentResults .enroll-class-title .fade-out-title-container.exp-sp-lnrenrollment-enrollsinses {
  margin-bottom:-6px
}
#tab_my_learningplan #paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code {
  line-height:16px
}
#enroll-result-container #paintEnrollmentResults .enroll-class-title-info .item-title-code span.vtip {
  line-height:19px
}
.theme-ctool-popup #my-login-container .form-item label,
.page-user #my-login-container.my-login-frm .form-item label{
  padding-top:0
}
#secondary-menu li span .fade-out-title-container.secondary-menu-account-length .title-lengthy-text {
 margin-bottom: -3px
}
#bubble-face-table #program-tp-basic-addedit-form-container .ui-jqgrid-hbox .checkbox-selected,
#bubble-face-table #program-tp-basic-addedit-form-container .ui-jqgrid-hbox .checkbox-unselected{
  margin-left:-2px
}
#course-details-display-content .cdescription .detail-code,
#course-details-display-content .language .detail-code,
#course-details-display-content .code-container #tag-class,
#course-details-display-content .duration .detail-code,
.page-learning-course-details #course-details-display-content .fade-out-title-container.course-names {
  line-height:18px  
}
#course-details-display-content .fade-out-title-container.delivery-type,
.page-learning-course-details #course-details-display-content .fade-out-title-container.location-names {
  line-height:20px    
}
.page-learning-course-details #course-details-display-content .fade-out-title-container.session-title-fadeout-container,
#course-details-display-content .location .detail-code {
  line-height:19px 
}
#course-details-display-content .ccode .detail-code,
#course-details-display-content .code .detail-code  {
  line-height:16px 
}

.block-exp-sp-classdetail #class_details_display_area .code .detail-code,
.block-exp-sp-classdetail #class_details_display_area .info .detail-code,
.block-exp-sp-classdetail #class_details_display_area .cdescription .detail-code,
.block-exp-sp-classdetail #class_details_display_area .tags .detail-code,
.block-exp-sp-classdetail #class_details_display_area .language .detail-code,
.block-exp-sp-classdetail #class_details_display_area .lesson .detail-code {
  line-height:18px
}
.block-exp-sp-classdetail #class_details_display_area .delivery .detail-code,
.block-exp-sp-classdetail #class_details_display_area .duration .detail-code {
  line-height:19px
}
.block-exp-sp-classdetail #class_details_display_area .location .detail-code {
  line-height:18px
}
.block-exp-sp-classdetail #class_details_display_area .class-session-details .class-detail-session-title-fadeout-container {
  float:left;
  margin-bottom:-9px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .admin-datagrid-save-cancel-button-align-bottom .addedit-form-cancel-container-actions .admin-save-button-middle-bg,
.page-administration-manage-content #exp-sp-administration-content-addedit-form .admin-save-pub-unpub-button-container .addedit-edit-catalog-course-save-publish.admin-save-button-middle-bg {
  margin-left:0
}
.expertusV2PopupContainer .SurveyQuestionField table.sq-multichoice-n .checkbox-unselected,
.expertusV2PopupContainer .SurveyQuestionField table.sq-multichoice-n .checkbox-selected{
  margin-top:1px;
  vertical-align:middle
}
.expertusV2PopupContainer .SurveyQuestionField input[type="radio"]{
  margin-top:0
}
#page-container .theme-navigation-menu-bg-middle {
  width:921px;
  margin-left:-1px
}
.page-administration-commerce-discounts #discount-basic-addedit-form .form-item textarea.error {
  overflow-y:auto
}
#multi-select-class-wrapper .enroll-show-morecourse .item-title-code .fade-out-title-container.tp-view-course-code,
#multi-select-class-wrapper .enroll-show-morecourse .fade-out-title-container.tp-view-class-code {
  line-height:17px    
}
.admin-addedit-session-details-wrapper #avil_session_instructor #chk .fade-out-title-container.group-names{
  max-width:100px
}
.admin-addedit-session-details-wrapper tr td.admin-addedit-class-instructor_expmeeting,
.admin-addedit-session-details-wrapper tr td.admin-addedit-class-instructor_others{
  line-height:18px
}
.course-class-edit-qtip .qtip-popup-exempted #bubble-face-table #show_expertus_message{
  top:11px;
  width:auto;
  left:0;
  right:0
}
.page-learning-enrollment-search #page-container #instructor-result-container #paintInstructorResults .enroll-main-list{
   right:0
 }
 .page-learning-enrollment-search #paintEnrollmentResults .exp-sp-lnrenrollment-assessment-status, 
.page-learning-enrollment-search #paintEnrollmentResults .exp-sp-lnrenrollment-class-status {
  margin-bottom:-10px
}
.page-learning-enrollment-search #instructor-result-container .session-time-zone {
/*   line-height:19px */
}
.page-learning-enrollment-search #enroll-lp-result-container .course-level .enroll-show-moreclass .session-time-zone{
  line-height:19px	
}
.page-learning-enrollment-search #page-container #enroll-result-container .session-time-zone {
  line-height:22px
}
#cdn-basic-addedit-form .addedit-new-field-title {
  padding:4px 5px 0 0
}
#cdn-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions .admin-save-button-container {
  margin-left:0
}
 .page-learning-enrollment-search #enroll-result-container #pager_center .ui-pg-table,
 .page-learning-enrollment-search #enroll-lp-result-container #pager-lp_center .ui-pg-table,
 .page-learning-enrollment-search #instructor-result-container #pager-ins_center .ui-pg-table{
  word-wrap: normal
 }
.page-learning-myteam-search #page-container .find-training-list-course .exp-sp-myteam-view-location-fadeout-container,
.page-learning-myteam-search #page-container .find-training-list-course .exp-sp-myteam-view-jobtitle-fadeout-container   {
  margin-bottom:-8px
}
#page-container .block-exp-sp-announcement .cCorner10 {
  min-height:427px
}
.expertusV2PopupContainer select{
  margin-top:2px
}
#myskill-parent .disp-parent .skill-dropdown-disp, #myskill-parent .prof-parent .skill-dropdown-prof {
	margin-top:0px
}
#paintLearnerReportsResults .search-register-btn{
  margin-right:2px
}
#page-container #paintReportsContent .narrow-search-actionbar{
  margin-right:18px	
}
#paintReportsContent #pager #pager_center .ui-pg-table{margin-right:13px}
.page-reports #page-container #paintReportsContent .narrow-search-sortbar-sorttext {
 background-position: 56px -466px
}
.class-pre-label .prereq-session-title-fadeout-container {
  max-width:250px;
}
#page-container #learning-plan-details-data .ui-jqgrid .ui-icon-asc,
#page-container #learning-plan-details-data .ui-jqgrid .ui-icon-desc { 
  margin-top:8px
}
.page-administration-commerce-order #modal-content #order-basic-addedit-form #order-basic-addedit-form-disp .admin-save-pub-unpub-button-container .pub-unbpub-more-btn { 
  margin-left:-1px
}
.page-learning-myteam-search #lnr-myteam-search .full-button-without-action {
  width:64px;
  margin-left:6px
}
.page-learning-myteam-search .myteam-more-action  {
  min-width:130px
}
.page-learning-myteam-search .myteam-more-action .myteam-more-drop-down-list li a, 
.page-learning-myteam-search .myteam-more-drop-down-list li a:hover {
  width:110px
}
#block-exp-sp-learning-plan-detail-learning-details #learning-plan-details-display-content .code-container.tags .detail-desc {
 line-height:1.8em
}
/*#block-exp-sp-coursedetail-course-details .fade-out-title-container .title-lengthy-text,
#block-exp-sp-coursedetail-course-details #course-details-display-content .ccode .fade-out-title-container .title-lengthy-text {
  margin-top:-1px
}*/
.page-administration-people-setup #addedit-listvalues-detail-wrapper div#addedit-form-wrapper.access-mro-visibility input.white-btn-bg-middle.exp-addedit-form-cancel-button {
  margin-right:0
}
#course-list-loader .learning-classes-details tr.jqgfirstrow td:last-child{
  padding:0 3px
}
.theme-ctool-popup .addedit-new-field-two-col .addedit-edit-dropdown.addedit-edit-equipment{
  width:147px
}
#shareoption span a, #request-class-option span a {
	line-height: 27px;
}
#course-details-display-content .request-class-icon {
	margin-top: -3px;
}
#page-container .add-users-grp .ui-jqgrid-htable .checkbox-unselected,
#page-container .add-users-grp .ui-jqgrid-htable .checkbox-selected{
  margin-left:-1px
}
.page-administration-people-group #ui-multiselect-con .checkbox-unselected,
.page-administration-people-group #ui-multiselect-con .checkbox-selected{
  margin-top:3px
}
#page-container #admin-add-permissions .more-icon-close{
  background-position:-243px -385px
}
#page-container #admin-add-permissions .more-icon-open{
  background-position:-233px -385px
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month, .ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
 top:-3px;
 height:25px;
 line-height:25px
}
#list-values-addedit-form-details .add-list-first-btn,
#list-values-addedit-form-details .add-list-previous-btn,
#list-values-addedit-form-details .add-list-next-btn,
#list-values-addedit-form-details .add-list-last-btn {
  margin:3px 0 0 0;
  padding:0
}
.page-administration-learning-catalog .label-separator{
  margin-top:2px
}
#survey-question-basic-addedit-form .assessment-answer-block-container .option{
  margin: 0 15px 0 2px;
  top:5px
}
/* Styles for misalignment of My learning New theme page starts here */
#page-container #paintEnrollmentResults tr td:first-child,
#page-container #paintEnrollmentLPResults tr td:first-child,
#page-container #paintInstructorResults tr.jqgrow > td:first-child {
  padding-left:9px;
  width:7%
}
/* Styles for misalignment of My learning New theme page End here */
#select-class-dialog .fade-out-title-container.lnrsearch-date-time-fadeout-container{
  width:225px;
  line-height:17px
}
/*.page-learning-catalog-search #select-class-dialog #paintCatalogContentResults1 .lnrsearch-date-time-fadeout-container{
  margin-bottom:-9px
}*/
.page-learning.page-learning-enrollment-search #page-container #enroll-result-container .item-title-code .enroll-pipeline,
.page-learning.page-learning-enrollment-search #page-container #enroll-lp-result-container .item-title-code .enroll-pipeline {
  vertical-align:top
}
#paintEnrollmentResults .fade-out-title-container.exp-sp-lnrenrollment-timezone{
  margin-bottom:-8px	
}
.page-learning-enrollment-search #instructor-result-container #paintInstructorResults .fade-out-title-container.exp-sp-instructordesk-timezone{
  margin-bottom:-9px	
}
.refer-course-holder .refer-note span.require-text,
.refer-course-holder  .refer-note-text{
  display:table-cell
}
#catalog-course-basic-addedit-form-container #two-col-row-author_vendor_complete .form-item-completed-date .addedit-edit-completed_date {
  margin-top : 0px;
}
.page-learning-enrollment-search #my-team-dialog .assign-learning-team .assign-learn-last-row .top-record-div{
  margin-top : 7px
}
 #paintEnrollmentResults .location-session-detail a{
  top:1px;
  }
  #paintEnrollmentResults .enroll-session-details .location-session-detail a{
  top:-1px;
  }
  
.survey-attach-grid-wrapper .qtip_survey_sharelink table#bubble-face-table tr td {
	overflow: hidden;
	padding: 0
} 
.survey-attach-grid-wrapper .qtip_survey_sharelink table#bubble-face-table tr td.bubble-c {
	overflow: visible
}
.survey-attach-grid-wrapper .ui-jqgrid tr.jqgrow td {
  	height: 35px
}
#avil_session_instructor #unchk .fade-out-title-container.group-name,
#avil_session_instructor #unchk .fade-out-title-container.group-names,
#avil_session_instructor #unchk .fade-out-title-container.check-groupnames,
#avil_session_instructor #chk .fade-out-title-container.group-name,
#avil_session_instructor #chk .fade-out-title-container.check-groupnames {
  margin-bottom:-3px
}
#certifcatepath::-ms-expand {
 display: none
}
.page-learning-enrollment-search #my-team-dialog #tbl-paintCatalogContentResults .location-session-detail .location-tz{
  top:-4px
}
#request-class-option span a{
	line-height : 14px
}
#page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-action li.action-enable:first-child[style="display: none;"] + li {
  padding-top:9px
}
#page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-action li.action-enable:first-child[style="display: none;"] + li a{
  border-top:0
}
#program-tp-basic-addedit-form-container #admin-data-grid .prereq-grid-wrapper .admin-save-button-container.admin-save-button-container-view-mode,
#program-tp-basic-addedit-form-container #admin-data-grid .assess-attach-grid-wrapper .admin-save-button-container.admin-save-button-container-view-mode{
  margin-right:12px
}
.page-learning-enrollment-search table#paintEnrollmentResults div.enroll-main-list form.fivestar-widget .form-item .description,
.page-learning-enrollment-search table#paintEnrollmentLPResults div.enroll-lp-main-list form.fivestar-widget .form-item .description{
	margin:0 auto
}
/*Viswanathan added for #78219*/
.expertusV2PopupContainer #wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr table.myactivity-table td.myprofile-image
{
	width:15%
}
#page-container .my-account-wrapper .form-select {
	width:318px
}
#program-tp-basic-addedit-form-container #admin-data-grid .enrolltp-grid-wrapper .admin-datagrid-save-cancel-button-align-bottom .checkbox-label-wrapper .checkbox{
	margin-top:3px;
}
#lnr-tainingplan-register .lp_group_title {
	padding-left: 10px;
}
.lp_group_title{
  padding:0 7px 2px 15px
}
.mypgm-recertify .fade-out-title-container.exp-sp-mylearning-menulist{
  text-indent:4px
}
.page-learning-enrollment-search #instructor-markcomplete-dialog #ui-dialog-title-mark-complete-wizard .exp-sp-instructor-desk-markcompletion-dialog-class-title {
  margin-bottom:-18px
}
#instructor-markcomplete-dialog .expertusV2PopupContainer #mark-complete-wizard .mark-complete-wizard-popup-label input{
	margin-top:3px;
}
#page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box {
  margin-left:236px
}
#page-container #learner-myaccount-details #wizard-form-wrapper .pref-save-cancel-container-alignment{
  margin-left:273px
}
#lnr-myteam-search #searchRecordsPaint #paintContentResults .dd-btn .dd-arrow {
  height:28px
}
.page-administration #ui-multiselect-con .checkbox-unselected,
.page-administration #ui-multiselect-con .checkbox-selected{
  margin-top:3px
}
#sel-unsel-grplist .jspTrack{
  width:8px
}
.page-administration-manage-announcement .narrow-search-actionbar-list li a span.narrow-search-actionbar-greyout-btnBG,
.page-administration-manage-announcement .narrow-search-actionbar-list li div span.narrow-search-actionbar-greyout-btnBG{
  padding:3px 0 0
}
.page-administration-learning-catalog #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
.page-administration-learning-program #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
#content-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
#location-basic-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
#organization-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
#user-basic-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:2px;
}
#location-basic-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_mandatory,
#location-basic-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_mandatory,
#location-basic-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_mandatory,
#location-basic-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_multiple_opt{ 
 width: 61px
}   
/*Custom Attribute Start Scroll for IE11 hack #custom_attribute_0078975*/ 
/* For user */
.page-administration-people-user #user-basic-addedit-form #custom_attr_container #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
  margin-left: 0px;
} 

#custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"],
#custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"],
.catalog-class-basic-addedit-form-disp #custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"],
.catalog-class-basic-addedit-form-disp #custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]
{
  margin-left: 0px
}

.page-administration-order #orderpage_custom_attributes #custom_attr_container .addedit-firstcol-field-value .cus_attr_jscroll_set#customattribute-display-vertical input[type='radio'],
.page-administration-order #orderpage_custom_attributes #custom_attr_container .addedit-secondcol-field-value .cus_attr_jscroll_set#customattribute-display-vertical input[type='radio']{
  margin-left: 2px
}
 /* radio button for course */
.page-administration-learning-catalog #catalog-course-basic-addedit-form #custom_attr_container input[type="radio"] {
    margin-left: -1px;
}
/* radio button for class */
.page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #custom_attr_container input[type="radio"] {
    margin-left: -1px;
} 
 #custom_attr_container .cus_attr_jscroll_set{
		height:69px
}  
/*End Scroll for IE11 hack*/
.page-administration-people-user #custom_attr_container .cus_attr_jscroll_set {
    height: 65px;
}
.page-administration-manage-content #custom_attr_container .cus_attr_jscroll_set {
    /*height: 63px;*/
   height: 67px;
}
.page-administration-order #custom_attr_container .cus_attr_jscroll_set {
    height: 68px;
}
#new-customattribute-wrapper #bubble-face-table #show_expertus_message {
    margin-left:auto;
    top:11px;
    left:0;
    right:0;
    width:auto;
}