 /* Start Menu Css Changes */
#widget {
  border: 0px solid #000000;
  display: inline-block;
  width: 942px;
  padding-right:20px;
}
#outerWidgetTag{
  clear:both;
}
#innerWidgetTagEnroll{
	/*float:left;*/
	width:100%;
	padding-bottom:13px;
	padding-top:13px;
}
.salesforce-widget #block-system-main-menu{
  clear: left;
  display: block;
  float: left;
	border-bottom: 0px solid #EBEBEB;
  margin: 0;
  width: 100%;
  height:40px;
  /*padding-left: 30px;*/
}
.salesforce-widget #block-system-main-menu li {
  display: block;
  list-style-image: none;
  margin: 0;
  padding-left:0px;
  text-align: center;
	background:none;
	/*width:100px;*/
}
.salesforce-widget #block-system-main-menu li ul, .salesforce-widget #block-system-main-menu a { 
  display: block;
  font-family: openSansRegular,Arial;
  font-size: 9px;
  text-decoration: underline;
  color:#777777;
  list-style-image: none;
  text-transform: none;
}
.salesforce-widget #block-system-main-menu li ul, .salesforce-widget #block-system-main-menu li:hover a:hover {   
  font-weight: none;   
  color:#000000;
} 
.salesforce-widget #block-system-main-menu li a.active {
  border-bottom: 1px solid #4789DD;
  font-weight: bold; 
  color:#4789DD;
  padding-bottom:3px;
}
.salesforce-widget #block-system-main-menu li ul, .salesforce-widget #block-system-main-menu li:hover a.active:hover{   
  font-weight: bold;   
  color:#4789DD;
  border-bottom: 1px solid #4789DD; 
}
#block-exp-sp-footer-footer {
	float: right;
	width: 100%;
	position: static;
	border-top: 1px solid #CCCCCC;
}
/* End Menu Css Changes */

#page-container{
  width:100%;
}
#page-wrapper, .region-page-closure{
  width: 100%;
} 	
#page{
  position: static;
}
.salesforce-widget #block-system-main-menu li{
  border-right:0px;
}
.ui-dialog-content.ui-widget-content.assign-learning-team{
	height:auto;
}
#enroll-lp-result-container .enroll-action,#enroll-result-container .enroll-action{
	 overflow:visible;
	 width:99.8%
}   
.page-learning  #block-system-main-menu, .page-reports #block-system-main-menu{
  display:block;
}

/* Start iFrame Css */
.iframe-mylearning #block-system-main-menu{
  display:none;
}
        
.iframe-mylearning #innerWidgetTagEnroll{
	padding-top: 7px; 
	padding-bottom: 13px;
}		
.iframe-mylearning #content, .iframe-mylearning .no-sidebars #content{
	width: 100%;
}			
/*.iframe-mylearning #innerWidgetTagEnroll #page-container #content #enroll-result-container{
	width: 143.6%;
}

.iframe-mylearning #innerWidgetTagEnroll #page-container #content #learner-enrollment{
  width: 143%;
}
		
.iframe-mylearning #innerWidgetTagEnroll #page-container #content #learner-learningplan{
  width: 141.3%;
}
.iframe-mylearning #innerWidgetTagEnroll #page-container #content #block-exp-sp-lnrenrollment-tab-my-enrollment .enroll-bottom-curve{
	width: 142.9%;
}		
.iframe-mylearning #innerWidgetTagEnroll #page-container  #content #block-exp-sp-lnrlearningplan-tab-my-learningplan .enroll-bottom-curve{
	width: 142.8%;
}		
.iframe-mylearning #innerWidgetTagEnroll #page-container #content #enroll-lp-result-container{
	width: 143.4%;
}*/	
.iframe-mylearning #innerWidgetTagEnroll  #learner-learningplan{
	padding-top:3px;
}
.iframe-mylearning #innerWidgetTagEnroll #page-container #paintEnrollmentResults .enroll-main-list, .iframe-mylearning #innerWidgetTagEnroll #page-container #paintEnrollmentLPResults .enroll-lp-main-list{
	position: absolute;   
	float:left
}
.iframe-mylearning #innerWidgetTagEnroll #page-container .enroll-main-list, .iframe-mylearning #innerWidgetTagEnroll #page-container .enroll-lp-main-list{
	/*right:auto;*/
}		
.iframe-mylearning #innerWidgetTagEnroll #pager{
	max-width: 943px;
}
.iframe-mylearning #innerWidgetTagEnroll #pager-lp{
	min-width: 943px;
}		
.iframe-mylearning #innerWidgetTagEnroll .page-learning-enrollment-search #page-container #pager{		
	margin-left: -2px;
	width: 947px;
}
.iframe-mylearning #innerWidgetTagEnroll .page-learning-enrollment-search #page-container #pager-lp{
	margin-left: -2px;
  width: 947px;
}	 
.iframe-mylearning #innerWidgetTagEnroll .page-learning-enrollment-search #page-container #content, .iframe-mylearning #innerWidgetTagEnroll .page-learning-my-profile #page-container #content {
	width: 100%;
}		
.iframe-mylearning #innerWidgetTagEnroll form.fivestar-widget {
  clear: both;
  display: block;
}
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-result-container .myenrollment-table,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-lp-result-container .myenrollment-table,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-result-container .myenrollment-table  #gview_paintEnrollmentResults,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-lp-result-container .myenrollment-table #gview_paintEnrollmentLPResults,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-result-container .myenrollment-table  #gview_paintEnrollmentResults .ui-jqgrid-bdiv,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-lp-result-container .myenrollment-table #gview_paintEnrollmentLPResults .ui-jqgrid-bdiv,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-result-container .myenrollment-table  #gview_paintEnrollmentResults #paintEnrollmentResults,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-lp-result-container .myenrollment-table #gview_paintEnrollmentLPResults #paintEnrollmentLPResults {
  min-width: 100%;
}
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-result-container .myenrollment-table  #gview_paintEnrollmentResults #paintEnrollmentResults .enroll-main-list,
.iframe-mylearning #innerWidgetTagEnroll #page-container #enroll-lp-result-container .myenrollment-table #gview_paintEnrollmentLPResults #paintEnrollmentLPResults .enroll-main-list{
  /*float:none;
  width:133px*/
}
.iframe-mylearning .course-detail-section-innerRecord{
  margin-left: 88px
}
.iframe-mylearning #page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass tr.set-height td:first-child{
  /*min-width:646px;*/
  max-width:646px
}
/* End iFrame Css */

#refer_course_holder .ui-corner-all, #request_class_holder .ui-corner-all, .survey-main-holder .ui-corner-all{
	 border-radius: 0 0 0 0;
}
div.expertusV2PopupContainer .ui-corner-all{
   border-radius: 0 0 0 0;
}
.survey-main-holder #take_survey_main{
  min-height: 94px;
  height:auto;
} 
.page-learning .ui-widget-overlay{
   width: 100%;
} 
 /* Start For Print Certificate Css */
.page-learning-enrollment-search .print_certificate_holder .expertusV2PopupContainer .ui-widget-header a{ 
	font-family: ProximaNovaBold,Arial;
	color: #FFFFFF; 
	font-weight: bold;
	height: 18px;
	margin: -10px 0 0;
	padding: 0px;
	position: absolute; 
	top: 56% ;
	width: 19px;
	text-decoration: none;  
}
.page-learning-enrollment-search .print_certificate_holder .expertusV2PopupContainer .ui-widget-header a:hover{
  font-family: ProximaNovaBold,Arial;
 	color: #FFFFFF;
  text-decoration: none;  
  font-weight: bold;
  height: 18px;
  margin: -10px 0 0;
  padding: 0px;
  position: absolute; 
  top: 56%;
  width: 19px;
}
.page-learning #print_certificate_holder #page-container .printcert-btn{
	padding:0px;
}	
.page-learning #print_certificate_holder #printcert_button {
	float: right;
	margin-bottom: 10px;
	width: auto;
}	
.page-learning #print_certificate_holder .cert-button-wrapper {
	overflow: hidden;
	padding-right: 10px;
  padding-top: 10px;
	}	
.page-learning #print_certificate_holder .ui-widget, .page-learning #print_certificate_holder body, .page-learning #print_certificate_holder caption, .page-learning #print_certificate_holder th, .page-learning #print_certificate_holder td, .page-learning #print_certificate_holder input, .page-learning #print_certificate_holder textarea, .page-learning #print_certificate_holder select, .page-learning #print_certificate_holder option,.page-learning  #print_certificate_holder legend, .page-learning #print_certificate_holder fieldset{
	font-family: auto;
}	
.page-learning #print_certificate_holder #print_certificate_container{	  
	overflow:auto;
}
.page-learning #print_certificate_holder #printcert_maincont > div > div > div > div img{
	height: auto;
  width: auto;
	}
.page-learning  #page-container .admin-save-button-left-bg {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") no-repeat -5px -1113px;
	float: left;
	height: 24px;
	width: 10px;
}
.page-learning #page-container .admin-save-button-middle-bg {
  background-color:#27245e ;
  border:1px solid #27245e;
  border-radius:6px;
  color: #FFFFFF;
  float: left;
  font-family: ProximaNovaBold,Arial;
  font-size: 11px;
/*   height: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0; */
  text-align: center;
  text-transform: uppercase;
  width: auto;
}	
.page-learning #page-container .admin-save-button-right-bg {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") no-repeat 0 -1171px;
	float: left;
	height: 24px;
	width: 10px;
} 	
.page-learning #innerWidgetTagEnroll #page-container #catalog-admin-style #catalog-admin-cal .ui-datepicker .ui-datepicker-title{
  top:auto;
}	
/* End For Print Certificate Css */
.page-learning #innerWidgetTagEnroll #page-container .ui-datepicker-header a:hover {
   top:21px
}
.page-learning #innerWidgetTagEnroll #ui-datepicker-div .ui-datepicker-prev:hover {
   margin-left: 24px
 }  
.page-learning #innerWidgetTagEnroll #ui-datepicker-div .ui-datepicker-next:hover {
   margin-left: 10px
 } 
.page-learning #innerWidgetTagEnroll #page-container #catalog-admin-style .ui-datepicker-prev:hover{
   margin-top:-4px;
   margin-left: 20px
}
#innerWidgetTagEnroll #course-details-data #forum-topic-list-display #pager{
  margin-left:-29px
}	 
#innerWidgetTagEnroll #tagtip {
 left:auto
}
/*--- my learn customization ---*/
.iframe-mylearning #page-container #learner-enrollment .block-title, 
.iframe-mylearning #page-container #learner-learningplan .block-title {
	cursor: default
}
/*Start title restriction style*/
.iframe-mylearning #paintEnrollmentResults .exp-sp-lnrenrollment-enrollfulltitle{
  max-width:610px
}
.iframe-mylearning #paintEnrollmentResults .item-title .exp-sp-lnrenrollment-enrollfulltitle{
  max-width:473px
}
.iframe-mylearning #paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_enr,
.iframe-mylearning #paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cmp{
  max-width:440px
}
.iframe-mylearning #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-enroll-fulltitle{
  max-width:635px
}
.iframe-mylearning #page-container #enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title .exp-sp-lnrmyprogram-enroll-fulltitle{
  max-width:345px
}
.iframe-mylearning #page-container #enroll-lp-result-container .enroll-lp-course-title .item-title{
  width:73%
}
.iframe-mylearning #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code,
.iframe-mylearning #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location{
  max-width:150px
}
.iframe-mylearning .fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_inc,
.iframe-mylearning .fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_ppm,
.iframe-mylearning .fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cln,
.iframe-mylearning .fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_exp{
  max-width:615px
}
.iframe-mylearning #enroll-lp-result-container .traning-plan-cls-titlist,
.iframe-mylearning #enroll-lp-result-container .traning-plan-cls-grp-title{
  width:auto
}
.iframe-mylearning #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-titlist{
  max-width:637px
}
.iframe-mylearning #enroll-result-container .course-row .course-desc,
.iframe-mylearning #enroll-result-container .status-row .status-desc,
.iframe-mylearning #enroll-result-container .attach-row .attach-desc,
.iframe-mylearning #enroll-result-container .location-row .location-desc,
.iframe-mylearning #enroll-result-container .course-row,
.iframe-mylearning #enroll-result-container .status-row,
.iframe-mylearning #enroll-result-container .attach-row,
.iframe-mylearning #enroll-result-container .session-row,
.iframe-mylearning #enroll-result-container .sessName,
.iframe-mylearning #enroll-result-container .session-row .session-desc,
.iframe-mylearning #enroll-result-container .session-row .session-desc .sessionDet,
.iframe-mylearning #enroll-lp-result-container .session-row .session-desc
.iframe-mylearning #enroll-lp-result-container .session-row .session-desc .sessionDet{
  width:auto
}
.iframe-mylearning #paintEnrollmentResults .exp-sp-lnrenrollment-wbt-course-title{
  max-width:498px
}
.iframe-mylearning #paintEnrollmentResults .exp-sp-lnrenrollment-sesions-head,
.iframe-mylearning #paintEnrollmentLPResults .enroll-show-moreclass .enroll-session-details .exp-sp-lnrmyprogram-session-title{
  max-width: 260px
}
#innerWidgetTagEnroll .fade-out-title-container.course-view-code-fadeout-container,
#innerWidgetTagEnroll .fade-out-title-container.learningplan-course-title-fadeout-container{
  width: 744px
}
.salesforce-widget .course-mandatory-bg{
/*   margin-top:4px */
}
.iframe-mylearning #paintEnrollmentResults .enroll-class-title .exp-sp-lnrenrollment-enrollsinses{
  max-width: 375px
}
.iframe-mylearning #paintEnrollmentResults .enroll-class-title .exp-sp-lnrenrollment-enrollmulses{
  max-width: 325px
}
.iframe-mylearning #page-container #content .block-exp-sp-lnrenrollment #learner-maincontent_tab3{
  width:99.8%
}
.iframe-mylearning #page-container #content #enroll-lp-result-container #learningplan-maincontent{
  width:99.8%
}
.iframe-mylearning #page-container #content #enroll-lp-result-container .enroll-show-moreclass .enroll-main-action-lp-multiclasss{
  /* width: 100px */
}
/*End title restriction style*/