div.fivestar-widget-static .star span.on {
  background-position: right -10px
}
#paintEnrollmentResults div.fivestar-widget {
	margin : 26px 0px 0px 8px
} 
div.fivestar-widget-static .star span.off {
  background-position: right 0
}
div.fivestar-widget .cancel,
div.fivestar-widget .cancel a {
  background-position: right -20px
}
div.fivestar-widget .star,
div.fivestar-widget .star a,
div.fivestar-widget .cancel a {
  background-position: right 0
}
div.fivestar-widget div.on a {
  background-position: right -10px
}
div.fivestar-widget div.hover a, div.rating div a:hover {
  background-position: right -20px
}