#lnr-tainingplan-register .lp-reg-class-title,
#lnr-tainingplan-register .limit-title-row .limit-title {
  line-height:20px;
  /* font-size:14px;
  color:#333; */
  text-align:left;
  color: #474747;
  font: 12px/17px ProximaNovaBold,Arial;
}
#lnr-tainingplan-register .course-info {
  width:580px;
  text-align:left;
  color:#333
}
#my-team-dialog .course-level,
#my-team-dialog .class-level {
  margin-left:14px
}
#lnr-tainingplan-register .class-details-info {
  width:100%
}
#lnr-tainingplan-register .jspHorizontalBar {
  display:none
}
#lnr-tainingplan-register .enroll-show-morecourse {
  margin-left:1px
}
#lnr-tainingplan-register .enroll-show-morecourse tr td {
  /* padding:5px 4px 0 0; */
  padding:2px 0 0 0;
  color:#666;
  vertical-align:top
}
#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail #bubble-face-table td {
	padding :0 ;

	}
#lnr-tainingplan-register .sub-course-class tr td.cls-description  .location-session-detail #bubble-face-table tbody {
	min-width :290px ;

}
#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail #bubble-face-table tbody {
	min-width :290px ;

}
#lnr-tainingplan-register .manage-location-time {
	right:-4px;
	top :-1px
}
#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail #bubble-face-table tr td {
	font-size: 11px;

	}
	#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail .manage-location-time{
	font-size: 8px;
    left: 2px;
    top: -9px;
	}
#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail {
  padding-top:0
}
#lnr-tainingplan-register .pipeline {
  color:#999;
  margin:0 3px
}
#lnr-tainingplan-register .item-title-code {
  padding-top:0;
  font-size:12px;
  color:#999
}
#lnr-tainingplan-register .course-delivery-info span {
	float: left;
}
#lnr-tainingplan-register .course-delivery-info .course-detail-col2 span {
	float: none;
}
#lnr-tainingplan-register .course-desc-info {
  color:#666;
  padding:6px 0 9px 0;
  font-size:13px
}
#lnr-tainingplan-register .class-level .class-details-info {
  font-size:13px;
  /* border-bottom:1px solid #ccc */
}
#lnr-tainingplan-register .class-level .class-details-info  .course-sub-class-detail .course-detail-col2.clsWithTz .fade-out-title-container{
  max-width:190px;
}
#lnr-tainingplan-register .class-level .class-details-info  .course-sub-class-detail .course-detail-col2 .fade-out-title-container{
  max-width:220px;
}
#lnr-tainingplan-register .class-level .course-delivery-info {
  clear:both;
  /* margin-left:16px; */
 /*  padding-bottom:5px */
}
#lnr-tainingplan-register .class-level .course-detail-col1 {
  width:52%;
 /*  width:60%; */
  padding-top:5px
}
#lnr-tainingplan-register .class-level .course-detail-col1-new {
  width:95%;
  padding-top:5px
}
#lnr-tainingplan-register .class-level .course-detail-col2 {
  /*width:43%;
  width:35%; */
  /* padding-top:5px */
  width: 220px;
}
#lnr-tainingplan-register .class-level .course-detail-col3 {
/*   width:5%; */
  padding-top:5px
}
#lnr-tainingplan-register .session-detail-block,
#lnr-tainingplan-register .session-location-block {
    font-size: 11px;
    color: #212121;
}
#lnr-tainingplan-register .session-location-warpper {
	width: 100%;
}
#lnr-tainingplan-register .session-details-warpper .session-detail-block .class-detail-session-instructor-fadeout-container {
	max-width: 520px;
}
#lnr-tainingplan-register .session-detail-block .assignlearn-tp-cls-session-title {
	height: 18px;
}
.enroll-show-morecourse{
  height:auto;
  width:100%
}
.lnr-tainingplan-register,
.lp-course-class-list-accord {
  width:100%;
  height:500px
}
#my-team-dialog .lp-course-class-list-accord{
  height:auto;
}
.set-height-column-left {
  float:left;
  width:2%;
  display:block
}
.tp-register-select-class-crs-title .set-height-column-right{
	width:100%
}
.set-height-column-right {
  border-bottom:1px solid #ccc;
  width:75%;
  float:left
}
/* .course-sub-class-detail .course-delivery-info {
  border-bottom:1px solid #ccc
} */
.class-details-info .cls-description {
  border-bottom:1px solid #ccc;
  color:#666;
  font-size:13px
}
#lnr-tainingplan-register .cls-description .sessionDet {
  width:100%;
  clear:both;
  padding-bottom:2px;
  padding-top:7px;
  float:left
}
#lnr-tainingplan-register .cls-description .sessName {
  float:left;
  width:40%
}
#lnr-tainingplan-register .cls-description .sessDay {
  float:left;
  width:5%
}
#lnr-tainingplan-register .cls-description .sessDate {
  float:left;
  width:55%
}
#lnr-tainingplan-register .cls-description .cls-lang {
  padding-top:8px;
  clear:both
}
#lnr-tainingplan-register .cls-description .enroll-loc-details {
  margin-top:5px
}
#lnr-tainingplan-register .enroll-loc-details .enroll-location-text {
  padding-bottom:5px
}
#lnr-tainingplan-register .cls-description .time-zone-text {
  font-size:10px
}
#lnr-tainingplan-register .no-item-found {
  color:#999;
  font-size:12px;
  text-align:center;
  padding-bottom:5px
}
.time-zone-text {
  font-size:10px
}
#lnr-tainingplan-register .class-level .sub-course-class .cls-description {
  padding-bottom:8px;
  display:block
}
.ctool-video-modal .ctools-sample-modal-content .popups-title .modal-title {
  width:467px
}
.ctool-video-modal .ctools-sample-modal-content .modal-content,
.ctool-video-modal .ctools-sample-modal-content .youtube-video-container,
.ctool-video-modal .ctools-sample-modal-content .exp-jwplayer-container {
  background:#000
}

div.no-access {
  color:#999;
  font-weight:bold;
  padding:10px;
  text-align:center;
  width:100%;
  height:200px;
  padding:35px 3px
}
div.no-access #signin-to-continue{
	color: #474747;
    font-family: ProximaNovaBold,Arial;
    font-size: 13px;
    font-weight:bold;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    text-decoration-color: -moz-use-text-color;
    text-decoration: none;
    text-transform: uppercase;
    float:initial
}
.cls-sign-msg{
	display:table;
	margin:0 auto;
	clear:left
	
}
.no-video-found {
  color:#fff;
  text-align:center;
  font-size:18px;
  padding-top:150px;
  font-family:helvetica neue,helvetica,arial;
  display:block
}
.ctool-video-modal #show_expertus_message {
  display:none
}
.expertusV2PopupContainer #lnr-tainingplan-register .title_close {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1421px;
  height:14px;
  margin:2px 2px 0 1px;
  float:left;
  width:12px;
  text-decoration:none
}
.expertusV2PopupContainer #lnr-tainingplan-register .title_open {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1494px;
  float:left;
  height:14px;
  margin:2px 5px 0 1px;
  text-decoration:none;
  width:9px;
}
.bottom-qtip-tip-right {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -11px -1563px;
  height:76px;
  width:70px;
  z-index:100
}
#select-class-dialog #show_expertus_message {
  top:39px
}
.page-learning-catalog-search #show_expertus_message {
  top:0
}
.page-learning-catalog-search .popups-container-newui #show_expertus_message {
  top:41px;
}
#lnr-tainingplan-register .enroll-loc-details td{
  width:500px
}
#page-container #content .section #enroll-result-container,
#page-container #content .section #enroll-lp-result-container,
#page-container #content .section #instructor-result-container {
  width:100.8%
}
#page-container #content .section #enroll-result-container.clsenroll-result-container,
#page-container #content .section #enroll-lp-result-container.clsenroll-lp-result-container,
#page-container #content .section #instructor-result-container.clsinstructor-result-container{
	width:100%
}
#page-container #content .block-exp-sp-lnrenrollment #learner-maincontent_tab3,
#page-container #content #enroll-lp-result-container #learningplan-maincontent,
#page-container #content #instructor-result-container #instructor-maincontent_tab {
  float:left;
  margin-left:0;
  padding-top:0;
  width:100%;
  height:44px;
  background:#f5f5f5;
  border:1px solid #e8e8e8;
  border-top:0
}
#page-container #content .block-exp-sp-lnrenrollment #enroll-result-container .EnrolltabNavigation,
#page-container .EnrolltabNavigation-Ins {
  margin:9px 0 0 10px
}
#page-container #content .block-exp-sp-lnrenrollment #enroll-result-container .EnrolltabNavigation li,
#page-container .EnrolltabNavigation-Ins li {
  padding:0 0 0 5px
}
#page-container #content .section #enroll-result-container,
#page-container #content .section #instructor-result-container {
  border-left:0;
  border-right:0
}
#page-container #expertus-online-users .expertus-no-online-users-msg {
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E5E5E5;
  color:#2d2d2d
}
#page-container #learner-enrollment .block-title,
#page-container #learner-learningplan .block-title,
#page-container #learner-instructor .block-title {
  width:auto;
  float:none;
  padding:0 0 0 7px
}
#page-container .enroll-sort-by-container,
#page-container .instructor-sort-by-container {
  border-bottom:0;
  margin-left:20px;
  padding:0;
  text-align:left;
  width:66px;
  float:right;
  height:39px;
  line-height:39px
}
#page-container #enroll-noresult-msg,
#page-container #enroll-lp-result-container #enroll-lp-noresult-msg,
#page-container #ClassDetailsMainDiv {
  color:#777;
  font-size:13px;
  margin-top:-37px
}
.page-learning-enrollment-search #page-container #ClassDetailsMainDiv {
  margin-top:-10px
}
#page-container .enroll-sort-by-container .sort-by-links,
#page-container .instructor-sort-by-container .sort-by-links {
  list-style-type:none;
  float:left;
  line-height:1.1em;
  border:1px solid #ebebeb;
  position:absolute;
  background:#ffffff;
  top:39px;
  z-index:10000;
  display:none;
  width:123px;
  text-indent:0;
  border-radius:0 0 10px 10px;
  left:-52px
}
#page-container .enroll-main-list,
#page-container .enroll-lp-main-list {
  position:absolute;
  right:0px;
  z-index:1000
}
#page-container .clsContentFull .enroll-main-list, #page-container .enroll-lp-main-list {
  margin-right:10px
}
#page-container #enroll-result-container div.fivestar-summary span.empty,
#page-container #enroll-lp-result-container div.fivestar-summary span.empty {
  margin-right:0
}
.jspContainer {
    overflow:hidden;
    position:relative
}
.jspPane {
    position:absolute
}
#block-exp-sp-whoisonline-online-users-mylearning .jspVerticalBar{
	right:0
}
.jspVerticalBar {
    background:#FFF;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    width:6px
}
.jspCap {
    display:none
}
.jspVerticalBar *, .jspHorizontalBar * {
    margin:0;
    padding:0
}
.jspTrack {
    position:relative
}
.jspDrag {
    background:#CBCBCB;
    border-color:#CBCBCB #CBCBCB #CBCBCB #B7B7B7;
    border-left:1px solid #B7B7B7;
    border-right:1px solid #CBCBCB;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    left:0;
    position:relative;
    top:0
}

.page-node .filter-wrapper, .mceEditor tr.mceLast {
    display:block;
}
/*-- my learn widget customization --*/
.page-learning-enrollment-search #page-container .sort-by-text {
    min-width: 50px;
}
.clsLeftEmpty{
	width:650px;
	padding:10px;
	border:1px solid #E7E7E7;
	border-radius:10px
}
.clsFullEmpty{
	width:920px;
	padding:10px;
  border:1px solid #E7E7E7;
  border-radius:10px
}
.delete-widget, .delete-widget-disabled {
    display: block;
    float: left;
    height: 38px;
    margin: 0 2px;
    padding: 0 10px 0 0;
    width: 24px;
}
.flt_right {
    float: right;
}
.widget-delete-button {
    color: #fff;
    cursor: hand;
    font-size: 12px;
    float: right;
    text-decoration: none;
    display: block;
}
.delete-widget-disabled .widget-delete-button { color: #ccc; }
.page-learning-enrollment-search #highlight-list,
.page-learning-enrollment-search #sidebar_second-list {
    margin: 0;
    padding: 0;
}
.page-learning-enrollment-search .placeholder,
.salesforce-widget .placeholder{background-color: #f9f9f9; border: 1px dashed #ccc; }
.page-learning-enrollment-search .enroll-sort-bylist {
     display: block;
    float: left;
    width:60%;
}
#block-exp-sp-learning-tab-user-customization
{
	float: right;
    height: 37px;
    margin-top: 0;
    width: 37px;
}
#block-exp-sp-learning-tab-user-customization .region-sidebar-widget-bg, .block-content-main {
	border: 0;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#user-preference-settings {
	display: block;
    float: left;
}
#page-container #user-preference-settings #manage-dd-list,
#widget #user-preference-settings #manage-dd-list {
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    top: 30px;
    right: -12px;
    width: auto;
    min-width:30px;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1001;
}
#delete-msg-wizard .del_panel {
	color: #474747;
	font-family: ProximaNovaBold,Arial;
    font-size: 12px;
}
#page-container #user-preference-settings .manage-dd-list-arrow, #widget #user-preference-settings .manage-dd-list-arrow { 
	 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -151px -1878px;
  height:15px;
  left:100px;
  position:absolute;
  top:-14px;
  width:25px;
  display:none
}
#page-container #user-preference-settings #manage-dd-list li, #widget #user-preference-settings #manage-dd-list li {  float: none; width:95%;  padding:0 5px; margin: 0; white-space: nowrap }
#user-preference-settings #manage-dd-list li .dropdown-title,
#user-preference-settings #manage-dd-list li .dropdown-msg  {
	color: #474747;
	cursor: pointer;
    float: none;
    text-align: left;
    font-family: ProximaNovaBold,Arial;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding-left: 0;
    text-decoration: none;
    white-space: nowrap;
    width: 100%
    
}
#user-preference-settings #manage-dd-list li .dropdown-msg  {
   padding-left: 10px;
   cursor: default;
}
.page-learning-enrollment-search #user-preference-settings .admin-save-button-middle-bg { font-size: 11px }
#user-preference-settings #manage-dd-list div.manage-dd-list-close  {
    background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/bubble_close.png") no-repeat scroll 1px 1px;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: -10px;
    top: -8px;
    width: 15px;
    display:none
}
#user-preference-settings #manage-dd-list li .dropdown-msg{
	color: #777;
    font-family: openSansRegular,Arial;
    text-align: center;
    font-size:13px;
    padding:3px;
    width:340px
}
#user-preference-settings .my-account-arrow-new{
    background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat scroll right -1495px;
    /* display: inline-block; */
	display: none;
    float: right;
    height: 10px;
    width: 10px;
    margin-top:3px;
}
#user-preference-settings .disabled {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -464px -1066px;
}
#user-preference-settings .settingicon {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -464px -1066px;
	margin: 7px;
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    width: 23px;
}
#user-preference-settings .dropdown-title { 	float: left; }
#user-preference-settings .panel-add-container { float: right }
.page-learning-enrollment-search #block-exp-sp-lnrenrollment-tab-my-enrollment, .page-learning-enrollment-search #block-exp-sp-lnrlearningplan-tab-my-learningplan,
.page-learning-enrollment-search #block-exp-sp-administration-announcement-announcement, .page-learning-enrollment-search #block-exp-sp-lnrcalendar-tab-my-calendar,
.page-learning-enrollment-search #block-exp-sp-mytranscript-mytranscript, .page-learning-enrollment-search #block-exp-sp-instructor-desk-tab-instructor-desk {
	margin-bottom: 10px;
	margin-top:0px;
}
.page-learning-enrollment-search .region-sidebar-second .block.first {
	margin-top:0px;
}
.page-learning-enrollment-search #main-wrapper {
	margin-top: 10px;
}
.page-learning-enrollment-search #content .enroll-disable-right-region {
	margin-top: 0;
}
#page-container #learner-enrollment .block-title,
#page-container #learner-learningplan .block-title,
#page-container #learner-instructor .block-title,
#page-container #div_announcement .block-title,
#page-container #block-exp-sp-lnrcalendar-tab-my-calendar .block-title,
#page-container li#mytranscript #div_my_transcript .block-title,
#page-container #block-exp-sp-whoisonline-online .block-title {
 cursor: move;
 }
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
#widget #user-preference-settings  #manage-dd-list { top: 33px }
/*-- my learn widget customization --*/
.ctool-video-modal .theme-ctool-popup {
    margin: 0 auto;
}
/*************** My learning ***********************/
.clsContentFull #paintEnrollmentResults .enroll-class-title .exp-sp-lnrenrollment-enrollsinses {
  max-width:380px;
}
.clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-wbt-course-title {
  max-width:660px;
}
.clsContentFull #paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_enr,
.clsContentFull #paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cmp {
  max-width:470px;
}
#page-container .clsContentFull #enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title .exp-sp-lnrmyprogram-enroll-fulltitle{
  max-width: 455px;
}
.clsContentFull #paintInstructorResults .enroll-course-title .exp-sp-instructor-desk-enroll-fullsinglesession {
   max-width: 405px;
}
.clsContentFull #paintInstructorResults .exp-sp-instructor-desk-session-head {
  max-width: 615px;
}
.clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-sesions-head {
    max-width: 300px;
}
.clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-classCode, .clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-classloc {
   max-width: 170px;
}
.clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-classloc {
	max-width: 135px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-titlist {
    max-width: 725px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-grp-title {
    max-width: 500px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .enroll-session-details .exp-sp-lnrmyprogram-session-title {
  max-width: 550px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code, .clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location {
  max-width: 205px;
}
.clsContentFull #paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code {
  max-width: 250px;
}
.clsContentFull #paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code-right-false {
  max-width: 200px;
}
.clsContentFull #paintInstructorResults .exp-sp-instructor-desk-class-code, .clsContentFull #paintInstructorResults .exp-sp-instructor-desk-class-location {
  max-width: 175px;
}
.clsContentFull #paintEnrollmentResults .enroll-class-title .exp-sp-lnrenrollment-enrollmulses {
  max-width: 380px;
}
.clsContentFull #paintInstructorResults .enroll-course-title .exp-sp-instructor-desk-enroll-fullmultiplesession {
   max-width: 405px;
}
.clsContentFull #paintInstructorResults .instructor-learner-tab .learners-for-classes .exp-sp-instructor-desk-name-scheduled {
  max-width:170px;
}
.clsContentFull #paintEnrollmentResults .exp-sp-lnrenrollment-enrollfulltitle {
  max-width: 680px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-enroll-fulltitle {
    max-width: 710px;
}
.clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code, .clsContentFull #paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location {
	max-width: 250px;
}
#page-container #content.clsContentFull .block-exp-sp-lnrenrollment #learner-maincontent_tab3,
#page-container #content.clsContentFull #enroll-lp-result-container #learningplan-maincontent,
#page-container #content.clsContentFull #instructor-result-container #instructor-maincontent_tab {
     width: 99.8%;
}
#page-container .clsContentFull #learner-enrollment { width: 99.4%; }
#page-container .clsContentFull #learner-learningplan { width: 98.5%; }
#page-container .clsContentFull #learner-instructor .block-title-left { width: 99.5%; }
#page-container .clsContentFull #enroll-noresult-msg,
#page-container .clsContentFull #enroll-lp-noresult-msg,
#page-container .clsContentFull #instructor-noresult-msg { width: 99.8% }
#multi-select-class-wrapper .enroll-show-morecourse .fade-out-title-container.tp-view-module-title,
.enroll-show-morecourse .fade-out-title-container.tp-view-module-title {
  max-width:450px;
  display:inline-block;
  margin-bottom:-10px
}
#multi-select-class-wrapper .enroll-show-morecourse .fade-out-title-container.tp-view-course-title,
.enroll-show-morecourse .fade-out-title-container.tp-view-course-title {
  max-width:687px;
  display:inline-block;
  margin-bottom:-8px
}
#multi-select-class-wrapper .enroll-show-morecourse .item-title-code .fade-out-title-container.tp-view-course-code,
.enroll-show-morecourse .item-title-code .fade-out-title-container.tp-view-course-code {
  max-width:240px;
  display:inline-block;
  margin-bottom:-8px
}
#multi-select-class-wrapper .enroll-show-morecourse .fade-out-title-container.tp-view-class-code{
  max-width:240px;
  display:inline-block;
  /* margin-bottom:-8px */
}
.enroll-show-morecourse .fade-out-title-container.tp-view-class-code{
	max-width:200px;
	display:inline-block;
}
.enroll-show-morecourse .course-sub-class-detail .fade-out-title-container.tp-view-class-title {
  max-width:325px;
  display:inline-block;
  margin-bottom:-8px
}
#multi-select-class-wrapper .enroll-show-morecourse .course-sub-class-detail .fade-out-title-container.tp-view-class-title {
  max-width:275px;
  display:inline-block;
  margin-bottom:-8px
}
#multi-select-class-wrapper .enroll-show-morecourse .course-sub-class-detail .fade-out-title-container.tp-view-class-title-new {
	max-width:585px;
}
.enroll-show-morecourse .course-sub-class-detail .fade-out-title-container.tp-view-class-title-new {
  max-width:615px;
}
.lnr-tainingplan-register tbody{
  min-width:735px;
  display:table
}
.location-session-detail tbody{
	min-width:304px
}
.page-administration-learning-program .qtip-error-msg-display .placeholder,
.page-administration-learning-catalog .qtip-error-msg-display .placeholder{
  background:none;
  border:0
}
.page-learning-enrollment-search #div_my_transcript .fadeout-my-transcript-fadeout-container {
  max-width:185px;
  display:inline-block;
  text-indent:1px
}
.page-learning-enrollment-search #div_my_transcript .fadeout-my-transcript-fadeout-container .fade-out-image {
  background: -ms-linear-gradient(to right, transparent, #27245e);/*For IE10*/
  background: linear-gradient(to right,transparent, #27245e);
  height:30px
}
#lnr-tainingplan-register .course-sub-class-detail .location-session-detail #bubble-face-table .qtip-close-button-visible {
  right:7px
}
#lnr-tainingplan-register .sub-course-class .cls-description .sessDate .location-session-detail #bubble-face-table {
  max-width:100%
}
#lnr-tainingplan-register .sub-course-class .cls-description .sessDate .location-session-detail #bubble-face-table td{
  position:relative
}
#lnr-tainingplan-register .course-sub-class-detail .location-session-detail #bubble-face-table #paintContentVisiblePopup,
#lnr-tainingplan-register .sub-course-class .cls-description .sessDate .location-session-detail #bubble-face-table #paintContentVisiblePopup {
  white-space:nowrap
}
#lnr-tainingplan-register .sub-course-class .cls-description .sessName {
  margin-right:2%
}
#lnr-tainingplan-register .sub-course-class .cls-description .sessDate {
  width:48%
}
#lnr-tainingplan-register .enroll-show-morecourse .set-height-column-left + .set-height-column-right {
  width:95%
}
#lnr-tainingplan-register .set-height-column-right .course-desc-info {
  width:99%;
  text-align:justify
}
#lnr-tainingplan-register .set-height-column-right .course-info.item-title-code {
  width:687px
}
#lnr-tainingplan-register .class-details-info .course-sub-class-detail .course-detail-col1-new {
  padding-right:5px
}
#lnr-tainingplan-register .class-details-info .sub-course-class .viewlrn-cls-lbl {
  width:150px;
  float:left;
  color:#333
}
#lnr-tainingplan-register .class-details-info .sub-course-class .viewlrn-cls-lbl-val {
  width:525px;
  float:left;
  text-align:justify;
  color:#333
}
.sub-course-class {
  
}
#lnr-tainingplan-register .class-details-info .class-level {
  width:674px
}
#lnr-tainingplan-register .class-details-info .sub-course-class .cls-description {
  border-bottom:0
}
#lnr-tainingplan-register .class-details-info .sub-course-class .cls-description .cls-lang {
  float:left;
  padding-bottom:5px
}
/* #lnr-tainingplan-register .class-details-info .course-sub-class-detail .course-delivery-info.item-title-code {
  margin-right:22px
} */
#lnr-tainingplan-register .class-details-info .sub-course-class .cls-description .enroll-session-details.viewlrn-cls-lbl {
  font-weight:bold
}
#lnr-tainingplan-register .class-details-info .sub-course-class .cls-description table.enroll-loc-details {
  width:100%
}
#lnr-tainingplan-register .class-details-info .sub-course-class .fade-out-title-container.assignlearn-tp-cls-title {
  max-width:525px
}

/*safari hack Start*/
/*@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
  #lnr-tainingplan-register .class-details-info .course-sub-class-detail table 
  #lnr-tainingplan-register .class-details-info .course-sub-class-detail table tr {
    width:690px
  }
  #lnr-tainingplan-register .class-details-info .sub-course-class .viewlrn-cls-lbl-val {
    width:520px
  }
  #lnr-tainingplan-register .class-details-info .sub-course-class .cls-description table.enroll-loc-details .viewlrn-cls-lbl-val {
    width:515px
  }
}}*/
.lnr-tainingplan-register .content-row-container .content-detail-container .show_more_less, 
.lnr-tainingplan-register .class-content-less .show_more_less, 
.lnr-tainingplan-register  .course-content-more .show_more_less, 
.lnr-tainingplan-register  .course-content-less .show_more_less {
	float:left
}
.course-sub-class-detail .class-content-content-wrapper .show_more_less{
	clear: both;
    color: #2082f6;
    cursor: pointer;
    font-size: 12px;
    float:left;
    text-decoration: none;
    width: auto;
}
#page-container.page--learning--enrollment-search .theme-navigation-menu-bg-middle {
    width: auto;
}
#page-container.page--learning--enrollment-search #block-system-main-menu {
    width: auto;
}
#page-container.page--learning--enrollment-search .theme-navigation-menu-bg-right {
    float: left;
}
#block-exp-sp-administration-announcement-announcement-mylearning,
#block-exp-sp-lnrcalendar-mycalendar-mylearning,
#block-exp-sp-mytranscript-mytranscript-mylearning,
#block-exp-sp-whoisonline-online-users-mylearning{
  float: right;
  margin-top: 0;
}
#page-container #user-preference-settings #manage-dd-list{
  margin-top: 16px;
  right:0;
  box-shadow:0 6px 6px -6px black;
}
#block-exp-sp-lnrcalendar-mycalendar-mylearning.active,
#block-exp-sp-administration-announcement-announcement-mylearning.active,
#block-exp-sp-mytranscript-mytranscript-mylearning.active,
#block-exp-sp-learning-tab-user-customization.active,
#block-exp-sp-whoisonline-online-users-mylearning.active {
  background-color:#d8d8d8;
  height:48px
}
#page-container #block-exp-sp-learning-tab-user-customization.active  #user-preference-settings #manage-dd-list {
	  visibility : visible;
}
#widget #block-exp-sp-learning-tab-user-customization.active  #user-preference-settings #manage-dd-list {
	  visibility : visible;
}
#block-exp-sp-lnrcalendar-mycalendar-mylearning #user-mycalendar-settings .calendaricon{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -420px -1067px;
  width:23px;
  height:23px;
  margin:7px
}
#page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized #enroll-noresult-msg,
#page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized  #enroll-lp-result-container #enroll-lp-noresult-msg{
  margin-top:0;
  padding-top:10px
}
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized .delete-widget,
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized .delete-widget-disabled,
#block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .delete-widget,
#block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .delete-widget-disabled,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized .delete-widget,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized .delete-widget-disabled{
  margin:0;
  width:20px
}
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized #enroll-result-container,
#block-exp-sp-lnrlearningplan-tab-my-learningplan-customized #enroll-lp-result-container,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized #instructor-result-container{
  min-height:20px
}
#block-exp-sp-lnrenrollment-tab-my-enrollment .clsRightNoData,
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized .clsRightNoData,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized .clsRightNoData{
 width:99.5%
}
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized .enroll-bottom-curve .show-more,
#block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .enroll-bottom-curve .show-more,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized .enroll-bottom-curve .show-more {
  padding-top:4px;
  padding-bottom:9px;
  width:940px;
  text-align:center;
  border-right:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
}
#block-exp-sp-lnrenrollment-tab-my-enrollment-customized .enroll-bottom-curve .show-more .show-more-wrapper,
#block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .enroll-bottom-curve .show-more .show-more-wrapper,
#block-exp-sp-instructor-desk-tab-instructor-desk-customized .enroll-bottom-curve .show-more .show-more-wrapper {
  padding:2px 6px;
  border:solid 1px #e5e5e5;
  color:#474747;
  border-radius:6px;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  cursor:pointer;
  text-transform:uppercase	
}
.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.enrollmentshow,
.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.learningplanshow,
.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.learnerinstructorshow {
  left:auto;
  right:-1px;
  border:1px solid #ccc;
  border-top:0
}
#page-container .mylearning-filter-by .checkbox-unselected,
.page-learning-enrollment-search #page-container .block-title .learner-menu .drop-menu-fltr .checkbox-unselected{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat right -1141px;
  width:13px;
  height:13px
}
#page-container .mylearning-filter-by .checkbox-selected,
.page-learning-enrollment-search #page-container .block-title .learner-menu .drop-menu-fltr .checkbox-selected{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat right -1126px;
  width:13px;
  height:13px
}
.page-learning-enrollment-search .block .block-title-middle h2.block-title{
  cursor:move;
  height:39px
}
.cp_seemore, 
.cp_seeless,
.lp_seemore, 
.lp_seeless,
.lp_class_seemore,
.lp_class_seeless {
  font-size:12px;
  color:#2082F6;
  cursor:pointer;  
  width:auto;
  float:left;
  margin-top:7px;
  clear: both
}
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full.clsDisabledButton,
#page-container #enroll-result-container #paintEnrollmentResults .enroll-main-list .enroll-launch-full .enroll-launch.clsDisabledButton,
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch.clsDisabledButton,
#page-container #instructor-result-container #paintInstructorResults .enroll-launch-full .enroll-launch.clsDisabledButton {
  color:#aaa;
  cursor:default
}
.page-learning-enrollment-search #page-container .block-title-left{
  border-top-width:0
}
/* Trunk8 Fadeout for Title and Description texts starts here */
#lnr-tainingplan-register .enroll-show-morecourse .sub-course-class tr td {
  padding-top:0
}

/* Trunk8 Fadeout for Title and Description texts end here */
.sessionDetlbl{
/*   width:70px; */
  float:none;
  clear:both;
  padding-right:7px;
  display:table-cell;
  vertical-align:top;
  white-space:nowrap;
 /*  width:10% */
}
.sessionInstructor-val{
  float:none;
  display:table-cell
}
.cls-sessionTitle-container,
.cls-sessDate-container,
.cls-sessionInstructor-container{
  float:none;
  max-width:100%;
  display:table-row
}
.cls-sessDate-container{
  margin-top:-2px	
}
.cls-sessionInstructor-container{
  margin-top:0
}
.session-details-course-row-innertbl{
  display:table;
  max-width:100%
}
.session-day-date-container{
  display:table-cell;
  padding-bottom:3px
}
#lp-dropmsg-wizard > table,
.page-learning-enrollment-search #dropMsg-wizard > table.dropMsg-table{
  margin: 0 1em;
  width: 95%;
  table-layout:fixed;
  word-wrap:break-word;
}
.page-learning-enrollment-search #dropMsg-wizard > table.dropMsg-table td{
  padding:0
}
#lnr-tainingplan-register .enroll-show-morecourse .sub-course-class tr td {
  padding-top:0
}
#tab_my_enrollment_customized #drop-menu-fltr_myenrollment .menu-label {
    text-transform: none;
}
#tab_my_learningplan_customized #drop-menu-fltr_myprograms .menu-label {
    text-transform: none;
}
#tab_instructor_desk_customized #drop-menu-fltr_myclasses .menu-label {
    text-transform: none;
}
#page-container .limit-desc,
#page-container .item-long-desc,
#page-container .item-short-desc,
#page-container #paintEnrollmentResults .limit-desc-row .limit-desc, 
#page-container #paintEnrollmentLPResults .limit-desc-row .limit-desc {
  line-height:initial
}
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#page-container .mylearning-filter-by .checkbox-unselected,
	#page-container .mylearning-filter-by .checkbox-selected{
	  margin-left:0
	}
	.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.enrollmentshow,
.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.learningplanshow,
.page-learning-enrollment-search #page-container .block-title .learner-sort .enroll-sort-by-container .enroll-sort-bylist ul.sort-by-links.learnerinstructorshow {
  right:-3px
}
 #lnr-tainingplan-register .course-sub-class-detail .location-session-detail #bubble-face-table .qtip-close-button-visible {
  	right:4px
	}  
}

/*safari hack*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
	#lnr-tainingplan-register .enroll-show-morecourse tr td.course-sub-class-detail .course-detail-col2 .location-session-detail .manage-location-time{
    top:-1px
  	}
	#multi-select-class-wrapper .enroll-show-morecourse .item-title-code .fade-out-title-container.tp-view-course-code,
	.enroll-show-morecourse .item-title-code .fade-out-title-container.tp-view-course-code,
	#multi-select-class-wrapper .enroll-show-morecourse .fade-out-title-container.tp-view-class-code,
	.enroll-show-morecourse .fade-out-title-container.tp-view-class-code {
 	margin-bottom:0px
	}
	#lnr-tainingplan-register .enroll-show-morecourse .fade-out-title-container.tp-view-class-code{
	  padding-top:1px
	}
}}	
/*safari hack End*/
