.group-table-heading {
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  width: 90%;
  margin-left:9px
}

#group-detail-wrapper .heading-background-class {
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)";
  border-color: #E5E5E5 #DADADA #E5E5E5 #E5E5E5;
  border-style: solid;
  border-width: 1px 0 0 0;
  height: 25px
}
.heading-background-class-title{
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)";
  border-color: #E5E5E5 #DADADA #E5E5E5 #E5E5E5;
  border-style: solid;
  border-width: 1px 0 0 1px;
  height: 25px
}
#group-detail-wrapper  .group-title-heading{
  color: #666;
  font-family: proximanovabold;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase
}

#group-detail-wrapper .even-list-class {
	background: #F5F5F5
}

#group-detail-wrapper .addedit-form-cancel-container-actions {
  float: right;
  margin-right: 30px;
  position: relative;
  /*top:7px*/ /*Viswanathan commented for #78783*/
}

.check-attributes {
  color: #2D2D2D;
  font-size: 12px;
  padding-left: 15px
}
#group-detail-wrapper .addedit-left-col{
  top:9px
}
div.ctools-modal-content #group-detail-wrapper .checkbox-unselected input{
  cursor: pointer;
  height: 12px;
  margin: 3px 0 0;
  opacity: 0;
  outline: none;
  width: 15px
}
div.ctools-modal-content #group-detail-wrapper .checkbox-selected input{
  cursor: pointer;
  height: 12px;
  margin: 3px 0 0;
  opacity: 0;
  outline: none;
  width: 15px
}
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:570px
}
.fade-out-title-container.admin-config-group-check-attributes-title-fadeout-container{
  max-width:310px
}
#group-detail-wrapper .even-list-class .fade-out-title-container.admin-config-group-check-attributes-title-fadeout-container .fade-out-image{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -60px
}
.page-administration-sitesetup-config #group-detail-wrapper .admin-save-button-container {
  margin-left:10px
}

/* Share */

#share-basic-addedit-form .admin-save-button-container {
    margin-left: 10px;
}


/* Settings for User registration */
#userreg-detail-wrapper .heading-background-class {
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)";
  border-color: #E5E5E5 #DADADA #E5E5E5 #E5E5E5;
  border-style: solid;
  border-width: 1px 1px 0 0;
  height: 25px
}
.page-administration-sitesetup-moduleinfo #modal-content #userreg-detail-wrapper #edit-userreg-save-button.admin-save-button-middle-bg {
  padding:2px 6px;
  margin:0
}
#userreg-detail-wrapper .addedit-left-col {
    padding: 15px 0 15px 8px;
    position: relative;
    width: 102.3%;
}
#userreg-detail-wrapper  .group-title-heading{
  color: #666;
  font-family: proximanovabold;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 14px;
}
#userreg-detail-wrapper .even-list-class {
  background:  #F5F5F5
}

#userreg-detail-wrapper .addedit-form-cancel-container-actions {
  float: right;
  margin-right: 30px;
  position: relative;
  top:7px
}

#userreg-detail-wrapper .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions .admin-save-button-container {
    margin: 0 6px 10px 8px;
}

#userreg-detail-wrapper .addedit-left-col{
  top:9px
}

div.ctools-modal-content #userreg-detail-wrapper .checkbox-unselected input{
  cursor: pointer;
  height: 12px;
  margin: 3px 0 0;
  opacity: 0;
  outline: none;
  width: 15px
}
div.ctools-modal-content #userreg-detail-wrapper .checkbox-selected input{
  cursor: pointer;
  height: 12px;
  margin: 3px 0 0;
  opacity: 0;
  outline: none;
  width: 15px
}

div #message-container {
    margin: 0 -21px !important;
}
#exp-sp-administration-userreg-addedit-form .group-table-heading .multichk.checkbox-selected, 
#exp-sp-administration-userreg-addedit-form .group-table-heading .multichk.checkbox-unselected {
  margin:1px 0 0
}
/* Currency */
#currency-detail-wrapper .currency-table-heading .rowtbody .check-attributes {
	padding-left: 0px
}
#currency-detail-wrapper .currency-table-heading .rowtbody .check-attributes span {
	padding-left: 4px
}
#currency-detail-wrapper .addedit-form-cancel-and-save-actions-row{
   margin-top: 10px;
}
.page-administration-sitesetup-config .theme-ctool-popup .block-footer-right{
  margin-top: -10px;
  float: right;
  right: 1px;
  position: relative
}
#currency-detail-wrapper #qtip_currency_disp_add_currency .admin-currency-save-button-middle-bg{
	background:#27245E;
  	border:1px solid #27245E;
  	border-radius:6px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: ProximaNovaBold,Arial;
    font-size: 12px;
    margin: 0;
    padding:0 10px;
    text-align: center;
    text-transform: uppercase;
    height: 21px;
    line-height: 21px;
}
#currency-detail-wrapper #qtip_currency_disp_add_currency #visible-group-add-currency.admin-currency-save-button-middle-bg {
	border: 0;
	height: 24px;
    line-height: 24px;
}
/* #currency-detail-wrapper #qtip_currency_disp_add_currency .en_vtip_currency{
	height: 25px;
    line-height: 25px;
} */
/* horizontal scroll bar related work*/
.jspHorizontalBar {
  background: none repeat scroll 0 0 none;
  bottom: 0;
  height: 9px;
  left: 9px;
  position: absolute;
  width: 100%
}
.jspVerticalBar *,.jspHorizontalBar * {
  margin: 0;
  padding: 0
}
.jspCap {
  display: none
}
.jspHorizontalBar .jspCap {
  float: left
}

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%
}
.jspHorizontalBar .jspArrow {
  float: left;
  height: 100%;
  width: 16px
}
/* horizontal scroll bar related work*/
.currency-table-heading {
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  margin-left: 9px
}

#currency-detail-wrapper .addedit-form-cancel-container-actions {
  float: right;
  margin-right: 30px;
  position: relative;
  top: 7px
}

#currency-detail-wrapper .pop-addedit-form-cancel-container-actions {
  float: right;
  position: relative;
  top: 7px
}

#currency-detail-wrapper .heading-background-class {
	background:	url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif")	repeat-x 0 -2453px;
	border-color: #E5E5E5 #DADADA #E5E5E5 #E5E5E5;
	border-style: solid;
	border-width: 0 1px 0 0;
	height: 25px
}

#currency-detail-wrapper  .currency-title-heading {
	color: #666;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase
}

#currency-detail-wrapper .even-list-class {
	background: #F5F5F5
}

#currency-detail-wrapper .addedit-form-cancel-container-actions {
	float: right;
	margin-right: 0;
	position: relative;
	top: 7px
}

#currency-detail-wrapper .addedit-left-col {
	top: 9px
}

#admin-add-scroll {
	height: auto;
	max-height: 150px;
	width: 282px;
	border-right: 1px solid #ccc;
}

#admin-add-currecny #currency-td-table {
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
}

.currency-header-tr {
	background: rgba(0, 0, 0, 0)	url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif")	repeat-x scroll 0 -2453px;
	height: 26px;
}

#bubble-face-table #admin-add-currecny .adduser-title-heading,#admin-add-currecny .adduser-title-heading{
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: normal;
	padding-left: 4px;
}

.adduser-title-heading {
	color: #2d2d2d;
	font-family: ProximaNovaBold, Arial;
	font-size: 12px;
	padding-left: 13px;
	text-transform: uppercase;
}

#currency-detail-wrapper .cremove {
	float: left;
	overflow: hidden;
	width: 20px;
}

#currency-detail-wrapper .enable-delete-icon {
	background: rgba(0, 0, 0, 0)	url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png")	no-repeat scroll -362px -183px;
	display: block;
	height: 20px;
	text-indent: -3000px;
	width: 20px;
}

#currency-detail-wrapper .enable-delete-icon.disable-delete-link {
	background: rgba(0, 0, 0, 0)	url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png")		no-repeat scroll -415px -219px;
	cursor: auto;
	display: block;
	height: 20px;
	text-indent: -3000px;
	width: 20px;
}

#admin-add-currecny .currency-muliselect {
	margin-left: 13px;
}

#admin-add-scroll .multichk{
	margin-left: 22px;
}
#currency-detail-wrapper .currency-override-bold{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	text-transform: none;
}
.currency-col-container{
  display:inline-block;
  width:100%
}
.currency-code{
  width:40px;
  display:inline-block
}
.currency-symbol{
  width:40px;
  display:inline-block
}
.currency-name{
  width:135px;
  display:inline-block
}
/* Currency */
#page-container .checkbox-unselected,
.expertusV2PopupContainer .checkbox-unselected,
div.ctools-modal-content .survey-checkbox-unselected,
div.ctools-modal-content .checkbox-unselected,
div.ctools-modal-content #group-detail-wrapper .checkbox-selected{
  margin:0
}
div.ctools-modal-content #admin-add-currecny .checkbox-selected{
  margin-top:0
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #admin-add-currecny .currency-muliselect {
    margin-left: 14px;
  }
div.ctools-modal-content #admin-add-currecny .checkbox-unselected input,
div.ctools-modal-content #admin-add-currecny .checkbox-selected input{
  margin-top:0;
  margin-right:0;
  height:12px
}
.profile-currency-detail-tr-even{
	background-color: #F5F5F5;
}
}
/* End */