.group-table-heading {
   width: 90%;
   margin-left:9px;
}
#group-detail-wrapper .heading-background-class {
   height: 25px;
}
.heading-background-class-title{
   height: 25px;
}
#group-detail-wrapper  .group-title-heading{
   color: #333333;
   font-size: 13px;
   font-weight: bold;
   padding-bottom: 10px;
}
#group-detail-wrapper .even-list-class {
   background:#F5F5F5;
}
#group-detail-wrapper .addedit-form-cancel-container-actions {
   float: right;
   margin-right: 30px;
   position: relative;
   top:7px;
}
.check-attributes {
   color: #2D2D2D;
   font-size: 13px;
   padding-left: 15px;
}
#group-detail-wrapper .addedit-left-col{
   padding: 10px 0 10px 15px;
}
#group-detail-wrapper  .admin-save-button-container {
   margin: 0 4px 12px;
}
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:570px
}
.fade-out-title-container.admin-config-group-check-attributes-title-fadeout-container{
  max-width:310px
}
#group-detail-wrapper .even-list-class .fade-out-title-container.admin-config-group-check-attributes-title-fadeout-container .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -60px
}