/*CONTACT US
---------------------------------------------------------------------------------------*/
.contact-block
{
	display: block;
	padding: 10px;
	border: solid 1px #ccc;
}
.contact-block p
{
	width: 100%;
	padding-top: 10px;
}
.contact-block ul
{
	margin-top: 10px;

}
.contact-block ul li
{
	clear: both;
	padding-top: 5px;
}
.contact-block h2
{
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.4em;
	color: #00479f;
}

.contact-form-intro { }
.contact-form-intro h2{ font-size: 18px; }
.form-item .form-text
{
	height: 20px;
	padding: 0;
}
form tbody {
	border-top: 0px none;
}

/*FREQUENTLY ASKED QUESTIONS
---------------------------------------------------------------------------------------*/
.faq-main-holder{
	border: solid 1px #ccc;
	padding: 10px;
}
.faq-main-holder h2{
	font-size: 1.5em;
	font-weight: bold;
}
.faq-item{
	display: block;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: dotted 1px #ccc;
}
.faq-title{
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom solid 2px #444;
}
.faq-desc{
	display: block;
	padding-top: 10px;
	text-align: justify;
}


/*HEADER CONTAINER*/
.secondary-top-menu-links {
  padding-right: 10px;
}