.h5p-dialog-wrapper .h5p-dialog-inner .h5peditor-label.addanother,
.h5p-dialog-wrapper .go-to-question-container .h5p-dialog-inner .h5peditor-label,
.Blanks-CourPres .h5peditor-label.addanother{
	width: 101px;
}
.h5p-course-presentation .ui-dialog-content span.h5peditor-label.dragMarkHelpText{
	width:103px;
}
.h5p-interactive-video .fill-in-the-blanks-container.h5p-big.h5p-dialog .statements_container label.h5peditor-label-wrapper .h5peditor-text{
	max-width:341px;
	min-width:341px;
}
.h5p-course-presentation .DragText-CourPres.h5p-dialog-no-close.ui-dialog-buttons .h5p-markthewords-editor textarea#formattextbox,
.h5p-course-presentation .MarkTheWords-CourPres.h5p-dialog-no-close.ui-dialog-buttons .h5p-markthewords-editor textarea#formattextbox
{
	min-width:387px;
	max-width:387px;
}
.h5p-course-presentation .Video-CourPres .pre-inner-dialog .form-item-check .customlabeltextVid,
.h5p-course-presentation .Audio-CourPres .pre-inner-dialog .form-item-check .customlabeltextVid {
    margin-left: 5px;
}

/*Video Preview buttons*/
.h5p-interactive-video .h5p-dialog-interaction .h5p-question-buttons button.h5p-question-show-solution, 
.h5p-interactive-video .h5p-video-wrapper .h5p-interaction.h5p-poster .h5p-interaction-inner .h5p-question-buttons button.h5p-question-show-solution,
.h5p-interactive-video .h5p-dialog-interaction .h5p-question-buttons button.h5p-question-try-again,
.h5p-interactive-video .h5p-video-wrapper .h5p-interaction.h5p-poster .h5p-interaction-inner .h5p-question-buttons button.h5p-question-try-again
{
  width: 83px !important;
}