.page-learning-my-account  #page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box{
  margin-left:300px
}
.page-administration-manage-customattribute .bottom-qtip-tip-visible{	
	margin-top: -3px;
}