#div_announcement #gbox_announcement_jqgrid a.activity-remove-link {
  text-decoration:none;
  cursor:pointer;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -458px -415px;
  padding:0;
  height:26px;
  width:26px;
  display:block
}
#div_announcement #announcement_jqgrid .exp-announce-rec {
  border-bottom:1px solid #E5E5E5;
  padding:10px
}
#div_announcement #announcement_jqgrid .exp-announce-last-rec {
  border-bottom:0
}
.user-border-image {
  display:table;
  height:50px;
  width:50px
}
.page-learning-enrollment-search .mylearning-announcement-tab .announcement-content {
  border-left:solid 0 #CDCDCD;
  border-right:solid 0 #CDCDCD;
  background-color:#fff;
  color:#333;
  position:absolute;
  left:95px;
  top:45px
}
#announcement_pager.ui-jqgrid-pager {
  height:auto
}
#announcement_pager .ui-pg-table .ui-pg-table {
  margin:8px 5px 0 0
}
#announcement_list .exp-announce-rec .profile-image {
  float:left;
  margin-right:10px;
  margin-bottom:5px
}
.exp-announce-rec .announcement-profile-desc .user-profile-link {
  display:block;
  position:relative
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .limit-title,
.exp-announce-rec .announcement-profile-desc .announce-shortdescription-list .limit-desc{
  font-size:12px;
  width:229px;
  word-wrap:break-word
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .user-name {
  width:229px;
  display:block
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .activity-remove-link {
  position:absolute;
  right:-3px;
  top:-3px
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .created-date {
  clear:both;
  width:175px;
  display:inline-block;
  font-size:11px;
  color:#777
}
#div_announcement .ui-icon-seek-pgstart,
#div_announcement .ui-icon-seek-prev,
#div_announcement .ui-icon-seek-next,
#div_announcement .ui-icon-seek-pgend {
  border:0;
  float:left;
  height:22px;
  margin-left:0;
  opacity:1;
  padding:0
}
#div_announcement .ui-icon-seek-pgstart {
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -304px -53px;
  width:12px
}
#div_announcement .ui-icon-seek-prev {
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -320px -53px;
  width:14px
}
#div_announcement .ui-icon-seek-next {
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -334px -53px;
  width:12px
}
#div_announcement .ui-icon-seek-pgend {
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -350px -53px;
  width:14px
}
#div_announcement .search-pagination-right .ui-pg-input {
  border:1px solid #2B225A
}
#div_announcement #announcement_pager_left,
#div_announcement #announcement_pager_right,
.exp-announce-rec .announcement-profile-desc .user-profile-link .activity-remove-link span,
#div_announcement .ui-jqgrid-hdiv {
  display:none
}
#div_announcement .ui-state-disabled {
  opacity:1
}
#announcement-basic-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:434px
}
#announcement-basic-addedit-form .admin-announce-frompart,
#announcement-basic-addedit-form .admin-announce-topart {
  float:left
}
#announcement-basic-addedit-form .addedit-form-cancel-container-actions {
  float:right;
  margin-right:20px;
  margin-top:21px;
  position:relative
}
#announcement-basic-addedit-form .addedit-edit-datefield {
  margin-right:10px;
  padding-left:3px
}
#announcement-basic-addedit-form  .narrow-search-filterset-daterange-empty {
  color:#777;
  font-family:openSansLight, Arial;
  font-size:11px;
  font-style:normal;
  text-align:left
}
#announcement-basic-addedit-form  #admin-announcement-data-part-expires .narrow-search-filterset-daterange-empty {
  width:56px;
  height:17px
}
#announcement-basic-addedit-form  .admin-announce-frompart .exp-timepicker-selection {
  margin-left:3px;
  max-height:100px;
  top:auto;
  width:51px
}
#announcement-basic-addedit-form .admin-announce-topart .exp-timepicker-selection {
  margin-left:3px;
  max-height:77px;
  top:auto;
  width:52px
}
#announcement-basic-addedit-form  .addedit-form-cancel-container-actions .catalog-pub-add-list li input {
  border-radius:10px
}
#announcement-basic-addedit-form .addedit-left-col {
  padding:15px 0 11px 16px
}
#two-col-row-to_date_priority .addedit-twocol-firstcol .addedit-new-field-title {
  padding-right:30px;
  text-align:right;
  width:81px
}


#user-announcement-settings .announcementicon {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -443px -1067px;
	margin: 7px;
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    width: 23px;
}
.announce-style-container .addedit-new-field-title {
  width:121px
}
#announcement-basic-addedit-form .addedit-new-field-title {
  width:106px
}
.page-learning-enrollment-search #announcement_list li {
  list-style-type:disc;
  margin-left:15px
}
#announcement_jqgrid .ui-row-ltr td {
  text-align:justify
}
#announcement_jqgrid .ui-row-ltr td .announce-Description {
  text-align:left;
  display:block
}
.announce-Description .item-long-desc p {
  display:inline
}
#page-container .ui-jqgrid #pg_announcement_pager .ui-pg-table td,
#page-container #pg_announcement_pager .search-pagination-right .ui-pg-input {
  color:#474747;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase
}
.announcement-msg {
  display:none;
  color:#777;
  padding:12px 0 5px;
  text-align:center
}
.admin-narrow-search-user img{
  margin:7px
}
.white-btn-bg-middle {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") repeat-x 0 -1384px
}
#announcement-basic-addedit-form .crs-tab-titles-container{ 
  margin-top:0px;
  bottom:10px;
}
.theme-ctool-popup .addedit-new-field-two-col #edit-lang-code,
.theme-ctool-popup .addedit-new-field-two-col #edit-priority{
  height:20px;
  margin-top:-1px
}
.page-administration-manage-announcement .addedit-edit-ac-textfield {
  width:97%
}
.page-administration-manage-announcement #ui-datepicker-div .ui-datepicker-prev:hover{
  margin-left:24px
}
.page-administration-manage-announcement #ui-datepicker-div .ui-datepicker-next:hover{
  margin-left:10px
}
.page-administration-manage-announcement .narrow-search-results-item-details .fade-out-title-container.admin-narrow-search-fadeout-container {
  max-width:415px
}
.page-administration-manage-announcement .narrow-search-results-item-detail .admin-narrow-search-edit-tooltip-code-fadeout-container {
  max-width:350px
}
.page-administration-manage-announcement #viewannounce-detail-wrapper #view-scroll-wrapper .narrow-announce-view-accessname-fadeout-container {
  max-width:430px
}
#div_announcement .paint-announcement-userName-with-screen-name {
  max-width:150px
}
#div_announcement .announcement-userName-with-screen-name {
  max-width:150px
}
.region-sidebar-second #div_announcement .ui-state-hover .fade-out-title-container .fade-out-image,
.region-sidebar-second #div_announcement .ui-state-hover.ui-state-highlight .fade-out-title-container .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0; 
}
.page-administration-manage-announcement #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-manage-announcement #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}

.page-administration-manage-announcement #announcement-basic-addedit-form .admin-save-pub-unpub-button-container {
  margin-top:1px;
  padding-left:10px
}
.page-administration-manage-announcement #announcement-basic-addedit-form .addedit-edit-announcement-basic-cancel {
  padding:3px 6px 3px;
  margin-top:1px
}
.page-administration-manage-announcement #announcement-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-left-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:6px 0 0 6px;
  width:6px;
  height:22px;
  float:left;
}
.page-administration-manage-announcement #announcement-basic-addedit-form .admin-save-pub-unpub-button-container .admin-save-button-right-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:0 6px 6px 0;
  width:6px;
  height:22px;
  float:left;  
}
.page-administration-manage-announcement #announcement-basic-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish {
  border-radius:0;
  padding:3px 0
}
.page-administration-manage-announcement #announcement-basic-addedit-form .admin-save-pub-unpub-button-container .pub-unbpub-more-btn {
  border-radius:0 6px 6px 0;
  float:left;
  height:22px;
  width:15px;
  cursor:pointer;
  display:block; 
  margin-top:0
}
.page-administration-manage #ctools-face-table .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
  background-position: -107px -622px
}
#page-container .announce-Description .item-long-desc{
  padding-right:0
}
.page-learning-enrollment-search .mylearning-announcement-customization{
	margin-top: 0px
}
	
#announcement_new.mylearning-announcement-tab{
	z-index: 1001
}
#announcement_new{
	background: #fff none repeat scroll 0 0;
    float: left;
    /* height: 200px; */
    margin: 0;
    padding: 0;
    width: 886px;
    height:128px;
    position:relative;
    right: -30px;
    margin-top: 10px
}
#announcement_new .announce-list{
	background : #fff none repeat scroll 0 0;
	margin: 0px;
	width: 97.1%;
	float: left;
	color: black
}
#announcement_new ul{
	float: left
}

	

#announcement_new .announce-list-li{
	color: #474747;
    font-family: ProximaNovaBold,Arial;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    height: 100px;
	width: 240px;
	float : left
	
}
#announcement_new .each-item-li{
	color : blue;
	width: 240px
}

#announcement_new.announcement_list_name{
    color: #474747;
    font-family: ProximaNovaBold,Arial;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    height: 25px
}
#announcement_new.announcement_list_date{
  clear:both;
  width:175px;
  display:inline-block;
  font-size:12px;
  color:#777;
  height: 25px;
}
#announcement_new.announcement_list_description{
  width:175px;
  display:inline-block;
  font-size:12px;
  color: #474747;
  height: 25px
  font-family: ProximaNovaBold,Arial;
}
/* carousel related css start*/
#announcement_new .jcarousel-container {
}

#announcement_new .jcarousel-container-horizontal {
    width: 960px;
}
#announcement_new.jcarousel-item {
	width: 150px;
	margin: 1px;
	height: 144px
}
#announcement_new .jcarousel-item:hover {
    border-color:transperant;
}
 #announcement_new .jcarousel-item-horizontal {
	margin: 0 10px;
} 
/**
 *  Horizontal Buttons
 */

#announcement_new .jcarousel-next-horizontal {
    position: absolute;
    top: 35px;
    right: 1px;
    width: 18px;
    height: 30px;
    cursor: pointer;
    /* border:1px solid #ebebeb;
    border-radius:3px 0 0 3px; */
    background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -454px -1032px;
    z-index: 1005;
}

#announcement_new .jcarousel-next-horizontal:hover {
    background-position:-454px -1032px
}

#announcement_new .jcarousel-next-horizontal:active {
    background-position:-454px -1032px
}

#announcement_new .jcarousel-next-disabled-horizontal,
#announcement_new .jcarousel-next-disabled-horizontal:hover,
#announcement_new .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -454px -1032px;
    opacity: 0
}

#announcement_new .jcarousel-prev-horizontal {
    position: absolute;
    top: 35px;
    left: 1px;
    width: 18px;
    height: 30px;
    cursor: pointer;
    /* border:1px solid #ebebeb;
    border-radius:0 3px 3px 0; */
    background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -440px -1032px;
    z-index: 1005;
}
#announcement_new .jcarousel-prev-horizontal:hover {
    background-position: --440px -1032px;
}
#announcement_new .jcarousel-prev-horizontal:active {
    background-position: -440px -1032px;
}
#announcement_new .jcarousel-prev-disabled-horizontal,
#announcement_new .jcarousel-prev-disabled-horizontal:hover,
#announcement_new .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -440px -1032px;
    opacity: 0
}

#announcement_new .jcarousel-pagination :hover{
	position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0;
    margin-left: -22px
	
}

#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .jcarousel-control {
    position: relative;
    /* bottom: 10px;
    left: 50%;
    margin: 0;
    margin-left: -22px; */
    margin: 0 auto;
	display: inline-block;
	max-width:810px;
	margin-top: 2px;	
}
#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .jcarousel-control-wrapper {
	text-align: center;
	margin-top:-4px;
}
#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .jcarousel-control a{
	text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 9px;
    max-width: 33px;
    min-width:7px;
    line-height: 10px;
    background: blue;
    color: #1a1a1a;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 2px;
    margin-left: 2px;
	background: #e5e5e5;
/*     -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C; */
	
}
#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .jcarousel-control a.active{
  background: #27245e
}
#announcement_new p{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#announcement_new .jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
#block-exp-sp-administration-announcement-announcement-mylearning a.profile-image.user-list-border-img {
	float: left;
	display: block;
	height:33px;
	width:33px
}
#block-exp-sp-administration-announcement-announcement-mylearning .announcement-profile-desc {
	float: left;
	margin-left: 8px;
	width: 229px;
}
#block-exp-sp-administration-announcement-announcement-mylearning .exp-announce-rec .announcement-profile-desc .user-profile-link .user-name {
  color: #474747;
  font-family: ProximaNovaBold,Arial;
  font-size: 12px;
  text-transform: uppercase
}
/* carousel related css end*/
/* #block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .jcarousel-control a{
    height: 6px;
    background: #e5e5e5;
} */
#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .announce-Description,
#block-exp-sp-administration-announcement-announcement-mylearning #announcement_new .created-date {
    float: left;
/* 	margin-top: 5px; */
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container-horizontal {
    /* width: 245px; */
    /* padding: 20px 40px; */
	max-width: 886px;
	padding:20px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-clip-horizontal {
/*     width:  245px;
    height: 75px; */
	max-width: 885px;
    /* margin: 24px; */
  /*  height: 130px; */
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-item {
	width: 285px;
 	height: 130px; 
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    /* top: 43px; */
	top: 70px;
    right: 5px;
    /* width: 32px;
    height: 32px; */
	width: 20px;
    height: 28px;
   /* cursor: pointer;*/
    display: none;
   
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
  /*  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat ;*/
}
#block-exp-sp-administration-announcement-announcement-mylearning .mylearning-announcement-tab {
  position: absolute;
  max-width: 931px;
  margin-top: 37px;
  right: 0;
  height: 145px;
  display: block; 
}
/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
} */

/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
} */

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    /* top: 43px; */
	top: 70px;
    left: 5px;
    /* width: 32px;
    height: 32px; */
	width: 20px;
    height: 28px;
    /*cursor: pointer;*/
    /* background: transparent url(prev-horizontal.png) no-repeat 0 0; */
	/*background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -356px -1020px;*/
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
   /* background-image: url(next-horizontal.png);*/
}

/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
} */

/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
} */

/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
} */

/**
 *  Vertical Buttons
 */
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

/* #block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-vertical:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-vertical,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
	cursor: default;
    background-position: 0 -96px;
} */

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-vertical:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container {
	/* -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
	/* background: #F0F6F9; */
	border: 1px solid #CECECE;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}

#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container .jcarousel-control-newer,
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container .jcarousel-control-older {
    color: #898989;
	font-family: openSansRegular, Arial;
    float: left;
	font-size:12px;
	line-height:20px
}
#block-exp-sp-administration-announcement-announcement-mylearning .jcarousel-skin-tango .jcarousel-container .jcarousel-control-older {
	float: right;
}
#block-exp-sp-administration-announcement-announcement-mylearning .profile-item .profile-image img {
	margin: 3px;
}
.announce-shortdescription-list.limit-desc-row #arrow-more{
  display:none
}
/* Styles for misalignment of text rows in Narrow Search Page starts here */
#page-container #div_announcement #announcement_jqgrid .exp-announce-rec {
  padding:15px 10px
}
#page-container #div_announcement .announcement-profile-desc .user-name.user-profile {
  padding-bottom:0
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .created-date {
/*   position:absolute;
  top:12px;
  left:65px; */
  color:#999
}
#page-container #div_announcement .fade-out-title-container.announcement-userName-with-screen-name {
  margin-bottom:17px;
  line-height:17px;
  margin-top:0
}
#page-container #div_announcement .fade-out-title-container.announcement-userName-with-screen-name .title-lengthy-text {
  line-height:14px;
  float:left
}
#page-container #div_announcement #announcement_pager .ui-pg-table .ui-pg-table {
  margin-top:0
}
/* Styles for misalignment of text rows in Narrow Search Page ends here */
/* Trunk8 Fadeout for Title and Description texts starts here */
#page-container #div_announcement .announcement-profile-desc  {
  margin-top:-3px;
  float:left;
  width:175px
}
#page-container #div_announcement .announcement-profile-desc .limit-title-row {
  max-width:150px;
  min-width:150px
}
#page-container #div_announcement .announcement-profile-desc .limit-title-row .limit-title {
  line-height:15px;
  word-wrap:break-word;
  display:block
}
#page-container #div_announcement .announcement-profile-desc .limit-desc-row {
  clear:both
}
.page-administration-manage-announcement #page-container tr.ui-widget-content > td > div.narrow-search-results-item-details > div:first-child span .limit-title-row .limit-title,
.page-administration-manage-announcement #page-container tr.ui-widget-content > td > div.narrow-search-results-item-details > div:first-child span .limit-title-row a.narrow-search-results-item-title{
  max-width:438px
}
/* Trunk8 Fadeout for Title and Description texts end here */

/* Tag Cloud Changes start*/
.announce-fulldescription-list {
   max-width:500px;
   min-height:115px;
   max-height : 300px;
   border-radius:3px;
   overflow: auto;
   background: #fff;
   position:absolute;
   font-family: Arial,Helvetica,sans-serif;
   display:none;
   z-index:10000;
   border:1px solid #ccc;
   box-shadow: 0 0 3px rgba(0,0,0,.3);
   border-radius:3px;
   color:#2d2d2d
}
.announce-shortdescription-list {
    display:block;
    overflow-y:visible
}
.announce-shortdescription-list:hover + #announce-fulldescription-list {
    display:block;
}
#announce-fulldescription-list:hover {
    display:block;
}
.announce-fulldescription-list .jspVerticalBar {
	right:-3px
}
.selectedtag {
	text-decoration : underline;
}
.hovertag {
	cursor:pointer
}
.textfade{
	opacity : 0.6
}
.textfade1{
	opacity : 0.25
}
#tags_cloud {
    height: auto;
    min-height: 100px;
}
#announcement-msg {
  display:none;
  color:#777;
  padding:12px 0 5px;
  text-align:center;
  font-family:openSansRegular, Arial;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  box-shadow: 0 6px 6px -6px black;
  max-height: 200px;
  min-height: 10px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 250px;
  z-index: 10000;
}
#no_announcement_msg {
  display:none;
  color:#777;
  padding:12px 0 5px;
  text-align:center;
  font-family:openSansRegular, Arial;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  box-shadow: 0 6px 6px -6px black;
  max-height: 200px;
  min-height: 10px;
  padding: 7px;
  position: absolute;
  right: 0px;
  top: 48px;
  width: auto;
  z-index: 1005; /* Changed by ganeshbabuv from 10000 to 1005 fro #0078448 */
  min-width:200px
}
#announcement-notification{
	display:block;
	color:white;
	border-radius: 40px;
	width: 16px;
	height: 16px;
	background: #fa6666;
	text-align:center;
	font-size: 1em;
	position: absolute;
	top: 1px;
	right: 4px;
	font-size: 9px;
}
/* Tag Cloud Changes end*/
