#div_announcement #gbox_announcement_jqgrid a.activity-remove-link {
  text-decoration:none;
  cursor:pointer;	
  padding:3px 0 3px 23px;
  height:26px;
  width:20px;
  display:inline;	
  font-size:11px;
  color:#FF7924
}
#div_announcement #announcement_jqgrid .exp-announce-rec{
  border-bottom:1px solid #E5E5E5;
  padding:10px
}
#div_announcement #announcement_jqgrid .exp-announce-last-rec{
  border-bottom:0
}
#div_announcement .ui-jqgrid-hdiv{
  display:none
}
.user-border-image{
  display:table;
  height:50px;
  width:50px
}
#announcement_pager.ui-jqgrid-pager {
  height:auto
}
#announcement_pager .ui-pg-table .ui-pg-table {
  margin:8px 0 0;
  white-space: nowrap
}
#announcement_list .exp-announce-rec .profile-image {
  float:left;
  margin-right:10px;
  margin-bottom:5px
}
.exp-announce-rec .announcement-profile-desc .user-profile-link {
  display:block;
  position:relative
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .user-name {
  width:155px
}
.exp-announce-rec .announcement-profile-desc .user-profile-link .created-date {
  clear:both;
  width:210px;
  display:inline-block;
  color:#999;
  padding-bottom:5px;
  font-size:11px
}
#div_announcement #first_announcement_pager {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -253px;
  border:0;
  height:18px;
  opacity:8;
  width:26px;
  filter:Alpha(Opacity=100)
}
#div_announcement #prev_announcement_pager {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -91px -302px;
  border:0;
  height:18px;
  opacity:8;
  width:26px;
  filter:Alpha(Opacity=100)
}
#div_announcement #next_announcement_pager {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -126px -302px;
  border:0;
  height:18px;
  opacity:8;
  padding-right:2px;
  width:28px;
  filter:Alpha(Opacity=100)
}
#div_announcement .search-pagination-right {
  padding:0 8px 0 2px;	
  line-height:24px
}
#div_announcement #last_announcement_pager {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -302px;
  border:0;
  height:18px;
  opacity:8;
  padding-right:8px;
  width:22px;
  filter:Alpha(Opacity=100)
}
#div_announcement .ui-state-disabled {
  opacity:1
}
#div_announcement #announcement_pager_left,
#div_announcement #announcement_pager_right {
  display:none	
}
#announcement-basic-addedit-form .admin-announce-frompart,
#announcement-basic-addedit-form .admin-announce-topart {
  float:left
}
#announcement-basic-addedit-form .form-type-textarea textarea.addedit-edit-textarea {
  max-width:394px;
  min-width:394px;
  min-height:140px;
  max-height:140px
}
#announcement-basic-addedit-form #two-col-row-from_date_lang_code input.addedit-edit-datefield + img {
  cursor:pointer;
  left:102px;
  position:absolute;
  top:4px
}
#announcement-basic-addedit-form  .admin-announce-frompart .exp-timepicker-selection {
  max-height:112px;
  top:192px;
  width:57px
}
#announcement-basic-addedit-form .admin-announce-topart .exp-timepicker-selection {
  max-height:82px;
  top:221px;
  width:46px 
}
#announcement-basic-addedit-form  .addedit-edit-datefield { 
  font-size:13px;
  font-style:normal;
  padding-left:3px;
  text-align:left;
  margin-right:5px;
  width:113px
}
#announcement-basic-addedit-form .addedit-form-cancel-container-actions {
  float:right;
  margin-right:23px;
  margin-top:21px;
  position:relative
}
#div_announcement .my-transcript-inner .ui-state-highlight a, 
#div_announcement .my-transcript-inner .ui-widget-content .ui-state-highlight a {
  color:#4687DD
}
#two-col-row-from_date_lang_code {
  width:549px
}
#two-col-row-from_date_lang_code .addedit-edit-datefield {
  width:114px
}
#announcement-basic-addedit-form input.addedit-edit-datefield + img {
  cursor:pointer;
  left:102px;
  position:absolute;
  top:4px
}
#announcement-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  height:24px
}
#modalContent #announcement-basic-addedit-form .addedit-new-field-title{
  width:117px
}
#announcement-basic-addedit-form #admin-announcement-data-part-expires input{
  font-size:11px;
  font-style:normal
}
#announcement-basic-addedit-form #two-col-row-to_date_priority .addedit-twocol-firstcol .addedit-new-field-title{
  margin-right:-23px
}
#two-col-row-from_date_lang_code .addedit-twocol-secondcol .addedit-new-field-title {
  margin-right:-39px;
  padding-right:0;
  text-align:left
}
#two-col-row-to_date_priority .addedit-twocol-secondcol .addedit-new-field-title{
  margin-right:-54px;
  padding-right:0;
  text-align:left
}
#two-col-row-from_date_lang_code .addedit-twocol-secondcol .addedit-secondcol-field-value, #two-col-row-to_date_priority .addedit-twocol-secondcol .addedit-secondcol-field-value,#announcement-basic-addedit-form .addedit-form-cancel-container-actions{
  margin-right:31px
}
#announcement-basic-addedit-form .addedit-new-datefield-value .narrow-search-filterset-daterange-empty{
  font-size:11px
}
#two-col-row-to_date_priority .addedit-twocol-firstcol .addedit-new-field-title {
  text-align:center;
  width:130px;
  margin-left:24px
}
.announcement-msg {
  display:none;
  color:#999;
  padding:12px 0 5px;
  text-align:center
}
.page-administration-manage-announcement .narrow-search-results-item-details .fade-out-title-container.admin-narrow-search-fadeout-container {
  max-width:415px
}
.page-administration-manage-announcement .narrow-search-results-item-detail .admin-narrow-search-edit-tooltip-code-fadeout-container {
  max-width:350px
}
.page-administration-manage-announcement #viewannounce-detail-wrapper #view-scroll-wrapper .narrow-announce-view-accessname-fadeout-container {
  max-width:420px
}
#div_announcement .paint-announcement-userName-with-screen-name {
  max-width:150px
}
/*! Chrome Hacks*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   #div_announcement #gbox_announcement_jqgrid a.activity-remove-link { 
      padding:3px 0 3px 18px
	}
	.exp-announce-rec .announcement-profile-desc .user-profile-link .created-date {
	  width:200px
	}
}

