.question-wrapper-clear {
  clear:both
}
#catalog-survey-assesment-basic-addedit-form {
  float:none
}
.edit-group-question-list {
  border-bottom:1px solid #ccc;
  float:left;
  font-size:12px;
  margin:0;
  padding:0 0 10px 13px;
  width:98.3%
}
#exp-sp-administration-survey-assessment-addedit-form .admin-tab-list-row {
  border-bottom:1px dotted #ccc;
  width:97.5%
}
#catalog-survey-assesment-basic-addedit-form .form-item-survey-title input.addedit-edit-textfield {
  width:403px
}
#edit-survey-code {
  width:140px
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown{
  width:146px
}
#edit-survey-qust-per-page, #edit-min-marks{
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field {
  width:107%
}
#catalog-survey-assesment-basic-addedit-form .addedit-cfield-wrapper .addedit-new-field {
  width:auto;
  clear:none
}
.multisearch-basic-addedit-form-container {
  width:625px;
  float:left;
  background:#f9f9f9;
  border:1px solid #ccc;
  padding:25px 5px 5px 15px;
  -moz-border-radius:4px;
  min-height:320px;
  margin:14px 23px 16px 24px
}
#catalog-survey-assesment-basic-addedit-form #min_max_mark_container {
  width:97%
}
#min_max_mark_container #min_max_mark_container_load #two-col-row-min_marks_disp{
  width:100%
}
#catalog-survey-assesment-basic-addedit-form .addedit-course-field-title .form-item label,
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-title {
  float:left;
  word-wrap:break-word
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-value {
  float:left
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-firstcol {
  width:60.5%
}
#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value,
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol {
  width:32%;
  float:left
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:62%
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value {
  width:38%
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-survey_qust_per_page {

}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-min_marks {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value .addedit-edit-max_marks {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-container-actions,
#exp-sp-administration-group-question-edit-form .addedit-form-cancel-container-actions {
  height:25px;
  margin-right:14px
}
#catalog-survey-question-group-form-details .add-class-button {
  margin-right:13px;
  position:absolute;
  right:0;
  top:-27px
}
#catalog-survey-question-group-form-details {
  position:relative
}
#catalog-survey-question-group-form-details .survey_question-details-row {
  padding:0 0 0 11px;
  width:98%
}
#catalog-survey-question-group-form-details .survey_question-details-row table {
  width:100%
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col {
  float:left
}
#exp-sp-administration-group-question-edit-form {
  border-bottom:1px solid #ccc
}
#question-wrapper-container .form-item label {
  color:#333;
  font-size:13px;
  font-weight:normal;
  width:98px
}
#question-wrapper-container table tr td .form-item {
  margin-top:25px;
  height:25px;
  line-height:25px
}
.input-field-grey {
  color:#ccc
}
#catalog-survey-question-addedit-form-details .addedit-edit-ac-textfield {
  width:100%
}
#survey_question-fieldset-autocomplete-wrapper-survey_question_fld {
  width:250px
}
#form-item-survey-question-name-survey-question-fld .form-item-survey-question-name-survey-question-fld {
  width:300px
}
#admin-button-middle-bg .admin-button-middle-bg {

}
.admin-delete-button-container {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat;
  border:0;
  color:#FFF;
  float:left;
  font-size:12px;
  font-weight:bold;
  height:22px;
  padding:2px 11px 8px 23px
}
#catalog-survey-assesment-basic-addedit-form .narrow-search-results-item-title {
  width:568px
}
.admin-delete-button-container {
  padding:21px 0 0 8px
}
.custom-attr-dropdown-cls {
  marging-left:50px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .ui-jqgrid {
  margin:auto
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .display-pointer {
  cursor:pointer
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .ui-jqgrid-view .ui-jqgrid-hdiv {
  margin-top:10px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .admin_add_multi_search_container {
  left:16px;
  top:19px
}
#two-col-row-lang_status .form-item-survey-language .addedit-edit-survey_language,
#two-col-row-lang_status .form-item-survey-status .addedit-edit-survey_status,
#two-col-row-question_per_page .form-item-survey-type .addedit-edit-survey_type {
  width:124px
}
#exp-sp-administration-survey-assessment-addedit-form .admin-course-add-attachment{
  padding:15px 0 15px 204px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .label-group-name {
  padding-left:80px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid #attach_btngrid .admin-save-button-container {
  margin:1px 7px 14px 12px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .admin-save-button-container {
  margin:1px 13px 14px 12px
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col .collapsible .fieldset-wrapper {
  margin-left:204px
}
#catalog-survey-assesment-basic-addedit-form .admin-custom-required-col2-dropdown {
  width:35%
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-new-field-title-custom {
  width:223px
}
#catalog-survey-assesment-basic-addedit-form .admin-custom-required-col1-dropdown {
  width:39%
}
#exp-sp-administration-survey-assessment-addedit-form .admin-delete-img {
  padding-left:0
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid #attach_btn_grid .admin-save-button-container {
  margin:1px 7px 14px 12px
}
#admin-data-grid .error {
  border:2px solid red;
  display:block
}
.custom-details-row admin-text-field-column, .add-more-custom admin-add-more-field-column {
  margin-left:8px
}
.addedit-new-field-title-custom {
  width:210px
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-new-field-title-custom {
  width:203px
}
#catalog-survey-assesment-basic-addedit-form #attach-question-autocomplete .addedit-edit-attach-question-autocomplete {
  color:#333;
  font-style:normal
}
.input-field-grey {
 color:#ccc;
 font-style:normal
}
#exp-sp-administration-survey-assessment-addedit-form .admin-custom-required-col2-dropdown .form-type-textfield {
  width:100%
	}
#exp-sp-administration-survey-assessment-addedit-form #two-col-row-lang_status .addedit-edit-textfield {

}
#exp-sp-administration-survey-assesment-question-form .ac_input {
  width:148px
}
#exp-sp-administration-survey-assesment-question-form .form-item-attach-question-autocomplete #attach-question-autocomplete {
  width:242px
}
#exp-sp-administration-survey-assessment-addedit-form .form-item-survey-qust-per-page .addedit-edit-survey_qust_per_page {
  width:42px
	}
#catalog-survey-assesment-basic-addedit-form .addedit-edit-survey_qust_per_page,
#catalog-survey-assesment-basic-addedit-form .addedit-edit-survey_qust_per_page .addedit-edit-textfield form-text {
  width:40px
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-edit-min_marks .addedit-edit-textfield form-text {
  width:60px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  margin-left:-109px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
  margin-top:5px;
  width:98.4%
}
#catalog-survey-assesment-basic-addedit-form .addedit-addl-form-title {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") repeat-x right -38px;
  border-bottom:1px solid #ccc;
  clear:both;
  font-size:14px;
  font-weight:normal;
  height:31px;
  line-height:31px;
  margin:0;
  padding:0 0 1px 15px;
  width:98.6%
}
#catalog-survey-assesment-basic-addedit-form #quesper_min_max{
  position:relative;
  top:-2px;
 }
#catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-course-field-title .form-item label {
  color:#000;
  padding-right: 3px
}
#wizard-course-form-wrapper div.two-column-container-view label {
  float:left;
  font-size:12px;
  font-weight:normal;
  width:154px;
  font-family:ProximaNovaBold, Arial
}
#survey_attach_questions_dt .add-attachquestion-button {
  margin-right:9px;
  margin-top:-34px
}
.attachedquestion-edit-txtbox {
  border:1px dashed #4686DD;
  color:#333;
  font-size:13px;
  font-weight:normal;
  text-decoration:none;
  height:25px
}
#survey_attach_questions_dt ul {
  padding:0;
  margin:0
}
#survey_attach_questions_dt ul {
  list-style-type:none
}
#survey_attach_questions_dt .edit-attachquestion-list{
  border-bottom:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
  border-right:1px solid #E5E5E5;
  font-size:13px;
  margin:0 12px 0 15px
}
#survey-attach-question-addedit-form-details {
  padding-top:10px
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container div.admin_add_multi_auto_search {
  width:203px
}
.attachquestion-table-heading {
  width:566px;
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)";
  height:26px;
  border:1px solid #E5E5E5;
  border-width:1px 0
}
#survey_attach_questions_dt .attached-question-score {
  border:1px solid #999;
  height:13px
}
#survey_attach_questions_dt .addedit-survey-question-list{
  width:566px
}
#survey_attach_questions_dt .attachedquestion-list-name {
  color:#000;
  font-size:12px;
  text-decoration:none
}
.page-administration-survey-surveydetails #survey_attach_questions_dt .addedit-survey-question-list .attach-question-title {
  width:230px
}
.page-administration-survey-surveydetails #survey_attach_questions_dt .addedit-survey-question-list .attach-question-group-name .addedit-attachedquestion_list input {
  color:#000;
  font-size:12px;
  text-decoration:none;
  height:18px
}
#survey_attach_questions_dt .attachedquestion-list-name-italic{
  color:#666;
  font-size:12px;
  font-style:italic;
  text-decoration:none
}
#survey_attach_questions_dt .attach-question-delete {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat 0 0;
  cursor:pointer;
  text-align:center;
  margin-left:18px;
  margin-top:10px
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left
}
#catalog-survey-assesment-basic-addedit-form  .addedit-form-class-button {
  border:0;
  outline:none;
  margin:10px 14px 0 0;
  cursor:pointer
}
#catalog-survey-assesment-basic-addedit-form .genere-title {
  width:63%;
  float:left
}
#attach-question-mandatory-list .man-opt ul.sub-menu {
  background:#FFF;
  border-left:1px solid #EBEBEB;
  border-right:1px solid #EBEBEB;
  border-bottom:1px solid #EBEBEB;
  border-radius:0 0 10px 10px;
  display:none;
  position:absolute;
  z-index:1;
  left:-10px
}
#attach-question-mandatory-list .man-opt ul.sub-menu li{
  border-top:1px solid #EBEBEB;
  color:#474747;
  cursor:pointer;
  font-family:ProximaNovaBold, Arial;
  font-size:11px;
  padding:5px;
  text-align:center;
  text-transform:uppercase;
  width:72px
}
#attach-question-mandatory-list ul {
  padding:0;
  margin:0
}
#attach-question-mandatory-list li {
  float:right;
  list-style-type:none;
  padding:5px 3px;
  margin:0;
  text-align:left;
  cursor:default
}
.selected-list {
  background-color:#ccc
}
#attach-question-mandatory-list .man-opt ul {
  list-style-type:none
}
#attach-question-mandatory-list .man-opt li {
  position:relative;
  text-align:right;
  font-size:12px
}
#attach-question-mandatory-list .man-opt-selection{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1491px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  text-decoration:none;
  width:10px;
  margin-left:2px;
  cursor:pointer
}
.attach-question-grp-title-note {
  color:#666;
  font:10px helvetica neue,helvetica,arial;
  text-transform:none
}
.disable-publish-link{
  color:#999;
  cursor:default
}
#view-survey-attachquestion-list-wrapper .dragndrop-selectable-item {
  cursor:move
}
#catalog-survey-assesment-basic-addedit-form .edit-catalog-course-save-publish {
  padding-right:2px
	}
#view-survey-attachquestion-list-wrapper {
  clear:both
}
.attach-question-valid-txt {
  color:#666;
  font:italic normal 11px helvetica neue,helvetica,arial;
  padding-left:16px
}
#survey_attach_questions_dt .admin-surass-auto-search-container {
  left:1px;
  margin:-35px 0 0 175px;
  position:absolute;
  z-index:100000;
  width:269px
}
.admin_add_multi_surass_auto_search {
  background:#FFF;
  left:0;
  margin:-14px 0 0;
  top:0;
  z-index:1000
  }
.admin_add_multi_surass_auto_search .ac_input {
  border:none;
  float:left;
  height:23px;
  margin:0;
  padding:0 18px 0 3px;
  margin:-11px 0 0 -3px;
  width:138px;
  line-height:20px;
  position:absolute
}
.admin-surass-auto-search-container .admin-pagination-surass-search-go {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -482px -20px #FFF;
  border-color:#e5e5e5;
  border-style:solid;
  border-width:1px 0;
  cursor:pointer;
  display:inline-block;
  float:left;
  height:25px;
  margin-left:-15px;
  outline:none;
  padding:0;
  position:absolute;
  width:16px
}
#survey_attach_questions_dt input.admin_ac_tp_txt_mainform.ac_loading {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -16px #FFF
}
#survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  background-color:#FFF;
  background-position:0 -127px;
  border:0;
  border-bottom:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  margin-top:0;
  border-radius:0;
  position:relative;
  width:148px;
  height:23px
}
#survey_attach_questions_dt #search-list-surass-title-keyword ul {
  background:#FFF;
  border:1px solid #EBEBEB;
  border-radius:0 0 10px 10px;
  list-style-type:none;
  padding:0;
  width:72px
}
#survey_attach_questions_dt  #search-dropdwn-list-surass{
  width:77px;
  height:23px;
  display:block;
  float:left
}
#survey_attach_questions_dt .select-list-dropdown-surass {
  background:none;
  border:0;
  color:#474747;
  float:left;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  height:20px;
  line-height:20px;
  padding:2px 2px 5px 1px;
  text-align:right;
  text-transform:uppercase;
  width:55px
}
#survey_attach_questions_dt .select-list-surass-dropdown-link {
  text-decoration:none;
  width:20px;
  height:20px;
  float:left;
  cursor:pointer;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -256px;
  margin:-24px 0 0 56px
}
#survey_attach_questions_dt  #select-list-surass-dropdown-list, #select-list-surass-dropdown-list-tag {
  display:none;
  position:absolute;
  top:20px;
  left:2px;
  z-index:100
}
#survey_attach_questions_dt  #select-list-surass-dropdown-list  li, #select-list-surass-dropdown-list-tag li{
  border-bottom:1px solid #EBEBEB;
  color:#474747;
  cursor:pointer;
  font-family:ProximaNovaBold, Arial;
  font-size:11px;
  padding:5px;
  text-align:center;
  text-transform:uppercase
}
#survey_attach_questions_dt .catalog-pub-add-list li, .catalog-pub-add-list-move li {
  text-align:right
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-two-col .addedit-edit-min_marks {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .expertus-dropdown-bg {
  width:143px
}
#catalog-survey-assesment-basic-addedit-form .expertus-dropdown-icon {
  width:100%
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-dropdown {
  width:160px;
/*   height:17px */
}
#catalog-survey-assesment-basic-addedit-form .admin-class-auto-search-container {
  background:#FFF;
  left:0;
  margin:-11px 0 0;
  top:0;
  z-index:1000
}
#catalog-survey-assesment-basic-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:407px
}
#view-survey-attachquestion-list-wrapper .edit-attachquestion-list .form-item,
#view-survey-attachquestion-list-wrapper .edit-attachquestion-list .form-actions {
  margin-bottom:6px;
  margin-top:6px
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-course-field-title .addedit-new-field-value {
  width:62%;
  word-break:break-all
}
#view-survey-attachquestion-list-wrapper .nonlist {
  padding-top:10px
}
#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr:hover {
  background:none
}
.page-administration-assessment div.ctools-modal-content .theme-ctool-popup .modal-title,
.page-administration-survey div.ctools-modal-content .theme-ctool-popup .modal-title {
  padding:0
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-custom-field .addedit-new-field-value textarea.addedit-edit-textarea {
 min-width:410px
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col table.addedit-cfield-delbtn-wrapper {
  min-width:400px
}
#admin-add-questions-survey-assessment .addedit-edit-custom-label-field {
  margin-top:-3px
}
#catalog-survey-assesment-basic-addedit-form .addedit-customfields-wrapper .addedit-new-field-title {
  margin-right:-3px
}
.page-administration-assessment .addedit-addl-form-title-text,
.page-administration-survey .addedit-addl-form-title-text {
  width:99%
}
#survey_attach_questions_dt .filter-search-start-date-right-bg{
  float:right
}
#survey_attach_questions_dt input.ac_loading{
  border-bottom:1px solid #DDD;
  border-top:1px solid #DDD
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-surassattachquestion-autocomplete{
  width:244px;
  background-image:none;
  border:0;
  border-bottom:1px solid #DDD;
  border-top:1px solid #DDD;
  height:21px;
  padding-right:24px
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-surassattachquestion-autocomplete.ac_loading {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -16px #FFF
}
#addquestions-addedit-form-html .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div .checkbox-unselected,
#addquestions-addedit-form-html .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div .checkbox-selected {
  margin-top:6px;
  height:12px
}
#addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-selected,
#addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-unselected {
  margin:0;
  height:12px
}
input.ac_loading {
  height:21px
}
.odd-even-row-highlighter {
  background:#F7F7F7
}
.add-attachquestion-popup-container {
  height:24px;
  position:absolute;
  right:20px;
  top:-34px
}
#survey_attach_questions_dt {position:relative}
.page-administration-survey-surveydetails .theme-ctool-popup #message-container .messages,
.page-administration-assessment-assessmentdetails .theme-ctool-popup #message-container .messages{
  z-index:100
}
.page-administration-survey-surveydetails .narrow-search-results-item-details .admin-narrow-search-fadeout-container,
.page-administration-assessment-assessmentdetails .narrow-search-results-item-details .admin-narrow-search-fadeout-container {
  max-width:490px
}
.page-administration-survey-surveydetails .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container,
.page-administration-assessment-assessmentdetails .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container {
  max-width:260px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper span.vtip,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper span.vtip {
  float:left
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .first-col-container-view,
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .second-col-container-view,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .first-col-container-view,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .second-col-container-view  {
  margin-bottom:3px;
  margin-top:3px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-title-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-title-fadeout-container {
  max-width:480px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-code-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-code-fadeout-container {
  max-width:292px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .table-detail-tr-odd .fade-out-image,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .table-detail-tr-odd .fade-out-image {
  background-position:right -30px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper li.odd-even-row-highlighter .addedit-survey-question-list .fade-out-image,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper li.odd-even-row-highlighter .addedit-survey-question-list .fade-out-image {
  background-position:right -60px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-accessname-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-accessname-fadeout-container {
  max-width:475px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .exp-sp-admin-survey-assessment-surveycode-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .exp-sp-admin-survey-assessment-surveycode-fadeout-container {
  max-width:120px
}
.page-administration-survey-surveydetails #wizard-course-form-wrapper .exp-sp-admin-survey-assessment-surveytitle-fadeout-container,
.page-administration-assessment-assessmentdetails #wizard-course-form-wrapper .exp-sp-admin-survey-assessment-surveytitle-fadeout-container {
  max-width:360px;
  line-height:15px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-title-fadeout-container,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-title-fadeout-container {
  max-width:220px;
  margin-bottom:-3px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-fullmodtitle-fadeout-container,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-fullmodtitle-fadeout-container {
  max-width:120px
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveycode-fadeout-container,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveycode-fadeout-container {
  max-width:120px;
  line-height:15px
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveytitle-fadeout-container,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveytitle-fadeout-container {
  max-width:370px
}
.page-administration-survey-surveydetails #admin-add-questions-survey-assessment .multi-grid-surass-attach-question-title-fadeout-container,
.page-administration-assessment-assessmentdetails #admin-add-questions-survey-assessment .multi-grid-surass-attach-question-title-fadeout-container {
  max-width:400px
}
.page-administration-survey-surveydetails #narrow-search-results .narrow-search-common-code-fadeout-container,
.page-administration-assessment-assessmentdetails #narrow-search-results .narrow-search-common-code-fadeout-container {
  max-width:100px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-survey-surveydetails #narrow-search-results .fade-out-title-container.narrow-search-lang-fadeout-container,
.page-administration-assessment-assessmentdetails #narrow-search-results .fade-out-title-container.narrow-search-lang-fadeout-container {
  max-width:150px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-survey #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-survey #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image,
.page-administration-assessment #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-assessment #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
.page-administration-survey #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-attach-qstn-groupname-fadeout-container,
.page-administration-assessment #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-attach-qstn-groupname-fadeout-container {
  max-width:100px;
}
#survey_attach_questions_dt .edit-attachquestion-list .exp-sp-admin-survey-assessment-question-fullmodtitle-fadeout-container,
#survey_attach_questions_dt .edit-attachquestion-list .fade-out-title-container-unprocessed.survey-grp-name {
  max-width:130px;
  margin-bottom:-4px
}
#survey_attach_questions_dt .edit-attachquestion-list .odd-even-row-highlighter .fade-out-title-container .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px
}
#catalog-survey-assesment-basic-addedit-form #quesper_min_max .exp-sp-admin-survey-assessment-label-text-fadeout-container,
#catalog-survey-assesment-basic-addedit-form #quesper_min_max .admin-add-custom-field-label-fadeout-container,
#catalog-survey-assesment-basic-addedit-form .exp-sp-admin-survey-assessment-label-text-fadeout-container.fade-out-title-container-unprocessed {
  max-width:115px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-custominfo-label-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-custominfo-label-fadeout-container {
  max-width:90px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-custominfo-value-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-custominfo-value-fadeout-container{
  max-width:475px;
  display:inline-block;
  margin-bottom:-8px
}

#viewsurass-detail-wrapper .admin-narrow-surveyassess-question-text-fadeout-container {
  max-width:350px
}
#viewsurass-detail-wrapper .survey-group-title-fadeout-container {
  max-width:110px;
  display:inline-block;
  margin-bottom:-8px
}
#viewsurass-detail-wrapper #view-scroll-wrapper .assess-question-detais .class-detail-session-name {
  max-width:350px
}
#viewsurass-detail-wrapper #view-scroll-wrapper .assess-question-detais .group-name {
  max-width:110px
}
#viewsurass-detail-wrapper #view-scroll-wrapper .assess-question-detais .mro-column,
#viewsurass-detail-wrapper #view-scroll-wrapper .assess-question-detais .score-column {
  width:85px
}
.page-administration-survey-surveydetails #page-container .narrow-search-results-item-action,
.page-administration-assessment-assessmentdetails #page-container .narrow-search-results-item-action {
  border:none
}
.page-administration-survey-surveydetails #exp-sp-administration-survey-assessment-addedit-form .add-custombtn-symbol,
.page-administration-assessment-assessmentdetails #exp-sp-administration-survey-assessment-addedit-form .add-custombtn-symbol {
  margin-top:5px
}
.page-administration-survey-surveydetails #exp-sp-administration-survey-assessment-addedit-form .admin-save-pub-unpub-button-container,
.page-administration-assessment-assessmentdetails #exp-sp-administration-survey-assessment-addedit-form .admin-save-pub-unpub-button-container {
  margin-top:1px;
  padding-left:10px
}
.page-administration-survey #modal-content .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row li.save-pub-unpub-sub-menu .admin-save-button-middle-bg {
  padding:7px
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container{
  z-index:99
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#catalog-survey-assesment-basic-addedit-form #edit-assess-random, .addedit-edit-assess_random{
	  width:147px
	}
	#catalog-survey-assesment-basic-addedit-form .addedit-new-field {
	  width:108%
	}
	#edit-survey-qust-per-page, #edit-min-marks{
	  width:40px
	}
	#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value .addedit-edit-max_marks {
	  width:40px
	}
	#exp-sp-administration-survey-assessment-addedit-form .form-item-survey-qust-per-page .addedit-edit-survey_qust_per_page {
	  width:40px
	}
	#catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
	  min-width:398px;
	  max-width:398px
	}
	#catalog-survey-assesment-basic-addedit-form .addedit-left-col .addedit-custom-field .addedit-new-field-value textarea.addedit-edit-textarea {
	  min-width:410px
	}
	.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol,
	.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value{
  	  width:31%
	}
	.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
      width:60%
    }
    .page-administration-assessment-assessmentdetails #addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-unselected,
    .page-administration-assessment-assessmentdetails #addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-selected {
	  margin-left:4px
    }
    .page-administration-assessment-assessmentdetails .admin_add_multi_surass_auto_search .ac_input {
	  padding:0 18px 0 3px
	}
    /* 	.admin-surass-auto-search-container .admin-pagination-surass-search-go {
	  margin-left:163px
	} */
/* 	#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-dropdown {
	  margin-top:-1px;
	  height:17px
	} */
   .page-administration-survey-surveydetails #addquestions-addedit-form-html .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div .checkbox-unselected,
   .page-administration-survey-surveydetails #addquestions-addedit-form-html .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div .checkbox-selected {
      margin-top:3px
	}
	#addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-selected,
	#addquestions-addedit-form-html .ui-jqgrid-btable .checkbox-unselected {
	  margin-left:2px
	}
}

/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
   .page-administration-survey-surveydetails #narrow-search-results .narrow-search-common-code-fadeout-container,
   .page-administration-assessment-assessmentdetails #narrow-search-results .narrow-search-common-code-fadeout-container,
   .page-administration-survey-surveydetails #narrow-search-results .fade-out-title-container.narrow-search-lang-fadeout-container,
   .page-administration-assessment-assessmentdetails #narrow-search-results .fade-out-title-container.narrow-search-lang-fadeout-container{
    margin-bottom:-4px
   }
   .admin-surass-auto-search-container .admin-pagination-surass-search-go {
	 margin-left:163px
   } 
   table tr:hover .limit-title-row .limit-title span.fade-title,
    table tr:hover .limit-desc-row .limit-desc span.fade-desc{
     background:-webkit-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 80%);	
   }
}}
/*safari hack End*/