.question-wrapper-clear {
  clear:both
}
.edit-group-question-list {
  border-bottom:1px solid #CCC;
  float:left;
  font-size:12px;
  margin:0;
  padding:0 0 10px 13px;
  width:98.3%
}
#exp-sp-administration-survey-assessment-addedit-form .admin-tab-list-row {
  border-bottom:1px dotted #CCC;
  width:97.5%
} 
#edit-survey-code {
  width:140px
}
#catalog-survey-assesment-basic-addedit-form #edit-assess-random, .addedit-edit-assess_random{
  width:146px
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown{
	width:146px
}
#edit-survey-qust-per-page, #edit-min-marks{
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field {
  width:107%
}
#catalog-survey-assesment-basic-addedit-form .addedit-cfield-wrapper .addedit-new-field {
  width:auto;
  clear:none
}
.multisearch-basic-addedit-form-container {
  width:625px;
  float:left;
  background:#f9f9f9;
  border:1px solid #CCC;
  padding:25px 5px 5px 15px;
  -moz-border-radius:4px;
  min-height:320px;
  margin:14px 23px 16px 24px
}
#catalog-survey-assesment-basic-addedit-form #min_max_mark_container {
  width:97%
}
#min_max_mark_container #min_max_mark_container_load #two-col-row-min_marks_disp{
  width:100%
}
#catalog-survey-assesment-basic-addedit-form .addedit-course-field-title .form-item label,
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-title {
  float:left;
  word-wrap: break-word
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-value {
  float:left
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-firstcol {
  width:58%
}
#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value,
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol {
  width:32%;
  float:left
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:62%
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value {
  width:38%
}
#catalog-survey-assesment-basic-addedit-form .addedit-firstcol-field-value .addedit-edit-min_marks {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value .addedit-edit-max_marks {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-container-actions,
#exp-sp-administration-group-question-edit-form .addedit-form-cancel-container-actions {
  height:25px;
  margin-right:13px
}
#catalog-survey-question-group-form-details .add-class-button { 
  margin-right:13px;
  position:absolute;
  right:0;
  top:-27px
}
#catalog-survey-question-group-form-details {
  position:relative
}
#catalog-survey-question-group-form-details .survey_question-details-row {
  padding:0 0 0 11px;
  width:98%
}
#catalog-survey-question-group-form-details .survey_question-details-row table {
  width:100%
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col {
  float:left
}
#exp-sp-administration-group-question-edit-form {
  border-bottom:1px solid #CCC
}
#question-wrapper-container .form-item label {
  color:#333;
  font-size:13px;
  font-weight:normal;
  width:98px
}
#question-wrapper-container table tr td .form-item {
  margin-top:25px;
  height:25px;
  line-height:25px
}
.input-field-grey {
  color:#CCC
}
#catalog-survey-question-addedit-form-details .addedit-edit-ac-textfield {
  width:100%
}
#survey_question-fieldset-autocomplete-wrapper-survey_question_fld {
  width:250px
}
#form-item-survey-question-name-survey-question-fld .form-item-survey-question-name-survey-question-fld {
  width:300px
}
.admin-delete-button-container {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat;
  border:0;
  color:#FFF;
  float:left;
  font-size:12px;
  font-weight:bold;
  height:22px;
  padding:2px 11px 8px 23px
}
#catalog-survey-assesment-basic-addedit-form .narrow-search-results-item-title {
  width:568px
}
.admin-delete-button-container {
  padding:21px 0 0 8px
}
.custom-attr-dropdown-cls {
  marging-left:50px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .ui-jqgrid {
  margin:auto
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .display-pointer {
  cursor:pointer
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .ui-jqgrid-view .ui-jqgrid-hdiv {
  margin-top:10px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .admin_add_multi_search_container {
  left:16px;
  top:19px
}
#two-col-row-lang_status .form-item-survey-language .addedit-edit-survey_language,
#two-col-row-lang_status .form-item-survey-status .addedit-edit-survey_status,
#two-col-row-question_per_page .form-item-survey-type .addedit-edit-survey_type {
  width:124px
}
#exp-sp-administration-survey-assessment-addedit-form .admin-course-add-attachment{
  padding:15px 0 15px 204px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .label-group-name {
  padding-left:80px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid #attach_btngrid .admin-save-button-container {
  margin:1px 7px 14px 12px
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid .admin-save-button-container {
  margin:1px 13px 14px 12px
}
#catalog-survey-assesment-basic-addedit-form .addedit-left-col .collapsible .fieldset-wrapper {
  margin-left:204px
}
#catalog-survey-assesment-basic-addedit-form .admin-custom-required-col2-dropdown {
  width:35%
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-new-field-title-custom {
  width:223px
}
#catalog-survey-assesment-basic-addedit-form .admin-custom-required-col1-dropdown {
  width:39%
}
#exp-sp-administration-survey-assessment-addedit-form .admin-delete-img {
  padding-left:0
}
#exp-sp-administration-survey-assesment-question-form #admin-data-grid #attach_btn_grid .admin-save-button-container {
  margin:1px 7px 14px 12px
}
#admin-data-grid .error {
  border:2px solid red;
  display:block
}
.custom-details-row admin-text-field-column, .add-more-custom admin-add-more-field-column {
  margin-left:8px
}
.addedit-new-field-title-custom {
  width:210px
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-new-field-title-custom {
  width:203px
}
#catalog-survey-assesment-basic-addedit-form #attach-question-autocomplete .addedit-edit-attach-question-autocomplete {
  color:#333;
  font-style:normal
}
.input-field-grey {
 color:#ccc;
 font-style:normal
}
#exp-sp-administration-survey-assessment-addedit-form .admin-custom-required-col2-dropdown .form-type-textfield {
  width:100%
}
#exp-sp-administration-survey-assesment-question-form .ac_input {
  width:55%
}
#exp-sp-administration-survey-assesment-question-form .form-item-attach-question-autocomplete #attach-question-autocomplete {
  width:242px
}
#exp-sp-administration-survey-assessment-addedit-form .form-item-survey-qust-per-page .addedit-edit-survey_qust_per_page {
  width:41px
}
#catalog-survey-assesment-basic-addedit-form .addedit-edit-survey_qust_per_page, 
#catalog-survey-assesment-basic-addedit-form .addedit-edit-survey_qust_per_page .addedit-edit-textfield form-text {
  width:40px
}
#exp-sp-administration-survey-assessment-addedit-form .addedit-edit-min_marks .addedit-edit-textfield form-text
{
  width:60px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  margin-left:-109px
}
#catalog-survey-assesment-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
  margin-top:5px;
  width:95.5%
}
#catalog-survey-assesment-basic-addedit-form .addedit-addl-form-title {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png") repeat-x right -38px;
  border-bottom:1px solid #CCC;
  clear:both;
  font-size:14px;
  font-weight:normal;
  height:31px;
  line-height:31px;
  margin:0;
  padding:0 0 1px 15px;
  width:98.6%
}
#catalog-survey-assesment-basic-addedit-form #quesper_min_max{
  position:relative;
  top:-2px
 }
#wizard-course-form-wrapper div.two-column-container-view label {
  color:#666;
  float:left;
  font-size:13px;
  font-weight:normal;
  width:154px
}
#survey_attach_questions_dt .add-attachquestion-button { 
  margin-right:12px;
  margin-top:-27px
}
.attachedquestion-edit-txtbox {
  border:1px dashed #4686DD;
  color:#333;
  font-size:13px;
  font-weight:normal;
  text-decoration:none;
  height:18px;
  line-height:20px
}
#survey_attach_questions_dt ul { 
  padding:0; 
  margin:0
}
#survey_attach_questions_dt ul {
  list-style-type:none
}
#survey_attach_questions_dt .edit-attachquestion-list{
  font-size:13px;
  padding-left:15px;
  padding-right:15px
}
#survey_attach_questions_dt .attachquestion-title-heading{
  color:#666;
  font-size:13px;
  font-weight:bold
}
#survey_attach_questions_dt .attached-question-score {
  border:1px solid #999;
  height:13px
}
#survey_attach_questions_dt .addedit-survey-question-list{
  margin-bottom:5px
}
#survey_attach_questions_dt .attachedquestion-list-name {
  color:#2d2d2d;
  font-size:13px;
  text-decoration:none
}
#survey_attach_questions_dt .attachedquestion-list-name-italic{
  color:#666;
  font-size:12px;
  font-style:italic;
  text-decoration:none
}
#survey_attach_questions_dt .attach-question-delete {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat 0 0;
  cursor:pointer;
  text-align:center;
  margin-left:14px;
  margin-top:5px
}
#catalog-survey-assesment-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left
}
#catalog-survey-assesment-basic-addedit-form  .addedit-form-class-button {
  border:0;
  outline:none;
  margin:10px 14px 0 0;
  cursor:pointer
}
#catalog-survey-assesment-basic-addedit-form .genere-title {
  width:58%;
  float:left
}
#attach-question-mandatory-list .man-opt ul.sub-menu { 
  display:none;
  position:absolute;
  z-index:1;
  border:1px solid #ececec;
  left:-10px;
  background:#FFF
}
#attach-question-mandatory-list .man-opt ul.sub-menu li{ 
  color:#4686DD;
  text-align:right;
  background-color:#FFF;
  padding:2px 5px;
  cursor:pointer
}
#attach-question-mandatory-list .man-opt ul.sub-menu li {
  width:77px
}
#attach-question-mandatory-list .man-opt ul.sub-menu li:hover {
  background:#DBEEFA
}
#attach-question-mandatory-list ul { padding:0; margin:0}
#attach-question-mandatory-list li {
  float:right;
  list-style-type:none;
  padding:1px 3px;			
  margin:0;
  text-align:left;
  cursor:default
}
.selected-list { background-color:#CCC}
#attach-question-mandatory-list .man-opt ul { list-style-type:none}
#attach-question-mandatory-list .man-opt li { position:relative; text-align:right}
#attach-question-mandatory-list .man-opt-selection{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1491px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  text-decoration:none;
  width:10px;
  margin-left:2px;
  cursor:pointer
}
.attach-question-grp-title-note {
  color:#666;
  font:10px helvetica neue,helvetica,arial
}
.disable-publish-link{
  color:#999;	
  cursor:default
}
#view-survey-attachquestion-list-wrapper .dragndrop-selectable-item {
  cursor:move
}
#catalog-survey-assesment-basic-addedit-form .edit-catalog-course-save-publish {
  padding-right:2px	
}
#view-survey-attachquestion-list-wrapper {
  clear:both
}
.attach-question-valid-txt {
  color:#666;
  font:italic normal 11px helvetica neue,helvetica,arial;
  padding-left:16px
}
#survey_attach_questions_dt .admin-surass-auto-search-container {
  left:1px;
  margin:-26px 0 0 135px;
  position:absolute;
  z-index:100000;
  width:55%	
}		
.admin_add_multi_surass_auto_search {
  border:0;
  font-size:11px;
  height:24px;
  outline:none;
  padding-left:6px
  }
.admin_add_multi_surass_auto_search .ac_input {
  background-position:99% 3px;
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  float:left;
  height:18px;
  margin:0;
  padding:0px 18px 0 3px;
  margin:-11px 0 0 -3px;
  width:55%;
  line-height:18px
}
.admin_add_multi_surass_auto_search .ac_input.ac_loading {
  background-position:99% -17px
}
.admin-surass-auto-search-container .admin-pagination-surass-search-go {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -114px -183px;
  border:0;
  cursor:pointer;
  display:block;
  height:20px;
  outline:none;
  text-decoration:none;
  width:20px;
  margin:-35px 0 0 273px
}
.admin-surass-auto-search-container .form-submit {
  border:0px solid #FF801B
}    
#survey_attach_questions_dt .admin_ac_tp_txt_mainform {
  background-color:#FFF;
  border:1px solid #ccc
}
#survey_attach_questions_dt #search-list-surass-title-keyword ul {
  list-style-type:none;
  padding:0;
  border:1px solid #CCC;
  background:#FFF
}
#survey_attach_questions_dt  #search-dropdwn-list-surass{
  width:77px;
  height:23px;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0px -278px;
  display:block;
  float:left
}
#survey_attach_questions_dt .select-list-dropdown-surass {
  font-size:12px;
  color:#666;
  border:0;
  float:left;
  padding:2px 2px 5px 8px
}
#survey_attach_questions_dt .select-list-surass-dropdown-link {
  text-decoration:none;
  width:20px;
  height:20px;
  float:left;
  cursor:pointer;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -253px;
  margin:-23px 0 0 56px
}
#survey_attach_questions_dt  #select-list-surass-dropdown-list, #select-list-surass-dropdown-list-tag {
  display:none;
  position:absolute;
  top:20px;
  left:2px;
  z-index:100
}
#survey_attach_questions_dt  #select-list-surass-dropdown-list  li, #select-list-surass-dropdown-list-tag li{
  width:60px;
  display:block;
  border-bottom:1px solid #CCC;
  cursor:pointer;
  font-size:12px;
  color:#4686DD;
  padding:2px 5px 5px
}
#catalog-survey-assesment-basic-addedit-form .addedit-new-field-two-col .addedit-edit-min_marks {
  width:41px
}
.attachquestion-table-heading {
  width:574px;
  background:none;
  height:26px
}
.add-attachquestion-popup-container {
  margin-top: -28px;
  position: absolute;
  right: 12px
}
#addquestions-addedit-form-html #admin-add-questions-survey-assessment .admin-save-button-container {margin-right:0}
#survey_attach_questions_dt {position:relative}
.page-administration-assessment .narrow-search-results-item-action-list-user .narrow-search-multi-action-container .survey-assment-access,
.page-administration-survey .narrow-search-results-item-action-list-user .narrow-search-multi-action-container .survey-assment-access {
  position: absolute;
  margin-left: 15px
}
.page-administration-survey-surveydetails #ctools-face-table #message-container .messages,
.page-administration-assessment-assessmentdetails #ctools-face-table #message-container .messages{
  z-index:100
}
/* Ticket: 49902 */
#survey_attach_questions_dt .admin_add_multi_search_container_pop #search-dropdwn-list-surass{
	background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -4px -1527px;
    display: block;
    float: left;
    height: 24px;
    width: 75px;
}
/* Ticket: 49902 */
.page-administration-survey-surveydetails .narrow-search-results-item-details .admin-narrow-search-fadeout-container,
.page-administration-assessment-assessmentdetails .narrow-search-results-item-details .admin-narrow-search-fadeout-container {
  max-width:560px
}
.page-administration-survey-surveydetails .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container,
.page-administration-assessment-assessmentdetails .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container {
  max-width:260px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper span.vtip,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper span.vtip {
  float:left
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .first-col-container-view,
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .second-col-container-view,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .first-col-container-view,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #wizard-course-form-wrapper .two-column-container-view .second-col-container-view  {
  margin-bottom:3px;
  margin-top:3px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-title-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-title-fadeout-container {
  max-width:480px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-code-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-left-code-fadeout-container {
  max-width:265px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .table-detail-tr-odd .fade-out-image,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .table-detail-tr-odd .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper li.odd-even-row-highlighter .addedit-survey-question-list .fade-out-image,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper li.odd-even-row-highlighter .addedit-survey-question-list .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -60px;
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-accessname-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-accessname-fadeout-container {
  max-width:460px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .exp-sp-admin-survey-assessment-surveycode-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .exp-sp-admin-survey-assessment-surveycode-fadeout-container {
  max-width:120px
}
.page-administration-survey-surveydetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-question-text-fadeout-container,
.page-administration-assessment-assessmentdetails #viewsurass-detail-wrapper .admin-narrow-surveyassess-question-text-fadeout-container {
  max-width:330px
}
.page-administration-survey-surveydetails #wizard-course-form-wrapper .exp-sp-admin-survey-assessment-surveytitle-fadeout-container,
.page-administration-assessment-assessmentdetails #wizard-course-form-wrapper .exp-sp-admin-survey-assessment-surveytitle-fadeout-container {
  max-width:350px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-title-fadeout-container,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-title-fadeout-container {
  max-width:260px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-fullmodtitle-fadeout-container, 
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper .exp-sp-admin-survey-assessment-question-fullmodtitle-fadeout-container {
  max-width:120px 
}

.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveycode-fadeout-container, 
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveycode-fadeout-container {
  max-width:120px 
}
.page-administration-survey-surveydetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveytitle-fadeout-container,
.page-administration-assessment-assessmentdetails #catalog-survey-assesment-basic-addedit-form #edit-sur-code .exp-sp-admin-survey-assessment-surveytitle-fadeout-container {
  max-width:370px  
}
.page-administration-survey-surveydetails #admin-add-questions-survey-assessment .multi-grid-surass-attach-question-title-fadeout-container,
.page-administration-assessment-assessmentdetails #admin-add-questions-survey-assessment .multi-grid-surass-attach-question-title-fadeout-container {
  max-width:330px
}
.page-administration-survey-surveydetails #view-survey-attachquestion-list-wrapper .addedit-survey-question-list td,
.page-administration-assessment-assessmentdetails #view-survey-attachquestion-list-wrapper .addedit-survey-question-list td {
  padding-top:3px;
  padding-bottom:3px
}
.page-administration-survey-surveydetails #narrow-search-results .narrow-search-common-code-fadeout-container,
.page-administration-assessment-assessmentdetails #narrow-search-results .narrow-search-common-code-fadeout-container {
  max-width:200px;
  display:inline-block;
  margin-bottom:-5px
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #survey_attach_questions_dt .edit-attachquestion-list{
	padding-left:15px
  }
  #catalog-survey-assesment-basic-addedit-form #edit-assess-random, .addedit-edit-assess_random{
    width:147px
  }
  #catalog-survey-assesment-basic-addedit-form .addedit-new-field {
    width:108%
  }
  #edit-survey-qust-per-page, #edit-min-marks{
    width:40px
  }
  #catalog-survey-assesment-basic-addedit-form .addedit-secondcol-field-value .addedit-edit-max_marks {
    width:40px
  }
  #exp-sp-administration-survey-assessment-addedit-form .form-item-survey-qust-per-page .addedit-edit-survey_qust_per_page {
    width:40px
  }
  .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
    padding-right:4px
  }
  #admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable .checkbox-selected,
  #admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable .checkbox-unselected{
    margin-left:2px
  }
}	