.search-list {
  margin-left:0;
  padding:0 5px 0 4px
}
.searchcriteria-div {
  float:left;
  width:18.5%
}
.search-opt-box {
  border-bottom:1px dotted #ccc;
  float:left;
  height:auto;
  margin:4px 0 5px 0;
  padding-bottom:12px;
  padding-left:9px;
  width:95%
}
#reports_managedby {
  border:0
}
#lnr-reports-search {
  min-height:200px
}
#lnr-reports-search .srch-filter-heading {
  border-bottom:1px dotted #CCC;
  color:#333;
  cursor:pointer;
  float:left;
  font-size:14px;
  font-weight:bold;
  margin:0 0 3px;
  padding:7px 6px 7px 8px;
  text-transform:uppercase;
  width:92.5%
}
#searchopts-content .search-opt-box-lastitem {
  border:0;
  margin-bottom:0;
  padding-bottom:3px
}
.search-opts {
  height:auto;
  margin-top:1px
}
.search-heading {
  float:left;
  font-size:13px;
  margin-bottom:5px;
  padding:0 0 0 5px;
  text-decoration:none;
  text-transform:uppercase
}
.searchoptsTitle {
  background:url("images/search-icon-orange.gif") no-repeat 0 0;
  margin-bottom:5px;
  margin-left:5px;
  padding-left:18px;
  font-weight:bold;
  text-decoration:none;
  cursor:pointer;
  color:#0066CC
}
table.scroll tr.over td,table.scroll tr.over td a {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2px
}
.srch-checkbox-container-cls {
  clear:both;
  position:relative;
  padding:6px 0 0 0
}
.srch-checkbox-cls {
  float:left;
  margin:0
}
.srch-label-cls {
  color:#333;
  cursor:pointer;
  float:left;
  font-size:13px;
  position:relative;
  font-weight:normal;
  margin-left:5px
}
.itemCode,.itemBody,.itemLastEdit {
  padding-top:5px
}
table.tblClassSearch {
  border-collapse:seperate;
  border:solid 1px #ccc;
  width:827px
}
table.tblClassSearch th {
  background-color:#ccc;
  border-right:solid 1px #fff;
  height:30px;
  text-align:center
}
table.tblClassSearch td {
  padding:7px;
  border-bottom:solid 1px #E0E0E0;
  height:25px
}
table.tblClassSearch td.action,table.tblClassSearch th.action {
  border-bottom:solid 1px #f3f3f3;
  width:100px
}
.cartSuccessInfo {
  padding-top:20px;
  padding-bottom:20px;
  color:#37c400
}
.tree .ltr li {
  display:block;
}
#catalogSearchMain {
  float:left;
  margin-top:5px;
  width:100%
}
table#learner-results-formal-contentTbl tr.jqgrow td {
  padding:5px 0;
  text-align:left;
  vertical-align:top
}
.search-record-paint {
  padding:0 15px 0 15px
}
#LnrSearchService_results {
  width:80.7%;
  float:left
}
.SearchResultHeader {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") repeat-x 0 -649px;
  height:38px
}
.FindTraingCol_1,.FindTraingCol_2,.FindTraingCol_3,.FindTraingCol_4,.FindTraingCol_5,.FindTraingCol_6,.FindTraingCol_7 {
  text-align:center
}
.datatable-top-actions #showLastPage {
  display:none
}
.PageTxt {
  color:#000;
  float:left;
  padding-right:3px
}
.PaginationText {
  display:block;
  float:left;
  text-align:right;
  width:150px
}
#showPreviousPage, #showNextPage {
  width:17px;
  height:15px;
  display:block;
  float:right;
}
#showPreviousPage {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -127px -80px;
  margin-right:4px
}
#showNextPage {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -144px -80px;
}
.FndTrgReg,.FndTrgRef {
  color:#FF7900;
  font-weight:bold;
  padding:2px 0;
  display:block;
  font-family:Helvetica, Neue
}
.DeliveryTypes {
  padding:0 0 0 6px
}
.DeliveryType_1, .DeliveryType_2, .DeliveryType_3, .DeliveryType_4 {
  width:21px;
  height:22px;
  display:block;
  float:left;
  padding:0 1px 0 0
}
.DeliveryType_1 {
  background:url("images/DeliveryType1.gif") no-repeat left top
}
.DeliveryType_2 {
  background:url("images/DeliveryType2.gif") no-repeat left top
}
.DeliveryType_3 {
  background:url("images/DeliveryType3.gif") no-repeat left top
}
.DeliveryType_4 {
  background:url("images/DeliveryType4.gif") no-repeat left top
}
.CourseDetailTableLeft,.ClassDetailTableLeft {
  clear:both
}
.para {
  padding:4px 0
}
.top-record-div-left .spotlight-item-title {
  font-size:16px;
  padding:6px 8px 0 0;
  text-decoration:none;
  background:none;
  display:inline-block;
  float:left
}
.top-record-div-left .mro-title {
  color:#999;
  font-size:13px
}
.top-record-div-left .FindTrngCourseType,.FindTrngCourseTitle {
  font-weight:bold;
  color:#E6932D
}
.title-clr {
  color:#999;
  font-size:12px
}
.find-training-txt,.find-training-list {
  margin:7px 0 0
}
.find-training-list-course {
  font-size:13px;
  color:#999;
  margin:7px 0 0 1px;
  clear:both
}
.find-training-list {
  font-size:13px;
  color:#333
}
.removeBrd {
  border:0
}
.find-trng-sort {
  border-bottom:1px solid #CCC;
  clear:both;
  margin-left:15px;
  padding:2px 0 7px;
  text-align:left;
  width:770px
}
.find-trng-sortby {
  padding-top:7px;
  right:3px;
  width:100%
}
#lnr-reports-search .find-trng-sort-text {
  color:#333;
  font-size:13px;
  float:left;
  width:52px
}
.find-trng-sort-dropdown {
  float:left;
  width:50%
}
.find-trng-sort-dropdown select {
  font-size:11px;
  color:#333
}
.disp-msg {
  color:#E6932D;
  font-size:12px;
  margin-top:4px;
  text-align:center;
  white-space:normal;
  width:135px;
  clear:both;
  display:none
}
.disp-msg-red {
  font-size:12px;
  line-height:1em;
  text-align:center
}
.disp-msg-add-cart {
  font-size:13px;
  font-weight:bold;
  line-height:1em
}
.disp-msg-blk {
  color:#000;
  font-size:12px;
  font-weight:bold;
  text-align:center
}
.top-record-div-left {
  padding:5px 0
}
#paintLearnerReportsResults tr.over td .top-record-div-left a ,
#paintLearnerReportsResults tr.over td .top-record-div-left a:hover {
  background:none
}
span.more-text {
  line-height:1em
}
span.more-text a.show-full-text {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1480px;
  margin-left:3px
}
.searchlocation {
  font-size:11px;
  padding-left:5px;
  height:17px;
  float:left;
  color:#999;
  border:0;
  font-style:italic;
  width:126px
}
.search-register-btn {
  margin:0 auto;
  width:98px;
  float:right
}
#paintLearnerReportsResults #report_type {
  color:#999;
  padding-top:4px;
  font-size:13px
}
#paintLearnerReportsResults #edit_delete {
  font-size:11px;
  margin:0 0 0 1px
}
#paintLearnerReportsResults #edit_delete a {
  text-decoration:none;
  color:#FA8B45;
  padding:6px 0 0;
  float:left
}
#publish_status {
  font-size:14px;
  padding-top:10px
}
#publish_status a {
  color:#4686DD;
  text-decoration:none;
  float:left
}
#paintLearnerReportsResults .pipeline {
  color:#999;
  padding:6px 4px 0;
  float:left
}
#paintLearnerReportsResults .search-register-btn tr td.action-btn,#paintLearnerReportsResults .search-register-btn tr td.action-btn-disable,
#paintLearnerReportsResults .search-register-btn tr td.action-btn-waitlist {
  border:0;
  color:#FFF;
  font-size:13px;
  font-weight:bold;
  height:40px;
  vertical-align:middle;
  text-align:center;
  width:99px
}
#paintLearnerReportsResults .search-register-btn tr td.action-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action.png") no-repeat;
  cursor:pointer
}
#paintLearnerReportsResults .search-register-btn tr td.action-btn-disable {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action_disable.png") no-repeat
}
#paintLearnerReportsResults .search-register-btn tr td.action-btn-waitlist {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action_waitlist.png") no-repeat;
  cursor:pointer;
  line-height:1.1em
}
.pipe-line {
  color:#999;
  padding:0 4px
}
.course-delivery-title {
  width:83%;
  float:left
}
.course-delivery-back-btn {
  float:right;
  padding:8px 0 0;
  text-align:right;
  width:9%
}
#paintLearnerReportsResults {
  font-size:12px
}
#paintLearnerReportsResults tr .ui-jqgrid tr.ui-row-ltr td, 
#paintLearnerReportsResults .ui-widget-content,.ui-widget-content {
  border:0
}
#paintLearnerReportsResults .ui-jqgrid tr.ui-row-ltr td {
  padding-top:10px
}
.ui-jqgrid tr.ui-row-ltr td {
  border:0;
  padding:0;
  vertical-align:top;
  white-space:normal
}
#paintLearnerReportsResults .ui-state-hover {
  border-left:0;
  border-right:0;
  border-top:0;
  background:#dbeefa
}
#report_result_container {
  table-layout:fixed;
  overflow-x:hidden
}
#report_search_container .ui-jqgrid-bdiv {
  overflow:hidden;
  width:763px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-top:0;
  border-bottom:0
}
#report_search_container .ui-jqgrid-btable {
  table-layout:none
}
#report_search_container .ui-jqgrid-btable tr.jqgrow td {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-left:0;
  border-right:0;
  color:#333;
  padding:8px 0 8px 5px;
  white-space:normal;
  font-size:12px
}
#gview_report_result_container thead {
  background-color:#FFF;
  height:30px
}
#gview_report_result_container .ui-state-default {
  background:#EFEFEF;
  border:0;
  padding:5px 0 4px 3px;
  text-align:left;
  font-size:13px;
  color:#666
}
#gview_report_result_container tr.ui-state-hover {
  border:0;
  background:#dbeefa
}
#gview_report_result_container .ui-widget-content a {
  text-decoration:none;
  display:block
}
#gview_report_result_container .jqgrow a {
  text-decoration:none
}
#gview_report_result_container .ui-jqgrid-hdiv {
  border:1px solid #ccc;
  border-bottom:0
}
#gbox_report_result_container {
  margin-top:12px
}
#gbox_report_result_container #pager-roster {
  padding-top:10px;
  border-top:0
}
#gbox_report_result_container .ui-jqgrid-view {
  width:auto
}
#cb_report_result_container {
  display:none
}
.find-training-txt span {
  white-space:normal;
  color:#333;
  font-size:14px
}
table {
  border-collapse:collapse
}
.top-record-div {
  padding:19px 0 0 0
}
#paintLearnerReportsResults .ui-widget-content td {
  border-bottom:1px dotted #ccc
}
.locationsearch {
  background-color:#FFF
}
.location-search {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -19px -302px;
  cursor:pointer;
  height:19px;
  outline:none;
  padding:0;
  display:inline-block;
  width:15px;
  border-left:1px solid #ccc
}
#location_hideshow {
  border:1px solid #ccc;
  padding:0;
  float:left;
  margin:5px 0 0;
  width:93%
}
#paintReportsContent {
  position:relative
}
#paintReportsContent .narrow-search-actionbar {
  float:right;
  position:absolute;
  top:4px;
  width:98%;
  right:8px
}
#paintReportsContent .ui-state-highlight {
  background:none
}
#paintReportsContent .ui-state-highlight a {
  color:#222;
  color:#4789DD
}
#paintReportsContent .ui-jqgrid .ui-jqgrid-toppager {
  background:none;
  border:1px solid #ccc;
  padding:4px 0;
  -moz-border-radius:5px
}
#paintReportsContent #pager {
  position:relative
}
#paintLearnerReportsResults_toppager {
  display:none
}
#paintReportsContent .ui-jqgrid .ui-jqgrid-pager {
  background:none;
  border:0;
  padding:10px 0 0 0
}
#paintReportsContent #pager_left {
  position:absolute;
  right:20px;
  top:0;
  width:75%
}
#refresh_paintLearnerReportsResults {
  background:none;
  border:0;
  display:none
}
.red-txt {
  color:#999;
  font-size:12px
}
.catalog-start-date {
  clear:both;
  padding:2px 0;
  margin:0 0 4px 0;
  border:1px solid #ccc;
  float:left;
  width:93%
}
.catalog-start-date img {
  margin:1px 0 0 0;
  float:left;
  cursor:pointer
}
#showDateRange {
  float:left;
  font-size:12px;
  margin:4px 0 0;
  width:100%
}
.catalog-start-date span {
  padding:1px 0 0;
  width:32px;
  float:left
}
.catalog-start-date-field {
  margin:0 2px;
  width:83%;
  float:left;
  color:#999;
  font-size:11px;
  border:0;
  font-style:italic
}
.catalog-date-format {
  font-size:11px;
  clear:both;
  width:94%;
  margin:0 9px 0 0
}
.catalog-date-refersh {
  text-align:center;
  font-size:11px;
  clear:both;
  padding:3px 0
}
.date-refersh-img {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -227px;
  cursor:pointer;
  display:block;
  float:right;
  height:19px;
  line-height:20px;
  width:30px
}
.display-more {
  color:#4686DD;
  cursor:pointer;
  float:left;
  height:14px;
  margin:0;
  clear:both;
  margin:3px 0 0 0;
  padding:2px 0 0 18px
}
.display-short {
  color:#4686DD;
  cursor:pointer;
  float:left;
  height:14px;
  margin:0;
  clear:both;
  padding:4px 0 0 20px
}
#reports-no-records {
  width:100%;
  padding:10px;
  text-align:center;
  font-weight:bold;
  color:#999
}
.checkbox {
  height:14px;
  width:13px;
  clear:left;
  float:left;
  margin:3px 5px 3px 4px;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat right 0;
  cursor:default;
  text-align:left
}
.checkbox input {
  opacity:0;
  filter:Alpha(Opacity=0)
}
.checkbox input.show,.radio input.show {
  display:inline
}
#paintLearnerReportsResults_Action {
  vertical-align:middle
}
.refer-course-link {
  height:auto;
  text-decoration:none
}
.refer-course-link a {
  color:#4686DD;
  text-decoration:none;
  font-size:12px;
  display:block;
  padding:0
}
#sortByOption {
  border:1px solid #999
}
.course-available-seats {
  color:#999;
  padding-bottom:10px;
  text-align:center;
  width:100%;
}
#paintPrice {
  padding:10px 0 0 0;
  float:left;
}
#paintPrice .ui-widget-header {
  background:#4686dd
}
#paintPrice .ui-slider-horizontal {
  height:5px
}
#paintPrice .ui-slider-handle {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1379px;
  border:0 none;
  top:-9px;
  height:22px
}
#paintPrice .ui-slider {
  background:#ccc
}
#price-slide-left, #price-slide-right {
  padding-top:10px;
  padding-bottom:0;
  font-size:12px;
  border:0;
  height:auto;
  float:left;
  color:#333;
  display:block;
  width:75px
}
#price-slide-right {
  text-align:right
}
#search-filter-content {
  background-color:#FFF
}
#gview_paintLearnerReportsResults .ui-jqgrid-hdiv {
  display:none
}
.checkbox-selected, .checkbox-unselected {
  width:13px;
  height:13px;
  float:left;
  margin:1px 0 0 0;
  padding:0;
  cursor:pointer
}
.checkbox-selected {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -147px 0
}
.checkbox-unselected {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -147px -15px
}
.checkbox-selected input, .checkbox-unselected input {
  opacity:0;
  filter:Alpha(Opacity=0);
  width:13px;
  height:13px;
  cursor:pointer;
  outline:none
}
.find-training-txt {
  padding-top:0
}
.highlight-light-blue {
  color:#4686DD
}
.highlight-light-gray {
  color:#333
}
.identify-time-zone {
  font-size:10px;
  margin:0 0 0 2px
}
#lnr-reports-search .clr-txt {
  color:#4686DD;
  cursor:pointer;
  float:right;
  font-size:11px;
  padding-right:11px;
  text-decoration:underline
}
#lnr-reports-search .region-sidebar-widget-bg {
  background:#FFF;
  border-left:1px solid #CDCDCD;
  border-right:1px solid #CDCDCD;
  width:99.8%
}
#search-filter-content .region-sidebar-widget-bg {
  width:100%
}
#lnr-reports-search .pipe-line-sortby {
  padding:5px;
  color:#999
}
#paintReportsContent .sort-by-links {
  list-style-type:none;
  float:left;
  width:75%;
  line-height:1.1em
}
#paintReportsContent .sort-by-links li {
  display:inline;
  cursor:pointer
}
#paintReportsContent .sort-by-links li a {
  color:#4686DD;
  text-decoration:none;
  float:left;
  padding:1px 0 0 0;
  font-size:13px
}
#paintReportsContent .sort-by-links li a:hover {
  color:#4686DD;
  text-decoration:none;
  padding:1px 0 0 0;
  font-size:13px
}
#paintReportsContent .sort-by-links li a.sortype-high-lighter {
  font-weight:bold
}
#paintLearnerCriteriaResults .block-footer-left {
  padding-left:9px
}
#paintLearnerCriteriaResults .block-footer-right {
  padding-right:9px
}
#tagInfoDiv .tagTitle {
  color:#0080FF;
  font-size:12px;
  padding-right:5px;
  cursor:pointer
}
#tagInfoDiv .tagContent {
  font-size:12px;
  word-wrap:break-word
}
.tag-search {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -19px -302px;
  cursor:pointer;
  height:19px;
  outline:none;
  padding:0;
  display:inline-block;
  width:15px;
  border-left:1px solid #ccc
}
#tag_hideshow {
  border:1px solid #ccc;
  padding:0;
  float:left;
  margin:5px 0 0;
  width:93%
}
.searchtag {
  font-size:11px;
  padding-left:5px;
  height:17px;
  float:left;
  color:#999;
  border:0;
  font-style:italic;
  width:126px
}
.tagInfoWithRating {
  margin-left:6px
}
.lrn_srch_rating {
  position:relative;
  top:2px;
  left:6px;
}
.tooltiptop {
  width:241px;
  height:35px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-top.png) no-repeat 0 -4px
}
.tooltipmid {
  width:230px;
  height:auto;
  padding:8px 0 0 10px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-middle.png) repeat-y;
  word-wrap:break-word
}
.tooltipbottom {
  width:241px;
  height:27px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-bottom.png) no-repeat
}
.voting-details {
  color:#666;
  display:block;
  font-size:12px;
  line-height:1.3em;
  padding-left:9px;
  width:90%
}
.rating-header {
  margin-bottom:5px
}
#paintLearnerReportsResults .total-votes {
  color:#4686DD;
  cursor:pointer
}
.selected-cnt, #paintLearnerReportsResults .total-votes span {
  color:#4686DD
}
.voting-flow {
  margin:0 10px;
  background:#eeeecc;
  height:13px;
  width:100px;
  display:inline-block;
  vertical-align:middle
}
.voting-rating {
  background:#ffcc66;
  height:13px;
  display:block
}
.search-opt-box-rating-item {
  border-top:1px dotted #CCC;
  border-bottom:0;
  padding-top:11px;
  padding-bottom:0;
}
.reports-launch {
  padding-top:10px
}
#report_search_container #search_form {
  padding:10px
}
#report_search_container .search-content {
  height:30px
}
#report_search_container span.search-label {
  width:200px
}
#report_search_container .ac_input {
  width:250px
}
#report_result_pager {
  background:none;
  font-size:13px;
  color:#666;
  position:relative;
  font-size:12px;
  display:none;
  height:35px;
  font-family:helvetica neue, arial;
  border:0
}
#report_result_pager #data-table-page-view span {vertical-align:middle}
#report_result_pager #pager_right {
  position:absolute;
  left:20px
}
#report_result_pager_center {
  width:100%
}
#report_result_pager_center .ui-pg-table {
  float:right;
  position:static;
  margin-right:10px
}
#report_result_pager_left,
#report_result_pager_right {
  display:none
}
#first_report_result_pager span,
#prev_report_result_pager span,
#next_report_result_pager span,
#last_report_result_pager span {
  background:none
}
#first_report_result_pager, #prev_report_result_pager, #next_report_result_pager, #last_report_result_pager {
  height:18px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#first_report_result_pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -253px;
  width:26px
}
#prev_report_result_pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px;
  width:27px
}
#next_report_result_pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px;
  width:28px
}
#last_report_result_pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -302px;
  width:22px
}
.item_container {
  width:610px;
  margin:0 auto;
  float:left
}
.reportListItem {
  background:#fff;
  float:left;
  padding:5px;
  margin:1px 5px 9px 5px;
  cursor:move;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.5);
  box-shadow:0 1px 2px rgba(0,0,0,.5);
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
  border-radius:.5em;
  width:184px
}
.icart, .icart label {
  cursor:e-resize;
  width:200px;
  margin:15px
}
.divrm {
  text-align:right
}
.remove {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -48px -192px;
  height:15px;
  overflow:hidden;
  width:17px;
  cursor:pointer;
  position:absolute;
  right:6px;
  text-decoration:none;
  top:5px
}
.remove:hover {
  color:#999
}
.clear {
  clear:both
}
.cart_container {
  margin:0 auto;
  width:495px;
  float:left
}
#cart_toolbar {
  overflow:hidden;
  border:1px solid #333;
  height:190px;
  z-index:-2;
  width:483px;
  -webkit-border-radius:0 .5em 0 0;
  -moz-border-radius:0 .5em 0 0;
  border-radius:0 .5em 0 0;
  background:#fff
}
#cart_items {
  height:687px;
  width:496px;
  padding:0 0 0 2px;
  z-index:0;
  cursor:e-resize;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc
}
.count {
  color:#0099cc
}
.ac_results {
  z-index:9999;
  background:#fff;
  border:1px solid #ccc
}
.reports-export-xcel-container {
  position:absolute;
  right:-5px;
  top:-3px;
  width:36px;
  cursor:pointer
}
.reports-export-xcel-icon, .reports-pdf-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -722px;
  height:22px;
  margin-top:1px;
  overflow:hidden;
  width:20px;
  display:block;
  cursor:pointer
}
.reports-pdf-container {
  position:absolute;
  right:25px;
  top:-3px;
  width:36px;
  cursor:pointer
}
.reports-pdf-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -84px -723px;
}
.reports-empty-field {
  color:#999;
  font-size:11px;
  font-style:italic;
  margin-top:1px
}
.reports-nonempty-field {
  color:#333;
  font-size:13px;
  font-style:normal
}
#field-scroll-wrapper {
  height:296px
}
#searchReportsRecordsPaint #create-schedule-addedit-form #field-scroll-wrapper .jspTrack {
  height:294px
}
.noitems-container {
  left:268px;
  position:absolute;
  top:179px;
  width:255px
}
#noitems-msg {
  padding-top:5px;
  text-transform:none;
  position:relative;
  right:95px
}
#searchReportsRecordsPaint  #report-pipeline {
  padding-left:10px;
  padding-top:0
}
.publish_status .publish-icon {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -163px -855px;
  height:20px;
  padding-left:20px
}
.publish_status .unpublish-icon {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -163px -879px;
  height:20px;
  padding-left:20px;
}
.report-schedule-region {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -162px -438px;
  height:20px;
  margin-left:1px;
  padding-left:20px
}
#searchReportsRecordsPaint #report-disable-status {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -162px -438px;
  height:20px;
  margin-left:8px;
  padding-left:19px;
  color:#777;
  cursor:default
}
#create-schedule-addedit-form  .expertus-dropdown-icon,
#create-schedule-addedit-form .expertus-dropdown-bg {
  width:120px
}
#create-schedule-addedit-form .addedit-new-field-title {
  padding:6px 5px 4px 10px;
  width:90px
}
#create-schedule-addedit-form .addedit-new-field-two-col {
  width:532px;
  padding-top:3px
}
#create-schedule-addedit-form .addedit-new-field-value .addedit-edit-textfield {
  width:420px;
  height:19px
}
#create-schedule-addedit-form .addedit-edit-textfield {
  width:131px
}
#create-schedule-addedit-form .time-picker-image {
  float:left;
  position:relative
}
#create-schedule-addedit-form .icon-timer {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/time-picker-icon.png") no-repeat right -4px;
  height:18px;
  position:absolute;
  right:1px;
  top:5px;
  width:18px
}
#create-schedule-addedit-form .time-picker-image .exp-timepicker-for-addedit-form {
  border-collapse:collapse
}
#create-schedule-addedit-form .addedit-new-field-value textarea.addedit-edit-textarea {
  min-width:426px;
  max-width:426px
}
#create-schedule-addedit-form .addedit-form-cancel-container-actions {
  margin-right:23px;
  margin-top:10px
}
#create-schedule-addedit-form .addedit-form-cancel-and-save-actions-row .resize-save_btn4 {
  width:121px
}
#create-schedule-addedit-form  .exp-timepicker-selection {
  left:106px;
  max-height:55px;
  top:26px;
  width:129px
}
#create-schedule-addedit-form #schedule-time-container label {
  font-family:proximanovabold;
  font-size:12px;
  width:265px;
  margin-left:10px
}
#create-schedule-addedit-form #schedule-time-container input {
  position:absolute;
  left:141px;
  top:211px;
  width:118px
}
#create-schedule-addedit-form img.ui-datepicker-trigger {
  left:80px;
  margin-top:2px;
  position:absolute
}
#searchReportsRecordsPaint  .datagrid-container-common td {
  padding-left:2px;
  padding-bottom:0
}
#searchReportsRecordsPaint .datagrid-items-list .ui-pg-button span.ui-icon-seek-first,
#searchReportsRecordsPaint .datagrid-items-list .ui-pg-button span.ui-icon-seek-end,
#searchReportsRecordsPaint .datagrid-items-list .pager-datagrid-common,
#searchReportsRecordsPaint .datagrid-items-list .ui-pg-table  #data-table-page-view {
  display:none
}
#searchReportsRecordsPaint  .datagrid-items-list .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100)
}
#page-container .schedule-list-wrapper .admin-save-button-container {
  margin-left:14px
}
.report-param-text-style {
  text-transform:none;
}
.report-param-empty-text,.report-param-text-style {
  font-size:12px;
  margin-left:9px;
  padding-bottom:14px;
  color:#aaa
}
.report-param-seperator {
  border-top:1px dotted #ccc;
  margin-left:9px;
  margin-top:19px;
  width:511px
}
.month-field-wrapper .select-greyed-out-text {
  color:#999
}
#create-schedule-addedit-form .addedit-edit-dropdown {
  width:137px;
  height:20px
}
.datagrid-items-list {
  min-height:320px;
  text-transform:none
}
.schedule-exportcontainer, .schedule-exportcontainer-page {
  cursor:pointer;
  display:block;
  height:22px;
  margin-top:1px;
  overflow:hidden;
  width:20px;
  position:absolute
} 
.schedule-exportcontainer {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -722px;
  right:26px;
  top:25px
}
.schedule-exportcontainer-page {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -722px;
  right:206px;
  top:28px
}
#paintReportsContent .schedule-actions-link .edit-schedule, #paintReportsContent .schedule-actions-link .delete-schedule, #paintReportsContent .schedule-actions-link .run-schedule,
#paintReportsContent .schedule-actions-link .inactive-run-schedule, #paintReportsContent .schedule-actions-link .suspend-schedule, #paintReportsContent .schedule-actions-link .activate-schedule {
  display:block;
  height:20px;
  width:16px;
  overflow:hidden;
  text-indent:-2000px
} 
#paintReportsContent .schedule-actions-link .edit-schedule {
  color:transparent;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -341px -185px
}
#paintReportsContent .schedule-actions-link .delete-schedule {
  color:transparent;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -164px -667px
}
#paintReportsContent .schedule-actions-link .run-schedule {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -163px -602px
}
#paintReportsContent .schedule-actions-link .inactive-run-schedule {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -163px -581px;
  cursor:default
}
#paintReportsContent .schedule-actions-link .suspend-schedule {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -164px -645px
}
#paintReportsContent .schedule-actions-link .activate-schedule {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -164px -623px
}
#paintReportsContent .datagrid-items-list .ui-jqgrid .ui-jqgrid-toppager {
  background:none;
  border:0;
  padding:4px 0 10px;
}
#gview_paintLearnerReportsResults .datagrid-items-list  .ui-jqgrid-hdiv {
  border:0
}
.schedule-list-wrapper .addedit-form-cancel-container-actions {
  width:auto;
  margin:10px 8px 0 0
}
.schedule-list-wrapper .admin-save-button-container #create-schedule-fromgrid {
  color:#fff
}
.schedule-list-wrapper .admin-save-button-container #cancel-scheduling {
  margin-top:5px;
  font-size:12px
}
.schedule-actions-link .schedule-pipeline {
  padding:0 4px;
  float:left;
  line-height:16px
}
.page-reports #schedule-qtip-popup td {
  border:0
}
#create-schedule-addedit-form .exp-timepicker-selection li {
  color:#2D2D2D;
  cursor:pointer;
  width:115px;
  font-weight:normal
}
#searchReportsRecordsPaint #schedule-qtip-popup #bubble-face-table #show_expertus_message {
  margin-left:62px;
  top:11px
}
.schedule-list-wrapper .admin-cancel-button-container {
  margin-top:0;
  margin-right:8px;
  float:left;
  font-size:13px
}
#create-schedule-addedit-form .edit-datecriteria-dropdown .addedit-edit-dropdown,
#create-schedule-addedit-form .addedit-edit-sort_order {
  width:107px;
  height:24px
}
#create-schedule-addedit-form .addedit-form-cancel-and-save-actions-row {
  border-top:1px dotted #CCC;
  margin-left:-5px;
  width:558px
}
#searchReportsRecordsPaint .datagrid-items-list .ui-jqgrid-toppager {
  display:none;
}
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -302px;
  border:0;
  float:left;
  height:22px;
  opacity:8;
  width:34px;
  margin:3px 0 0
}
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -126px -302px;
  border:0;
  float:left;
  height:22px;
  opacity:8;
  width:28px;
  margin:3px 0 0
}
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -91px -302px;
  border:0;
  float:left;
  height:22px;
  opacity:8;
  width:26px;
  margin:3px 0 0
}
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -253px;
  border:0;
  float:left;
  height:22px;
  opacity:8;
  width:26px;
  margin:3px 0 0
}
.schedule-list-wrapper .page-pipeline {
  color:#999;
  font-weight:normal;
  position:absolute;
  right:195px;
  top:30px;
  z-index:1
}
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  padding-top:3px;
  font-size:12px
}
.page-reports .ui-jqgrid .ui-pg-table td.search-pagination-right {
  padding-right:8px
}
.launch-report-schedule {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -162px -438px;
  height:20px;
  cursor:pointer;
  display:block;
  margin-top:3px
}
.reports-schedules {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -396px -242px;
  border-bottom:0;
  cursor:pointer;
  height:auto;
  padding:5px;
  position:static;
  width:18px
}
#create-schedule-addedit-form .edit-datecriteria-dropdown .date-criteria-date input,
#create-schedule-addedit-form .edit-datecriteria-dropdown .date-criteria-days input {
  width:100px
}
.date-criteria-radio {
  float:left;
  display:block;
  line-height:23px
}
.date-criteria-date {
  position:relative;
  float:left;
  width:115px
}
.date-criteria-days-type {
  float:left;
  height:25px;
  margin-top:-1px
}
.date-criteria-days {
  float:left;
  width:112px
}
.date-criteria-text {
  float:left;
  margin-left:-4px;
  margin-top:4px
}
.dropdown-style-container {
  float:left
}
#create-schedule-addedit-form .date-criteria-date .addedit-edit-datefield,
.date-criteria-radios-wrapper .addedit-readonly-textfield {
  height:18px
}
#create-schedule-addedit-form .date-criteria-radios-wrapper .date-criteria-days .addedit-readonly-textfield {
  width:102px
}
#searchReportsRecordsPaint .lnr-report-schedule-popup td.bubble-c {
  overflow:visible
}
.ui-multiselect-header {
  display:none
}
.ui-multiselect-menu {
  font-family:helvetica neue,helvetica,arial; 
  border-radius:0;
  border:1px solid #333;
  border-width:0 1px 1px 1px;
  color:#333;
  padding:0 
}
.ui-multiselect-menu .ui-multiselect-checkboxes{
  max-height:175px;
  overflow-y:scroll
}
.ui-multiselect-menu .ui-multiselect-checkboxes .ui-state-hover {
  background:none;
  border:0;
  font-size:13px
}
.ui-multiselect-menu .ui-multiselect-checkboxes label {
  font-size:13px
}
.ui-multiselect-menu .ui-multiselect-checkboxes .ui-corner-all {
  background:none;
  border:0
}
.ui-multiselect-menu .ui-multiselect-checkboxes .ui-state-hover span{
  font-weight:normal
} 
.ui-multiselect-menu .ui-multiselect-checkboxes li {
  line-height:13px;
  padding:3px
}
.ui-multiselect-menu .ui-multiselect-checkboxes li:hover{
  line-height:13px;
  padding:3px;
  background:#316ac5
}
.ui-multiselect-menu .ui-multiselect-checkboxes li:hover .ui-corner-all {
  color:#fff
}
.ui-multiselect-menu .ui-multiselect-checkboxes label {
  font-weight:normal
}
.page-reports  .ui-datepicker .ui-datepicker-title select.ui-datepicker-month, 
.page-reports  .ui-datepicker .ui-datepicker-title select.ui-datepicker-year{
	top:-3px
}
.page-reports .ui-datepicker-next .ui-icon-circle-triangle-e{
	background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -140px -280px
}
.page-reports .ui-datepicker-prev .ui-icon-circle-triangle-w{
	background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -120px -280px
}
#report-add-wizard #data-table-page-view{
  left: 10px;
}
#paintGroupContent{
	height:auto;
	width:90%;
}
#paintGroupContent .jspTrack{
	max-height:88px;
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #create-schedule-addedit-form .addedit-edit-textfield {
    width:133px
  }
  #create-schedule-addedit-form .exp-timepicker-selection {
    left:105px;
    max-height:50px;
    top:22px;
    width:131px
  }
  #create-schedule-addedit-form .addedit-new-field-value textarea.addedit-edit-textarea {
    min-width:423px;
    max-width:423px
  }
  #paintReportsContent .datagrid-items-list .jqgfirstrow td:first-child {
    width:80px
  }
  #searchReportsRecordsPaint #schedule-qtip-popup #bubble-face-table #show_expertus_message {
    margin-left:62px;
    top:11px
  }
}