#edit-panes-payment-payment-method{
  width: 47%
}
.page-cart-checkout-paymethod  #uc-cart-checkout #payment-pane #payment-details{
  width: 50%
}
.commerce-container-v2 .payment-billing-details-info{
  width:45.5%
}
#schedule-qtip-popup .schedule-exportcontainer-page{
  right:150px
}
#schedule-qtip-popup .schedule-list-wrapper .page-pipeline{
  right:148px
}
#schedule-qtip-popup .schedule-list-wrapper .datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table{
  left:214px
}
.page-learning-catalog-search  #page-container #lnr-catalog-search .find-trng-sort-text{
  background-position:56px -467px
}
.page-reports #page-container #paintReportsContent .narrow-search-sortbar-sorttext{
  background-position:56px -466px
}
#catalog-course-basic-addedit-form-container  #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:35px
}
#program-tp-basic-addedit-form-container .crs-tab-titles-container td.attachment-empty-column-height {
  height:35px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container .ui-jqgrid-btable td.search-pagination-right {
  min-width:130px
}
.page-learning-forum-topic-list #page-container .admin-forum-topic-detail-action-btn .addedit-form-cancel-container-actions{
  width:128px
}
/*rendering*/
.addedit-customattributes-wrapper .new-customattribute #create-dd-list {
	margin-left: 48px;
}
#new-customattribute-wrapper-checkbox .new-customattribute #create-dd-list {
    margin-left: 21px;
}
#new-customattribute-wrapper-dropdown .new-customattribute #create-dd-list {
    margin-left: 36px;
}	
#new-customattribute-wrapper-radio .new-customattribute #create-dd-list {
    margin-left: 48px;
}
#new-customattribute-wrapper-textarea .new-customattribute #create-dd-list {
    margin-left: 48px;
}
#new-customattribute-wrapper-textbox .new-customattribute #create-dd-list {
    margin-left: 48px;
}
.page-administration-manage-customattribute #page-container #create-dd-list .create-dd-list-arrow {
    left: 79px;
}
.page-administration-learning-catalog #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:1px;
}
/*.page-learning-my-profile #learner-myskill-details #myskill-parent .prof-parent{
  width:215px
}*/
.page-learning.page-learning-myteam-search #lnr-myteam-search .myteam-learning-btn{
  min-width: 165px;
  width: 165px;
  margin-right:7px
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .icon-filter-menu {
	width : 225px;
}
.page-learning-enrollment-search #page-container #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .icon-filter-menu {
	width : 225px;
}
.page-administration-learning-catalog #catalog-course-basic-addedit-form .catalog_course_addedit_form_common #two-col-row-author_vendor_complete .addedit-twocol-secondcol .addedit-new-field-title {
  width:52px
}
#page-container #learner-myskill-details .skill-name-parent .form-item input.skill-text-box{
  width:288px
}
 #learner-myskill-details #exp-sp-my-skill-set-add-form  #myskill-parent .disp-parent{
  margin-left:0px;
}
/*#custom_attribute_0078975*/
#customattribute-basic-addedit-form-container #admin-save-screen-button {
	margin-left: 0
}
#page-container .narrow-search-sortbar-options .narrow-search-sortbar-sorttext {
    background-position: 60px -466px;
    max-width: 75px;
}
.page-learning-my-account  #page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box{
  margin-left:215px
}
.page-learning-my-account-preference.page-learning-my-account #page-container #learner-myaccount-details #wizard-form-wrapper .pref-save-cancel-container-alignment{
  margin-left:267px
}