/* My Classes */
#block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort-text {
	/* background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat scroll 55px -2815px !important; */
}


/* My Learning */
 
 #page-container .enroll-sort-by-container, #page-container .instructor-sort-by-container{
	/* width: 45px !important; */
}
  
.page-learning-enrollment-search #page-container .sort-by-text{
	/*  background-position: 54px -2816px !important; */
}

#page-container .enroll-sort-bylist {
	/* right: 25px !important; */
}
#widget #block-exp-sp-lnrenrollment-tab-my-enrollment-customized .icon-filter-menu,
#widget #block-exp-sp-lnrlearningplan-tab-my-learningplan-customized .icon-filter-menu{
  width:225px
}

.salesforce-widget #myteam-find-trng-sort-display .find-trng-sort-text{
 	background-position: 54px -2816px
}

#page-container .sort-by-text{
	/* width: 66px !important; */
}

/* #paintContent #find-trng-sort-display .find-trng-sortby .sort-by-links{
	left: -69px !important;
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* 	#paintContent #find-trng-sort-display .find-trng-sortby .sort-by-links{
	left: -62px !important;
} */
}

.iframe-mylearning #page-container .enroll-sort-by-container .sort-by-links, .iframe-mylearning #page-container .instructor-sort-by-container .sort-by-links{
	left: -78px !important;
}

/* Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.iframe-mylearning #page-container .enroll-sort-by-container .sort-by-links, .iframe-mylearning #page-container .instructor-sort-by-container .sort-by-links{
	left: -50px !important; 
}
}

/*Safari*/

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media
{
.iframe-mylearning #page-container .enroll-sort-by-container .sort-by-links, .iframe-mylearning #page-container .instructor-sort-by-container .sort-by-links{
	left: -78px !important; 
}

}}


/* IE9 Hack */
.iframe-mylearning #page-container .enroll-sort-bylist{
	right:0\9 !important;
}
.iframe-mylearning #page-container .enroll-sort-by-container .sort-by-links, .iframe-mylearning #page-container .instructor-sort-by-container .sort-by-links{
	left: -101px\9 !important;
}


/* IE 10 & Above*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
.iframe-mylearning #page-container .enroll-sort-bylist{
	right:25px !important;	
}

.iframe-mylearning #page-container .enroll-sort-by-container .sort-by-links, .iframe-mylearning #page-container .instructor-sort-by-container .sort-by-links{
	left: -79px !important;
}

}

