/* Common styles Start */
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
/* Course/Class/Tp Details End */


/* Sign In styles Start */
.ctool-login-modal .theme-ctool-popup .my-login-frm .single-req-pwd-form-wrapper {
  padding-left: 134px
}
.learning-detail-desc div.prgdet-node form#fivestar-rating-widget .form-item .description{
  width:88px
}
#modal-content #my-login-container .login-admin-save-button-container .item-list ul{
  padding-top:2px
}
.theme-ctool-popup .my-login-frm .my-login-links-actions a{
  font-weight:normal;
  text-transform:none
}
.theme-ctool-popup .my-login-links-actions .my-login-register{
  width:205px
}
div.saml-helptext {
  right:86px
}
#my-login-container .saml-signin {
  right:8px
}
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
/* Forget Password styles End */


/* Account styles Start */
.page-learning-my-account #page-container .my-account-wrapper .form-select{
  width:313px
}
/* Account styles End */


/* Catalog styles Start */
#block-exp-sp-lnrsearch-tab-find-training #paintContent .sort-by-links {  left: -44px }
.page-learning-catalog-search .ui-jqgrid .ui-pg-input{
  width:auto;
}
/* Catalog styles End */

/* Profile styles Start */
#my_transcript_loader .my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table {
  min-width:190px
}
#page-container #catalog-users .ui-jqgrid #pg_expertus-online-datatable-pager .ui-pg-table{
  min-width:175px
}
#catalog-userpoints-loader .user-points-result-widget .points-row2-column-3 .column-action-text{
  margin-left: -12px;
}
/* Profile styles End */

/* Discussions styles Start */
#page-container #frm-paint-content #discuss-frm-sort-display .sort-by-links{
    left: -54px
}
.page-learning-forum-topic-list #page-container .admin-forum-topic-detail-action-btn .addedit-form-cancel-container-actions{
  width:162px
}
/* Discussions styles End */

/* Team styles Start */
#my-team-dialog .title-mandatory-clr{
  margin-top:0
}
#page-container #lnr-myteam-search .usr-enroll-grid-header-grey-cls{
  width:110px
}
/* Team styles End */


/* Shopping Cart styles Start */
/* Shopping Cart styles End */


/* My Learning(My Enrollments) styles Start */
.page-learning-enrollment-search  #page-container .enroll-sort-bylist {
  right: 2px
}
.page-learning-enrollment-search #page-container .enroll-sort-by-container .sort-by-links,
.page-learning-enrollment-search #page-container .instructor-sort-by-container .sort-by-links{
  left:-76px
}
.page-learning.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-main-list.enroll-main-action-lp-multiclasss .enroll-action{
  width:139px
}
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
/* .page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-show-moreclass .enroll-main-action-lp-multiclasss,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list,
.page-learning-enrollment-search #page-container #paintEnrollmentResults .enroll-main-list{
  width: 141px
}
.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-main-action-lp-multiclasss .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentResults .enroll-main-list .enroll-launch,
.page-learning-enrollment-search #page-container #paintEnrollmentLPResults .enroll-lp-main-list .enroll-launch:hover{
	width:123px
} */
#page-container #div_my_transcript .my-transcript-inner #my_transcript_pager #my_transcript_pager_center .ui-pg-table {
  margin-right: 10px
}
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
.page-learning-enrollment-search #page-container  #paintInstructorResults .paint-mark-completion .enroll-launch-full{
  margin-left:0
}
.expertusV2PopupContainer #mark-complete-wizard .require-text{
  margin-left:-7px
}
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
#page-container #catalog-admin-cal-legend .cal-legent-td .mycalendar-class-types{
  display:inline;
  font-size:11px
}
#catalog-admin-cal-legend .cal-legent-td{
  float:left
}
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
#drupalchat-wrapper #drupalchat .change-signin-state{
 font-size: 8px;
}
/* Chat styles End */


/* Learning(Course/Class) styles Start */
#catalog-class-basic-addedit-form-container #add-session-details #meeting-type-webEx .admin-addedit-session-details-wrapper #session_meeting_id{
  width:100px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container #add-session-details #meeting-type-classroom .admin-addedit-session-details-wrapper #edit-session-name{
  width:295px
}
/* .page-administration-learning-catalog .theme-ctool-popup .addedit-new-field-two-col .crs-compliance-dropdown .expertus-dropdown-icon,
.page-administration-learning-catalog .theme-ctool-popup .addedit-new-field-two-col .expertus-dropdown-bg.crs-compliance-dropdown{
  width:110px
} */
.page-administration-learning-catalog #tab-content-main #narrow-search-results-holder #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:55px
}
.page-administration-learning-catalog #catalog-course-basic-addedit-form-container #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:49px
}
.page-administration-learning-catalog #catalog-class-basic-addedit-form-container #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:34px
}
body.page-administration-learning-catalog .addedit-form-main-container #catalog-class-basic-addedit-form-container .enrolled-display-controller .ui-jqgrid-bdiv .checkbox-unselected{
  margin-left: -2px;
 }
 body.page-administration-learning-catalog .addedit-form-main-container #catalog-class-basic-addedit-form-container .enrolled-display-controller .ui-jqgrid-bdiv .checkbox-selected{
  margin-left: -2px;
 }
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */
.page-administration-learning-program #tab-content-main  #narrow-search-results-holder #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:55px
}
.page-administration-learning-program #program-tp-basic-addedit-form-disp  #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:35px
}

/* Learning(Training Plan) styles End */


/* People(User) styles Start */
 .page-administration-people-user #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
  right:0
} 
#admin-data-grid .user-enrollment-div-cls .narrow-text-search{
  z-index:100
}
#admin-data-grid .user-enrollment-div-cls .ac_input{
  z-index:99
}
.page-administration #group-control #autoimg{
  right:12px;
  top:-22px
}
/* People(User) styles End */

/* People(Organization) styles Start */
.page-administration-people-organization #organization-addedit-form .catalog-pub-add-list{width:99px}
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:136px}
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class,
.page-administration-people-group #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list li{
 width:114px
}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class{width:138px}
.page-administration-people-group #add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class{width:114px;text-align:right}
.page-administration-people-group #narrow-search-results-holder #bubble-face-table #add-user-role-page.assigned-users-grps .addedit-edit-username-search-autocomplete {
  width: 159px
}
.page-administration-people-group #role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container{width:353px}
/* People(Groups) styles End */

/* People(settings) styles Start */
.page-administration-people-setup #page-container .narrow-search-results-item-details{
  margin-top:5px
}
#addedit-listvalues-detail-wrapper .addedit-new-field-title {
  padding-top:3px
}
.page-administration-people-setup #list-values-addedit-form-details .disable-delete-icon,
.page-administration-people-setup #list-values-addedit-form-details .delete-class-button{
  margin-top:0
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
#modal-content #content-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width: 179px
}
/* Manage(Content) styles End */


/* Manage(Location) styles Start */
#location-basic-addedit-form-container .addedit-new-field-title {
    margin-top:-2px
}
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
#ctools-face-table #banner-basic-addedit-form  .addedit-form-wrapper  .mro-wrapper #access-search-list-class-title-keyword{
  left:28px
}
#exp-sp-administration-banner-addedit-form .addedit-firstcol-field-value input.addedit-edit-file-upload,
.page-administration-manage-banner .addedit-new-field .form-type-file input.addedit-edit-file-upload{
  width:155px
}
#banner-basic-addedit-form .addedit-left-col{
  width:97.2%
}
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
#admin-data-grid .discount-grid-wrapper .trainings-view-grid .ui-pager-control .ui-pg-table{
  min-width:165px
}
.page-administration-order-create #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container .select-list-dropdown {
  width: 135px
}
.page-administration-order-create #select-order-dialog #add_product_form_wrapper #admin-data-grid #admin_product_addorder_container  #search-dropdwn-list{
  width: 160px
}
.page-administration-commerce.page-administration-commerce-order .mro-wrapper #access-select-list-class-dropdown-list li{
  min-width:110px
}
.page-administration-commerce.page-administration-commerce-order .mro-wrapper #access-select-list-class-dropdown-list{
  left:-4px
}
.page-administration-commerce-order #page-container #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce-order #page-container #narrow-search-results-holder .narrowsearch-pub-add-list{
  right:14px
}
.page-administration-order #page-container .shoppingcart-hdr-v2 .cart-step-region div{
  padding-left:0
}
.page-administration-order-finish #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step,
.page-administration-order-pay #page-container .shoppingcart-hdr-v2 .cart-step-region .cart-step{
  padding-left:5px
}
.page-administration-order #admin_order .order-method-title{
  width:130px
}
/* Commerce(Order) styles End */


/* Commerce(Discount) styles Start */
.page-administration-commerce-discounts #admin-data-grid .ui-jqgrid-toppager .ui-pg-table{
  right:11px
}
.discount-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable input.multiselect-selectall{
  margin-left:-10px;
  position:relative;
  left:-5px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #catalog-question-basic-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-commerce-tax .pub-unpub-only-save-btn{
  float:none
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
.page-administration-commerce.page-administration-commerce-setting #commerce-cc-settings-form-wrapper .commerce-cc-settings-form .addedit-twocol-secondcol .addedit-new-field-title{
  width:98px;
  font-size:11px;
  padding-left:2px;
  padding-right:2px
}
/* Commerce(Settings) styles End */


/* site settings style starts*/
/* site settings style ends*/

/* Reports styles Start */
.page-reports #create-schedule-addedit-form .addedit-new-field-title {
    padding: 6px 3px 4px 6px
}
/* Reports styles End */


/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

/*Start title restriction style*/
.fade-out-title-container.cart-order-billing-name-fadeout-container {
    max-width: 210px
}
.fade-out-title-container.cart-order-user-name-fadeout-container {
  max-width: 220px
}
/*End title restriction style*/

.page-learning-my-profile #learner-myskill-details #myskill-parent .prof-parent{
  width:174px
}
body.page-learning.page-learning-myteam-search table#paintContentResults .top-record-div-left{
  width:304px
}
#sfserver-basic-addedit-form .addedit-form-cancel-container-actions{
	width: 152px;
  }