#activity-pager, #userdetailsactivity-pager {
  position:relative
}
#activity-pager_center, #userdetailsactivity-pager_center {
  width:100%
}
#activity-pager_center .ui-pg-table, 
#userdetailsactivity-pager_center .ui-pg-table {
  float:right;
  position:static;
  white-space: nowrap
}
#wizarad-myprofile-activity .ui-jqgrid .ui-jqgrid-htable th div {
  color:#666;
  font-size:13px;
  margin-top:0;
  display:none
}
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  color:#666;
  font-size:13px;
  vertical-align:top
}
#wizarad-myprofile-activity #gview_myprofile-activity-details .ui-jqgrid-hbox,
#wizarad-myprofile-activity #gview_myprofile-activity-userdetails .ui-jqgrid-hbox {
  padding-left:4px
}
#gbox_myprofile-activity-details tr.ui-row-ltr td,
#gbox_myprofile-activity-userdetails tr.ui-row-ltr td {
  text-align:left;
}
#wizarad-myprofile-activity #gbox_myprofile-activity-details tr.ui-row-ltr td a.activity-remove-link,
#wizarad-myprofile-activity #gbox_myprofile-activity-userdetails tr.ui-row-ltr td a.activity-remove-link {
  color:#FF7924;
  text-decoration:none;
  cursor:pointer;
  font-size:11px;
  padding-left:7px
}
#wizarad-myprofile-activity .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  text-align:left;
  padding-left:4px
}
#activity-pager_left,
#userdetailsactivity-pager_left,
#activity-pager_right,
#userdetailsactivity-pager_right {
  display:none
}
#first_activity-pager,
#first_userdetailsactivity-pager,
#last_activity-pager,
#last_userdetailsactivity-pager {
  display:block
}
.ui-jqgrid .ui-separator{
  border:0
}
#gview_myprofile-activity-details .ui-state-default,
#gview_myprofile-activity-userdetails .ui-state-default {
  background:none;
  border:0;
  padding-left:8px
}
#myprofile-activity-details .activity-seperate,
#myprofile-activity-userdetails .activity-seperate {
  border-bottom:1px dotted #ccc;
  color:#999;
  padding:7px 0
}
#activity-pager,
#userdetailsactivity-pager {
  border:0;
  background:none
}
#next_activity-pager span,
#next_userdetailsactivity-pager span,
#prev_activity-pager span,
#prev_userdetailsactivity-pager span,
#first_activity-pager span,
#first_userdetailsactivity-pager span,
#last_activity-pager span,
#last_userdetailsactivity-pager span {
  background:none
}
#first_activity-pager,
#first_userdetailsactivity-pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -253px;
  width:27px;
  height:21px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#prev_activity-pager,
#prev_userdetailsactivity-pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px;
  width:24px;
  height:18px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#next_activity-pager,
#next_userdetailsactivity-pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px;
  width:29px;
  heidght:18px;
  padding-right:0;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#last_activity-pager, #last_userdetailsactivity-pager {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -302px;
  width:22px;
  height:21px;
  padding-right:0;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#wizarad-myprofile-activity .search-pagination-right {
  padding:0 8px 0 0 
}
.ui-jqgrid .ui-pg-table {
  position:normal
}
.ui-jqgrid .ui-pg-table td {
  line-height:22px;
  padding:0
}
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr .myactivity-table td.links-username,
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr .myactivity-table td.hourse-ago {
  padding-left:10px
}
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr .myactivity-table td.links-username {
  color:#333;
  font-size:14px;
  padding-left:4px;
  padding-right:4px
}
.activity-seperate td.links-username {
  paddinf-left:30px
}
.activity-seperate .myactivity-table td.links-username {
  padding-left:15px
}
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td.hourse-ago {
  color:#999;
  font-size:13px
}
#wizarad-myprofile-activity .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td.action-name {
  color:#666;
  padding-left:10px
}
.profile-img {
  padding-top:3px
}
#gbox_myprofile-activity-details .ui-jqgrid-hbox .ui-jqgrid-htable,
#gbox_myprofile-activity-userdetails .ui-jqgrid-hbox .ui-jqgrid-htable {
  display:none
}
.my-activity-wrapper {
  clear:both;
  padding:0 11px;
  position:relative
}
#myprofile-activity-details .myactivity-table .img-spacing,
#myprofile-activity-userdetails .myactivity-table .img-spacing {
  margin-top:0
}
#myprofile-activity-details .myactivity-table .img-spacing img,
#myprofile-activity-userdetails .myactivity-table .img-spacing img {
  height:36px;
  width:41px;
  margin:9px 5px 8px 4px
}
#myprofile-activity-details .myactivity-table .activity-tab-seperator,
#myprofile-activity-userdetails .myactivity-table .activity-tab-seperator {
  color:#999;
  float:left;
  padding:0 6px
}
.ui-state-default .ui-icon,
#myprofile-activity-details .ui-state-default .ui-icon,
#myprofile-activity-userdetails .ui-state-default .ui-icon {
  background:none
}
.ui-state-default .ui-pg-table .ui-icon {
  width:24px;
  height:20px
}
#catalog-users #next_expertus-online-datatable-pager {
  padding-right:0
}
#catalog-users #last_expertus-online-datatable-pager {
  padding-right:0
}
#activity-pager_center #data-table-page-view {
  top:1px
}
#activity-pager_center #data-table-page-view select.ui-pg-selbox {
  height:22px
}
#activity-pager {
  min-width: 667px
}