div.ctools-sample-modal-content {
	background:none;
	border:0;
	color:#2d2d2d;
	margin:0;
	padding:0;
	text-align:left
}
div.ctools-sample-modal-content #popups-overlay {
  background-color:transparent
}
div.ctools-sample-modal-content #popups-loading {
  width:248px;
  position:absolute;
  display:none;
  opacity:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:99
}
div.ctools-sample-modal-content #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px
}
div.ctools-sample-modal-content #popups-loading table,
div.ctools-sample-modal-content .popups-box table {
	margin:0
}
div.ctools-sample-modal-content #popups-loading tbody,
div.ctools-sample-modal-content .popups-box tbody {
	border:0
}
div.ctools-sample-modal-content .popups-box tr {
	background-color:transparent
}
div.ctools-sample-modal-content td.popups-border {
  background: url(../images/popups-border.png);
  background-color:transparent;
  border: 0
}
div.ctools-sample-modal-content td.popups-tl,
div.ctools-sample-modal-content td.popups-tr,
div.ctools-sample-modal-content td.popups-bl,
div.ctools-sample-modal-content td.popups-br {
  background-repeat: no-repeat;
  height:10px;
  padding:0
}
div.ctools-sample-modal-content td.popups-tl { background-position: 0 0}
div.ctools-sample-modal-content td.popups-t,
div.ctools-sample-modal-content td.popups-b {
  background-position: 0 -40px;
  background-repeat: repeat-x
}
div.ctools-sample-modal-content td.popups-tr { background-position: 0 -10px; width: 10px}
div.ctools-sample-modal-content td.popups-cl,
div.ctools-sample-modal-content td.popups-cr {
  background-position: -10px 0;
  background-repeat: repeat-y;
  width:10px
}
div.ctools-sample-modal-content td.popups-cl,
div.ctools-sample-modal-content td.popups-cr,
div.ctools-sample-modal-content td.popups-c { padding:0; border:0 }
div.ctools-sample-modal-content td.popups-c { background:#fff }
div.ctools-sample-modal-content td.popups-bl { background-position: 0 -20px }
div.ctools-sample-modal-content td.popups-br { background-position: 0 -30px; width: 10px }
div.ctools-sample-modal-content .popups-box,
div.ctools-sample-modal-content #popups-loading {
  border: 0 solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent
}
div.ctools-sample-modal-content .popups-container {
  overflow:hidden;
  height:100%;
  background-color:#fff
}
div.ctools-sample-modal-content div.popups-title {
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  margin-bottom:0px;
  background-color:transparent;
  border:0 solid #ce5c00;
  padding:4px 10px 5px;
  color:white;
  font-size:1em;
  font-weight:bold
}
div.ctools-sample-modal-content .popups-body {
  background-color:#fff;
  padding:8px
}
div.ctools-sample-modal-content .popups-box .popups-buttons,
div.ctools-sample-modal-content .popups-box .popups-footer {
  background-color:#fff
}
div.ctools-sample-modal-content .popups-title a.close {
  color: #fff;
  font-size:12px;
  font-weight:bold;
  text-decoration:none
}
div.ctools-sample-modal-content .popups-close {
	font-size:120%;
	float:right;
	text-align:right
}
div.ctools-sample-modal-content .modal-loading-wrapper {
	width:220px;
	height:19px;
	margin:0 auto;
	margin-top:2%
}
div.ctools-sample-modal-content tbody{
	border:none
}
div.ctools-sample-modal-content .modal-content .modal-throbber-wrapper img {
  margin-top: 100px
}
/* #modalContent.ctools-content-launch-style .content-launch-iframe {
  min-height: 510px;
}
#modalContent.ctools-content-launch-style.ctools-content-launch-style-widget .content-launch-iframe {
  min-height: 100%;
} */
#modalContent .fullscreen-mode {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}
div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popup-block-footer-right {
  float: right;
  right: auto;
  margin-top: -10px;
  position: relative;
}
div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-close {
  width: auto;
  margin-left: 10px;
}
div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-maximize .maximize,
div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-minimize .minimize{
  text-decoration: none;
  font-family: VideoJS;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
}
div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-maximize .maximize:before {
  content: '\f108';
}

div.ctools-sample-modal-content.ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-minimize .minimize:before {
  content: '\f109';
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body {
  padding: 5px;
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body #content-to-maximize {
	height: 100%;
	width: 100%;
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body .close-full-screen-wrapper {
    background-color: #404040;
	position:absolute;
	right:0;
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body .close-full-screen-wrapper a.close-full-screen {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: arial;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    top: 0;
    width: 20px;
}
/* Styles for Modal Content Popup in IE10 */
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body .close-full-screen-wrapper {
  position:relative;
  height:20px;
  background:#777;
  opacity:0.8;
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body {
  width:auto
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body #content-to-maximize {
  padding:0
}
#modalContent .ctools-modal-content-fullscreen-enabled .theme-ctool-popup {
  height:100%;
  width: 100%;
}
/* #modalContent .ctools-modal-content-fullscreen-enabled .theme-ctool-popup td.popups {
  background:#fff
} */
#modalContent .ctools-modal-content-fullscreen-enabled .theme-ctool-popup tr:last-child td {
  height:10px
}
#modalContent .ctools-modal-content-fullscreen-enabled .theme-ctool-popup .popups-container-newui {
  width: 100%;
  float: none;
}
#modalContent .ctools-modal-content-fullscreen-enabled .theme-ctool-popup td.popups {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
#modalContent.ctools-content-launch-style div.ctools-sample-modal-content .popups-body .iframe-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .block-title-left {
  border-radius: 0;
}
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup tr:last-child {
  display: none;
}
#modalContent.ctools-content-launch-style .ctools-modal-content-fullscreen-enabled.fullscreen-mode table.theme-ctool-popup .popups-body {
  padding: 0;
}
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .block-title-left,
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .block-title-right,
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .popups-title {
  height: 25px;
}
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .popups-title,
.ctools-modal-content-fullscreen-enabled.fullscreen-mode .theme-ctool-popup .modal-title {
  line-height: 25px;
}
.ctools-modal-content .ui-icon-gripsmall-diagonal-se {
  background-image: url(/misc/ui/images/ui-icons_222222_256x240.png);
  background-position: -64px -224px;
}