/* Start - overrides for Who's Online of user.module*/ 
#block-user-online .region-sidebar-widget-bg p {
	display:none;
}

#block-user-online .whos-is-online .item-list ul li {
  list-style-type: none;
  margin:0;
  padding:10px 0px;
  border-top:1px dotted #cccccc;
  border-bottom:0 none;
}

#block-user-online .whos-is-online .item-list ul li.first {
  list-style-type: none;
  margin:0;
  padding:10px 0px;
  border-bottom:0 none;
  border-top:0 none;
}

#block-user-online .no-online-user-item-list {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
/* End - overrides for Who's online of user.module */


/* View uploaded picture popup in People Admin screen is not aligned properly in CHROME browser. */
body.page-portalpages .UserProfileInfo {
  float: left;
  font-size: 13px;
  width: 172px;
  padding: 5px 5px 0px 5px;
  border: 1px solid #cccccc;
  /* 
  width:93%;
  padding:10px 10px 0px 10px; 
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  */
  color: #333333;
  height: 80px;
}


/* Who is online qtip popup style */
body.page-learning-enrollment-search .UserProfileInfo {
  float: left;
  font-size: 13px;
  width:94%;
  padding:10px 10px 0px 10px; 
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  color: #333333;
  /* border-bottom:1px solid #cccccc;
  height: 80px; */
}
.whois-online-picture {
	float:left;
	width:15%;
	padding-right:10px;
}
.whois-online-user-info {
	float:left;
	width:81%;
}
.UserProfile_box {
	background:#ffffff;
}
.whoisonline-holder .block-title {
  float: left;
} 
.whoisonline-holder .qtip-title .qtip-button {
/*  padding-right: 0px; */
}

.UserProfileInfo .whois-online-user-session {
  width:100%;
  overflow:hidden;
  display:block;
}
.UserProfileInfo .user-profile-text {
  padding-bottom:6px;  
}
.UserProfileInfo .whois-online-list-items {
  width:100%;
  padding-bottom:5px;
} 
.UserProfileInfo .whois-online-list-items .user-description {
  float:left;
  width:30%;
}
.UserProfileInfo .whois-online-list-items .user-details {
  float:left;
  width:70%;
  word-wrap: break-word;
}
#whois-online-loader {
	min-height:100px;
}
.whoisonline-holder .qtip-content {
  width: -moz-available;
}
.theme-ctool-popup #my-login-container .admin-save-button-container {
  left: 146px;
  margin: -24px 0 0 0;
  position: absolute;
}
#my-login-container .admin-save-button-container {
  left: 150px;
  margin: -24px 0 0 0;
  position: absolute;
}
#my-login-container .admin-save-button-middle-bg {
  float:left;
  width:auto;
}
#my-login-container .learner-sign-close-link {
  background: none;
  color: #4686DD;
  float: left;
  margin: 4px 0 0;
  padding: 0 10px 0 0;
}
/* new theme Ui changes*/
.theme-ctool-popup #my-login-container .learner-sign-close-link {
  background: none;
  color: #474747;
  float: left;
  border:0px;
  text-transform:uppercase;
  font-size:11px;
  margin:0px;
  padding:0px;
  font-family: proximanovabold;
}
.theme-ctool-popup .white-btn-bg-container{
  margin-left:208px;
}	
.theme-ctool-popup  #my-login-container .admin-save-button-container {
  float:none;
}
/* Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.theme-ctool-popup #my-login-container .admin-save-button-container{
		left:149px;
	}
}