#learner_mylearning_announcement h2.block-title {
  text-transform: capitalize;
}
#learner_mylearning_announcement .spotlight-title-breaker {
  display: block;
  height: 0;
  margin-top: 5px;
}
#learner_mylearning_announcement .spotlight-item-title {
  color: #4687DD;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}
#learner_mylearning_announcement .spotlight-block {
  margin-left:0px;  
}
.mylearning-announcement-content {
  border-left: solid 1px #CDCDCD;
  border-right: solid 1px #CDCDCD;
  background-color: #fff;
  color: #333;
}
.mylearning-announcement-inner {
  padding: 0px 11px;
}
.mylearning-announcement-inner .mylearning-announcement-item {
  border-bottom: 1px dotted #CCCCCC;
  display: block;
  padding: 14px 0;
}
.mylearning-announcement-inner .show-hide {
  float: right;
  color: #FF7924;
  display: inline-block;
  height: 13px;
  text-decoration: none;
  width: 10px;
  margin-top: 3px;
  cursor: pointer;
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1491px;
}
.mylearning-announcement-inner .expand {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1478px;
  margin-top: 9px;
}
.mylearning-announcement-inner .ui-state-default, 
.mylearning-announcement-inner .ui-widget-content .ui-state-default, 
.mylearning-announcement-inner .ui-widget-header .ui-state-default {
  background: none;
  border: none;
} 
.mylearning-announcement-inner .my_learning_announcement_pager {
  background: none;
  border: none;
}
.mylearning-announcement-inner .mt-action-row .actionLink {
  width: 88px;
  float: right;
  color: #fff;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -2px -351px;
}
.mylearning-announcement-inner #my_learning_announcement_pager_left,
.mylearning-announcement-inner #my_learning_announcement_pager_right {
  display: none; 
}
.mylearning-announcement-inner #first_my_learning_announcement_pager,
.mylearning-announcement-inner #last_my_learning_announcement_pager {
  display: none;
}
.mylearning-announcement-inner #next_my_learning_announcement_pager {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -126px -303px;
  border: 0 none;
  height: 20px;
  opacity: 8;
  padding-right: 8px;
  width: 22px;
  cursor: pointer;
  display: inline-block;
  visibility: visible;
}

.mylearning-announcement-inner #prev_my_learning_announcement_pager {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -93px -303px;
  border: 0 none;
  height: 20px;
  opacity: 8;
  padding-right: 8px;
  width: 22px;
  cursor: pointer;
  display: inline-block;
  visibility: visible;
}
.mylearning-announcement-inner #next_my_learning_announcement_pager span, 
.mylearning-announcement-inner #prev_my_learning_announcement_pager span {
  background: none;
}
.mylearning-announcement-inner .ui-state-highlight, 
.mylearning-announcement-inner .ui-widget-content .ui-state-highlight {
  border: none;
}
.mylearning-announcement-inner .ui-state-highlight a, 
.mylearning-announcement-inner .ui-widget-content .ui-state-highlight a {
  /*color: #4687DD;*/
  color: #fff;
}
.mylearning-announcement-inner .ui-state-hover, 
.mylearning-announcement-inner .ui-state-active {
  background: url('');
  border: none;
}

/*firefox 8 fixes*/
.mylearning-announcement-inner .ui-jqgrid tr.ui-row-ltr td,
.mylearning-announcement-inner .ui-jqgrid tr.jqgrow td{
  border: none 0px;
}
.mylearning-announcement-inner .ui-state-highlight,
.mylearning-announcement-inner .ui-widget-content, 
.mylearning-announcement-inner .ui-widget-content .ui-state-highlight {
  border: none 0px;
  background-color: Transparent;
}
.mylearning-announcement-inner .mylearning_announcement_msg {
    color: #999999;
    display: none;
    padding: 12px 0 5px;
    text-align: center;
}
/***** Announcements End ***/