.dd {
  text-align:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  position:relative
}
.dd .ddTitle {
  padding:2px 0 3px 0;
  text-indent:0;
  cursor:default;
  overflow:hidden;
  height:16px;
  color:#4682B3;
  font-size:10px
}
.dd .ddTitle span.arrow {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1494px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  float:right;
  text-decoration:none;
  width:10px;
  cursor:pointer
}
.dd .ddTitle span.ddTitleText {
  text-indent:1px;
  overflow:hidden;
  line-height:16px
}
.dd .ddTitle span.ddTitleText img {
  text-align:left;
  padding:0 2px 0 0
}
.dd .ddTitle img.selected {
  padding:0 3px 0 0;
  vertical-align:top
}
.dd .ddChild {
  position:absolute;
  border:1px solid #ccc;
  border-top:0;
  display:none;
  margin:0;
  width:auto;
 /* overflow:auto;
  overflow-x:hidden;*/
  background-color:#fff;
  padding:0
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
  padding-left:10px
}
.dd .ddChild a {
  display:block;
  padding:5px;
  text-decoration:none;
  color:#000;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:10px
}
.dd .ddChild a:hover {
  background-color:#DBEEFA
}
.dd .ddChild a img {
  border:0;
  padding:0;
  vertical-align:middle
}
.hidden {
  display:none
}
.dd .borderTop {
  border-top:1px solid #c3c3c3
}
.dd2 {
  text-align:left;
  background-color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  position:relative
}
.dd2 .ddTitle {
  background:url(msDropDown.gif) no-repeat;
  padding:0 3px;
  text-indent:0;
  cursor:default;
  overflow:hidden;
  height:36px
}
.dd2 .ddTitle span.arrow {
  background:url(icon-arrow.gif) no-repeat 0 0;
  float:right;
  display:inline-block;
  width:27px;
  height:27px;
  cursor:pointer;
  top:5px;
  position:relative;
  right:2px
}
.dd2 .ddTitle span.ddTitleText {
  text-indent:1px;
  overflow:hidden;
  line-height:33px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:16px;
  font-weight:bold;
  color:#fff
}
.dd2 .ddTitle span.ddTitleText img {
  text-align:left;
  padding:0 2px 0 0
}
.dd2 .ddTitle img.selected {
  padding:0 2px 0 0;
  vertical-align:top;
}
.dd2 .ddChild {
  position:absolute;
  border:1px solid #c3c3c3;
  border-top:0;
  display:none;
  margin:0;
  width:auto;
  overflow:auto;
  overflow-x:hidden;
  background-color:#fff;
  font-size:14px;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {
  padding-left:10px
}
.dd2 .ddChild a {
  display:block;
  padding:3px 0 3px 3px;
  text-decoration:none;
  color:#000;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer
}
.dd2 .ddChild a:hover {
  background-color:#66CCFF;
}
.dd2 .ddChild a img {
  border:0;
  padding:0 2px 0 0;
  vertical-align:middle
}
.dd2 .ddChild a.selected {
  background-color:#66CCFF
}
.dd2 .borderTop {
  border-top:1px solid #c3c3c3
}
.dd2 .noBorderTop {
  border-top:0
}
.dd .ddChild a.sprite, .dd .ddChild a.sprite:visited {
  background-repeat:no-repeat;
  padding-left:24px
}
.dd .ddChild a.calendar, .dd .ddChild a.calendar:visited {
  background-position:0 -404px
}
.dd .ddChild a.shoppingcart, .dd .ddChild a.shoppingcart:visited {
  background-position:0 -330px
}
.dd .ddChild a.cd, .dd .ddChild a.cd:visited {
  background-position:0 -439px
}
.dd .ddChild a.email, .dd .ddChild a.email:visited {
  background-position:0 -256px
}
.dd .ddChild a.faq, .dd .ddChild a.faq:visited {
  background-position:0 -183px
}
.dd .ddChild a.games, .dd .ddChild a.games:visited {
  background-position:0 -365px
}
.dd .ddChild a.music, .dd .ddChild a.music:visited {
  background-position:0 -146px
}
.dd .ddChild a.phone, .dd .ddChild a.phone:visited {
  background-position:0 -109px
}
.dd .ddChild a.graph, .dd .ddChild a.graph:visited {
  background-position:0 -73px
}
.dd .ddChild a.secured, .dd .ddChild a.secured:visited {
  background-position:0 -37px
}
.dd .ddChild a.video, .dd .ddChild a.video:visited {
  background-position:0 0
}
#block-currency-dropdown-currency-selection .hide_multicurrency_select {
  display:none
}
.region-multi-currency {
  float:right;
  padding-right:8px
}
.region-multi-language {
  float:left;
  padding-right:8px
}
#block-currency-dropdown-currency-selection .form-item-currency-dropdown-select {
  margin-top:3px;
  margin-bottom:0
}

#edit-currency-dropdown-select_titletext {
  padding-right:3px
}
#separator_multi_currency {
  float:right;
  margin-left:0;
  padding-left:0
}
#currency_flag {
  margin-top:7px
}
.currency_vertical-bar-separater {
  border-left:1px solid #4682B3;
  float:left;
  height:12px;
  margin:7px 0 0 0;
  padding-left:8px;
  width:1px
}
#page-container .dd .ddTitle {
  color:#464646;
  font-weight:bold;
  padding:0 5px
}
#page-container .dd .ddTitle span.ddTitleText {
  line-height:13px;
  text-transform:uppercase;
  font-family:ProximaNovaBold, Arial;
  font-weight:normal;
  font-size:11px
}
#page-container .currency_vertical-bar-separater {
  margin-top:0;
  border-left:1px solid #EDEDED;
  height:22px
}
#page-container .dd .ddTitle span.arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1495px;
  color:#FF7924;
  display:inline-block;
  height:10px;
  float:right;
  text-decoration:none;
  width:10px;
  cursor:pointer;
  margin-top:5px
}
#page-container #currency-dropdown-form .dd .ddTitle span.arrow {
  margin-top:3px
}
#page-container #currency_flag {
  margin-top:0;
  padding:0 6px 0 0
}
#page-container #block-currency-dropdown-currency-selection .form-item-currency-dropdown-select {
  margin-top:1px;
  margin-bottom:0
}
#page-container #currency_flag span {
  text-transform:uppercase;
  color:#474747;
  font-size:11px;
  font-family:ProximaNovaBold, Arial
}
#page-container .dd .ddTitle span.ddTitleText img {
  text-align:left;
  padding:0 2px 0 0;
  display:none
}
#page-container .dd .ddChild {
  position:absolute;
  border:1px solid #EBEBEB;
  border-width:0 1px 1px 1px;
  border-radius:0 0 10px 10px;
  border-top:0;
  display:none;
  margin:0;
  width:auto;
 /* overflow:auto;
  overflow-x:hidden;*/
  background-color:#fff;
  padding:0
}
#page-container .dd .ddChild a:hover {
  background-color:#F5F5F5
}
/*
#page-container .dd #edit-currency-dropdown-select_child .jspPane a {
  border-top:1px solid #EBEBEB;

}*/
#page-container #currency-dropdown-form  #edit-currency-dropdown-select_child {
  right:0;
  top:20px;
  z-index:9999
}

/* Scroll Bar CSS*/

#page-container .dd #edit-currency-dropdown-select_child,
#admin_product_addorder_container .dd #edit-admin-currency-dropdown-select_child{
  max-height: 137px;
  border-top: 1px solid #ebebeb;
  overflow: hidden
}


#page-container .dd .ddChild .jspVerticalBar .jspArrowDown,
#page-container .dd .ddChild .jspVerticalBar .jspArrowUp,
#admin_product_addorder_container .dd .ddChild .jspVerticalBar .jspArrowDown,
#admin_product_addorder_container .dd .ddChild .jspVerticalBar .jspArrowUp {
   height: 3px;
   border:0;
   padding:2px 0;
   background: #ffffff
}
#page-container .dd .ddChild a,
#admin_product_addorder_container .dd .ddChild a{
  border-top: 1px solid #ebebeb;
}
#admin_product_addorder_container .dd .ddChild a{
	  line-height: 17px;
}
#page-container .dd .ddChild a:first-child,
#admin_product_addorder_container .dd .ddChild a:first-child{
  border-top:none;
}

#page-container .dd .ddChild a:last-child:hover,
#admin_product_addorder_container .dd .ddChild a:last-child:hover{
  border-radius:0 0 10px 10px
}

#page-container .dd #edit-currency-dropdown-select_child .jspVerticalBar,
#page-container .dd #edit-lang-dropdown-select_child .jspVerticalBar,
#admin_product_addorder_container .dd #edit-admin-currency-dropdown-select_child .jspVerticalBar{
  width: 6px;
}
#page-container .dd #edit-currency-dropdown-select_child .jspVerticalBar .jspTrack:hover{
  border: none;
  background: none;
}
#page-container .dd #edit-currency-dropdown-select_child .jspVerticalBar .jspDrag:hover{
  border: none;
  background: #cbcbcb
}

.region-multi-language #block-currency-dropdown-currency-selection #currency-dropdown-form .currencynoselect{
	padding-left: 5px
}
/* Scroll Bar CSS*/
/* admin order related work */

#admin_product_addorder_container .dd .ddTitle {
  color:#464646;
  font-weight:bold;
  padding:0 5px
}
#admin_product_addorder_container .dd .ddTitle span.ddTitleText {
  line-height:13px;
  text-transform:uppercase;
  font-family:ProximaNovaBold, Arial;
  font-weight:normal;
  font-size:11px
}
#admin_product_addorder_container .currency_vertical-bar-separater {
  margin-top:0;
  border-left:1px solid #EDEDED;
  height:22px
}
#admin_product_addorder_container .dd .ddTitle span.arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1495px;
  color:#FF7924;
  display:inline-block;
  height:10px;
  float:right;
  text-decoration:none;
  width:10px;
  cursor:pointer
}
#admin_product_addorder_container #currency-dropdown-form .dd .ddTitle span.arrow {
  margin-top:3px
}
#admin_product_addorder_container #currency_flag {
  margin-top:0;
  padding:0 6px 0 0
}
#admin_product_addorder_container #block-currency-dropdown-currency-selection .form-item-currency-dropdown-select {
  margin-top:1px;
  margin-bottom:0
}
#admin_product_addorder_container #currency_flag span {
  text-transform:uppercase;
  color:#474747;
  font-size:11px;
  font-family:ProximaNovaBold, Arial
}
#admin_product_addorder_container .dd .ddTitle span.ddTitleText img {
  text-align:left;
  padding:0 2px 0 0;
  display:none
}
#admin_product_addorder_container .dd .ddChild {
  position:absolute;
  border:1px solid #EBEBEB;
  border-width:0 1px 1px 1px;
  border-radius:0 0 10px 10px;
  border-top:0;
  display:none;
  margin:0;
  width:auto;
  overflow:auto;
  overflow-x:hidden;
  background-color:#fff;
  padding:0
}
#admin_product_addorder_container .dd .ddChild a:hover {
  background-color:#F5F5F5
}

#admin_product_addorder_container #currency-dropdown-form  #edit-admin-currency-dropdown-select_child {
  right:0;
  top:20px;
  width:78px;
  z-index:9999
}
#page-container .form-item-currency-dropdown-select .dd .ddTitle span.ddTitleText .spansym,
#page-container #block-currency-dropdown-currency-selection #language_flag .spansym{
	text-transform: none;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: bold
}
#admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowDown,
#admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowUp,
#admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowDown,
#admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowUp {
   height: 3px;
   border:0;
   padding:2px 0
}
#admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowDown, #admin-currency-dropdown-form .dd .ddChild .jspVerticalBar .jspArrowUp{
	background: #ffffff;
}
#admin-currency-dropdown-form .dd #edit-admin-currency-dropdown-select_child .jspVerticalBar .jspTrack:hover{
  border: none;
  background: none;
}
#admin-currency-dropdown-form .dd #edit-admin-currency-dropdown-select_child .jspVerticalBar .jspDrag:hover{
  border: none;
  background: #cbcbcb;
}

/* admin order related work */
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #page-container #currency_flag {
    margin-top:0
  }
/*  #edit-currency-dropdown-select_msdd {
    min-width:66px
  }*/
  .region-multi-language {
	float: none;
  }
}
