#catalog-course-basic-addedit-form-container  #catalog-attachment-disp-container td.attachment-empty-column-height {
  height:36px
}
#program-tp-basic-addedit-form-container .crs-tab-titles-container td.attachment-empty-column-height {
  height:35px
}
#schedule-qtip-popup .schedule-exportcontainer-page{
  right:150px
}
#schedule-qtip-popup .schedule-list-wrapper .page-pipeline{
  right:148px
}
#schedule-qtip-popup .schedule-list-wrapper .datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table{
  left:214px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container #pager-ins_center td.search-pagination-right {
  min-width:90px
}
.page-learning-enrollment-search .block-exp-sp-instructor-desk #instructor-result-container .ui-jqgrid-btable td.search-pagination-right {
  min-width:110px
}
body.page-learning.page-learning-myteam-search .search-record-paint .myteam-learning-btn{
  margin-right: 8px
}
/*rendering*/
.addedit-customattributes-wrapper #create-dd-list {
	margin-left: 21px;
}
#new-customattribute-wrapper-checkbox #create-dd-list {
    margin-left: 21px;
}
#new-customattribute-wrapper-dropdown #create-dd-list {
    margin-left: 10px;
}
.page-administration-manage-customattribute #page-container #create-dd-list .create-dd-list-arrow {
    left: 76px;
}
/* #myskill-parent .learner-save-skill-button .addedit-form-cancel-container-actions{
  margin-right:21px
} */
/*#custom_attribute_0078975*/
#customattribute-basic-addedit-form-container #admin-save-screen-button {
	margin-left: 0
}
.page-learning-my-account  #page-container #learner-myaccount-details .content #exp-sp-my-account-form .my-account-action-box{
  margin-left:232px
}
.page-learning-my-account-preference.page-learning-my-account #page-container #learner-myaccount-details #wizard-form-wrapper .pref-save-cancel-container-alignment{
  margin-left:262px
}
#page-container #lnr-myteam-approval .sort-by-links {
	left:-44px;
}