
div.ldap-pwd-abscent {
  background-image:url('/misc/message-16-error.png');
  background-repeat:no-repeat;
  background-position: 2px 10px;
  padding-left: 20px;
  border: solid 1px #ebb;
}
div.ldap-pwd-present {
  background-image:url('/misc/message-16-ok.png');
  background-repeat:no-repeat;
  background-position: 2px 10px;
  padding-left: 20px;
  border: solid 1px #beb;
}
.ldap-container {
  width:97%;
  margin-left:11px;
  padding-top:10px;
}
#ldap-servers-admin-form .form-submit {
  text-align:right;
}
.ldap-server-container {
  padding:10px 0 0 16px; 
}
.ldap-container .form-radio, .ldap-container .form-checkbox {
  float : left;
  margin:0;
  margin-right:5px;
}
.ldap-container .form-button-action, .ldap-container-profile .form-button-action {
  clear:both;
  text-align: right;
}
.ldap-container .form-item {
  clear : both;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.ldap-container-profile {
  width:97%;
  margin-left:15px;
  padding-top:10px 17px;
}
.ldap-container-profile .form-item {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ldap-container-profile .form-item label {
  display: block;
  width:26%;
  float:left;
}
.ldap-container-profile .form-item .form-text {
  padding: 2px;
  display: block;
  float:left;
}