/* Added by vetrivel.P */
.user-upload-icon {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat scroll -161px -790px;
    display: block;
    float: left;
    height: 18px;
    overflow: hidden;
    width: 19px;
    cursor: pointer;
}
/*#custom_attribute_0078975*/
.page-administration-people-user #custom_attr_container .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
	width:auto;	
	float:none;
}

.page-administration-people-user #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical.cus_attr_jscroll_set .jspPane{
    width: 183px;
}
.page-administration-people-user .left-side-container .userview-label,
.page-administration-people-user .right-side-container .userview-label
{
    word-wrap: break-word;
}
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col .addedit-twocol-secondcol #vtip_custom_attr,
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col .addedit-twocol-secondcol .addedit-mandatory{  
	float: none; 
}


#user-basic-addedit-form #custom_attr_container .addedit-twocol-secondcol{
	 float:left;
 	/* padding-left:35px */
 	padding-left:34px
} 

/*.ios-checkbox{
	float:left;
}*/
 
.page-administration-people-user .addedit-long-description-container .addedit-new-field-value{
	 width: 528px
}

.page-administration-people-user #user-basic-addedit-form #custom_attr_container textarea.addedit-edit-textarea{
   height: 50px;
   max-width: 531px;
   min-width: 531px
}

.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-new-field-value textarea.addedit-edit-textarea{
 /*  color:none;	*/ 
}
 

.page-administration-people-user #user-basic-addedit-form #custom_attr_container .form-type-select .error{
   border: 1px solid #f00
} 
 
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .form-textarea-wrapper .error{
   /*color: #8c2e0b*/ 
}

.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_radio{
	margin-left: 0;
	position: relative;
    top: -3px
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_checkbox{
	margin: -1px 0 0
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container #entity-wrapper{
	display: inline-flex;
	margin-top: 5px
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .date-container .addedit-twocol-secondcol{
 	width:45%
 }
 

.page-administration-people-user #user-basic-addedit-form #custom_attr_container #vtip_custom_attr{
    position: relative;
    top: 1px;
}

.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-new-field-title{
 word-wrap: break-word
}

.fade-out-title-container.admin-narrow-userview-customattribute-left-col-fadeout-container,
.fade-out-title-container.admin-narrow-userview-customattribute-right-col-fadeout-container{
  max-width:170px
}
 
#help_text_upload{
	position: relative;
}
.download-arrow{
	background: rgba(0, 0, 0, 0) url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat scroll -181px -793px;;
    width: 20px;
    height: 16px;
    left: -20px;
    position: relative;
    top: 13px;
}
#download_template #template #download-link{
	color: #0098d6;
	float: none;
}
#download_template{
	background-color: #fff;
    border: 1px solid #a6c9e2;
    left: 143px;
    position: absolute;
    right: -250px;
    top: -9px;
    display: none;
    z-index: 100;
    border-radius: 5px;
}
.user_upload_form{
	cursor: pointer;
	height: 21px;
    width: 103px;
}
#download_template p{
	margin: -10px 5px 5px 5px;
	cursor:text;
	font-size: 12px;
	color: #777;
}
.file_upload_css {
	cursor: pointer;
    height: 22px;
    left: -7px;
    opacity: 0;
    position: relative;
    top: -20px;
    width: 100px;
}
.info-user-upload{
    float: right;
    left: 104px;
    margin: 3px 5px 0 0;
    position: absolute;
    top: 1px;
}
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer; 
}
 /* End for vetrivel.P */
 #user-basic-addedit-form #edit-status {
  width:150px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  width:142px
}
#user-basic-addedit-form .addedit-twocol-secondcol {
  float:right;
  padding-right:12px
}
#user-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:110px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  padding:2px 5px 2px 0;
  line-height:23px
}
#user-basic-addedit-form  .addedit-twocol-firstcol .addedit-new-field-title,
#user-basic-addedit-form  .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left;
  line-height:20px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-value,
#user-basic-addedit-form .addedit-secondcol-field-value,
#user-basic-addedit-form .addedit-firstcol-field-value {
  padding:1px 0
}
#user-basic-addedit-form .addedit-pwd-fields-set-lcol,
#user-basic-addedit-form .addedit-pwd-fields-set-rcol {
  display:inline;
  float:left
}
#user-basic-addedit-form .addedit-pwd-fields-set-lcol {
  width:auto
}
#user-basic-addedit-form input.addedit-edit-textfield {
  width:529px;
  border:1px solid #E5E5E5;
  height:18px;
  padding:0
}
#user-basic-addedit-form textarea.addedit-edit-textarea {
  height:24px;
  line-height:18px;
  padding-top:2px
}
#user-basic-addedit-form  .addedit-form-cancel-container-actions {
  margin-right:21px
}
#user-basic-addedit-form .addedit-new-field {
  clear:both;
  width:690px; 
  float:none
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-ac-textfield {
  width:188px;
  background-position:100% 3px;
  height:18px;
  padding:0
}
#user-basic-addedit-form .addedit-new-field-two-col input.ac_loading {
  background-position:100% -14px;
  height:18px
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-textfield {
  border:1px solid #E5E5E5
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-textfield,
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-dropdown {
  width:188px;
  margin:0;
  padding:0;
/*   height:17px */
}
#user-basic-addedit-form .form-type-select select{
  height:18px;
  border:0
}
#user-basic-addedit-form .addedit-pwd-fields-set .addedit-pwd-fields-set-rcol {
  width:530px;
  padding:0 0 0 150px;
  clear:both
}
#user-basic-addedit-form .addedit-pwd-fields-set .addedit-pwd-fields-set-rcol .addedit-checkbox-suffixed-title {
  text-align:left;
  width:auto
}
#user-basic-addedit-form .separator{
  border-bottom:1px solid #E5E5E5;
  margin:8px 20px 8px 0
}
#user-org-addedit-form .addedit-edit-dropdown,
#user-basic-addedit-form .addedit-edit-dropdown {
  width:193px;
  border:1px solid #7F9DB9
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions-row,
#user-org-addedit-form .addedit-form-cancel-and-save-actions-row,
#user-addr-addedit-form .addedit-form-cancel-and-save-actions-row{
 margin-top:0px;
 float:left;
 margin-bottom:7px
}		 
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_labels,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_labels {
  color:#999;
  font-weight:normal;
  padding-top:0;
  width:635px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_labels .label_selected,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_labels .label_selected {
  margin-right:322px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_available,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_available,
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers select.multiselect_unsel,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs select.multiselect_unsel {
  width:185px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers ul.multiselect_btns,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs ul.multiselect_btns {
  margin:20px 5px 0;
  padding:0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_remove,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_remove {
  width:14px;
  height:25px
}
#user-org-addedit-form  #addedit-wrapper-multiselect-omanagers select.multiselect_sel,
#user-org-addedit-form  #addedit-wrapper-multiselect-oorgs select.multiselect_sel {
  width:185px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add {
  margin-bottom:0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add a,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add a {
  background:url("images/add.png") no-repeat 0 0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add a:hover,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add a:hover {
  background:url("images/add.png") no-repeat 0 0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_remove a,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_remove a {
  background:url("images/remove.png") no-repeat 0 0
}
#user-org-addedit-form .addedit-left-col #two-col-row-hire_date_terminated_date .addedit-twocol-secondcol .addedit-new-field-title{
  text-align:right
}
#user-org-addedit-form .addedit-left-col #two-col-row-is_rehire_is_manager {
  width:558px
}
#user-org-addedit-form .addedit-twocol-firstcol .addedit-firstcol-field-value .addedit-edit-datefield,
#user-org-addedit-form .addedit-twocol-secondcol .addedit-secondcol-field-value .addedit-edit-datefield {
  width:125px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-and-save-actions {
  margin-right:45px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions .addedit-edit-cancel {
  margin-right:10px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .addedit-new-field-value,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .addedit-new-field-value {
  width:400px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions,
#user-org-addedit-form .addedit-form-cancel-and-save-actions,
#user-addr-addedit-form .addedit-form-cancel-and-save-actions {
  margin-right:41px
}
#user-basic-addedit-form .addedit-edit-cancel,
#user-org-addedit-form .addedit-edit-cancel,
#user-addr-addedit-form .addedit-edit-cancel {
  margin-right:10px
}
.form-item-is-rehire input,
.form-item-is-instructor input{
  margin:0
}
#user-basic-addedit-form .pwd-confirmpwd-txtfield-container {
  width:550px;
  float:left
}
#user-org-addedit-form .form-item-org #edit-org,
#user-org-addedit-form .form-item-manager #edit-manager,
#user-org-addedit-form .form-item-location #edit-location {
  width:390px
} 		
#user-basic-addedit-form .form-item-files-picture #edit-picture {
  width:208px;
  font-size:13px
}
#user-org-addedit-form #two-col-row-hire_date_terminated_date .addedit-twocol-secondcol .addedit-secondcol-field-value {
  padding:4px 0 0 6px
}
#user-org-addedit-form #edit-additional-info {
  height:40px
}
#user-basic-addedit-form .delete-picture-chkbox {
  margin-left:155px
}
#user-basic-addedit-form .delete-picture-chkbox div input {
  margin:0
}
#user-basic-addedit-form .delete-picture-chkbox div label {
  vertical-align:top
}
#user-basic-addedit-form .addedit-form-cancel-container-actions{
  float:right
}
#user-basic-addedit-form .admin-custom-required-col2-dropdown{
  width:33.8%
}
#user-basic-addedit-form .addedit-new-field-title-custom{
 width:223px
}
#user-basic-addedit-form .custom-label-field {
 width:180px
}
#user-basic-addedit-form #edit-custom-fieldset table {
  width:100%
}
#user-org-addedit-form .addedit-form-cancel-container-actions {
  margin-right:-2px
}
.admin-narrow-search-user {
  margin-top:14px
}
#narrow-search-results-holder .narrow-search-results-item-action-list-user {
  margin-top:9px
}
.admin-user-upload-picture {
  width:250px
}
.theme-ctool-popup #user-basic-addedit-form .addedit-twocol-firstcol .ui-multiselect,
.theme-ctool-popup #user-basic-addedit-form .addedit-twocol-secondcol .ui-multiselect {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -4px -156px; 
  font-size:12px;
  color:#333;
  font-weight:normal;
  border-radius:10px ;
  background:none;
  border:0;
  width:192px;
  font-family:openSansRegular, Arial 
}
.theme-ctool-popup #user-basic-addedit-form .addedit-twocol-secondcol .ui-multiselect .ui-icon,
.theme-ctool-popup #user-basic-addedit-form  .addedit-twocol-firstcol .ui-multiselect .ui-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/select_icon.png") no-repeat right 0;
  height:19px;
  width:22px;
  margin:-3px 1px 0 0  
}
#page-container #user-basic-addedit-form .ui-icon-triangle-2-n-s{
  background-position:-128px -11px
}
.ui-corner-all {
  border-radius:0px 
}
#user-basic-addedit-form .addedit-edit-custom-label-field {
  width:117px;
  height:19px;
  margin-top:-2px
}
#user-basic-addedit-form #userbasic-custom-fields .admin-save-button-container {
  margin:0
}
#user-basic-addedit-form .admin-save-button-container {
  margin-bottom:0
}
#user-basic-addedit-form .addedit-customfields-wrapper td.delbtn-wrapper {
  padding:11px 0 0 3px;
  vertical-align:top
}
#user-basic-addedit-form .addedit-left-col {
  padding:15px 0 15px 17px;
  width:98.8%
}
#user-basic-addedit-form #bubble-face-table .addedit-left-col {
  padding:0;
}
#user-basic-addedit-form #userbasic-custom-fields .addedit-new-field {
  width:678px
}
#user-basic-addedit-form #userbasic-custom-fields .addedit-cfield-delbtn-wrapper .addedit-new-field {
  width:656px
}
#user-basic-addedit-form .admin-user-load-picture {
  width:38px;
  height:38px
}
#user-basic-addedit-form .admin-user-load-picture-delete {
  margin-left:10px
}
#user-basic-addedit-form .admin-user-load-picture-delete-label {
  vertical-align:middle
}
#user-basic-addedit-form .admin-delete-img {
  background:none;
  border:0;
  cursor:pointer;
  height:7px;
  padding-left:8px;
  padding-top:1px;
  width:7px		
}		 		
#user-basic-addedit-form #exp-sp-administration-user-basic-addedit-form .admin-delete-img {
  height:7px;
  width:7px
}
#user-basic-addedit-form #exp-sp-administration-user-basic-addedit-form #edit-user-profile-image-details.admin-delete-img {
  height:auto;
  width:auto
}
#user-basic-addedit-form .form-item textarea.error, #user-basic-addedit-form .form-item input.error {
  border:1px solid #f00
}
#admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip-up {
  position:absolute;
  right:170px;
  top:10px
}
#admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip {
  position:absolute;
  right:120px;
  top:-35px
}
.page-administration-people-organization #admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip,
.page-administration-people-organization #admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip-up{
  position:absolute;
  left:80px
}
#admin-data-grid .user-enrollment-div-cls #bubble-face-table {
  position:relative
}
#admin-data-grid .user-enrollment-div-cls .qtip-close-button {
  top:43px;
  z-index:100
}
#admin-data-grid .user-enrollment-div-cls #bubble-face-table tbody tr > td {
  border:0
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
  border:0 none ;
  position:relative;
  float:right;
  min-width:75px ;
  top:-39px;
  height:25px 
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  padding-right:0	
}
.page-administration-people-user #admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right span:first-child {
  padding:0 3px 0 0	
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-hdiv {
  margin-top:10px;
  border-bottom:0
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  height:25px;
  padding-right:0
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev {
  height:25px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls {
  width:40%;
  border-bottom:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  height:23px;
  padding:0;
  float:left;
  border-width:1px 0;
  margin:0 0 10px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-grid-div{
  clear:both;
  margin-top:35px
}
#admin-data-grid .user-enrollment-div-cls .input-field-grey{
  font:normal 12px openSansRegular, Arial
}
#admin-data-grid .user-enrollment-div-cls .ac_input {
  width:34.5%;
  border:0;
  display:inline-block;
  line-height:20px;
  padding-top:0;
  padding-right:20px;
  position:absolute;
  height:20px;
  font:normal 11px openSansRegular, Arial
}
#admin-data-grid .user-enrollment-div-cls .ac_input.ac_loading {
  background-position:100% -16px;
  height:20px
}
#admin-data-grid .user-enrollment-div-cls .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  border-right:0
}
#admin-data-grid .user-enrollment-div-cls .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background:none  
}
#admin-data-grid .user-enrollment-div-cls .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  text-align:left;
  font-weight:normal;
  border-left:1px solid #e5e5e5
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-loader-cls {
  width:100%;
  text-align:center
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-loader-cls .loadercontent table tbody tr > td {
  text-align:center;
  float:right
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-count-pipe-cls {
  color:#777;
  font-size:13px;
  font-family:openSansRegular, Arial
}
#admin-data-grid .user-enrollment-div-cls .narrow-text-search{
  float:right;	
  border-width:0;  
  height:18px;
  padding:0 4px 0 0
}
#admin-data-grid .user-enrollment-div-cls #user-enrollment-container{
  float:right;
  margin-top:-20px;
  position:relative
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-pipe-cls {
  padding-left:5px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-close-link {
  cursor:pointer;
  font-size:12px
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-bottom-row-cls {
  margin-top:20px;
  width:553px
}
.usr-enroll-grid-header-grey-cls {
  color:#2D2D2D;
  font-family:openSansRegular, Arial;
  font-size:9px;
  text-transform:capitalize;
  margin-top:-4px
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div {
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)"; 
  height:26px;
  color:#666;
  font-size:12px;
  font-family:proximanovabold;
  text-transform:uppercase;
  font-weight:normal;
  padding-left:10px;
  border:1px solid #e5e5e5; 
  border-width:1px 0
}
#page-container #narrow-search-results-holder #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable  tr.ui-row-ltr td{
  padding-left:0
}
#page-container #narrow-search-results-holder #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td span.vtip {
  font-family:OpenSansRegular, Arial
}
#page-container #narrow-search-results-holder #admin-data-grid .user-enrollment-div-cls.orgusers .ui-jqgrid-bdiv .ui-jqgrid-btable  tr.ui-row-ltr td{
  padding-left: 10px;
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  color:#666;
  font-size:12px;
  line-height:27px
}
#admin-data-grid .user-enrollment-div-cls .ui-pg-table .ui-pg-button .ui-state-disabled {
  width:0 
}
#admin-data-grid .user-enrollment-div-cls .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .norecords-msg-edit-page {
  padding-top:50px;
  height:80px
}
#user-basic-addedit-form .admin-save-button-container {
  padding-left:3px;
  margin-left:0
}
#user-basic-addedit-form{
  background:#fff
}
#page-container .admin-narrow-search-user {
  margin-top:0
}
.admin-narrow-search-user img{
  margin:7px;
  overflow:hidden
}
.theme-ctool-popup #user-basic-addedit-form .addedit-new-field-two-col .expertus-dropdown-icon {
  width:190px
}
.theme-ctool-popup #user-basic-addedit-form .addedit-new-field-two-col .expertus-dropdown-icon::after {
  content:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/select_icon.png");
  position:absolute;
  top:-1px;
  right:0;
  pointer-events:none
}
#user-basic-addedit-form .addedit-new-field-two-col .form-item-preferred-language .form-select,
#user-basic-addedit-form .addedit-new-field-two-col .form-item-preferred-timezone .form-select,
#user-basic-addedit-form .addedit-new-field-two-col .form-item-state .form-select,
#user-basic-addedit-form .addedit-new-field-two-col .form-item-country .form-select {
  float:left;
  width:310px;
  color:#2D2D2D
}
#user-basic-addedit-form .addedit-left-col .addedit-custom-field .addedit-new-field-value textarea.addedit-edit-textarea {
  max-width:530px;
  min-width:530px;	
  font-size:12px
}
#user-basic-addedit-form .addedit-left-col table.addedit-cfield-delbtn-wrapper .addedit-new-field-value textarea.addedit-edit-textarea {
  max-width:506px;
  min-width:506px;	
  border:1px solid #E5E5E5;
  text-indent:2px
}
#user-basic-addedit-form .addedit-left-col table.addedit-cfield-delbtn-wrapper td.addedit-cfield-wrapper .addedit-new-field-title{
  width:141px
}
#user-basic-addedit-form .catalog-pub-add-list li input, 
#user-basic-addedit-form .catalog-pub-add-list-move li input{
  margin-left:11px
}
#user-basic-addedit-form  .catalog-pub-add-list li:hover input,
#user-basic-addedit-form  .catalog-pub-add-list-move li:hover input {
  margin-left:11px
}
#page-container .root-admin-block .clr-txt {
  color:#4686DD;
  cursor:pointer;
  float:right;
  font-size:11px;
  padding-right:19px;
  text-decoration:underline;
  margin-top:-1px
}
.page-administration-people-user #page-container #paint-narrow-search-results #bubble-face-table .ui-jqgrid-view {
  border-top:0;
  clear:both
}
.page-administration-people-user #page-container #paint-narrow-search-results #bubble-face-table .ui-jqgrid-view .ui-jqgrid-htable th {
  padding:0;
  line-height:28px;
  border-left:1px solid #E5E5E5
}
#userbasic-custom-fields .addedit-form-cancel-container-actions .add-custombtn-symbol {
  line-height:19px;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -490px -230px ;
  padding-left:12px;
  padding-top:0;
  font-size:12px
}
#exp-sp-administration-user-basic-addedit-form .addedit-form-cancel-and-save-actions-row #edit-user-basic-save {
  border-radius:6px 0 0 6px;
  margin-left:7px;
  margin-top:1px;
  padding-bottom:1px
}
.page-administration-people-user #page-container #admin-data-grid .ui-jqgrid-bdiv tr:hover, .page-administration-people #admin-data-grid .user-enrollment-div-cls .user-enroll-grid-div .ui-state-hover {
  background:none	
}
.page-administration-people #page-container #narrow-search-results-holder #admin-data-grid th.ui-state-hover {
  border-left:1px solid #E5E5E5
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .addedit-new-field .form-item,
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .addedit-new-field-two-col .expertus-dropdown-bg {
  margin:0  
}
.theme-ctool-popup #user-basic-addedit-form  .addedit-new-field-two-col .expertus-dropdown-bg {
  margin-top:1px ;
  width:190px;
  position:relative
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .ui-multiselect {
  height:20px;	
  line-height:16px;
  background: -ms-linear-gradient(#fafafa,#e9e9e9);/*For IE10*/
  background: linear-gradient(#fafafa,#e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fafafa', endColorstr='#e9e9e9'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#e9e9e9)";
  border-radius: 10px 4px 4px 10px;
  border:1px solid #e5e5e5;
  border-right:0
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .addedit-new-field .addedit-new-field-value {
  padding:0	
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  padding-bottom:0;
  min-height:20px	
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .addedit-new-field {
  padding-bottom:5px;	
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form .separator {
  margin:3px 24px 8px 0	
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form input.addedit-edit-textfield {
  margin:1px 0 1px 0;
  text-indent:6px	
}
.page-administration-people-user #user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-ac-textfield {
  text-indent:10px	
}
.page-administration-people-user div.ctools-sample-modal-content .theme-ctool-popup div.popups-title {
  padding:0 0 0 6px;	
}
.page-administration-people-user div.ctools-sample-modal-content .theme-ctool-popup div.popups-title .popups-close {
  margin-right:4px	
}
.page-administration-people-user div.ctools-sample-modal-content .theme-ctool-popup #user-basic-addedit-form .addedit-twocol-secondcol .form-item-omanagers {
  margin-right:-3px
}
.page-administration-people-user div.ctools-sample-modal-content .theme-ctool-popup #user-basic-addedit-form .addedit-twocol-secondcol .form-item-omanagers .ui-multiselect {
  width:193px 
}
.page-administration-people-user #two-col-row-upload {
  height:27px;
  margin-top:2px
}
#user-basic-addedit-form #userbasic-custom-fields .addedit-custom-field {
  padding-bottom:8px	
}
#admin-data-grid .user-enrollment-div-cls input.ac_loading {
  height:20px;
  border:0;
  z-index:1000
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div.enroll-date-sortalign .s-ico {
  left:36px;
  top:0;
  position:absolute
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div .ui-icon-asc {
  margin-top:10px	
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div .ui-icon-desc {
  margin-top:11px	
}
#page-container #user-enrollment-container .white-btn-bg-right {
  margin-right:0
}
.narrow-search-results-item-description span.more-text a.show-full-text {
  background-position:0 -1485px
}
.narrow-search-results-item-description span.more-text a.show-short-text {
  background-position:0 -1497px
}
.usr-grp-name{
  font-family:openSansRegular, Arial ;
  font-size:12px
}
.usr-grp-msg{
  display: table-cell;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  width: 265px
}
.info-grp-msg{
  color: #C0C6CC;
  font-family: openSansRegular,Arial;
  font-size: 12px
}
#usr-group-list .jspVerticalBar {
  border: 1px solid #CCC;
  border-radius: 10px;
  height: 180px;
  width: 7px
}
#usr-group-list .jspTrack {
  border: 0;
  border-radius: 10px;
  max-height: 167px
}
#usr-group-list .jspDrag {
  border: 0;
  border-radius: 10px
}
#usr-group-list{
  height:182px;
  width:260px;
  overflow:hidden
}
.page-administration-people-user .ui-multiselect-menu .ui-multiselect-checkboxes{
  border: 1px solid #EDEDED
}
.page-administration-people-user .root-admin-block #narrow_search_hideshow .ac_input{
  width:119px
}
.theme-ctool-popup #user-basic-addedit-form .addedit-twocol-firstcol .multiselect-custom-dropdown, .theme-ctool-popup #user-basic-addedit-form .addedit-twocol-secondcol .multiselect-custom-dropdown {
  width: 187px;
  height:14px
}
.multiselect-custom-dropdown-results {
  background: #FFF;
  border: solid 1px #E5E5E5;
  margin: 0;
  margin-top:-4px;
  position: absolute;
  width: auto;
  z-index: 1
}
.multiselect-custom-dropdown-results #autocomplete {
  border: 0;
  height: 40px;
  position: relative
}
.multiselect-custom-dropdown-results #autocomplete #multiautocomplete {
  height: 20px
}
.multiselect-custom-dropdown-results .ui-multiselect-con-class {
  border: 0
}
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-btable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-hdiv {
  min-width:100%
}
.user-enrollment-div-cls .ui-widget-content,
.user-enrollment-div-cls .ui-jqgrid-hbox,
.user-enrollment-div-cls .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid-bdiv,
.user-enrollment-div-cls .user-enrollment-bottom-row-cls {
  min-width: 100%
}
.user-enrollment-div-cls .ui-jqgrid-view {
  min-width: 628px
}
/*title restriction style*/
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:530px
}
.fade-out-title-container.admin-narrow-search-edit-tooltip-code-fadeout-container{
  max-width:200px;
  display:inline-block;
  margin-bottom:-8px
}
.page-administration-people-user .fade-out-title-container.admin-narrow-search-code-fadeout-container{
  max-width:220px
}
.page-administration-people-user .fade-out-title-container.admin-narrow-search-code-fadeout-container,
.fade-out-title-container.exp-sp-admin-user-orgname-fadeout-container,
.fade-out-title-container.exp-sp-admin-user-managrname-fadeout-container{
  display: inline-block;
  margin-bottom: -8px;
  max-width:120px
}
.page-administration-people-user .fade-out-title-container.exp-sp-admin-user-orgname-fadeout-container {
  line-height:17px
}
.fade-out-title-container.admin-narrow-userview-fname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-uname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-email-fadeout-container,
.fade-out-title-container.admin-narrow-userview-timezone-fadeout-container,
.fade-out-title-container.admin-narrow-userview-org-fadeout-container,
.fade-out-title-container.admin-narrow-userview-other-org-fadeout-container,
.fade-out-title-container.admin-narrow-userview-other-manager-fadeout-container,
.fade-out-title-container.admin-narrow-userview-city-fadeout-container,
.fade-out-title-container.admin-narrow-userview-state-fadeout-container,
.fade-out-title-container.admin-narrow-userview-employment-fadeout-container,
.fade-out-title-container.admin-narrow-userview-roles-fadeout-container{
  max-width:170px
}
.fade-out-title-container.admin-narrow-userview-addr1-fadeout-container,
.fade-out-title-container.admin-narrow-userview-addr2-fadeout-container {
  max-width:530px
}
.fade-out-title-container.admin-narrow-userview-groups-fadeout-container,
.fade-out-title-container.admin-narrow-userview-custom-value-fadeout-container,
.fade-out-title-container.admin-narrow-userview-accessname-fadeout-container{
  max-width:530px
}
.fade-out-title-container.admin-narrow-userview-lname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-contact-fadeout-container,
.fade-out-title-container.admin-narrow-userview-country-fadeout-container,
.fade-out-title-container.admin-narrow-userview-zip-fadeout-container,
.fade-out-title-container.admin-narrow-userview-language-fadeout-container,
.fade-out-title-container.admin-narrow-userview-manager-fadeout-container,
.fade-out-title-container.admin-narrow-userview-employee-no-fadeout-container,
.fade-out-title-container.admin-narrow-userview-jobtitle-fadeout-container,
.fade-out-title-container.admin-narrow-userview-usertype-fadeout-container{
  max-width:160px
}
.fade-out-title-container.admin-add-custom-field-label-fadeout-container,
.fade-out-title-container.admin-narrow-userview-custom-label-fadeout-container {
  max-width:130px;
  float:left
}
.fade-out-title-container.narrow-search-filterset-checkbox-fadeout-container,
.fade-out-title-container.narrow-search-filterset-radio-label-fadeout-container {
  max-width:130px
}
.page-administration-people-user #viewuser-detail-wrapper .user-desc{
  height:20px
}
.page-administration-people-user #viewuser-detail-wrapper .userview-label{
  padding-top:1px
}
.fade-out-title-container.admin-learning-enrollments-result-title-fadeout-container{
   max-width: 140px
}
.fade-out-title-container.admin-learning-enrollments-result-code-fadeout-container{
   max-width:94px
}
#page-container #narrow-search-results-holder #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(odd) .fade-out-image {
  background-position:right -60px;
  height:30px
}
#page-container #narrow-search-results-holder #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(even).ui-state-hover .fade-out-image {
  background-position: right 0;
  height:30px
}
.fade-out-title-container.exp-sp-admin-user-grpname-fadeout-container{
  max-width:230px;
  display:inline-block;
  margin-bottom:-8px
}
.ui-multiselect-menu.edit-omanagers .fade-out-title-container.admin-multiselect-dropdown {
  max-width: 140px
}
#avil_oorgs #chk .fade-out-title-container.group-name,
#avil_oorgs #chk .fade-out-title-container.group-names,
#avil_oorgs #unchk .fade-out-title-container.group-name,
#avil_oorgs #unchk .fade-out-title-container.group-names,
#avil_oorgs #chk .fade-out-title-container.check-groupnames,
#avil_oorgs #unchk .fade-out-title-container.check-groupnames {
  max-width:125px;
  margin-bottom:-4px;
  display:inline-block;  
  font-size:12px
}
#avil_jobrole #chk .fade-out-title-container.group-name,
#avil_jobrole #chk .fade-out-title-container.group-names,
#avil_jobrole #unchk .fade-out-title-container.group-name,
#avil_jobrole #unchk .fade-out-title-container.group-names,
#avil_jobrole #chk .fade-out-title-container.check-groupnames,
#avil_jobrole #unchk .fade-out-title-container.check-groupnames {
  max-width:180px;
  margin-bottom:-4px;
  display:inline-block;
  font-size:12px
}

#avil_omanagers #chk .fade-out-title-container.group-name,
#avil_omanagers #chk .fade-out-title-container.group-names,
#avil_omanagers #unchk .fade-out-title-container.group-name,
#avil_omanagers #unchk .fade-out-title-container.group-names,
#avil_omanagers #chk .fade-out-title-container.check-groupnames,
#avil_omanagers #unchk .fade-out-title-container.check-groupnames {
  max-width:125px;
  margin-bottom:-4px;
  display:inline-block;  
  font-size:12px;
}
.admin-narrow-userview-mobile-fadeout-container {
  max-width:165px
}
#viewuser-detail-wrapper .user-container.picture .user-desc {
  height:auto
}
.page-administration-people-user #viewuser-detail-wrapper .top-record-div-left{
	min-height: 0px;
}
.orgusers .user-enroll-grid-div .admin-org-fname-fadeout-container {
  max-width:60px  
}
.orgusers .user-enroll-grid-div .admin-org-uname-fadeout-container {
  max-width:110px  
}
.orgusers .user-enroll-grid-div .admin-org-jobtitle-fadeout-container {
  max-width:110px
}
.orgusers .user-enroll-grid-div .admin-org-usertype-fadeout-container {
  max-width:80px  
}
.orgusers .user-enroll-grid-div .admin-org-manager-name-fadeout-container {
  max-width:110px
}
.orgusers .user-enroll-grid-div .fade-out-title-container {
  margin-bottom:-8px
}
tr.ui-state-hover .orgusers .user-enroll-grid-div .fade-out-title-container .fade-out-image {
  background-position:right 0;
  height:22px
}
.page-administration-people-user .norecords-msg-edit-page{
 border:0
}
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-btable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-hdiv {
  min-width:100%;
}
.user-enrollment-div-cls .ui-widget-content,
.user-enrollment-div-cls .ui-jqgrid-hbox,
.user-enrollment-div-cls .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid-bdiv,
.user-enrollment-div-cls .user-enrollment-bottom-row-cls {
	min-width: 100%;
}

.user-enrollment-div-cls .ui-jqgrid-view {
	min-width: 628px;
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .vtip .fade-out-title-container {
	line-height: 11px;
}
.page-administration-people-user .user-enrollment-div-cls .ui-jqgrid  .ui-jqgrid-bdiv{
  border:1px solid #E7E7E7;
  border-top:none
}
.page-administration-people-user  #admin-data-grid .user-enrollment-div-cls  .ui-jqgrid .ui-jqgrid-hdiv {
  border:1px solid #E7E7E7;
  border-top:none;
}
.page-administration-people-user  #admin-data-grid .user-enrollment-div-cls  .ui-jqgrid .ui-jqgrid-htable th:first-child{
   border-left:none
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-toppager{
  position: absolute;
  right: 21px;
  top: 16px
}
.fade-out-title-container.admin-learning-enrollments-result-code-fadeout-container .title-lengthy-text,
.fade-out-title-container.admin-learning-enrollments-result-title-fadeout-container .title-lengthy-text{
  vertical-align:middle
}
.page-administration-people-user #narrow-search-results-holder .narrow-search-results-item-details .limit-title-row .limit-title{
	max-width:560px
}

/* Scroll change #custom_attribute_0078975*/
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical.cus_attr_jscroll_set{
		width: 188px
}
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical.cus_attr_jscroll_set{
		width: 189px
		/*width: 180px*/
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value input[type="radio"]{
   margin-left: -2px
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value input[type="radio"]{
   margin-left: 2px
}
#user-basic-addedit-form #custom_attr_container #user_checkbox_full_row #customattribute-display-horizontal input[type="radio"]{
   margin-left: -2px;
} 
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
  margin-left: -1px;
}
.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
  margin-left: 2px;
}  
/* End Scrollchagne */

/* dropdown in user form  #custom_attribute_0078975 */
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #custom_attr_container .ui-multiselect {
	    border-style:none;
}
/* checkbox radio in form */
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-horizontal,
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical
{
    width: 191px;
}
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-horizontal,
#user-basic-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical
{
    width: 188px;
}



/* IE-11 hack #custom_attribute_0078975*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 0px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 0px
	}
}
#avil_omanagers #autoimg,
#avil_oorgs #autoimg,
#avil_jobrole #autoimg{
  right:24px
}
.page-administration-people-user .ui-multiselect-menu .ui-multiselect-checkboxes li{
  line-height:normal;
  padding:0 3px
}
.page-administration-people-user .ui-multiselect-checkboxes label input{
  top:1px;
  padding:0;
  margin:0
}
.page-administration-people-user .ui-multiselect-menu .ui-multiselect-checkboxes label{
  padding:0
}

/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	/*.page-administration-people-user #user-basic-addedit-form #new-customattribute-wrapper #customattribute-basic-addedit-form .addedit-twocol-firstcol .addedit-new-field-title {
    padding: 1px 0px 4px 0;
    width: 88px;
  }*/
	#admin-data-grid .user-enrollment-div-cls .ac_input {
	  padding-top:0	
	}
	#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
	  padding-right:5px
	}
	#page-container #narrow-search-results-holder .ui-state-hover{
	  background:none 	
	}
	.ui-state-default .ui-jqgrid-toppager{
	  padding-left:4px 	
	}
	#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
	  position:absolute;
	  right:25px;
	  top:10px;
	  min-width:85px 
	}
	.orgusers #bubble-face-table #exportcontainer.exportcontainer {
      margin-top: -36px;
    }
    /*Custom Attribute Start #custom_attribute_0078975*/
    .page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value input[type="radio"]{
   		margin-left: -1px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_radio{
		margin-left: 1px;
		position: relative;
	    top: -2px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_checkbox{
		margin: -1px 0 0 5px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 0px;
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 2px;
	}  
	/*Custom Attribute End */
    #avil_omanagers #autoimg,
    #avil_oorgs #autoimg,
    #avil_jobrole #autoimg{
     right:26px
   }
 .page-administration-people-user .ui-multiselect-checkboxes label input{
      top:3px
    }
   #user-basic-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
    margin-top:-2px;
}
}
/*#custom_attribute_0078975*/
/* rendering */
.page-administration-people-user .theme-ctool-popup .addedit-form-main-container {
    float: left;
    /*width: 391px;*/
   width: 364px;
}
.page-administration-people-user #customattribute-basic-addedit-form-disp #form-attribute .customattribute-basic-addedit-form-container {
    min-height:0;
    padding: 0 0 1px;
    width: 368px;
}
/* checkbox */
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_checkbox #customattribute-basic-addedit-form-container, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_radio #customattribute-basic-addedit-form-container, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_dropdown #customattribute-basic-addedit-form-container {
    width: 427px;
}

.page-administration-people-user .theme-ctool-popup .custom_attr_checkbox, 
.page-administration-people-user .theme-ctool-popup .custom_attr_radio, 
.page-administration-people-user .theme-ctool-popup .custom_attr_dropdown {
    width: 450px;
}
/* border */
.page-administration-people-user .customattribute-basic-addedit-form-container {
    border: 0 none;
}
.page-administration-people-user #customattribute-basic-addedit-form #form-attribute .round-corner-left,
.page-administration-people-user #customattribute-basic-addedit-form #form-attribute .round-corner-footer-left {
    border: 0 none;
}
/* label */
.page-administration-people-user #customattribute-basic-addedit-form-disp .addedit-edit-cattr_name {
    width: 259px;
}
/* field length */
.page-administration-people-user #user-basic-addedit-form #customattribute-basic-addedit-form .addedit-edit-cattr_length {
    width: 59px;
    margin:0;
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #customattribute-basic-addedit-form input.addedit-edit-textfield {
	margin:0;
}
.page-administration-people-user #customattribute-basic-addedit-form-disp .addedit-new-field-title {
    width: 82px;
}
/* second col width */
.page-administration-people-user #customattribute-basic-addedit-form #form-attribute .addedit-new-field-two-col .addedit-twocol-secondcol {
    padding-right:0px;
}
/* dropdown width */
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #customattribute-basic-addedit-form-container .addedit-new-field-two-col .expertus-dropdown-bg {
width:auto;
}

.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #customattribute-basic-addedit-form-container .addedit-new-field-two-col .expertus-dropdown-icon {
width:auto;
}
.page-administration-people-user #bubble-face-table #customattribute-basic-addedit-form .addedit-left-col {
padding:0;
margin: -12px -8px 0 4px;
}
.page-administration-people-user #customattribute-basic-addedit-form-disp  #space_before_textareatext .addedit-new-field
{
	width:auto;
}
/* help text */
.page-administration-people-user #customattribute-basic-addedit-form-disp .addedit-edit-cattr_help_txt {
    height: 30px;
}
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_textbox #space_before_textareatext .addedit-new-field-title {
    padding-top: 5px;
}
.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #customattribute-basic-addedit-form .addedit-new-field {
padding-bottom:0px;
}
/* checkbox radio dropdown */
/* checkbox display options */
.page-administration-people-user #customattribute-basic-addedit-form .custom_attr_checkbox .addedit-twocol-secondcol .addedit-secondcol-field-value, 
.page-administration-people-user #customattribute-basic-addedit-form .custom_attr_radio .addedit-twocol-secondcol .addedit-secondcol-field-value, 
.page-administration-people-user #customattribute-basic-addedit-form .custom_attr_dropdown .addedit-twocol-secondcol .addedit-secondcol-field-value {
    padding-right: 11px;
}
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_checkbox #customattribute-basic-addedit-form-container, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_radio #customattribute-basic-addedit-form-container, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_dropdown #customattribute-basic-addedit-form-container {
    width: 421px;
}
.page-administration-people-user .theme-ctool-popup .custom_attr_checkbox, 
.page-administration-people-user .theme-ctool-popup .custom_attr_radio, 
.page-administration-people-user .theme-ctool-popup .custom_attr_dropdown {
    width: 414px;/*420*/
   margin-bottom: -5px;
}
/* label */
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_name, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_name, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_name {
    width: 281px;
}
/* options */
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom-answer-choice-customattributetextfield {
    width: 281px;
}
/* help text */
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_help_txt, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_help_txt, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_help_txt {
    margin-top: -2px;
    max-width: 286px;
    min-width: 286px;
}
/* label */
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_name, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_name, 
.page-administration-people-user #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_name {
    width: 282px;
}
.page-administration-people-user #user-basic-addedit-form #customattribute-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
margin-bottom:-10px;
}
.page-administration-people-user .custom_attr_checkbox #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions, 
.page-administration-people-user .custom_attr_radio #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions, 
..page-administration-people-user .custom_attr_dropdown #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
    margin-right: 12px;
}
/* help text */
.page-administration-people-user #user-basic-addedit-form #customattribute-basic-addedit-form .custom_attr_textarea .form-item-cattr-help-txt {
margin-top: 2px;
}
/* label */
#user-basic-addedit-form  #customattribute-basic-addedit-form .addedit-new-field {
width:unset;
}
.page-administration-people-user #user-basic-addedit-form #customattribute-basic-addedit-form .addedit-new-field-title{
padding: 1px 5px 4px 0;
line-height:20px;
}
.page-administration-people-user #user-basic-addedit-form #customattribute-basic-addedit-form .addedit-edit-customattributetextfield
{
margin-top:0px;	
}
#user-basic-addedit-form #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
    margin-right: 11px;
}
#user-basic-addedit-form #customattribute-basic-addedit-form-container .addedit-new-field .addedit-new-field-value
{
    padding: 1px 0;
}
#user-basic-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_textarea .addedit-form-cancel-and-save-actions-row {
    margin-top: 5px;
}
#user-basic-addedit-form .addedit-customattributes-wrapper #vtip_custom_attr .info-enr-upload
{
	cursor: pointer;
    float: right;
    margin: 5px 0 0 3px;
    position: absolute;
    top: auto;
}
#user-basic-addedit-form #new-customattribute-wrapper #custom-question-choice-text-10 {
    padding-bottom: 8px;
}
/* .addedit-new-field*/
/*.page-administration-people-user .theme-ctool-popup #user-basic-addedit-form #customattribute-basic-addedit-form-container .addedit-left-col .form-item
{
margin: 0.1em 0;
}*/

/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
   .page-administration-people-user .fade-out-title-container.admin-narrow-search-code-fadeout-container, 
   .fade-out-title-container.exp-sp-admin-user-orgname-fadeout-container,
   .fade-out-title-container.exp-sp-admin-user-managrname-fadeout-container{
     margin-bottom:-4px
    }
    /*#custom_attribute_0078975*/
    .page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value input[type="radio"]{
   		margin-left: 1px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value input[type="radio"]{
   		margin-left: 4px
	}	
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_radio{
		margin-left: 4px;
		position: relative;
	    top: 1px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container #custom_label_checkbox{
		margin: -1px 0 0 5px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .checkbox-unselected,
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .checkbox-selected {
		margin: 3px 0 0 1px;
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-firstcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 1px
	}
	.page-administration-people-user #user-basic-addedit-form #custom_attr_container .addedit-secondcol-field-value #customattribute-display-vertical.cus_attr_jscroll_set input[type="radio"]{
	  margin-left: 4px
	}  

}}    
/*safari hack End*/