#user-basic-addedit-form #edit-status {
  width:150px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  width:142px
}
#user-basic-addedit-form .addedit-twocol-secondcol {
  float:right;
  padding-right:12px
}
#user-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:125px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  padding:2px 5px 2px 0;
  line-height:23px
}
#user-basic-addedit-form.addedit-twocol-firstcol .addedit-new-field-title,
#user-basic-addedit-form.addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left;
  line-height:20px
}
#user-basic-addedit-form .addedit-new-field .addedit-new-field-value,
#user-basic-addedit-form .addedit-secondcol-field-value,
#user-basic-addedit-form .addedit-firstcol-field-value {
  padding:1px 0
}
#user-basic-addedit-form .addedit-pwd-fields-set-lcol,
#user-basic-addedit-form .addedit-pwd-fields-set-rcol {
  display:inline;
  float:left
}
#user-basic-addedit-form .addedit-pwd-fields-set-lcol {
  width:auto
}
#user-basic-addedit-form textarea.addedit-edit-textarea {
  width:506px;
  border:1px solid #7F9DB9;
  height:auto;
  line-height:17px
}
#user-basic-addedit-form input.addedit-edit-textfield {
  width:529px;
  border:1px solid #7F9DB9;
  height:18px;
  padding:0
}
#user-basic-addedit-form.addedit-form-cancel-container-actions {
  margin-right:23px
}
#user-basic-addedit-form .addedit-new-field {
  clear:both;
  width:690px; 
  float:none
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-ac-textfield {
  width:168px;
  background-position:100% 3px;
  height:18px;
  padding:0;
  padding-right:20px
}
#user-basic-addedit-form .addedit-new-field-two-col input.ac_loading {
  background-position:100% -18px
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-textfield {
  width:188px;
  margin:0;
  padding:0;
  height:18px;
  border:1px solid #7F9DB9
}
#user-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-dropdown {
  width:188px;
  margin:0;
  padding:0;
  height:18px
}
#user-basic-addedit-form .form-type-select select{
  height:22px
}
#user-basic-addedit-form .addedit-pwd-fields-set .addedit-pwd-fields-set-rcol {
  width:530px;
  padding:0 0 0 150px;
  clear:both
}
#user-basic-addedit-form .addedit-pwd-fields-set .addedit-pwd-fields-set-rcol .addedit-checkbox-suffixed-title {
  text-align:left;
  width:auto
}
#user-basic-addedit-form .separator{
  border-bottom:1px dotted #CCC;
  margin:8px 20px 8px 0
}
#user-org-addedit-form .addedit-edit-dropdown,
#user-basic-addedit-form .addedit-edit-dropdown {
  width:190px;
  border:1px solid #7F9DB9
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions-row,
#user-org-addedit-form .addedit-form-cancel-and-save-actions-row,
#user-addr-addedit-form .addedit-form-cancel-and-save-actions-row{
  margin-top:0;
  float:left;
  margin-bottom:15px
} 
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_labels,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_labels {
  color:#999;
  font-weight:normal;
  padding-top:0;
  width:635px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_labels .label_selected,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_labels .label_selected {
  margin-right:322px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .multiselect_available,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .multiselect_available,
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers select.multiselect_unsel,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs select.multiselect_unsel {
  width:185px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers ul.multiselect_btns,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs ul.multiselect_btns {
  margin:20px 5px 0;
  padding:0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_remove,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_remove {
  width:14px;
  height:25px
}
#user-org-addedit-form#addedit-wrapper-multiselect-omanagers select.multiselect_sel,
#user-org-addedit-form#addedit-wrapper-multiselect-oorgs select.multiselect_sel {
  width:185px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add {
  margin-bottom:0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add a,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add a {
  background:url("images/add.png") no-repeat 0 0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_add a:hover,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_add a:hover {
  background:url("images/add.png") no-repeat 0 0
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers li.multiselect_remove a,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs li.multiselect_remove a {
  background:url("images/remove.png") no-repeat 0 0
}
#user-org-addedit-form .addedit-left-col #two-col-row-hire_date_terminated_date .addedit-twocol-secondcol .addedit-new-field-title{
  text-align:right
}
#user-org-addedit-form .addedit-left-col #two-col-row-is_rehire_is_manager {
  width:558px
}
#user-org-addedit-form .addedit-twocol-firstcol .addedit-firstcol-field-value .addedit-edit-datefield,
#user-org-addedit-form .addedit-twocol-secondcol .addedit-secondcol-field-value .addedit-edit-datefield {
  width:125px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-and-save-actions {
  margin-right:45px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions .addedit-edit-cancel {
  margin-right:10px
}
#user-org-addedit-form #addedit-wrapper-multiselect-omanagers .addedit-new-field-value,
#user-org-addedit-form #addedit-wrapper-multiselect-oorgs .addedit-new-field-value {
  width:400px
}
#user-basic-addedit-form .addedit-form-cancel-and-save-actions,
#user-org-addedit-form .addedit-form-cancel-and-save-actions,
#user-addr-addedit-form .addedit-form-cancel-and-save-actions {
  margin-right:41px
}
#user-basic-addedit-form .addedit-edit-cancel,
#user-org-addedit-form .addedit-edit-cancel,
#user-addr-addedit-form .addedit-edit-cancel {
  margin-right:10px
}
.form-item-is-rehire input,
.form-item-is-instructor input{
  margin:0
}
#user-basic-addedit-form .pwd-confirmpwd-txtfield-container {
  width:550px;
  float:left
}
#user-org-addedit-form .form-item-org #edit-org,
#user-org-addedit-form .form-item-manager #edit-manager,
#user-org-addedit-form .form-item-location #edit-location {
  width:390px
} 
#user-basic-addedit-form .form-item-files-picture #edit-picture {
  width:188px;
  font-size:13px
}
#user-org-addedit-form #two-col-row-hire_date_terminated_date .addedit-twocol-secondcol .addedit-secondcol-field-value {
  padding:4px 0 0 6px
}
#user-org-addedit-form #edit-additional-info {
  height:40px
}
#user-basic-addedit-form .delete-picture-chkbox {
  margin-left:155px
}
#user-basic-addedit-form .delete-picture-chkbox div input {
  margin:0
}
#user-basic-addedit-form .delete-picture-chkbox div label {
  vertical-align:top
}
#user-basic-addedit-form .addedit-form-cancel-container-actions{
  float:right;
  margin-right:23px
}
#user-basic-addedit-form .admin-custom-required-col2-dropdown{
  width:33.8%
}
#user-basic-addedit-form .addedit-new-field-title-custom{
  width:223px
}
#user-basic-addedit-form .custom-label-field {
  width:180px
}
#user-basic-addedit-form #edit-custom-fieldset table {
  width:100%
}
#user-org-addedit-form .addedit-form-cancel-container-actions {
  margin-right:-2px
}
.admin-narrow-search-user {
  margin-top:14px
}
#narrow-search-results-holder .narrow-search-results-item-action-list-user {
  margin-top:9px
}
.admin-user-upload-picture {
  width:250px
}
.ui-corner-all {
  border-radius:0
}
#user-basic-addedit-form .addedit-edit-custom-label-field {
  width:117px;
  height:17px;
  border:1px solid #7F9DB9
}
#user-basic-addedit-form #userbasic-custom-fields .admin-save-button-container {
  margin:0
}
#user-basic-addedit-form .admin-save-button-container {
  margin-bottom:0
}
#user-basic-addedit-form .addedit-customfields-wrapper td.delbtn-wrapper {
  padding-left:0
}
#user-basic-addedit-form .addedit-left-col {
  padding:15px 0 15px 17px;
  width:98.8%
}
#user-basic-addedit-form #userbasic-custom-fields .addedit-new-field {
  width:656px
}
#user-basic-addedit-form .admin-user-load-picture {
  width:38px;
  height:38px
}
#user-basic-addedit-form .admin-user-load-picture-delete {
  margin-left:10px
}
#user-basic-addedit-form .admin-user-load-picture-delete-label {
  vertical-align:middle
}
#user-basic-addedit-form .admin-delete-img {
  background:none;
  border:0;
  cursor:pointer;
  height:10px;
  padding-left:8px;
  padding-top:1px;
  width:9px
} 
#user-basic-addedit-form .form-item textarea.error, #user-basic-addedit-form .form-item input.error {
  border:1px solid red
}
#admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip-up {
  position:absolute;
  right:170px;
  top:10px
}
#admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip {
  position:absolute;
  right:170px;
  top:-36px
}
#admin-data-grid .user-enrollment-div-cls #bubble-face-table {
  position:relative
}
#admin-data-grid .user-enrollment-div-cls .qtip-close-button {
  top:43px;
  z-index:100
}
#admin-data-grid .user-enrollment-div-cls #bubble-face-table tbody tr > td {
  border:0
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
  border:0;
  position:relative;
  float:right;
  min-width:68px;
  top:-39px;
  height:25px;
  max-width:188px;
  width:auto 
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
  right:17px
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  padding-right:0
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-hdiv {
  margin-top:10px;
  border-bottom:1px solid #ddd
}
.page-administration-people-user #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  height:25px;
  padding-right:0
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev {
  height:25px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls {
  width:40%;
  border:1px solid #CCC;
  height:19px;
  margin:5px 0 0;
  padding:0;
  float:none
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls .user-enroll-input-auto-cls {
  margin:0;
}	
#admin-data-grid .user-enrollment-div-cls .ac_input {
  width:81%;
  border:0;
  display:inline-block;
  line-height:17px;
  padding-right:18px;
  padding-left:4px;
  background-position:100% 3px;
  font-size:13px
}
.narrow-search-results-item-details .narrow-text-search {
  height:20px
}
#admin-data-grid .user-enrollment-div-cls .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  border-right:0
}
#admin-data-grid .user-enrollment-div-cls .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background:none
}
#admin-data-grid .user-enrollment-div-cls .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  text-align:left
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-loader-cls {
  width:100%;
  text-align:center
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-loader-cls .loadercontent table tbody tr > td {
  text-align:center;
  float:right
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-count-pipe-cls {
  font-weight:bold;
  color:#999;
  font-size:12px
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-pipe-cls {
  padding-left:5px;
  padding-right:5px
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-close-link {
  color:#4686DD;
  cursor:pointer;
  float:right;
  font-size:12px;
  padding-right:6px;
  margin-top:-15px
}
#admin-data-grid .user-enrollment-div-cls .user-enrollment-bottom-row-cls {
  margin-top:20px;
  width:550px
}
.usr-enroll-grid-header-grey-cls {
  color:#CCC;
  font-size:9px;
  position:absolute
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable th div {
  height:30px;
  color:#666;
  font-size:13px
}
#admin-data-grid .user-enrollment-div-cls .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  color:#666;
  font-size:13px;
  line-height:27px
}
#admin-data-grid .user-enrollment-div-cls .ui-pg-table .ui-pg-button .ui-state-disabled {
  width:0
}
#admin-data-grid .user-enrollment-div-cls .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-data-grid .user-enrollment-div-cls .norecords-msg-edit-page {
  padding-top:25px
}
#user-basic-addedit-form .admin-save-button-container {
  padding-left:8px;
  margin-left:0
}
#bubble-face-table #show_expertus_message {
  z-index:100;
  min-height:0
}
.user-enrollment-div-cls{
  z-index:102
}
#user-basic-addedit-form .addedit-left-col * {
  font-size:13px
}
#user-basic-addedit-form .crs-tab-titles-container .tab-title {
  font-size:11px
}
.narrow-search-results-item-details .narrow-search-results-item-action-list-user .narrow-search-multi-action-container > div {
  position:relative
}
.ui-jqgrid .ui-pg-selbox {
  height:21px
}
.block-exp-sp-administration .narrow-search-filterset #narrow_search_hideshow .narrow-search-ac-text-overlap {
  margin-top:2px
}
.ui-jqgrid .ui-state-disabled:hover {
  padding:0
}
#admin-data-grid .user-enrollment-div-cls input.ac_input.ac_loading {
  background-position:100% -17px
}
#usr-group-list{
  height:180px;
  width:260px;
  overflow:hidden
}
.info-grp-msg{
  color:#C0C6CC;
  font-size:12px
}
.usr-grp-msg #no-groups.info-grp-msg {
  text-align:center;
  display:block;
  margin-top:70px
}
.usr-grp-name {
  color:#666
}
#usr-group-list .jspVerticalBar {
  border:1px solid #CCC;
  border-radius:10px;
  height:168px;
  width:7px
}
#usr-group-list .jspTrack {
  border:0;
  border-radius:10px;
  max-height:167px
}
#usr-group-list .jspDrag {
  border:0;
  border-radius:10px
}
#user-basic-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  top:51px
}
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-btable,
.user-enrollment-div-cls .ui-jqgrid .ui-jqgrid-hdiv {
  min-width:100%;
}
.user-enrollment-div-cls .ui-widget-content,
.user-enrollment-div-cls .ui-jqgrid-view,
.user-enrollment-div-cls .ui-jqgrid-hbox,
.user-enrollment-div-cls .ui-jqgrid-htable,
.user-enrollment-div-cls .ui-jqgrid-bdiv,
.user-enrollment-div-cls .user-enrollment-bottom-row-cls {
	min-width: 100%;
}
.user-enrollment-div-cls .ui-pg-table {
	min-width: 170px;
}
.user-enrollment-div-cls.orgusers .ui-jqgrid .ui-jqgrid-htable,
.user-enrollment-div-cls.orgusers .ui-jqgrid .ui-jqgrid-btable,
.user-enrollment-div-cls.orgusers .ui-jqgrid .ui-jqgrid-hdiv {
  min-width:550px
}
/*title restriction style*/
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:640px
}
.fade-out-title-container.admin-narrow-search-edit-tooltip-code-fadeout-container{
  max-width:200px;
  display:inline-block;
  margin-bottom:-3px
}
.page-administration-people-user .fade-out-title-container.admin-narrow-search-code-fadeout-container{
  max-width:220px
}
.page-administration-people-user .fade-out-title-container.admin-narrow-search-code-fadeout-container,
.fade-out-title-container.exp-sp-admin-user-orgname-fadeout-container,
.fade-out-title-container.exp-sp-admin-user-managrname-fadeout-container{
  display: inline-block;
  margin-bottom: -3px;
  max-width:180px
}
.fade-out-title-container.admin-narrow-userview-fname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-uname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-email-fadeout-container,
.fade-out-title-container.admin-narrow-userview-timezone-fadeout-container,
.fade-out-title-container.admin-narrow-userview-org-fadeout-container,
.fade-out-title-container.admin-narrow-userview-other-org-fadeout-container,
.fade-out-title-container.admin-narrow-userview-other-manager-fadeout-container,
.fade-out-title-container.admin-narrow-userview-addr1-fadeout-container,
.fade-out-title-container.admin-narrow-userview-addr2-fadeout-container,
.fade-out-title-container.admin-narrow-userview-city-fadeout-container,
.fade-out-title-container.admin-narrow-userview-state-fadeout-container,
.fade-out-title-container.admin-narrow-userview-employment-fadeout-container,
.fade-out-title-container.admin-narrow-userview-roles-fadeout-container{
  max-width: 170px
}
.fade-out-title-container.admin-narrow-userview-groups-fadeout-container,
.fade-out-title-container.admin-narrow-userview-custom-value-fadeout-container,
.fade-out-title-container.admin-narrow-userview-accessname-fadeout-container{
  max-width: 450px
}
.fade-out-title-container.admin-narrow-userview-lname-fadeout-container,
.fade-out-title-container.admin-narrow-userview-contact-fadeout-container,
.fade-out-title-container.admin-narrow-userview-country-fadeout-container,
.fade-out-title-container.admin-narrow-userview-zip-fadeout-container,
.fade-out-title-container.admin-narrow-userview-language-fadeout-container,
.fade-out-title-container.admin-narrow-userview-manager-fadeout-container,
.fade-out-title-container.admin-narrow-userview-employee-no-fadeout-container,
.fade-out-title-container.admin-narrow-userview-jobtitle-fadeout-container,
.fade-out-title-container.admin-narrow-userview-usertype-fadeout-container{
  max-width: 160px
}
.fade-out-title-container.admin-narrow-userview-custom-label-fadeout-container,
.fade-out-title-container.admin-add-custom-field-label-fadeout-container{
  max-width:100px;
  float:left
}
.fade-out-title-container.narrow-search-filterset-checkbox-fadeout-container,
.fade-out-title-container.narrow-search-filterset-radio-label-fadeout-container {
  max-width: 125px
}
/*! Chrome fix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
	max-width:100%
  }
}
.addedit-twocol-firstcol .multiselect-custom-dropdown, .addedit-twocol-secondcol .multiselect-custom-dropdown {
	width: 184px;
}
.multiselect-custom-dropdown .dropdown-arrow.ui-icon {
	margin-right: 3px;
}
.multiselect-custom-dropdown-results {
	background: none repeat scroll 0 0 #FFFFFF;
	border: solid 1px #7F9DB9;
	margin: 0;
	position: absolute;
	width: auto;
	z-index: 1;
}
.multiselect-custom-dropdown-results #autocomplete, .multiselect-custom-dropdown-results #multiautocomplete {
    border: 0 none;
    height: 40px;
    position: relative;
}
.multiselect-custom-dropdown-results #autocomplete #multiautocomplete {
	height: 20px;
}
.multiselect-custom-dropdown-results .ui-multiselect-con-class {
	border: none;
}

.multiselect-custom-dropdown-results #autocomplete #autoimg {
    right: 26px;
}