.top-record-div-left {
  padding-bottom:10px;
  display:block
}
#viewuser-detail-wrapper .top-record-div-left{
	min-height: 550px;
	height:auto
}
.detail-code {
  color:#474747;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:22px;
  padding:0 10px
}
.detail-code.attachments {
  padding:0 0 10px 10px
}
.detail-desc {
  color:#2d2d2d;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:12px;
  line-height:22px;
  padding:0;
  word-wrap:break-word
}
#detail-desc-view {
  display:block;
  width:618px;
  vertical-align:top;
  text-align:justify
}
#viewcourse-detail-wrapper #detail-desc-view {
  width:590px;
  word-wrap:break-word
}
#viewclass-detail-wrapper #detail-desc-view {
  text-align:justify;
  width:605px;
  margin-bottom:0
}
.detail-desc.attachments {
  padding-top:0
}
.para {
  clear:both
}
.para ul.class-details-attachment-list {
  padding-left:5px
}
#view-scroll-wrapper {
  height:625px
}
#view-scroll-wrapper .jspTrack {
  height:621px
}
#view-scroll-wrapper .jspVerticalBar {
  right:18px
}
.class-session-details {
  margin-top:10px;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom:1px solid #ededed;
  margin-left:10px;
  width:710px;
  border:1px solid #efefef
}
#viewprogram-detail-wrapper #view-scroll-wrapper .class-session-details .fade-out-title-container {
  float:left;
  line-height:18px
}
#viewcourse-detail-wrapper #view-scroll-wrapper #paint-classes-list .class-session-details .fade-out-title-container {
  float:left;
  line-height:18px
}
.code-container table.class-session-details tr td {
  padding:5px 10px;
  border-top:1px solid #fff
}
.class-session-details tr td.class-detail-session-name {
  word-wrap:break-word;
  padding-right:10px;
  color:#2d2d2d
}
.code-container .class-session-details th {
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
  color:#474747;
  background:#DFDFDF;
  padding:5px 10px;
  border:1px solid #DFDFDF
}
#paint-classes-list .title_open {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1497px;
  display:block;
  float:left;
  height:12px;
  margin:4px 4px 0 1px;
  text-decoration:none;
  width:10px
}
#paint-classes-list .title_close {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1425px;
  display:block;
  float:left;
  height:14px;
  margin:2px 2px 0 1px;
  text-decoration:none;
  width:12px
}
#paint-classes-list tr.jqgrow td {
  padding:5px 5px 5px 2px;
  vertical-align:top
}
#paint-classes-list tr td {
  border:0;
  color:#474747;
  font-size:13px;
  height:auto
}
#course-details-data {
  margin-left:10px
}
#course-details-display-content  #gview_paint-classes-list .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable .ui-jqgrid-labels th.ui-state-hover {
  background:url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x 50% 50% #E6E6E6;
  border:1px solid #D3D3D3;
  border-bottom:0
}
#course-details-display-content  #gview_paint-classes-list .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable .ui-jqgrid-labels th {
  border-top:1px solid #D3D3D3
}
#course-details-display-content  #gview_paint-classes-list .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable .ui-jqgrid-labels th:first-child {
  border-left:1px solid #D3D3D3
}
#course-details-display-content  #gview_paint-classes-list .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable .ui-jqgrid-labels th:last-child {
  border-right:1px solid #D3D3D3
}
#course-details-display-content #gview_paint-classes-list .ui-jqgrid-bdiv #paint-classes-list tr.ui-state-hover {
  background:none;
  border:0
}
#course-details-display-content .ui-jqgrid .ui-jqgrid-sortable {
  color:#474747;
  cursor:default;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  height:auto;
  margin-left:0;
  text-transform:uppercase
}
.theme-ctool-popup #course-details-data .ui-jqgrid .ui-icon.ui-icon-asc {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1491px;
  height:16px;
  margin-top:-2px;
  width:12px
}
.theme-ctool-popup #course-details-data .ui-jqgrid .ui-icon.ui-icon-desc {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1480px;
  height:16px;
  margin-top:-1px;
  width:12px
}
.theme-ctool-popup #course-details-data #enrollment-class-list-view .ui-jqgrid .ui-icon.ui-icon-asc {
  background-position:right -1497px;
  height:8px;
  margin-top:8px
}
.theme-ctool-popup #course-details-data #enrollment-class-list-view .ui-jqgrid .ui-icon.ui-icon-desc {
  background-position:right -1485px;
  height:8px;
  margin-top:9px
}
#view-detail-wrapper #course-details-display-content #gview_paint-classes-list .ui-state-default {
  border:0
}
#admin-data-grid .user-enrollment-div-cls #bubble-face-table {
  position:relative
}
#admin-data-grid .user-enrollment-div-cls .bottom-qtip-tip {
  position:absolute;
  right:120px;
  top:-35px
}
.theme-ctool-popup #viewcourse-detail-wrapper #course-details-data .ui-jqgrid .ui-state-disabled {
  opacity:0
}
.sub-detail-code {
  color:#474747;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:3px 10px;
  text-indent:10px
}
.sub-detail-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:13px;
  line-height:1.5em;
  padding-top:1px
}
.version-detail-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:13px;
  line-height:1.5em;
  padding-top:1px;
  width:50%
}
#viewcontent-detail-wrapper .code-container #detail-desc-view {
  width:508px;
  text-align:justify
}
#access-detail-desc {
  display:block;
  width:auto;
  vertical-align:top
}
#viewcourse-detail-wrapper #access-detail-desc {
  width:615px;
  display:inline-block
}
#viewcourse-detail-wrapper #paint-classes-list #access-detail-desc {
  width:588px
}
#viewquestion-detail-wrapper .detail-desc {
  display:block;
  vertical-align:top;
  width:440px
}
#viewquestion-detail-wrapper .detail-code {
  width:87px
}
.question-opt-container .opt-detail-code {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:13px;
  font-weight:normal;
  line-height:20px;
  padding:3px 10px;
  text-indent:10px;
  clear:both;
  width:87px
}
.page-administration-assessment-assessmentquestions #modal-content .question-opt-container .opt-detail-desc,
.page-administration-survey-surveyquestions #modal-content .code-container .question-opt-container .sur-opt-detail-desc{
  margin-top: 3px;
}
.opt-detail-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:13px;
  line-height:1.5em;
  padding-top:1px;
  width:380px;
  display:block;
  vertical-align:top;
  text-align:justify
}
.sur-opt-detail-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:13px;
  line-height:1.5em;
  padding-top:1px;
  width:430px;
  display:block;
  vertical-align:top;
  text-align:justify
}
.question-opt-container input#option-list {
  float:left;
  margin-left:5px
}
.option-text {
  font-family:openSansRegular, Arial;
  font-size:10px
}
.question-opt-container  .sub-opt-detail-code {
  color:#474747;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:3px 10px;
  text-indent:10px;
  clear:both;
  width:80px
}
#viewsurass-detail-wrapper  .assess-question-detais {
  border:1px solid #EFEFEF;
  margin-bottom:5px;
  margin-left:10px;
  margin-top:10px;
  padding-bottom:5px;
  width:585px
}
.assess-question-detais th {
  background:#FAFAFA;
  border-bottom:1px solid #EDEDED;
  font-family:proximanovabold, Arial;
  font-size:11px;
  font-weight:normal;
  text-transform:uppercase
}
.assess-question-detais th, 
.assess-question-detais td {
  padding:7px 5px;
  vertical-align:top
}
#viewsurass-detail-wrapper #survey-detail-desc {
  width:475px;
  display:block;
  vertical-align:top;
  text-align:justify
}
.learning-course-title .mnd-txt {
  float:left;
  padding:3px 0 0
}
.learning-course-title .catalog-course-mandatory-bg-left {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -1927px;
  display:block;
  float:left;
  height:17px;
  vertical-align:middle;
  width:10px
}
.learning-course-title .catalog-course-mandatory-bg-middle {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -11px -1927px;
  color:#FFF;
  display:block;
  float:left;
  font-size:10px;
  font-weight:bold;
  height:17px;
  line-height:10px;
  padding:0 3px;
  vertical-align:middle
}
.learning-course-title .catalog-course-mandatory-bg-right {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -119px -1927px;
  display:block;
  float:left;
  height:17px;
  width:10px
}
.left-side-container {
  float:left;
  width:48%;
  clear:both
}
.right-side-container {
  float:right;
  width:48%
}
.view-enrollment-popup {
  float:left;
  position:relative
}
.view-enrollment-popup a {
  color:#474747;
  cursor:pointer;
  display: inline-block;
  line-height: 24px;
  vertical-align: top
}
.view-enrollment-popup span {
  cursor:default
}
#vieworganization-detail-wrapper #org-desc-view {
  display:block;
  vertical-align:top;
  width:435px;
  text-align:justify;
  word-wrap:break-word
}
.user-section-separator {
  border-bottom:1px solid #e5e5e5;
  width:600px
}
#viewsurass-detail-wrapper #view-scroll-wrapper {
  height:500px
}
#viewsurass-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:498px
}
#viewquestion-detail-wrapper  #view-scroll-wrapper {
  height:280px
}
#viewquestion-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:278px
}
#viewcontent-detail-wrapper #view-scroll-wrapper {
  height:400px
}
#viewcontent-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:398px
}
#view-scroll-wrapper  .jspDrag,
#view-scroll-wrapper .jspVerticalBar,
#view-scroll-wrapper .jspTrack {
  border:0;
  border-radius:10px
}
.table-detail-tr-odd {
  background:#F7F7F7
}
.course-details {
  font-family:proximanovabold, Arial;
  font-size:13px;
  padding:10px 10px 0;
  text-transform:uppercase
}
.detail-title {
  color:#474747;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:3px 10px
}
#viewbanner-detail-wrapper #view-scroll-wrapper {
  height:320px
}
#viewbanner-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:318px
}
#viewbanner-detail-wrapper #banner-detail-desc {
  text-align:justify;
  width:430px;
  display:block;
  vertical-align:top
}
#viewannounce-detail-wrapper #announce-detail-desc {
  text-align:justify;
  width:430px;
  display:block;
  vertical-align:top;
  padding-bottom:0
}
#viewannounce-detail-wrapper  #view-scroll-wrapper {
  height:220px
}
.announce-code {
  color:#474747;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:0 10px;
  width:90px;
  text-align:left
}
.time-detail-desc {
  color:#474747;
  float:left;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:0 10px
}
#notify-detail-desc {
  text-align:justify;
  width:550px;
  display:block;
  vertical-align:top
}
#viewnotification-detail-wrapper #view-scroll-wrapper {
  height:400px
}
#viewnotification-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:398px
}
.template-separation {
  border-bottom:1px solid #EDEDED
}
#viewnotification-detail-wrapper .class-session-details {
  margin-right:34px;
  width:640px
}
.edit-class-list-left {
  color:#777;
  font-family:openSansRegular, Arial;
  font-size:12px;
  margin:4px 0 0
}
.template-names {
  color:#2d2d2d
}
#viewcourse-detail-wrapper .detail-code,
#viewclass-detail-wrapper .detail-code {
  width:95px
}
#viewcourse-detail-wrapper #custom-detail-desc.detail-desc,
#viewclass-detail-wrapper #custom-detail-desc.detail-desc {
  width:610px;
  float:left
}
#viewcourse-detail-wrapper #course-detail-desc-view {
  text-align:justify;
  width:610px;
/*   margin-bottom:10px; */
  word-wrap:break-word
}
#enrollment-class-list-view .ui-jqgrid .ui-jqgrid-htable th div {
  color:#666;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  height:26px;
  padding-left:10px;
  text-transform:uppercase
}
#enrollment-class-list-view .ui-jqgrid .ui-jqgrid-htable th.ui-th-column.ui-th-ltr div.ui-jqgrid-sortable {
  line-height:25px
}
#course-details-data #enrollment-class-list-view .ui-jqgrid .ui-jqgrid-htable th.ui-state-default  {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2453px;
  border:0
}
#enrollment-class-list-view .ui-jqgrid .ui-jqgrid-htable th.ui-state-default  {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2453px
}
#course-details-data #enrollment-class-list-view  #bubble-face-table .ui-jqgrid .ui-jqgrid-view .ui-state-default.ui-jqgrid-toppager {
  border:0;
  background:none
} 
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  color:#666;
  font-size:12px;
  line-height:27px
}
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover {
  border:0;
  background:#efefef
}
.view-enrollment-popup .ui-jqgrid .ui-jqgrid-hbox .ui-icon-asc {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1497px;
  height:8px;
  margin-top:8px;
  width:12px
}
.view-enrollment-popup .ui-jqgrid .ui-jqgrid-hdiv .ui-icon-desc {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat right -1485px;
  height:8px;
  margin-top:9px;
  width:12px
}
.view-enrollment-popup .ui-jqgrid .ui-jqgrid-hdiv .s-ico .ui-state-disabled {
  opacity:0
}
.view-enrollment-popup .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -144px -416px;
  border:0;
  display:block;
  float:left;
  height:23px;
  margin:0;
  opacity:1;
  padding:0;
  width:14px
}
.view-enrollment-popup .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -161px -416px;
  border:0;
  display:block;
  float:left;
  height:23px;
  margin:0;
  opacity:1;
  padding:0
}
.view-enrollment-popup .search-pagination-right .ui-pg-input {
  height:13px;
  margin-right:3px;
  margin-top:-2px;
  padding-top:0;
  margin-left:5px
}
.view-enrollment-popup .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -177px -416px;
  border:0;
  display:block;
  float:left;
  height:23px;
  margin:0;
  opacity:1;
  padding:0;
  width:14px
}
.view-enrollment-popup .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -194px -416px;
  border:0;
  display:block;
  float:left;
  height:23px;
  margin:0;
  opacity:1;
  padding:0;
  width:14px
}
.view-enrollment-popup #data-table-page-view {
  display:none
}
.user-enrollment-bottom-row-cls #user-enrollment-container {
  float:right;
  margin-right:12px
}
.page-administration-learning-catalog .user-enrollment-bottom-row-cls #user-enrollment-container {
  margin-top:10px
}
.view-enrollment-popup .ui-jqgrid-view .ui-pager-control .ui-pg-table {
  float: right;
/*  right: 3px;*/
  top: 0;
}
.view-enrollment-popup .ui-jqgrid-view .ui-pager-control .ui-pg-table tr td:last-child {
  display: none;
}
.view-enrollment-popup .ui-jqgrid-view .ui-jqgrid-toppager {
  width:450px
}
.view-enrollment-popup .norecords-msg-edit-page {
  position:relative;
  top:88px
}
#view-scroll-wrapper #enrollment-class-list-view .view-enrollment-popup #bubble-face-table .norecords-msg-edit-page {
  border-right:0;
  border-left:0
}
.user-separator {
  border-bottom:1px solid #e5e5e5;
  width:700px
}
#viewuser-detail-wrapper .userview-label {
  color:#474747;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:20px;
  padding:3px 10px;
  width:142px
}
#viewuser-detail-wrapper .user-container {
  padding-bottom:5px
}
#viewuser-detail-wrapper .user-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:12px;
  line-height:20px;
  text-align:left
}
#viewuser-detail-wrapper .job-role .user-desc{
	width:170px
}
#viewuser-detail-wrapper #user-access-desc{
  width:552px
}
#vieworganization-detail-wrapper .detail-code {
  width:129px
}
#vieworganization-detail-wrapper #org-right-detail-code {
  width:80px
}
.code-container {
  padding-bottom:5px
}
.discussions {
  padding-bottom:0px
}
#vieworganization-detail-wrapper #access-detail-desc,
#vieworganization-detail-wrapper #custom-detail-desc {
  width:440px
}
.correct-detail-desc {
  color:#474747;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:12px;
  line-height:1.5em;
  padding-top:1px
}
#viewsurass-detail-wrapper .detail-code {
  width:105px
}
#viewsurass-detail-wrapper .left-side-container {
  width:68%
}
#viewsurass-detail-wrapper .right-side-container {
  width:31%
}
#viewcontent-detail-wrapper .detail-code {
  width:75px
}
#viewcontent-detail-wrapper .contentauthor_view_label{
	width:78px
}
#viewcontent-detail-wrapper .class-session-details {
  width:595px
}
#viewcontent-detail-wrapper .right-side-container {
  width:35%
}
#viewbanner-detail-wrapper .detail-code {
  width:120px
}
#viewbanner-detail-wrapper .right-side-container {
  width:40%
}
#viewnotification-detail-wrapper .detail-code {
  width:80px
}
.detail-code-container {
  background:#DFDFDF;
  border:1px solid #DFDFDF;
  font-family:proximanovabold, Arial;
  font-size:13px;
  margin-left:10px;
  padding:5px;
  text-transform:uppercase;
  width:573px
}
#viewsurass-detail-wrapper .code-container .class-session-details th {
  background:#FAFAFA
}
#viewprogram-detail-wrapper .right-side-container .detail-code
{
width:90px
}
#viewprogram-detail-wrapper .detail-code {
  width:110px
}
#viewsurass-detail-wrapper #access-detail-desc,
#viewsurass-detail-wrapper #custom-detail-desc {
  width:480px
}
#viewannounce-detail-wrapper #access-detail-desc {
  width:430px
}
#viewcourse-detail-wrapper #course-details-display-content  #gview_paint-classes-list  .view-enrollment-popup #bubble-face-table .ui-jqgrid .ui-jqgrid-view  .ui-jqgrid-hdiv th.ui-state-hover {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2453px;
  border-top:0
}
#course-details-display-content #gview_paint-classes-list #enrollment-class-list-view  .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable .ui-jqgrid-labels th {
  border-top:0
}
.theme-ctool-popup #viewcourse-detail-wrapper #course-details-data #enrollment-class-list-view  .ui-jqgrid .s-ico .ui-state-disabled {
  opacity:0
}
.theme-ctool-popup #viewcourse-detail-wrapper #course-details-data #enrollment-class-list-view  .ui-jqgrid .ui-state-disabled {
  opacity:1
}
#viewcourse-detail-wrapper .right-side-container,
#viewprogram-detail-wrapper .right-side-container {
  width:29%
}
#viewcourse-detail-wrapper .left-side-container,
#viewprogram-detail-wrapper .left-side-container {
  width:70%
}
#viewcourse-detail-wrapper #paint-classes-list .right-side-container,
#viewclass-detail-wrapper .right-side-container {
  width:35%
}
#viewcourse-detail-wrapper #paint-classes-list .left-side-container,
#viewclass-detail-wrapper .left-side-container {
  width:62%
}
#viewprogram-detail-wrapper .no-course-items {
  color:#777;
  display:block;
  font-size:12px;
  text-align:right
}
#viewprogram-detail-wrapper #tp-desc-view {
  width:595px;
  display:block;
  vertical-align:top;
  text-align:justify;
  margin-bottom:0
}
#vieworganization-detail-wrapper #view-scroll-wrapper {
	min-height: 305px;
	height: auto
}
#vieworganization-detail-wrapper #view-scroll-wrapper .jspTrack {
  height:372px
}
#vieworganization-detail-wrapper .para {
  margin-left:-6px
}
#viewannounce-detail-wrapper .right-side-container {
  width:42%
}
#viewprogram-detail-wrapper #tp-right-view {
  width:90px
}
.theme-ctool-popup .enroll-course-title {
  color:#474747;
  font-size:12px;
  font-family:proximanovabold, Arial, Arial;
  text-transform:uppercase
}
#viewgroup-detail-wrapper #view-scroll-wrapper {
  height:450px
}
#viewgroup-detail-wrapper #attr-separator {
  float:left;
  border:0
}
#viewgroup-detail-wrapper .attr-selected-pane {
  float:left;
  width:590px
}
#viewgroup-detail-wrapper .attr-selected-pane .list-group {
  color:#2D2D2D;
  float:left;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:21px;
  padding:3px 10px 0 3px;
  text-align:left;
  width:129px
}
#viewgroup-detail-wrapper .viewright-groupdetails {
  color:#2D2D2D;
  float:left;
  font-family:openSansRegular, Arial;
  font-size:12px;
  line-height:1.5em;
  padding:3px 0;
  width:430px
}
#viewgroup-detail-wrapper .attr-pane {
  padding:0
}
#viewgroup-detail-wrapper .attr-selected-pane .and-class {
  float:none;
  left:139px;
  position:relative
}
#viewgroup-detail-wrapper #attr-separator {
  padding:0;
  margin:0
}
#viewgroup-detail-wrapper #view-scroll-wrapper #admin-add-permissions .jspVerticalBar {
  right:13px
}
#viewgroup-detail-wrapper #permissions_disp_div {
  margin:-31px 0 0
}
#viewgroup-detail-wrapper #add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container {
  margin:20px 0 0 105px
}
#viewgroup-detail-wrapper .admin-datagrid-pagination .ui-pg-button {
  float:none
}
#viewgroup-detail-wrapper #add-user-role-page #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  height:23px
}
#viewgroup-detail-wrapper .tab-seperator {
  border-left:1px solid #CCC;
  height:13px;
  margin:7px 9px;
  float:left
}
#wrap-perm-user-list > div {
  float:left;
  position:relative
}
#wrap-perm-user-list .tab-title {
  color:#2D2D2D;
  cursor:pointer;
  font-family:openSansRegular, Arial;
  font-size:12px;
  font-weight:normal;
  line-height:26px;
  text-decoration:none
}
#wrap-perm-user-container {
  margin-top:10px
}
#course-details-data #gview_paint-classes-list .ui-jqgrid-hbox th{
  background-color:#E6E6E6
}
#viewquestion-detail-wrapper #access-deatil-desc,
#viewquestion-detail-wrapper #tag-detail-desc-view {
  width:460px
}
#viewbanner-detail-wrapper #access-detail-desc {
  width:450px
}
#enrollment-class-list-view .ui-state-default{
  border-bottom:0
}
#viewgroup-detail-wrapper .attr-content{
  width:580px
}
#viewuser-detail-wrapper #user-addr-desc{
  width:525px
}
#enrollment-class-list-view .view-enrollment-popup .admin-learning-enrollments-result-for-view-fullname-fadeout-container {
  max-width:100px;
  display:inline-block;
  margin-top:6px;
  line-height:15px;
  padding-left:10px
}
#enrollment-class-list-view .view-enrollment-popup .admin-learning-enrollments-result-for-view-username-fadeout-container {
  max-width:100px;
  display:inline-block;
  margin-top:6px;
  line-height:15px;
  padding-left:10px
  
}
#enrollment-class-list-view .view-enrollment-popup .admin-learning-enrollments-result-for-view-status-fadeout-container {
  max-width:100px;
  display:inline-block;
  margin-top:6px;
  line-height:15px;
  padding-left:10px
  
}
#enrollment-class-list-view .view-enrollment-popup .admin-learning-enrollments-result-for-view-score-fadeout-container {
  max-width:100px;
  display:inline-block;
  margin-top:6px;
  line-height:15px;
  padding-left:10px
  
}
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common tr:nth-child(odd) .fade-out-image,
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common tr.ui-state-highlight.ui-state-hover:nth-child(even) .fade-out-image,
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common tr.ui-state-hover:nth-child(even) .fade-out-image {
  background-position:right -60px
}
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common.ui-jqgrid-btable tr.ui-row-ltr td {
  line-height:18px
}
#enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common.ui-jqgrid-btable .ui-state-highlight {
  background:#fff;
  border:none
}
#viewcourse-detail-wrapper #view-scroll-wrapper #course-details-display-content #paint-classes-list tr.ui-state-highlight,
#viewcourse-detail-wrapper #view-scroll-wrapper #course-details-display-content #paint-classes-list tr.ui-state-hover{
   background:#fafafa;
   border:0
}
#viewcourse-detail-wrapper #view-scroll-wrapper #course-details-display-content .qtip-close-button-visible,
#viewprogram-detail-wrapper #view-scroll-wrapper #enrollment-class-list-view .qtip-close-button-visible{
   right:1px;
   width:13px
}
.view-enrollment-popup .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button.ui-state-hover .ui-icon{
   background-color:#fff;
   padding:0;
   cursor:pointer
}
#viewprogram-detail-wrapper .prereq .detail-desc {
  width:570px;
  float:left
}
#viewcourse-detail-wrapper .para .detail-desc ul,
#viewprogram-detail-wrapper .prereq .detail-desc ul {
  margin-bottom:0
}
/* #viewcourse-detail-wrapper .prereq .detail-desc ul li,
#viewprogram-detail-wrapper .prereq .detail-desc ul li {
  list-style-type:none
} */
.admin-narrow-tpview-attachments-name-fadeout-container .divider-pipeline {
  padding:0 5px
}
#exp-sp-administration-view-tpdetails-addedit-form .fade-out-title-container.admin-narrow-tpview-prerequisite-title-fadeout-container {
  max-width: 250px;
  display: inline-block;
  margin-bottom:-11px;
}
#exp-sp-administration-view-tpdetails-addedit-form .fade-out-title-container.admin-narrow-tpview-prerequisite-code-fadeout-container {
  max-width: 180px;
  display: inline-block;
  margin-bottom:-11px
}
#exp-sp-administration-view-tpdetails-addedit-form .fade-out-title-container.admin-narrow-tpview-prerequisite-objecttype-fadeout-container {
   max-width:100px;
   display:inline-block;
   margin-bottom:-11px
}
.fade-out-title-container.admin-narrow-search-courseview-attachments-name-fadeout-container{
   max-width: 610px;
   display:inline-block
}
.fade-out-title-container.narrow-classview-detaildesc-attachments-name-fadeout-container{
   max-width: 590px;
   display:inline-block
}
.fade-out-title-container.narrow-contentauthor-view-detail-attachments-name-fadeout-container{
	  max-width: 510px;
   display:inline-block
}
#viewclass-detail-wrapper .fade-out-title-container.narrow-classview-detaildesc-attachments-name-fadeout-container{
   max-width: 610px
}
.fade-out-title-container.admin-narrow-tpview-attachments-name-fadeout-container,
.fade-out-title-container.admin-narrow-tpview-access-fadeout-container{
    max-width: 595px
}
#viewcourse-detail-wrapper .detail-code .admin-narrow-search-courseview-custominfo-label-fadeout-container,
#viewclass-detail-wrapper  .detail-code .admin-narrow-search-courseview-custominfo-label-fadeout-container {
  max-width:90px
}
#viewcontent-detail-wrapper .detail-desc {
  min-width: 125px
}
#viewclass-detail-wrapper .code-container table.class-session-details tr td {
 padding-bottom:0;
 line-height:15px
}
#enrollment-class-list-view .ui-jqgrid .ui-state-disabled:hover{
	padding: 0px;
}
.page-administration-learning-catalog #enrollment-class-list-view .user-enrollment-bottom-row-cls #user-enrollment-container {
  margin-right:5px
}
#view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td span.vtip {
  display:block;
  padding:4px 0
}
#viewclass-detail-wrapper #view-scroll-wrapper #enrollment-class-list-view .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td span.vtip {
  padding:0
}
.page-administration-learning-program #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td .fade-out-title-container {
  display:inline-block;
  margin-top:0px;
  padding-left:10px
}
#modalContent table tr:hover .limit-title-row .limit-title .fade-title,
#modalContent table tr:hover .limit-desc-row .limit-desc span.fade-desc{
  background:-ms-linear-gradient(to right, transparent, #fff 80%, #fff);/*For IE10*/
  background:linear-gradient(to right, transparent, #fff 80%, #fff);	
}
#viewclass-detail-wrapper .view-enrollment-popup .bottom-qtip-tip-visible {
  /* margin-top:0px */
}
/* Trunk8 Fadeout for Title and Description texts start here */
#viewcourse-detail-wrapper .detail-desc.limit-title-row{
  width:610px
}
#viewcourse-detail-wrapper #paint-classes-list .course-class-subgrid .detail-desc.limit-title-row{
  width:590px
}
#viewclass-detail-wrapper .detail-desc.limit-title-row{
  width:610px
}
#viewprogram-detail-wrapper .detail-desc.limit-title-row{
  width:595px
}
#viewnotification-detail-wrapper .detail-desc.limit-title-row{
  width:550px
}
#viewbanner-detail-wrapper .detail-desc.limit-title-row{
  width:430px
}
#viewsurass-detail-wrapper .detail-desc.limit-title-row{
  width:480px
}
#viewquestion-detail-wrapper .detail-desc.limit-title-row{
  width:450px
}
#vieworganization-detail-wrapper .detail-desc.limit-title-row{
  width:438px
}
#viewsurass-detail-wrapper .detail-desc.limit-title-row{
  width:480px
}

/* Trunk8 Fadeout for Title and Description texts ends here */
.class-detail-session-name .admin-view-session-title-fadeout-container{
  max-width:400px
}
#vieworganization-detail-wrapper .right-side-container{
  width:50%
}
#view-scroll-wrapper .para,
#view-scroll-wrapper .para .code-container,
#view-scroll-wrapper .top-record-div-left,
#view-scroll-wrapper .single-line-lbl-val{
  float:left;
  width:100%
}
.detail-desc.detail-single-line,
.detail-single-line-enrollment,
.detail-single-line-crs-data,
.detail-single-line-cont-view-lbl{
  height:22px
}
#view-scroll-wrapper #course-details-display-content{
  margin-top:4px;
  float:left
}
#view-scroll-wrapper .detail-desc-addnot{
  width:610px	
}
#view-scroll-wrapper .label-separator{
  margin-top:1px
}
.module-list-expand-collapse .class-session-details{
  margin:0;
  width:696px
}
#viewcourse-detail-wrapper .course-class-subgrid .detail-desc-addnot{
  width:590px
}
#viewcourse-detail-wrapper .course-class-subgrid .fade-out-title-container.narrow-classview-detaildesc-survey-title-fadeout-container,
#viewcourse-detail-wrapper .course-class-subgrid .fade-out-title-container.narrow-classview-detaildesc-access-fadeout-container {
  max-width: 590px;
  display:inline-block
}
#viewcourse-detail-wrapper .course-class-subgrid .class-session-details{
  width:700px	
}
#view-scroll-wrapper .code-container{
  padding-bottom:3px
}
#view-scroll-wrapper .surveyassqa-title{
  margin-top:5px
}
.page-administration-manage-content #viewcontent-detail-wrapper #view-scroll-wrapper .content-group-label-view-screen-fadeout-container{
  max-width:75px
}
#viewannounce-detail-wrapper .top-record-div-left{
  padding-bottom:0	
}
#view-scroll-wrapper .prereq .detail-desc,
#view-scroll-wrapper .equvi .detail-desc{
  width:606px
}
#view-scroll-wrapper .detail-desc ul ,
#view-scroll-wrapper .detail-desc ul li{
float:left;
width:100%
}
/* #viewprogram-detail-wrapper .custom-field-container .detail-code{
  width:100px	
}
#viewprogram-detail-wrapper .custom-field-container .detail-desc{
  width:595px	
} */

/* Custom Attribute Changes Start #custom_attribute_0078975*/
#viewcontent-detail-wrapper .right-side-container {
	width:48%
}
#viewcontent-detail-wrapper .detail-code {
	width:90px
}
#viewcontent-detail-wrapper #custom-attribute-view-left .detail-desc,
#viewcontent-detail-wrapper #custom-attribute-view-right .detail-desc{
	width:175px
}
.left-side-container .admin-narrow-customattribute-left-col-fadeout-container{
	width:140px
}
.right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:66px
}
#viewclass-detail-wrapper .right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:120px
}
#gview_paint-classes-list .right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:130px
}
#viewprogram-detail-wrapper .right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:112px
}
#vieworganization-detail-wrapper .right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:177px
}
#viewcontent-detail-wrapper .right-side-container .admin-narrow-customattribute-right-col-fadeout-container{
	width:160px
}
/* Custom Attribute Changes End */

/* Chrome hack Start */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #viewcourse-detail-wrapper #gview_paint-classes-list .ui-jqgrid-bdiv{
    overflow:hidden
  }
  #course-details-data #enrollment-class-list-view  .view-enrollment-popup .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
    line-height:18px
  }
  #viewprogram-detail-wrapper #enrollment-class-list-view .view-enrollment-popup .ui-jqgrid-bdiv .datagrid-container-common.ui-jqgrid-btable tr.ui-row-ltr td {
  	line-height:15px
  }
  #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td span.vtip {
    /* padding:0 */
  }
  .page-administration-learning-program #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td .fade-out-title-container {
    margin-top:7px
  }
  #enrollment-class-list-view  .view-enrollment-popup .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
    /* padding-left:6px */
  }
  .view-enrollment-popup .ui-jqgrid-view .ui-pager-control .ui-pg-table {
    right:0px
  }
  .page-administration-learning-catalog .view-enrollment-popup .ui-jqgrid-view .ui-pager-control .ui-pg-table {
    right:0
  }
  .user-enrollment-bottom-row-cls #user-enrollment-container {
    margin-right:12px
  }
  #viewprogram-detail-wrapper #tp-right-view {
    width:90px
  }
  #enrollment-class-list-view .ui-jqgrid .ui-jqgrid-htable, #enrollment-class-list-view .ui-jqgrid .ui-jqgrid-btable{
    table-layout: auto;
  }
  #exp-sp-administration-view-tpdetails-addedit-form #enrollment-class-list-view .ui-jqgrid-view .ui-pager-control {
  right: 0px;
  }
  .page-administration-learning-catalog #enrollment-class-list-view .user-enrollment-bottom-row-cls #user-enrollment-container {
    margin-right:3px
  }
  .view-enrollment-popup .bottom-qtip-tip-visible{
    /* margin-top: -2px; */
  }
  #viewclass-detail-wrapper .view-enrollment-popup .bottom-qtip-tip-visible {
    /* margin-top:-2px */
  }
}
/* Chrome hack End */

/* Safari hack Start */
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
  .page-administration-learning-catalog #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td .fade-out-title-container {
   /*  padding-bottom:15px */
  }
  .page-administration-learning-program #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td .fade-out-title-container {
   /*  padding-bottom:11px */
  }
  #viewclass-detail-wrapper #view-scroll-wrapper #enrollment-class-list-view  .view-enrollment-popup #bubble-face-table .ui-jqgrid-btable td .fade-out-title-container {
    /* padding-bottom:8px */
  }
  #modalContent table tr:hover .limit-title-row .limit-title span.fade-title,
  #modalContent table tr:hover .limit-desc-row .limit-desc span.fade-desc{
    background:-webkit-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 80%);
  }
  #view-scroll-wrapper .prereq .detail-desc,
  #view-scroll-wrapper .equvi .detail-desc{
    width:610px
  }
}}
/* Safari hack End */