#discount-basic-addedit-form-container .discount_dropdown_width,
#discount-basic-addedit-form-container .addedit-new-field-two-col .addedit-edit-dropdown > .discount_dropdown_width {
  width:60px;
  height:25px
}
#discount-basic-addedit-form-container .addedit-new-field .addedit-new-field-title {
  width: 160px
}
#discount-basic-addedit-form-container .addedit-twocol-secondcol .addedit-new-field-title {
  width: 140px
}
#discount-basic-addedit-form-container .addedit-new-field-two-col {
  width: 561px
}
#discount-basic-addedit-form-container #discount-combine-text-title .addedit-new-field-title {
  width: 190px
}
#discount-basic-addedit-form-container .addedit-form-cancel-container-actions {
  margin-right: 24px
}
#discount-basic-addedit-form-container #access-control{
  width: 554px
}
#discount-basic-addedit-form-container .column-1{
  padding-bottom: 4px
}
#discount-basic-addedit-form-container #access-control #organization, 
#discount-basic-addedit-form-container #access-control #jobroles,
#discount-basic-addedit-form-container #access-control #usertype { 
  height: 110px
}
#discount-basic-addedit-form-container #access-control .multi-select,
#discount-basic-addedit-form-container #access-control .multi-select-long,
#discount-basic-addedit-form-container #access-control .multi-select-long .item-list,
#discount-basic-addedit-form-container .admin-access-jobrole-field{
  width: 257px
}
#discount-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row{
  width:100%
}
#discount-basic-addedit-form-container #access-control .addedit-form-cancel-container-actions {
  margin-right: 1px
}
.select-trainings-dropdown {
  height: 10px;
  width: 78px;
  color: #666;
  border: 0;
  float: left;
  background: none;
  padding: 4px 2px 5px 4px;
  font-size: 12px
}
.select-trainings-dropdown-link {
  text-decoration: none;
  width: 14px;
  height: 20px;
  float: left;
  cursor: pointer;
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -2px -255px;
  margin-top: 3px
}
#select-trainings-dropdown-list {
  display: none;
  position: absolute;
  top: 24px;
  z-index: 100;
  width	: 97px;
  margin-left:0
}
#select-trainings-dropdown-list li {
  width: 87px;
  display: block;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  color: #4686DD;
  padding: 2px 5px 5px
}
#admin-data-grid #search-dropdwn-list {
  width:110px		
}		
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper{
  margin : 0
}
#discount-basic-addedit-form-container #admin-data-grid .admin-discounts-trainings-wrapper .admin_add_multi_search_container {
  margin: 6px 0 0 0;
  padding-bottom: 12px
}
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .addedit-form-cancel-container-actions {
  margin-right: 15px
}
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .catalog-pub-add-list { 
  right: 22px;
  margin-top: 1px
}
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .admin-save-button-container-view-mode{
  margin-right : 16px
}
#discount-basic-addedit-form-container #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid .ui-jqgrid-hdiv {
  background:none;
  border: 0;
  margin-left: 2px
}
#discount-basic-addedit-form-container  #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid .ui-jqgrid-bdiv {
  border: 0
}
#discount-basic-addedit-form-container  #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
  padding: 9px 5px 0 0
}
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .admin-datagrid-save-cancel-button-align-bottom{
  position : relative
}
#discount-basic-addedit-form-container input.addedit-edit-dis_code {
  width: 389px
}
#discount-basic-addedit-form-container .trainings-view-grid {
  height: 340px
}
#discount-basic-addedit-form-container .addedit-new-field-value textarea {
  height: 28px;
  max-width: 395px;
  min-width: 395px;
  border: 1px solid #999
}
#discount-basic-addedit-form-container .admin-save-pub-unpub-button-container {
  padding-left: 4px
}
#discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .admin_add_multi_search_container {
  width: 62%
}
#discount-basic-addedit-form-container .edit-catalog-course-save-publish {
  margin: 0
}
#admin-data-grid .discount-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-left: -2px
}
#discount-basic-addedit-form-container #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th .checkbox-selected,
#discount-basic-addedit-form-container #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th .checkbox-unselected{
  padding-left:2px
}
#discount-basic-addedit-form .catalog-course-basic-addedit-form-container {min-height:0}
#discount-basic-addedit-form-container #edit-mrocancelbtn{
  margin-right:7px
}
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:600px
}
.fade-out-title-container.exp-sp-admin-commerce-discounts-type-fadeout-container{
  display: inline-block;
  margin-bottom: -4px
}
.fade-out-title-container.admin-narrow-search-edit-tooltip-code-fadeout-container{
  max-width:250px;
  display:block
}
.fade-out-title-container.admin-learning-traningcode-fadeout-container{
  max-width:100px
}
.fade-out-title-container.admin-learning-traningtitle-fadeout-container{
  max-width:450px
}
/*!chrome browser hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #discount-basic-addedit-form-container  #admin-data-grid .admin-discounts-trainings-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
    padding: 9px 6px 0 0
  }
  #discount-basic-addedit-form-container .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
    margin-right: 6px
  }  
  #admin-data-grid .discount-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-left: 0
  }
}