#learner-learningplan {
  width:100%;
  height:30px;
  border-bottom:solid 1px #ccc
}
#content .block-exp-sp-lnrlearningplan {
  margin-top:10px
}
#enroll-lp-result-container {
  min-height:75px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  background:#fff
}
#learner-maincontent {
  clear:both
}
#learner-learningplan .block-title {
  width:25%;
  float:left;
  color:#333;
  font-weight:bold;
  text-align:left;
  padding:0;
  text-indent:11px;
  text-transform:uppercase
}
#learner-learningplan .block-title-left {
  width:100%;
  float:left;
  padding-left:0;
  border-bottom:0
}
#learner-learningplan .block-title-right {
  width:100%;
  padding-right:0
}
#learner-learningplan .block-title-middle {
  margin:0 0.9%
}
#learner-learningplan #learningplan-maincontent {
  float:right;
  margin-left:11px;
  padding-top:4px;
  width:73%
}
.EnrolltabNavigation-LP {
  margin:0;
  padding:0;
  list-style-type:none
}
.EnrolltabNavigation-LP li {
  display:block;
  margin-right:0;
  float:left;
  height:25px;
  padding:0 8px
}
.EnrolltabNavigation-LP li a {
  text-decoration:none;
  color:#666;
  height:29px;
  font-size:13px;
  float:left
}
.EnrolltabNavigation-LP li a span {
  float:left;
  height:19px;
  padding:0 0 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a span span {
  float:left;
  height:19px;
  padding:4px 10px 3px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a:hover {
  text-decoration:none;
  color:#666;
  height:29px;
  font-size:13px;
  float:left
}
.EnrolltabNavigation-LP li a:hover span {
  float:left;
  height:19px;
  padding:0 0 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a:hover span span {
  float:left;
  height:19px;
  padding:4px 10px 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li.selected {
  display:inline;
  float:left;
  height:25px;
  padding:0 8px;
}
.EnrolltabNavigation-LP li.selected a {
  text-decoration:none;
  color:#000;
  font-size:13px;
  height:27px;
  padding:0 0 0 10px;
  float:left;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) no-repeat left -114px
}
.EnrolltabNavigation-LP li.selected a span {
  float:left;
  height:27px;
  padding:0 10px 0 0;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) no-repeat right -174px
}
.EnrolltabNavigation-LP li.selected a span span {
  float:left;
  height:20px;
  padding:5px 0 2px 0;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) repeat-x left -144px
}
.ui-corner-all {
  -moz-border-radius:0
}
#paintEnrollmentLPResults {
  font-size:12px;
  max-width:100%;
  outline:1px solid #fff
}
#paintEnrollmentLPResults td {
  border:0;
  padding-bottom:10px
}
#paintEnrollmentLPResults .enroll-show-moreclass td {
  padding-bottom:0
}
#paintEnrollmentLPResults tr.ui-widget-content td {
  border-bottom:1px solid #ccc;
  padding-top:5px
}
#paintEnrollmentLPResults .ui-widget-content,.ui-widget-content {
  border:0;
  font-size:12px;
  color:#666
}
#paintEnrollmentLPResults .ui-jqgrid tr.ui-row-ltr td {
  border:0;
  vertical-align:top
}
#paintEnrollmentLPResults .ui-widget-content td {
  border:0;
  border-bottom:1px solid #ccc
}
#enroll-lp-result-container #LPDetailsMainDiv {
  color:#666;
  border-bottom:1px solid #ccc;
  float:left
}
#enroll-lp-result-container #LPDetailsMainDiv .FindTrngTxt {
  padding-bottom:10px
}
#gbox_paintEnrollmentLPResults .ui-state-default {
  background:none;
  border:0;
  padding:5px 0 4px 0;
  text-align:left;
  font-size:13px;
  color:#666
}
#gbox_paintEnrollmentLPResults #paintEnrollmentLPResults_toppager {
  display:none
}
#paintEnrollmentLPResults .ui-state-hover {
  border:0;
  background:#dbeefa
}
#paintEnrollmentLPResults  .ui-state-highlight {
  border:0;
  background:none
}
#paintEnrollmentLPResults tr.jqgrow td {
  padding:8px 0;
  white-space:normal;
  font-size:14px
}
#paintEnrollmentLPResults .ui-widget-content a,
#paintEnrollmentLPResults .jqgrow a {
  text-decoration:none
}
#enroll-lp-result-container .enroll-lp-course-title .item-title {
  float:left;
  display:block;
  /*width:41%*/
}
#enroll-lp-result-container .enroll-lp-course-title .item-title-wbt {
  float:left;
  display:block
}
#enroll-lp-result-container .item-title-code {
  width:100%;
  float:left;
  padding-top:4px;
  padding-bottom:10px;
  font-size:13px;
  color:#999;
  margin-left:-1px
}
#enroll-lp-result-container .enroll-tp-title-info {
  width:96%;
  text-align:left;
  margin-left:16px;
  margin-right:5px;
  color:#333;
  clear: both;
  float:left
}
#paintEnrollmentLPResults .title_close {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -129px -16px;
  height:14px;
  margin:1px 0 0 4px;
  float:left;
  width:12px;
  text-decoration:none
}
#paintEnrollmentLPResults .title_open {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -117px -14px;
  height:14px;
  margin-left:1px;
  margin:1px 4px 0 0;
  float:left;
  width:12px;
  text-decoration:none
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .enroll-bottom-curve {
  width:100%
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .block-footer-left {
  width:99.2%;
  padding-left:0.8%
}
#enroll-lp-result-container .loaderimg {
  margin:0 auto
}
#enroll-lp-result-container .enroll-action {
  display:none;
  z-index:100
}
#enroll-lp-result-container .myenrollment-table {
  padding:5px 0 0 16px;
  background:#fff
}
#enroll-lp-result-container .enrollment-class-table {
  border:1px solid #dddfe2;
}
#enroll-lp-result-container .enrollment-class-table th {
  background:#efefef;
  padding:4px 6px 4px 8px;
  font-weight:normal
}
#enroll-lp-result-container .enrollment-class-table tr {
  border-bottom:1px solid #dddfe2
}
#enroll-lp-result-container .enrollment-class-table tr td {
  padding:5px 6px 5px 8px
}
#enroll-lp-result-container .enroll-lp-class-title {
  line-height:20px;
  font-size:14px;
  float:left
}
#enroll-lp-result-container .enroll-lp-main-list {
  float:right;
  min-width:103px;
  margin-top:1px
}
#enroll-lp-result-container .enroll-launch,
#enroll-lp-result-container .enroll-launch-more,
#enroll-lp-result-container .enroll-launch-gray,
#enroll-lp-result-container .enroll-launch-more-gray,
#launch-lp-wizard .enroll-launch {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -87px -1599px;
  width:93px;
  color:#fff;
  font-weight:normal;
  border:0;
  line-height:20px;
  margin:0 0 0 2px;
  text-align:center;
  font-size:12px;
  cursor:pointer;
  height:20px;
  padding:0
}
.enroll-lp-course-title {
  text-align:left;
  color:#333
}
#paintEnrollmentLPResults .enroll-launch-more {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -45px -302px;
  width:16px;
  height:20px;
  float:right
}
#paintEnrollmentLPResults .enroll-launch-more-gray {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -70px -302px;
  width:16px;
  float:right
}
#paintEnrollmentLPResults .enroll-launch-gray {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -67px -328px;
  width:53px;
  float:left
}
#enroll-lp-result-container .enroll-launch {
  float:left;
  padding:0
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full,
#launch-lp-wizard .enroll-launch-full {
  width:68px;
  height:20px;
  display:inline-block;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -2px -412px
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty {
  display:inline-block
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty,
#launch-lp-wizard .enroll-launch-empty {
  width:68px;
  height:20px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -80px -412px;
  margin-left:4px
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch, 
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty .enroll-launch-gray,
#launch-lp-wizard .enroll-launch-empty .enroll-launch,
#lplaunch-content-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch {
  width:66px;
  background:url('')
}
#paintEnrollmentLPResults tr.jqgfirstrow td {
  border:0
}
.enroll-attach {
  clear:both;
  font-size:13px;
  padding:11px 0 6px 0;
}
.enroll-attach-listitems {
  margin:0;
  padding:0;
  list-style-type:none;
  width:100%;
  float:left
}
.enroll-attach-listitems li {
  display:block;
  float:left
}
.enroll-attach-listitems li a,
.enroll-attach-listitems li a:hover {
  padding:0;
  color:#4686DD;
  text-decoration:none
}
#gbox_paintEnrollmentLPResults #refresh_paintEnrollmentLPResults {
  display:none
}
#gbox_paintEnrollmentLPResults #pager-lp {
  position:relative;
  font-size:12px;
  font-family:helvetica neue, arial
}
#gbox_paintEnrollmentLPResults #pager-lp #pager_right {
  position:absolute;
  left:20px
}
#enroll-lp-result-container .enroll-show-moreevent tr.odd {
  background:#fff
}
#enroll-lp-result-container .enroll-show-moreevent tr.even {
  background:#f8f8f8
}
#enroll-lp-result-container .enroll-show-select a,.enrollment-class-table a.show-alternative-txt {
  color:#4686DD;
  text-decoration:none
}
#enroll-lp-result-container #LPDetailsMainDiv td.enroll-classes-list {
  padding:5px 6px
}
#enroll-lp-result-container .enroll-action .enroll-drop-down-list {
  margin:-1px 0 0 -1px;
  padding:0;
  list-style-type:none;
  border:1px solid #ccc;
  background:#fff
}
#enroll-lp-result-container .enroll-drop-down-list li {
  display:block;
  padding:3px 1px;
  text-align:left
}
#enroll-lp-result-container .enroll-action .enroll-drop-down-list li a {
  padding:0 1px 0 8px;
  display:block;
  color:#4686DD;
  text-decoration:none;
  margin-bottom:1px;
  text-align:right;
  font-size:12px;
  min-width:58px;
  float:none
}
#enroll-lp-result-container .enroll-drop-down-list li.action-disable,
#enroll-lp-result-container .enroll-drop-down-list li:hover {
  display:block;
  padding:3px 1px;
  background:#dbeefa;
  text-align:left
}
#enroll-lp-result-container .enroll-drop-down-list li a:hover {
  padding:0 1px 0 8px;
  color:#4686DD;
  text-decoration:none;
  margin-bottom:1px;
  text-align:right;
  font-size:12px;
  display:block
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Name {
  padding:6px 0 4px 0
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Date,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Start,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_End,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Type {
  text-align:left;
  cursor:default;
  padding:0
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Date .ui-jqgrid-sortable {
  padding:0 0 0 2px;
  cursor:default
}
#paintEnrollmentLPResults_Name {
  width:219px
}
#enroll-lp-result-container #LPDetailsMainDivShowShortText {
  background:none;
  width:10px;
  color:#ff7924;
  padding-left:6px;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1479px
}
#enroll-lp-result-container #LPDetailsMainDiv a.ShowFullText {
  background:none;
  width:10px;
  color:#ff7924;
  padding-left:6px;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat -1px -1491px
}
#paintEnrollmentLPResults .ui-jqgrid .ui-jqgrid-bdiv {
  overflow:hidden;
  position:static
}
.show-alternative-txt {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1350px;
  padding:0 0 0 14px;
  font-size:11px
}
.ui-widget-content a.hide-alternative-txt {
  display:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1338px;
  padding:0 0 0 14px;
  font-size:11px;
  text-decoration:none;
  color:#4686DD
}
#enroll-lp-result-container .enrollment-class-name {
  width:235px
}
#enroll-lp-result-container .enrollment-class-day {
  width:40px
}
#enroll-lp-result-container .enrollment-class-date,
#enroll-lp-result-container .enrollment-class-start {
  width:80px
}
#enroll-lp-result-container .enroll-attach-download {
  color:#999
}
#enroll-lp-result-container .enroll-accordian-div {
  padding:0 0 5px 16px;
  font-size:13px;
  width:97%
}
#gview_paintEnrollmentLPResults {
  padding-bottom:12px
}
#enroll-lp-result-container .enroll-course-code {
  padding:0 0 4px 0
}
#enroll-lp-result-container .recordDiv {
  padding:0;
  margin-left:-16px
}
#enroll-lp-result-container .enroll-accordian-div .recordDiv {
  margin-left:4px
}
#enroll-lp-result-container .enroll-events {
  padding:3px 0 15px 0
}
#enroll-lp-result-container .lp-launch-content-status {
  color:#999;
  font-size:10px;
  font-weight:normal;
  padding-top:1px;
  clear:both;
  display:block;
  width:73px;
  float:right;
  text-align:center
}
#enroll-lp-result-container #enroll-lp-noresult-msg {
  display:none;
  color:#999;
  padding:10px;
  text-align:center
}
#enroll-lp-result-container .time-zone-text {
  font-size:10px
}
#enroll-lp-result-container .enroll-course-code a {
  color:#666;
  text-decoration:underline;
  cursor:pointer
}
#enroll-lp-result-container .enroll-course-code a:hover {
  color:#666;
  text-decoration:none;
  cursor:pointer
}
#jqgh_paintEnrollmentLPResults_Date {
  padding-left:25px
}
#jqgh_paintEnrollmentLPResults_Start {
  padding-left:19px
}
#jqgh_paintEnrollmentLPResults_End {
  padding-left:11px
}
#enroll-lp-result-container .enroll-session-time {
  font-size:12px;
  color:#666;
  display:block;
  padding-left:9px;
  line-height:1.3em;
  width:90%
}
#enroll-lp-result-container .sessionDet {
  float:left;
  padding-top:7px
}
#enroll-lp-result-container .sessName {
  width:200px;
  float:left;
  margin-right:20px	
}
#enroll-lp-result-container .sessDay {
  width:40px;
  float:left
}
#enroll-lp-result-container .sessDate {
  float:left
}
#enroll-lp-result-container .sessAddress {
  float:left;
  padding-right:5px
}
#enroll-lp-result-container .sessAddDet {
  float:left;
  width:100%;
  clear:both;
  padding-top:12px
}
#gview_paintEnrollmentLPResults .ui-jqgrid-hbox {
  display:none
}
#gbox_paintEnrollmentLPResults {
  clear:both
}
#enroll-lp-result-container .tooltiptop {
  width:241px;
  height:35px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-top.png) no-repeat 0 -4px
}
#enroll-lp-result-container .tooltipmid {
  width:230px;
  height:auto;
  padding:8px 0 0 17px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-middle.png) repeat-y
}
#enroll-lp-result-container .tooltipbottom {
  width:241px;
  height:27px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-bottom.png) no-repeat
}
.enroll-lp-sort-by-container {
  width:100%;
  clear:both;
  padding-top:13px
}
#enroll-lp-result-container .sort-by-text {
  color:#666;
  font-size:13px;
  float:left;
  max-width:70px;
  margin-right:8px;
  padding-left:16px;
  height:18px
}
#enroll-lp-result-container .sort-by-links {
  list-style-type:none;
  float:left;
  width:75%;
  line-height:1.2em;
  margin-top:-1px
}
#enroll-lp-result-container .sort-by-links li {
  display:inline
}
#enroll-lp-result-container .sort-by-links li a {
  color:#4686DD;
  float:left;
  padding:2px 0 0 0;
  font-size:13px;
  text-decoration:none
}
#enroll-lp-result-container .sort-by-links li a:hover {
  color:#4686DD;
  text-decoration:none;
  padding:2px 0 0 0;
  font-size:13px
}
.qtip-wrapper .qtip-content {
  padding-top:0px;
}
#enroll-lp-result-container .session-time-zone {
  padding:0 0 0 3px;
  font-size:13px;
  color:#333;
  width:auto
}
#enroll-lp-result-container .enroll-loc-head {
  padding:5px 0px;
  font-size:13px;
}
#enroll-lp-result-container .enroll-loc-details {
  width:100%;
  font-size:13px;
  margin:8px 0 0 0
}
#enroll-lp-result-container .enroll-location-text {
  color:#666;
  font-size:13px;
  line-height:1.3em;
  padding:1px 0;
  width:400px
}
#enroll-lp-result-container .enroll-location-head {
  width:105px
}
#paintEnrollmentLPResults .enroll-session-details {
  padding:10px 0 0
}
#paintEnrollmentLPResults #pager_center {
  position:relative
}
#paintEnrollmentLPResults .enroll-datatable-column1 {
  width:80%
}
#paintEnrollmentLPResults .enroll-datatable-column2 {
  width:20%
}
#block-exp-sp-lnrenrollment-tab-my-enrollment .enroll-box-container,
#content .enroll-disable-right-region {
  margin-top:10px
}
#enroll-lp-result-container .sort-by-links li a.sortype-high-lighter {
  font-weight:bold
}
.progress-corner-all {
  -moz-border-radius:4px;
  -webkit-border-radius:4px
}
#pager-lp {
  position:relative
}
#pager-lp_center {
  width:100%
}
#pager-lp_center .ui-pg-table {
  float:right;
  position:static;
  white-space: nowrap
}
#pager-lp_left,
#pager-lp_right,
#first_pager-lp,
#last_pager-lp {
  display:none
}
#next_pager-lp span,
#prev_pager-lp span,
#first_pager-lp span,
#last_pager-lp span {
  background:none
}
#first_pager-lp,
#prev_pager-lp {
  width:26px;
  height:18px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#first_pager-lp {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -253px
}
#prev_pager-lp {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px
}
#next_pager-lp,
#last_pager-lp {
  width:28px;
  height:18px;
  padding-right:2px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#next_pager-lp {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px
}
#last_pager-lp {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -158px -302px
}
#enroll-lp-result-container .search-pagination-right {
  padding-right:8px
}
#gbox_paintEnrollmentLPResults a {
  text-decoration:none
}
#paintEnrollmentLPResults .course-level {
  padding-left:25px
}
#paintEnrollmentLPResults .class-level {
  padding-left:20px
}
#paintEnrollmentLPResults .enroll-show-morecourse {
  width:100%;
  padding-top:15px
}
#enroll-lp-result-container .enroll-show-morecourse th,
.enroll-show-moreclass th {
  font-weight:bold;
  border-bottom:1px solid #ccc
}
#enroll-lp-result-container .set-height {
  height:50px
}
#enroll-lp-result-container .enrollment-course-name {
  width:45%
}
#enroll-lp-result-container .enrollment-course-code,
#enroll-lp-result-container .enrollment-course-type {
  width:20%
}
#enroll-lp-result-container .enrollment-course-status {
  width:15%
}
#paintEnrollmentLPResults .enroll-class-title-info {
  text-align:left;
  margin-left:16px;
  color:#333;
  width:100%
}
#paintEnrollmentLPResults .ui-progressbar {
  width:160px;
  height:22px;
  float:left;
  background-color:#ccc
}
#paintEnrollmentLPResults .ui-progressbar-value {
  height:20px;
  background-color:#7BD148;
  margin:0
}
#paintEnrollmentLPResults .progress-status {
  height:22px;
  line-height:22px;
  position:absolute;
  text-align:center;
  width:162px;
  font-size:11px;
  color:#000
}
#paintEnrollmentLPResults tr.ui-state-hover .ui-progress-curve {
  height:22px;
  position:absolute;
  width:160px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/progress_bar_hover.png) no-repeat left top
}
#paintEnrollmentLPResults  .ui-progress-curve {
  height:22px;
  position:absolute;
  width:160px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/progress_bar.png) no-repeat left top
}
#enroll-lp-result-container .empty-border {
  height:0
}
#enroll-lp-result-container .learningplan-desc-div {
  padding:0 0 0 16px;
  font-size:13px
}
#enroll-lp-result-container .course-title-code {
  width:100%;
  float:left;
  padding:4px 0 6px 0;
  font-size:13px;
  color:#666
}
#enroll-lp-result-container .days-remain {
  padding:8px 0 8px 0
}
#enroll-lp-result-container .item-assigned-code {
  padding:2px 0 0 0;
  font-size:13px
}
#paintEnrollmentLPResults tr.noborder td {
  border-bottom:0;
}
#launch-lp-wizard {
  min-height:75px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  background:#fff;
  width:99.8%
}
#launch-lp-wizard .enroll-course-title .item-title {
  float:left;
  display:block
}
#launch-lp-wizard .enroll-class-title-info {
  width:100%;
  text-align:left;
  color:#333
}
#launch-lp-wizard .item-title-code {
  width:100%;
  float:left;
  padding-top:4px;
  font-size:13px;
  color:#999;
  marign-left:-1px
}
#launch-lp-wizard .enroll-launch-column1 {
  width:85%
}
#launch-lp-wizard .enroll-launch-column2 {
  width:15%
}
#launch-lp-wizard .enroll-main-list {
  float:right;
  width:73px;
  text-align:right
}
#launch-lp-wizard #lplaunch-content-container {
  margin:6.5px 15px 0 15px
}
#launch-lp-wizard .enrollment-lplaunch-table tr {
  border-bottom:1px solid #dddfe2
}
#launch-lp-wizard .enrollment-lplaunch-table tr td {
  padding:5px 6px 5px 0
}
#paintCatalogHeader .change-class-find-trng-sort {
  border-bottom:1px solid #CCC;
  clear:both;
  padding:0 0 7px;
  text-align:left
}
#page-container #paintEnrollmentLPResults .enroll-datatable-column-img {
  width:10%
}
#page-container #enroll-lp-result-container .enroll-lp-main-list {
  width:105px
}
#page-container #enroll-lp-result-container .enroll-lp-course-title .item-title {
  width:58%
}
.FindTrngTxt .training-desc {
  margin-left:15px;
  display:block;
  width:500px
}
.page-learning-enrollment-search #tbl-paintCatalogContentResults .search-register-btn tr td.action-course-btn {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action.png") no-repeat;
  border:0;
  color:#FFF;
  cursor:pointer;
  font-size:13px;
  font-weight:bold;
  height:40px;
  vertical-align:middle;
  text-align:center;
  width:99px
}
.page-learning-enrollment-search #tbl-paintCatalogContentResults .search-register-btn tr td.action-course-btn-waitlist {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action_waitlist.png") no-repeat;
  border:0;
  color:#FFF;
  cursor:pointer;
  font-size:13px;
  font-weight:bold;
  height:40px;
  line-height:1.1em;
  vertical-align:middle;
  text-align:center;
  width:99px;
  cursor:pointer
}
.page-learning-enrollment-search #tbl-paintCatalogContentResults .search-register-btn tr td.action-course-btn-disable {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/action_disable.png") no-repeat;
  border:0;
  color:#FFF;
  font-size:13px;
  font-weight:bold;
  height:40px;
  vertical-align:middle;
  text-align:center;
  width:99px
}
#enroll-lp-result-container .course-row, 
#enroll-lp-result-container .status-row, 
#enroll-lp-result-container .attach-row, 
#enroll-lp-result-container .session-row, 
#enroll-lp-result-container .location-row {
  clear:both;
  width:550px;
  float:left
}
#enroll-lp-result-container .course-row, 
#enroll-lp-result-container .location-row,
#enroll-lp-result-container .attach-row-tpClass,
#enroll-lp-result-container .session-row {
  padding:10px 0 0 0 ;
  display:inline-block	
}
#enroll-lp-result-container .attach-row,
#enroll-lp-result-container .status-row {
  padding:10px 0 0 15px;
}
#enroll-lp-result-container .status-row .status-label.markcompletestatus {
  width: 137px
}
#enroll-lp-result-container .course-row .course-label,
#enroll-lp-result-container .status-row .status-label,
#enroll-lp-result-container .attach-row .attach-label,
#enroll-lp-result-container .attach-row-tpClass .attach-label,
#enroll-lp-result-container .location-row .location-label {
  width:98px;
  float:left;
  font-weight:bold;
  color:#666
}
#enroll-lp-result-container .course-row .course-desc,
#enroll-lp-result-container .status-row .status-desc,
#enroll-lp-result-container .attach-row .attach-desc,
#enroll-lp-result-container .attach-row-tpClass .attach-desc,
#enroll-lp-result-container .location-row .location-desc {
  width:435px;
  float:left
}
#enroll-lp-result-container .attach-row .attach-info,
#enroll-lp-result-container .attach-row-tpClass .attach-info {
  clear:both;
  float:left;
  color:#777;
  font-size:11px;
  margin-left:0;
  font-weight:normal
}
#enroll-lp-result-container .session-row .session-label {
  padding-bottom:5px;
  float:left;
  font-weight:bold
}
#enroll-lp-result-container .session-row .session-desc {
  clear:both;
  width:550px;
  margin-left:20px
}
#enroll-lp-result-container .session-row .session-desc .sessionDet {
  clear:both;
  float:left;
  min-width:450px;
  padding:0 0 5px
}
#enroll-lp-result-container .location-row .location-desc span {
  padding-right:5px;
  display:block;
  float:left
}
#enroll-lp-result-container .traning-plan-cls-titlist {
  padding:5px 0 0 20px;
  width:500px
}
#enroll-lp-result-container .traning-plan-cls-grp-title {
  padding:15px 0 0 0;
  width:500px
}
#enroll-lp-result-container .mypgm-group-title,
#enroll-lp-result-container .mypgm-item-assigned-code {
  min-width:98px;
  float:left;
  font-weight:bold
}
#enroll-lp-result-container .mypgm-item-assigned-code,
#enroll-lp-result-container .status-row .status-label {
  margin-right:5px
}
#enroll-lp-result-container .enroll-lp-main-list .mypgm-recertify {
  width:93px
}
#paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_enr,
#paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cmp {
  max-width:280px;
  padding-top:0;
  margin-right:20px
}
#paintEnrollmentLPResults .ui-state-highlight.ui-state-hover .fade-out-image {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -30px;  
}
#paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code,#paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code-right-false {
  max-width:100px;
  display:inline-block;
  margin-bottom:-3px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-enroll-fulltitle {
  max-width:475px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code {
  max-width:200px;
  display:inline-block;
  margin-bottom:-8px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-titlist {
  max-width:480px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code,
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location {
  max-width:100px;
  display:inline-block;
  margin-bottom:-3px 
}
#enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title {
  width:auto
}
#enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass .enroll-lp-course-title .item-title .enroll-lp-class-title .exp-sp-lnrmyprogram-enroll-fulltitle {
  display:inline-block;
  margin-right:15px;
  max-width:260px;
  padding-top:0
}
#paintEnrollmentLPResults .enroll-show-moreclass .enroll-session-details .exp-sp-lnrmyprogram-session-title {
  max-width:400px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-grp-title {
  max-width:370px
}