#learner-learningplan {
  width:100%;
  height:30px;
  border-bottom:solid 1px #ccc
}
/*#content .block-exp-sp-lnrlearningplan {
  margin-top:10px
}*/
#enroll-lp-result-container {
  min-height:75px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  background:#fff
}
#learner-maincontent {
  clear:both
}
#learner-learningplan .block-title {
  text-indent:2px
}
#learner-learningplan .block-title-left {
  width:100%;
  float:left;
  padding-left:0;
  border-bottom:0
}
#learner-learningplan .block-title-right {
  width:100%;
  padding-right:0
}
#learner-learningplan .block-title-middle {
  margin:0 0.9%
}
#learner-learningplan #learningplan-maincontent {
  float:right;
  margin-left:11px;
  padding-top:4px;
  width:73%
}
.EnrolltabNavigation-LP {
  margin:0;
  padding:0;
  list-style-type:none
}
.EnrolltabNavigation-LP li {
  display:block;
  margin-right:0;
  float:left;
  height:30px;
  padding:0 8px
}
.EnrolltabNavigation-LP li a {
  text-decoration:none;
  color:#666;
  height:29px;
  font-size:13px;
  float:left
}
.EnrolltabNavigation-LP li a span {
  float:left;
  height:19px;
  padding:0 0 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a span span {
  float:left;
  height:19px;
  padding:4px 10px 3px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a:hover {
  text-decoration:none;
  color:#666;
  height:29px;
  font-size:13px;
  float:left
}
.EnrolltabNavigation-LP li a:hover span {
  float:left;
  height:19px;
  padding:0 0 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li a:hover span span {
  float:left;
  height:19px;
  padding:4px 10px 5px 0;
  text-decoration:none
}
.EnrolltabNavigation-LP li.selected {
  display:inline;
  float:left;
  height:25px;
  padding:0 8px
}
.EnrolltabNavigation-LP li.selected a {
  text-decoration:none;
  color:#000;
  font-size:13px;
  height:27px;
  padding:0 0 0 10px;
  float:left;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) no-repeat left -114px
}
.EnrolltabNavigation-LP li.selected a span {
  float:left;
  height:27px;
  padding:0 10px 0 0;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) no-repeat right -174px
}
.EnrolltabNavigation-LP li.selected a span span {
  float:left;
  height:20px;
  padding:5px 0 2px 0;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/menu_bg1.png) repeat-x left -144px
}
.ui-corner-all {
  -moz-border-radius:0
}
#paintEnrollmentLPResults {
  font-size:12px;
  width:100%;
  outline:1px solid #fff
}
#paintEnrollmentLPResults td {
  border:0
}
#paintEnrollmentLPResults tr.ui-widget-content td {
  border-bottom:1px solid #EDEDED
}
#paintEnrollmentLPResults .ui-widget-content,.ui-widget-content {
  border:0;
  font-size:12px;
  color:#666
}
#paintEnrollmentLPResults .ui-jqgrid tr.ui-row-ltr td {
  border:0;
  vertical-align:top
}
#paintEnrollmentLPResults .ui-widget-content td {
  border:0;
  border-bottom:1px solid #ccc
}
#enroll-lp-result-container #LPDetailsMainDiv {
  color:#2d2d2d;
  border-bottom:1px solid #E5E5E5;
  float:left;
  margin-top:-23px
}
#enroll-lp-result-container #LPDetailsMainDiv .FindTrngTxt {
  padding:0
}
#gbox_paintEnrollmentLPResults #paintEnrollmentLPResults_toppager {
  display:none
}
#paintEnrollmentLPResults .ui-state-hover {
  border:0;
  background:#dbeefa
}
#paintEnrollmentLPResults  .ui-state-highlight {
  border:0;
  background:none
}
#paintEnrollmentLPResults tr.jqgrow td {
  padding:8px 0;
  white-space:normal;
  font-size:14px
}
#paintEnrollmentLPResults .ui-widget-content a {
  text-decoration:none;
  display:block
}
#paintEnrollmentLPResults .jqgrow a {
  text-decoration:none
}
#enroll-lp-result-container .enroll-lp-course-title .item-title {
  float:left;
  display:block;
  width:41%
}
#enroll-lp-result-container .enroll-lp-course-title .item-title-wbt {
  float:left;
  display:block
}
#enroll-lp-result-container .item-title-code {
  width:100%;
  float:left;
  padding-top:1px;
  font-size:13px;
  color:#999
}
#enroll-lp-result-container .enroll-tp-title-info {
  width:580px;
  text-align:left;
  margin-left:16px;
  color:#333
}
#paintEnrollmentLPResults .title_close {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -129px -16px;
  height:14px;
  margin:2px 2px 0 1px;
  float:left;
  width:12px;
  text-decoration:none
}
#paintEnrollmentLPResults .title_open {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -117px -14px;
  height:14px;
  margin-left:1px;
  margin:0 4px 0 0;
  float:left;
  width:12px;
  text-decoration:none
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .enroll-bottom-curve {
  width:100%
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .clsRightNoData {
	width: 99.5%
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .block-footer-left {
  width:99.2%;
  padding-left:0.8%
}
#enroll-lp-result-container .loaderimg {
  margin:0 auto
}
#enroll-lp-result-container .enroll-action {
  display:none;
  z-index:100
}
#enroll-lp-result-container .myenrollment-table {
  padding:0 0 0 16px;
  background:#fff
}
#enroll-lp-result-container .enrollment-class-table {
  border:1px solid #dddfe2
}
#enroll-lp-result-container .enrollment-class-table th {
  background:#efefef;
  padding:4px 6px 4px 8px;
  font-weight:normal
}
#enroll-lp-result-container .enrollment-class-table tr {
  border-bottom:1px solid #dddfe2
}
#enroll-lp-result-container .enrollment-class-table tr td {
  padding:5px 6px 5px 8px
}
#enroll-lp-result-container .enroll-lp-class-title {
  line-height:19px;
  font-size:14px;
  float:left
}
#enroll-lp-result-container .enroll-lp-main-list {
  float:right;
  width:73px;
  margin-top:1px
}
#enroll-lp-result-container .enroll-launch,
#enroll-lp-result-container .enroll-launch-more,
#enroll-lp-result-container .enroll-launch-gray,
#enroll-lp-result-container .enroll-launch-more-gray,
#launch-lp-wizard .enroll-launch {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat 0 -328px;
  width:53px;
  color:#fff;
  font-weight:normal;
  border:0;
  line-height:20px;
  margin:0 0 0 2px;
  text-align:center;
  font-size:12px;
  cursor:pointer;
  height:20px;
  padding:0
}
.enroll-lp-course-title {
  text-align:left;
  color:#333
}
#paintEnrollmentLPResults .enroll-launch-more {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -45px -302px;
  width:16px;
  height:20px;
  float:right
}
#paintEnrollmentLPResults .enroll-launch-more-gray {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -70px -302px;
  width:16px;
  float:right
}
#paintEnrollmentLPResults .enroll-launch-gray {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -67px -328px;
  width:53px;
  float:left
}
#enroll-lp-result-container .enroll-launch {
  float:left;
  padding:0
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full,
#launch-lp-wizard .enroll-launch-full {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -317px -74px;
  border:0;
  color:#FFF;
  cursor:pointer;
  font-family:ProximaNovaBold;
  font-size:11px;
  font-weight:normal;
  height:32px;
  margin-top:4px;
  padding:0;
  text-transform:uppercase;
  width:111px
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty {
  color:#FFF;
  cursor:pointer;
  font-family:ProximaNovaBold;
  font-size:11px;
  font-weight:normal;
  height:32px;
  margin-top:4px;
  padding:0;
  text-transform:uppercase;
  width:111px;
  display:inline-block;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -317px -74px
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty,
#launch-lp-wizard .enroll-launch-empty {
  color:#FFF;
  cursor:pointer;
  font-family:ProximaNovaBold;
  font-size:11px;
  font-weight:normal;
  height:32px;
  margin-top:4px;
  padding:0;
  text-transform:uppercase;
  width:111px;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -317px -74px
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch,
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty .enroll-launch-gray,
#launch-lp-wizard .enroll-launch-empty .enroll-launch {
  cursor:pointer;
  font-family:ProximaNovaBold;
  font-size:11px;
  font-weight:normal;
  height:32px;
  margin-top:0;
  padding:0;
  text-transform:uppercase;
  width:111px;
}
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch,
#enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-empty .enroll-launch-gray {
	background:url('');
}
#lplaunch-content-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch {
  background:url('');
  color:#FFF;
  cursor:pointer;
  font-family:ProximaNovaBold;
  font-size:11px;
  font-weight:normal;
  height:27px;
  margin-top:4px;
  padding:0;
  text-transform:uppercase;
  width:111px
}
#lplaunch-content-container .enroll-accordian-div {
  padding:0 0 5px 15px;
  font-size:13px;
  width:100%
}
#paintEnrollmentLPResults tr.jqgfirstrow td {
  border:0
}
#launch-lp-wizard #lplaunch-content-container #paintEnrollmentLPResults .enroll-main-list .enroll-launch-empty {
  background: none;
}
#launch-lp-wizard #lplaunch-content-container #paintEnrollmentLPResults .enroll-main-list .enroll-launch-empty input.enroll-launch,
#launch-lp-wizard .enroll-launch-empty.enroll-launch {
  background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -3px -273px;
  /* background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat 0 -328px; */
  border: 0 none;
  color: #474747;
  font-family: ProximaNovaBold;
  font-size: 11px;
  font-weight: normal;
  height: 35px;
  margin-top: 4px;
  padding: 0;
  text-transform: uppercase;
  width: 90px;
}
.enroll-attach {
  clear:both;
  font-size:13px;
  padding:0 0 6px 0;
  display:table;
  float:left
}
.enroll-attach-listitems {
  margin:0;
  padding:0;
  list-style-type:none;
  width:100%;
  float:left
}
.enroll-attach-listitems li {
  display:block;
  float:left
}
.enroll-attach-listitems li a,
.enroll-attach-listitems li a:hover {
  padding:0;
  color:#22245E;
  text-decoration:none
}
#gbox_paintEnrollmentLPResults #refresh_paintEnrollmentLPResults {
  display:none
}
#gbox_paintEnrollmentLPResults #pager-lp {
  position:relative;
  font-size:12px;
  font-family:helvetica neue, arial
}
#gbox_paintEnrollmentLPResults #pager-lp #pager_right {
  position:absolute;
  left:20px
}
#enroll-lp-result-container .enroll-show-moreevent tr.odd {
  background:#fff
}
#enroll-lp-result-container .enroll-show-moreevent tr.even {
  background:#f8f8f8
}
#enroll-lp-result-container .enroll-show-select a,.enrollment-class-table a.show-alternative-txt {
  color:#4686DD;
  text-decoration:none
}
#enroll-lp-result-container #LPDetailsMainDiv td.enroll-classes-list {
  padding:5px 6px
}
#enroll-lp-result-container .enroll-action .enroll-drop-down-list {
  margin:-1px 0 0 -1px;
  padding:0px;
  list-style-type:none;
  border:1px solid #ccc;
  background:#fff
}
#enroll-lp-result-container .enroll-drop-down-list li {
  display:block;
  padding:3px 1px;
  text-align:left
}
#enroll-lp-result-container .enroll-action .enroll-drop-down-list li a {
  padding:0 1px 0 8px;
  display:block;
  color:#4686DD;
  text-decoration:none;
  margin-bottom:1px;
  text-align:right;
  font-size:12px;
  min-width:58px;
  float:none
}
#enroll-lp-result-container .enroll-drop-down-list li.action-disable,
#enroll-lp-result-container .enroll-drop-down-list li:hover {
  display:block;
  padding:3px 1px;
  background:#dbeefa;
  text-align:left
}
#enroll-lp-result-container .enroll-drop-down-list li a:hover {
  padding:0 1px 0 8px;
  color:#4686DD;
  text-decoration:none;
  margin-bottom:1px;
  text-align:right;
  font-size:12px;
  display:block
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Name {
  padding:6px 0 4px 0
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Date,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Start,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_End,
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Type {
  text-align:left;
  cursor:default;
  padding:0
}
#gview_paintEnrollmentLPResults #paintEnrollmentLPResults_Date .ui-jqgrid-sortable {
  padding:0 0 0 2px;
  cursor:default
}
#paintEnrollmentLPResults_Name {
  width:219px
}
#enroll-lp-result-container #LPDetailsMainDivShowShortText {
  background:none;
  width:10px;
  color:#ff7924;
  padding-left:6px;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1479px
}
#enroll-lp-result-container #LPDetailsMainDiv a.ShowFullText {
  background:none;
  width:10px;
  color:#ff7924;
  padding-left:6px;
  text-decoration:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat -1px -1491px
}
#paintEnrollmentLPResults .ui-jqgrid .ui-jqgrid-bdiv {
  overflow:hidden;
  position:static
}
.show-alternative-txt {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1350px;
  padding:0 0 0 14px;
  font-size:11px
}
.ui-widget-content a.hide-alternative-txt {
  display:none;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1338px;
  padding:0 0 0 14px;
  font-size:11px;
  text-decoration:none;
  color:#4686DD
}
#enroll-lp-result-container .enrollment-class-name {
  width:235px
}
#enroll-lp-result-container .enrollment-class-day {
  width:40px
}
#enroll-lp-result-container .enrollment-class-date,
#enroll-lp-result-container .enrollment-class-start {
  width:80px
}
#enroll-lp-result-container .enroll-attach-download {
  color:#999
}
#enroll-lp-result-container .enroll-accordian-div {
  padding:0 0 5px 14px;
  font-size:13px;
  width:79%
}
#gview_paintEnrollmentLPResults {
  padding-bottom:0;
 /* min-width:665px*/
}
#page-container #content .section #enroll-lp-result-container .ui-jqgrid #gview_paintEnrollmentLPResults .ui-jqgrid-bdiv{
 /* min-width:665px */
}
#enroll-lp-result-container .enroll-course-code {
  padding:0 0 4px 0
}
#enroll-lp-result-container .recordDiv {
  padding:0;
  text-align: justify
}
#enroll-lp-result-container .enroll-events {
  padding:3px 0 15px 0
}
#enroll-lp-result-container .lp-launch-content-status {
  color:#999;
  font-size:10px;
  font-weight:normal;
  padding-top:1px;
  clear:both;
  display:block;
  width:73px;
  float:right;
  text-align:center;
}
#enroll-lp-result-container #enroll-lp-noresult-msg {
  display:none;
  color:#999;
  padding-top:50px;
  text-align:center
}
#enroll-lp-result-container .time-zone-text {
  font-size:10px
}
#enroll-lp-result-container .enroll-course-code a {
  color:#666;
  text-decoration:underline;
  cursor:pointer
}
#enroll-lp-result-container .enroll-course-code a:hover {
  color:#666;
  text-decoration:none;
  cursor:pointer
}
#jqgh_paintEnrollmentLPResults_Date {
  padding-left:25px
}
#jqgh_paintEnrollmentLPResults_Start {
  padding-left:19px
}
#jqgh_paintEnrollmentLPResults_End {
  padding-left:11px
}
#enroll-lp-result-container .enroll-session-time {
  font-size:12px;
  color:#666;
  display:block;
  padding-left:9px;
  line-height:1.3em;
  width:90%
}
#enroll-lp-result-container .sessionDet {
  float:left;
  padding-top:7px
}
#enroll-lp-result-container .sessName {
  width:200px;
  float:left;
  margin-right:15px
}
#enroll-lp-result-container.clsenroll-lp-result-container .sessName {
	width:50%
}
#enroll-lp-result-container .sessDay {
  width:40px;
  float:left
}
#enroll-lp-result-container.clsenroll-lp-result-container .sessDay {
	width:7%
}
#enroll-lp-result-container .sessDate {
  float:left
}
#enroll-lp-result-container.clsenroll-lp-result-container .sessDate {
	width:40%
}
#enroll-lp-result-container .sessAddress {
  float:left;
  padding-right:5px
}
#enroll-lp-result-container .sessAddDet {
  float:left;
  width:100%;
  clear:both;
  padding-top:12px
}
#gview_paintEnrollmentLPResults .ui-jqgrid-hbox {
  display:none
}
#gbox_paintEnrollmentLPResults {
  clear:both
}
#enroll-lp-result-container .tooltiptop {
  width:241px;
  height:35px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-top.png) no-repeat 0 -4px
}
#enroll-lp-result-container .tooltipmid {
  width:230px;
  height:auto;
  padding:8px 0 0 17px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-middle.png) repeat-y
}
#enroll-lp-result-container .tooltipbottom {
  width:241px;
  height:27px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/tool-tip-bottom.png) no-repeat
}
.enroll-lp-sort-by-container {
  width:100%;
  clear:both;
  padding-top:13px
}
#enroll-lp-result-container .sort-by-text {
  color:#666;
  font-size:13px;
  float:left;
  max-width:70px;
  margin-right:8px;
  padding-left:16px;
  height:18px
}
#enroll-lp-result-container .sort-by-links {
  list-style-type:none;
  float:left;
  width:75%;
  line-height:1.2em
}
#enroll-lp-result-container .sort-by-links li {
  display:inline
}
#enroll-lp-result-container .sort-by-links li a {
  color:#4686DD;
  float:left;
  padding:2px 0 0 0;
  font-size:13px;
  text-decoration:none
}
#enroll-lp-result-container .sort-by-links li a:hover {
  color:#4686DD;
  text-decoration:none;
  padding:2px 0 0 0;
  font-size:13px
}
.qtip-wrapper .qtip-content {
  padding-top:0px
}
#enroll-lp-result-container .session-time-zone {
  padding:0 0 0 3px;
  font-size:13px;
  float:left;
  color:#2d2d2d;
  width:auto
}
#enroll-lp-result-container .enroll-loc-head {
  padding:5px 0px;
  font-size:13px
}
#enroll-lp-result-container .enroll-loc-details {
  width:100%;
  font-size:13px;
  margin:8px 0 0 0
}
#enroll-lp-result-container .enroll-location-text {
  color:#666;
  font-size:13px;
  line-height:1.3em;
  padding:1px 0;
  width:400px
}
#enroll-lp-result-container .enroll-location-head {
  width:105px
}
#paintEnrollmentLPResults .enroll-session-details {
  padding:10px 0 0 0
}
#paintEnrollmentLPResults #pager_center {
  position:relative
}
#paintEnrollmentLPResults .enroll-datatable-column1 {
  width:85%
}
#paintEnrollmentLPResults .enroll-datatable-column2 {
  width:15%
}
#block-exp-sp-lnrenrollment-tab-my-enrollment .enroll-box-container {
  margin-top:10px
}
#enroll-lp-result-container .sort-by-links li a.sortype-high-lighter {
  font-weight:bold
}
#content .enroll-disable-right-region {
  margin-top:10px
}
.progress-corner-all {
  -moz-border-radius:4px;
  -webkit-border-radius:4px
}
#pager-lp {
  position:relative
}
#pager-lp_center {
  width:100%
}
#pager-lp_center .ui-pg-table {
  float:right;
  position:static;
  margin-right:12px;
  white-space:nowrap
}
#pager-lp_left,
#pager-lp_right {
  display:none
}
#next_pager-lp span,
#prev_pager-lp span,
#first_pager-lp span,
#last_pager-lp span {
  background:none;
  width:12px
}
#first_pager-lp,
#prev_pager-lp {
  width:9px;
  height:12px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#first_pager-lp {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif) no-repeat 0 -2637px
}
#prev_pager-lp {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1656px
}
#next_pager-lp,
#last_pager-lp {
  width:9px;
  height:12px;
  padding-right:8px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#next_pager-lp {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif) no-repeat 0 -1686px
}
#last_pager-lp {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif) no-repeat 0 -2667px
}
#prev_pager-lp span {
  margin-right:-1px;
  margin-top:2px;
  width:9px
}
#gbox_paintEnrollmentLPResults a {
  text-decoration:none
}
#paintEnrollmentLPResults .course-level {
  padding-left:0;
  clear:both
}
#paintEnrollmentLPResults .class-level {
  padding-left:20px
}
#paintEnrollmentLPResults .enroll-show-morecourse {
  width:100%;
  padding-top:15px
}
#enroll-lp-result-container .enroll-show-morecourse th,
.enroll-show-moreclass th {
  font-weight:bold;
  border-bottom:1px solid #E5E5E5;
}
#enroll-lp-result-container .set-height {
  height:50px
}
#enroll-lp-result-container .enrollment-course-name {
  width:45%
}
#enroll-lp-result-container .enrollment-course-code,
#enroll-lp-result-container .enrollment-course-type {
  width:20%
}
#enroll-lp-result-container .enrollment-course-status {
  width:15%
}
#paintEnrollmentLPResults .enroll-class-title-info,
.expertusV2PopupContainer #paintEnrollmentLPResults .enroll-class-title-info {
  text-align:justify;
  margin-left:16px;
  color:#333333
}
#paintEnrollmentLPResults .ui-progressbar {
  width:160px;
  height:22px;
  background-color:#ccc;
  margin-top:2px
}
#paintEnrollmentLPResults .ui-progressbar-value {
  height:20px;
  background-color:#7BD148;
  margin:0
}
#paintEnrollmentLPResults .progress-status {
  height:22px;
  line-height:22px;
  position:absolute;
  text-align:center;
  width:162px;
  font-size:11px;
  color:#000
}
#paintEnrollmentLPResults tr.ui-state-hover .ui-progress-curve {
  height:22px;
  position:absolute;
  width:160px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/progress_bar.png) no-repeat left top
}
#paintEnrollmentLPResults  .ui-progress-curve {
  height:22px;
  position:absolute;
  width:160px;
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/progress_bar.png) no-repeat left top
}
#enroll-lp-result-container .empty-border {
  height:0;
  border:0
}
#enroll-lp-result-container .learningplan-desc-div {
  padding:0 0 15px 16px;
  font-size:13px
}
#enroll-lp-result-container .course-title-code {
  width:100%;
  float:left;
  padding:4px 0 6px 0;
  font-size:12px;
  color:#2d2d2d
}
#enroll-lp-result-container .days-remain {
  padding:8px 0 8px 0;
}
#enroll-lp-result-container .item-assigned-code {
  padding:2px 0 0 0;
  font-size:12px;
  color:#2d2d2d;
  font-family:openSansRegular,Arial
}
#paintEnrollmentLPResults tr.noborder td {
  border-bottom:0 none
}
#launch-lp-wizard {
  min-height:75px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  background:#fff;
  width:99.8%
}
#launch-lp-wizard .enroll-course-title .item-title {
  float:left;
  display:block
}
#launch-lp-wizard .enroll-class-title-info {
  width:100%;
  text-align:left;
  color:#2d2d2d
}
#launch-lp-wizard .item-title-code {
  width:100%;
  float:left;
  padding-top:4px;
  marign-left:-1px;
  color:#2d2d2d;
  font-family:openSansRegular, Arial;
  font-size:12px;
  font-weight:normal
}
.expertusV2PopupContainer #launch-lp-wizard .enroll-class-title .item-title-code {
  float:left;
  line-height:20px;
  color:#474747;
  font-family:ProximaNovaBold;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase
}
/* #launch-lp-wizard .enroll-launch-column1 {
  width:70%
}
#launch-lp-wizard .enroll-launch-column2 {
  width:30%
} */
#launch-lp-wizard .enroll-main-list {
  float:right;
  width:auto;
  text-align:right
}
#launch-lp-wizard #lplaunch-content-container {
  margin:6.5px 15px 0 15px
}
#launch-lp-wizard .enrollment-lplaunch-table tr {
  border-bottom:1px solid #E5E5E5;
  display:table;
  width:100%;
}
#launch-lp-wizard .enrollment-lplaunch-table tr td {
  padding:5px 0;
  vertical-align:top
}
.expertusV2PopupContainer #launch-lp-wizard .enrollment-lplaunch-table tr td.enroll-launch-column1 .enroll-class-title .item-title-code span span{
  font-size:12px
}
#paintCatalogHeader .change-class-find-trng-sort {
  border-bottom:1px solid #CCC;
  clear:both;
  padding:0 0 7px;
  text-align:left
}
#page-container #paintEnrollmentLPResults .enroll-datatable-column-img {
  width:10%;
}
#page-container #enroll-lp-result-container .enroll-lp-main-list {
  width:105px
}
#page-container #enroll-lp-result-container .enroll-lp-course-title .item-title {
  width:58%
}
#page-container #enroll-lp-result-container.clsenroll-lp-result-container .enroll-lp-course-title .item-title{
	width:70%
}
#page-container #enroll-lp-result-container.clsenroll-lp-result-container .enroll-lp-main-list{
  margin-right:6px
}
.page-learning-enrollment-search #page-container #pager-lp {
  min-width:667px;
  margin:0 0 0 -2px
}
#enroll-lp-result-container .course-level .enroll-show-moreclass .enroll-launch {
  width:79px
}
#enroll-lp-result-container .course-row,
#enroll-lp-result-container .status-row,
#enroll-lp-result-container .attach-row,
#enroll-lp-result-container .session-row,
#enroll-lp-result-container .location-row {
  clear:both;
  width:470px;
  padding:0 0 10px 0;
  float:left
}
#enroll-lp-result-container.clsenroll-lp-result-container .course-row,
#enroll-lp-result-container.clsenroll-lp-result-container .status-row,
#enroll-lp-result-container.clsenroll-lp-result-container .attach-row,
#enroll-lp-result-container.clsenroll-lp-result-container .session-row,
#enroll-lp-result-container.clsenroll-lp-result-container .location-row {
 width:100%
}
#enroll-lp-result-container .session-row {
  padding:0 0 5px 0
}
#enroll-lp-result-container .attach-row-tpClass {
  padding-top:0
}
#enroll-lp-result-container .status-row .status-label.markcompletestatus {
	width:137px
}
#enroll-lp-result-container .course-row .course-label,
#enroll-lp-result-container .status-row .status-label,
#enroll-lp-result-container .attach-row .attach-label,
#enroll-lp-result-container .attach-row-tpClass .attach-label,
#enroll-lp-result-container .location-row .location-label {
  width:137px;
  float:left
}
#enroll-lp-result-container .attach-row-tpClass .attach-label{
width:130px
}
#enroll-lp-result-container .course-row .course-desc,
#enroll-lp-result-container .status-row .status-desc,
#enroll-lp-result-container .attach-row .attach-desc,
#enroll-lp-result-container .attach-row-tpClass .attach-desc,
#enroll-lp-result-container .location-row .location-desc {
  width:330px;
  float:left
}
#enroll-lp-result-container.clsenroll-lp-result-container .attach-row-tpClass{
	width:100%
}
#enroll-lp-result-container.clsenroll-lp-result-container .course-row .course-desc,
#enroll-lp-result-container.clsenroll-lp-result-container .status-row .status-desc,
#enroll-lp-result-container.clsenroll-lp-result-container .attach-row .attach-desc,
#enroll-lp-result-container.clsenroll-lp-result-container.clsenroll-lp-result-container .attach-row-tpClass .attach-desc,
#enroll-lp-result-container.clsenroll-lp-result-container .location-row .location-desc {
  width:80%
}
#enroll-lp-result-container .attach-row .attach-info,
#enroll-lp-result-container .attach-row-tpClass .attach-info {
  clear:both;
  float:left;
  color:#777;
  font-size:12px;
  margin-left:-3px
}
#enroll-lp-result-container.clsenroll-lp-result-container .attach-row-tpClass .attach-info{
	margin-left:0px
}
#enroll-lp-result-container .session-row .session-label {
  padding-bottom:15px;
  float:left;
  font-size:12px;
  font-weight:bold
}
#enroll-lp-result-container .session-row .session-desc {
  clear:both;
  width:470px
}
#enroll-lp-result-container.clsenroll-lp-result-container .session-row .session-desc {
	width:100%
}
#enroll-lp-result-container .session-row .session-desc .sessionDet {
  clear:both;
  float:left;
  min-width:450px;
  padding:0 0 5px
}
#enroll-lp-result-container.clsenroll-lp-result-container .session-row .session-desc .sessionDet {
	width:80%
}
#enroll-lp-result-container .location-row .location-desc span {
  padding-right:5px;
  display:block;
  float:left
}
#page-container #content .block-exp-sp-lnrlearningplan #enroll-lp-result-container #learningplan-maincontent .EnrolltabNavigation-LP {
  margin:9px 0 0 10px
}
table#paintEnrollmentLPResults .form-item-vote .description {
  margin:-5px auto 0 auto;
  float:none;
  display:table;
  text-align:center;
}
#page-container #enroll-lp-result-container .enroll-datatable-column2 .fivestar-form-item .form-item {
  left:0
}
#page-container #paintEnrollmentLPResults div.fivestar-widget {
  display:table;
  margin:0 auto;
  line-height:0
}
#enroll-lp-result-container #LPDetailsMainDiv .FindTrngTxt {
  padding-bottom:10px;
  width:452px
}
#enroll-lp-result-container.clsenroll-lp-result-container #LPDetailsMainDiv .FindTrngTxt {
  width:80%
}
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .enroll-launch-full .enroll-launch,
#page-container #launch-wizard .enroll-launch-full .enroll-launch {
  text-align:center;
  text-indent:0;
  width:92px;
  line-height:32px
}
#page-container .block-exp-sp-lnrlearningplan .attach-title {
  color:#2d2d2d
}
#enroll-lp-result-container #pager-lp_center .ui-pg-table {
  margin-top:3px
}
#enroll-lp-result-container .traning-plan-cls-titlist,
#enroll-lp-result-container .traning-plan-cls-grp-title {
  padding:5px 0 0 0;
  width:450px
}
#enroll-lp-result-container.clsenroll-lp-result-container .traning-plan-cls-titlist,
#enroll-lp-result-container.clsenroll-lp-result-container .traning-plan-cls-grp-title {
  width:100%
}
#enroll-lp-result-container .mypgm-group-title,
#enroll-lp-result-container .mypgm-item-assigned-code {
  width:100px;
  float:left
}
#page-container .course-level .enroll-show-moreclass tr.ui-widget-content td {
  vertical-align:top;
  padding:17px 0 0 0
}
#enroll-lp-result-container .item-title-code {
  padding-bottom:5px;
}
#enroll-lp-result-container .course-level .enroll-show-moreclass .item-title-code {
  padding-top:0px;
  margin-left:-2px;
}
.course-detail-section-innerRecord {
  margin-left:67px;
  margin-top:-20px;
}
#page-container #enroll-lp-result-container .enroll-main-action-lp-multiclasss .enroll-launch {
  padding:2px 0 0 0;
  text-indent:10px;
  width:82px
}
.expertusV2PopupContainer #paintEnrollmentLPResults .enroll-class-title-info {
  margin-left:0
}
#page-container .enroll-show-moreclass .noborder td,
#page-container #enroll-lp-result-container .enroll-show-moreclass .enroll-lp-course-title .item-title,
#page-container .course-level .enroll-show-moreclass tr.ui-widget-content .item-title {
  width:170px
}
#page-container #enroll-lp-result-container.clsenroll-lp-result-container .enroll-show-moreclass .enroll-lp-course-title .item-title{
	width:50%
}
#page-container .enroll-show-moreclass .noborder td,
#page-container .course-level .enroll-show-moreclass tr.ui-widget-content .session-time-zone,
#enroll-lp-result-container .enroll-show-moreclass .session-time-zone {
  margin-top:3px;
  width:290px
}
#page-container #enroll-lp-result-container .enroll-show-moreclass .enroll-main-action-lp-multiclasss {
  width:100px
}
.sort-by-change-links {
  background:none #FFF;
  border:1px solid #EBEBEB;
  border-radius:0 0 10px 10px;
  display:none;
  float:left;
  font-family:proximanovabold;
  font-size:12px;
  font-weight:bold;
  left:-43px;
  line-height:1.1em;
  list-style-type:none;
  padding-left:0;
  position:absolute;
  text-indent:0;
  text-transform:uppercase;
  top:37px;
  width:103px;
  z-index:100
}
.sort-by-change-links li {
  display:inline-block;
  cursor:pointer;
  width:100%;
  padding:0;
  text-align:center;
  border-top:1px solid #ebebeb
}
.sort-by-change-links li:first-child {
  border-top:0px solid #ebebeb
}
.sort-by-change-links li a {
  color:#aaa;
  text-decoration:none;
  padding:7px 0px;
  display:inline-block;
  font-size:11px;
  font-weight:normal
}
.sort-by-change-links li a:hover {
  color:#474747;
  text-decoration:none;
  padding:7px 0;
  font-size:11px;
  font-weight:normal
}
.sort-by-change-links li a.sortype-high-lighter {
  font-weight:normal;
  color:#2d2d2d
}
.expertusV2PopupContainer .catalog-course-compliance-role-bg {
  margin-top:0
}
#page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass td {
  margin-left:0;
  padding:7px 0 2px 0;
  vertical-align:top
}
#page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass td .enroll-lp-course-title,
#page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass td .enroll-class-title-info,
#page-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass .item-title-code {
  margin-left:0
}
#page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass td .enroll-accordian-div {
  padding-left:0
}
#page-container #content .section #enroll-lp-result-container {
  border:1px solid #E6E6E6
}
#page-container #learner-learningplan .block-title-middle {
  margin:0
}
#page-container #learner-learningplan {
  width:98.1%
}
#page-container #content #enroll-lp-result-container .enroll-lp-sort-by-container {
  padding-top:0
}
#page-container #content .block-exp-sp-lnrlearningplan #enroll-lp-result-container #learningplan-maincontent .EnrolltabNavigation-LP li a span span {
  width:auto
}
#load_paintEnrollmentLPResults{border:0}
.page-learning-enrollment-search #page-container #enroll-result-container .enroll-datatable-column1,
.page-learning-enrollment-search #page-container #enroll-lp-result-container .enroll-datatable-column1,
.page-learning-enrollment-search #page-container #paintInstructorResults .enroll-datatable-column1 {
  max-width:450px
}
#paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_enr,
#paintEnrollmentLPResults .exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cmp {
 /* max-width:235px;*/
  max-width: 230px;
  padding-top:4px
}
#paintEnrollmentLPResults .ui-state-highlight.ui-state-hover .fade-out-image {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
#paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code,#paintEnrollmentLPResults .exp-sp-lnrmyprogram-prg-code-right-false {
  max-width:100px;
  display:inline-block;
  margin-bottom:-8px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-enroll-fulltitle {
  max-width:440px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code {
  max-width:200px;
  display:inline-block;
  margin-bottom:-8px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-titlist {
  max-width:440px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code,
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-location {
  max-width:100px;
  display:inline-block;
  margin-bottom:-8px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-class-code{
	max-width:340px;
}
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title {
  width:auto
}
#page-container #enroll-lp-result-container #paintEnrollmentLPResults .course-level .enroll-show-moreclass #enr-moreclass-columnone .item-title .exp-sp-lnrmyprogram-enroll-fulltitle {
  display:inline-block;
  margin-right:15px;
  max-width:155px;
  padding-top:3px
}
#paintEnrollmentLPResults .enroll-show-moreclass .enroll-session-details .exp-sp-lnrmyprogram-session-title {
  max-width:220px
}
#paintEnrollmentLPResults .enroll-show-moreclass .exp-sp-lnrmyprogram-traning-plan-cls-grp-title {
  max-width:310px
}
.fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_inc,
.fade-out-title-container.exp_sp_lnrmyprogram_title_lrn_tpm_ovr_cln{
  max-width:438px
}
/* Mylearning page 51563 changes start */
#page-container #paintEnrollmentLPResults .course-level table.enroll-show-moreclass td:last-child {
  border-bottom:0px
}
#page-container #paintEnrollmentLPResults .course-level table .clsGrpTr td{
  padding-top:10px;
  padding-bottom:0px;
  padding-right:9px
}
#page-container #paintEnrollmentLPResults .course-level table tr .clsEmptyTh{
  border:0px
}
.clsGrpModuleName{
    color:#777;
    float:left;
    font-family:ProximaNovaBold,Arial;
    font-size:13px;
    line-height:14px;
    padding-right:5px;
    text-transform:uppercase
}
#page-container #paintEnrollmentLPResults .course-level table .clsGrpTr td div hr {
    display: block;
    height: 1px;
    border: 0;
    border-top:1px solid #ccc;
    padding: 0
}
.clsContentFull #enroll-lp-result-container .enroll-accordian-div {
  width:85%
}
.clsContentFull #enroll-lp-result-container.clsenroll-lp-result-container #LPDetailsMainDiv .FindTrngTxt {
  width:100%
}
#enroll-lp-result-container .enroll-accordian-div .training-desc {
    font-size:12px
}
#page-container #paintEnrollmentLPResults .item-long-desc, .addedit-left-col .item-long-desc{
	text-align:justify
}
#page-container #paintEnrollmentLPResults .compLpDetails {
    padding-bottom:10px;
    padding-top:5px
}
#page-container .clsContentFull #enroll-lp-result-container .enroll-tp-title-info{
	width:94%
}
.clsGrpModuleName .exp-sp-lnrmyprogram-grp-name{
	max-width:400px
}
#page-container .clsContentFull .clsGrpModuleName .exp-sp-lnrmyprogram-grp-name{
  max-width:600px
}
#block-exp-sp-lnrlearningplan-tab-my-learningplan .completeBy {
  padding-top:5px;
}
.exp-sp-lnrmyprogram-enroll-class-title{
	max-width:400px
}
.clsLessLabel,.clsLessTitle{
	float:left
}
.clsLessTitle{
	padding-left:5px;
}
/* Mylearning page 51563 changes end */
/*!chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #page-container .myenrollment-table .enroll-main-list {
    right:7px;
    margin-top:3px;
    width:108px;
    position:absolute;
    z-index:1000
  }
  #enroll-lp-result-container #pager-lp_center .search-pagination-right {
    padding-top:2px
  }
}