#organization-addedit-form .addedit-new-field-value .form-item .addedit-edit-status {
  width: 390px
}
#organization-addedit-form .addedit-form-cancel-and-save-actions-row {
  margin-top: 0;
  width: 100%;
  clear: both
}
#organization-addedit-form .addedit-left-col {
  padding: 13px 0 13px 17px
}
#organization-addedit-form #bubble-face-table .addedit-left-col{
  padding: 0
}
#organization-addedit-form .admin-custom-required-col2-dropdown .addedit-edit-ac-textfield,
#organization-addedit-form .admin-custom-required-col1-dropdown .addedit-edit-ac-textfield {
  width: 166px
}
#organization-addedit-form .admin-delete-img {
  padding-bottom: 2px;
  padding-left: 7px;
  background: none;
  border: 0;
  cursor: pointer;
  height: 7px;
  width: 7px
}
#organization-addedit-form .addedit-new-field-title-custom {
  width: 220px
}
#organization-addedit-form .addedit-new-field-two-col {
  width: 528px
}
#organization-addedit-form .addedit-edit-ac-textfield {
  width: 150px;
  height: auto;
  text-indent: 4px
}
#organization-addedit-form #custom_attr_container #org_checkbox_full_row .addedit-new-field-value {
  width:74%;
}
#organization-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width: 150px;
/*   height:17px; */
  color: #2D2D2D
}
#organization-addedit-form .customattr-both .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
	width: 95px
}
/*#custom_attribute_0078975*/
.page-administration-people-organization .left-side-container .detail-code,
.page-administration-people-organization .right-side-container .detail-code
{
    word-wrap: break-word;
}
.page-administration-people-organization #custom_attr_container .cus_attr_jscroll_set {
    /*height: 63px;*/
   height: 67px;
}
/*#organization-addedit-form #custom_attr_container .addedit-twocol-secondcol .addedit-new-field-title .addedit-label {
    float: left;
    word-wrap: break-word;
    width: 95px;
}*/
/*#custom_attribute_0078975*/
#organization-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  /*padding-right: 0;*/
  padding-right: 3px;
  text-align: left;
  width: 100px
}
#organization-addedit-form .addedit-twocol-secondcol{
 /* margin-right:-15px *//*#custom_attribute_0078975*/
   margin-right:-20px
}	 
#organization-addedit-form #adddedit-state-wrapper.addedit-twocol-secondcol {
  position: relative
}
#organization-addedit-form .addedit-custom-field .addedit-new-field-value .addedit-edit-textarea {
  height: 24px;
  text-indent: 4px;
  margin-top: 0
}
#organization-addedit-form .addedit-form-cancel-container-actions {
  margin-right: 16px
}
div.ctools-modal-content #organization-addedit-form .resizable-textarea {
  margin-right: 0
}
#organization-addedit-form .addedit-customfields-wrapper td.delbtn-wrapper {
  padding-left: 0;
  padding-top: 10px;
  vertical-align: top
}
#organization-addedit-form .save-pub-unpub-sub-menu input {
  text-align: right;
  width: 100%
}
#organization-addedit-form .pub-unpub-only-save-btn {
  margin: 1px 0 0;
  padding: 0 5px 0 11px
}
#organization-addedit-form .addedit-new-field-title {
  width: 129px
}
#organization-addedit-form .addedit-edit-custom-label-field {
  width: 117px
}
#organization-addedit-form #org-custom-fields .admin-save-button-container {
  margin: 0
}
#organization-addedit-form .addedit-new-field-value .addedit-form-cancel-container-actions input:first-letter {
  font-size: 20px
}
#organization-addedit-form .addedit-new-field-value .addedit-edit-contact {
  height: 20px
}
#organization-addedit-form .admin-save-button-container {
  margin-bottom: 0
}
#organization-addedit-form #adddedit-state-wrapper .loaderimg {
  width: 555px
}
#organization-addedit-form .admin-save-button-container {
  padding-left:10px;
  margin-left: 0
}
.page-administration-people-organization #narrow-search-results #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.addedit-edit-mroCancelbtn {
  margin-right:10px
}
#organization-addedit-form .addedit-left-col {
  padding: 13px 0 13px 17px;
  background:#fff
}
#organization-addedit-form .addedit-left-col table.addedit-cfield-delbtn-wrapper .addedit-new-field-value textarea.addedit-edit-textarea{
  max-width: 391px;
  min-width: 391px;
  margin-left: 5px
}
#organization-addedit-form .addedit-edit-name{
  width: 404px;
  text-indent: 5px
}
#organization-addedit-form .addedit-secondcol-field-value .addedit-edit-textfield {
  text-indent: 5px	
}
.theme-ctool-popup #organization-addedit-form {
  width:98.8%
}
#organization-addedit-form .addedit-long-description-container .addedit-new-field-value{
  width: 407px
}
#organization-addedit-form .addedit-left-col .addedit-custom-field .addedit-new-field-value textarea.addedit-edit-textarea {
  max-width: 408px;
  min-width: 408px;
  font-size: 12px;
  margin-left: 5px
}
#organization-addedit-form  .addedit-edit-custom-label-field{
  height:19px
}
#organization-addedit-form .addedit-left-col table.addedit-cfield-delbtn-wrapper td.addedit-cfield-wrapper .addedit-new-field-title{
  width: 128px
}
#organization-addedit-form .catalog-pub-add-list{
  width: 75px
}
#organization-addedit-form .catalog-pub-add-list li{
  border-top: 1px solid #EBEBEB;
  border-bottom: 0
}
#organization-addedit-form .catalog-pub-add-list li input{
  background: none
}
.theme-ctool-popup #organization-addedit-form .addedit-new-field-two-col .expertus-dropdown-bg {
  margin-top: 1px
}
.theme-ctool-popup 	#organization-addedit-form .ac_input {
  overflow: hidden;
}
#organization-addedit-form .addedit-customfields-wrapper .addedit-new-field-title{
  padding: 6px 0 0
}
#custom-add-btn-org-custom-fields .addedit-new-field-value {
  margin-left: 5px	
}
.page-administration-people-organization div.ctools-sample-modal-content .theme-ctool-popup div.popups-title {
  padding: 0 0 0 7px	
}
.page-administration-people-organization div.ctools-sample-modal-content .theme-ctool-popup div.popups-title .popups-close {
  margin-right: 8px	
}
.page-administration-people-organization div.ctools-sample-modal-content .theme-ctool-popup #organization-addedit-form .addedit-new-field,
.page-administration-people-organization div.ctools-sample-modal-content .theme-ctool-popup #organization-addedit-form .two-col-row-type_costcenter {
  padding-bottom: 3px	
}
#organization-addedit-form input.ac_loading {
  height: auto	
}
#organization-addedit-form .org-save-add {
  margin-right: 17px
}
#organization-addedit-form .org-save-edit {
  margin-right: 15px
}
.ui-jqgrid .ui-jqgrid-htable th {
  padding:0;
  line-height:28px
}
#page-container #paint-narrow-search-results #bubble-face-table .user-enroll-grid-div .ui-jqgrid-view { 
  border-top:none
}
#admin-data-grid .user-enrollment-div-cls .user-enroll-grid-div .ui-jqgrid .ui-jqgrid-hdiv {
 margin-top:0
}
#admin-data-grid .user-enrollment-div-cls.orgusers .user-enrollment-bottom-row-cls {
  margin:0
}
#admin-data-grid .user-enrollment-div-cls.orgusers .user-enrollment-bottom-row-cls #user-enrollment-container {
  margin-top:10px
}
#admin-data-grid .user-enrollment-div-cls input.ac_loading {
  background-position: 99% -17px
}
.orgusers .exportcontainer{
  z-index:200
}
/*title restriction style*/
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:631px
}
.fade-out-title-container.admin-narrow-orgview-name-fadeout-container,
.fade-out-title-container.admin-narrow-orgview-accessname-fadeout-container,
.fade-out-title-container.admin-narrow-orgview-custominfo-value-fadeout-container,
.fade-out-title-container.admin-narrow-orgview-type-fadeout-container{
  max-width:438px
}
.fade-out-title-container.admin-narrow-orgview-label-fadeout-container,
.fade-out-title-container.admin-add-custom-field-label-fadeout-container{
  max-width:100px;
  float:left
}
.fade-out-title-container.admin-narrow-orgview-parent-fadeout-container{
  max-width:145px
}
.fade-out-title-container.admin-narrow-orgview-contact-fadeout-container,
.fade-out-title-container.admin-narrow-orgview-costcenter-fadeout-container{
  max-width:178px
}
.fade-out-title-container.admin-narrow-search-code-fadeout-container{
  max-width: 100px;
  display:inline-block;
  margin-bottom:-8px
}
.fade-out-title-container.narrow-search-organization-type-fadeout-container{
  max-width: 250px;
  display:inline-block;
  margin-bottom:-8px
}
#exp-sp-administration-organization-addedit-form .admin-save-pub-unpub-button-container {
  padding-left:10px;
  margin-top:1px
}
#exp-sp-administration-organization-addedit-form .admin-save-pub-unpub-button-container #edit-save-button {
  padding:3px 6px 1px
}
.orgusers #exportcontainer.exportcontainer{
  margin-top: -33px
}
.page-administration-people-organization .user-enrollment-div-cls .ui-jqgrid  .ui-jqgrid-bdiv{
  border:1px solid #E7E7E7;
  border-top:none
}
.page-administration-people-organization  #admin-data-grid .user-enrollment-div-cls .user-enroll-grid-div .ui-jqgrid .ui-jqgrid-hdiv {
  border:1px solid #E7E7E7;
  border-top:none;
}
.page-administration-people-organization  #admin-data-grid .user-enrollment-div-cls .user-enroll-grid-div .ui-jqgrid .ui-jqgrid-htable th:first-child{
   border-left:none
}

.page-administration-people.page-administration-people-organization #narrow-search-results tr.ui-state-hover .narrow-search-results-item-details .fade-out-title-container .fade-out-image,
.page-administration-people.page-administration-people-organization #narrow-search-results tr.ui-state-hover.ui-state-highlight .narrow-search-results-item-details .fade-out-title-container .fade-out-image{
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat scroll right 0;
}
.page-administration-people-organization #admin-data-grid .orgusers .ui-jqgrid .ui-jqgrid-toppager{
  position: absolute;
  right: 21px;
  top: 16px
}
/*#custom_attribute_0078975*/
.organization-addedit-form #custom_attr_container .addedit-twocol-secondcol .addedit-new-field-title .addedit-label {
  width:100px
}
/* Scroll Bar*/
.page-administration-people-organization #organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical.cus_attr_jscroll_set{
		width: 150px
}
.page-administration-people-organization #organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical.cus_attr_jscroll_set{
		width: 115px
}  
/* Scroll Bar*/ 
/* dropdown in organization form */
#organization-addedit-form #custom_attr_container .addedit-twocol-firstcol .expertus-dropdown-bg {
width: 150px;
}
#organization-addedit-form #custom_attr_container .addedit-twocol-secondcol .expertus-dropdown-bg {
width: 110px;
}
.page-administration-people-organization .theme-ctool-popup #organization-addedit-form  #custom_attr_container .ui-multiselect {
	background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #e9e9e9) repeat scroll 0 0;
    border-color: #e5e5e5 currentcolor #e5e5e5 #e5e5e5;
    border-image: none;
    border-radius: 10px 4px 4px 10px;
    border-style:none;
    border-width: 1px 0 1px 1px;
    height: 20px;
    line-height: 16px;
    color: #333;
    font-family: openSansRegular,Arial;
    font-size: 12px;
    font-weight: normal;
    width:131px;
   }
   /* organization */
/*#organization-addedit-form #custom_attr_container.customattr-both .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
    width: unset
}
#organization-addedit-form #custom_attr_container.customattr-info .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: unset
}
#organization-addedit-form #custom_attr_container.customattr-mandatory .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: unset
}
#organization-addedit-form #custom_attr_container.customattr-plain .addedit-twocol-secondcol .addedit-new-field-title .addedit-label{
   	width: unset
}*/
#organization-addedit-form .addedit-twocol-firstcol {
    width: 58%;
}
#organization-addedit-form .addedit-twocol-secondcol {
    width: 42%;
}
/* radio button for organization */
.page-administration-people-organization #organization-addedit-form #custom_attr_container input[type="radio"] {
    margin-left: -2px;
}
/* checkbox radio in form */
#organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-horizontal,
#organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_first_col #customattribute-display-vertical
{
    width: 150px;
}
#organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-horizontal,
#organization-addedit-form #custom_attr_container .addedit-new-field-two-col #customcheckboxradio_checkbox_second_col #customattribute-display-vertical
{
    /*width: 121px;*/
   width: 115px;
}
.page-administration-people-organization #organization-addedit-form #custom_attr_container #vtip_custom_attr
{
position: relative;
    top: 1px;
}
/* dropdown fix */
#organization-addedit-form #custom_attr_container .addedit-twocol-secondcol .addedit-edit-dropdown {
    width: 112px;
}
/*#custom_attribute_0078975*/
/* rendering in course */
.page-administration-people-organization #organization-addedit-form  #customattribute-basic-addedit-form-disp .addedit-form-main-container {
    float: left;
    /*width: 391px;*/
   width: 364px;
}
.page-administration-people-organization #organization-addedit-form #customattribute-basic-addedit-form-disp #form-attribute .customattribute-basic-addedit-form-container {
    min-height: 0;
    padding: 0 0 1px;
    width: 368px;
}
.page-administration-people-organization #organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox #customattribute-basic-addedit-form-container, 
.page-administration-people-organization #organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio #customattribute-basic-addedit-form-container, 
.page-administration-people-organization #organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown #customattribute-basic-addedit-form-container {
    width: 421px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp #form-attribute .round-corner-left, 
#organization-addedit-form #customattribute-basic-addedit-form-disp #form-attribute .round-corner-footer-left {
    border: 0 none;
}
#organization-addedit-form .customattribute-basic-addedit-form-container {
    border: 0 none;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .addedit-new-field-two-col .addedit-edit-dropdown {
    width: 86px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_display_opt, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_display_opt {
    width: 95px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .addedit-twocol-secondcol {
    margin-right: 0px;
}
#organization-addedit-form #bubble-face-table #customattribute-basic-addedit-form .addedit-left-col {
    margin: -14px -8px 0 4px;
    padding: 0;
}
#organization-addedit-form #customattribute-basic-addedit-form .addedit-edit-textfield{
margin-top:0px;
}
#organization-addedit-form #customattribute-basic-addedit-form .addedit-left-col {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .addedit-edit-cattr_name {
    width: 259px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .addedit-new-field-two-col .addedit-edit-cattr_mandatory, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_multiple_opt{
    width: 61px;
}
#organization-addedit-form #customattribute-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
    margin-bottom: -10px;
}
#organization-addedit-form #customattribute-basic-addedit-form .addedit-edit-customattributetextfield
{
margin-top:0px;	
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_name, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_name, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_name {
    width: 281px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom-answer-choice-customattributetextfield{
    width: 281px;
}
#organization-addedit-form #customattribute-basic-addedit-form .custom_attr_checkbox .addedit-twocol-secondcol .addedit-secondcol-field-value, 
#organization-addedit-form #customattribute-basic-addedit-form .custom_attr_radio .addedit-twocol-secondcol .addedit-secondcol-field-value, 
#organization-addedit-form #customattribute-basic-addedit-form .custom_attr_dropdown .addedit-twocol-secondcol .addedit-secondcol-field-value {
    padding-right: 11px;
}
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_checkbox .addedit-edit-cattr_help_txt, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_radio .addedit-edit-cattr_help_txt, 
#organization-addedit-form #customattribute-basic-addedit-form-disp .custom_attr_dropdown .addedit-edit-cattr_help_txt {
    max-width: 286px;
    min-width: 286px;
}
#organization-addedit-form #customattribute-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
    margin-right: 11px;
    margin-top:3px;
}
/* field length */
/*#organization-addedit-form #customattribute-basic-addedit-form .addedit-edit-cattr_length {
    padding-left:10px;
}*/
.page-administration-people-organization div.ctools-sample-modal-content .theme-ctool-popup #organization-addedit-form .addedit-new-field
{
padding-bottom: 0;
}
.page-administration-people-organization #new-customattribute-wrapper #custom-question-choice-text-10 {
    padding-bottom: 8px;
}
/*!chrome Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.page-administration-people-organization #new-customattribute-wrapper #customattribute-basic-addedit-form #answer-choices-block #custom_attr_option_block .addedit-new-field {
    margin-top: 4px;
}
#organization-addedit-form .addedit-edit-name {
  /*padding: 0 0 3px 0*/
 	padding: 0 0 3px 2px
}
#admin-data-grid .user-enrollment-div-cls.orgusers .user-enrollment-bottom-row-cls #user-enrollment-container {
  margin-top:10px
}
.page-administration-people-organization #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager {
  top: 14px
}
.orgusers #admin-data-grid .user-enrollment-div-cls .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next{
  padding-right: 0
}
#organization-addedit-form #new-customattribute-wrapper .bottom-qtip-tip-visible {
   margin-top:-2px;
}
}
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
   .fade-out-title-container.narrow-search-organization-type-fadeout-container{
    margin-bottom:-4px
   }
}}   
/*safari hack End*/