/* Common styles Start */
/* Common styles End */


/* Home Page Widgets Start */
/* Home Page Widgets End */

/* Course/Class/Tp Details Start */
/* Course/Class/Tp Details End */


/* Sign In styles Start */
/* Sign In styles End */


/* Register styles Start */
/* Register styles End */


/* Forget Password styles Start */
body.page-user-password .user-password-page-wrapper .my-forgot-pass-frm .container {
  width: 400px
}
/* Forget Password styles End */


/* Account styles Start */
.my-account-wrapper #addedit-account-details-page .form-item-SmsAlertCheck{
  margin-left:174px
}
/* Account styles End */


/* Catalog styles Start */
.content #lnr-catalog-search .srch-filter-heading{
  font-size:13px
}
/* Catalog styles End */

/* Profile styles Start */
#learner-myskill-details #myskill-parent .disp-label{
margin-left:10px;
width:130px;
}
#learner-myskill-details #myskill-parent .disp-parent .skill-dropdown-disp {
margin-left: 2px;
}
/* Profile styles End */

/* Discussions styles Start */
/* Discussions styles End */

/* Team styles Start */
/* Team styles End */


/* Shopping Cart styles Start */
/* Shopping Cart styles End */

/* Reports styles Start */
.page-reports #searchReportsRecordsPaint #create-schedule-addedit-form .addedit-new-field-value .addedit-edit-textfield {
    width:412px
}
#searchReportsRecordsPaint .date-criteria-text {
    margin-left:-18px;
}
/* Reports styles End */

/* My Learning(My Enrollments) styles Start */
/* My Learning(My Enrollments) styles End */


/* My Learning(My Programs) styles Start */
/* My Learning(My Programs) styles End */


/* My Learning(My Classes) styles Start */
/* My Learning(My Classes) styles End */

/* My Learning(My Transcripts) styles Start */
/* My Learning(My Transcripts) styles End */

/* My Learning(My CalEndar) styles Start */
/* My Learning(My CalEndar) styles End */


/* Chat styles Start */
/* Chat styles End */


/* Learning(Course/Class) styles Start */
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .attachment-empty-column-height {
  height: 15px
}
#session_detail_container_sample #add-session-details #meeting-type-webEx .admin-addedit-session-details-wrapper .form-item-time-zone-list label{
  width:97px
}
#session_detail_container_sample  #add-session-details #meeting-type-webEx .admin-addedit-class-time-zone .crt-paint-timezone .ctrDropDown {
  margin-left: 0;
  width: 112px
}
#session_detail_container_sample #add-session-details .admin-addedit-session-details-wrapper .form-item-session-presenter-url label {
  width: 113px
}
#session_detail_container_sample #add-session-details .admin-addedit-session-details-wrapper #session_presenter_url{
  margin-left:2px
}
#session_detail_container_sample #add-session-details #meeting-type-editothers .admin-addedit-session-details-wrapper #session_presenter_url {
  margin-left: 2px
}
#catalog-attachment-disp-container .attachment-empty-column-height {
  height: 15px
}
.page-administration-learning-catalog #catalog-class-basic-addedit-form-container .admin-datagrid-session-with-addanother.virtualclass-session #more-wrapper-div{
  right:21px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .virtualclass-session .session-edit-delete-icons {
  margin-left: -29px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .session-added-edit-link-text {
  margin: 0 33px 0 -22px
}
.catalog-class-basic-addedit-form-disp #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .admin-datagrid-session-with-addanother.virtualclass-session .ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .admin-pagination-action-link {
  margin-left: 3px
}
/*
/* Learning(Course/Class) styles End */

/* Learning(Training Plan) styles Start */
.page-administration-learning .clone-class-scroll-list  .clone-label-list{
  width:86%
}
#program-tp-basic-addedit-form-container #catalog-attachment-disp-container .attachment-empty-column-height {
  height: 14px
}
/* Learning(Training Plan) styles End */


/* People(User) styles Start */
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #chk,
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #unchk{
  margin-left:-8px
}
.page-administration-people .admin-save-pub-unpub-button-container {
  padding-left:6px
}
.page-administration-people .edit-catalog-course-save-publish{
  padding-left:5px
}
/* People(User) styles End */

/* People(Organization) styles Start */
#admin-data-grid .user-enrollment-div-cls .user-enroll-input-auto-cls{
  position:relative
}
.page-administration .access-mro-visibility .resize-save_btn,
.page-administration-people-group .access-mro-visibility .resize-save_btn{
  width:132px
}
.page-administration .resize-save_btn{
  width:132px
}
.page-administration .resize-save_btn4{
  width:152px
}
.page-administration .admin-save-button-container.resize-save_btn2{
  width:115px
}
.page-administration #permissions-addedit-form-html .resize-save_btn {
  width:112px
}
/* People(Organization) styles End */

/* People(Groups) styles Start */
.page-administration-people-group #role-addedit-form .addedit-form-cancel-container-actions.resize-save_btn{
  width:125px
}
.page-administration-people-group #role-detail-wrapper .tot-txt-cls{
  margin-top:10px
}
.page-administration-people-group .admin-save-button-container.resize-save_btn2{
  width:185px
}
/* People(Groups) styles End */

/* People(settings) styles Start */
.add-user-delete,
#list-values-detail-wrapper .add-user-delete-disable {
  background-position:5px 4px
}
#list-values-addedit-form-details .add-custombtn-symbol{
  background-position:-169px -684px
}
#list-values-addedit-form-details .seperator-edit-delete{
  margin-top:2px
}
.page-administration-people-group #add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container .crecls-loader-hidder{
 top:1px;
 right:209px
}
/* People(settings) styles End */

/* Survey/Assessment styles Start */
.page-administration-survey-surveydetails #admin-add-questions-survey-assessment .ui-jqgrid-bdiv td input.multiselect-singlecheck {
  margin-left:2px
}
.page-administration-survey ul.catalog-pub-add-list {
  width:124px
}
.page-administration-assessment-assessmentdetails ul.catalog-pub-add-list {
  width:122px
}
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .assessment-answer-choice-textarea {
  max-width:275px;
  min-width:275px
}
.page-administration-assessment-assessmentquestions #survey-question-basic-addedit-form .mch-correct-answer-checkbox {
  width:85px
}
/* Survey/Assessment styles End */

/* Manage(Content) styles Start */
/* Manage(Content) styles End */


/* Manage(Location) styles Start */
/* Manage(Location) styles End */


/* Manage(Banner) styles Start */
/* Manage(Banner) styles End */


/* Manage(Notification/Certificate) styles Start */
/* Manage(Notification/Certificate) styles End */

/* Manage(Announcement) styles Start */
/* Manage(Announcement) styles End */

/* Commerce(Order) styles Start */
.page-administration-commerce-order #narrow-search-results-holder .catalog-pub-add-list,
.page-administration-commerce-order #narrow-search-results-holder .narrowsearch-pub-add-list{
  right:0
}
.page-administration-order .admin_add_multi_search_container{
  width:62%
}
.user-information-container-form label{
  width:140px
}
#admin_order #productorg-pane .user-information-container-form input{
  margin-top:5px
}
/* Commerce(Order) styles End */

/* Commerce(Discount) styles Start */
.page-administration-commerce-discounts #discount-basic-addedit-form-container .admin-discounts-trainings-wrapper .admin_add_multi_search_container {
  width: 69%;
}
#admin-data-grid .discount-grid-wrapper .ui-jqgrid-hbox input.multiselect-selectall{
  margin-left:-4px
}
#discount-basic-addedit-form-container .admin-save-pub-unpub-button-container .admin-save-button-middle-bg{
  padding-right:5px
}
/* Commerce(Discount) styles End */

/* Commerce(Tax) styles Start */
.page-administration-commerce-tax #catalog-question-basic-addedit-form .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-commerce-tax .pub-unpub-only-save-btn{
  float:none
}
/* Commerce(Tax) styles End */

/* Commerce(Settings) styles Start */
#payment-check-details .form-item label{
  width:113px
}
#payment-check-details .postal-code-col .form-item label {
  width:108px
}
/* Commerce(Settings) styles End */

/* site settings style starts*/
/* site settings style ends*/

/* Reserved Block CSS Start - Here we can create a new block CSS styles*/
/* Reserved Block CSS End */

#esign-wizard-dialog .ui-dialog div.ui-dialog-buttonset {
  min-width:132px
}

