#uc-discounts-search-form .form-item label {
    width:auto;
    float:left;
    padding-right:5px;
}
#uc-discounts-search-form .form-item {
    width:auto;
    float:left;
    padding-right:5px;
 } 
#uc-discounts-search-form .uc-discount-search {
  float:right;  
}
#uc-discounts-search-form .search-submit {
  width:auto;
  float:left;
}
.uc-discounts {
  width:100%;
 }
.uc-store-backlinks-div {
    float: right;
    /*position: absolute;*/
    width: 20%;
    /*padding-left:580px;*/
 } 

#uc-discounts-form .uc-store-backlinks-div fieldset {
    float:right;
 }
#uc-discounts-form .resizable-textarea .grippie {
    margin-left:168px;
    width:47%;
}
#uc-discounts-form .has-activation .resizable-textarea .grippie {
    margin-left:0px;
    width:344px;
}

.uc-store-add-button {
  float:right;
}


#uc-discounts-form .form-item {
  width: 100%;
  padding-top: 7px;
}
#uc-discounts-form .form-item label {
  width: 170px;
  float: left;
}
/*
#uc-discounts-form .form-item #edit-name {
  margin-left: 30px;
}*/

#uc-discounts-form .form-type-radio .description, 
#uc-discounts-form .form-type-checkbox .description {
  margin-left: 0.2em;
}

#uc-discounts-form .form-actions {
  float: left;
  padding-top: 16px;
}

#uc-discounts-form .form-item .description {
    font-size: 12px;
    padding-top: 12px;
}

#uc-discounts-form fieldset {
    float : left;
    font-size: 12px;
    padding-top: 12px;
}

#uc-discounts-form textarea {
    display: inline;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width :auto;
}
#uc-discounts-form .req-pwd-form-wrapper {
  width :100%;
  }
  
select.multiselect_sel { 
   float:left;
   width:150px;
  }
.multiselect .form-item {
  width:auto;
  }
  
#uc-discounts-form .multiselect .form-item {
  width:auto;
}
/*
#uc-discounts-form .form-fieldset .form-item {
   width:auto;
   float:left;
}
.has-activation { 
  width:100%;
  float:left;  
}*/

/*OVERRIDES AND OVERLOADS*/

#uc-discounts-form  .has-activation {
  clear: both;
  padding-top: 7px;
}
#uc-discounts-form  .has-activation .form-checkbox {
  float: left;
}
#uc-discounts-form  .has-activation > .form-item {
  width: 200px;
  float: left;
  padding-top: 0px;
}
#uc-discounts-form  .has-activation > .container-inline-date .form-item-expiration > label{
   display: none;
}
#uc-discounts-form  .has-activation > .container-inline-date {
  width: 400px;
  float: left;
  clear: right;
}
#uc-discounts-form  .has-activation > .container-inline-date .form-item {
  padding-top: 0px;
}
#uc-discounts-form  .has-activation .description {
  padding-top: 0px;
}
#uc-discounts-form  .has-activation > .container-inline-date .form-type-date-popup {
  width: auto;
}
#uc-discounts-form  .has-activation > .container-inline-date .form-type-date-popup .form-item {
  padding-top: 0px;
  float: left;
  width: auto;
  padding-right: 10px;
}
/*#edit-bussinessrule, #edit-course, #edit-class, #edit-assign, #edit-maxuses, #edit-qualification {
  width : 100%;  
}*/

.class-training-entities .form-item-training-entities-class {
  padding-top:0px;
  float:left;
  width:130px;  
}
.class-training-entities .form-item-training-entities-class .form-item {
  float:left;
  width:130px;  
}
.class-training-entities .form-item-training-entities-class > label {
  float:left;
  width:130px;  
}

#uc-discounts-form .class-training-entities .form-item {
  padding-top: 0px;
  width :auto;
  float:left;
}
#uc-discounts-form .class-training-entities .form-type-radio > label {
  width :auto;
  float:left;  
  padding-right:5px;
}
#uc-discounts-form .class-training-entities .form-type-radios { 
  width :650px;  
}
#uc-discounts-form .class-training-entities .form-radio{
  float:left;
}
#uc-discounts-form .class-training-entities label {
  width: 100px;
  float: left;
}

#uc-discounts-form .has-assign-role .form-item {
  padding-top: 0px;
  width :auto;
  float:left;
}
.has-assign-role .form-type-checkbox {
  width :250px;
  float:left;
}
.has-assign-role .form-type-checkbox > label {
  width :auto;
  float:left;
}
#uc-discounts-form .has-assign-role .form-type-checkbox {
  padding-left:40px;  
}
#uc-discounts-form .has-assign-role .form-item > label {
  width :auto;
  /*float:left;*/
}

#uc-discounts-form .has-assign-role .form-type-checkboxes {
  width :100%;
}
.form-item-organization-set > Label {
  clear:both;
}

#uc-discounts-form .multiselect {
  width :100%;  
}

.has-assign-role div .multiselect {
  clear:both;
}

.has-assign-role .form-item-qualifications-assign-roles {
  width :100%;  
}

/*#uc-discounts-form .has-assign-role .multiselect { 
  width :750px;  
}*/

#uc-discounts-form .discount_desc .form-type-select {
  clear:both;
}
#discount_priority {
  display:none;
} 
.discount-codes-wrapper{
  padding-right:8px;
}

#uc-discounts-form .class-training-entities .form-item-tpopt {
    float: left;
}

#uc-discounts-form .form-item-tpopt .form-radio {
    float: left;
}
#uc-discounts-form .form-item-tpopt .form-radio > label {
	float: left;
    padding-right: 5px;
    width: auto;
}

#uc-discounts-form .tp-training-entities .form-type-radio > label {
  width :auto;
  float:left;  
  padding-right:5px;
}

.discount-container .req-pwd-form-wrapper #edit-tpplan .fieldset-wrapper #edit-tpopt .form-item {
  display:inline;
}