#notification-basic-addedit-form  {
  float:none
}
#notification-basic-addedit-form .addedit-form-cancel-container-actions {
  float:right;
  margin:10px 30px 10px 0
}
#notification-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
  width:100%;
  margin:0;
  clear:both
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  width:203px;
/*   height:17px;
  margin-top:-1px; */
  padding-top:0
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-edit-sendmailto.addedit-edit-dropdown { width:185px}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-edit-textfield {
  width:163px;
  font-size:12px;
  font-family:openSansRegular, Arial;
  font-style:normal
}
.addedit-onecol-secondcol {
  display:inline;
  float:left;
  height:23px;
  line-height:27px;
  margin:0;
  vertical-align:middle;
  padding-left:2px
}
#two-col-row-freq_type .addedit-twocol-secondcol .addedit-secondcol-field-value .addedit-edit-dropdown {
  width:185px;
/*   height:17px;
  margin-top:-2px; */
  padding-top:0
}
#exp-sp-administration-notification-attaching-template-form #catalog-class-addedit-form-details .add-class-button {
 margin-right:21px;
 position:absolute;
 right:0;
 top:-28px
}
#exp-sp-administration-notification-attaching-template-form #catalog-class-addedit-form-details .add-class-override-button {
 top:-24px
}
#exp-sp-administration-notification-attaching-template-form #admin-course-class-list-pagination-wrapper .edit-class-list-container {
  border-bottom:1px dotted #ccc;
  width:510px
}
#notification-basic-addedit-form .addedit-new-field-title {
  padding:6px 5px 4px 0;
  width:115px
}
#notification-basic-addedit-form .addedit-twocol-secondcol {
  display:inline;
  margin:0;
  vertical-align:middle
}
#notification-basic-addedit-form .addedit-new-field-two-col {
  width:590px;
  float:center
}
#admin-notification-template-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  display:none;
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0;
  position:relative
}
#notification-basic-addedit-form .catalog-pub-add-list, .catalog-pub-add-list-move {
  width:auto
}		
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-title {
  padding:6px 5px 4px 0;
  width:70px
}
#exp-sp-administration-notification-attaching-template-addedit-form #two-col-row-templatecode_langcode .addedit-twocol-secondcol .addedit-new-field-title {
  width:68px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-left-col {
  padding:10px 0 2px 16px
}		
#keywords-addedit-form-html #admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  padding-left:7px	
}		
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-two-col .addedit-edit-textfield {
  width:295px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-twocol-secondcol {
  display:inline;
  float:none;
  margin:0;
  vertical-align:middle
}
#exp-sp-administration-notification-attaching-template-addedit-form .crs-tab-titles-container {
  position:absolute;
  margin-top:-26px;
  margin-left:70px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-form-cancel-container-actions {
  float:right;
  margin-right:13px;
  position:relative
}
#admin-add-course-training-plan .admin-datagrid-save-cancel-button-align-bottom,
.page-administration-manage-notification-template #admin-add-course-training-plan .admin-datagrid-save-cancel-button-align-bottom,
.page-administration-manage-certificate #admin-add-course-training-plan .admin-datagrid-save-cancel-button-align-bottom {
  clear:both;
  float:right;
  position:relative;
  right:-25px;
  margin-top:8px;
  width:85px
}
.admin-insert-to-template-keyword{
  color:#474747;
  cursor:pointer;
  float:left;
  font-family:ProximaNovaBold, Arial;
  text-decoration:none;
  text-transform:uppercase
}
.ui-state-hover a.admin-insert-to-template-keyword,
.ui-state-hover a.admin-insert-to-template-keyword:hover,
.ui-widget-content a.admin-insert-to-template-keyword, 
.ui-widget-content .ui-state-highlight a.admin-insert-to-template-keyword {
  color:#474747
}
#keywords-addedit-form-html #admin-add-course-training-plan {
  padding:5px
}
#notification-basic-addedit-form.addedit-left-col {
  width:98.3%;
  padding:15px 0 0 16px;
  position:relative
}
.frequency-scheduled-days {
  color:#666;
  font-size:12px;
  padding:0;
  width:19px;
  line-height:27px;
  text-align:left;
  float:left
}
.notification-add-template-container .addedit-new-field-two-col {
  width:auto
}
#admin-notification-template-list-pagination-wrapper .ui-jqgrid-btable tr {
  background:none;
  border:0
}
#admin-notification-template-list-pagination-wrapper .edit-class-list .admin-add-edit-button {
  margin-right:17px;
  margin-top:0
}
.notification-add-template-container .addedit-form-cancel-and-save-actions-row {
  margin-top:8px
}
#admin-add-course-training-plan .add-key-word-list {
  min-height:145px;
  max-height:145px
} 
#admin-add-course-training-plan .add-key-word-list .jspVerticalBar .jspTrack {
  min-height:143px;
  max-height:143px
} 
#admin-add-course-training-plan .add-key-word-list .jspVerticalBar {
  padding-left:3px
}
.add-key-word-edit-list {
  left:260px
}
.add-keyword-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -158px -538px;
  height:20px;
  width:20px
}
#admin-notification-template-list-pagination-wrapper .edit-class-list {
  width:97%;
  margin:0 5px;
  padding:5px 0 10px 15px
}
#add-template-list-wrapper .ui-jqgrid .ui-jqgrid-bdiv{
  overflow:hidden
}
#two-col-row-freq_type .addedit-twocol-secondcol {
  width:226px
}
#notification-basic-addedit-form .addedit-new-field-two-col .notify-frequency-change-new {
  width:119px;
  height:20px
}
#admin-frequency-data-part-expires .notification-scheduled-days{
  width:30px;
  height:18px;
  margin-right:4px
}
#two-col-row-mail_sent_to img {
  visibility:hidden;
  float:left
}
#notification-basic-addedit-form .addedit-edit-cc_mail{
  height:17px
}
#notification-basic-addedit-form .addedit-edit-cc_mail.cc-mail-empty {
  color:#ccc;
  font-size:10px;
  font-style:italic
}
#notification-basic-addedit-form .addedit-edit-cc_mail.cc-mail-notempty {
  color:#333;
  font-size:13px;
  font-style:normal
}
#notification-basic-addedit-form .save-and-enable-disabled,
#notification-basic-addedit-form .save-and-enable-disabled:hover{
   color:#ccc;
   cursor:default
}
#add-template-list-wrapper .narrow-search-actionbar-greyout-btnLeft {
  float:left;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -113px -1679px;
  width:10px;
  height:22px
}
#add-template-list-wrapper .narrow-search-actionbar-greyout-btnBG {
  color:#FFF;
  float:left;
  font-size:12px;
  font-weight:bold;
  height:20px;
  padding:3px 3px 0 12px
}
#add-template-list-wrapper .narrow-search-actionbar-greyout-btnRight {
  float:left;
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -135px -1679px;
  width:10px;
  height:22px
}
.addedit-twocol-firstcol .ui-multiselect,
.addedit-twocol-secondcol .ui-multiselect {
  font-size:12px;
  color:#999;
  font-weight:normal;
  border-radius:0;
  background:block;
  border:1px solid #7F9DB9;
  width:192px;
  font-family:helvetica, arial
} 
#notification-basic-addedit-form .addedit-left-col{
	 padding:9px 0 15px 22px
}
#notification-basic-addedit-form .admin-save-pub-unpub-button-container{
  padding-left:7px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-value{
  width:490px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-value .defaultSkin table.mceLayout iframe{
  height:auto;
  min-height:160px
}
.page-administration-manage-certificate #exp-sp-administration-notification-attaching-template-addedit-form .addedit-new-field-value .defaultSkin table.mceLayout iframe{
  height:auto;
  min-height:235px
}
#notification-basic-addedit-form .addedit-left-col .addedit-new-field .addedit-new-field-value input.addedit-edit-textfield{
  width:457px
}
#notification-basic-addedit-form .addedit-new-field-value .defaultSkin table.mceLayout iframe{
  height:150px
}
#notification-basic-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:460px
}
#notification-basic-addedit-form .addedit-twocol-secondcol, .notification-add-template-container {
  float:none
}
#notification-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title{
  padding:6px 10px 4px 0;
  width:110px
}
#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
  padding-left:0
}
#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
padding-left: 6px
}
#notification-basic-addedit-form .addedit-new-field-value, .addedit-firstcol-field-value {
  width:174px
}		
#notification-basic-addedit-form .addedit-secondcol-field-value{
  padding:0
}
#notification-basic-addedit-form .certificate-description .addedit-new-field-value .defaultSkin table.mceLayout iframe{
  height:190px
}
#exp-sp-administration-notification-attaching-template-form #catalog-class-addedit-form-details .edit-class-list-left{
  width:92%;		
}
#notification-basic-addedit-form .catalog-pub-add-list li, .catalog-pub-add-list-move li {
 border-bottom:0	
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .expertus-dropdown-bg,
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-secondcol .expertus-dropdown-icon {
  width:165px
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-firstcol .expertus-dropdown-bg,
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-twocol-firstcol .expertus-dropdown-icon {
  width:183px
}
#notification-basic-addedit-form .ui-multiselect .ui-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/select_icon.png") no-repeat right 0;
  height:19px;
  margin:-2px -1px 0 0;
  width:22px
}
.page-administration-manage-notification-template #notification-basic-addedit-form .ui-multiselect {
  background: -ms-linear-gradient(#fafafa,#e9e9e9);/*For IE10*/
  background: linear-gradient(#fafafa,#e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fafafa', endColorstr='#e9e9e9'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#e9e9e9)";
  height:20px;
  line-height:16px;
  width:185px; 
  font-family:openSansRegular, Arial;
  color:#2d2d2d;
  border-radius: 10px 4px 4px 10px;
  border:1px solid #e5e5e5;
  border-right:0;
  position:relative
}
#notification-basic-addedit-form .catalog-pub-add-list {
  min-width:74px
}
.page-administration-manage-notification-template .expertusV2PopupContainer .admin-save-button-left-bg {
  margin-left:10px
}
#template-basic-addedit-form- .notification-add-template-container .expertus-dropdown-bg {
  width:116px
}
#admin-add-course-training-plan .addedit-form-cancel-container-actions .admin-action-button-middle-bg {
  margin-right:0;
  padding:1px 0
}
#add-edit-template-norecords .no-records-msg {
  padding:15px 0 0 0
}
#two-col-row-freq_type {
  margin-bottom:2px
}
.page-administration-manage-notification-template div.ctools-sample-modal-content .theme-ctool-popup div.popups-title,
.page-administration-manage-certificate div.ctools-sample-modal-content .theme-ctool-popup div.popups-title, 
.page-administration-manage-certificate .addedit-addl-form-title-text,
.page-administration-manage-notification-template .addedit-addl-form-title-text {
  padding-left:11px;
  background:none
}
.page-administration-manage-notification-template .addedit-addl-form-title .block-title-left,
.page-administration-manage-certificate .addedit-addl-form-title .block-title-left{
  border:0;
  border-radius:0
}
#notify-freq .addedit-firstcol-field-value {
  width:115px
}
#notification-basic-addedit-form #notify-freq .addedit-firstcol-field-value .expertus-dropdown-bg,
#notification-basic-addedit-form #notify-freq .addedit-firstcol-field-value .expertus-dropdown-bg .expertus-dropdown-icon {
  width:100px
}
.addedit-addl-form-newui-action-btn {
    margin-bottom:-9px
}
.keywords-form-grid .ui-state-hover {
  border:0;
  background:#FAFAFA
}
#admin-notification-template-list-pagination-wrapper {
  padding-top:10px
}
.page-administration-manage-notification-template .addedit-addl-form-title .block-title-right,
.page-administration-manage-certificate .addedit-addl-form-title .block-title-right{
  padding-right:11px;
  background:none
}
.page-administration-manage-notification-template .addedit-addl-form-title-text.block-title-middle,
.page-administration-manage-certificate .addedit-addl-form-title-text.block-title-middle{
  background:none
}
.notification-add-template-container .addedit-twocol-secondcol .expertus-dropdown-bg {
  width:116px
}
#admin-notification-template-list-pagination-wrapper #data-table-page-view {
  display:none
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-icon-seek-pgstart{
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -64px -417px;
  border:0;
  float:left;
  height:20px;
  opacity:1;
  width:29px
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-icon-seek-prev{
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -65px -390px;
  border:0;
  float:left;
  height:20px;
  opacity:1;
  width:29px
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table  .ui-icon-seek-next{
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -102px -390px;
  border:0;
  float:right;
  height:20px;
  opacity:1;
  width:29px
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table  .ui-icon-seek-pgend{
  background:#fff url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -103px -417px;
  border:0;
  float:right;
  height:20px;
  opacity:1;
  width:29px
}
#admin-notification-template-list-pagination-wrapper .ui-jqgrid .ui-pg-button:hover  {
  background:none;
  padding:0
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-icon-seek-first,
#admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-icon-seek-end{
  display:none
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table tr{
  float:right
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table td.search-pagination-right{
  font-family:openSansRegular, Arial
}
#admin-notification-template-list-pagination-wrapper .ui-pg-table .ui-pg-input{
  border-radius:10px;
  margin-left:5px
}
#add-template-list-wrapper .white-btn-bg-left{
	background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") no-repeat 0 -1355px;
	float:left;
	height:24px;
	width:15px
}
#add-template-list-wrapper .white-btn-bg-middle{
	color:#474747;
	float:left;
	font-family:ProximaNovaBold, Arial;
	font-size:11px;
	height:auto;
	line-height:16px;
	margin:0;
	padding:4px 10px 2px;
	text-transform:uppercase;
	font-weight:normal;
	border-radius:6px;
	background:#fff
}
#add-template-list-wrapper .white-btn-bg-right{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") no-repeat 0 -1413px;
  float:left;
  height:24px;
  width:15px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
   max-width:490px;
   min-width:490px;
   height:55px;
   resize:none;
   border:1px solid #ccc
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-edit-sms_text{
  height:17px
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-edit-sms_text.cc-mail-empty {
  color:#ccc;
  font-size:10px;
  font-style:italic
}
#exp-sp-administration-notification-attaching-template-addedit-form .addedit-edit-sms_text.cc-mail-notempty {
  color:#333;
  font-size:13px;
  font-style:normal
}
#admin-add-course-training-plan .admin-save-button-container.white-btn-bg-middle {
  float:left;
  margin:0;
}
#admin-add-course-training-plan .admin-save-button-container.white-btn-bg-middle .admin-action-button-middle-bg {
  background:none;
}
#notification-basic-addedit-form .addedit-new-field-two-col .addedit-firstcol-field-value .form-item-notify-type #edit-notify-type{
  color:#2d2d2d
}
.page-administration-manage-notification-template .ui-multiselect-menu .ui-multiselect-checkboxes{
   border: 1px solid #ccc
}
.notify-freq-hide{
   display:none
}
.edit-freq-data-notify{
   width :150px
}
.edit-notify-days-before {
   width :130px
}
.notify-days-text {
  float: left;
  font-family: proximanovabold;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 5px;
  width: 25px
}
#notification-basic-addedit-form #two-col-row-not_sched_days .addedit-firstcol-field-value{
  width: 155px
}
#notification-basic-addedit-form #two-col-row-not_sched_days .addedit-twocol-secondcol .addedit-new-field-title{
  width : 101px
}
.page-administration-manage-notification-template .crs-tab-titles-container,
.page-administration-manage-certificate .crs-tab-titles-container{
  margin-top:-38px
}
/* .page-administration-manage-certificate .addedit-new-field-two-col .addedit-edit-dropdown,
.page-administration-manage-notification-template .addedit-new-field-two-col .addedit-edit-dropdown{
  height:17px;
  margin-top:-1px
} */
.page-administration-manage-certificate .narrow-search-results-item-details .fade-out-title-container.admin-narrow-search-fadeout-container, 
.page-administration-manage-notification-template .narrow-search-results-item-details .fade-out-title-container.admin-narrow-search-fadeout-container {
  max-width:490px
}
.page-administration-manage-notification-template .narrow-search-results-item-details .admin-narrow-search-edit-tooltip-code-fadeout-container {
  max-width:490px
}
.page-administration-manage-notification-template .admin-attach-keywords-tab-datagrid-wrapper .multi-grid-addkeywords-title-fadeout-container,
.page-administration-manage-certificate .admin-attach-keywords-tab-datagrid-wrapper .multi-grid-addkeywords-title-fadeout-container {
  max-width:180px
}
.page-administration-manage-notification-template #viewnotification-detail-wrapper .admin-narrow-notify-view-title-fadeout-container,
.page-administration-manage-certificate #viewnotification-detail-wrapper .admin-narrow-notify-view-title-fadeout-container {
  max-width:550px
}
.page-administration-manage-notification-template #viewnotification-detail-wrapper .admin-narrow-notify-view-notifycc-fadeout-container,
.page-administration-manage-certificate #viewnotification-detail-wrapper .admin-narrow-notify-view-notifycc-fadeout-container {
  max-width:190px
}
.page-administration-manage-notification-template #viewnotification-detail-wrapper .admin-narrow-notify-view-accessname-fadeout-container,
.page-administration-manage-certificate #viewnotification-detail-wrapper .admin-narrow-notify-view-accessname-fadeout-container {
  max-width:550px
}
.page-administration-manage-notification-template #view-scroll-wrapper span.vtip,
.page-administration-manage-certificate #view-scroll-wrapper span.vtip {
  float:left
}
.page-administration-manage-notification-template #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-manage-notification-template #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image,
.page-administration-manage-certificate #narrow-search-results .ui-state-hover .fade-out-image,
.page-administration-manage-certificate #narrow-search-results .ui-state-highlight.ui-state-hover .fade-out-image{
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -30px;
}
.page-administration-manage-notification-template #narrow-search-results .narrow-search-recipient-name-fadeout-container {
  max-width:530px
}

.page-administration-manage-notification-template #exp-sp-administration-notification-template-addedit-form .admin-save-pub-unpub-button-container,
.page-administration-manage-certificate #exp-sp-administration-notification-template-addedit-form .admin-save-pub-unpub-button-container {
  margin-top:1px;
  padding-left:10px
}
.page-administration-manage-notification-template #exp-sp-administration-notification-template-addedit-form .addedit-edit-notification-basic-cancel,
.page-administration-manage-certificate #exp-sp-administration-notification-template-addedit-form .addedit-edit-notification-basic-cancel {
  padding:3px 6px 3px;
  margin-top:1px
}
.page-administration-manage-notification-template .admin-save-pub-unpub-button-container .admin-save-button-left-bg,
.page-administration-manage-certificate .admin-save-pub-unpub-button-container .admin-save-button-left-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:6px 0 0 6px;
  width:6px;
  height:22px;
  float:left;
}
.page-administration-manage-notification-template .admin-save-pub-unpub-button-container .admin-save-button-right-bg,
.page-administration-manage-certificate .admin-save-pub-unpub-button-container .admin-save-button-right-bg {
  display:block;
  background:#27245e;
  border:1px solid #27245e;
  border-radius:0 6px 6px 0;
  width:6px;
  height:22px;
  float:left;  
}

.page-administration-manage-notification-template .admin-save-pub-unpub-button-container .admin-save-button-middle-bg,
.page-administration-manage-certificate .admin-save-pub-unpub-button-container .admin-save-button-middle-bg {
  background:#27245e;
  border:0;
  float:left;
  text-align:center;
  height:24px;
  line-height:25px;
  color:#FFF; 
  font-family:ProximaNovaBold, Arial;
  text-transform:uppercase;
  font-size:12px;
  margin:0;
  border-radius:0;
  cursor:pointer;
  padding:0
}
.page-administration-manage-notification-template .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish,
.page-administration-manage-certificate .admin-save-pub-unpub-button-container .edit-catalog-course-save-publish {
  border-radius:0;
  padding:4px 0 2px
}
.page-administration-manage-notification-template .admin-save-pub-unpub-button-container .pub-unbpub-more-btn,
.page-administration-manage-certificate .admin-save-pub-unpub-button-container .pub-unbpub-more-btn {
  border-radius:0 6px 6px 0;
  float:left;
  height:22px;
  width:15px;
  cursor:pointer;
  display:block; 
  margin-top:0
}
.page-administration-manage-notification-template .notification-add-template-container .admin-save-pub-unpub-button-container,
.page-administration-manage-certificate .notification-add-template-container .admin-save-pub-unpub-button-container {
  padding-left:10px
}
.page-administration-manage-notification-template .admin-attach-keywords-tab-datagrid-wrapper .addedit-form-cancel-container-actions .admin-action-button-middle-bg,
.page-administration-manage-certificate .admin-attach-keywords-tab-datagrid-wrapper .addedit-form-cancel-container-actions .admin-action-button-middle-bg { 
  border:0
}
.page-administration-manage-notification-template #page-container #narrow-search-results-holder .narrow-search-results-item-action .crs-unpublish-btn.plainy-btn,
.page-administration-manage-certificate #page-container #narrow-search-results-holder .narrow-search-results-item-action .crs-unpublish-btn.plainy-btn {
  border:1px solid #e5e5e5;
  border-radius:10px;
  display:inline-block;
  vertical-align:middle;
  float:right;
  margin-right:0;
  width:108px;
  background:#fff;
  filter:none;
  cursor:default
}
.page-administration-manage-notification-template .qtip-tip,
.page-administration-manage-certificate .qtip-tip{
  min-height:44px
}
.page-administration-manage-notification-template .qtip-button .admin-bubble-close,
.page-administration-manage-certificate .qtip-button .admin-bubble-close{
  top:-4px	
}
.page-administration-manage #ctools-face-table .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
  background-position: -107px -622px
}
.page-administration-manage-certificate #ctools-face-table .admin-save-pub-unpub-button-container .pub-unbpub-more-btn{
  background-position: -107px -621px
}
/*! Chrome Hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
    padding:0
  }
  #admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
    padding-left:0
  }
  .page-administration-manage-notification-template #admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td,
  .page-administration-manage-certificate #admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
    padding-left: 6px
  }
  #notification-basic-addedit-form .ui-multiselect .ui-icon { 
  	margin:-2px -1px 0 0
  }
  .page-administration-manage-notification-template .qtip-tip,
  .page-administration-manage-certificate .qtip-tip{
     min-height:52px
  }
}
#exp-sp-administration-notification-attaching-template-addedit-form  .addedit-twocol-firstcol { width: 375px }
#exp-sp-administration-notification-attaching-template-addedit-form  .addedit-twocol-secondcol { width: 183px }


