
 <a id="control-close" class="qtip-close-button" onclick="closeH5PIcon(this)"></a>
<div class="e1_h5p_error" style="height:auto;margin-top: -17px;"></div>
 <div class="libwrap h5p-markthewords-editor">
	<div class="field text">
		<label class="h5peditor-label-wrapper">
			<span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('Goto Slide')%>:</span>
			<input class="h5peditor-text" id="gotoslide_value" value="<%=GLOBALPARAMS_H5P.goToSlide%>" style="min-width:50px;width:50px;"  type="text"  maxlength="3" size="3">
		</label>
	</div>
	<div class="field text">
		<label class="h5peditor-label-wrapper">
			<span class="h5peditor-label h5peditor-required"><%=window.parent.Drupal.t('LBL083')%>:</span>
			<input class="h5peditor-text" id="gotoslide_title" value="<%=GLOBALPARAMS_H5P.title%>"   type="text"  maxlength="255">
		</label>
	</div>
  </div> 
</div>
<script>
vtip();
</script>
