.v1_button_ClientCreation {
    float: right;
    margin-right: 10px;
    margin-top: 5px
}

.v1_button_ClientCreation_details {
    float: right;
    margin-right: 32px;
    margin-top: 10px
}


.v2_button_ClientCreation {
    float: right;
    margin-right: 104px;
    margin-top: 5px
}

.v2_button_ClientCreation_details {
    float: right;
    margin-right: 132px;
    margin-top: 10px;
}

#client_create_form_Normal_wrapper{
	min-height: 170px;
    width: 590px
}

#client_create_form_Load_wrapper{
	min-height: 350px;
    width: 590px
}

#client_create_form_Load_action_wrapper{
	min-height: 270px;
    width: 590px
}

#client_create_form_Normal_action_wrapper{
	min-height: 125px;
    width: 590px
}

#client_details_wrapper {
    font-size: 13px;
    left: 10px;
    min-height: 170px;
    padding: 7px;
    position: relative;
    top: 30px;
    width: 90%
}
.clientdetails_title {
    color: #e20f7b;
    font-size: 18px;
    margin: 0 auto;
    width: 80%
}

td {
   padding: 5px
}
#edit-client-name ,#edit-client-url{
	width: 288px
}
#exp-sp-client-basic-form .addedit-new-field-title {
	font-weight:normal;
	font-size: 14px
}
#account_setting #bubble-face-table td{
 padding: 0
}