#exp-sp-administration-role-attaching-user-form .ac_input {
  width:130px
}
#role-addedit-form .addedit-form-cancel-container-actions {
  margin-right:11px
}
#exp-sp-administration-role-attaching-user-form #catalog-class-addedit-form-details .add-class-button {
  margin-right:16px
}
#permissions_disp_div {
  margin-left:152px;
  margin-top:-26px;
  position:absolute
}
#add-class-list-wrapper .nonlist {
  height:30px;
  padding-top:15px
}
.admin-pagination-role-search-go {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -482px -20px #fff;
  border:0;
  cursor:pointer;
  display:block;
  height:20px;
  outline:0;
  text-decoration:none;
  width:20px;
  float:right;
  bottom:-2px;
  right:30px;
  position:relative
}
.display_user_list {
  margin-top:10px
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager,
#admin-data-grid .ui-jqgrid .ui-jqgrid-toppager {
  height:24px
}
#display-assigned-users #attach_user_list,#display-assigned-owners #attach_user_list {
  margin-right:1px;
  margin-top:1px;
  position:static
}
#add-user-role-page .add-class-button {
  top:200px;
  right:-16px
}
#add-user-role-page {
  position:relative
}
.theme-ctool-popup  #role-addedit-form .admin-save-button-container {
  float:right;
  margin:1px 11px 5px
}
.theme-ctool-popup  #role-addedit-form .admin-save-pub-unpub-button-container {
  float:inherit;
  margin-right:9px;
  padding-left:9px
}
#add-user-role-page #add-class-list-wrapper #search-list-class-title-keyword ul {
  background:#FFF;
  border:1px solid #CCC;
  list-style-type:none;
  padding:0
}
.adduser-title-heading {
  color:#2D2D2D;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  padding-left:13px;
  text-transform:uppercase
}
.adduser-title-heading-permission {
  padding-left:4px
}
.permission-button-size {
  font-size:12px
}
.permission-header-tr {
  height:35px
}
.permission-detail-tr-odd {
  height:30px
}
.permission-detail-tr-even {
  height:30px;
  background:#EEE
}
.user-list-detail {
  color:#2D2D2D;
  font-size:13px
}
#display-assigned-users #attach_user_list_div {
  margin-right:0;
  position:relative;
  right:176px;
  top:83px
}
#security-role-detail-wrapper-list {
  min-height:225px
}
#security-role-detail-wrapper {
  min-height:165px
}
#security-role-detail-wrapper-list .admin-save-button-container .narrow-search-actionbar-orange-btnBG {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -3px -1022px;
  padding:0 3px 0 7px
}
#search_add_urs {
  border:0;
  right:179px;
  top:1px;
  z-index:101;
}
.page-administration-people-group #narrow-search-results-holder #display-assigned-users .assigned-users-grps #add-class-list-wrapper #search_add_urs {
  z-index:100
}
.page-administration-people-group #narrow-search-results-holder #display-assigned-users .assigned-users-grps #add-class-list-wrapper input.ac_loading {
  z-index:101
}

#display-assigned-users .admin-empty-text-msg,#display-assigned-owners .admin-empty-text-msg {
  padding-top:72px
}
#permissions-addedit-form-html #admin-add-permissions .jspTrack {
  height:175px
}
#role-detail-wrapper .add-user-first-btn, #role-detail-wrapper .add-user-previous-btn,
#role-detail-wrapper .add-user-next-btn, #role-detail-wrapper .add-user-last-btn {
  width:24px;
  height:23px;
  margin:9px 0 0 5px;
  border:0;
  display:block;
  float:left;
  opacity:8
}
#role-detail-wrapper .add-user-first-btn {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -68px -417px
}
#role-detail-wrapper .add-user-previous-btn {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -68px -390px
}
#role-detail-wrapper .add-user-next-btn {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -106px -390px;
  padding:0
}
#role-detail-wrapper .add-user-last-btn {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -106px -417px;
  padding:0
}
#role-detail-wrapper .tot-txt-cls {
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  color:#474747;
  text-transform:uppercase;
  width:auto;
  height:25px;
  margin:9px 0 0 3px;
  display:block;
  float:left
}
#role-detail-wrapper .tot-txt-cls .form-item-add-usr-pg-txtfld {
  display:inline;
  margin:0;
  width:auto;
  height:25px
}
#add_usr_pg_txtfld {
  border:1px solid #ccc;
  height:16px;
  width:40px;
  font-family:ProximaNovaBold, Arial;
  text-align:center;
  margin:0 3px
}
#role-detail-wrapper .attached-course-pagination-container {
  clear:both;
  float:right;
  margin-right:7px;
  width:106px
}
#attach_user {
  margin-right:-4px;
  font-size:12px
}
#assigned_user {
  margin-right:-4px;
  font-size:12px
}
.button-margin-edit {
  margin-right:-4px
}
.button-margin-search {
  margin-right:18px
}
.permission-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -4px -1908px;
  height:20px;
  width:20px
}
.owner-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -455px -597px;
  height:20px;
  width:20px
}
.users-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat -34px -1909px;
  height:20px;
  width:20px
}
#role-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:392px
}
#role-addedit-form .catalog-pub-add-list {
  width:75px;
  margin-right:9px
}
#role-addedit-form .catalog-pub-add-list li {
  border-top:1px solid #EBEBEB;
  border-bottom:0;
  text-align:right
}
#role-addedit-form .catalog-pub-add-list li input {
  background:none
}
#permission-cancel-save-btn .addedit-form-cancel-container-actions {
  width:auto
}
#add-user-role-page #role-security-role-detail-wrapper-list .ui-jqgrid-hdiv,
#add-user-role-page #security-role-detail-wrapper .ui-jqgrid-hdiv,
#add-user-role-page #role-security-role-detail-wrapper-list .ui-jqgrid-bdiv,
#add-user-role-page #security-role-detail-wrapper .ui-jqgrid-bdiv{
  float:left
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class {
  background:none;
  border:0;
  color:#474747;
  float:left;
  font-size:12px;
  height:10px;
  text-align:left;
  width:66px
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -255px;
  cursor:pointer;
  float:left;
  height:20px;
  text-decoration:none;
  width:20px;
  margin:2px 0 0
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class {
  height:20px;
  width:105px;
  margin:0
}
#security-role-detail-wrapper-list #admin-add-course-training-plan,
#security-role-detail-wrapper #admin-add-course-training-plan {
  float:left
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .admin-save-button-container,
#security-role-detail-wrapper #admin-add-course-training-plan .admin-save-button-container {
  margin:24px 0 0 14px
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .add-class-button,
#security-role-detail-wrapper #admin-add-course-training-plan .role-add-user-btn {
  margin-top:0
}
#exp-sp-administration-role-attaching-user-form .ac_input {
  width:130px
}
#role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container {
  width:315px;
  z-index:0
}
#role-addedit-form .addedit-form-cancel-container-actions {
  margin-right:11px
}
#exp-sp-administration-role-attaching-user-form #catalog-class-addedit-form-details .add-class-button {
  margin-right:16px
}
.add-user-delete {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/close.png") no-repeat 0 0;
  cursor:pointer;
  margin:8px 10px -10px
}
#permissions_disp_div {
  margin-left:247px;
  margin-top:-33px;
  position:absolute
}
.page-administration-people-group #exp-sp-administration-groups-addedit-form .addedit-form-cancel-and-save-actions-row, .page-administration-people-group #role-addedit-form .addedit-form-cancel-and-save-actions-row {
  padding-bottom:10px
}
.admin-add-class {
  height:183px
}
#add-class-list-wrapper .nonlist {
  height:30px;
  padding-top:15px
}
.admin-pagination-role-search-go {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -482px -20px #fff;
  border:0;
  cursor:pointer;
  display:block;
  height:20px;
  outline:0;
  text-decoration:none;
  width:20px;
  float:right;
  bottom:-2px;
  right:30px;
  position:relative
}
.display_user_list {
  margin-top:10px
}
.right-header {
  padding-bottom:2px
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager,
#admin-data-grid .ui-jqgrid .ui-jqgrid-toppager {
  height:26px
}
#display-assigned-users #attach_user_list,#display-assigned-owners #attach_user_list {
  margin-right:1px;
  margin-top:1px;
  position:static
}
#add-user-role-page .add-class-button {
  top:200px;
  right:-16px
}
.theme-ctool-popup  #role-addedit-form .admin-save-button-container {
  float:right;
  margin:0 11px 5px 10px
}
.theme-ctool-popup  #role-addedit-form .admin-save-pub-unpub-button-container {
  float:inherit;
  margin-right:9px;
  padding-left:4px;
  margin-top:0
}
.page-administration-people-group #role-addedit-form .admin-save-pub-unpub-button-container #edit-save-button.addedit-edit-save-button {
  border-radius:6px 0 0 6px;
  margin-left:5px;
  margin-top:1px;
  padding-bottom:1px;
  padding-right:4px
}
#add-user-role-page #add-class-list-wrapper #search-list-class-title-keyword ul {
  background:#FFF;
  border:1px solid #CCC;
  list-style-type:none;
  padding:0
}
#add-user-role-page .search-list-keyword {
  position:absolute;
  left:4px
}
.adduser-table-heading {
  width:100%;
  padding-left:5px
}
.adduser-title-heading {
  color:#474747;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  padding-left:13px;
  text-transform:uppercase;
  background: -ms-linear-gradient(#fefefe,#ebebeb);/*For IE10*/
  background: linear-gradient(#fefefe,#ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#fefefe', endColorstr='#ebebeb'); /*For IE7-8-9*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#ebebeb)";
  border:1px solid #E5E5E5;
  border-width:1px 0 0 1px
}
.adduser-title-heading-permission {
  padding-left:4px
}
#admin-add-permissions .certificate-column {
  font-size:11px
}
#ui-multiselect-con .mcontainerclass ul,
#ui-multiselect-con .mcontainerclass li {
  font-family:openSansRegular,Arial;
  font-size:11px;
  font-weight:normal;
  color:#585858;
  line-height:21px
}
.permission-button-size {
  font-size:12px
}
.permission-header-tr {
  height:26px
}
.permission-detail-tr-odd {
  height:26px
}
.permission-detail-tr-even {
  height:26px;
  background:#F7F7F7
}
.edit-adduser-list {
  padding:10px 0 15px 14px;
  width:94.7%
}
.edit-adduser-list-grid {
  border:1px solid #E5E5E5;
  border-top:0
}
.user-list-detail {
  color:#2D2D2D;
  font-size:12px
}
#admin-add-permissions .certificate-column {
  padding-left:7px
}
#admin-add-permissions .sub-level .certificate-column span,
#admin-add-permissions .sub-level .certificate-column span {
  padding-left:25px
}
#add-user-role-page #add-class-list-wrapper .admin-class-auto-search-container {
  margin:-10px 0 0 105px
}
#role-detail-wrapper #add-class-list-wrapper .admin_class_ac_input_mainform,
#paint-narrow-search-results .add-users-grp #add-class-list-wrapper .admin_class_ac_input_mainform {
  height:21px;
  font-size:12px;
  border-width:1px 0;
  position:absolute;
  width:149px;
  padding-right:16px
}
#paint-narrow-search-results #role-detail-wrappe .add-users-grp #add-class-list-wrapper .admin_class_ac_input_mainform {
  width:190px
}
#add-user-role-page .add-users-grp #add-class-list-wrapper .admin_class_ac_input_mainform {
  height:21px;
  font-size:12px;
  border:none;
  width:152px;
  padding-right:16px
}
#narrow-search-results-holder #security-role-detail-wrapper .add-users-grp .admin_class_ac_input_mainform,
#role-detail-wrapper #add-user-role-page #add-class-list-wrapper .admin_class_ac_input_mainform {
  width:176px;
  border-radius:0;
  border-width:1px 0
}
#narrow-search-results-holder #security-role-detail-wrapper .add-users-grp .admin_class_ac_input_mainform {
  width:164px
}
#narrow-search-results-holder .owner-narrow-search #security-role-detail-wrapper .add-users-grp .admin_class_ac_input_mainform {
  width:161px
}
#page-container #role-detail-wrapper #add-class-list-wrapper .ac_loading,
#narrow-search-results-holder  #bubble-face-table #add-class-list-wrapper .ac_loading,
#role-detail-wrapper #add-user-role-page #add-class-list-wrapper .ac_loading {
  border-color:#ddd;
  border-radius:0;
  border-style:solid none;
  border-width:1px 0;
  height:21px;
  width:180px
}
#role-detail-wrapper #add-class-list-wrapper .ac_loading {
  width:149px
}
#narrow-search-results-holder  #bubble-face-table .add-users-grp #add-class-list-wrapper  .ac_loading {
  width:167px
}
.qtip-parent-adduser #add-user-role-page #add-class-list-wrapper .admin_class_ac_input_mainform {
  width:160px
}
#display-assigned-users #attach_user_list_div,#display-assigned-owners #attach_user_list_div {
  margin-right:0;
  position:relative;
  right:202px;
  top:75px
}
#security-role-detail-wrapper-list {
  min-height:225px
}
#security-role-detail-wrapper {
  min-height:165px
}
#security-role-detail-wrapper-list .admin-save-button-container .narrow-search-actionbar-orange-btnBG {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat scroll -3px -1022px transparent;
  padding:0 3px 0 7px
}
#search_addusers {
  border:0
}
#display-assigned-users .admin-empty-text-msg,#display-assigned-owners .admin-empty-text-msg {
  padding-top:72px
}
#permissions-addedit-form-html #admin-add-permissions .jspTrack {
  height:175px
}
#role-detail-wrapper .add-user-pagination-container {
  width:auto;
  clear:both;
  float:right;
  margin-bottom:-17px
}
#role-detail-wrapper .attached-course-pagination-container {
  clear:both;
  float:right;
  margin-right:7px;
  width:106px
}
#role-detail-wrapper .tot-txt-cls .form-item-add-usr-pg-txtfld {
  display:inline;
  margin:0;
  width:40px;
  height:25px
}
#attach_user {
  margin-right:-4px;
  font-size:12px
}
#assigned_user {
  margin-right:-4px;
  font-size:12px
}
#display-assigned-owners #catalog-class-addedit-form-details .display_user_list #assigned_user .add-class-button {
  position:relative;
  top:auto;
  right:auto
}
.page-administration-people-role #page-container .narrow-search-multi-action-container .active-deactive-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -344px -200px;
  height:20px;
  margin-right:2px;
  width:15px
}
.permission-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -159px -386px;
  height:20px;
  width:22px;
  margin-right:2px
}
.owner-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -455px -597px;
  height:20px;
  width:22px;
  margin-right:2px
}
#role-addedit-form .permission-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -159px -386px;
  height:20px;
  width:22px;
  margin-right:2px
}
#role-addedit-form .owner-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -455px -597px;
  height:20px;
  width:22px;
  margin-right:2px;
  left: -237px;
}
.deactive-owner-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -455px -597px;
  height:20px;
  width:22px;
  margin-right:2px;
  opacity:0.3;
}
.users-tab-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -319px -181px;
  height:20px;
  width:20px
}
#role-addedit-form .addedit-long-description-container .addedit-new-field-value {
  width:392px
}
#role-addedit-form .catalog-pub-add-list {
  width:75px;
  margin-right:9px
}
#role-addedit-form .catalog-pub-add-list li input {
  background:none
}
#role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper .admin_class_multi_search_container {
  left:165px
}
#add-user-role-page #role-security-role-detail-wrapper-list .ui-jqgrid-hdiv,
#add-user-role-page #security-role-detail-wrapper .ui-jqgrid-hdiv {
  float:left;
  height:27px
}
#add-user-role-page #role-security-role-detail-wrapper-list .ui-jqgrid-bdiv,
#add-user-role-page #security-role-detail-wrapper .ui-jqgrid-bdiv {
  float:left
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-dropdown-class {
  background:none;
  border:0;
  color:#474747;
  float:left;
  font-size:12px;
  height:10px;
  text-align:left;
  width:70px
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper .select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -255px;
  cursor:pointer;
  float:left;
  height:20px;
  text-decoration:none;
  width:20px;
  margin:4px 0 0 -8px
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list {
  display:none;
  left:-8px;
  position:absolute;
  top:20px;
  z-index:100
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #search-dropdwn-list-class {
  height:20px;
  width:105px;
  margin:0
}
#security-role-detail-wrapper-list #admin-add-course-training-plan,
#security-role-detail-wrapper #admin-add-course-training-plan {
  float:left
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .admin-save-button-container,
#security-role-detail-wrapper #admin-add-course-training-plan .admin-save-button-container {
  margin:24px 0 0 10px
}
/* #security-role-detail-wrapper-list #admin-add-course-training-plan .admin-save-button-container #edit-cancel-assigneduser-edit-mode,
#security-role-detail-wrapper-list #admin-add-course-training-plan .admin-save-button-container .admin-save-button-container{
  margin-top:24px;
} */
#security-role-detail-wrapper-list #admin-add-course-training-plan .add-class-button,
#security-role-detail-wrapper #admin-add-course-training-plan .role-add-user-btn {
  margin-top:0;
  margin-left:10px
}
#security-role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  height:23px;
  right:-16px
}
#security-role-detail-wrapper.owner-user-class #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  right:-2px;
}
.qtip-contentWrapper #security-role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  height:23px;
  right:0
}
.page-administration-people-role .popups-container-newui .addedit-form-wrapper {
  float:none
}
#add-user-role-page .addedit-edit-username-search-autocomplete {
  height:21px;
  padding:1px
}
#admin-add-permissions table {
  border:1px solid #E7E7E7;
  border-width:0 1px 1px 1px;
  width:498px
}
#permission-cancel-save-btn {
  margin-top:12px;
  margin-right:-10px
}
#page-container #admin-add-permissions .permission-header-tr .checkbox-unselected,
#page-container #admin-add-permissions .permission-header-tr .checkbox-selected {
  margin:7px 0 0 10px
}
#ui-multiselect-con .checkbox-unselected,
#ui-multiselect-con .checkbox-selected {
  margin-top:5px
}
#admin-add-permissions .more-icon-close {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -243px -384px;
  width:12px;
  height:12px;
  /*vertical-align: text-top;
  padding:1px 0 0 3px*/
}
#admin-add-permissions .more-icon-open {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -232px -384px;  
  width:12px;
  height:12px;
  /*vertical-align: text-top;
  padding:1px 0 0 3px*/
}
/*#admin-add-permissions span.more-text a.show-short-text.more-icon-close:before,
#admin-add-permissions span.more-text a.show-short-text.more-icon-open:before{
  font-size:7px;
  display:inline-block;
  color:#8b8b8b
}
#admin-add-permissions span.more-text a.show-short-text{
  display:inline-block;
}*/
#security-role-detail-wrapper .ui-jqgrid-hbox .checkbox-unselected,
#security-role-detail-wrapper .ui-jqgrid-hbox .checkbox-selected {
  margin-top:7px;
  height:10px
}
#admin-add-permissions .checkbox-unselected,
#admin-add-permissions .checkbox-selected {
  margin:6px -6px 0 7px
}
#bubble-face-table #admin-add-permissions .adduser-title-heading,
#admin-add-permissions .adduser-title-heading {
  font-weight:normal;
  font-size:12px;
  padding-left:7px;
  border:1px solid #E5E5E5;
  border-width:1px 1px 0 0
}
#admin-add-permissions .chk-edit,
#admin-add-permissions .chk-edit {
  margin-left:8px
}
#admin-add-permissions .chk-view,
#admin-add-permissions .chk-view {
  margin-left:10px
}
#admin-add-permissions .chk-create,
#admin-add-permissions .chk-create {
  margin-left:17px
}
.page-administration-people-role div.ctools-modal-content .checkbox-selected,
.page-administration-people-role div.ctools-modal-content .checkbox-unselected {
  height:12px;
  padding:0
}
.page-administration-people-role .addedit-addl-form-title .addedit-addl-form-title-text {
  padding-left:6px
}
.user-title-head-pad,
.user-title-head-pad-username {
  padding-left:16px
}
.user-title-head-pad-username {
  font-weight:normal;
  color:#2d2d2d;
  font-family:openSansRegular, Arial;
  font-size:12px
}
.user-title-head-status {
  padding-left:15px
}
#page-container #role-security-role-detail-wrapper-list th:hover,
#page-container #security-role-detail-wrapper th:hover {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") repeat-x 0 -2453px;
  border-right:1px solid #E5E5E5;
  text-align:left
}
#page-container #role-security-role-detail-wrapper-list .ui-jqgrid-bdiv tr:hover,
#page-container #security-role-detail-wrapper .ui-jqgrid-bdiv tr:hover,
#add-user-role-page .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover {
  background:none
}
.page-administration-people-role #add-class-list-wrapper {
  padding:0 0 0 3px
}
.page-administration-people-role div.popups-title .popups-close {
  margin-right:6px
}
#role-detail-wrapper {
  padding-bottom:17px;
  background:#fff
}
.user-list-full-name {
  padding-left:13px
}
#role-detail-wrapper #add-class-list-wrapper .input.ac_loading,
#add-user-role-page #add-class-list-wrapper .input.ac_loading {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/search_bg.png") repeat-x 0 -126px;
  border:0
}
#security-role-detail-wrapper  .norecords-msg-edit-page {
  border-bottom:none
}
#role-detail-wrapper #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list  li {
  text-align:center
}
#add-user-role-page #catalog-class-addedit-form-details #add-class-list-wrapper #select-list-class-dropdown-list  li {
  text-align:center
}
.narrow-search-multi-action-container .role_multi_search_container_add,
.role_multi_search_container_add {
  width:323px
}
.qtip-parent-adduser .role_multi_search_container_add {
  width:331px
}
#add-user-role-page .admin-datagrid-pagination {
  min-height:155px;
  height:auto
}
#page-container #add-user-role-page #catalog-class-addedit-form-details .filter-search-start-date-right-bg {
  margin-left:182px
}
.add_owner #add-user-role-page #catalog-class-addedit-form-details .filter-search-start-date-right-bg {
  margin-left:189px
}
#page-container .owner-narrow-search #add-user-role-page #catalog-class-addedit-form-details .filter-search-start-date-right-bg {
  margin-left:191px
}
.add_owner .owner-user-class #add-user-role-page #catalog-class-addedit-form-details .filter-search-start-date-right-bg {
  margin-left:0
}
#page-container .owner-narrow-search #security-role-detail-wrapper.owner-user-class .add-users-grp  #catalog-class-addedit-form-details #add-class-list-wrapper .filter-search-start-date-right-bg {
  margin-left:179px
}
.page-administration-people-role #ctools-face-table .addedit-left-col {
  width:98.3%;
  padding:15px 0 1px 16px;
  position:relative
}
.page-administration-people-role .admin-pagination-role-search-go {
  right:20px
}
.attr-selected-pane {
  float:right;
  width:273px;
  /*margin-right:19px;*/
  overflow:hidden
}
.attr-select-pane {
  float:left;
  width:245px
}
.attr-selected-pane .empty-group {
  display:none
}
.attr-select-pane .list-group {
  color:#474747;
  font-family:ProximaNovaBold, Arial;
  font-size:12px;
  font-weight:lighter;
  clear:both;
  float:left;
  padding-top:5px;
  padding-bottom:5px
}
.attr-select-pane .empty-group {
  clear:both;
  color:#808080;
  font-family:openSansRegular, Arial;
  font-size:11px;
  font-weight:lighter;
  float:left;
  padding-top:5px;
  padding-bottom:5px
}
.attr-selected-pane .sel-attr-separator {
  color:#00a2e8;
  font-size:10px;
  font-weight:lighter
}
.attr-list-item {
  float:left;
  padding-right:7px;
  padding-top:3px
}
.sel-attr-div {
  clear:both
}
.attr-selected-pane .list-group {
  display:block;
  font-size:12px;
  font-weight:normal;
  text-align:center;
  font-family:ProximaNovaBold, Arial;
  line-height:22px;
}
.attr-pane .attr-selected-pane span.item-short-desc,
.attr-pane .attr-selected-pane span.item-long-desc  {
  line-height:18px;
  font-size:12px;
  word-wrap: break-word
}
.attr-selected-pane .attr-content span {
  line-height:12px
}
.attr-selected-pane .attr-content span.list-group {
  line-height:21px;
  margin-top:-2px
}
.page-administration-people-group #show_sel_ste_con_hdt {
	display:block;
	/*float:left*/
}
.page-administration-people-group #show_sel_ste_con_hdt .item-short-desc{
	display:block;
	clear:both;
	margin-left:15px
}
#sel_ste_con_hdt .item-short-desc{
	display:block;
	clear:both
}
.page-administration-people-group .attr-selected-pane .attr-content span.list-group {
  margin-top:0
}
.attr-content {
  clear:both;
  width:260px;
  word-wrap: break-word
}
.mgr-attr {
  float:left
}
.mgr-attr-chk {
  padding-left:75px;
  padding-top:2px
}
.attr-select-pane .narrow-search-results-item-detail {
  clear:both
}
.narrow-search-results-item-detail.mgr-attr-chk {
  clear:none
}
.right-tip-arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -243px -384px;
  width:12px;
  height:12px;
  display:inline-block;
  float:left;
  cursor:pointer;
  margin-top:8px;
  margin-left:-2px
}
.down-tip-arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -232px -384px;
  width:12px;
  height:12px;
  display:inline-block;
  float:left;
  margin-top:8px
}
#autocomplete {
  position:relative;
  border:0;
  height:35px
}
.attr-pane #autoimg {
  top:9px;
  right:9px
}
.page-administration-people-group #exp-sp-administration-groups-addedit-form .attr-pane #avil_ste_con_usr #autoimg {
/*   top:-20px; */
  height:18px
}
.page-administration-people-group .addedit-left-col .addedit-new-field .addedit-new-field-value .form-type-textfield .addedit-edit-textfield {
  padding-left:5px
}
.attr-content-nonesel-div {
  display:table;
  text-align:center;
  width:100%;
  height:80%
}
.attr-content-nonesel-span {
  display:table-cell;
  vertical-align:middle
}
#autocomplete input#multiautocomplete {
  margin-top:8px;
  height:18px
}
#autocomplete input#multiautocomplete.ac_input{
  position:absolute;
}
#autocomplete input#multiautocomplete.ac_loading{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -16px #FFF;
  z-index:10
}
.expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset button.white-btn-bg-middle {
  background:none;
  color:#474747;
  float:left;
  font-family:ProximaNovaBold, Arial;
  font-size:11px;
  height:23px;
  line-height:20px;
  /*margin:-1px 0 0;*/
  padding:0;
  text-transform:uppercase;
}
.expertusV2PopupContainer .ui-dialog-buttonpane .ui-dialog-buttonset button.white-btn-bg-middle
{
	padding:2px 4px 2px
}
.attr-pane {
  overflow:hidden;
  padding-top:12px;
  width:98%
}
#attr-separator {
  border-left:1px dotted #ccc;
  float:left;
  margin-left:28px;
  padding-left:4px
}
.addedit-new-field-title {
  width:60px
}
.checkbox-selected-readonly {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 0 -845px;
  float:left;
  height:12px;
  margin:6px -6px 0 7px;
  padding:0;
  width:15px;
  cursor:default
}
.checkbox-unselected-readonly {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/menu_bg1.png") no-repeat 0 -438px;
  float:left;
  height:12px;
  margin:6px -6px 0 7px;
  padding:0;
  width:15px;
  cursor:default
}
.disabled-checkbox {
  padding-left:27px
}
.create-group-hidecontainer .jspContainer {
  overflow:visible
}
.create-group-hidecontainer .mcontainerclass {
  margin-top:0
}
.create-group-hidecontainer {
 /*height:165px;*/
  margin-top:10px;
  overflow:hidden
}
.attr-select-pane .jspTrack {
  border:0;
  border-radius:10px;
  max-height:160px
}
.attr-select-pane .jspDrag {
  border:0;
  border-radius:10px
}
.attr-select-pane .jspVerticalBar {
  border:1px solid #CCC;
  border-radius:10px;
  height:160px;
  width:7px
}
.attr-selected-pane .jspTrack {
  border:0;
  border-radius:10px;
  height:450px
}
.attr-selected-pane .jspDrag {
  border:0;
  border-radius:10px
}
.attr-selected-pane .jspVerticalBar {
  border:1px solid #CCC;
  border-radius:10px;
  height:452px;
  width:7px
}
#role-addedit-form .attr-selected-pane .narrow-search-results-item-detail {
  color:#2d2d2d
}
#page-container #security-role-detail-wrapper .add-users-grp  #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  height:23px;
  right:15px
}
#page-container .owner-narrow-search #security-role-detail-wrapper .add-users-grp  #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  right:32px;
  margin-left:auto
}
#page-container #narrow-search-results-holder .add-users-grp  #catalog-class-addedit-form-details #add-class-list-wrapper #search-addusers {
  height:23px;
  right:21px
}
#page-container .add-users-grp #add-class-list-wrapper .narrow-text-search {
  border:0
}
#page-container .filter-search-start-date-middle-bg.group-state-disabled-middle-bg {
  background-color:#f2f2f2;
  border-radius:0;
  float:left;
  font-family:openSansRegular,Arial;
  font-size:12px;
  height:21px;
  line-height:21px;
  margin:0;
  padding-left:0;
  border:1px solid #d8d8d8;
  border-width:1px 0
}
#page-container .filter-search-start-date-left-bg.group-state-disabled-left-bg {
  background-color:#f2f2f2;
  float:left;
  height:23px;
  width:12px;
  border-radius: 15px 0 0 15px;
  border:1px solid #d8d8d8;
  border-right:0
}
#page-container .filter-search-start-date-right-bg.group-state-disabled-right-bg {
  background-color:#f2f2f2;
  float:left;
  height:23px;
  width:12px;
  border-radius: 0 15px 15px 0;
  border:1px solid #d8d8d8;
  border-left:0
}
#page-container .filter-search-box-container .narrow-text-search {
  border:0
}
.paint-narrow-search-results .ui-jqgrid tr.ui-row-ltr td {
  vertical-align:middle
}
.paint-narrow-search-results #permission-cancel-save-btn {
  margin-right:12px
}
#page-container span.more-text {
  line-height:1em
}
#narrow-search-results-holder #role-security-role-detail-wrapper-list .ui-jqgrid tr.ui-row-ltr td {
  padding-left:7px
}
#add-user-role-page .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
	padding-bottom:0
}
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  padding-bottom:2px
}
#role-detail-wrapper .qtip-wrapper-addusers {
  top:-33px;
  position:absolute;
  right:0
}
#role-detail-wrapper #catalog-class-addedit-form-details .add-class-button {
  position:relative;
  top:0
}
.admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv {
  height:25px
}
#narrow-search-results-holder #bubble-face-table .ui-jqgrid tr.ui-row-ltr td {
  padding:0 0 0 7px
}
#bubble-face-table .form-item .form-text,
#narrow-search-results-holder  #bubble-face-table tbody tr td .input-field-grey {
  border-width:1px 0;
  border-radius:0;
  width:179px
}
#narrow-search-results-holder .add-users-grp #catalog-class-addedit-form-details .admin-pagination-search-go {
  margin-left:-5px
}
.permission-theader-first {
  width:45%
}
.No-attr-sel{
  color: #C0C6CC;
  display: table-cell;
  font-family: openSansRegular,Arial;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  float: none;
  width:278px;
  margin-right:19px;
  overflow:hidden
}
input.ac_loading, #page-container input.ac_loading {
    background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat scroll 100% -16px #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: 10;
}
#add-user-role-page #catalog-class-addedit-form-details input.ac_loading {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -17px #FFF;
  height:19px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  z-index:10
}
#role-detail-wrapper .filter-search-start-date-right-bg{
  float:right;
}
#security-role-detail-wrapper #catalog-class-addedit-form-details .admin-pagination-search-go{
  margin-left: 158px
}
.add_owner #security-role-detail-wrapper.owner-user-class #addowner-addedit-form-html #catalog-class-addedit-form-details .filter-search-start-date-right-bg {
  /*margin-left:18px*/
}
.add_owner #security-role-detail-wrapper-list #add-user-role-page #catalog-class-addedit-form-details .role_multi_search_container .filter-search-start-date-right-bg {
  margin-left:190px
}
#security-role-detail-wrapper.owner-user-class #catalog-class-addedit-form-details .admin-pagination-search-go{
  margin-left: 175px
}
.root-admin-block #grpempl_filterset #narrow_search_hideshow .ac_input{
 padding-right: 14px;
 width:125px
}
.grp-access-icon{
  margin-left:13px
}
.page-administration-people-group .addedit-left-col{
  padding-bottom:0
}
.page-administration-people-group .ui-multiselect-con-class {
  height: auto;
}
.page-administration-people-group .attr-select-pane .narrow-search-results-item-detail .ui-multiselect-con-class {
  min-width:257px
}
.page-administration-people-group .access-mro-visibility .ui-multiselect-con-class{
  width:270px
}
#security-role-detail-wrapper-list #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager{
  left: 232px;
  max-width: 204px;
  position: absolute;
  top: -45px
}
.assigned-users-grps #role-security-role-detail-wrapper-list .ui-jqgrid .ui-pg-input{
  max-width:40px;
  width:40%
}
#viewgroup-detail-wrapper #security-role-detail-wrapper-list .display_user_list {
  margin-top: 22px
}
#viewgroup-detail-wrapper  #security-role-detail-wrapper-list #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager {
  left: 274px;
  top: -32px
}
/* #add-user-role-page #admin-add-course-training-plan #security-role-detail-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table{
  min-width:133px
} */
#add-user-role-page #security-role-detail-wrapper .ui-jqgrid .ui-pg-input,
#display-assigned-owners .ui-jqgrid .ui-pg-input{
  max-width:40px;
  width:40%
}
/* .assigned-users-grps .exportcontainer .enrollments-exports-icon{
  margin-left: 14px;
  margin-top: 35px
} */
/* #security-role-detail-wrapper-list .assigned-users-grps #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager{
  max-width:123px
} */
/*#security-role-detail-wrapper-list .assigned-users-grps #admin-add-course-training-plan{
  float:none
}
 .assigned-users-grps #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pg-table{
  top:-9px
} */
.assigned-users-grps #role-security-role-detail-wrapper-list .ui-jqgrid .ui-pg-input{
  max-width:40px;
  width: 40%
}
#admin-add-scroll .jspVerticalBar{
  right:13px
}
#permission-td-table tr td.user-list-detail{
  width:44%
}
#admin-add-scroll .jspTrack,
#admin-add-scroll .jspDrag,
#admin-add-scroll .jspTrack:hover{
  border:0;
  border-radius:0
}
#role-detail-wrapper #add-user-role-page #add-class-list-wrapper .ac_loading{
  width:176px
}
/*Start title restriction style*/
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:631px
}
.fade-out-title-container.admin-groups-pname-parent-fadeout-container{
  max-width:200px;
  float:left
}
.fade-out-title-container.admin-groups-pname-child-fadeout-container{
  /* max-width:150px; */
  margin-top:-11px
}
.fade-out-title-container.admin-groups-uname-fadeout-container{
  max-width:140px;
  margin-bottom:-8px
}
.fade-out-title-container.admin-groups-fullname-fadeout-container{
  max-width:225px;
  margin-bottom:-4px
}
/*  Styles added for SF fix for previlege popup under people category starts here  */
#admin-add-permissions #admin-add-scroll .user-list-detail .admin-groups-pname-child-fadeout-container {
  float:left;
  margin-top:0
}
#admin-add-permissions #admin-add-scroll .sub-level.child2 .user-list-detail span.vtip {
  padding-left:0
}
#admin-add-permissions #admin-add-scroll .sub-level.child2 .user-list-detail span.more-text {
  padding-left:5px
}
#admin-add-permissions #admin-add-scroll .sub-level.subchild1 .user-list-detail span.vtip,
#admin-add-permissions #admin-add-scroll .sub-level.subchild2 .user-list-detail span.vtip {
  padding-left:50px
}
/*  Styles added for SF fix for previlege popup under people category ends here  */
.edit-adduser-list-grid tr:nth-child(even) .fade-out-image{
  background-position:right -60px
}
.fade-out-title-container.user-grid-fullname{
  max-width:178px
}
.fade-out-title-container.user-grid-username{
  max-width:120px
}
.owner-narrow-search .fade-out-title-container.user-grid-fullname{
  max-width:138px
}
.owner-narrow-search .fade-out-title-container.user-grid-username{
  max-width:120px
}
.fade-out-title-container.owner-grid-group{
  max-width:105px
}
.fade-out-title-container.dropdown-multiselect-group{
	display:inline-block;
	height:18px;
  max-width:175px;
  width:175px
}
/*.page-administration-people-group .expertusV2PopupContainer .ui-dialog-buttonset button.admin-save-button-middle-bg{
margin-top: 4px;
margin-left: 10px;
}*/
.page-administration-people-group #exp-sp-administration-view-grpdetails-addedit-form #view-display-assigned-users #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-input{
  margin-right:5px
}
.page-administration-people-group #exp-sp-administration-view-grpdetails-addedit-form #view-display-assigned-users #admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table{
  margin-right:7px
}
.page-administration-people #modalContent .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .pub-unbpub-more-btn-disable {
  background:#CCCCCC;
  float:left;
  border:1px solid #CCCCCC;
  border-radius:0 6px 6px 0;  
  cursor:default;
}
.page-administration-people #modalContent .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .admin-save-button-left-bg.admin-save-button-left-bg-disable{
	 display:block;
  background:#CCCCCC;
  border:1px solid #CCCCCC;
  border-radius:6px 0 0 6px;
  width:6px;
  height:22px;
  float:left;
}
.page-administration-people #modalContent #ctools-face-table .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .edit-catalog-course-save-publish-disable,
.page-administration-people #modalContent #ctools-face-table .addedit-form-wrapper .addedit-form-cancel-and-save-actions-row .admin-save-button-middle-bg-disable{
  border-radius:0;
  padding:3px 0;
  margin-left:0;
  margin-top:0;
  background-color :#cccccc;
  border-color:#cccccc;
  cursor:default;
}
.narrow-search-multi-action-container .owner-user-class .role_multi_search_container_add{
  width:325px
}
#security-role-detail-wrapper-list #display-assigned-owners #admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager{
  left: 313px;
  max-width: 125px
}
#narrow-search-results-holder  #bubble-face-table .owner-user-class .add-users-grp #add-class-list-wrapper .ac_loading {
  width:161px
}
#display-assigned-owners #search_add_urs{
  right: 167px
}
.add_owner #add-user-role-page #catalog-class-addedit-form-details input.ac_loading{
  height:21px;
  width:180px
}
#admin-add-course-training-plan .norecords-msg-edit-page{
  border:0
}
#page-container .add-users-grp .checkbox-unselected,
#page-container .add-users-grp .checkbox-selected{
  margin-left:-2px
}
#page-container .owner-narrow-search .add-users-grp .ui-jqgrid-bdiv .checkbox-unselected,
#page-container .owner-narrow-search .add-users-grp .ui-jqgrid-bdiv .checkbox-selected{
  width:10px	
}
/* Trunk8 Fadeout for Title and Description texts starts here */
.page-administration-people-group #narrow-search-results-holder .narrow-search-results-item-details .limit-title-row{
  max-width:600px
}
/* Trunk8 Fadeout for Title and Description texts End here */
#avil_ste_con_hdt .fade-out-title-container.dropdown-multiselect-group {
  max-width: 74px;
  width: 74px;
}
.ui_data_wrap {
	display: inline;
}
.ui_data_wrap .ghire_start, .ui_data_wrap .ghire_end {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 2px;
}
#avil_ste_con_hdt .addedit-edit-datefield {
	font-size:10px;
	 width: 60px;
}
#avil_ste_con_hdt .mcontainerclass {
   margin-left: 2px;
   margin-right: 2px;
}
/* #avil_ste_con_hdt .fade-out-image{
	background:none;
} */
#hire_start_ste_con_hdt_btw{
	margin-right:3px             
}
#hire_end_ste_con_hdt_btw{
	margin-left:3px
}
.attr-select-pane .narrow-search-results-item-detail#avil_ste_con_hdt .mcontainerclass .label-text{
  display:inline-block;
  float:left
}
.attr-select-pane .narrow-search-results-item-detail#avil_ste_con_hdt .mcontainerclass .ui_data_wrap{
  display:block;
  float:left
}
.attr-select-pane .narrow-search-results-item-detail#avil_ste_con_hdt .create-group-hidecontainer li{
  clear:both
}
.attr-select-pane .narrow-search-results-item-detail#avil_ste_con_hdt .mcontainerclass .line-separator{
  border:0
}
.page-administration-people-group #group-control #autoimg{
  top:9px
}

.page-administration-people-group .add-user-disable .narrow-search-actionbar-orange-btnBG,
.page-administration-people-group #modal-content .admin-save-button-container.cls-save-disable .admin-save-button-left-bg,
.page-administration-people-group #modal-content .admin-save-button-container.cls-save-disable .admin-save-button-middle-bg,
.page-administration-people-group #modal-content .admin-save-button-container.cls-save-disable .admin-save-button-right-bg,
#page-container .admin-save-button-middle-bg.cls-add-user-disable{
    background-color: #898989;
    border: 1px solid #898989;
    cursor:default;
}
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #add-user-role-page .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
    padding:0 0 0 1px
  }
  #add-user-role-page	.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
    padding-left:7px
  }
  #add-user-role-page #admin-add-course-training-plan .ui-jqgrid-hbox .checkbox-selected,
  #add-user-role-page #admin-add-course-training-plan .ui-jqgrid-hbox .checkbox-unselected {
    margin-right:9px
  }

   .add_owner #add-user-role-page #admin-add-course-training-plan .ui-jqgrid-hbox .checkbox-selected,
 .add_owner #add-user-role-page #admin-add-course-training-plan .ui-jqgrid-hbox .checkbox-unselected {
    margin-right:0;
  }
  #role-detail-wrapper .add-user-pagination-container {
    margin-bottom:-41px
  }
  #role-detail-wrapper .tot-txt-cls {
    min-width:66px
  }
  .page-administration-people-group #group-control #ui-multiselect-con .checkbox-unselected,
  .page-administration-people-group #group-control #ui-multiselect-con .checkbox-selected {
    width:10px
  }
  #ui-multiselect-con .checkbox-unselected,
  #ui-multiselect-con .checkbox-selected {
    width:15px
  }
  .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
    padding-bottom:0
  }
  .attr-pane #autoimg {
    right:10px
  }
  .page-administration-people-group #exp-sp-administration-view-grpdetails-addedit-form #wrap-perm-user-list .tab-title{
  	line-height: 27px;
  }
  #page-container #admin-add-permissions .more-icon-close{
    background-position:-243px -385px
  }
  #page-container #admin-add-permissions .more-icon-open{
    background-position:-233px -385px
   }
  #page-container .add-users-grp .checkbox-unselected,
  #page-container .add-users-grp .checkbox-selected{
  margin-left:0
 }
 #page-container .owner-narrow-search .add-users-grp .ui-jqgrid-bdiv .checkbox-unselected,
 #page-container .owner-narrow-search .add-users-grp .ui-jqgrid-bdiv .checkbox-selected{
  width:10px;
  margin-left:0	
 }
}