.SurveyContainer {
  display: none;
  overflow: auto;
  padding: 0;
  font-family: helvetica neue,arial;
  max-height: 600px
}
.SurveyContainer h2.block-title {
  float: left
}
.SurveyContent {
  display: block
}
.SurveyHLeftContent {
  width: 100%;
  padding-top: 15px;
  border-bottom: 1px solid #CCC
}
.SurveyVLeftContent {
  width: 100%;
  font-size: 12px;
  padding: 15px 0 0 10px
}
.SurveyVLeftContent table {
  width: 100%
}
.SurveyHRightContent {
  width: 100%;
  clear: both
}
.SurveyRightContent_1 {
  display: none
}
.SurveyHRightContent table td {
  padding-bottom: 5px
}
.SurveyVRightContent {
  padding-left: 15px;
  margin-top: 10px
}
.createlnr-activestep,
.createlnr-prevstep,
.createlnr-nextstep {
  height: 24px;
  width: 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  display: inline-block
}
.createlnr-activestep {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/Circle_bg.png") no-repeat 0 0;
  color: #fff
}
.createlnr-prevstep,
.createlnr-nextstep {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/Circle_bg.png") no-repeat -23px 0;
  color: #000
}
.createlnr-nextstep {
  float: left
}
.SurveySelectList {
  font-weight: bold;
  padding: 20px 0 0 10px
}
.SurveyModuleList {
  display: inline-block;
  font-weight: bold;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  background: url('/sites/all/themes/core/expertusone/expertusone-internals/images/Circle_bg.png') no-repeat left middle
}
.SurveyModuleTitle {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 3px;
  width: auto;
  font-size: 12px;
  display: inline-block;
  width: 110px
}
.SurveyHeaderTitle {
  margin-top: 0px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  text-indent: 10px;
  background-color: #f3f3f3;
  width: 100%
}
#Ratingtype {
  display: none
}
.SurveyQuestionList {
  float: left;
  width: 20px;
  font-weight: bold;
  display: inline-block
}
.SurveyQuestionText {
  float: left;
  text-align: left;
  width: 90%
}
.SurveyQuestionLabel {
  text-align: left;
  font-weight: bold;
  padding-top: 10px
}
.SurveyQuestionField {
  padding-left: 20px;
  text-align: left
}
.surveyQuestionChkBox {
  text-align: center
}
.surveyQuestChkVBox,
.SurveyQuesChkField {
  text-align: left
}
.SurveyNoQuestion {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #F28226
}
.SurveyRightBorder {
  border-left: 1px solid #ccc
}
.SurveyRightBorder td {
  padding-top: 5px
}
.SurveyRemoveBrd {
  border: 0
}
.ModuleList {
  padding: 0 0 10px 0;
  width: 100%
}
.SurveyHLeftContent .survey-list .ModuleList {
  padding-right: 10px
}
.surveyOptions {
  width: 280px
}
.surveyOptions span {
  display: inline-block;
  text-align: center
}
.surveyOptions .surveyTAC,
.surveyOptions .surveyVO {
  width: 100px
}
.surveyOptions .surveyActImg {
  width: 80px
}
.sq-multichoice-h, .sq-rating-h {
  width: auto
}
.sq-multichoice-v td, .sq-rating-v td {
  width: auto;
  padding-right: 10px
}
.sq-multichoice-h td, .sq-rating-h td {
  width: 100px;
  padding: auto 5px;
  min-width: 100px
}
.survey-qa-table {
  width: 100%
}
.sq-spacer {
  height: 5px;
  line-height: 5px
}
.warningText, 
.SurveyStatusText,
.warningTextmsg {
  font-size: 13px;
  color: #f00;
  text-align: left;
  height: 22px;
  vertical-align: bottom;
  padding-left: 15px;
  display: block
}
.SurveyStatusText {
  color: #F28226
}
.survey-home-table ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}
ul li.survey-list-active {
  line-height: 2em;
  color: #4682B3;
  font-size: 14px;
  font-weight: bold
}
.survey-list-completed .no_of_attempts {
  font-family: openSansRegular,Arial;
  color: #777
}
ul li.survey-list-completed {
  line-height: 2em;
  color: #4682B3;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold
}
.survey-list-active a {
  line-height: 2em;
  color: #4686DD;
  text-decoration: underline;
  font-size: 14px
}
.survey-list-active a:hover {
  text-decoration: underline
}
ul li.survey-list-completed .sur-status-label {
  color: green;
  font-size: 14px;
  font-weight: bold
}
#block-title-close {
  color: #333;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px
}
.survey-main-holder .ui-widget-header .ui-state-hover {
  padding: 1px;
  width: 19px
}
.survey-main-holder .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -48px -192px;
  margin: 0;
  padding: 0
}
.survey-home-table {
  margin: 15px 0 0 15px
}
.survey-main-holder .ui-button {
  background-color: #FFF1E6;
  background-image: url('');
  border: 1px solid #FF801B;
  color: #E36500;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  text-align: center
}
.survey-completion-status {
  display: block;
  font-size: 14px;
  height: 80px;
  text-align: center;
  padding: 40px 5px 0;
  color: #F28226;
  width: 98%
}
.survey-correct-answer {
  color: #FF801B;
  font-weight: BOLD;
  width: 100%;
  margin-left: 20px
}
.survey-status-msg {
  font-weight: bold;
  padding-top: 40px;
  text-align: center
}
.SurveySelectList .enrollment-survey-list {
  color: #4686DD
}
#take_survey_main .SurveyContent .survey-question-text {
  height: 20px;
  padding-right: 10px
}
#take_survey_main .SurveyContent .correct-img {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -20px -256px;
  display: inline-block;
  height: 13px;
  overflow: hidden;
  width: 20px
}
#take_survey_main .SurveyContent .wrong-img {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -45px -256px;
  display: inline-block;
  height: 13px;
  overflow: hidden;
  width: 20px
}
.SurveyQuestionField .dropdown-select-width {
  min-width: 150px;
  overflow: hidden;
  position: relative
}
.SurveyQuestionField .dropdown-select-width .dropdown-arrow-iefix {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -111px -1878px;
  width: 25px;
  height: 25px;
  left: 133px;
  position: absolute;
  top: -4px
}
select.assdrop-downlist {
  width: 150px
}
select.expand {
  width: auto
}
.white-btn-bg-left,
.white-btn-bg-right {
  display: none
}
ul li.survey-list-active .no_of_attempts {
  color: #008000;
  font-size: 13px;
  margin-left: 3px;
  text-decoration: none;
  text-transform: capitalize
}
.survey-main-holder #take_survey_main .warningText {
  text-align:center;
  margin-top:41px
}
#take_survey_main .warningTextmsg{
  text-align:center;
  margin-top:20px
}
.warningTextmsg .option-take,
#take_survey_main .warningTextmsg .option-take{
  color: #f00;
  margin-left: 5px;
  text-decoration: none
}
.post-survey-list-active {
  color: #4682b3;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  float:left
}
.post-survey-list-active a {
  color: #4686dd;
  font-size: 14px;
  line-height: 2em;
  text-decoration: underline;
}
.survey-home-table .detail-assess-heading th{
  background-color: #efefef;
  border-bottom: 1px solid #bbb;
  color: #666;
  font-size: 13px;
  height: 24px;
  padding-left: 3px
}
.survey-home-table{
	border: 1px solid #bbb
}
.survey-list-active,
.sur-status-label,
.no_of_attempts{
  padding-left:3px
}
.post-survey-list-active,
.post-sur-status-label,
.post_no_of_attempts {
  padding-left:3px;
  margin-top: 3px;
  height:24px
}
.warningText.refer-note{
  width:auto
}