.confirmation {
  padding-top:10px
}
#format-password-policy-admin-list .tabledrag-toggle-weight-wrapper {
  padding-top:5px
}
#format-password-policy-admin-list table#password-policy-order {
  width:100%
}
#password-policy-admin-settings .form-item label {
  display:inline
}
#password-policy-password-change-settings .form-item, .form-actions {
  float:none;
  padding-top:5px
}
#password-policy-password-change-settings .form-item label {
  display:inline
}
#format-password-policy-admin-form .form-item, .form-actions {
  float:none;
  padding-top:10px
}
#format-password-policy-admin-form fieldset#edit-roles .form-item label {
  display:inline
}
.my-forgot-pass-frm #format-user-pass,#format-user-pass-reset > div {
  height:100px;
  padding:10px
}
.my-forgot-pass-frm .form-item {
  width:auto;
  display:inline-block
}
.my-forgot-pass-frm .form-item label {  
  float:left;
  font-size:13px;
  font-color:#666;
  font-weight:normal;
  font-family:helvetica neue, helvetica, arial
}
.my-forgot-pass-frm .form-item #edit-name {
  margin-left:5px;
  margin-top:-3px
}
.my-forgot-pass-frm .form-actions {
  float:left;
  width:auto;
  padding-top:0
}
body.page-user-password .my-forgot-pass-frm .form-actions {
  margin-top:11px;
  margin-left:10px
}
.my-forgot-pass-frm #format-user-pass-reset .form-actions{
  padding-top:10px
}
.my-forgot-pass-frm .form-item, .form-actions {
  margin:0
}
.my-forgot-pass-frm .form-required {
  display:none
} 
.my-forgot-pass-frm .form-submit {
  font-size:13px
}
.my-forgot-pass-frm .container{
  margin-right:18px
}
body.page-user-password .my-forgot-pass-frm .container{
  margin:15px 0 0 10px;
  min-width:362px
}
body.page-user-password .my-forgot-pass-frm .container div,
body.page-user-password .my-forgot-pass-frm .container span {
  float:left;
  font-family:arial;
  font-size:13px;
  color:#666
}
body.page-user-password .my-forgot-pass-frm .container div .addedit-mandatory,
body.page-user-password .my-forgot-pass-frm .container span.addedit-mandatory {
  color:#f00
}
.my-forgot-pass-frm .messageDiv{
  color:#333;
  font-size:12px;
  padding:18px 0 0 10px
}
.user-password-page-wrapper .messages{
  display:block
 }
.user-password-page-wrapper .block-title {
 color:#333
}
#format-user-pass .form-type-textfield .form-required { 
  display:inline;
  padding:0 5px 0 0;
  margin-left:-2px
}
body.page-user-password-response .region-sidebar-widget-bg {
  min-height:50px
}
.float-left container span {
  display:inline-block
}
.expertusV2PopupContainer  body.page-user-password .my-forgot-pass-frm .container{
  margin:15px 0 0 10px;
  width:365px
}
.my-forgot-pass-frm .admin-save-button-container {
  margin-top:3px
}
/*! Chrome hack Start */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  body.page-user-password .my-forgot-pass-frm .form-actions {
    margin-top:10px
  }
 }
 