/*! CONTENT AREA - VIJAY */
.announce_page_disable, .announce_page_enable {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/Circle_bg.png) no-repeat -63px -3px;
  float:left;
  width:15px;
  height:15px;
  font-size:.9em;
  line-height: 15px
}
.announce_page_enable{
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/Circle_bg.png) no-repeat -47px -3px;
  color:#000
}
.announce_page_disable a, .announce_page_enable a {
  color: #000;
  display: inline-block;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%
}
.announce_page_enable a {
  color: #FFF
}
.announce_scroll {
  position:relative;
  float:left;
  display:block;
  margin:0 5px
}
.announce-desc {
 /*  background:url("images/slide-textBG.png") repeat-y left top; */
  position:absolute;
  width: 98.5%;
  text-align:left;
  line-height:21px;
  left:0;
  overflow:hidden;
  padding:10px 0 10px 10px;
  *padding-bottom:0;
  bottom:0;
  background-color:#636363;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.9;
}
.announce-desc-mxhi{

}
.announcement-short-desc {
  padding:5px 0;
  min-height:72px;
  height: auto;
  color: #FFF
}
 .announce-desc .announce-desc-heading {
/*   display: block */
}
.roundbox-ml {
  position:relative
}
.cCorner10 {
  background: #fff;
  width: 700px;
  min-height: 394px;
  height: auto;
  position: relative
}
.announce-short-desc-text {
  width:100%;
  padding:0 0 10px 0;
  text-align: justify;
  color:#fff;
  overflow:hidden;
  min-height:72px
}
.announcement_scroll_links {
  display:block;
  bottom: 6px;
  position: absolute
}
#page-container .announcement_scroll_links div:first-child {
  margin-left:11px;
}
.announce-desc-title {
  font-weight:bold;
  font-size:34px;
  color:#fff;
  line-height:42px;
/*   display:block; */
  text-shadow:1px 2px 0 #000
}
#block-exp-sp-announcement-learner-announcement1 {
  margin:0;
  *margin-top: 10px;
  min-height: 394px;
  height: auto
}

.announcement-popup{
  cursor: pointer;
  vertical-align:bottom;
  margin-left:-2px
}
.show-short-text{
  padding-bottom:2px;
  margin-left:-2px;
  *padding-bottom:0
}
.show-full-text{
  padding-bottom:1px;
  *padding-bottom:0;
  padding-left:1px
}
.announcement-short-desc .long-desc-toggle{
  display: none
}
.announcement-maincontainer{
  margin-bottom:10px
}
#page-container .cCorner10 {
  background: #fff;
  width: 621px;
  min-height: 426px;
  height: auto;
  position: relative
}
#page-container .announcemnt-img {
	border-radius: 10px	
}
#page-container .announce-desc {
  padding: 7px 0 10px 10px;
  position: absolute;
  width: 601px; 
  text-align: left;
  border-radius: 10px
}
#page-container .announce-desc-pager{
  min-height: 15px;  
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0
}
#page-container .announce_description .announce-desc {
  padding:5px 10px 20px 10px
}
#page-container .announce_description .announce-desc.announce-desc-pager {
  padding:0 0 5px 0
}
#page-container .announce_page_enable{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -482px -46px;
  float:left;
  width:8px;
  height:8px;
  line-height: 15px
}
#page-container .announce_page_disable {
  background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -492px -46px;
  float:left;
  width:8px;
  height:8px;
  line-height: 15px
}
#page-container .announce_scroll {
  position:relative;
  float:left;
  display:block;
  margin:0 3px
}
#page-container #block-exp-sp-announcement-learner-announcement1 {
  /*margin:0;
  margin-top: 10px;*/
  min-height: 423px;
  height: auto
}
/*--- Fix for issue : 36323 ---*/
/*.announcement-short-desc .long-desc-toggle p {
  display: inline	
}*/
#page-container div.long-desc-toggle .show-full-text {
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1483px;
  color: #FF7924;
  display: inline-block;
  height: 10px;
  padding: 0;
  text-decoration: none;
  width: 10px	
}
#announcement_details .announcement-learner-title-fadeout-container  {
  width:600px;
  max-width:600px;
  display:inline-block;
  position:relative
}
#announcement_details .announcement-learner-title-fadeout-container .title-lengthy-text {
  line-height:46px;
  vertical-align:top
}
#announcement_details .announcement-learner-title-fadeout-container .fade-out-image {
  background-position:right -160px;
  height:42px;
  position:absolute;
  right:0;
  top:7px
}
.fade-out-title-container.announcement-learner-title-fadeout-container {
  max-width:600px
}
.announcement-learner-title-fadeout-container .title-lengthy-text {
  width:600px;
  overflow:hidden;
  text-overflow:ellipsis
}
.announcement-learner-title-fadeout-container .fade-out-image {
  display:none
}
#page-container .announce_description {
  border-radius:8px;
  overflow:hidden
}
/*-- Home page customization --*/
.front #main { margin-top: 10px }
.front.no-sidebars #page-container .announce-desc { width: 922px  }
.front.no-sidebars #page-container .cCorner10 { width: 100% }
/*-- Home page customization --*/
.limit-title-row .limit-title.homebanner-limit-title .fade-title,
.limit-desc-row .limit-desc.homebanner-limit-desc span.fade-desc {
  background:-ms-linear-gradient(to right, transparent, #636363 80%, #636363);/*For IE10*/
  background:linear-gradient(to right, transparent, #636363 80%, #636363);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#00f3f3f3', endColorstr='#636363');/*For IE7-8-9*/ 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#00f3f3f3, endColorstr=#636363)";  
}
.limit-title-row .limit-title.homebanner-limit-title{
  font-size:20px;
  color:#ffffff;
  font-family:ProximaNovaBold,Arial;
  text-transform: uppercase;
  padding-top:10px;
  line-height:16px
}
.limit-desc-row .limit-desc.homebanner-limit-desc{
  color:#ffffff
}
/*safari hack Start*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) { @media { _:-webkit-full-screen,
.limit-title-row .limit-title.homebanner-limit-title .fade-title,
.limit-desc-row .limit-desc.homebanner-limit-desc span.fade-desc {
  background:-webkit-linear-gradient(left, rgba(99,99,99,0) 0%, rgba(99,99,99,1) 80%);
}

}}
/*safari hack End*/