/* Style for Google analytics */
#googleanalytics-admin-settings-form {
	background:#ffffff;
	clear:both;
	width:99.7%;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

#googleanalytics-admin-settings-form #edit-account {
	display:block;
	float:left;
	margin:15px 10px 0 10px;
	width:95.5%;
	border:1px solid #cccccc;
}
#googleanalytics-admin-settings-form .form-wrapper {
  display:block; 
  margin:15px 10px 0 10px;
  width:95.5%;
}
#googleanalytics-admin-settings-form .form-type-item {
	clear:both;
	padding:10px 0 0 10px;
}
#googleanalytics-admin-settings-form .vertical-tabs {
	clear:both;
	width:97%;
	border:1px solid #cccccc;
	margin:15px 10px 0 10px;
}
#googleanalytics-admin-settings-form .vertical-tabs-list {
	float:left;
	margin:0px;
	width:25%;
	border:0 none;
}
#googleanalytics-admin-settings-form .vertical-tabs-list li {
	border-bottom:1px solid #cccccc;
	border-left:0 none;
	border-right:1px solid #cccccc;
}
#googleanalytics-admin-settings-form .vertical-tabs-panes {
	float:left;
	margin:0px;
	width:74.5%;
}
.fieldset-wrapper .form-type-radio {
  padding:5px 0px;
}
.fieldset-wrapper input {
  margin:0 10px 0 0;
}
.fieldset-wrapper .option {
  display:inline;
}
#googleanalytics-admin-settings-form .fieldset-wrapper {
  padding:10px 0px 18px 0;
}
#edit-linktracking {
  
}
#edit-linktracking .fieldset-wrapper .form-type-checkbox .description {
  width:45%;
}
#edit-linktracking .form-type-textfield .description {
  word-wrap: break-word;
  width:58%;
}
.fieldset-wrapper .form-type-checkbox {
  padding:10px 0px;
}
/* Override style */
#page #main-content.others-mainContent {
  background:none;
  margin-top:0px;
}