.page-learning-reset-password .popups-close {
  display:none
}
.reset-pass-form-wrapper .require-image {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/arrowRedLeft.gif") no-repeat;
  width:10px;
  float:none;
  margin-left:5px;
  margin-top:5px  
}
.reset-pass-sub-btn {
  color:#e36500
}
.reset-pass-btn-cont {
  text-align:right		
}
.reset-pass-btn-cont .admin-save-button-container {
  margin:4px 0 0 12px
}
.reset-pass-btn-cont .admin-save-button-container .control-div {
  float:left;
  padding-right:0
}
.reset-pass-btn-cont .admin-save-button-container .control-div .form-submit {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -3px -1022px;
  border:0;
  color:#FFF;
  float:left;
  font-size:12px;
  font-weight:bold;
  height:22px;
  margin:0;
  padding:0;
  width:auto
}
.reset-pass-sub-btn {
  background-color:#FFF1E6;
  border:1px solid #FF801B;
  color:#E36500;
  cursor:pointer;
  margin-right:5px;
  text-align:center;
  width:80px
}
.reset-pass-form-wrapper {
  font-size:12px
}
.reset-pass-form-wrapper .form-item {
  width:100%;
  margin-top:0
}
.reset-pass-form-wrapper .form-item label {
  font-weight:normal;
  text-align:rigth
}
.reset-pass-form-wrapper label {
  display:none
}
.reset-pass-form-wrapper .form-text {
  width:98%
}
.reset-pass-form-wrapper .form-select {
  width:100%
}
.reset-pass-form-wrapper .form-textarea {
  overflow:hidden;
  width:100%
}
.reset-pass-form-wrapper .control-div {
  text-align:right;
  padding-right:5px;
  float:right
}
#reset-password .control-div button,.control-div input{
  background-color:#FFF1E6;
  border:1px solid #FF801B;
  color:#E36500;
  cursor:pointer;
  display:inline-block;
  margin-right:0px;
  text-align:center;
  width:80px;  
  float:right
}
.reset-pass-table {
  table-layout:fixed;
  width:96%;
  margin:1px 0 0 10px
}
.reset-pass-table .require-text {
  display:inline 
}
.reset-pass-table .reset-pass-table-col1 {
  width:42%;
  text-align:left;
  vertical-align:top;
  color:#666;
  padding-top:3px
}
.reset-pass-table .reset-pass-table-col2 {
  width:5%;
  text-align:center
}
.reset-pass-table .reset-pass-table-col3 {
  width:55% 
}
.reset-pass-table .reset-pass-table-col4 {
  width:5%;
  text-align:center;
  vertical-align:middle
}
.reset-pass-form-wrapper{
  clear:both;
  line-height:20px;
  width:100%;
  font-size:12px
}
.reset-pass-form-wrapper .ctools-use-modal-processed {
  padding-top:0;
  margin-top:10px
}
.reset-pass-form-wrapper .form-item, .form-actions {
  margin-bottom:5px
}
#ctools-face-table {
  min-width:354px
}
#reset-form-wrapper .password-note-cls ul {
  display:block	
}
#reset-form-wrapper .password-note-cls ul li {
  width:96%;
  display:block	
}
.page-learning-reset-password #modalContent div.ctools-sample-modal-content .popups-body {
  width:354px		
} 