#paintContent.catalog-default {
	width: 81%;
	float: right;
}
#paintContent.catalog-default.catalog-extended {
	width: 100%;
}
#paintCriteriaResults .catalog-criteria-refine-icon,
#paintContent.catalog-default .catalog-criteria-refine-icon,
#paintCriteriaResults.searchcriteria-div-unpinned .block-title {
	cursor: pointer;
	display: none;
}
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-left,
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-right {
	height:46px;
	width: 46px;
}
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-right,
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-moddle {
	padding: 0;
}
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-middle {
	background-color: white;
    margin-top: 4px;
    height: 44px;
    border-top-left-radius: 5px;
    width: 44px;
    border-top-right-radius: 5px;
}
#paintCriteriaResults.searchcriteria-div-unpinned .catalog-criteria-refine-icon,
#paintContent.catalog-default.catalog-extended .catalog-criteria-refine-icon {
    display: block;
}
#paintContent.catalog-default.catalog-extended .catalog-criteria-refine-icon.hover {
    height: 44px;
    background-color: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#paintContent.catalog-default.catalog-extended .catalog-criteria-refine-icon #search-filter-content-wrapper.hidden {
	display: none;
}
#paintContent.catalog-default.catalog-extended .catalog-criteria-refine-icon.hover #search-filter-content-wrapper {
    position: absolute;
    z-index: 10;
    display: block;
    margin-top: 5px;
    display: block;
}
#paintContent.catalog-default.catalog-extended .catalog-criteria-refine-icon,
#paintContent.catalog-default.catalog-extended .block-catalog-search-title {
	margin-top: 4px;
}
#paintCriteriaResults.searchcriteria-div-unpinned .block-footer-left {
    background-color: white;
}
#page-container .catalog-extended .block-title-left,
#page-container .catalog-extended .block-title-middle {
	height: 46px;
}

#paintCriteriaResults .pin-icon-white,
#paintCriteriaResults .pin-icon-black {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 2px;
    width: 13px;
    height: 13px;
	display: none;
}
#paintCriteriaResults.searchcriteria-div-unpinned .pin-icon-black {
	background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/pinunpin-icon-black.png") no-repeat scroll 0 0 / contain;
	display: block;
}
#paintCriteriaResults.searchcriteria-div-unpinned .pin-icon-white {
	display: none;
}
#page-container #paintCriteriaResults .block-title-middle h2.block-title {
    float: left;
}
#paintCriteriaResults .pin-icon-white {
	background: rgba(0, 0, 0, 0) url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/pinunpin-icon.png") no-repeat scroll 0 0 / contain;
	display: block;
	margin-right: 0px;
    margin-top: 12px;
}
.page-learning-catalog-search #page-container .catalog-default .block-title-middle #multishareoption {
    float: right;
    margin: 0px 10px 0px 0px;
    height: 100%;
    width: 31px;
    position: relative;
    
}
.page-learning-catalog-search #page-container .catalog-default .block-title-middle #multishareoption {
	display: block;
	text-align: center;
}
.page-learning-catalog-search #page-container .catalog-default .block-title-middle #multishareoption.active {
	border-right: 1px solid #ccc;
	background-color: white;
}
.page-learning-catalog-search #page-container .catalog-default .block-title-middle #multishareoption.active .share-tab-icon-white {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png) no-repeat -161px -749px;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort-text {
	width: 30px;
    padding: 0;
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -368px -1059px;
    height: 39px;
    margin: 0;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .sort-active .find-trng-sort-text {
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -368px -1089px;
    background-color: white;
    border-right: 1px solid #ccc;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort-text.active {
	background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -368px -1086px;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort {
	margin: 0;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort .sort-by-links {
	right: 0;
    left: auto;
	border: 1px solid #ccc;
	border-top: 0;
	border-radius: 0;
	box-shadow: 0 6px 6px -6px black;
	list-style-type: none;
	line-height: 1.1em;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort .sort-by-links li {
	text-align: left;
    border: 0;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort .sort-by-links li a {
	padding-left: 20px;
    color: #2d2d2d;
}
#page-container #block-exp-sp-lnrsearch-tab-find-training #lnr-catalog-search .find-trng-sort .sort-by-links li a.sortype-high-lighter {
	background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -484px -1091px;
}
#page-container .searchcriteria-div.searchcriteria-div-unpinned {
	display: none;
	position: absolute;
	z-index: 100;
}
#page-container .searchcriteria-div.searchcriteria-div-unpinned.active {
    display: block;
}
#lnr-catalog-search .find-trng-sortby {
    padding-right:0px;
}
.limit-desc-row.lrn_cls_dty_ilt .limit-desc #arrow-more {
    background-position: -424px -11px;
}
.limit-desc-row  #arrow-more {
    background: url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png) no-repeat -398px -10px;
    margin: 8px 0 0 0;
}
.limit-desc-row  #arrow-more, .limit-desc-row  #arrow-less {
    width: 12px;
    height: 10px;
    cursor: pointer;
    float: right;
}
.page-learning-catalog-search #page-container #paintContentResults .ui-widget-content td {
    padding: 0;
}
.page-learning-catalog-search #page-container #paintContentResults .ui-widget-content > td {
    padding-bottom:6px;
}
.padtop12,
#page-container #paintContentResults .top-record-div-left.padtop12 {
    padding-top: 12px;
}
.padlt9,
#page-container #paintContentResults .top-record-div-left.padlt9 {
	padding-left: 9px;
}
/* http://jsfiddle.net/PhilippeVay/Zxn8E/11/ 
http://jsfiddle.net/8HgHt/
*/

.content-row-container .content-icon-container.disptabcell,
.disptabcell {
    display: table-cell;
}
.disptab {
	display: table;
}
.wid53px,
.content-row-container .content-icon-container.wid53px {
	width: 53px;
}
.mar0px {
    margin: 0px;
}
.content-row-container.catalog {
    display: table;
    table-layout:fixed
}
.content-row-container.catalog .content-icon-container {
    width: 53px;
    float: none;
    display: table-cell;
    padding-top: 15px;
    padding-left: 9px;
    vertical-align: top;
}

.content-row-container.catalog .content-detail-container,
#page-container #paintContentResults .catalog .top-record-div-left {
    float: left;
    width: 100%;
    display: table-cell;
    padding-top: 15px;
    padding-left: 9px;
    vertical-align: top;
}
.content-row-container.catalog .content-action-container {
    width: 118px;
    display: table-cell;
    float: none;
    vertical-align: top;
    padding-left: 9px;
    padding-top: 15px;
}
div#paintCatalog-show_more {
    padding-top: 4px;
    padding-bottom: 9px;
    text-align: center;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}

div#paintCatalog-show_more .show-more-wrapper {
    padding: 2px 6px;
    border: solid 1px #e5e5e5;
    color: #474747;
    border-radius: 6px;
    font-family: ProximaNovaBold, Arial;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}
#page-container #paintContentResults .ui-widget-content.ui-widget-content-last-row td {
    border: none;
}
#page-container .top-record-div-left a.spotlight-item-title {
    max-width: calc(100% - 110px);
}
#page-container .top-record-div-left a.without-mro-container.spotlight-item-title {
	max-width: 100%;
}
.catalog-multishare-qtip-popup-visible .qtip-close-button-visible {
	background: none;
    background-color: white;
}
.catalog-multishare-qtip-popup-visible {
	margin-right: -2px;
} 
.catalog-multishare-qtip-popup-visible .bottom-qtip-tip-up-visible{
	display: none;
}
.catalog-multishare-qtip-popup-visible table#bubble-face-table {
	border: 1px solid #ccc;
	border-top: none;
    box-shadow: 0 6px 6px -6px black;
}

.content-action-container .progress {
    float: none;
    width: 100px;
    margin: 18px auto;
}
.page-learning-catalog-search #page-container .catalog-applied-filters-wrapper {
	border-bottom: #e5e5e5 solid 1px;
	width: 100%;
}
.page-learning-catalog-search #page-container .catalog-applied-filters {
	display: inline-block;
	padding: 8px 12px 5px;
	cursor: default;
	vertical-align: middle;
	margin: 0;
	text-indent: 0;
	border-width: 1px;
	box-sizing: content-box;
}
.page-learning-catalog-search #page-container .catalog-applied-filters .checkedmenu {
	float: left;
	font-size: 10px;
	line-height: 10px;
	background-color: #e8e8e8;
	border-radius: 5px;
	color: #000;
	margin: 0 4px 4px 0;
	text-indent: 0;
	font-weight: bold;
	padding: 8px;
}
.page-learning-catalog-search #page-container .catalog-applied-filters .checkedmenu .lrn_srch_rating {
	margin: 0;
}
.page-learning-catalog-search #page-container .catalog-applied-filters .cls-filtermenu {
  float:left;
  display:inline-block;
  text-transform: uppercase;
  white-space: nowrap;
}
/* div#filter-cloud-tag  */
.page-learning-catalog-search #page-container .catalog-applied-filters .cls-filtermenu-wrapper {
    max-width: 700px;
    overflow: hidden;
    float: left;
    position: relative;
}
.page-learning-catalog-search #page-container .catalog-applied-filters .cls-filtermenu-wrapper .cls-filtermenu-fade {
    top: 0;
    right: 0;
    width: 20px;
    position: absolute;
    height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+80,e8e8e8+100&0+80,1+100 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left, rgba(232,232,232,0) 80%, rgba(232,232,232,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, right top, color-stop(80%,rgba(232,232,232,0)), color-stop(100%,rgba(232,232,232,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(left, rgba(232,232,232,0) 80%,rgba(232,232,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(left, rgba(232,232,232,0) 80%,rgba(232,232,232,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(left, rgba(232,232,232,0) 80%,rgba(232,232,232,1) 100%); /* IE10 preview */
	background: linear-gradient(to right, rgba(232,232,232,0) 80%,rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
}
.page-learning-catalog-search #page-container .catalog-applied-filters .cls-filtermenu .lower-case {
  text-transform: lowercase;
}
.page-learning-catalog-search #page-container .catalog-applied-filters .enable-delete-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -491px -1071px;
  height:6px;
  width:6px;
  float:left;
  cursor:pointer;
  margin:2px 0 0 8px;
  display:inline-block
}
.page-learning-catalog-search #page-container .catalog-applied-filters .cls-filter-clear{
  font-size:11px;
  color:#474747;
  float:left;
  font-family: openSansRegular,Arial;
  text-transform:none;
  line-height:25px;
  cursor:pointer;
  margin-left:6px
}
#paintCriteriaResults #search-filter-content .region-sidebar-widget-bg {
	width: 100%;
}
#page-container #no-records {
    border-left: none;
    border-right: none;
}
/* https://codepen.io/martinwolf/pen/DkKgJ */
.content-detail-code .fade-out-title-container,
.page-learning-catalog-search .fade-out-title-container.lnrsearch-date-time-fadeout-container,
.page-learning-catalog-search .fade-out-title-container.lnr-search-view-detail-code-fadeout-container,
.page-learning-catalog-search .fade-out-title-container.lnr-search-view-detail-location-name-fadeout-container,
.page-learning-catalog-search .fade-out-title-container.lnr-search-view-detail-session-name-fadeout-container,
.page-learning-catalog-search .fade-out-title-container.lnr-search-view-detail-lang-fadeout-container {
	line-height: 16px;
	height: 16px;
	margin-bottom: -4px;
}
#lnr-prerequisite .content-detail-code .fade-out-title-container.exp-sp-prerequisite-course-code-fadeout-container {

	margin-bottom: -3px;
}
.page-learning-catalog-search .content-row-container .content-detail-code .time-zone-text {
	font-size:8px
}
.page-learning-catalog-search #lnr-tainingplan-register .tp-view-class-seatsleft{
	padding-top:1px
}
.page-learning-catalog-search #lnr-tainingplan-register .exp-sp-lnrenrollment-timezone{
	max-width:190px;
	display:inline-block
}
.page-learning-catalog-search .enroll-show-morecourse .tp-view-location-selectbox{
	max-width:150px;
	display:inline-block
}
.page-learning-catalog-search .content-row-container .content-detail-code span {
	font-size: 12px;
    color: #999;
}
/*Viswanathan added for #76619,#76437,#76441 */
.page-learning-catalog-search .content-row-container .content-detail-code .meridian-time{
	font-size:8px;
}
.page-learning-catalog-search .content-row-container .content-detail-code {
    margin-top: 0;
}
.page-learning-catalog-search .content-row-container .content-description .padbt8 {
	padding-bottom: 8px;
}
.page-learning-catalog-search .content-row-container .content-detail-code.padbt3 {
	padding-bottom: 3px;
}
#page-container .catalog-course-role-access-bg,
#block-exp-sp-lnrsearch-tab-find-training .catalog-course-compliance-role-bg {
	margin: -4px 0 0 9px;
}
#lnr-catalog-search .location-session-detail .manage-location-time {
    color: #999;
    font-size: 12px;
}
/*Viswanathan added for #76619,#76437,#76441 */
#lnr-catalog-search .location-session-detail .location-tz {
    font-size: 8px;
}
.page-learning-catalog-search #paintContentResults .srch-expires-in {
/*     display: inline-block; */
}
.page-learning-catalog-search .content-row-container #request-class-option span a {
    margin-top: -2px;
}
.page-learning-catalog-search .content-row-container .content-detail-code span.pipe-line,
.page-learning-catalog-search .content-row-container #shareoption .pipe-line,
.page-learning-catalog-search .content-row-container #request-class-option .pipe-line {
	vertical-align: text-top;
}
#search-filter-content-wrapper.pinned {
	position: absolute;
	z-index: 10;
	display: none;
}
#paintCriteriaResults.searchcriteria-div-unpinned .block-title-left,
#page-container #paintContent.catalog-extended .block-title-left {
	padding-left: 5px;
}
#tagInfoDiv {
    height: 23px;
}
#tagInfoDiv .pipe-line {
    margin-top: -1px;
}
.content-row-container .content-rateshare-container .title-lengthy-text {
	white-space: nowrap;
	font-family: openSansRegular, Arial;
    font-size: 13px;
    color: #2d2d2d;
}
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-tl,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-t,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-tr,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-bl,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-b-visible,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-br {
	height: 10px;
	background: none;
    background-color: white;
}
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-tl,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-tr,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-cl,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-cr,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-bl,
.catalog-multishare-qtip-popup-visible #bubble-face-table .bubble-br {
	width: 10px;
	background: none;
    background-color: white;
}
#multishareoption .refer-course-holder .refer-class-table {
    margin: auto;
    width: 98%;
}
#multishareoption .refer-course-holder .refer-class-table .input-text {
    width: 305px;
}
#multishareoption .refer-course-holder .refer-class-table .input-textarea {
	width: 415px;
	max-width: 415px;
	margin-left: 10px;
}
#multishareoption .refer-course-holder .refer-note {
    margin: 0;
    width: 72%;
    float: none;
}
#multishareoption .refer-course-holder  .refer-note-text {
    float: none;
    margin: 0;
    padding-right: 5px;
    text-align: left;
}
#paintContent .ui-state-highlight .limit-desc li {
	display: list-item;
	list-style-type: initial;
}
#paintContent .ui-state-highlight .limit-desc :link,
#paintContent .ui-state-highlight .limit-desc :link:hover {
	color: #0000EE;
	text-decoration: underline
}
#paintContent .ui-state-highlight .limit-desc :visited,
#paintContent .ui-state-highlight .limit-desc :visited:hover {
	color: #551A8B;
	text-decoration: underline
}
.page-learning-catalog-search #page-container .catalog-default .block-title-middle #multishareoption .refer-course-holder .ui-dialog-buttonpane{
  text-align:left	
}
#multishareoption .catalog-multishare-qtip-popup-visible #bubble-face-table {
max-height:260px;
}