/* Admin Calendar Styles starts here */
#admincalendarsettingdiv {
  width:240px
}
#admincalendarsettingdiv div.links {
  width:170px
}
.page-admincalendar #block-system-main-menu {
 /* width: 71.5%; */
 width: 69.5%;  /* Added/Changed by ganesh on May 10th 2017 for #73716 */
} 
.page-admincalendar .narrow-search-calendar-filter-block{
	 width: 30%; /* Added/Changed by ganesh on May 10th 2017 for #73716 */
}    

#calendarprimaryview .fc-agendaDay-view .fc-head div.fc-widget-header th.fc-axis{
  min-width:46px
}
#announcement-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
#catalog-course-basic-addedit-form-container #group-control .autocomplete input#multiautocomplete {
  max-width:144px
}
.page-administration-manage-announcement #announcement-basic-addedit-form #group-control #autocomplete.autocomplete {
  margin-left: 110px
}


/* Added/Changed by ganesh on May 9th 2017 for #73716 */
.page-admincalendar #select-list-calendar-dropdown-list{
   left:-4px; 
}
.page-admincalendar #select-list-calendar-dropdown-list li { 
   width:95px  
}
.page-admincalendar .select-list-dropdown-calendar{
   width:91px 
}
.page-admincalendar #block-exp-sp-administration-root-admin-calendar-filter .select-list-dropdown-calendar .fade-out{
	background:none;
} 
 
/* Admin Calendar Styles ends here */

/* Chrome hack Start */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #calendarprimaryview .fc-agendaDay-view .fc-head div.fc-widget-header th.fc-axis{
    min-width:45px
  }
}	