/* Admin Calendar Styles starts here */
#admincalendarsettingdiv #bubble-face-table .single-admin-save-button-container #edit-submit.admin-save-button-middle-bg {
  margin-left:0
}
#calendarprimaryview .fc-toolbar .fc-right a .cal-setting-img {
  margin-right:10px
}
#calendarprimaryview .fc-agendaDay-view {
  margin-left:1px
}
#calendarprimaryview .fc-agendaDay-view .fc-head div.fc-widget-header th.fc-axis{
  min-width:51px
}
.section-admincalendar #schedule-qtip-popup .edit-datecriteria-dropdown .date-criteria-radio span {
  display:none
}
.section-admincalendar #schedule-qtip-popup .edit-datecriteria-dropdown .date-criteria-radio input.form-radio {
  margin-top:3px
}
/* Admin Calendar Styles ends here */