/* Admin Calendar Sytles starts here */
.calendar-left-column #calendarsummary .list-item span.event-item span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.ilt-cls span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.vcl-cls span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.regend span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.regcancel span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.announcement span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.report span.fade-out,
.calendar-left-column #calendarsummary .list-item span.event-item.notallday.order span.fade-out,
.fc-draggable .fc-content .fc-event-container.fc-past a.titlelinkstyle span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00f5f5f5', endColorstr='#fff5f5f5');/*For IE7-8-9*/ 
  background:none
}
.calendar-left-column #calendarsummary .list-item span.event-item.ilt-cls span.fade-out,
.calendar-left-column #calendarsummary .list-item.ilt-cls span.event-item.ilt-cls span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.ilt-cls span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .ilt-cls.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.ilt-cls span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00a2e6e9', endColorstr='#ffa2e6e9');/*For IE7-8-9*/ 
  background:none
}
.calendar-left-column #calendarsummary .list-item span.event-item.vcl-cls span.fade-out,
.calendar-left-column #calendarsummary .list-item.vcl-cls span.event-item.vcl-cls span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.vcl-cls span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .vcl-cls.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.vcl-cls span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00A9C5F8', endColorstr='#ffA9C5F8');/*For IE7-8-9*/ 
  background:none  
}
.calendar-left-column #calendarsummary .list-item span.event-item.regend span.fade-out,
.calendar-left-column #calendarsummary .list-item.regend span.event-item.regend span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.regend span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .regend.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.regend span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00E0B5FB', endColorstr='#ffE0B5FB');/*For IE7-8-9*/
  background:none   
}
.calendar-left-column #calendarsummary .list-item span.event-item.regcancel span.fade-out,
.calendar-left-column #calendarsummary .list-item.regcancel span.event-item.regcancel span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.regcancel span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .regcancel.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.regcancel span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00FF8D89', endColorstr='#ffFF8D89');/*For IE7-8-9*/
  background:none   
}
.calendar-left-column #calendarsummary .list-item span.event-item.announcement span.fade-out,
.calendar-left-column #calendarsummary .list-item.announcement span.event-item.announcement span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.announcement span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .announcement.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.announcement span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00FFD975', endColorstr='#ffFFD975');/*For IE7-8-9*/
  background:none   
}
.calendar-left-column #calendarsummary .list-item span.event-item.report span.fade-out,
.calendar-left-column #calendarsummary .list-item.report span.event-item.report span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.report span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .report.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.report span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00DB97AB', endColorstr='#ffDB97AB');/*For IE7-8-9*/
  background:none   
}
.calendar-left-column #calendarsummary .list-item span.event-item.order span.fade-out,
.calendar-left-column #calendarsummary .list-item.order span.event-item.order span.fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event a.order span.link .fade-out,
.admincalendarviewmorepopupdiv.more-list .order.titlelinkstyle .link .fade-out,
.fc-draggable .fc-content .fc-event-container a.order span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#0038DDDD', endColorstr='#ff38DDDD');/*For IE7-8-9*/
  background:none   
}
.admincalendarviewmorepopupdiv.more-list .titlelinkstyle .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.ilt-cls span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.vcl-cls span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.regend span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.regcancel span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.announcement span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.report span.link .fade-out,
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .fc-past a.titlelinkstyle.order span.link .fade-out,
.fc-draggable .fc-content.fc-past .fc-event-container a.titlelinkstyle span.link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00dddddd', endColorstr='#ffdddddd');/*For IE7-8-9*/ 
  background:none
}
#admincalendarcreatenewobjectdiv .reports div.links.header-popup a .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none  
}
.viewreportorderpopupdiv div.links .list .fade-out,
.viewreportorderpopupdiv div.links .list-item .fade-out,
.viewreportorderpopupdiv div.links .loca-list .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none 
}
.admincalendarviewmorepopupdiv.more-list .fc-past .titlelinkstyle .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00dddddd', endColorstr='#ffdddddd');/*For IE7-8-9*/ 
  background:none	
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event div.fc-past a.titlelinkstyle .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00dddddd', endColorstr='#ffdddddd');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.ilt-cls .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00a2e6e9', endColorstr='#ffa2e6e9');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.vcl-cls .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00a9c5f8', endColorstr='#ffa9c5f8');/*For IE7-8-9*/ 
  background:none  
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.regend .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00e0b5fb', endColorstr='#ffe0b5fb');/*For IE7-8-9*/ 
  background:none 
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.regcancel .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ff8d89', endColorstr='#ffff8d89');/*For IE7-8-9*/ 
  background:none  
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.announcement .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffd975', endColorstr='#ffffd975');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.report .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00db97ab', endColorstr='#ffdb97ab');/*For IE7-8-9*/ 
  background:none  
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid .fc-content-skeleton .fc-time-grid-event a.titlelinkstyle.order .link .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#0038dddd', endColorstr='#ff38dddd');/*For IE7-8-9*/ 
  background:none 
}
#block-exp-sp-administration-root-admin-calendar-filter #select-list-calendar-dropdown .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none
}
#block-exp-sp-administration-root-admin-calendar-filter .select-list-calendar-dropdown-link li .fade-out{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-agendaDay-view .fc-head div.fc-widget-header th.fc-axis{
  min-width:51px
}
#calendarprimaryview .fc-toolbar .fc-right a .cal-setting-img {
  margin-right:10px
}
.page-admincalendar.page-reports #report-schedule-addedit-form .pub-unbpub-more-btn {
  height:20px
}
#calendarprimaryview .fc-agendaDay-view {
  margin-left:1px
}
#calendarprimaryview .fc-basicWeek-view th.fc-widget-header .fade-out {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-content-skeleton .fc-event-container a.fc-event .vtip + .titlelinkstyle,
#calendarprimaryview .fc-popover .fc-event-container a.fc-event .vtip + .titlelinkstyle,
.fc-draggable .fc-content .vtip + .titlelinkstyle{
  display:none
}
#admincalendarsettingdiv div.links.header-popup .fadeout {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffffff');/*For IE7-8-9*/ 
  background:none
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid-container .fc-content-skeleton .fc-event-container .fc-title a.titlelinkstyle .titletimestyle {
  float:left;
  display:block;
  padding-top:0
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid-container .fc-content-skeleton .fc-event-container .fc-title a.titlelinkstyle .link {
  display:inline-block;
  padding-top:0
}
#calendarprimaryview .fc-agendaDay-view .fc-time-grid-container .fc-content-skeleton a.fc-event .fc-content {
  margin-top:0
}
/* Admin Calendar Sytles ends here */