#sel-unsel-grplist{
  float:left;
  width:45%
}
.grp-label{
  color:#4789DD;
  font-size:13px;
  font-weight:normal;
  display:inline-block;
  padding-bottom:5px
}
#sel-group-text{ 
  color:#C0C6CC;
  font-size:12px;
  text-align:center;
  padding-top:61px
}
#sel-message{
  padding-top:31px;
  text-align:center;
  color:#C0C6CC;
  font-size:12px
}
#sel-msg{
  text-align:center;
  color:#C0C6CC;
  font-size:12px
}
#line-separator{
  border-left:1px dotted #ccc;
  float:left;
  height:300px;
  margin-left:22px
}
#group-control .addedit-form-cancel-and-save-actions-row{
   margin-top:93px
}
#group-control .admin-save-button-container{
  margin-left:4px
}
#sel-group-list{
  color:#2D2D2D;
  font-size:12px;
  line-height:23px
}
#help-msg{
  color:#2D2D2D;
  font-size:12px;
  margin-top:-2px;
  padding-top:15px;
  float:right;
  width:285px;
  padding-bottom:10px
}
#group-control #autocomplete{
  border:none;
  margin-left:72px;
  position:relative;
  height:35px
}
#group-control .autocomplete input#multiautocomplete {
  height:18px;
  line-height:16px;
  margin-left:0;
  max-width:142px;
  padding-right:20px;
  padding-top:0;
  padding-bottom:0
}
#group-control .autocomplete input#multiautocomplete.ac_input {
  background-position:100% 3px
}
#group-control .autocomplete input#multiautocomplete.ac_input.ac_loading {
  background-position:100% -17px;
  height:18px;
  padding-top:0;
  padding-bottom:0
}
#group-control #autoimg{
 right:13px;
 top:12px;
 border:1px solid #ccc;
 border-left:0;
 height:18px;
 background:url(/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png) no-repeat -113px -184px #FFF
}
.page-administration-people-group #group-control #autoimg {
  top:8px
}
#group-scroll-wrapper{
  height:216px; 
  width:47%;
  float:right;
  overflow:hidden;
  margin-right:10px
}
.mro-wrapper .select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -256px ;
  cursor:pointer;
  float:right;
  height:20px;
  text-decoration:none;
  width:15px
}
.mro-wrapper #search-list-class-title-keyword{
  left:26px;
  position:absolute;
  top:39px
}
.mro-wrapper #search-list-class-title-keyword ul {
  background:#FFF;
  border:1px solid #CCC;
  border-radius:0 0 10px 10px;
  list-style-type:none;
  padding:0
}
.mro-wrapper #select-list-class-dropdown-list {
  left:-12px;
  position:absolute;
  top:17px;
  z-index:101;
  dispaly:none
}
 .mro-wrapper #select-list-class-dropdown-list li {
  border-bottom:1px solid #CCC;
  color:#333;
  cursor:pointer;
  font-size:12px;
  padding:5px;
  text-align:center;
  width:55px
}
.mro-wrapper #select-list-class-dropdown{
  color:#2D2D2D;
  font-size:12px
}
#sel-unsel-grplist .jspVerticalBar{
  border:1px solid #CCC;
  border-radius:10px;
  height:168px;
  width:7px
}
#sel-unsel-grplist .jspTrack{
  border:0;
  border-radius:10px;
  height:173px
}
#group-control  .jspDrag{
  border:0;
  border-radius:10px;
 }
#group-scroll-wrapper .jspVerticalBar{
  border:1px solid #CCC;
  border-radius:10px;
  height:214px;
  width:7px
}
#group-scroll-wrapper .jspTrack{
  border:0;
  border-radius:10px;
  max-height:198px;
  height:236px
}
#sel-unsel-grplist .option-div{
  width:124px
}
#sel-unsel-grplist #chk ul li span,
#sel-unsel-grplist #unchk ul li span{
  color:#2d2d2d;
  font-size:12px;
  line-height:23px;
  padding-left:4px
}
#sel-unsel-grplist #chk ul li .option-div span#ui-opt-span span{
  color:#606366;
  font-size:11px
}
#sel-unsel-grplist #optionallist li {
  color:#606366;
  font-size:11px;
  list-style-type:none;
  line-height:19px
}
.mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin-top:0
}
.mro-wrapper .addedit-form-cancel-container-actions{
  margin-top:0;
  margin-right:10px
}
 #sel-unsel-grplist .mcontainerclass{
  position:relative;
  height:175px
}
#sel-unsel-grplist .mcontainerclass ul{
  display:table
}
#sel-unsel-grplist .mcontainerclass ul li{
  display:table-row
}
#addedit-form-wrapper .addedit-left-col{
  padding:0 15px;
  position:relative;
  width:98.3%
}
#addedit-form-wrapper #exp-sp-administration-catalog-access-addedit-form-html .mro-wrapper {
	 width:98.3%
}
#sel-unsel-grplist #ui-multiselect-con input.ac_loading {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -15px #FFF;
  height:19px;
  line-height:21px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  z-index:10
}
.mro-wrapper #access-search-list-class-title-keyword{
  left:23px;
  position:absolute;
  top:40px
}
.mro-wrapper .access-select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -255px ;
  cursor:pointer;
  float:right;
  height:20px;
  text-decoration:none;
  width:15px
}
.mro-wrapper #access-search-list-class-title-keyword ul {
  background:#FFF;
  border:1px solid #EBEBEB;
  border-radius:0 0 10px 10px;
  list-style-type:none;
  padding:0;
  margin:0
}
.mro-wrapper #access-select-list-class-dropdown-list {
  left:-1px;
  position:absolute;
  top:17px;
  z-index:101;
  dispaly:none
}
 .mro-wrapper #access-select-list-class-dropdown-list li {
  border-bottom:1px solid #EBEBEB;
  color:#474747;
  cursor:pointer;
  font-size:12px;
  padding:5px;
  text-align:left;
  width:55px;
  font-size:bold
}
.mro-wrapper #access-select-list-class-dropdown-list li:hover {
  background:#efefef
}
.mro-wrapper #access-select-list-class-dropdown{
  color:#666;
  font-size:12px
}
#ctools-face-table  #catalog-course-basic-addedit-form-disp .addedit-left-col.mro-wrapper{
  padding:0 0 0 10px
}
#ctools-face-table  #catalog-course-basic-addedit-form-disp .mro-wrapper #access-search-list-class-title-keyword {
  top:33px
}
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #chk,
#ctools-face-table #sel-unsel-grplist #ui-multiselect-con #unchk,
#catalog-class-basic-addedit-form-container #ui-multiselect-con #chk,
#catalog-class-basic-addedit-form-container #ui-multiselect-con #unchk{
  margin-left:-10px
}
#program-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin-top:0
}
#ctools-face-table #program-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  left:30px;
  top:39px
}
#ctools-face-table #program-addedit-form #program-tp-basic-addedit-form-disp .mro-wrapper #access-search-list-class-title-keyword {
  top:44px
}
.page-administration-people-group .mro-wrapper #access-search-list-class-title-keyword{
  top:36px
}
#organization-addedit-form  .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin-left:22px
}
#catalog-survey-assesment-basic-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin-left:20px
}
#survey-question-basic-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row {
  margin-left:21px
}
#content-addedit-form .mro-wrapper .addedit-form-cancel-container-actions {
  margin-right:15px
}
#notification-basic-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin:0 0 0 10px
}
#notification-basic-addedit-form .mro-wrapper .addedit-form-cancel-container-actions{
  margin:0 19px 0 0
}
#banner-basic-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  padding:0;
  margin:0 0 0 15px
}
#announcement-basic-addedit-form .mro-wrapper .addedit-form-cancel-and-save-actions-row{
  margin-left:10px
}
#ctools-face-table #sel-unsel-grplist #chk ul li input, 
#ctools-face-table #sel-unsel-grplist #unchk ul li input{
  position:relative;
  top:2px;
  cursor:pointer
}
#catalog-class-basic-addedit-form-container #sel-unsel-grplist #chk ul li input,
#catalog-class-basic-addedit-form-container #sel-unsel-grplist #unchk ul li input{
  position:relative;
  top:2px;
  cursor:pointer
}
.page-administration-learning-program .access-mro-visibility #sel-unsel-grplist #chk ul li input, 
.page-administration-learning-program .access-mro-visibility #sel-unsel-grplist #unchk ul li input,
.access-mro-visibility #sel-unsel-grplist #chk ul li input, 
.access-mro-visibility #sel-unsel-grplist #unchk ul li input{
  position:relative;
  top:-1px;
  cursor:pointer
}
#ui-multiselect-con #optionallist{
  margin-top:5px;
  width:89px
}
.page-administration-people-group .access-mro-visibility #sel-unsel-grplist #chk ul li input, 
.page-administration-people-group .access-mro-visibility #sel-unsel-grplist #unchk ul li input{
  top:-2px
}
#discount-basic-addedit-form-container .mro-wrapper #access-search-list-class-title-keyword{
  top:25px
}
#discount-basic-addedit-form-container .mro-wrapper #access-search-list-class-title-keyword{
  top:59px;
  position:absolute;
  left:225px
}
.grey-pointer{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -481px -646px;
  height:20px;
  width:21px
}
#sel-unsel-grplist #chk ul li .option-div span#ui-opt-span {
  padding-left:0
}
.access-mro-visibility .addedit-form-cancel-and-save-actions-row{
  margin-top:0
}
.access-mro-visibility .resize-save_btn {
  margin-right:17px
}
#program-addedit-form .access-mro-visibility .addedit-form-cancel-and-save-actions-row{
  margin-top:0
}
#survey-question-basic-addedit-form .access-mro-visibility .admin-save-button-container {
	margin-left:4px
}
#user-basic-addedit-form .mro-wrapper #access-search-list-class-title-keyword{
	left: 31px;
	top: 46px
}
#catalog-class-basic-addedit-form-container #group-control #chk li input,
#catalog-class-basic-addedit-form-container #group-control #unchk li input{
  margin-left:6px 
}
#ctools-face-table #group-control #chk li input,
#ctools-face-table #group-control #unchk li input{
  margin-left:6px 
}
#group-control .fade-out-title-container.group-name-option-div {
  float: left;
  max-width: 95px;
}
/*!Chrome fix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #ctools-face-table #sel-unsel-grplist #ui-multiselect-con #chk, 
  #ctools-face-table #sel-unsel-grplist #ui-multiselect-con #unchk {
    margin-left:-7px;
    cursor:pointer
  }
  #catalog-class-basic-addedit-form-container #ui-multiselect-con #chk,
  #catalog-class-basic-addedit-form-container #ui-multiselect-con #unchk{
    margin-left:-7px;
    cursor:pointer
  }
  #ctools-face-table .mro-wrapper .access-select-list-class-dropdown-link {
    background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -253px
  }
  .mro-wrapper .access-select-list-class-dropdown-link {
    background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -257px
  } 
}