#sel-unsel-grplist .addedit-form-cancel-and-save-actions-row {
  margin-top:0
}
/*
.sel-unsel-grplist-alone {
	float:left;
  width:45%
}
#sel-unsel-grplist{
	width:45%
} */
.right-separator{
	clear: both;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  font-family: ProximaNovaBold, Arial;
  line-height: 22px;
}
#group-scroll-wrapper .sel-attr-separator {
  color:#00a2e8;
  font-weight:lighter;
  line-height: 18px;
	font-size: 12px;
	word-wrap: break-word;
}
#group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list{
	width: auto;
	margin-top: 19px
}
#catalog-course-basic-addedit-form #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list,
#program-tp-basic-addedit-form-container #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list{
	margin-top: 31px
}
#catalog-course-basic-addedit-form #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list .access-select-list-user-dropdown-link,
#program-tp-basic-addedit-form-container #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list .access-select-list-user-dropdown-link,
#catalog-class-basic-addedit-form-container #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list .access-select-list-user-dropdown-link{
	margin-top: 5px
}
#catalog-class-basic-addedit-form-container #group-control #sel-unsel-usrlist #search-list-title-keyword #search-dropdwn-list{
	margin-top: 24px
}
#group-control #search-list-title-keyword ul{
	width: 85px;	
}
#group-control #sel-unsel-usrlist #search-list-title-keyword ul{
	width: 77px;	
}
.margin-left-3{
  margin-left: 3px;	
}
.access-fullname{
	width: 100px;
	overflow: hidden	
}
.access-username{
	width: 70px;
	overflow: hidden	
}
.grp-label {
  color:#2d2d2d;
  font-family:proximanovabold, Arial;
  font-size:12px;
  font-weight:lighter
}
#sel-group-text {
  color:#C0C6CC;
  font-family:openSansRegular, Arial;
  font-size:12px;
  text-align:left;
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
  float:left
}
#sel-message {
  padding-top:31px;
  text-align:center;
  color:#C0C6CC;
  font-family:openSansRegular, Arial;
  font-size:12px
}
#sel-msg {
  text-align:center;
  color:#C0C6CC;
  font-family:openSansRegular, Arial;
  font-size:12px
}
#line-separator {
  border-left:1px dotted #ccc;
  float:left;
  height:265px;
  margin-left:15px
}
#line-separator-grp-alone{
	border-left:1px dotted #ccc;
  float:left;
  height:242px;
  margin-left:15px;
  margin-top: 17px
}
#group-control .addedit-form-cancel-and-save-actions-row {
  margin-top:93px
}
#group-control .admin-save-button-container {
  margin-left:4px
}
#sel-group-list,
#sel-user-list {
  color:#2D2D2D;
  font-family:openSansRegular, Arial;
  font-size:12px;
  line-height:23px;
  text-transform:capitalize;
  margin-left: 10px;
}
#sel-user-list{
	text-transform:none;
}
#help-msg-grp,
#help-msg-usr {
  color:#2D2D2D;
  font-family:openSansRegular, Arial;
  font-size:12px;
  margin-top:-2px;
  padding-top:4px;
  padding-bottom:10px;
  width:286px
}
#discount-basic-addedit-form-container #help-msg-grp{
	float: right;
	margin-right: 3px;
	/*width: auto*/
}
#discount-basic-addedit-form-container #sel-group-list{
	margin-left:0px
}
#discount-basic-addedit-form-container #group-scroll-wrapper{
	margin-top: 0px;
}
#group-control .sel-unsel-grplist-alone #autocomplete,
#narrow-search-results #group-control .sel-unsel-grplist-alone #autocomplete {
	margin-left:70px;
	margin-right:5px
}
#narrow-search-results #group-control .sel-unsel-grplist #autocomplete {
	margin-left:67px;
	margin-right: 5px;
}
#group-control #autocomplete {
  border:0;
  margin-left:72px;
  position:relative;
  height:35px
}
#group-control #sel-unsel-usrlist #autocomplete {
  border: 0 none;
  height: 35px;
  margin-right: 5px;
  margin-left: 92px;
  position: relative;
  width: 212px;
}
#group-control #sel-unsel-usrlist #autocomplete input#multiautocomplete {
  height:19px;
  line-height:16px;
  margin-left: 2px;
  max-width:199px;
  width:196px;
}
#group-control .autocomplete input#multiautocomplete {
  height:19px;
  line-height:16px;
  margin-left:0;
  max-width:222px
}
#group-control .sel-unsel-grplist-alone .autocomplete input#multiautocomplete{
	max-width:184px	
}
#group-control #sel-unsel-usrlist .autocomplete input#multiautocomplete {
	max-width:185px;
	margin-left: 19px
}
#group-control #autoimg {
 right:8px;
 top:14px
}
#autocomplete input#multiautocomplete.ac_input{
  position:absolute;
}
#autocomplete input#multiautocomplete.ac_loading{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -16px #FFF;
  z-index:10
}
#group-scroll-wrapper {
  height:260px;
  width:46%;
  float:right;
  overflow:hidden;
  margin-right:10px;
  margin-top: 11px
}
.mro-wrapper .access-select-list-user-dropdown-link,
.mro-wrapper .access-select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -255px;
  cursor:pointer;
  float:right;
  height:20px;
  text-decoration:none;
  width:15px
}
.mro-wrapper #access-search-list-class-title-keyword,
.mro-wrapper #search-list-title-keyword {
  left:26px;
  position:absolute;
  top:33px
}
.mro-wrapper #access-search-list-class-title-keyword ul {
  background:#FFF;
  border:1px solid #EBEBEB;
  border-radius:0 0 10px 10px;
  list-style-type:none;
  padding:0;
  margin:0
}
.mro-wrapper #access-select-list-class-dropdown-list, 
.mro-wrapper #select-list-dropdown-list {
  left:0px;
  position:absolute;
  top:17px;
  z-index:101;
  dispaly:none
}
.mro-wrapper #select-list-dropdown-list{
	top:40px;
}
#catalog-course-basic-addedit-form-container #group-control #select-list-dropdown-list,
#catalog-class-basic-addedit-form-container #group-control #select-list-dropdown-list,
#program-tp-basic-addedit-form-container #group-control #select-list-dropdown-list{
	left: -5px;
	top: 56px
}
.mro-wrapper #access-select-list-class-dropdown-list li,
.mro-wrapper #select-list-dropdown-list li {
  border-bottom:1px solid #EBEBEB;
  color:#474747;
  cursor:pointer;
  font-family:proximanovabold, Arial;
  font-size:12px;
  padding:5px;
  text-align:left;
  min-width:40px;
  width: auto
}
.mro-wrapper #access-select-list-class-dropdown-list li:hover,
.mro-wrapper #select-list-dropdown-list li:hover  {
  background:#efefef;
  width: auto
}
.mro-wrapper #access-select-list-class-dropdown,
.mro-wrapper #select-list-dropdown {
  color:#2D2D2D;
  font-family:proximanovabold, Arial;
  font-size:12px
}
#sel-unsel-grplist .jspVerticalBar,
#sel-unsel-usrlist .jspVerticalBar {
  border:1px solid #CCC;
  border-radius:10px;
  height:168px;
  width:7px
}
#sel-unsel-grplist .jspTrack,
#sel-unsel-usrlist .jspTrack {
  border:0;
  border-radius:10px;
  max-height:167px
}
#group-control  .jspDrag {
  border:0;
  border-radius:10px
 }

#group-scroll-wrapper .jspVerticalBar {
  border:1px solid #CCC;
  border-radius:10px;
  height:265px; 
  width:7px
}
#group-scroll-wrapper .jspTrack {
  border:0;
  border-radius:10px;
/*  height:264px;
  max-height:264px */
}

#sel-unsel-grplist .option-div {
  width:123px
}
#sel-unsel-grplist #chk ul li span,
#sel-unsel-grplist #unchk ul li span,
#sel-unsel-usrlist #chk ul li span,
#sel-unsel-usrlist #unchk ul li span {
  color:#2d2d2d;
  font-size:12px;
  line-height:22px;
  text-transform: capitalize
}
#sel-unsel-grplist #chk ul li .option-div span#ui-opt-span span,
#sel-unsel-usrlist #chk ul li .option-div span#ui-opt-span span {
  color:#606366;
  font-family:openSansRegular, Arial;
  font-size:12px
}
#sel-unsel-grplist #optionallist li,
#sel-unsel-usrlist #optionallist li {
  color:#606366;
  font-family:openSansRegular, Arial;
  font-size:12px;
  list-style-type:none
}
.mro-wrapper .addedit-form-cancel-and-save-actions-row {
  margin-top:0
}
.mro-wrapper .addedit-form-cancel-container-actions {
  margin-top:0;
  margin-right:10px
}
 #sel-unsel-grplist .mcontainerclass,
 #sel-unsel-usrlist .mcontainerclass {
  height:175px;
  /*position:relative*/
}
#addedit-form-wrapper .addedit-left-col {
  padding:0 15px;
  position:relative;
  width:98.3%
}
#sel-unsel-grplist #ui-multiselect-con input.ac_loading,
#sel-unsel-usrlist #ui-multiselect-con input.ac_loading {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/throbber.gif") no-repeat 100% -15px #FFF;
  height:19px;
  line-height:21px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  z-index:10;
  max-width:191px;
  margin-left:0
}
#discount-basic-addedit-form-container .mro-wrapper #access-select-list-class-dropdown-list {
  top:25px
}
#discount-basic-addedit-form-container .mro-wrapper #access-search-list-class-title-keyword {
  top:59px;
  position:absolute;
  left:220px
}
.grey-pointer {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -483px -646px;
  height:20px;
  width:20px
}
#sel-unsel-grplist .checkbox-selected,
#sel-unsel-grplist .checkbox-unselected,
#sel-unsel-usrlist .checkbox-selected,
#sel-unsel-usrlist .checkbox-unselected {
  margin:6px 0 0
}
#catalog-class-basic-addedit-form-container #sel-unsel-usrlist .checkbox-selected,
#catalog-class-basic-addedit-form-container #sel-unsel-usrlist .checkbox-unselected{
	margin:0px;
	margin-top:6px;	
	margin-right:3px
}
.list-group, .list-user{
	cursor: pointer
}
#access-left-control{
	margin-top: 4px;
	float: left	
}
#sel-unsel-grplist span#ui-opt-span,
#sel-unsel-usrlist span#ui-opt-span {
  padding-left:0
}
#ctools-face-table .mro-wrapper .access-select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -249px
}
#ctools-face-table  #catalog-course-basic-addedit-form-container .mro-wrapper #access-search-list-class-title-keyword {
  top:41px;
  left:26px
}
.catalog-class-basic-addedit-form-disp .mro-wrapper #access-search-list-class-title-keyword {
  left:32px;
  top:33px
}
#ctools-face-table #user-basic-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  top:34px;
  left:27px
}
#ctools-face-table #catalog-survey-assesment-basic-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  left:25px;
  top:34px;
}
#ctools-face-table #content-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  left:31px
}
#ctools-face-table #banner-basic-addedit-form  .mro-wrapper #access-search-list-class-title-keyword,
#ctools-face-table #announcement-basic-addedit-form  .mro-wrapper #access-search-list-class-title-keyword {
  left:32px
}
#ctools-face-table #notification-basic-addedit-form .mro-wrapper #access-search-list-class-title-keyword {
  left:40px;
  top:33px
}
.catalog-class-basic-addedit-form-disp .mro-wrapper .access-select-list-class-dropdown-link {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -250px
}
.catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-selected,
.catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-unselected {
  padding-left:5px
}
#ctools-face-table #program-tp-basic-addedit-form-disp .mro-wrapper #access-search-list-class-title-keyword {
  left:27px;
  top:41px
}
#ctools-face-table #notification-basic-addedit-form .mro-wrapper .addedit-form-cancel-container-actions {
  margin:0 10px 0 0
}
#notification-basic-addedit-form .addedit-left-col.mro-wrapper {
  padding:0 0 3px 22px
}
#user-basic-addedit-form #bubble-face-table .addedit-left-col.mro-wrapper ,
#organization-addedit-form #bubble-face-table .addedit-left-col.mro-wrapper,
#survey-question-basic-addedit-form #bubble-face-table .addedit-left-col.mro-wrapper {
  padding:0 0 0 10px
}
.catalog-class-basic-addedit-form-disp #group-control .autocomplete input#multiautocomplete {
  max-width:182px
}
#announcement-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
#banner-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
#program-tp-basic-addedit-form-disp #group-control .autocomplete input#multiautocomplete,
#catalog-course-basic-addedit-form-container #group-control .autocomplete input#multiautocomplete,
#catalog-class-basic-addedit-form-container #group-control .autocomplete input#multiautocomplete {
  max-width:222px
}
#announcement-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
#banner-basic-addedit-form #group-control .autocomplete input#multiautocomplete{
	max-width:181px
}
/*.catalog-class-basic-addedit-form-disp #group-control #autocomplete {
  margin-left:74px
}*/
#announcement-basic-addedit-form #group-control #autocomplete,
#banner-basic-addedit-form #group-control #autocomplete{
  margin-left:73px
}
#ctools-face-table .mro-wrapper #access-select-list-class-dropdown-list {
  top:20px
}
#ui-multiselect-con #optionallist {
  margin-top:5px;
  width:89px;
  z-index: 1;
}
#content-addedit-form .access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  margin-right:21px
}
#paint-narrow-search-results .access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  margin-right:15px
}
#bubble-face-table #show_expertus_message {
  top:13px
}
#bubble-face-table #show_expertus_message[style=""] {
  margin-left:100px;
  top:16px
}
.page-administration-learning-catalog #bubble-face-table #show_expertus_message,
.page-administration-learning-program #bubble-face-table #show_expertus_message {
  top:12px
}
.course-class-edit-qtip #bubble-face-table #show_expertus_message {
  top:11px
}
.course-class-edit-qtip #bubble-face-table #show_expertus_message[style=""] {
  top:24px;
  width:810px
}
.course-class-edit-qtip .qtip-title a.qtip-button .admin-bubble-close {
  top:0
}
.page-administration #group-control .checkbox-selected input {
  margin-right: 2px;
  margin-top: -2px
}
.page-administration #group-control .checkbox-unselected input {
  margin-right: 2px;
  margin-top: -2px
}
.page-administration #catalog-class-basic-addedit-form-container #group-control .checkbox-selected input {
  margin-right: 3px;
  margin-top: -2px
}
.page-administration #catalog-class-basic-addedit-form-container #group-control .checkbox-unselected input {
  margin-right: 3px;
  margin-top: -2px
}
.access-mro-visibility .addedit-form-cancel-and-save-actions-row{
  margin-top:0
}
#addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.addedit-edit-mroCancelbtn {
  margin-right:10px
}
.page-administration-people #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.addedit-edit-mroCancelbtn {
  margin-right:0
}
.page-administration-people.page-administration-people-user #narrow-search-results #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.addedit-edit-mroCancelbtn,
.page-administration-people.page-administration-people-group #narrow-search-results #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.addedit-edit-mroCancelbtn {
  margin-right:10px
}
.page-administration-learning-catalog .narrow-search-results-item-details .fade-out-title-container.addedit-cataog-access-group-name-fadeout-container,
.page-administration-learning-catalog #catalog-course-basic-addedit-form .fade-out-title-container.addedit-cataog-access-group-name-fadeout-container,
.page-administration-learning-catalog #catalog-class-basic-addedit-form-container .fade-out-title-container.addedit-cataog-access-group-name-fadeout-container,
.page-administration-learning-program .narrow-search-results-item-details .fade-out-title-container.addedit-cataog-access-group-name-fadeout-container,
.page-administration-learning-program #program-addedit-form .fade-out-title-container.addedit-cataog-access-group-name-fadeout-container {
  max-width:265px
}
.fade-out-title-container.addedit-cataog-access-group-name-mro-fadeout-container{
  max-width:160px
}
.cls-access-list-select {
  clear:both
}
tr.ui-state-hover #group-control #group-scroll-wrapper #sel-group-list .fade-out-image, 
tr.ui-state-highlight #group-control #group-scroll-wrapper #sel-group-list .fade-out-image,
tr.ui-state-hover.ui-state-highlight #group-control #group-scroll-wrapper #sel-group-list .fade-out-image,
tr.ui-state-hover #group-control #group-scroll-wrapper #sel-user-list .fade-out-image, 
tr.ui-state-highlight #group-control #group-scroll-wrapper #sel-user-list .fade-out-image,
tr.ui-state-hover.ui-state-highlight #group-control #group-scroll-wrapper #sel-user-list .fade-out-image {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
.cls-access-list-select span {
  float:left
}
.cls-mro-option {
  width:100px;
  padding-left:10px
}
#group-control #chk .fade-out-title-container.group-name-option-div {
 /* display: inline-block;
  float: left; */
  max-width: 126px;
}
#sel-unsel-grplist #chk ul li,
#sel-unsel-usrlist #chk ul li{
  display: inline-block;
}
.ui-state-hover #group-control #sel-unsel-grplist #ui-multiselect-con .fade-out-image,
.ui-state-hover.ui-state-highlight #group-control #sel-unsel-grplist #ui-multiselect-con .fade-out-image,
.ui-state-hover #group-control #sel-unsel-usrlist #ui-multiselect-con .fade-out-image,
.ui-state-hover.ui-state-highlight #group-control #sel-unsel-usrlist #ui-multiselect-con .fade-out-image {
 background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
#chk .fade-out-title-container.group-name, #unchk .fade-out-title-container.group-name,
#chk .fade-out-title-container.uncheck-groupnames, #unchk .fade-out-title-container.uncheck-groupnames,
#chk .fade-out-title-container.check-groupnames, #unchk .fade-out-title-container.check-groupnames {
  height:19px;
  width:215px;
  max-width:215px;
  /* border: solid 1px red; */
  display:inline-block
}
#sel-unsel-usrlist #unchk .fade-out-title-container .user-name{
  width:105px;
  max-width:105px
}
.page-administration-learning-program #paintContentVisiblePopup #addedit-form-wrapper.access-mro-visibility .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions.resize-save_btn div.admin-save-button-container {
  padding-left:0
}
.page-administration-learning-catalog #narrow-search-results-holder #addedit-form-wrapper.access-mro-visibility #exp-sp-administration-catalog-access-addedit-form-html .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions input.admin-save-button-middle-bg {
  padding-bottom:1px
}

.page-administration-people-setup #addedit-listvalues-detail-wrapper #addedit-form-wrapper.access-mro-visibility input.white-btn-bg-middle.exp-addedit-form-cancel-button {  
  background:#fff;
  border:1px solid #dedede;
  border-radius:6px;
  color:#474747;
  cursor:pointer;
  float:left;
  font-family:ProximaNovaBold,Arial;
  font-size:12px;
  line-height:16px;
  margin:0 10px 0 0;
  padding:3px 6px 2px;
  text-align:center;
  text-transform:uppercase
}
.page-administration-people-setup #addedit-listvalues-detail-wrapper #sel-unsel-grplist ul {
 margin:0;
 padding:0
}

.page-administration-people-setup #addedit-listvalues-detail-wrapper #sel-unsel-grplist .checkbox-selected, 
.page-administration-people-setup #addedit-listvalues-detail-wrapper #sel-unsel-grplist .checkbox-unselected {
  margin-right:5px
}
.page-administration-people-setup #addedit-listvalues-detail-wrapper .crs-tab-titles-container {
  margin-top:-3px
}

#group-control .right-tip-arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -243px -384px;
  width:12px;
  height:12px;
  display:inline-block;
  float:left;
  cursor:pointer;
  margin-top:6px;
  margin-left:-5px
}
#group-control .down-tip-arrow {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -232px -384px;
  width:12px;
  height:12px;
  display:inline-block;
  float:left;
  margin-top:6px;
  margin-left:-3px
}

#narrow-search-results #group-control .right-tip-arrow,
#narrow-search-results #group-control .down-tip-arrow{
	margin-top:3px;
}
.fade-out-image-access{
  background: url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right 0;
  top: 0;
  float: right;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
  height:20px
}
#sel-unsel-grplist #ui-multiselect-con input.ac_loading{
  max-width:223px	
}
/*!Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .mro-wrapper #access-search-list-class-title-keyword {
    left:26px;
    position:absolute;
    top:33px
  }
  .catalog-class-basic-addedit-form-disp .mro-wrapper #access-search-list-class-title-keyword {
    left:31px
  }
  #ctools-face-table #catalog-course-basic-addedit-form-container .mro-wrapper #access-search-list-class-title-keyword {
    top:41px;
    left:26px
  }
  #sel-unsel-grplist .checkbox-selected,
  #sel-unsel-grplist .checkbox-unselected,
  #sel-unsel-usrlist .checkbox-selected,
  #sel-unsel-usrlist .checkbox-unselected  {
    padding-left:5px
  }
  #sel-unsel-grplist #ui-multiselect-con input.ac_loading,
  #sel-unsel-usrlist #ui-multiselect-con input.ac_loading{
   margin-left:0
 }
 #group-control .autocomplete input#multiautocomplete {
   max-width:191px
 }
  #narrow-search-results #group-control #sel-unsel-grplist.sel-unsel-grplist .autocomplete input#multiautocomplete {
   max-width:224px
 }
 #group-control #sel-unsel-usrlist #autocomplete input#multiautocomplete{
   max-width:201px
 }
 .page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-selected,
 .page-administration-learning-catalog .catalog-class-basic-addedit-form-disp #sel-unsel-grplist .checkbox-unselected {
   margin:6px 0 0
 } 
 #group-control #chk .fade-out-title-container.group-name-option-div{
   max-width: 124px;
 }
 #announcement-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
 #banner-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
 #program-tp-basic-addedit-form-disp #group-control .autocomplete input#multiautocomplete,
 #catalog-course-basic-addedit-form-container #group-control .autocomplete input#multiautocomplete,
 #catalog-class-basic-addedit-form-container #group-control .autocomplete input#multiautocomplete {
   max-width:224px
 } 
 #group-control .sel-unsel-grplist-alone .autocomplete input#multiautocomplete{
   max-width:186px 
 }
 #announcement-basic-addedit-form #group-control .autocomplete input#multiautocomplete,
 #banner-basic-addedit-form #group-control .autocomplete input#multiautocomplete{
	max-width:183px
 }
}

