#pager-datagrid {
  background:none;
  font-size:13px;
  color:#666;
  position:relative;
  font-size:12px;
  font-family:helvetica neue, arial
}
#pager-datagrid #pager_right {
  position:absolute;
  left:20px
}
#pager-datagrid { position:relative; }
#pager-datagrid_center {
  width:100%
}
#pager-datagrid_center .ui-pg-table {
  float:right;
  position:static
}
#pager-datagrid_left, #pager-datagrid_right, #first_pager-datagrid, #last_pager-datagrid { 
	display:none
}
#next_pager-datagrid span, #prev_pager-datagrid span { 
	background:none
}
#prev_pager-datagrid {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px;
  width:24px;
  height:18px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#next_pager-datagrid {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px;
  width:22px;
  height:18px;
  padding-right:8px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
.admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv {
  background:#efefef;
  height:auto;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC
}
#admin-data-grid .admin-datagrid-pagination .addedit-form-cancel-container-actions .admin-save-button-container {
  margin-right:-1px
}
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable {
  height:auto;
  overflow:hidden
}
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div,
.datagrid-items-list .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  color:#666;
  padding-left:1px;
  font-size:12px;
  height:23px;
  line-height:23px
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover,
.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th,
.datagrid-items-list .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-htable th {
  background:none;
  text-align:left;
  border:0;
  padding:0 2px 0 0
}
.admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  margin-bottom:15px;
  overflow:hidden
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {

}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  padding-left:4px;
  vertical-algin:middle;
  line-height:25px;
  border:0;
  color:#666;
  height:29px;
  font-size:13px;
  line-height:27px
}
.admin-datagrid-pagination  #pager-datagrid {
  display:none
}
#admin-data-grid .ui-jqgrid-toppager {
  background:#FFF;
  visibility:hidden;
  border:0
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pg-table,
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pg-table,
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pg-table,
#admin-data-grid .ui-jqgrid-toppager .ui-pg-table,
.datagrid-items-list .ui-jqgrid-toppager .ui-pg-table{
  position:absolute;
  right:-5px;
  top:0;
  height:30px
}
#admin-data-grid .ui-jqgrid .ui-jqgrid-hdiv {
  border-top:0;
  border-bottom:0
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table,
.datagrid-items-list .ui-jqgrid-toppager .ui-pager-control .ui-pg-table {
  display:block
}
#admin-data-grid .pager-datagrid-common,
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-first,
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-end,
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
.admin-datagrid-pagination .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
	right:2px
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100);
  padding:0;
  float:left
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev{ 
  background:#fff url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -156px -381px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:#fff url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -156px -408px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  background:#fff url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -156px -2215px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:#fff url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -156px -2241px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
	padding-top:0;
	line-height:normal
}
.page-administration-learning-catalog #page-wrapper #admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right,
.page-administration-people-organization #page-wrapper #admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right,
.page-administration-people-user #page-wrapper #admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right{
  line-height:28px;
  white-space: nowrap;
  padding-right: 4px
}
.page-administration-learning-catalog #page-wrapper #admin-data-grid .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  top:-2px
}
.row-edit-option{
  cursor:pointer
}
.row-edit-option{
  cursor:pointer;
  display:block;
  height:20px;
  width:100px
}
.page-administration-people-organization #page-wrapper #admin-data-grid .ui-jqgrid-toppager{
  min-width:200px
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable {
	  height:auto
	}
	.addedit-left-col .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover,
	.addedit-left-col .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th.ui-state-hover,
	.addedit-left-col .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
	  background:none;
	  text-align:left;
	  border:0;
	  padding:0 4px 0 0
	}
	.admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
	  color:#666;
	  padding-left:1px;
	  font-size:13px;
	  padding-top:0
	}
	#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv {height:24px}
	#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable,
	#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable,
	#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable,
	#admin-data-grid .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable,
	#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable,
	#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable,
	#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable,
	#admin-data-grid .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable {
	  display:block
	}
	#admin-data-grid .admin-content-data-grid-rows .ui-jqgrid-bdiv .ui-jqgrid-btable,
	#admin-data-grid .admin-content-data-grid-rows .ui-jqgrid-hdiv .ui-jqgrid-htable {
	  display:table
	}
	.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  	  padding-left:2px
	}
	#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
	  padding-left:0;
    }
}
#admin-add-course-training-plan {
  padding:5px;
  position:relative
}
#admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  border-bottom:1px solid #ccc;
  background:none
}
#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border:0;
  margin-bottom:0
}
#admin-add-course-training-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border:0
}
#admin-add-course-training-plan .ui-jqgrid-toppager {
  background:#FFF;
  visibility:hidden;
  border:0
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  display:block
}
#admin-add-course-training-plan .pager-datagrid-common,
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-first,
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-end,
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
.admin-datagrid-pagination .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -2215px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  vertical-align:middle;
  padding:2px 4px 0 0;
  float:left
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -381px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  float:left;
  filter:Alpha(Opacity=100)
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -408px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -2241px;
  width:24px;
  height:24px;
  padding-right:7px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-course-training-plan .admin-save-button-container {
  margin-bottom:2px;
  margin-right:2px
}
#admin-add-course-training-plan .admin_add_multi_search_container {
  position:absolute;
  top:3px;
  width:210px
}
#admin-add-course-training-plan .admin_add_multi_search_container .admin_add_multi_auto_search {
  width:176px
}
#admin-add-course-training-plan .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-tpattachcourse-autocomplete {
  width:155px;
  padding-right:20px
}
#admin-add-course-training-plan .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:0;
  margin-top:2px
}
#admin-add-course-training-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  right:-4px
}
#catalog-class-basic-addedit-form-container .enrolled-status ul { 
  list-style-type:none
}
#catalog-class-basic-addedit-form-container .enrolled-status li { 
  text-align:left;
  width:80px;
  line-height:25px
}
#program-tp-basic-addedit-form-container .selected-enrolled-status,
#catalog-class-basic-addedit-form-container .selected-enrolled-status { 
  text-transform:capitalize; 
  display:inline-block; 
  padding-top:6px;
  line-height:10px
}
#admin-commerce-country-setting-plan {
  padding:5px 5px 6px 10px;
  position:relative
}
#admin-commerce-country-setting-plan .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  background:none
}
#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border:0;
  margin-bottom:0
}
#admin-commerce-country-setting-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border:0
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager {
  background:#FFF;
  visibility:hidden;
  border:0
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  display:block
}
#admin-commerce-country-setting-plan .pager-datagrid-common,
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
.admin-datagrid-pagination .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -2215px;
  width:26px;
  height:26px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -381px;
  width:26px;
  height:27px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  padding:0;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -408px;
  width:22px;
  height:30px;
  padding-right:5px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -2241px;
  width:30px;
  height:30px;
  padding-right:5px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  float:left;
  padding:3px 2px 0 4px;
  vertical-align:middle;	
  font-size:12px
}
#admin-commerce-country-setting-plan .admin-save-button-container {
  margin-bottom:2px;
  margin-right:2px
}
#admin-commerce-country-setting-plan .admin_add_multi_search_container {
  position:absolute;
  top:1px;
  width:280px;
  margin-left:4px
}
#admin-commerce-country-setting-plan .admin_add_multi_search_container .admin_add_multi_auto_search {
  width:146px
}
#admin-commerce-country-setting-plan .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-commerce-countrylist-autocomplete {
  width:280px;
  padding-right:20px
}
#admin-commerce-country-setting-plan .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:0
}
#admin-commerce-country-setting-plan .ui-widget-content span.countryaction a,
#admin-commerce-country-setting-plan .ui-widget-content span.countryaction a:hover{
  text-decoration:none;
   color:#FF7924	
}
#admin-commerce-country-setting-plan .select-list-dropdown {
  height:24px;
  width:93px;
  text-align:center;
  font-size:12px;
  line-height:23px;
  color:#666;
  border:0;
  float:left;
  background:none;
  font-size:12px;
  padding:0
}
#admin-commerce-country-setting-plan .select-list-dropdown-link {
   background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -253px;
   cursor:pointer;
   float:left;
   height:24px;
   text-decoration:none;
   width:20px
}
#admin-commerce-country-setting-plan #search-dropdwn-list {
   background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -4px -1527px;
   display:block;
   float:left;
   height:24px;
   width:113px
}
#admin-commerce-country-setting-plan #select-list-dropdown-list {
   left:-5px;
   position:absolute;
   top:23px;
   z-index:100
}
#admin-commerce-country-setting-plan #select-list-dropdown-list li {
   border-bottom:1px solid #CCC;
   color:#4686DD;
   cursor:pointer;
   font-size:12px;
   padding:2px 5px 5px;
   text-align:left;
   width:102px
}
#admin-commerce-payment-method-plan {
  padding:5px 5px 22px 10px;
  position:relative
}
#admin-commerce-payment-method-plan .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  background:none
}
#admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border:0;
  margin-bottom:0
}
#admin-commerce-payment-method-plan .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border:0
}
#admin-commerce-payment-method-plan .ui-jqgrid-toppager {
  background:#FFF;
  visibility:hidden;
  border:0
}
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  display:block
}
#admin-commerce-payment-method-plan .pager-datagrid-common,
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-first,
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-end,
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
.admin-datagrid-pagination .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -381px;
  width:26px;
  height:30px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100)
}
#admin-commerce-payment-method-plan .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -408px;
  width:30px;
  height:30px;
  padding-right:5px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -253px;
  border:0;
  height:24px;
  margin-top:5px;
  opacity:8;
  width:27px;
  left:-28px;
  top:0;
  position:absolute
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -302px;
  border:0;
  height:24px;
  margin-top:5px;
  opacity:8;
  width:23px;
  margin-right:0
}
.admin-commerce-setting .admin-save-button-container {
  margin:0 15px 3px
}
#admin-commerce-payment-method-plan .admin_add_multi_search_container {
  position:absolute;
  top:3px;
  width:388px
}
#admin-commerce-payment-method-plan .admin_add_multi_search_container .admin_add_multi_auto_search {
  width:243px
}
#admin-commerce-payment-method-plan .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-commerce-countrylist-autocomplete {
  width:280px;
  padding-right:20px
}
#admin-commerce-payment-method-plan .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:0
}
#admin-commerce-payment-method-plan .ui-widget-content span.paymentaction a,
#admin-commerce-payment-method-plan .ui-widget-content span.paymentaction a:hover{
  text-decoration:none;
   color:#FF7924;		
}
.page-administration-learning-program #narrow-search-results-holder #program-tp-basic-addedit-form-container .enrolled-status li { 
  position:relative
}
.page-administration-learning-program #narrow-search-results-holder #program-tp-basic-addedit-form-container .enrolled-status ul.sub-menu {
  right:0
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li ul.sub-menu,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li ul.sub-menu,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li ul.sub-menu,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li ul.sub-menu,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.enrolltp-grid-wrapper .ui-jqgrid-btable td .enrolled-status li ul.sub-menu {
  right: auto;
}
#program-tp-basic-addedit-form-container .enrolled-status ul { 
  list-style-type:none
}
#program-tp-basic-addedit-form-container .enrolled-status li { 
  text-align:left;
  width:77px;
  line-height:20px
}
#program-tp-basic-addedit-form-container .selected-enrolled-status {
  text-transform:capitalize
}
#program-tp-basic-addedit-form-container .enrolled-status ul.sub-menu { 
  display:none;
  position:absolute;
  z-index:100;
  border:1px solid #ececec;
  right:150px;
  background:#FFF
}
#program-tp-basic-addedit-form-container .enrolled-status ul.sub-menu li { 
  color:#4686DD;
  text-align:right;
  background-color:#FFF;
  padding:1px 5px;
  cursor:pointer
}
#program-tp-basic-addedit-form-container .enrolled-status ul.sub-menu li:hover {
  background:#DBEEFA
}
.completion_container_roster .save-container,
.registration_container_roster .save-container {
  float:right;
  margin:5px 5px
}
.completion_container_roster label,
.registration_container_roster label {
  float:left;
  margin:0 5px;
  font-weight:normal
}
.completion_container_roster,
.registration_container_roster {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/qtipStatic.png) no-repeat;
  height:102px;
  left:376px;
  padding:26px 8px 0 27px;
  position:absolute;
  top:-121px;
  width:223px;
  z-index:6004;
  display:none;
  font-size:12px;
  text-align:left
}
.registration_container_roster {
  left: -90px;
  top: -126px;
}
.enrollment-statistics-count {
  color:#999;
  font-size:12px;
  text-align:left;
  font-weight:bold;
  position:absolute;
  width:auto;
  bottom:3px;
  left:0
}
#catalog-enroll-form-html .enrolled-display-controller .enrollment-statistics-count span,
#training-plan-enroll-form-html .enrolled-display-controller .enrollment-statistics-count span{
  float: left;
}
#bubble-face-table #program-tp-basic-addedit-form-container .admin-datagrid-pagination .enrollment-statistics-count{
  color:#999;
  font-size:12px;
  text-align:left;
  font-weight:bold;
  position:absolute;
  width:475px;
  left:0
}
#program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv,
#catalog-course-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv {
  background:none;
  border-left:0;
  border-right:0;
  height:auto;
  margin-top:5px
}
#program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv,
#catalog-course-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv{
  border-left:0;
  border-right:0
}
#program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr,
#catalog-course-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border-bottom:0
}
#program-tp-basic-addedit-form-container #admin-data-grid .ui-jqgrid .ui-jqgrid-hdiv,
#catalog-course-basic-addedit-form-container #admin-data-grid .ui-jqgrid .ui-jqgrid-hdiv,
#catalog-class-basic-addedit-form-container #admin-data-grid .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  border-bottom:1px solid #ddd
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin-save-button-container,
#catalog-course-basic-addedit-form-container #admin-data-grid .admin-save-button-container,
#catalog-class-basic-addedit-form-container #admin-data-grid .admin-save-button-container {
  margin-right:3px;
  margin-bottom:0
}
#catalog-class-basic-addedit-form-container #admin-data-grid .set-survey-btn{
	margin-right:15px
}
#program-tp-basic-addedit-form-container #admin-data-grid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td,
#catalog-course-basic-addedit-form-container #admin-data-grid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td,
#catalog-class-basic-addedit-form-container #admin-data-grid .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td,
.datagrid-items-list .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  color:#666;
  font-size:13px;
  line-height:28px
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin-save-button-container-view-mode,
#catalog-course-basic-addedit-form-container #admin-data-grid .admin-save-button-container-view-mode,
#catalog-class-basic-addedit-form-container #admin-data-grid .admin-save-button-container-view-mode {
  margin-right:16px
}
#program-tp-basic-addedit-form-container #admin-data-grid .norecords-msg-edit-page,
#catalog-course-basic-addedit-form-container #admin-data-grid .norecords-msg-edit-page,
#catalog-class-basic-addedit-form-container #admin-data-grid .norecords-msg-edit-page {
 border-bottom:none;
 padding-top:25px
}
#program-tp-basic-addedit-form-container #admin-data-grid .ui-jqgrid-sortable {
  cursor:pointer;
  margin-left:0
}
#catalog-course-basic-addedit-form-container #admin-data-grid .ui-jqgrid-sortable {
  cursor:pointer;
  margin-left:0px
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin_add_multi_search_container,
#catalog-course-basic-addedit-form-container #admin-data-grid .admin_add_multi_search_container {
  top:1px;
  padding-bottom:6px
}
#admin-data-grid .admin_add_multi_search_container {
  padding-bottom:6px;
  top:0
}
#admin-add-questions-survey-assessment {
  padding:5px;
  position:relative
}
#admin-add-questions-survey-assessment .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  border-bottom:1px solid #ccc;
  margin-top:10px;
  background:none
}
#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-bdiv {
  border:0;
  margin-bottom:0
}
#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border:0
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager {
  background:#FFF;
  visibility:hidden;
  border:0
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pg-table{
  position:absolute;
  right:-6px;
  top:1px
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  display:block
}
#admin-add-questions-survey-assessment .pager-datagrid-common,
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-first,
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-end,
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
.admin-datagrid-pagination .ui-pg-button {
  opacity:10;
  float:right;
  border:0;
  background:none
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgstart { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -2215px;
  width:26px;
  height:30px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev { 
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -154px -381px;
  width:26px;
  height:30px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
.ui-jqgrid .ui-state-disabled:hover {
  padding:0
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100);
  float:left
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -408px;
  width:22px;
  height:30px;
  padding-right:5px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-pgend {
  background:url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -157px -2241px;
  width:30px;
  height:30px;
  padding-right:5px;
  border:0;
  opacity:8;
  filter:Alpha(Opacity=100)
}
#admin-add-questions-survey-assessment .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  float:left;
  padding:3px 2px 0 4px;
  vertical-align:middle;
  font-size:12px
}
#admin-add-questions-survey-assessment .admin-save-button-container {
  margin-bottom:0;
  margin-right:9px
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container {
  position:absolute;
  top:3px;
 width: 356px; 
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container .admin_add_multi_auto_search {
  width:185px;
}
#admin-add-questions-survey-assessment .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-surassattachquestion-autocomplete {
  width:225px;
}
/* Ticket: 49902 */
#admin-add-questions-survey-assessment .admin_add_multi_search_container .admin_add_multi_auto_search .addedit-edit-surassattachquestion-autocomplete-tag {
  width:165px
}
/* Ticket: 49902 */
#admin-add-questions-survey-assessment .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:-1px
}
.enroll-date-text {
  font-size:9px;
  color:#CCC;
  margin-left:-3px
}
ul.enrolled-status {
  list-style-type:none;
  padding-left:0;
  margin-left:0;
  margin-top:2px
}
#catalog-class-basic-addedit-form-container .enrolled-selection, #program-tp-basic-addedit-form-container .enrolled-selection {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1494px;
  color:#FF7924;
  cursor:pointer;
  display:inline-block;
  float:right;
  height:13px;
  text-decoration:none;
  width:12px;
  margin-top:6px;
  margin-left: 5px
}
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .enrolled-status .enrolled-selection {
  margin-top:3px
}
.admin-datagrid-pagination .datagrid-type-enrolluser .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  color:#666;
  font-size:12px;
  padding-top:4px;
  margin-top:0;
  height:30px;
  line-height:23px
}
.admin-datagrid-pagination .datagrid-type-enrolluser .ui-jqgrid .ui-jqgrid-bdiv {
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  margin-bottom:15px;
  overflow:hidden
}
.admin-datagrid-pagination .datagrid-type-enrolluser .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border-bottom:none 
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .datagrid-type-enrolluser .ui-jqgrid-hdiv {
  height:35px;
  max-width:610px
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .datagrid-type-enrolluser .ui-jqgrid-bdiv {
  overflow:visible
}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
  vertical-align:middle
}
.admin-datagrid-pagination .ac_input {
  background-position:100% 3px
}
#admin-add-questions-survey-assessment .admin_add_multi_auto_search,
#admin-add-course-training-plan .admin_add_multi_auto_search,
#admin-commerce-country-setting-plan .admin_add_multi_auto_search,
#admin-data-grid .admin_add_multi_auto_search {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -174px -42px;
  height:24px;
  float:left;
  font-size:11px;
  border:0;
  line-height:28px;
  outline:none;
  padding-left:6px
}
#admin-data-grid .prereq-grid-wrapper .admin_add_multi_auto_search {
  background-position:-174px -42px;
  padding-left:4px
}
#admin-add-questions-survey-assessment .admin_add_multi_auto_search .ac_input,
#admin-add-course-training-plan .admin_add_multi_auto_search .ac_input,
#admin-commerce-country-setting-plan .admin_add_multi_auto_search .ac_input,
#admin-data-grid .admin_add_multi_auto_search .ac_input {
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  height:22px;
  line-height:24px;
  padding:0 20px 0 0;
  margin:0;
  float:left;
  font-size:13px;
  background-position:99% 5px
}
#admin-add-questions-survey-assessment .admin_add_multi_auto_search input.ac_loading,
#admin-add-course-training-plan .admin_add_multi_auto_search input.ac_loading,
#admin-commerce-country-setting-plan .admin_add_multi_auto_search input.ac_loading,
#admin-data-grid .admin_add_multi_auto_search input.ac_loading {
  background-position:99% -15px
}
#admin-add-questions-survey-assessment .admin-pagination-search-go,
#admin-add-course-training-plan .admin-pagination-search-go,
#admin-commerce-country-setting-plan .admin-pagination-search-go,
#admin-data-grid .admin-pagination-search-go {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -159px -277px;
  border:0;
  cursor:pointer;
  display:block;
  height:24px;
  outline:none;
  text-decoration:none;
  width:20px
}
#admin-add-questions-survey-assessment .admin-pagination-action-link,
#admin-add-course-training-plan .admin-pagination-action-link,
#admin-commerce-country-setting-plan .admin-pagination-action-link,
#admin-data-grid .admin-pagination-action-link {
  background-position:0 10px;
  height:29px
}
#admin-datagrid-session-with-addanother .admin-pagination-action-link,
#admin-add-course-training-plan .admin-pagination-action-link,
#admin-commerce-country-setting-plan .admin-pagination-action-link,
#admin-data-grid .admin-pagination-action-link {
  background-position:0 10px;
  height:30px
}
#admin-data-grid .datagrid-type-content .admin-pagination-action-link {
  background-position:0 8px;
  height:29px;
  margin-left:3px
}
#admin-add-questions-survey-assessment .ui-jqgrid .ui-pg-button,
#admin-add-course-training-plan .ui-jqgrid .ui-pg-button,
#admin-commerce-country-setting-plan .ui-jqgrid .ui-pg-button,
#admin-data-grid .ui-jqgrid .ui-pg-button {
  height:29px
}
#admin-add-questions-survey-assessment .ui-jqgrid .ui-jqgrid-toppager,
#admin-add-course-training-plan .ui-jqgrid .ui-jqgrid-toppager,
#admin-commerce-country-setting-plan .ui-jqgrid .ui-jqgrid-toppager,
#admin-data-grid .ui-jqgrid .ui-jqgrid-toppager {
  height:29px
}
#admin-add-questions-survey-assessment .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  padding-left:3px
}
#admin-course-class-list-pagination-wrapper {
  padding:5px;
  position:relative
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-hdiv {
  border:0;
  background:none
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-bdiv {
  border:0;
  margin-bottom:0
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-btable {
  table-layout:inherit
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr {
  border:0
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover {
  background:none
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager {
  background:#FFF;
  border:0
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-hdiv {
  display:none
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pg-table {
  position:absolute;
  right:5px;
  top:1px
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control > .ui-pg-table {
  position:static
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table {
  display:block
}
#admin-course-class-list-pagination-wrapper .pager-datagrid-common,
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-first,
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-end,
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table  #data-table-page-view {
  display:none
}
#admin-course-class-list-pagination-wrapper .ui-pg-button {
  opacity:10;
  border:0;
  background:none
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-prev { 
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -91px -302px;
  border:0;
  height:20px;
  width:24px;
  opacity:8;
  margin-right:0;
  filter:Alpha(Opacity=100)
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button {
  opacity:8;
  background:none;
  border:0;
  filter:Alpha(Opacity=100)
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-seek-next {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -126px -302px;
  border:0;
  height:20px;
  opacity:8;
  padding-right:0;
  width:25px;
  filter:Alpha(Opacity=100)
}
#admin-course-class-list-pagination-wrapper .admin-save-button-container {
  margin-bottom:0;
  margin-right:3px
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-jqgrid-toppager {
  height:29px
}
#admin-course-class-list-pagination-wrapper .edit-class-list .admin-add-edit-button {
  margin-right:0;
  margin-top:0
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-pg-table td {
  line-height:27px
}
#admin-course-class-list-pagination-wrapper .edit-class-list-container {
  border-bottom:1px dotted #CCC;
  width:814px
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-pg-input {
  margin-left:5px
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid .ui-pg-table td span {
  margin-right:2px
}
#admin-course-class-list-pagination-wrapper .edit-class-list .narrow-search-results-item-title {
  padding-top:0;
  padding-left:0
}
#admin-course-class-list-pagination-wrapper .edit-class-list .edit-class-list-left .narrow-search-results-item-detail {
  margin-top:0
}
#admin-course-class-list-pagination-wrapper .edit-class-list {
  padding-left:10px;
  padding-top:3px;
  padding-bottom:3px;
  border:0
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .ui-pg-button span.ui-icon-refresh {
  display:none
}
#admin-data-grid .select-list-dropdown {
  height:24px;
  width:78px;
  text-align:center;
  font-size:12px;
  line-height:23px;
  color:#666;
  border:0;
  float:left;
  background:none;
  font-size:12px;
  padding:0
}
#admin-data-grid .select-list-dropdownContent {
  height:24px;
  width:78px;
  text-align:center;
  font-size:12px;
  line-height:23px;
  color:#666;
  border:0;
  float:left;
  background:none;
  font-size:12px;
  padding:0
}
#admin-data-grid .select-list-dropdown-link {
   background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -253px;
   cursor:pointer;
   float:left;
   height:24px;
   text-decoration:none;
   width:20px
}
#admin-data-grid #search-dropdwn-list {
   background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -4px -1527px;
   display:block;
   float:left;
   height:24px;
   width:98px
}
#admin-data-grid #select-list-dropdown-list {
   left:-5px;
   position:absolute;
   top:23px;
   z-index:100
}
#training-plan-enroll-form-html #admin-data-grid #select-list-dropdown-list {
  left:0
  }
#admin-data-grid #select-list-dropdown-list li {
   border-bottom:1px solid #CCC;
   color:#4686DD;
   cursor:pointer;
   font-size:12px;
   padding:2px 5px 5px;
   text-align:left;
   width:86px
}
#admin-data-grid #admin_list_values_container .admin_add_multi_auto_search {
  background:none;
  padding-left:0
}
#admin-data-grid #admin_list_values_container .admin_add_multi_auto_search .ac_input {
  padding-left:4px
}
.exportcontainer, .enrollment-upload-container-view {
  display:block;
  float:right;
  margin-top:-32px;
  /* width:36px; */	
  cursor:pointer;
  /* position:relative; */
  right:180px;
}
.enrollment-upload-container-view {
  margin-right: 46px;
}
.enrol-upload-browse-hid-view {
  position:absolute
}
.exportcontainer-page {
  cursor:pointer;
  display:block;
  float:right;
  top:3px;
  position:absolute;
  right:180px;
  min-width:20px;
  z-index:100
}
.enrollment-upload-container-view {
  cursor:pointer;
  display:block;
  float:right;
  margin-right: 25px;
  margin-top: 0;
  top:3px;
  position:absolute;
  /* right:180px; */
  min-width:20px;
  width: 20px;
  z-index:100;
}
.alter-margin-top {
  margin-top:-1px
}
#catalog-class-basic-addedit-form-container .admin-course-class-tab-datagrid-wrapper .exportcontainer-page,
#program-tp-basic-addedit-form-container .admin-training-program-tab-datagrid-wrapper .exportcontainer-page {
  right:183px
}
#catalog-class-basic-addedit-form-container .admin-course-class-tab-datagrid-wrapper .exportcontainer,
#program-tp-basic-addedit-form-container .admin-training-program-tab-datagrid-wrapper .exportcontainer {
  margin-top:-27px
}
.section-administration .catalog-course-basic-addedit-form-container .alter-margin-top .page-pipeline {
  top:-1px
}
.section-administration .catalog-course-basic-addedit-form-container .alter-margin-top.exportcontainer-page .page-pipeline,
.exportcontainer-page #page-pipe-upload.page-pipeline, .exportcontainer-page .page-pipeline {
  top: 2px
 }
.exportcontainer-page-pipe-delimter {
  height:auto;
  margin:0;
  display:block
}
.page-pipeline {
  color:#999;
  font-weight:normal;
  position:absolute;
  right:-2px;
  top:3px;
  z-index:1
}
.enrollments-exports-icon, .enrollments-upload-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -722px;
  height:22px;
  margin-top:1px;
  overflow:hidden;
  width:20px;
  display:block;
  cursor:pointer
}
#exportcontainer  .enrollments-upload-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -119px -641px;
}
#exportcontainer  .enrollments-upload-icon.disabled {
  opacity: 0.5;
}
.ui-jqgrid .datagrid-type-enrolltpuser .ui-jqgrid-htable th,
.ui-jqgrid .datagrid-type-enrolluser .ui-jqgrid-htable th {
  padding:0
}
#content_hints_markup .content-view-mode {
  color:#999;
  font-size:12px; 
  padding:4px
}
#admin-data-grid .prereq-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th,
#admin-data-grid .equv-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
  padding:0 2px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .ui-jqgrid-sortable {
  cursor:pointer;
  margin-left:0;
  line-height:23px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .admin-datagrid-session-with-addanother .ui-jqgrid-sortable {
   margin-left:1px
}
.admin-datagrid-pagination .datagrid-type-enrolluser .ui-jqgrid-hdiv .ui-jqgrid-htable th div.enroll-date-sortalign .s-ico{
  left:35px;
  top:4px;
  position:absolute
}
#admin-course-class-list-pagination-wrapper .ui-jqgrid-toppager .ui-pager-control .ui-pg-table .ui-pg-table .search-pagination-right {
  float:left;
  padding:3px 2px 0 0;
  font-size:12px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-sortable .checkbox-unselected,
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-sortable .checkbox-selected{
	margin-left:-4px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-unselected,
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-selected{
  margin-left:3px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-sortable{
	margin-left:3px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .content-grid-wrapper .ui-jqgrid-sortable input.multiselect-selectall {
  margin-left:2px
}
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-sortable input.multiselect-selectall{
	margin-left:0
}
#assess-hints-markup .assess-view-mode{
  color:#999;
  font-size:12px; 
  padding:4px
}
#admin-data-grid .content-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
	padding-left:0
}
#admin-data-grid .assess-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
  padding-left:2px
}
#admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
	padding-left:0
}
#admin-data-grid .enrolled-display-controller #admin-data-grid .enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td{
  padding-left:4px
}
#admin-data-grid .enrolltp-grid-wrapper .ui-jqgrid .ui-icon-asc {
  margin-top:-2px
}
#admin-data-grid .enrolltp-grid-wrapper .ui-jqgrid .ui-icon-desc {
  margin-top:2px
}
.jq-grid-no-padding {
  padding-top:3px;
  display:inline-block
}
#narrow-search-results-holder #bubble-face-table #program-tp-basic-addedit-form-container .ui-jqgrid tr.ui-row-ltr td{
  padding-left:0
}
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolluser-class-grid-wrapper .admin-save-button-container,
#program-tp-basic-addedit-form-container #admin-data-grid .enrolltp-grid-wrapper .admin-save-button-container{
 margin-bottom:0
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-htable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-htable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable {
  display: inline-table;
  table-layout: fixed;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td {
  margin: 0;
  padding: 0;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li {
  width: 80px;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li .enrolled-selection,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li .enrolled-selection,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li .enrolled-selection,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-btable td .enrolled-status li .enrolled-selection {
  float: right;
}
#catalog-class-basic-addedit-form-container .enrolled-display-controller .datagrid-type-enrolluser .ui-jqgrid-hdiv .ui-jqgrid-htable th,
#program-tp-basic-addedit-form-container .enrolled-display-controller .datagrid-type-enrolluser .ui-jqgrid-hdiv .ui-jqgrid-htable th {
  padding: 0;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable,
#program-tp-basic-addedit-form-container .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable  {
  display: inline-table;
  table-layout: fixed;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable th,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable td,
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolled-display-controller .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable tr.ui-jqgrid-labels th,
#catalog-class-basic-addedit-form-container #admin-data-grid .enrolled-display-controller .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  padding: 0;
  margin: 0;
}
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.content-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable th div,
#catalog-class-basic-addedit-form-container .admin-datagrid-pagination.enrolluser-class-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable th div {
  margin: 0;
  padding: 0;
}
#admin-data-grid .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable tr.ui-jqgrid-labels th,
#admin-data-grid .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable tr.ui-jqgrid-labels th div.ui-jqgrid-sortable,
#admin-data-grid .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td,
#admin-data-grid .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable tr.ui-jqgrid-labels th,
#admin-data-grid .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-hdiv .ui-jqgrid-htable tr.ui-jqgrid-labels th div.ui-jqgrid-sortable,
#admin-data-grid .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  margin: 0;
  padding: 0;
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(even) .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(even).ui-state-hover .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right 0;
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(odd) .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -60px;
}
.admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr:nth-child(odd).ui-state-hover .fade-out-image{
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -60px;
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
   #catalog-class-basic-addedit-form-container #admin-data-grid .ui-jqgrid-sortable {
	  margin-left:1px
    }
   #catalog-class-basic-addedit-form-container #admin-data-grid .admin-datagrid-session-with-addanother .ui-jqgrid-sortable {
      margin-left:-1px
   }
  .page-administration-learning .addedit-left-col .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-hover,
  .page-administration-learning .addedit-left-col .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th.ui-state-hover,
  .page-administration-learning .addedit-left-col .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-hbox .ui-jqgrid-labels th {
	 padding:0
  }
  #program-tp-basic-addedit-form-container #admin-data-grid .prereq-grid-wrapper .ui-jqgrid-sortable,
  #catalog-course-basic-addedit-form-container #admin-data-grid .prereq-grid-wrapper .ui-jqgrid-sortable,
  #catalog-course-basic-addedit-form-container #admin-data-grid .equv-grid-wrapper .ui-jqgrid-sortable {
     margin-left:0
  }
  #program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv,
  #catalog-course-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv,
  #catalog-class-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid .ui-jqgrid-hdiv {
    height:auto
  }
  #catalog-class-basic-addedit-form-container #admin-data-grid .content-grid-wrapper .ui-jqgrid-sortable input.multiselect-selectall{
    margin-left:6px
  }
  #catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .checkbox-unselected,
  #catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .checkbox-selected{
    margin-left:3px
  }
  #catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-htable,
  #catalog-class-basic-addedit-form-container .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-btable {
    display: inline-table;
    table-layout: fixed;
  }
  #catalog-class-basic-addedit-form-container #admin-data-grid .admin-datagrid-pagination.survey-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable,
  #catalog-class-basic-addedit-form-container #admin-data-grid .admin-datagrid-pagination.assess-attach-grid-wrapper .ui-jqgrid-htable th div.ui-jqgrid-sortable {
    margin: 0;
    padding: 0;
  }
 #catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-unselected,
 #catalog-class-basic-addedit-form-container #admin-data-grid .survey-attach-grid-wrapper .ui-jqgrid-bdiv .ui-jqgrid-btable tr td .checkbox-selected{
   margin-left:4px
 }
}
/*safar hack*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media { _:-webkit-full-screen,
       #admin-commerce-country-setting-plan .ui-jqgrid .ui-jqgrid-toppager{
	    min-width: 470px;
	    max-width:470px
       }
       #admin-commerce-country-setting-plan .ui-jqgrid-toppager .ui-pg-table{
        right:-6px
      }
 }}
.exportcontainer .enrollments-upload-icon, .exportcontainer .enrollments-exports-icon,
.exportcontainer #page-pipe-upload.page-pipeline, .exportcontainer .page-pipeline,
.exportcontainer-page .enrollments-upload-icon, .exportcontainer-page .enrollments-exports-icon,
.exportcontainer-page #page-pipe-upload.page-pipeline, .exportcontainer-page .page-pipeline {
  float: left;
  position: relative;
}
.exportcontainer .enrollments-upload-icon, .exportcontainer .enrollments-exports-icon,
.exportcontainer-page .enrollments-upload-icon, .exportcontainer-page .enrollments-exports-icon {
  cursor: pointer;
}
#exportcontainer.exportcontainer-page, #exportcontainer.exportcontainer {
  width: auto;
  margin-top: -26px;
}
#exportcontainer.exportcontainer-page {
  margin-top: 0;
}

.exportcontainer #page-pipe-upload, .exportcontainer-page #page-pipe-upload {
  width: 8px;
}
.section-administration .catalog-course-basic-addedit-form-container .alter-margin-top .exportcontainer-page #page-pipe-upload.page-pipeline,
.exportcontainer-page #page-pipe-upload.page-pipeline, .exportcontainer-page .page-pipeline {
  top: 2px;
}