#program_roster_container{
  overflow-x: hidden;
  font-size:12px;
}

#program-roster-result-container{
  width: 726px;
  margin-left: 1px;
}
#program-roster-form span{
  width: 346px;
  float: left;
  height: 30px;
  margin-left: 5px;  
}

#program-roster-form label{
 width : 130px;
 font-weight: normal;
 float: left;
 margin-top: 4px;
}
#program-roster-form select{
  width : 155px;
}

#program_roster_container .center-align{
  text-align: center;
  width: 700px
}

.program-label-div{
  font-weight: BOLD;
  color: #666666;
  padding: 4px 0px;
}

#program-roster-form-id{
  border: 1px solid #CCCCCC;
  height: 90px;
  padding: 10px;
  width: 715px;
  margin-top: 4px;
  padding-top:15px;
}

.roster-status{
  display: none;
  margin-bottom: 15px;
}

.roster-status table{
  border-bottom: 1px solid #ccc;
}

.roster-status tr{
  border: 1px solid #ccc;
  border-bottom: 0 none;
}

.roster-status td{
  width: 200px;
  height: 30px;
  padding-left:10px;
}

#program-roster-form .admin-save-button-container{
   margin:0px 5px 10px 10px;
}

#program-roster-form img{
  padding-left: 3px;
}

#program-roster-form .addedit-form-cancel-container-actions{
   margin-top:5px;
}


.roster-status .header td{
  padding-left:10px;
  background: #EFEFEF;
  font-size: 13px;
  color: #666666;
  font-weight: BOLD;
}

#program_roster_container #roster-noresult-msg{
  width: 400px;
  padding: 5px 10px;
  text-align: center;
  font-size:12px;
  display: none;
  /*border:  1px solid #ccc;*/
  width:  715px;
  /*background: #dbeefa;*/  
  color: #999;
}

#gview_program-roster-result-container thead{
  background-color: #FFF;
  height: 30px;;
}

#gview_program-roster-result-container .ui-state-default {
  background: #EFEFEF;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  border-bottom:0 none;
  padding: 5px 0px 4px 3px;
  text-align: left;
  font-size: 13px;
  color: #666666;
}

#gview_program-roster-result-container tr.ui-state-hover {
  border: 0 none;
  background: #dbeefa;
}

#gview_program-roster-result-container  .ui-state-highlight {
  border:0 none;
  background:none;
}

#gview_program-roster-result-container tr.jqgrow td {
  padding: 8px 0px 8px 4px;
  white-space: normal;
  font-size: 12px;
  border: 0 none;
}

#gview_program-roster-result-container .ui-widget-content a {
  text-decoration: none;
  display:block;
}

#gview_program-roster-result-container .jqgrow a {
  text-decoration: none;
}

#gview_program-roster-result-container .ui-jqgrid-bdiv{
  overflow: hidden;
  width:726px; 
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-top:0px solid #cccccc;
  border-bottom:0px solid #cccccc;
}
.admin-roster-wrapper .ui-jqgrid-btable tr.jqgrow {
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  border-left:0px solid #cccccc;
  border-right:0px solid #cccccc;
  color:#333333;
}
#gview_program-roster-result-container .ui-jqgrid-hdiv{
  border: 1px solid #ccc;
  border-bottom: 0 none;
}
#gbox_program-roster-result-container #pager-roster{
  padding-top: 6px;
  width:728px;
}

#cb_program-roster-result-container{
  display: none;
}
/* Pagination */
#pager-roster {
  background: 0 none;
  font-size: 13px;
  color: #666666;
  position: relative;
  font-size: 12px;
  font-family: helvetica neue, arial;
}

#pager-roster #pager_right {
  position: absolute;
  left: 20px;
}

/* Pager Override */
#pager-roster { position:relative; }
#pager-roster_center {
  width:100%;
/*	float:right; */
}
#pager-roster_center .ui-pg-table {
  float:right;
  position:static;
}

#pager-roster_left,
#pager-roster_right,
#first_pager-roster,
#last_pager-roster { 
  display:none;
}
#next_pager-roster span,
#prev_pager-roster span { background: none;}
#prev_pager-roster {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -91px -302px;
  width:24px;
  height:18px;
  border:0 none;
  opacity:8;
  filter:Alpha(Opacity=100);
}
#next_pager-roster {
  background: url(/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png) no-repeat -126px -302px;
  width:22px;
  height:18px;
  padding-right:8px;
  border:0 none;
  opacity:8;
  filter:Alpha(Opacity=100);
}
#program-roster-form .ui-datepicker-trigger {
  cursor: pointer;
  left: 260px;
  position: absolute;
  top: 5px;  
}
.admin-roster-wrapper .count-statistics {
  padding:5px 0 9px 0;
}
#gview_program-roster-result-container tr.ui-search-toolbar {
  border:1px solid #eeeeee;
}
#program-roster-result-container tr.jqgfirstrow td {
  border:0px solid #ffffff;
}
div#gview_program-roster-result-container tr.ui-search-toolbar input{
  margin:0px;
  border:1px solid #cccccc;
  height:18px;		 
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .top-record-div-left .detail-desc span.vtip {
  float:left
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-title-fadeout-container {
  max-width:570px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-code-fadeout-container {
  max-width:300px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-author-fadeout-container {
  max-width:80px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-tags-fadeout-container {
  max-width:570px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-surveyname-fadeout-container {
  max-width:570px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-assessinfo-fadeout-container {
  max-width:400px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .view-enrollment-popup tr.ui-state-hover .fade-out-image {
  background: url("/sites/all/themes/core/expertusone/expertusone-internals/images/title_gradient.png") no-repeat right -60px;
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .view-enrollment-popup tr:nth-child(odd) .fade-out-image{
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/title_gradient.png") no-repeat right -60px;
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .view-enrollment-popup .admin-learning-masterenrollments-result-for-view-fullname-fadeout-container {
  max-width:115px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .view-enrollment-popup .admin-learning-masterenrollments-result-for-view-username-fadeout-container {
  max-width:110px	
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-detail-course-title-fadeout-container {
  max-width:300px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-detail-course-code-fadeout-container {
  max-width:105px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-tpview-detail-module-title-fadeout-container {
  max-width:120px
}
.page-administration-learning-program #exp-sp-administration-view-tpdetails-addedit-form .admin-narrow-search-courseview-catalog-author-title-fadeout-container {
  max-width:100px
}
