#program-addedit-form .addedit-twocol-firstcol .addedit-edit-author_vendor,
#program-addedit-form .addedit-new-field-two-col .addedit-edit-code {
  width:145px;
  font-size:13px;
  height:16px
}
#program-addedit-form .addedit-new-field-two-col .addedit-edit-object_type {
  width:113px
}
#program-addedit-form .addedit-twocol-firstcol .addedit-edit-enforce_sequence {
  width:113px;
  height:22px;
  margin-right:1px
}
#program-addedit-form .addedit-new-field-two-col .narrow-search-filterset-daterange-empty {
  width:126px;
  font-size:11px;
  height:17px
}
#program-addedit-form .addedit-new-datefield-value .narrow-search-filterset-daterange-empty {
  font-size:11px
}
#program-addedit-form .addedit-edit-datefield {
  width:130px
}
#program-course-testing-from-addedit-form .add-class-button {
  text-align:right
}
#exp-sp-administration-catalog-access-addedit-form .addedit-right-col .addedit-action-button .addedit-form-cancel-and-save-actions-row,
#exp-sp-administration-catalog-access-addedit-form .addedit-right-col .addedit-action-button .addedit-form-cancel-and-save-actions-row .admin-save-button-container,
#exp-sp-administration-catalog-access-addedit-form .addedit-right-col .addedit-action-button,
#exp-sp-administration-mro-role-access-addedit-form .addedit-right-col .addedit-action-button .addedit-form-cancel-and-save-actions-row,
#exp-sp-administration-mro-role-access-addedit-form .addedit-right-col .addedit-action-button .addedit-form-cancel-and-save-actions-row .admin-save-button-container,
#exp-sp-administration-mro-role-access-addedit-form .addedit-right-col .addedit-action-button {
  margin:0 4px 0 0
}
div#program-addedit-form + div.addedit-addl-form-title {
  position:relative;
  clear:both
}
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .addedit-twocol-secondcol .addedit-new-field-title {
  width:109px;
  padding-right:14px;
  text-align:right
}
#program-tp-basic-addedit-form-disp .last-li input.form-submit {
  border:none
}
#add-course-form-details .courses-details-row .tp-course-name-label {
  font-size:12px;
  margin:5px 5px 0 0
}
#add-course-form-details .courses-details-row .tp-course-name-label,
#add-course-form-details .courses-details-row .form-type-textfield {
  float:left
}
#add-course-form-details .courses-details-row .form-type-textfield input {
  width:270px
}
#add-course-form-details .courses-details-row td.tp-course-name-label {
  width:100px;
  text-align:right
}
#view-tp-list-wrapper #add-course-form-details {
  border-bottom:1px dotted #ccc
}
#showform .courses-details-row .form-type-textfield label {
  display:block;
  position:relative
}
#program-tp-basic-addedit-form-container .view-mode-field-value-txt {
  color:#333;
  word-wrap: break-word
}
.addedit-new-field-traninig-program-expires {
  clear:both;
  text-align:right
}
.admin-trp-delivery-data-part {
  display:none
}
.addedit-secondcol-field-date-picker {
  position:relative
}
#program-trainingplan-addedit-form-details .nonlist {
  padding:20px 0 30px
}
#program-tp-basic-addedit-form-container .second-col-container-view .form-type-item label {
  padding-right:12px;
  text-align:right;
  width:144px
}
#program-tp-basic-addedit-form-disp #program-tp-basic-addedit-form-container .two-column-container-view .tp-view-mode label {
  width:151px
}
.attachcourse-table-heading {
  background:none;
  height:26px
}
.edit-attachcourse-list {
  font-size:13px;
  padding:10px 10px 0 15px
}
#program-trainingplan-addedit-form-details .dragndrop-selectable-item {
  cursor:move;
  padding-right:12px;
  margin-top:2px;
  padding-left:5px
}
#program-trainingplan-addedit-form-details ul {
  padding:0;
  margin:0
}
#program-trainingplan-addedit-form-details li {
  list-style-type:none
}
.attachedcourse-list-name {
  color:#2d2d2d;
  font-size:13px;
  text-decoration:none
}
.attachedcourse-list-name-italic {
  color:#666;
  font-size:12px;
  font-style:italic;
  text-decoration:none
}
.attachedcourse-edit-txtbox {
  border:1px dashed #4686DD;
  color:#333;
  font-size:13px;
  font-weight:normal;
  text-decoration:none;
  height:25px
}
#mandatory-list ul {
  padding:0;
  margin:0
}
#mandatory-list li {
  float:right;
  list-style-type:none;
  margin:0;
  text-align:left;
  cursor:default
}
.selected-list {
  background-color:#CCC
}
#mandatory-list .man-opt ul {
  list-style-type:none
}
#mandatory-list .man-opt li {
  position:relative;
  text-align:right;
  font-size:13px
}
#mandatory-list .man-opt-selection {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/layoutBg.gif") no-repeat 0 -1491px;
  color:#FF7924;
  display:inline-block;
  height:13px;
  text-decoration:none;
  width:10px;
  margin-left:2px;
  cursor:pointer
}
#program-trainingplan-addedit-form-details .form-item {
  margin:0
}
.attach-course-delete {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/close.png") no-repeat 0 0;
  cursor:pointer;
  text-align:center;
  margin-left:20px;
  margin-top:5px
}
#attach_course_dt .add-attachcourse-button {
  right:12px;
  margin-top:-28px;
  position:absolute
}
#attach_course_dt {
  position:relative
}
#program-addedit-form .addedit-left-col {
  padding:10px 0 0 17px
}
#program-addedit-form #tp-custom-fields {
  padding-bottom:5px
}
#program-addedit-form .add-scroll-button-description {
  height:auto;
  overflow:hidden;
  width:340px
}
#program-tp-basic-addedit-form-disp .crs-tab-titles-container-view {
  padding-top:25px
}
#program-addedit-form .addedit-form .class-fee-textfield,
#two-col-row-type_expireComp .form-text {
  margin-right:6px;
  width:40px;
  padding:0;
  height:16px;
  margin-top:-2px
}
#program-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown {
  height:22px;
  margin-right:1px
}
#program-addedit-form .addedit-new-field-two-col .addedit-edit-dropdown.addedit-edit-lang_code {
  width:131px
}
#program-addedit-form .addedit-new-field-currency-type .addedit-new-field-currency-type-select {
  height:22px;
  top:-4px;
  right:2px;
  position:relative
}
#program-addedit-form .addedit-edit-custom-label-field {
  height:16px
}
#program-addedit-form #two-col-row-type_expireComp .addedit-new-field-currency-type {
  margin-top:4px
}
#program-addedit-form .addedit-customfields-wrapper .addedit-new-field-value .addedit-edit-textarea {
  height:24px
}
#program-tp-basic-addedit-form-disp .admin-course-edit-button-container .admin-add-edit-button {
  margin:15px 70px 0 0
}
#program-addedit-form .addedit-left-col .addedit-new-field-value .input-field-grey {
  padding-top:2px
}
#program-addedit-form #two-col-row-author_type {
  width:548px
}
#program-addedit-form .addedit-form-main-container {
  margin-bottom:10px
}
#view-tp-list-wrapper .attach-crs-grp-title-note {
  color:#666;
  font:10px helvetica neue,helvetica,arial
}
#view-tp-list-wrapper {
  clear:both
}
#attach_crs_pg_txtfld {
  border:1px solid #ccc;
  height:15px;
  width:20px;
  text-align:center;
  margin-left:3px;
  font-size:13px
}
#attach_course_dt .admin-tp-auto-search-container {
  left:1px;
  margin:-26px 0 0 285px;
  position:absolute;
  z-index:99;
  width:45%
}
.admin_add_multi_tp_auto_search {
  border:0;
  float:left;
  font-size:11px;
  height:24px;
  line-height:28px;
  outline:0;
  padding-left:6px
}
.admin_add_multi_tp_auto_search .ac_input {
  background-position:99% 3px;
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  float:left;
  height:16px;
  margin:-11px 0 -10px -16px
}
.admin_add_multi_tp_auto_search .ac_loading {
  background-position:99% -17px
}
.admin-tp-auto-search-container .admin-pagination-tp-search-go {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -114px -183px;
  border:0;
  cursor:pointer;
  display:block;
  height:20px;
  outline:0;
  text-decoration:none;
  width:20px
}
.admin-tp-auto-search-container .form-submit {
  border:0
}
#attach_course_dt .admin_ac_tp_input_mainform {
  background-color:#FFF;
  border:1px solid #ccc;
  border-width:1px 1px 1px 0;
  float:left;
  height:16px;
  outline:0;
  width:233px;
  padding-right:19px
}
#attach_course_dt #search-list-course-title-keyword ul {
  list-style-type:none;
  padding:0;
  border:1px solid #ccc;
  background:#fff
}
#attach_course_dt  #search-dropdwn-list-course {
  width:73px;
  height:20px;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 0 -278px;
  display:block;
  float:left
}
#attach_course_dt .select-list-dropdown-course {
  height:10px;
  width:34px;
  font-size:12px;
  color:#666;
  border:0;
  float:left;
  background:none;
  padding:3px 2px 0 8px;
  font-size:12px
}
#attach_course_dt .select-list-course-dropdown-link {
  text-decoration:none;
  width:20px;
  height:20px;
  float:left;
  cursor:pointer;
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat 1px -255px
}
#attach_course_dt  #select-list-course-dropdown-list {
  display:none;
  position:absolute;
  top:20px;
  left:-3px;
  z-index:100
}
#attach_course_dt  #select-list-course-dropdown-list  li {
  width:49px;
  display;block;
  border-bottom:1px solid #ccc;
  cursor:pointer;
  font-size:12px;
  color:#4686DD;
  padding:2px 5px 5px
}
#program-tp-basic-addedit-form-container #admin_list_values_container .catalog-pub-add-list {
  right:16px;
  top:36px
}
#program-tp-basic-addedit-form-container .enroll-date-input-txtBox {
  width:88px
}
#program-tp-basic-addedit-form-container input.enroll-date-input-txtBox + img {
  position:absolute;
  right:50px;
  margin-top:6px
}
#program-tp-basic-addedit-form-disp .addedit-new-field-two-col .addedit-edit-textfield {
  width:107px
}
#program-addedit-form .addedit-new-field-currency-type {
  height:17px
}
#program-tp-basic-addedit-form-container .admin-datagrid-save-cancel-button-align-bottom .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-container-actions {
  margin-right:19px
}
.odd-even-row-highlighter {
  background:#F7F7F7
}
#program-addedit-form .addedit-tpadmin-expires-in-value-field,
#program-addedit-form .addedit-tpadmin-expires-in-unit-field,
#program-addedit-form .addedit-tpadmin-price-field,
#program-addedit-form .addedit-tpadmin-currency-field {
  float:left
}
#program-addedit-form .addedit-tpadmin-expires-in-value-field .addedit-edit-expires-in-value,
#program-addedit-form .addedit-tpadmin-price-field .addedit-tpadmin-price-textfield {
  height:19px;
  margin:0;
  padding:0;
  width:50px
}
#program-addedit-form .addedit-tpadmin-expires-in-unit-field .addedit-edit-expires-in-unit,
#program-addedit-form .addedit-tpadmin-currency-field .addedit-tpadmin-currency-select {
  margin-left:13px;
  width:67px;
  height:22px;
  right:2px
}
#program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td {
  line-height:20px;
  vertical-align:top
}
#program-tp-basic-addedit-form-container .admin-datagrid-pagination .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-row-ltr td ul.enrolled-status {
  margin-top:5px
}
#program-tp-basic-addedit-form-container .assess-attach-grid-wrapper .enrolled-status ul.sub-menu {
  margin-top:-3px;
  right:73px
}
#program-tp-basic-addedit-form-container .assess-attach-grid-wrapper .enrolled-status ul.sub-menu li,
#program-tp-basic-addedit-form-container .survey-attach-grid-wrapper .enrolled-status ul.sub-menu li {
  text-align:center
}
.ui-sortable-helper,
.ui-sortable-helper table {
  height:25px;
  width:840px;
  position:relative
}
.ui-sortable-helper table {
  background:#DFDFDF;
  color:#2D2D2D
}
#program-tp-basic-addedit-form-container .addedit-form-cancel-and-save-actions-row .completion_container_roster .addedit-form-cancel-container-actions {
  margin:5px 20px 0 0
}
.page-administration-learning-program .exportcontainer-page-pipe-delimter {
  border-left:0
}
#admin-add-course-training-plan .admin-datagrid-pagination .ui-pg-button {
  padding:0
}
#bubble-face-table #program-tp-basic-addedit-form-container .ui-jqgrid-hbox input.multiselect-selectall {
  margin-left:0
}
#program-tp-basic-addedit-form-container #admin-data-grid .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div.checkbox-unselected,
#program-tp-basic-addedit-form-container #admin-data-grid .admin-datagrid-pagination .ui-jqgrid-hdiv .ui-jqgrid-htable th div.checkbox-selected{
  padding-left:0;
  margin-left:0
}
#admin-add-course-training-plan .admin_add_multi_search_container .admin_add_multi_auto_search .form-item-tpattachcourse-autocomplete .addedit-edit-tpattachcourse-autocomplete {
  font-size:12px
}
#admin-trp-delivery-data-part .addedit-secondcol-field-date-picker .form-item input.error.addedit-datepicker-added {
  padding:2px 0;
  height:17px;
  font-size:13px
}
#program-tp-basic-addedit-form-container #admin-data-grid .ui-jqgrid .ui-pg-table td.search-pagination-right {
  padding-right:3px;
  padding-left:0
}
#program-tp-basic-addedit-form-container #admin-data-grid .ui-jqgrid-sortable{
  margin-left:1px
}
.page-administration-learning-program .narrow-search-results-item-details .fade-out-title-container {
  max-width:500px
}
.page-administration-learning-program .fade-out-title-container.admin-narrow-search-code-fadeout-container {
  display:inline-block;
  top:4px;
  max-width:90px
}
.page-administration-learning-program #program-trainingplan-addedit-form-details .exp-sp-admin-pgm-code-fadeout-container {
  max-width:120px
}
.page-administration-learning-program #program-trainingplan-addedit-form-details .exp-sp-admin-pgm-title-fadeout-container {
  max-width:250px
}

.page-administration-learning-program #program-trainingplan-addedit-form-details .exp-sp-admin-pgm-fullmodtitle-fadeout-container {
  max-width:120px
}
.page-administration-learning-program .survey-attach-grid-wrapper .multi-grid-survey-view-title-fadeout-container {
  max-width:315px	
}
.page-administration-learning-program .survey-attach-grid-wrapper .multi-grid-survey-view-code-fadeout-container {
  max-width:105px	
}
.page-administration-learning-program .assess-attach-grid-wrapper .multi-grid-assessment-view-title-fadeout-container {
  max-width:145px
}
.page-administration-learning-program .assess-attach-grid-wrapper .multi-grid-assessment-view-code-fadeout-container {
  max-width:100px
}
.page-administration-learning-program .prereq-grid-wrapper .multi-grid-perrequisite-title-fadeout-container {
  max-width:315px
}
.page-administration-learning-program .prereq-grid-wrapper .multi-grid-perrequisite-code-fadeout-container {
  max-width:105px	
}
.fade-out-title-container.multi-grid-survey-edit-code-fadeout-container{
  max-width:130px	
}
.fade-out-title-container.multi-grid-assessment-edit-code-fadeout-container,
.fade-out-title-container.multi-grid-assessment-edit-title-fadeout-container{
  max-width:250px
}
.fade-out-title-container.narrow-search-type-fadeout-container{
  max-width:150px;
  top:3px;
  display:inline-block;
}
/*! Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #program-addedit-form .addedit-new-field-two-col .addedit-edit-end_date.narrow-search-filterset-daterange-empty {
    width:130px
  }
  .page-administration-learning-program .exportcontainer-page {
    top:3px;
    right:183px
  }
  #program-addedit-form .addedit-edit-datefield {
    width:130px
  }
  #program-addedit-form .addedit-new-field-two-col .addedit-edit-object_type {
    width:111px
  }
}

/*safar hack*/
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media { _:-webkit-full-screen,
      .fade-out-title-container.narrow-search-type-fadeout-container,
      .page-administration-learning-program .fade-out-title-container.admin-narrow-search-code-fadeout-container {
        top:0
      }
 }}