#webanalytics-admin-form .addedit-form-cancel-container-actions {
  margin-right:25px
}
#webanalytics-admin-form .admin-save-button-container {
  margin:1px 0 0
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value input.addedit-edit-textfield {
  width:225px;
  border:1px solid #7F9DB9;
  padding-left:4px;
  padding-top:2px;
  height:18px
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .addedit-edit-dropdown {
  width:231px;
  border:1px solid #7F9DB9;
  height:22px
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value textarea.addedit-edit-textarea {
  max-width:231px;
  min-width:231px;
  height:19px;
  padding-left:4px;
  line-height:11px;
  padding-top:2px;
  border:1px solid #7F9DB9
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .exp-googleanalytics-roles-error {
  border:1px solid #fc4646
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .form-type-select .ui-multiselect {
  background:none;
  border:1px solid #7F9DB9;
  border-radius:0;
  color:#333;
  height:22px;
  padding-left:2px;
  font-size:12px;
  font-weight:normal
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .form-type-select .ui-multiselect .ui-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -116px 1px;
  height:12px;
  margin-right:4px;
  width:12px
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .exp-googleanalytics-roles-error .ui-multiselect {
  border:none
}
#webanalytics-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-title {
  width:135px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .addedit-edit-pwdpolicy-name {
  border:1px solid #7F9DB9;
  height:18px;
  padding-left:4px;
  padding-top:2px;
  width:414px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-value .form-item-pwdpolicy-description-value {
  width:420px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .addedit-edit-textfield {
  width:140px;
  border:1px solid #7F9DB9;
  height:18px;
  padding-left:4px;
  padding-top:2px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .has-suffix .addedit-firstcol-field-value-suffix {
  float:left;
  padding:5px 0 0 5px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col {
  width:550px
}
#pwdpolicy-admin-form .addedit-form-cancel-container-actions {
  margin-right:25px;
  margin-top:10px
}
#pwdpolicy-admin-form .crs-tab-titles-container {
  margin-left:145px;
  margin-top:-50px
}
#pwdpolicy-admin-form .crs-tab-titles-container .add-pwdstrength-tab-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -139px -537px;
  height:20px;
  width:20px
}
#pwdpolicy-admin-form .crs-tab-titles-container .tab-title {
  color:#4686DD;
  cursor:pointer;
  font-size:11px;
  font-weight:bold;
  line-height:26px;
  text-decoration:none
}
#pwdpolicy-admin-form .addedit-form-cancel-and-save-actions-row {
  margin-top:0
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .exp-pwdpolicy-roles-error {
  border:1px solid #fc4646
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .form-type-select .ui-multiselect {
  background:none;
  border:1px solid #7F9DB9;
  color:#333333;
  font-size:12px;
  font-weight:normal;
  height:22px;
  padding-left:2px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .form-type-select .ui-multiselect .ui-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -116px 1px;
  height:12px;
  margin-right:1px;
  width:12px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .exp-pwdpolicy-roles-error .ui-multiselect {
  border:none
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field-two-col .pwdpolicy-help-text {
  font-size:9px
}
#pwdpolicy-admin-form .addedit-left-col #two-col-row-pwdpolicy-warning-empty {
  margin-top:-10px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field .addedit-new-field-title {
  width:124px
}
#pwdpolicy-admin-form .addedit-left-col .addedit-new-field .addedit-twocol-secondcol .addedit-new-field-title {
  width:103px
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields {
  height:175px
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields .addedit-new-field-title-hint {
  font-size:9px;
  color:#666666;
  position:absolute;
  margin-top:-3px
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields .addedit-edit-textfield {
  width:50px
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields .addedit-new-field-title {
  width:347px;
  display:block;
  float:none;
  padding:0
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields .addedit-new-field-title-wrapper {
  display:inline;
  float:left;
  padding:6px 5px 11px 0;
  position:relative
}
#pwdstrength-admin-form .addedit-left-col .pwdstrength-admin-form-fields .addedit-edit-pwdstrength-username {
  margin-left:20px;
  height:18px
}
#pwdstrength-admin-form .addedit-form-cancel-container-actions {
  margin-right:27px;
  margin-top:20px
}
#pwdpolicy-admin-form .crs-tab-titles-container .pwdstrength-admin-popup #bubble-face-table #show_expertus_message {
  margin-left:10px
}
#pwdpolicy-admin-form .crs-tab-titles-container .pwdstrength-admin-popup .qtip-close-button {
  right:0
}
#pwdpolicy-admin-form .crs-tab-titles-container .tab-title-disabled {
  color:#999;
  font-size:11px;
  font-weight:bold;
  line-height:26px;
  text-decoration:none
}
.password-policy-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -55px -1907px;
  height:46px;
  margin-top:10px;
  width:50px
}
.web-analytics-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -110px -1907px;
  height:46px;
  margin-top:10px;
  width:50px
}
.ldap-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -121px -1959px;
  height:46px;
  margin-top:10px;
  width:50px
}
.userpoint-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -1959px;
  height:46px;
  margin-top:10px;
  width:50px
}
.commerce-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -9px -2271px;
  height:46px;
  margin-top:10px;
  width:50px
}
.rating-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -9px -2323px;
  height:46px;
  margin-top:10px;
  width:50px
}
.chat-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -2271px;
  height:46px;
  margin-top:10px;
  width:50px
}
.audit-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -2219px;
  height:46px;
  margin-top:10px;
  width:50px
}
.esign-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -65px -2323px;
  height:46px;
  margin-top:10px;
  width:50px
}
#ldap-basic-addedit-form #edit-status {
  width:150px
}
#ldap-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  width:142px
}
#ldap-basic-addedit-form .addedit-twocol-secondcol {
  float:right;
  padding-right:12px
}
#ldap-basic-addedit-form .addedit-twocol-secondcol .addedit-new-field-title {
  width:125px
}
#ldap-basic-addedit-form .addedit-new-field .addedit-new-field-title {
  padding:2px 5px 2px 0px;
  line-height:23px
}
#ldap-basic-addedit-form  .addedit-twocol-firstcol .addedit-new-field-title,
#ldap-basic-addedit-form  .addedit-twocol-secondcol .addedit-new-field-title {
  text-align:left;
  line-height:20px
}
#ldap-basic-addedit-form .addedit-new-field .addedit-new-field-value,
#ldap-basic-addedit-form .addedit-secondcol-field-value,
#ldap-basic-addedit-form .addedit-firstcol-field-value {
  padding:1px 0
}
#ldap-basic-addedit-form .addedit-pwd-fields-set-lcol {
  width:auto
}
#ldap-basic-addedit-form textarea.addedit-edit-textarea {
  width:506px;
  border:1px solid #7F9DB9
}
#ldap-basic-addedit-form input.addedit-edit-textfield {
  width:529px;
  border:1px solid #7F9DB9;
  height:18px;
  padding:0
}
#ldap-basic-addedit-form textarea.addedit-edit-textarea {
  height:24px;
  line-height:18px
}
#ldap-basic-addedit-form  .addedit-form-cancel-container-actions {
  margin-right:23px
}
#ldap-basic-addedit-form .addedit-new-field {
  clear:both;
  width:690px;
  float:none
}
#ldap-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-ac-textfield {
  width:188px;
  background-position:100% 3px;
  height:18px;
  padding:0
}
#ldap-basic-addedit-form .addedit-new-field-two-col input.ac_loading {
  background-position:100% -18px
}
#ldap-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-textfield {
  width:188px;
  margin:0;
  padding:0;
  height:18px;
  border:1px solid #7F9DB9
}
#ldap-basic-addedit-form .addedit-new-field-two-col input.addedit-edit-dropdown {
  width:188px;
  margin:0;
  padding:0;
  height:18px
}
#ldap-basic-addedit-form .form-type-select select {
  height:22px
}
#ldap-basic-addedit-form .separator {
  border-bottom:1px dotted #CCC;
  margin:8px 20px 8px 0
}
#ldap-basic-addedit-form .addedit-edit-dropdown {
  width:190px;
  border:1px solid #7F9DB9
}
#ldap-basic-addedit-form .addedit-form-cancel-and-save-actions-row {
  margin-top:15px;
  float:left;
  margin-bottom:15px
}
#ldap-basic-addedit-form .addedit-form-cancel-and-save-actions-row .addedit-form-cancel-and-save-actions {
  margin-right:45px
}
#ldap-basic-addedit-form .addedit-form-cancel-and-save-actions .addedit-edit-cancel {
  margin-right:10px
}
#ldap-basic-addedit-form .addedit-form-cancel-and-save-actions {
  margin-right:41px
}
#ldap-basic-addedit-form .addedit-edit-cancel {
  margin-right:10px
}
#ldap-basic-addedit-form .addedit-form-cancel-container-actions {
  float:right
}
#ldap-basic-addedit-form .admin-save-button-container {
  margin-bottom:0
}
#ldap-basic-addedit-form .addedit-left-col {
  padding:15px 0 15px 17px;
  width:98.8%
}
#ldap-basic-addedit-form .form-item textarea.error, #ldap-basic-addedit-form .form-item input.error {
  border:2px solid red
}
#ldap-basic-addedit-form .admin-save-button-container {
  padding-left:8px;
  margin-left:0
}
.enable-configure-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -339px -185px;
  height:20px;
  width:20px
}
.disable-configure-icon {
  background:url("/sites/all/themes/core/expertusoneV2/expertusone-internals/images/ExpertusIcons_v2.png") no-repeat -339px -185px;
  height:20px;
  width:20px
}
.saml-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -9px -1959px;
  height:46px;
  margin-top:10px;
  width:50px
}
.adfs-admin-icon {
  background:url("/sites/all/themes/core/expertusone/expertusone-internals/images/ExpertusIcons.png") no-repeat -9px -2011px;
  height:46px;
  margin-top:10px;
  width:50px
}
#saml-basic-addedit-form .addedit-new-field-title {
  padding:0 5px 0 16px;
  height:23px;
  line-height:24px;
  width:225px
}
#saml-basic-addedit-form .addedit-new-field-value {
  height:23px;
  line-height:24px
}
#saml-basic-addedit-form .addedit-new-field {
  padding-bottom:5px
}
#saml-basic-addedit-form #edit-saml-e1-acs-url {
  width:326px;
  height:18px
}
#adfs-basic-addedit-form #edit-adfs-e1-prp-url {
  width:358px;
  height:18px
}
#saml-basic-addedit-form .addedit-edit-dropdown {
  width:328px;
  height:24px;
  line-height:24px
}
#adfs-basic-addedit-form .addedit-edit-dropdown {
  width:360px
}
#saml-basic-addedit-form .addedit-form-cancel-container-actions {
  margin-right:17px
}
#saml-basic-addedit-form .addedit-form-cancel-container-actions  #edit-samlserver-cancel-button {
  margin-right:10px
}
#adfs-basic-addedit-form .addedit-new-field-title {
  padding:10px 5px 4px 16px;
  width:175px
}
#adfs-basic-addedit-form .addedit-form-cancel-container-actions {
  margin-right:18px
}
#adfs-basic-addedit-form .addedit-form-cancel-container-actions  #edit-adfsserver-cancel-button {
  margin-right:13px
}
.page-administration-sitesetup-moduleinfo .narrow-search-results-item-description {
  margin-right:14px
}
.saml-edit-rows {
  padding-top:15px
}
#saml-basic-addedit-form .addedit-new-field-value input {
  width:322px;
  height:17px;
  line-height:17px
}
#adfs-basic-addedit-form .addedit-new-field-value input {
  width:354px
}
#pwdstrength-admin-form-fields .form-item-pwdstrength-username label {
  width:328px
}
.addedit-form-cancel-container-actions .admin-action-button-middle-bg{
	margin-right:8px
}
.fade-out-title-container.admin-narrow-search-fadeout-container{
  max-width:445px
}
/*!Chrome Fixes starts here */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #saml-basic-addedit-form #edit-saml-e1-acs-url {
    width:324px
  }
  #saml-basic-addedit-form .addedit-edit-dropdown {
    width:325px;
    height:22px;
    line-height:22px
  }
  #adfs-basic-addedit-form .addedit-edit-dropdown {
    width:357px
  }
  .adfs-edit-rows,
	.saml-edit-rows {
    padding-top:15px
  }
  #saml-basic-addedit-form .addedit-form-cancel-container-actions {
    margin-right:19px
  }
  #adfs-basic-addedit-form .addedit-form-cancel-container-actions {
    margin-right:20px
  }
  #adfs-basic-addedit-form #edit-adfs-e1-prp-url {
    width:355px
  }
  #pwdpolicy-admin-form .crs-tab-titles-container .tab-title {
    line-height:10px;
    height:10px;
    display:inline-block
  }
  #pwdpolicy-admin-form .crs-tab-titles-container .add-pwdstrength-tab-icon {
    margin-top:-5px
  }
}	